:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-ai-notice-indicator-root {
	width: 100%;
	height: 100%;
	color: var(--sapGroup_TitleTextColor);
	background: var(--sapTile_Background);
	box-shadow: var(--_ui5_ai_notice_indicator_box_shadow);
	border-radius: var(--_ui5_ai_notice_indicator_border-radius);
	border: var(--_ui5_ai_notice_indicator_border);
	overflow: hidden;
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	box-sizing: border-box;
}

.ui5-ai-notice-indicator-toggle {
	font-family: inherit;
	font-size: inherit;
}

.ui5-ai-notice-indicator-toggle ui5-icon {
    color: inherit; 
}

.ui5-ai-notice-indicator-inner {
	width: 30rem;
	height: auto;
	padding: 10px;
	background: var(--sapTile_Background);
	border: 1px solid var(--sapGroup_ContentBorderColor);
	border-radius: 8px;
	box-shadow: var(--_ui5_ai_notice_indicator_box_shadow);
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	color: var(--sapTextColor);
	box-sizing: border-box;
}

.ui5-ai-notice-indicator-title {
	font-weight: bold;
	font-size: 1rem;
	color: var(--sapGroup_TitleTextColor);
}

.ui5-ai-notice-indicator-description {
	font-size: 0.875rem;
	color: var(--sapTextColor);
	line-height: 1.4;
}

.ui5-ai-notice-indicator-footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 8px;
}
