:host {
	display: inline-block;
	height: 100%;
}

.ui5-ai-button-text {
	display: inline-block;
}

:host([icon-only]) .ui5-ai-button-text {
	min-width: 0;
	margin-inline-start: 0;
}

.ui5-ai-button-hidden {
	position: absolute;
	top: -10000px;
	left: -10000px;
	visibility: hidden;
	display: block;
}

/* Animated parts */

:host [ui5-button] {
	width: auto;
	position: relative;
	transition: width 0.18s cubic-bezier(0.67, 1, 0.95, 1.3) 0.12s;
}

:host ::part(icon) {
	opacity: 1;
	transform: translateY(0);
}

:host(:not([fade-out]):not([fade-mid]):not([fade-in])) .ui5-ai-button-text,
:host(:not([fade-out]):not([fade-mid]):not([fade-in])) ::part(endIcon) {
	opacity: 1;
	transform: translateY(0);
}

/* Fade out */

:host([fade-out]:not([fade-mid])) ::part(icon) {
	opacity: 0;
	transform: translateY(-1rem);
	transition: opacity 0.05s ease-in-out 0.025s, transform 0.10s ease-in-out 0s;
}

:host([fade-out]:not([fade-mid])) .ui5-ai-button-text,
:host([fade-out]:not([fade-mid])) ::part(endIcon) {
	opacity: 0;
	transform: translateY(-1rem);
	transition: opacity 0.06s ease-in-out 0.12s, transform 0.08s ease-in-out 0.12s;
}

/* Fade mid */

:host([fade-mid]) ::part(icon) {
	opacity: 0;
	transform: translateY(1rem);
}

:host([fade-mid]) .ui5-ai-button-text,
:host([fade-mid]) ::part(endIcon) {
	opacity: 0;
	transform: translateY(1rem);
	transition: none;
}

/* Fade in */

:host([fade-in]) ::part(icon) {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.05s ease-in-out 0.025s, transform 0.10s ease-in-out 0s;
}

:host([fade-in]) .ui5-ai-button-text,
:host([fade-in]) ::part(endIcon) {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.06s ease-in-out 0.12s, transform 0.08s ease-in-out 0.12s;
}
