/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle,
.heroSubtitle  {
  word-wrap: normal;
  color: var(--ifm-font-color-base);
}

.heroTitle__UI5 {
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.buttonSecondary {
  margin-inline-start: 1rem;
}

.logoMain {
  width: 9rem;
  height: 9rem;
}

@media (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media (min-width: 600px) {
  .heroTitle {
    font-weight: normal;
    font-size: 5.5rem;
  }
}
