/* layout */
/* @public Use as top most element for tool page layout. */
.ui5ToolLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;

    gap: var(--_ui5_tool_layout_gap);
    padding: var(--_ui5_tool_layout_padding);

    /* @todo we should not have background here */
    background: var(--_ui5_tool_layout_background);
}

/* @public Use for header. */
.ui5ToolLayoutHeader {
}

/* @public Use to contain side bar and content. */
.ui5ToolLayoutBody {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;

    gap: var(--_ui5_tool_layout_gap);
}

/* @public Use for side bar. */
.ui5ToolLayoutSide {

}

/* @public Use for content. */
.ui5ToolLayoutContent {
    flex: 1;
    /* @todo limit to 100% height always */
}
/* end layout */


/* panels */
/* @public Use for panel style in the header. */
.ui5ToolLayoutPanelTop {
    border-radius: var(--_ui5_tool_layout_border_radius_top_and_bottom);
    box-shadow: var(--_ui5_tool_layout_shadow_top_and_bottom);

    background: var(--sapShellColor);

    padding: var(--_ui5_tool_layout_panel_top_padding); /* @todo */
}

/* @public Use for panel style in the side bar. */
.ui5ToolLayoutPanelSide {
    border-radius: var(--_ui5_tool_layout_border_radius_top);
    box-shadow: var(--_ui5_tool_layout_shadow_top);

    background: var(--sapList_Background);
}

/* @public Use for panel style in the content. */
.ui5ToolLayoutPanelContent {
    border-radius: var(--_ui5_tool_layout_border_radius_top);
    box-shadow: var(--_ui5_tool_layout_shadow_top);

    background: var(--_ui5_tool_layout_content_background);
}
/* end panels */

/* collapsing */
/* @public Use when side bar should be detached from the layout. */
.ui5ToolLayoutSideDetached {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    will-change: transform;
    transition: transform .3s;

    /* @todo bottom gap + border radius */
}

/* @public Use when side bar is collapsed. */
.ui5ToolLayoutSideCollapsed {

}

.ui5ToolLayoutSideDetached.ui5ToolLayoutSideCollapsed {
    transform: translateX(calc(-100% - 0.5rem));
}

/* @todo side nav width 100% when detached, belongs to side nav? property? */
.ui5ToolLayoutSideDetached > * {
    width: 100%;
}
/* end collapsing */









/* @todo shell bar - belongs to shell bar? */
.ui5ShellBarTransparent::part(root) {
    background-color: transparent;
}
.ui5ShellBarNoPadding::part(root) {
    padding: 0;
}
.ui5ShellBarSmallPadding::part(root) {
    padding: 0 1rem;
}
/* end shell bar */

/* @todo side navigation */
.ui5SideNavigationTransparent::part(root) {
    background-color: transparent;
}
/* end side navigation */

/* @todo tab container - belongs to tab container? */
/* @todo in order to fully remove padding first and last tabs should not have padding? */
/* @todo make sure shell bar and tab container have same padding, best is if they have actual 0, then panel can add correct paddings */
.ui5TabContainerNoPadding::part(tabstrip) {
    padding: 0;
    margin-bottom: 0.5rem; /* this should be padding in the panel */
}
.ui5TabContainerNoShadow::part(tabstrip) {
    box-shadow: unset;
}

/* end tab container */
