@import "../base/Button-parameters.css";

:root {
	--_ui5_button_focused_border_radius: 0rem;
    --_ui5_button_text_shadow: none;
	--_ui5_button_emphasized_focused_border_before: none;
	--_ui5_button_emphasized_focused_border_color: var(--sapContent_FocusColor);
	--_ui5_button_emphasized_focused_active_border_color: var(--sapContent_ContrastFocusColor);
}