@import "../base/PopupsCommon-parameters.css";

:root {
	--_ui5_popup_header_prop_header_text_alignment: center;
	--_ui5_popup_header_background: var(--sapGroup_ContentBackground);
	--_ui5_popup_header_shadow: none;
	--_ui5_popup_header_border: 1px solid var(--sapGroup_ContentBorderColor);
}
