@import "../base/Slider-parameters.css";
@import "../../../../theme-base/src/themes/sap_belize/base-parameters.less";

:root{
	--_ui5_slider_item_background_color: var(--sapTimePickerItemColor);
	--_ui5_slider_item_text_color: var(--sapTextColor);
	--_ui_slider_item_hover_color: var(--sapTimePickerItemHoverColor);
	--_ui5_slider_item_border_color: var(--sapTimePickerItemBorderColor);
	--_ui5_slider_collapsed_item_text_color: var(--_ui5_slider_item_border_color);
	--_ui5_slider_selected_item_background_color: var(--sapActiveColor);
	--_ui5_slider_selected_item_hover_background_color: var(--sapTimePickerSelectedItemHoverColor);
	--_ui5_slider_active_item_background_color: var(--sapActiveColor);
	--_ui5_slider_active_item_text_color: var(--sapTimePickerItemColor);
	--_ui5_slider_item_width: 4.5rem;
	--_ui5_slider_item_height: 3rem;
	--_ui5_slider_selection_frame_color: var(--_ui5_slider_selected_item_background_color);
	--_ui_slider_item_border_radius: 0;
}