@import "../base/SliderBase-parameters.css";

:root {
	--_ui5_slider_progress_container_background: #dddddd;
	--_ui5_slider_inner_height: 0.1875rem;
	--_ui5_slider_progress_border-radius: 0;
	--_ui5_slider_progress_background: var(--sapField_Active_BorderColor);
	--_ui5_slider_handle_height: 1.75rem;
	--_ui5_slider_handle_width: 1.75rem;
	--_ui5_slider_handle_border: solid 0.125rem #999;
	--_ui5_slider_handle_background: rgba(var(--sapField_Background), 0.1);
	--_ui5_slider_handle_hover_background: rgba(217,217,217,0.6);
	--_ui5_slider_handle_top: -0.8725rem;
	--_ui5_slider_handle_margin_left: -1rem;
	--_ui5_slider_tickmark_color: var(--sapField_BorderColor);
	--_ui5_slider_disabled_opacity: 0.5;
	--_ui5_slider_tooltip_padding: 0.50rem;
	--_ui5_slider_tooltip_height: 1rem;
	--_ui5_slider_tooltip_box_shadow: 0 0.625rem 2rem 0  rgba(0, 0, 0, 0.15);
	--_ui5_slider_tooltip_border_radius: 0;
	--_ui5_slider_tickmark_top: -.375rem;
	--_ui5_slider_tickmark_in_range_bg: var(--sapField_BorderColor);
}