@import "../base/TabContainer-parameters.css";

:root {
	--_ui5_tc_headerItem_text_selected_color: #3b6f9a;
	--_ui5_tc_headerItemIcon_selected_background: #3b6f9a;
	--_ui5_tc_header_background: var( --sapObjectHeader_Background);
	--_ui5_tc_header_background_translucent: rgba(239,244,249,0.6);
	--_ui5_tc_content_background: var(--sapGroup_ContentBackground);
	--_ui5_tc_content_background_translucent: rgba(255,255,255,0.6);
}
