/* ===================================== */
/* Base Parameters                       */
/* ===================================== */

/* PRIMARY COLORS */
@sapPrimary1: #3f5161;
@sapPrimary2: #427cac;
@sapPrimary3: #eff4f9;
@sapPrimary4: #ffffff;
@sapPrimary5: #fafafa;
@sapPrimary6: #bfbfbf;
@sapPrimary7: #333333;

/* ACCENT COLORS */
@sapAccentColor1: #e09d00;
@sapAccentColor2: #e6600d;
@sapAccentColor3: #c14646;
@sapAccentColor4: #ab218e;
@sapAccentColor5: #678bc7;
@sapAccentColor6: #0092d1;
@sapAccentColor7: #1a9898;
@sapAccentColor8: #759421;
@sapAccentColor9: #925ace;
@sapAccentColor10: #647987;

@sapBrandColor: @sapPrimary2;
@sapHighlightColor: @sapBrandColor;
@sapBaseColor: @sapPrimary3;
@sapShellColor: transparent;
@sapShell_BorderColor: transparent;
@sapBackgroundColorDefault: @sapPrimary5;
@sapBackgroundColor: @sapPrimary5;
@sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
@sapContent_GridSize: 1rem;
@sapFontSize: ~"calc(0.875 * @{sapContent_GridSize})"; /*  0.75em; */
@sapTextColor: @sapPrimary7;
@sapLinkColor: #0070b1;
@sapCompanyLogo: none;
@sapBackgroundImage: none;
@sapBackgroundImageOpacity: 1.0;
@sapBackgroundImageRepeat: false;

/* Semantic Border Colors */
@sapErrorBorderColor: @sapErrorColor;
/*  #ee0000 */
@sapWarningBorderColor: @sapWarningColor;
/*  #f9a429 */
@sapSuccessBorderColor: @sapSuccessColor;
/*  #38a238 */
@sapInformationBorderColor: @sapInformativeColor;
/*  #427cac */
@sapNeutralBorderColor: @sapNeutralColor;
/*  #5e696e */
/* Semantic Foreground Elements */
@sapNegativeElementColor: @sapNegativeColor;
/*  #bb0000 */
@sapCriticalElementColor: @sapCriticalColor;
/*  #e78c07 */
@sapPositiveElementColor: @sapPositiveColor;
/*  #2b7c2b */
@sapInformativeElementColor: @sapInformativeColor;
/*  #427cac */
@sapNeutralElementColor: @sapNeutralColor;
/*  #5e696e */
/* Semantic Text */
@sapNegativeTextColor: @sapNegativeColor;
/*  #bb0000 */
@sapCriticalTextColor: @sapCriticalColor;
/*  #e78c07 */
@sapPositiveTextColor: @sapPositiveColor;
/*  #2b7c2b */
@sapInformativeTextColor: @sapInformativeColor;
/*  #427cac */
@sapNeutralTextColor: @sapNeutralColor;
/*  #5e696e */
/* Semantic Foreground Colors */
@sapNegativeColor: #bb0000;
@sapCriticalColor: #e78c07;
@sapPositiveColor: #2b7c2b;
@sapInformativeColor: #427cac;
@sapNeutralColor: #5e696e;
@sapInformationColor: @sapInformativeColor;
@sapIndicationColor_1: #880000;
@sapIndicationColor_2: #bb0000;
@sapIndicationColor_3: #e78c07;
@sapIndicationColor_4: #2b7c2b;
@sapIndicationColor_5: #427cac;
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
@sapSelectedColor: @sapHighlightColor;
@sapActiveColor: @sapHighlightColor;
@sapTitleColor: @sapTextColor;
@sapElement_LineHeight: ~"calc(3 * @{sapContent_GridSize})";
@sapElement_Height: ~"calc(2.5 * @{sapContent_GridSize})";
@sapElement_BorderWidth: ~"calc(0.0625 * @{sapContent_GridSize})";
@sapContent_LineHeight: 1.4;
/*  1.3; */
@sapContent_ElementHeight: 1.37em;
@sapContent_ElementHeight_PX: 22px;
@sapContent_IconHeight: @sapContent_GridSize;
/*  16px; */
@sapContent_ContrastTextColor: #fff;
@sapContent_ContrastIconColor: @sapContent_ContrastTextColor;
@sapContent_MarkerIconColor: @sapAccentColor5;
@sapContent_FocusColor: #000;
@sapContent_ContrastFocusColor: #fff;
@sapContent_ShadowColor: #000;
@sapContent_ContrastShadowColor: #fff;
@sapContent_SearchHighlightColor: #d4f7db;
@sapContent_HelpColor: #3f8600;
@sapContent_MonospaceFontFamily: lucida console, monospace;
@sapContent_DisabledOpacity: 0.5;
@sapContent_ContrastTextThreshold: 0.65;
@sapContent_ForegroundBorderColor: @sapPrimary6;
@sapContent_BadgeBackground: @sapAccentColor3;
@sapButton_BorderWidth: @sapElement_BorderWidth;
@sapButton_BorderCornerRadius: ~"calc(0.2 * @{sapContent_GridSize})";
@sapButton_Hover_BorderColor: @sapButton_BorderColor;
@sapButton_Reject_Background: @sapButton_Background;
@sapButton_Accept_Background: @sapButton_Background;
@sapButton_Reject_Active_Background: @sapNegativeElementColor;
@sapButton_Accept_Active_Background: @sapPositiveElementColor;
@sapButton_Active_TextColor: contrast(@sapActiveColor, @sapButton_TextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapButton_Accept_TextColor: contrast(@sapButton_Accept_Background, @sapPositiveTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapButton_Reject_TextColor: contrast(@sapButton_Reject_Background, @sapNegativeTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapField_Background: @sapPrimary4;
@sapField_BorderColor: @sapPrimary6;
@sapField_TextColor: #000;
@sapField_HelpBackground: @sapField_Background;
@sapField_BorderWidth: @sapElement_BorderWidth;
@sapField_BorderCornerRadius: 0;
@sapField_Hover_Background: @sapField_Background;
@sapField_Hover_BorderColor: @sapHighlightColor;
@sapField_Hover_HelpBackground: @sapHighlightColor;
@sapField_Focus_Background: @sapField_Background;
@sapField_Focus_BorderColor: @sapField_BorderColor;
@sapField_Focus_HelpBackground: @sapField_Focus_Background;
@sapField_ReadOnly_HelpBackground: @sapField_ReadOnly_Background;
@sapField_RequiredColor: @sapAccentColor3;
@sapField_InvalidColor: @sapErrorColor;
@sapField_InvalidBackground: @sapField_Background;
@sapField_WarningColor: @sapWarningColor;
@sapField_WarningBackground: @sapField_Background;
@sapField_SuccessColor: @sapSuccessColor;
@sapField_SuccessBackground: @sapField_Background;
@sapField_InformationColor: @sapInformationColor;
@sapField_InformationBackground: @sapField_Background;
@sapGroup_TitleBackground: transparent;
@sapGroup_BorderWidth: @sapElement_BorderWidth;
/*  1px; */
@sapGroup_BorderCornerRadius: 0;
@sapGroup_FooterBackground: transparent;
@sapToolbar_Background: transparent;
@sapList_HeaderBorderColor: @sapList_BorderColor;
@sapList_BorderWidth: @sapElement_BorderWidth;
/*  1px; */
@sapList_HighlightColor: @sapHighlightColor;
@sapList_Background: @sapPrimary4;
@sapScrollBar_BorderColor: @sapScrollBar_FaceColor;
@sapScrollBar_SymbolColor: @sapContent_IconColor;
@sapScrollBar_Dimension: ~"calc(0.7 * @{sapContent_GridSize})";
/*  16px; */
@sapPageHeader_Background: @sapBaseColor;
@sapPageFooter_Background: @sapPrimary4;
@sapObjectHeader_Background: @sapBaseColor;
@sapBlockLayer_Background: #000;
@sapTile_Background: @sapPrimary4;
@sapTile_BorderColor: transparent;

@sapErrorBackground: lighten(@sapNegativeColor, 58);
@sapWarningBackground: lighten(@sapCriticalColor, 46);
@sapSuccessBackground: lighten(@sapPositiveColor, 60);
@sapInformationBackground: lighten(@sapInformativeColor, 48);
@sapNeutralBackground: lighten(@sapNeutralColor, 56);
@sapErrorColor: lighten(@sapNegativeColor, 10);
@sapWarningColor: lighten(@sapCriticalColor, 10);
@sapSuccessColor: lighten(@sapPositiveColor, 10);
@sapContent_ImagePlaceholderForegroundColor: lighten(@sapBaseColor, 5);
@sapContent_LabelColor: lighten(@sapTextColor, 20);
@sapContent_ForegroundColor: lighten(@sapPrimary6, 15);
@sapContent_ForegroundTextColor: contrast(@sapContent_ForegroundColor, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapContent_DisabledTextColor: fade(@sapTextColor, (100 - (@sapContent_DisabledOpacity * 100)));
@sapButton_Emphasized_Background: lighten(saturate(@sapHighlightColor, 10), 10);
@sapButton_Emphasized_BorderColor: darken(@sapButton_Emphasized_Background, 5);
@sapButton_Emphasized_TextColor: contrast(@sapButton_Emphasized_Background, darken(@sapPrimary1, 8), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapButton_Hover_TextColor: contrast(@sapButton_Hover_Background, darken(@sapHighlightColor, 10), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapButton_Background: darken(@sapPrimary4, 3);
@sapButton_BorderColor: darken(@sapButton_Background, 30);
@sapButton_TextColor: contrast(@sapButton_Background, darken(@sapHighlightColor, 10), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapField_ReadOnly_BorderColor: lighten(@sapField_BorderColor, 5);
@sapGroup_TitleBorderColor: lighten(@sapPrimary6, 5);
@sapGroup_TitleTextColor: contrast(@sapBackgroundColor, @sapTitleColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapGroup_ContentBackground: lighten(@sapBackgroundColor, 2);
@sapGroup_ContentBorderColor: darken(@sapGroup_ContentBackground, 8);

@sapShell_TextColor: darken(@sapBrandColor, 10);
@sapShell_Background: darken(desaturate(@sapBaseColor, 6), 11);
@sapShell_BackgroundPatternColor: fade(@sapPrimary4, 8);
@sapList_SelectionBackgroundColor: lighten(desaturate(@sapSelectedColor, 2), 47);
@sapList_Hover_Background: contrast(@sapList_Background, darken(@sapList_Background, 6), lighten(@sapList_Background, 6));
@sapScrollBar_FaceColor: darken(@sapPrimary6, 5);
@sapScrollBar_TrackColor: lighten(@sapScrollBar_FaceColor, 30);
@sapScrollBar_Hover_FaceColor: darken(@sapScrollBar_FaceColor, 3);
@sapPageHeader_BorderColor: darken(@sapPageHeader_Background, 8);
@sapPageHeader_TextColor: contrast(@sapPageHeader_Background, lighten(@sapTextColor, 20), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapTile_TitleTextColor: contrast(@sapTile_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapTile_TextColor: contrast(@sapTile_Background, lighten(@sapTile_TitleTextColor, 20), @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapTile_IconColor: contrast(@sapTile_Background, lighten(@sapContent_IconColor, 34), @sapContent_ContrastIconColor, @sapContent_ContrastTextThreshold);
@sapContent_NonInteractiveIconColor: darken(@sapPrimary6, 22);
@sapContent_IconColor: darken(@sapHighlightColor, 10);
@sapContent_MarkerTextColor: darken(@sapAccentColor7, 8);
@sapContent_ImagePlaceholderBackground: darken(@sapBaseColor, 9);
@sapButton_Hover_Background: darken(@sapButton_Background, 5);
@sapField_ReadOnly_Background: fade(darken(@sapField_Background, 5), 50);
@sapList_BorderColor: darken(@sapList_Background, 10.15);
@sapList_HeaderBackground: darken(@sapPrimary4, 3);
@sapList_HeaderTextColor: contrast(@sapList_HeaderBackground, @sapTitleColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

@sapPageFooter_TextColor: contrast(@sapPageFooter_Background, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapInfobar_Background: darken(@sapAccentColor7, 5);
@sapToolbar_SeparatorColor: fade(@sapPrimary1, 20);
@sapHighlightTextColor: contrast(@sapHighlightColor, @sapTextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);

// Exceptions
@sapUiFontSize: @sapFontSize;