@import "global-parameters.less";

:root {





  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
  --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;
  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
  --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;
  --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;

  --sapUiButtonLiteHoverBorderColor: @sapUiButtonLiteHoverBorderColor;
  --sapUiButtonLiteActiveBorderColor: @sapUiButtonLiteActiveBorderColor;



  --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;



  --sapUiSegmentedButtonSelectedTextColor: @sapUiSegmentedButtonSelectedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiSegmentedButtonSelectedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiSegmentedButtonSelectedHoverBorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonFooterHoverBackground;












  --sapGroup_Title_FontSize: @sapGroup_Title_FontSize;



  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
  --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;
  --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;

  --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;


  --sapUiToggleButtonPressedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;




  --sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonFooterBorderColor;
  --sapButton_Background: @sapButton_Background;
  --sapButton_BorderColor: @sapButton_BorderColor;






  --sapUiContentShadowColorFade15: @sapUiContentShadowColorFade15;
s
  --sapUiShadowHeader: @sapUiShadowHeader;
  --sapUiShadowLevel0: @sapUiShadowLevel0;

  --sapUiShadowLevel2: @sapUiShadowLevel2;

}
