@import "base-parameters.less";

@sapUiButtonEmphasizedActiveBorderColor: @sapButton_Active_BorderColor;
@sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBackground;
@sapUiToggleButtonPressedBackground: darken(@sapSelectedColor, 10);
@sapUiToggleButtonPressedBorderColor: darken(@sapUiToggleButtonPressedBackground, 5);
@sapUiToggleButtonPressedHoverBackground: lighten(@sapUiToggleButtonPressedBackground, 10);
@sapUiToggleButtonPressedTextColor: contrast(@sapUiToggleButtonPressedBackground, @sapButton_TextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);