/* ===================================== */
/* Global Parameters                     */
/* ===================================== */

@sapUiBrand: @sapBrandColor;
@sapUiHighlight: @sapHighlightColor;
@sapUiBaseColor: @sapBaseColor;
@sapUiShellColor: @sapShellColor;
@sapUiBaseBG: @sapBackgroundColor;
@sapUiGlobalBackgroundColor: @sapBackgroundColor;
@sapUiFontFamily: @sapFontFamily;
@sapUiFontSize: @sapFontSize;
@sapUiBaseText: @sapTextColor;
@sapUiLink: @sapLinkColor;
@sapUiGlobalLogo: @sapCompanyLogo;
@sapUiGlobalBackgroundImage: @sapBackgroundImage;
@sapUiBackgroundImage: @sapBackgroundImage;
@sapUiGlobalBackgroundImageOpacity: @sapBackgroundImageOpacity;
@sapUiGlobalBackgroundRepeat: @sapBackgroundImageRepeat;
/*  ============================================================== */
/*  Expert Theming (these Parameters should be linked in controls) */
/*  ============================================================== */
@sapUiSelected: @sapSelectedColor;
@sapUiActive: @sapActiveColor;
@sapUiHighlightTextColor: @sapHighlightTextColor;
@sapUiTextTitle: @sapTitleColor;
@sapUiElementLineHeight: @sapElement_LineHeight;
@sapUiElementHeight: @sapElement_Height;
@sapUiElementBorderWidth: @sapElement_BorderWidth;
@sapUiContentLineHeight: @sapContent_LineHeight;
@sapUiContentElementHeight: @sapContent_ElementHeight;
@sapUiContentElementHeightPX: @sapContent_ElementHeight_PX;
@sapUiContentIconHeight: @sapContent_IconHeight;
@sapUiContentIconColor: @sapContent_IconColor;
@sapUiContentContrastIconColor: @sapContent_ContrastIconColor;
@sapUiContentNonInteractiveIconColor: @sapContent_NonInteractiveIconColor;
@sapUiContentMarkerIconColor: @sapContent_MarkerIconColor;
@sapUiContentMarkerTextColor: @sapContent_MarkerTextColor;
@sapUiContentImagePlaceholderBackground: @sapContent_ImagePlaceholderBackground;
@sapUiContentImagePlaceholderForegroundColor: @sapContent_ImagePlaceholderForegroundColor;
@sapUiContentFocusColor: @sapContent_FocusColor;
@sapUiContentContrastFocusColor: @sapContent_ContrastFocusColor;
@sapUiContentShadowColor: @sapContent_ShadowColor;
@sapUiContentContrastShadowColor: @sapContent_ContrastShadowColor;
@sapUiContentSearchHighlightColor: @sapContent_SearchHighlightColor;
@sapUiContentHelpColor: @sapContent_HelpColor;
@sapUiContentLabelColor: @sapContent_LabelColor;
@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentDisabledOpacity: @sapContent_DisabledOpacity;
@sapUiContentContrastTextThreshold: @sapContent_ContrastTextThreshold;
@sapUiContentContrastTextColor: @sapContent_ContrastTextColor;
@sapUiContentForegroundColor: @sapContent_ForegroundColor;
@sapUiContentForegroundBorderColor: @sapContent_ForegroundBorderColor;
@sapUiContentForegroundTextColor: @sapContent_ForegroundTextColor;
@sapUiContentBadgeBackground: @sapContent_BadgeBackground;
@sapUiShellBackground: @sapShell_Background;
@sapUiShellBackgroundPatternColor: @sapShell_BackgroundPatternColor;
@sapUiShellBorderColor: @sapShell_BorderColor;
@sapUiShellTextColor: @sapShell_TextColor;
@sapUiButtonBorderWidth: @sapButton_BorderWidth;
@sapUiButtonBorderCornerRadius: @sapButton_BorderCornerRadius;
@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
@sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
@sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
@sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: @sapButton_Reject_Background;
@sapUiButtonAcceptBackground: @sapButton_Accept_Background;
@sapUiFieldBorderWidth: @sapField_BorderWidth;
@sapUiFieldBorderCornerRadius: @sapField_BorderCornerRadius;
@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: @sapField_BorderColor;
@sapUiFieldTextColor: @sapField_TextColor;
@sapUiFieldHelpBackground: @sapField_HelpBackground;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Focus_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Focus_HelpBackground;
@sapUiFieldReadOnlyBackground: @sapField_ReadOnly_Background;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: @sapField_ReadOnly_HelpBackground;
@sapUiFieldRequiredColor: @sapField_RequiredColor;
@sapUiFieldInvalidColor: @sapField_InvalidColor;
@sapUiFieldInvalidBackground: @sapField_InvalidBackground;
@sapUiFieldWarningColor: @sapField_WarningColor;
@sapUiFieldWarningBackground: @sapField_WarningBackground;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;
@sapUiFieldInformationColor: @sapField_InformationColor;
@sapUiFieldInformationBackground: @sapField_InformationBackground;
@sapUiGroupTitleBackground: @sapGroup_TitleBackground;
@sapUiGroupTitleBorderColor: @sapGroup_TitleBorderColor;
@sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;
@sapUiGroupContentBackground: @sapGroup_ContentBackground;
@sapUiGroupContentBorderColor: @sapGroup_ContentBorderColor;
@sapUiGroupBorderWidth: @sapGroup_BorderWidth;
@sapUiGroupFooterBackground: @sapGroup_FooterBackground;
@sapUiToolbarBackground: @sapToolbar_Background;
@sapUiToolbarSeparatorColor: @sapToolbar_SeparatorColor;
@sapUiListHeaderBackground: @sapList_HeaderBackground;
@sapUiListHeaderBorderColor: @sapList_HeaderBorderColor;
@sapUiListHeaderTextColor: @sapList_HeaderTextColor;
@sapUiListBorderColor: @sapList_BorderColor;
@sapUiListBorderWidth: @sapList_BorderWidth;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListSelectionBackgroundColor: @sapList_SelectionBackgroundColor;
@sapUiListBackground: @sapList_Background;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiScrollBarFaceColor: @sapScrollBar_FaceColor;
@sapUiScrollBarTrackColor: @sapScrollBar_TrackColor;
@sapUiScrollBarBorderColor: @sapScrollBar_BorderColor;
@sapUiScrollBarSymbolColor: @sapScrollBar_SymbolColor;
@sapUiScrollBarDimension: @sapScrollBar_Dimension;
@sapUiScrollBarHoverFaceColor: @sapScrollBar_Hover_FaceColor;
@sapUiPageHeaderBackground: @sapPageHeader_Background;
@sapUiPageHeaderBorderColor: @sapPageHeader_BorderColor;
@sapUiPageHeaderTextColor: @sapPageHeader_TextColor;
@sapUiPageFooterBackground: @sapPageFooter_Background;
@sapUiPageFooterTextColor: @sapPageFooter_TextColor;
@sapUiInfobarBackground: @sapInfobar_Background;
@sapUiObjectHeaderBackground: @sapObjectHeader_Background;
@sapUiBlockLayerBackground: @sapBlockLayer_Background;
@sapUiTileBackground: @sapTile_Background;
@sapUiTileBorderColor: @sapTile_BorderColor;
@sapUiTileTitleTextColor: @sapTile_TitleTextColor;
@sapUiTileTextColor: @sapTile_TextColor;
@sapUiTileIconColor: @sapTile_IconColor;
/*  ============================================ */
/*  UX Reference Set - do not use in Controls!! */
/*  ============================================ */
@sapUiContentGridSize: @sapContent_GridSize;
/*  ===================================== */
/*  Primary Colors */
/*  ===================================== */
@sapUiPrimary1: @sapPrimary1;
@sapUiPrimary2: @sapPrimary2;
@sapUiPrimary3: @sapPrimary3;
@sapUiPrimary4: @sapPrimary4;
@sapUiPrimary5: @sapPrimary5;
@sapUiPrimary6: @sapPrimary6;
@sapUiPrimary7: @sapPrimary7;
/*  ===================================== */
/*  Accent Colors */
/*  ===================================== */
@sapUiAccent1: @sapAccentColor1;
@sapUiAccent2: @sapAccentColor2;
@sapUiAccent3: @sapAccentColor3;
@sapUiAccent4: @sapAccentColor4;
@sapUiAccent5: @sapAccentColor5;
@sapUiAccent6: @sapAccentColor6;
@sapUiAccent7: @sapAccentColor7;
@sapUiAccent8: @sapAccentColor8;
@sapUiAccent9: @sapAccentColor9;
@sapUiAccent10: @sapAccentColor10;
/*  ===================================== */
/*  Semantic Colors */
/*  ===================================== */
/*  Semantic Background Colors */
@sapUiErrorBG: @sapErrorBackground;
@sapUiWarningBG: @sapWarningBackground;
@sapUiSuccessBG: @sapSuccessBackground;
@sapUiInformationBG: @sapInformationBackground;
@sapUiNeutralBG: @sapNeutralBackground;
/*  Semantic Border Colors */
@sapUiErrorBorder: @sapErrorBorderColor;
@sapUiWarningBorder: @sapWarningBorderColor;
@sapUiSuccessBorder: @sapSuccessBorderColor;
@sapUiInformationBorder: @sapInformationBorderColor;
@sapUiNeutralBorder: @sapNeutralColor;
/*  Semantic Foreground Elements */
@sapUiNegativeElement: @sapNegativeElementColor;
@sapUiCriticalElement: @sapCriticalElementColor;
@sapUiPositiveElement: @sapPositiveElementColor;
@sapUiInformativeElement: @sapInformativeElementColor;
@sapUiNeutralElement: @sapNeutralElementColor;
/*  Semantic Text */
@sapUiNegativeText: @sapNegativeTextColor;
@sapUiCriticalText: @sapCriticalTextColor;
@sapUiPositiveText: @sapPositiveTextColor;
@sapUiInformativeText: @sapInformativeTextColor;
@sapUiNeutralText: @sapNeutralTextColor;
@sapUiNegative: @sapNegativeColor;
@sapUiCritical: @sapCriticalColor;
@sapUiPositive: @sapPositiveColor;
@sapUiInformative: @sapInformativeColor;
@sapUiNeutral: @sapNeutralColor;
@sapUiIndication1: @sapIndicationColor_1;
@sapUiIndication2: @sapIndicationColor_2;
@sapUiIndication3: @sapIndicationColor_3;
@sapUiIndication4: @sapIndicationColor_4;
@sapUiIndication5: @sapIndicationColor_5;
@sapUiFontCondensedFamily: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
@sapUiFontHeaderFamily: @sapUiFontFamily;
@sapUiFontHeaderWeight: normal;
/*  use these "sapM"-prefixed parameters for sap.m controls */
@sapMFontHeader1Size: 1.625rem;
@sapMFontHeader2Size: 1.375rem;
@sapMFontHeader3Size: 1.250rem;
@sapMFontHeader4Size: 1.125rem;
@sapMFontHeader5Size: 1rem;
@sapMFontHeader6Size: 0.875rem;
@sapMFontSmallSize: 0.75rem;
@sapMFontMediumSize: 0.875rem;
@sapMFontLargeSize: 1rem;
@sapUiTranslucentBGOpacity: 0;
@sapMPlatformDependent: false;
/*  ===================================== */
/*  Desktop (sap.ui.commons) */
/*  ===================================== */
@sapUiDesktopFontFamily: @sapUiFontFamily;
@sapUiDesktopFontSize: 12px;
/*  use these for desktop controls only */
@sapUiFontLargeSize: 13px;
@sapUiFontSmallSize: 11px;
@sapUiFontHeader1Size: 26px;
@sapUiFontHeader2Size: 20px;
@sapUiFontHeader3Size: 18px;
@sapUiFontHeader4Size: 16px;
@sapUiFontHeader5Size: 14px;
@sapUiFontHeader6Size: @sapUiFontLargeSize;
@sapUiLineHeight: 18px;
/*  Link */
@sapUiLinkActive: @sapUiLink;
@sapUiLinkVisited: @sapUiLink;
@sapUiLinkHover: @sapUiLink;
/*  Notification Bar */
@sapUiNotifierSeparatorWidth: 1px;
@sapUiButtonActiveBackground: @sapUiActive;
@sapUiButtonActiveBorderColor: @sapUiButtonActiveBackground;
@sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
@sapUiButtonAcceptBorderColor: @sapUiPositiveElement;
@sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptActiveBackground: @sapUiPositiveElement;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonRejectBorderColor: @sapUiNegativeElement;
@sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectActiveBackground: @sapUiNegativeElement;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonLiteBackground: transparent;
@sapUiButtonLiteBorderColor: transparent;
@sapUiButtonLiteTextColor: @sapUiButtonTextColor;
@sapUiButtonLiteHoverBorderColor: @sapUiButtonLiteHoverBackground;
@sapUiButtonLiteActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteActiveBorderColor: @sapUiButtonLiteActiveBackground;
@sapUiButtonHeaderTextColor: @sapUiButtonTextColor;
@sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderTextColor;
@sapUiButtonFooterHoverBackground: @sapUiButtonLiteHoverBackground;
@sapUiButtonActionSelectBackground: @sapUiListBackground;
@sapUiButtonActionSelectBorderColor: @sapUiListBorderColor;
@sapUiButtonLiteActionSelectHoverBackground: @sapUiListHoverBackground;
@sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBackground;
@sapUiSegmentedButtonHoverBackground: @sapUiButtonHoverBackground;
@sapUiSegmentedButtonActiveBackground: @sapUiButtonActiveBackground;
@sapUiSegmentedButtonSelectedBackground: @sapUiToggleButtonPressedBackground;
@sapUiSegmentedButtonSelectedTextColor: @sapUiToggleButtonPressedTextColor;
@sapUiSegmentedButtonSelectedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
@sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
@sapUiSegmentedButtonFooterHoverBackground: @sapUiButtonHoverBackground;
@sapUiFieldActiveBackground: @sapUiActive;
@sapUiFieldActiveBorderColor: @sapUiActive;
@sapUiFieldActiveTextColor: @sapUiContentContrastTextColor;
@sapUiListTextColor: @sapUiBaseText;
@sapUiListActiveBackground: @sapUiListHighlightColor;
@sapUiListFooterTextColor: @sapUiPageFooterTextColor;
@sapUiListGroupHeaderBackground: @sapUiListBackground;
@sapUiListTableTextSize: 0.875rem;
@sapUiListTableIconSize: 1rem;
@sapUiInfobarActiveBackground: @sapUiListActiveBackground;
@sapUiCalendarColorToday: @sapUiAccent4;
@sapUiDragAndDropColor: @sapUiContentNonInteractiveIconColor;
@sapUiDragAndDropBackground: @sapUiGroupContentBackground;
@sapUiDragAndDropBorderColor: @sapUiContentForegroundBorderColor;
@sapUiDragAndDropActiveColor: @sapUiLink;
@sapUiDragAndDropActiveBorderColor: @sapUiLink;
@sapGroup_Title_FontSize: @sapFontSize;


@sapUiShellHoverBackground: darken(@sapUiBrand, 10);
@sapUiShellActiveBackground: darken(@sapUiBrand, 17);
@sapUiShellActiveTextColor: lighten(@sapUiBrand, 55);
@sapUiShellHoverToggleBackground: darken(@sapUiBrand, 32);
@sapUiShellContainerBackground: lighten(@sapUiShellBackground, 16);
@sapUiShellAltContainerBackground: darken(saturate(@sapUiShellBackground, 6), 28);
@sapUiShellGroupTextColor: darken(desaturate(@sapUiShellTextColor, 100), 16.5);
@sapUiLinkInverted: lighten(@sapUiLink, 40);
@sapUiNotificationBarBG: fade(@sapUiPrimary7, 98);
@sapUiNotifierSeparator: darken(@sapUiPrimary7, 20);
@sapUiNotificationBarBorder: lighten(@sapUiPrimary7, 20);
@sapUiButtonIconColor: contrast(@sapUiButtonBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiButtonActiveTextColor: contrast(@sapUiButtonActiveBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiButtonEmphasizedHoverBackground: darken(@sapUiButtonEmphasizedBackground, 5);
@sapUiButtonEmphasizedHoverBorderColor: darken(@sapUiButtonEmphasizedBackground, 5);
@sapUiButtonEmphasizedTextShadow: contrast(@sapUiButtonEmphasizedTextColor, @sapUiContentShadowColor, @sapUiContentContrastShadowColor, @sapUiContentContrastTextThreshold);
@sapUiButtonAcceptTextColor: contrast(@sapUiButtonAcceptBackground, @sapUiPositiveText, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiButtonRejectTextColor: contrast(@sapUiButtonRejectBackground, @sapUiNegativeText, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiButtonLiteHoverBackground: fade(darken(@sapUiButtonHoverBackground, 22), 50);
@sapUiButtonFooterTextColor: contrast(@sapUiPageFooterBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiToggleButtonPressedBackground: darken(@sapUiSelected, 10);
@sapUiToggleButtonPressedBorderColor: darken(@sapUiToggleButtonPressedBackground, 5);
@sapUiSegmentedButtonBackground: lighten(@sapUiButtonBackground, 3);
@sapUiSegmentedButtonBorderColor: lighten(@sapUiButtonBorderColor, 8);
@sapUiToggleButtonPressedHoverBackground: lighten(@sapUiToggleButtonPressedBackground, 10);
@sapUiToggleButtonPressedTextColor: contrast(@sapUiToggleButtonPressedBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonTextColor: contrast(@sapUiSegmentedButtonBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonIconColor: contrast(@sapUiSegmentedButtonBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonActiveIconColor: contrast(@sapUiSegmentedButtonActiveBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonSelectedIconColor: contrast(@sapUiSegmentedButtonSelectedBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonFooterBorderColor: lighten(@sapUiButtonBorderColor, 8);
@sapButton_Background: darken(@sapPrimary4, 3);
@sapButton_BorderColor: darken(@sapButton_Background, 30);
@sapUiFieldPlaceholderTextColor: lighten(@sapUiFieldTextColor, 46);
@sapUiListActiveTextColor: contrast(@sapUiListActiveBackground, @sapUiListTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiListSelectionHoverBackground: contrast(@sapUiListSelectionBackgroundColor, darken(@sapUiListSelectionBackgroundColor, 3), lighten(@sapUiListSelectionBackgroundColor, 3));
@sapUiListFooterBackground: darken(@sapUiBaseColor, 9);
@sapUiListVerticalBorderColor: darken(@sapUiListBorderColor, 3);
@sapUiListTableGroupHeaderBackground: darken(@sapUiListBackground, 5);
@sapUiListTableGroupHeaderBorderColor: darken(@sapUiListBorderColor, 10);
@sapUiListTableGroupHeaderTextColor: contrast(@sapUiListTableGroupHeaderBackground, @sapUiContentMarkerTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiListTableFooterBorder: darken(@sapUiListBorderColor, 10);
@sapUiListTableFixedBorder: darken(@sapUiListBorderColor, 30);
@sapUiPageFooterBorderColor: contrast(@sapUiPageFooterBackground, darken(@sapUiPageFooterBackground, 8), lighten(@sapUiPageFooterBackground, 12));
@sapUiInfobarHoverBackground: darken(@sapUiInfobarBackground, 3);
@sapUiObjectHeaderBorderColor: darken(@sapUiObjectHeaderBackground, 8);
@sapUiDragAndDropActiveBackground: fade(@sapUiLink, 5);
@sapUiSegmentedButtonActiveTextColor: contrast(@sapUiSegmentedButtonActiveBackground, @sapUiSegmentedButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiContentShadowColorFade15: fade(@sapUiContentShadowColor, 15);

@sapUiShadowText: 0 0 0.125rem @sapUiContentContrastShadowColor;
@sapUiShadowHeader: 0 0.125rem 0 0 @sapUiObjectHeaderBackground, inset 0 -0.125rem 0 0 @sapUiObjectHeaderBorderColor;
@sapUiShadowLevel0: 0 0 0 1px @sapUiContentShadowColorFade15;
@sapUiShadowLevel1: 0 0.125rem 0.5rem 0 @sapUiContentShadowColorFade15, @sapUiShadowLevel0;
@sapUiShadowLevel2: 0 0.625rem 1.875rem 0 @sapUiContentShadowColorFade15, @sapUiShadowLevel0;
@sapUiShadowLevel3: 0 1.25rem 5rem 0 @sapUiContentShadowColorFade15, @sapUiShadowLevel0;
