@import "global-parameters.less";

:root {























































































  /*  ============================================ */
  /*  UX Reference Set - do not use in Controls!! */
  /*  ============================================ */

  /*  ===================================== */
  /*  Primary Colors */
  /*  ===================================== */







  /*  ===================================== */
  /*  Accent Colors */
  /*  ===================================== */










  /*  ===================================== */
  /*  Semantic Colors */
  /*  ===================================== */
  /*  Semantic Background Colors */





  /*  Semantic Border Colors */





  /*  Semantic Foreground Elements */





  /*  Semantic Text */















  --sapUiFontCondensedFamily: @sapUiFontCondensedFamily;
  --sapUiFontHeaderFamily: @sapUiFontHeaderFamily;
  --sapUiFontHeaderWeight: @sapUiFontHeaderWeight;
  /*  use these "sapM"-prefixed parameters for sap.m controls */
  --sapMFontHeader1Size: @sapMFontHeader1Size;
  --sapMFontHeader2Size: @sapMFontHeader2Size;
  --sapMFontHeader3Size: @sapMFontHeader3Size;
  --sapMFontHeader4Size: @sapMFontHeader4Size;
  --sapMFontHeader5Size: @sapMFontHeader5Size;
  --sapMFontHeader6Size: @sapMFontHeader6Size;
  --sapMFontSmallSize: @sapMFontSmallSize;
  --sapMFontMediumSize: @sapMFontMediumSize;
  --sapMFontLargeSize: @sapMFontLargeSize;
  --sapUiTranslucentBGOpacity: @sapUiTranslucentBGOpacity;
  --sapMPlatformDependent: @sapMPlatformDependent;
  /*  ===================================== */
  /*  Desktop (sap.ui.commons) */
  /*  ===================================== */
  --sapUiDesktopFontFamily: @sapUiDesktopFontFamily;
  --sapUiDesktopFontSize: @sapUiDesktopFontSize;
  /*  use these for desktop controls only */
  --sapUiFontLargeSize: @sapUiFontLargeSize;
  --sapUiFontSmallSize: @sapUiFontSmallSize;
  --sapUiFontHeader1Size: @sapUiFontHeader1Size;
  --sapUiFontHeader2Size: @sapUiFontHeader2Size;
  --sapUiFontHeader3Size: @sapUiFontHeader3Size;
  --sapUiFontHeader4Size: @sapUiFontHeader4Size;
  --sapUiFontHeader5Size: @sapUiFontHeader5Size;
  --sapUiFontHeader6Size: @sapUiFontHeader6Size;
  --sapUiLineHeight: @sapUiLineHeight;
  /*  Link */



  /*  Notification Bar */
  --sapUiNotifierSeparatorWidth: @sapUiNotifierSeparatorWidth;
  --sapUiButtonActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonActiveBorderColor: @sapUiButtonActiveBorderColor;

  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
  --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;

  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
  --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;

  --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;
  --sapUiButtonLiteBackground: @sapUiButtonLiteBackground;
  --sapUiButtonLiteBorderColor: @sapUiButtonLiteBorderColor;
  --sapUiButtonLiteTextColor: @sapUiButtonLiteTextColor;
  --sapUiButtonLiteHoverBorderColor: @sapUiButtonLiteHoverBorderColor;

  --sapUiButtonLiteActiveBorderColor: @sapUiButtonLiteActiveBorderColor;
  --sapUiButtonHeaderTextColor: @sapUiButtonHeaderTextColor;
  --sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderDisabledTextColor;
  --sapUiButtonFooterHoverBackground: @sapUiButtonFooterHoverBackground;
  --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
  --sapUiSegmentedButtonHoverBackground: @sapUiSegmentedButtonHoverBackground;
  --sapUiSegmentedButtonActiveBackground: @sapUiSegmentedButtonActiveBackground;
  --sapUiSegmentedButtonSelectedBackground: @sapUiSegmentedButtonSelectedBackground;
  --sapUiSegmentedButtonSelectedTextColor: @sapUiSegmentedButtonSelectedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiSegmentedButtonSelectedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiSegmentedButtonSelectedHoverBorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonFooterHoverBackground;
  --sapUiFieldActiveBackground: @sapUiFieldActiveBackground;

  --sapUiFieldActiveTextColor: @sapUiFieldActiveTextColor;
  --sapUiListTextColor: @sapUiListTextColor;
  --sapUiListActiveBackground: @sapUiListActiveBackground;
  --sapUiListFooterTextColor: @sapUiListFooterTextColor;
  --sapUiListGroupHeaderBackground: @sapUiListGroupHeaderBackground;
  --sapUiListTableTextSize: @sapUiListTableTextSize;
  --sapUiListTableIconSize: @sapUiListTableIconSize;
  --sapUiInfobarActiveBackground: @sapUiInfobarActiveBackground;
  --sapUiCalendarColorToday: @sapUiCalendarColorToday;
  --sapUiDragAndDropColor: @sapUiDragAndDropColor;

  --sapUiDragAndDropBorderColor: @sapUiDragAndDropBorderColor;
  --sapUiDragAndDropActiveColor: @sapUiDragAndDropActiveColor;
  --sapUiDragAndDropActiveBorderColor: @sapUiDragAndDropActiveBorderColor;
  --sapGroup_Title_FontSize: @sapGroup_Title_FontSize;





  --sapUiShellHoverToggleBackground: @sapUiShellHoverToggleBackground;





  --sapUiNotifierSeparator: @sapUiNotifierSeparator;
  --sapUiNotificationBarBorder: @sapUiNotificationBarBorder;



  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
  --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;


  --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
  --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;
  --sapUiSegmentedButtonBackground: @sapUiSegmentedButtonBackground;
  --sapUiSegmentedButtonBorderColor: @sapUiSegmentedButtonBorderColor;
  --sapUiToggleButtonPressedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
  --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
  --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
  --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
  --sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonFooterBorderColor;
  --sapButton_Background: @sapButton_Background;
  --sapButton_BorderColor: @sapButton_BorderColor;


  --sapUiListSelectionHoverBackground: @sapUiListSelectionHoverBackground;

  --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;



  --sapUiListTableFooterBorder: @sapUiListTableFooterBorder;
  --sapUiListTableFixedBorder: @sapUiListTableFixedBorder;



  --sapUiDragAndDropActiveBackground: @sapUiDragAndDropActiveBackground;
  --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
  --sapUiContentShadowColorFade15: @sapUiContentShadowColorFade15;

  --sapUiShadowText: @sapUiShadowText;
  --sapUiShadowHeader: @sapUiShadowHeader;
  --sapUiShadowLevel0: @sapUiShadowLevel0;
  --sapUiShadowLevel1: @sapUiShadowLevel1;
  --sapUiShadowLevel2: @sapUiShadowLevel2;
  --sapUiShadowLevel3: @sapUiShadowLevel3;

}
