@font-face {
	font-family: "72-Bold";
	src: url(../fonts/72-Bold.woff2) format("woff2");
}

@font-face {
	font-family: "72-Regular";
	src: url(../fonts/72-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "72-Light";
	src: url(../fonts/72-Light.woff2) format("woff2");
}

body {
    --orange_color: #FE7A1F;
    --black_color: #000;
    --link_blue_color: #3584BE;
    margin: 0;
    font-family: "72-Regular";
}

.background {
    position: absolute;
    top: 8rem;
    left: 0;
}

.background > img {
    width: 100vw;
}

.background-small {
    display: none;
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;
    padding: 0 4.6875rem 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    background: #fff;
}

.left-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-content > div {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.left-content > a {
    width: 6.25rem;
    height: 2.25rem;
    font-family: "72";
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    background: #5496C6;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(24, 115, 180, 0.2), 0px 4px 8px rgba(24, 115, 180, 0.2);
    text-decoration: none;
}

.right-content {
    height: 100%;
    display: flex;
    align-items: center;
}

.right-content > a {
    margin-right: 1.8125rem;
    color: var(--black_color);
    font-size: 1.125rem;
    text-decoration: none;
}

.right-content > a.blog {
    padding: 0.46875rem 1.75rem;
    border: 2px solid var(--orange_color);
    border-radius: 0.625rem;
    color: var(--orange_color);
}

.right-content > a.github-link {
    margin: 0;
}

a.github-link > img {
    width: 2rem;
}

.content {
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

.content > section {
    position: relative;
    z-index: 10;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.title-wrapper {
    padding-left: 15rem;
}

.title {
    display: flex;
    font-size: 4.5rem;
    font-family: "72-Bold";
}

.title > h1 {
    margin-bottom: 1rem;
}

.title > *:first-child {
    color: var(--black_color);
}

.title > *:last-child {
    color: var(--orange_color);
}

.subtitle {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: "72-Light";
}

.curr-version {
    margin-bottom: 3rem;
    font-family: "72-Light";
}

.curr-version-link {color:#5496C6;}         /* Unvisited link  */
.curr-version-link:visited {color:#5496C6;} /* Visited link    */
.curr-version-link:hover {color:#5496C6;}   /* Mouse over link */
.curr-version-link:active {color:#5496C6;}  /* Selected link   */

.get-started-button {
    padding: 1.25rem 1.5625rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-left: -2px;
    color: #fff;
    background: var(--orange_color);
    text-decoration: none;
}

.illustration-section:nth-child(1) {
    margin-top: 12rem;
}

.illustration-section:nth-child(2) {
    margin-top: 14rem;
}

.illustration-section:nth-child(3) {
    margin-top: 9rem;
}

.illustration-section {
    display: flex;
    justify-content: center;
}

.illustration-section > *:nth-child(1) {
    margin-right: 10rem;
}

.illustration-section > img {
    width: 31rem;
    height: 20rem;
}

.illustration-section:nth-child(3) > img {
    width: 28rem;
    height: 22rem;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-wrapper.right-align {
    text-align: right;
}

.text-wrapper > h2,
.example > h2,
.frameworks-section > h2,
.compatibility h2,
.testimonials h2,
footer h2 {
    font-size: 2.25rem;
    font-family: '72-Bold';
}

.text-wrapper > span {
    font-family: "72-Light";
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.example {
    width: 100%;
    margin-top: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
}

.example > div {
    display: flex;
}

.example-field {
    padding: 1rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #DFDFDF;
    border-radius: .5rem;
}

.example-field > ui5-date-picker{
    margin-right: 2rem;
}

.codesandbox-link {
    margin-top: 3rem;
    color: #fff;
    background: var(--orange_color);
    padding: 1rem 2rem;
    border-radius: .5rem;
    font-size: 1.125rem;
    text-decoration: none;
}

.frameworks-section {
    margin-top: 18rem;
    text-align: center;
}

.frameworks-section > h2 {
    margin-bottom: 4rem;
}

.frameworks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.framework-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.framework-wrapper:nth-child(1),
.framework-wrapper:nth-child(2),
.framework-wrapper:nth-child(3) {
    margin-right: 8rem;
}

.framework-wrapper > img {
    width: 5.625rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.framework-wrapper > a {
    margin-bottom: 1rem;
    color: var(--link_blue_color);
    text-decoration: none;
}

.compatibility {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

.compatibility > div {
    display: flex;
    flex-direction: column;
}

.compatibility > div > div {
    display: flex;
    justify-content: space-between;
}

.compatibility > div:nth-child(1) {
    margin-right: 14rem;
}

.compatibility h2 {
    margin-bottom: 1rem;
    letter-spacing: 4px;
    text-align: center;
}

.compatibility img {
    height: 3.125rem;
}

.testimonials {
    height: 14.75rem;
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testimonials ui5-icon {
    width: 2rem;
    height: 2rem;
    color: #000;
    position: relative;
    z-index: 10;
}

.testimonials ui5-icon:hover {
    cursor: pointer;
}

.testimonials > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-testimonials {
    font-family: "72";
    width: 85%;
    max-width: 1700px;
    margin: 0 3rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: .5px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.testimonial > div:nth-child(1) {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.testimonial > div:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: "72";
}

.testimonial:not(.visible) {
    opacity: 0;
    display: none;
}

footer {
    position: relative;
    z-index: 2;
    margin-top: 14rem;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer h2 {
    margin-top: 0;
}

.responsive-footer1 > div,
.responsive-footer2 > div:not(:last-child) {
    margin-right: 4rem;
}

.footer-community {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-community img {
    width: 3.125rem;
    margin-right: 1rem;
}

.links-wrapper {
    display: flex;
    flex-direction: column;
}

.links-wrapper > a:not(:last-child) {
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--black_color);
}

.background-mobile {
    display: none;
}

.responsive-footer1,
.responsive-footer2 {
    display: flex;
}

@media(max-width: 1900px) {
    .example {
        margin-top: 16rem;
    }
}

@media(max-width: 1820px) {
    .testimonials {
        margin-top: 10rem;
    }
}


@media(max-width: 1790px) {
    .illustration-section:nth-child(1) {
        margin-top: 7rem;
    }

    .testimonials {
        margin-top: 12rem;
    }

    footer {
        margin-top: 19rem;
    }
}

@media(max-width: 1760px) {
    .example {
        margin-top: 10rem;
    }

    .frameworks-section {
        margin-top: 10rem;
    }
}

@media(max-width: 1710px) {
    .frameworks-section {
        margin-top: 10rem;
    }

    .compatibility {
        margin-top: 11rem;
    }
}

@media(max-width: 1680px) {
    .illustration-section:nth-child(1) {
        margin-top: 5rem;
    }

    .illustration-section:nth-child(3) {
        margin-top: 5rem;
    }

    .example {
        margin-top: 10rem;
    }

    .frameworks-section {
        margin-top: 13rem;
    }

    .compatibility {
        margin-top: 10rem;
    }

    .testimonials {
        margin-top: 14rem;
    }

    footer {
        margin-top: 16rem;
    }
}

@media(max-width: 1610px) {
    .illustration-section > img {
        width: 29rem;
        height: 18rem;
    }

    .illustration-section:nth-child(1) {
        margin-top: 1rem;
    }

    .illustration-section:nth-child(3) {
        margin-top: 5rem;
    }

    .example {
        margin-top: 13rem;
    }

    .frameworks-section {
        margin-top: 10rem;
    }

    .compatibility {
        margin-top: 6rem;
    }

    footer {
        margin-top: 15rem;
    }
}

@media(max-width: 1560px) {
    .example {
        margin-top: 10rem;
    }

    footer {
        margin-top: 9rem;
    }
}

@media(max-width: 1540px) {
    .example {
        margin-top: 8rem;
    }
}

@media(max-width: 1510px) {
    .illustration-section:nth-child(3) {
        margin-top: 3rem;
    }

    .example {
        margin-top: 5rem;
    }
}

@media(max-width: 1470px) {
    .example {
        margin-top: 6rem;
    }

    .testimonials {
        margin-top: 10rem;
    }

    footer {
        margin-top: 10rem;
    }
}

@media(max-width: 1450px) {
    .header img {
        height: 31rem;
    }

    .illustration-section:nth-child(1) {
        margin-top: 9rem;
    }

    .illustration-section:nth-child(3) > img {
        width: 22rem;
        height: 19rem;
    }

    .example {
        margin-top: 7rem;
    }

    .example-field {
        padding: 0 1rem;
    }

    .illustration-section > img {
        width: 25rem;
        height: 17rem;
    }

    .frameworks-section {
        margin-top: 6rem;
    }

    .compatibility {
        margin-top: 7rem;
    }

    footer {
        margin-top: 12rem;
    }
}

@media(max-width: 1420px) {
    .testimonials {
        margin-top: 10rem;
    }

    footer {
        margin-top: 10rem;
    }
}

@media(max-width: 1400px) {
    .example {
        margin-top: 4rem;
    }

    .frameworks-section {
        margin-top: 8rem;
    }
}

@media(max-width: 1390px) {
    .illustration-section > img {
        width: 22rem;
        height: 14rem;
    }

    .example {
        margin-top: 10rem;
    }

    .testimonials {
        margin-top: 10rem;
    }
}

@media(max-width: 1370px) {
    .frameworks-section {
        margin-top: 6rem;
    }

    footer {
        margin-top: 6rem;
    }
}

@media(max-width: 1340px) {
    .text-wrapper > h2,
    .example > h2,
    .frameworks-section > h2,
    .compatibility h2,
    .testimonials h2,
    footer h2 {
        font-size: 1.75rem;
    }

    .frameworks-section > h2 {
        margin-bottom: 1rem;
    }

    .example {
        margin-top: 8rem;
    }

    .frameworks-section {
        margin-top: 9rem;
    }

    .testimonials {
        margin-top: 9rem;
    }

    footer {
        margin-top: 13rem;
    }
}

@media(max-width: 1320px) {
    .text-wrapper > span {
        font-size: 1.2rem;
    }

    .example {
        margin-top: 5rem;
    }

    .testimonials {
        margin-top: 8rem;
    }

    footer {
        margin-top: 11rem;
    }
}

@media(max-width: 1300px) {
    .top-bar {
        padding-left: 5rem;
    }

    .left-content > div {
        font-size: 1.2rem;
    }

    .title-wrapper {
        padding-left: 5rem;
    }

    .illustration-section:nth-child(1) {
        margin-top: 8rem;
    }

    .illustration-section:nth-child(3) > img {
        width: 18rem;
        height: 16rem;
    }

    .example {
        margin-top: 6rem;
    }

    .compatibility {
        margin-top: 3rem;
    }

    .testimonials {
        margin-top: 10rem;
    }
}

@media(max-width: 1270px) {
    .background > img:nth-child(1) {
        display: none;
    }

    .background-small {
        display: block;
    }

    .illustration-section:nth-child(1) {
        margin-top: 0rem;
    }

    .illustration-section:nth-child(2) {
        margin-top: 17rem;
    }

    .illustration-section:nth-child(3) {
        margin-top: 11rem;
    }

    .example {
        margin-top: 14rem;
    }

    .frameworks-section {
        margin-top: 12rem;
    }

    .compatibility {
        margin-top: 10rem;
    }

    .testimonials {
        margin-top: 12rem;
    }

    footer {
        margin-top: 18rem;
    }
}

@media(max-width: 1240px) {
    .testimonials {
        margin-top: 9rem;
    }

    footer {
        margin-top: 14rem;
    }
}

@media(max-width: 1210px) {
    .text-wrapper > h2,
    .example > h2,
    .frameworks-section > h2,
    .compatibility h2,
    .testimonials h2,
    footer h2 {
        font-size: 1.6rem;
    }

    .example {
        margin-top: 8rem;
    }

    footer {
        margin-top: 16rem;
    }
}

@media(max-width: 1170px) {
    .illustration-section:nth-child(3) {
        margin-top: 11rem;
    }

    footer {
        margin-top: 10rem;
    }
}

@media(max-width: 1150px) {
    .example {
        margin-top: 3rem;
    }

    .testimonials {
        margin-top: 5rem;
    }
}

@media(max-width: 1130px) {
    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.5rem
    }

    .example {
        margin-top: 7rem;
    }

    .illustration-section:nth-child(2) {
        margin-top: 10rem;
    }

    footer {
        margin-top: 13rem;
    }
}

@media(max-width: 1100px) {
    .illustration-section:nth-child(3) {
        margin-top: 9rem;
    }

    footer {
        margin-top: 8rem;
    }
}

@media(max-width: 1070px) {
    .background-small {
        display: none;
    }

    .example > div {
        margin-right: 0;
    }

    footer .background-mobile {
        width: 100%;
        height: 60rem;
        display: block;
        position: absolute;
        object-fit: cover;
        bottom: 0;
    }

    footer {
        margin-top: 18rem;
    }

    .footer-content {
        position: relative;
        bottom: 2rem;
    }

    .responsive-footer1 > div,
    .responsive-footer2 > div:not(:last-child) {
        margin-right: 2rem;
    }

    .compatibility > div:nth-child(1) {
        margin-right: 7rem;
    }
}

@media(max-width: 1000px) {
    .top-bar {
        padding: 0 1rem;
    }
}

@media(max-width: 980px) {
    .footer-community img {
        width: 2.125rem;
        margin-right: 0.5rem;
    }
}

@media(max-width: 935px) {
    .illustration-section > *:nth-child(1) {
        margin-right: 2rem;
    }

    .compatibility {
        flex-direction: column;
    }

    .compatibility > div:nth-child(1) {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .compatibility > div {
        align-items: center;
    }

    .compatibility > div > div {
        width: 400px;
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width: 900px) {
    .top-bar {
        justify-content: center;
    }

    .left-content {
        display: none;
    }
}

@media(max-width: 840px) {
    .example > div {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .example-field {
        padding: 1rem;
    }

    .footer-content {
        flex-direction: column;
    }

    .responsive-footer1 {
        width: 100%;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    .responsive-footer2 {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 650px) {
    .title-wrapper {
        padding-left: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .header img {
        height: 28rem;
    }

    .framework-wrapper:nth-child(1),
    .framework-wrapper:nth-child(2) {
        margin-right: 1rem;
    }
}