/* :root {
  --compatibility-container-margin-top: 2rem;
  --compatibility-container-margin-bottom: 2rem;
  --compatibility-container-title-margin-bottom: 1rem;
  --compatibility-container-title-font-size: 2.25rem;
  --compatibility-flex-direction: row;
  --compatibility-container-logo-margin-inline-end: 2rem;
  --compatibility-container-margin-inline-end: 1rem;

  --compatibility-container-logo-width: 2.25rem;
  --compatibility-container-logo-height: 2.25rem;

  --compatibility-container-logo-first-child-margin-inline-start: 2rem;
} */

.compatibility__article {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ebedf0;
}

.compatibility {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.compatibility .compatibility__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.compatibility .compatibility__container:first-child {
  margin-inline-end: 1rem;
  margin-bottom: 2rem;
}

.compatibility .compatibility__container div:first-child {
  margin-inline-start: 2rem;
}

.compatibility .compatibility__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.compatibility .compatibility__logo {
  margin-inline-end: 2rem;
  width: 5.25rem;
  height: 5.25rem;
}

.compatibility .compatibility__logo:last-child {
  margin-inline-end: 0;
}