.compatibility__article {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.compatibility {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.compatibility .compatibility__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.compatibility .compatibility__container:first-child {
  margin-inline-end: 1rem;
  margin-bottom: 2rem;
}

.compatibility .compatibility__container div:first-child {
  margin-inline-start: 2rem;
}

.compatibility .compatibility__title {
  text-align: center;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 4rem;
}

.compatibility .compatibility__logo {
  margin-inline-end: 9rem;
  width: 5.25rem;
  height: 5.25rem;
}

.compatibility .compatibility__logo:last-child {
  margin-inline-end: 0;
}

@media (max-width: 600px) {
  .compatibility .compatibility__logo {
    margin-inline-end: 2rem;
  }
}

@media (max-width: 900px) {
  .compatibility .compatibility__logo {
    margin-inline-end: 4rem;
  }
}