@import "base-parameters.less";

@sapUiButtonEmphasizedHoverBorderColor: @sapButton_Emphasized_Hover_BorderColor;
@sapUiButtonEmphasizedHoverTextColor: @sapButton_Emphasized_Hover_TextColor;
@sapUiButtonEmphasizedActiveBorderColor: @sapButton_Emphasized_Active_BorderColor;
@sapUiButtonEmphasizedTextShadow: @sapButton_Emphasized_TextShadow;
@sapUiButtonEmphasizedFontWeight: @sapButton_Emphasized_FontWeight;
@sapUiButtonRejectBorderColor: @sapButton_Reject_BorderColor;
@sapUiButtonRejectHoverBackground: @sapButton_Reject_Hover_Background;
@sapUiButtonRejectHoverBorderColor: @sapButton_Reject_Hover_BorderColor;
@sapUiButtonRejectHoverTextColor: @sapButton_Reject_Hover_TextColor;
@sapUiButtonRejectActiveBorderColor: @sapButton_Reject_Active_BorderColor;
@sapUiButtonAcceptBorderColor: @sapButton_Accept_BorderColor;
@sapUiButtonAcceptHoverBackground: @sapButton_Accept_Hover_Background;
@sapUiButtonAcceptHoverBorderColor: @sapButton_Accept_Hover_BorderColor;
@sapUiButtonAcceptHoverTextColor: @sapButton_Accept_Hover_TextColor;
@sapUiButtonAcceptActiveBorderColor: @sapButton_Accept_Active_BorderColor;
@sapUiButtonActionSelectBackground: @sapList_Background;
@sapUiButtonActionSelectBorderColor: @sapList_BorderColor;
@sapUiButtonLiteActionSelectHoverBackground: @sapList_Hover_Background;
@sapUiButtonLiteHoverBackground: @sapButton_Hover_Background;

@sapUiToggleButtonPressedBackground: @sapSelectedColor;
@sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBackground;
@sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBackground;