@import "global-parameters.less";

:root {
  --sapUiContentHeaderShadow: @sapUiContentHeaderShadow;
  --sapUiButtonActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
  --sapUiButtonEmphasizedHoverTextColor: @sapUiButtonEmphasizedHoverTextColor;
  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
  --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;
  --sapUiButtonEmphasizedFontWeight: @sapUiButtonEmphasizedFontWeight;
  --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;
  --sapUiButtonRejectHoverTextColor: @sapUiButtonRejectHoverTextColor;
  --sapUiButtonLiteTextColor: @sapUiButtonLiteTextColor;

  --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;
  --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;
  --sapUiButtonAcceptHoverTextColor: @sapUiButtonAcceptHoverTextColor;
  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
  --sapUiListTextColor: @sapUiListTextColor;
  --sapUiListActiveBackground: @sapUiListActiveBackground;
  --sapUiListSelectionBorderColor: @sapUiListSelectionBorderColor;
  --sapUiListHoverSelectionBackground: @sapUiListHoverSelectionBackground;

  --sapUiListGroupHeaderBackground: @sapUiListGroupHeaderBackground;
  --sapUiListGroupHeaderBorderColor: @sapUiListGroupHeaderBorderColor;
  --sapUiListGroupHeaderTextColor: @sapUiListGroupHeaderTextColor;
  --sapUiListFooterTextColor: @sapUiListFooterTextColor;














  --sapUiInfobarActiveBackground: @sapUiInfobarActiveBackground;




  --sapUiTileHoverBackground: @sapUiTileHoverBackground;
  --sapUiTileActiveBackground: @sapUiTileActiveBackground;



















































  --sapUiFontCondensedFamily: @sapUiFontCondensedFamily;
  --sapUiFontHeaderWeight: @sapUiFontHeaderWeight;
  --sapMFontMediumSize: @sapMFontMediumSize;
  --sapUiTranslucentBGOpacity: @sapUiTranslucentBGOpacity;
  --sapMPlatformDependent: @sapMPlatformDependent;
  --sapUiDesktopFontFamily: @sapUiDesktopFontFamily;
  --sapUiDesktopFontSize: @sapUiDesktopFontSize;
  --sapUiFontLargeSize: @sapUiFontLargeSize;
  --sapUiFontSmallSize: @sapUiFontSmallSize;
  --sapUiFontHeader1Size: @sapUiFontHeader1Size;
  --sapUiFontHeader2Size: @sapUiFontHeader2Size;
  --sapUiFontHeader3Size: @sapUiFontHeader3Size;
  --sapUiFontHeader4Size: @sapUiFontHeader4Size;
  --sapUiFontHeader5Size: @sapUiFontHeader5Size;
  --sapMFontHeader5Size: @sapMFontHeader5Size;
  --sapUiFontHeader6Size: @sapUiFontHeader6Size;
  --sapUiLineHeight: @sapUiLineHeight;





  --sapUiButtonHeaderTextColor: @sapUiButtonHeaderTextColor;
  --sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderDisabledTextColor;
  --sapUiButtonFooterHoverBackground: @sapUiButtonFooterHoverBackground;
  --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
  --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
  --sapUiSegmentedButtonBackground: @sapUiSegmentedButtonBackground;
  --sapUiSegmentedButtonBorderColor: @sapUiSegmentedButtonBorderColor;
  --sapUiSegmentedButtonHoverBackground: @sapUiSegmentedButtonHoverBackground;
  --sapUiSegmentedButtonActiveBackground: @sapUiSegmentedButtonActiveBackground;
  --sapUiSegmentedButtonSelectedBackground: @sapUiSegmentedButtonSelectedBackground;
  --sapUiSegmentedButtonSelectedTextColor: @sapUiSegmentedButtonSelectedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiSegmentedButtonSelectedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiSegmentedButtonSelectedHoverBorderColor;
  --sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonFooterBorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonFooterHoverBackground;
  --sapUiFieldActiveBackground: @sapUiFieldActiveBackground;
  --sapUiFieldActiveTextColor: @sapUiFieldActiveTextColor;
  --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;
  --sapUiListTableTextSize: @sapUiListTableTextSize;
  --sapUiListTableIconSize: @sapUiListTableIconSize;
  --sapUiCalendarColorToday: @sapUiCalendarColorToday;
  --sapUiShadowLevel0: @sapUiShadowLevel0;
  --sapUiShadowLevel1: @sapUiShadowLevel1;
  --sapUiShadowLevel2: @sapUiShadowLevel2;
  --sapUiShadowLevel3: @sapUiShadowLevel3;
  --sapUiShadowText: @sapUiShadowText;


  --sapUiCalloutShadow: @sapUiCalloutShadow;
  --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
  --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
  --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
  --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiToggleButtonPressedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
  --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
  --sapUiListSelectionHoverBackground: @sapUiListSelectionHoverBackground;
  --sapUiShadowHeader: @sapUiShadowHeader;
  // used in Token-parameters.css
  --sapUiButtonBackgroundDarken24: @sapUiButtonBackgroundDarken24;
  --sapUiButtonHoverBorderColorLighten30: @sapUiButtonHoverBorderColorLighten30;
}
