@media (prefers-color-scheme: dark) {
    :root {
        --sapUiBrand: var(--sapBrandColor);
        --sapUiHighlight: var(--sapHighlightColor);
        --sapUiBaseColor: var(--sapBaseColor);
        --sapUiShellColor: var(--sapShellColor);
        --sapUiBaseBG: var(--sapBackgroundColor);
        --sapUiGlobalBackgroundColor: var(--sapBackgroundColor);
        --sapUiFontFamily: var(--sapFontFamily);
        --sapUiFontSize: 16px;
        --sapUiBaseText: var(--sapTextColor);
        --sapUiLink: var(--sapLinkColor);
        --sapUiGlobalLogo: var(--sapCompanyLogo);
        --sapUiGlobalBackgroundImage: var(--sapBackgroundImage);
        --sapUiBackgroundImage: var(--sapBackgroundImage);
        --sapUiGlobalBackgroundImageOpacity: var(--sapBackgroundImageOpacity);
        --sapUiSelected: var(--sapSelectedColor);
        --sapUiActive: var(--sapActiveColor);
        --sapUiHighlightTextColor: var(--sapHighlightTextColor);
        --sapUiTextTitle: var(--sapTitleColor);
        --sapUiElementLineHeight: var(--sapElement_LineHeight);
        --sapUiElementHeight: var(--sapElement_Height);
        --sapUiElementBorderWidth: var(--sapElement_BorderWidth);
        --sapUiElementBorderCornerRadius: var(--sapElement_BorderCornerRadius);
        --sapUiContentLineHeight: var(--sapContent_LineHeight);
        --sapUiContentElementHeight: var(--sapContent_ElementHeight);
        --sapUiContentElementHeightPX: var(--sapContent_ElementHeight_PX);
        --sapUiContentIconHeight: var(--sapContent_IconHeight);
        --sapUiContentIconColor: var(--sapContent_IconColor);
        --sapUiContentContrastIconColor: var(--sapContent_ContrastIconColor);
        --sapUiContentNonInteractiveIconColor: var(--sapContent_NonInteractiveIconColor);
        --sapUiContentMarkerIconColor: var(--sapContent_MarkerIconColor);
        --sapUiContentMarkerTextColor: var(--sapContent_MarkerTextColor);
        --sapUiContentImagePlaceholderBackground: var(--sapContent_ImagePlaceholderBackground);
        --sapUiContentImagePlaceholderForegroundColor: var(--sapContent_ImagePlaceholderForegroundColor);
        --sapUiContentFocusColor: var(--sapContent_FocusColor);
        --sapUiContentContrastFocusColor: var(--sapContent_ContrastFocusColor);
        --sapUiContentShadowColor: var(--sapContent_ShadowColor);
        --sapUiContentContrastShadowColor: var(--sapContent_ContrastShadowColor);
        --sapUiContentShadow0: var(--sapContent_Shadow0);
        --sapUiContentShadow1: var(--sapContent_Shadow1);
        --sapUiContentShadow2: var(--sapContent_Shadow2);
        --sapUiContentShadow3: var(--sapContent_Shadow3);
        --sapUiContentHeaderShadow: var(--sapContent_HeaderShadow);
        --sapUiContentSearchHighlightColor: var(--sapContent_SearchHighlightColor);
        --sapUiContentHelpColor: var(--sapContent_HelpColor);
        --sapUiContentLabelColor: var(--sapContent_LabelColor);
        --sapUiContentDisabledTextColor: var(--sapContent_DisabledTextColor);
        --sapUiContentDisabledOpacity: var(--sapContent_DisabledOpacity);
        --sapUiContentContrastTextThreshold: var(--sapContent_ContrastTextThreshold);
        --sapUiContentContrastTextColor: var(--sapContent_ContrastTextColor);
        --sapUiContentForegroundColor: var(--sapContent_ForegroundColor);
        --sapUiContentForegroundBorderColor: var(--sapContent_ForegroundBorderColor);
        --sapUiContentForegroundTextColor: var(--sapContent_ForegroundTextColor);
        --sapUiContentBadgeBackground: var(--sapContent_BadgeBackground);
        --sapUiShellBackground: var(--sapShell_Background);
        --sapUiShellBackgroundImageOpacity: var(--sapShell_BackgroundImageOpacity);
        --sapUiShellBackgroundImageRepeat: var(--sapShell_BackgroundImageRepeat);
        --sapUiShellBackgroundPatternColor: var(--sapShell_BackgroundPatternColor);
        --sapUiShellBorderColor: var(--sapShell_BorderColor);
        --sapUiShellTextColor: var(--sapShell_TextColor);
        --sapUiShellInteractiveTextColor: var(--sapShell_InteractiveTextColor);
        --sapUiShellHoverBackground: var(--sapShell_Hover_Background);
        --sapUiShellActiveBackground: var(--sapShell_Active_Background);
        --sapUiShellActiveTextColor: var(--sapShell_Active_TextColor);
        --sapUiShellFavicon: var(--sapShell_Favicon);
        --sapUiButtonBorderWidth: var(--sapButton_BorderWidth);
        --sapUiButtonBorderCornerRadius: var(--sapButton_BorderCornerRadius);
        --sapUiButtonBackground: var(--sapButton_Background);
        --sapUiButtonBorderColor: var(--sapButton_BorderColor);
        --sapUiButtonTextColor: var(--sapButton_TextColor);
        --sapUiButtonHoverBackground: var(--sapButton_Hover_Background);
        --sapUiButtonHoverBorderColor: var(--sapButton_Hover_BorderColor);
        --sapUiButtonHoverTextColor: var(--sapButton_Hover_TextColor);
        --sapUiButtonIconColor: var(--sapButton_IconColor);
        --sapUiButtonActiveBackground: var(--sapButton_Active_Background);
        --sapUiButtonActiveBorderColor: var(--sapButton_Active_BorderColor);
        --sapUiButtonActiveTextColor: var(--sapButton_Active_TextColor);
        --sapUiButtonEmphasizedBackground: var(--sapButton_Emphasized_Background);
        --sapUiButtonEmphasizedBorderColor: var(--sapButton_Emphasized_BorderColor);
        --sapUiButtonEmphasizedTextColor: var(--sapButton_Emphasized_TextColor);
        --sapUiButtonEmphasizedHoverBackground: var(--sapButton_Emphasized_Hover_Background);
        --sapUiButtonEmphasizedHoverBorderColor: var(--sapButton_Emphasized_Hover_BorderColor);
        --sapUiButtonEmphasizedHoverTextColor: var(--sapButton_Emphasized_Hover_TextColor);
        --sapUiButtonEmphasizedActiveBackground: var(--sapButton_Emphasized_Active_Background);
        --sapUiButtonEmphasizedActiveBorderColor: var(--sapButton_Emphasized_Active_BorderColor);
        --sapUiButtonEmphasizedTextShadow: var(--sapButton_Emphasized_TextShadow);
        --sapUiButtonEmphasizedFontWeight: var(--sapButton_Emphasized_FontWeight);
        --sapUiButtonRejectBackground: var(--sapButton_Reject_Background);
        --sapUiButtonRejectBorderColor: var(--sapButton_Reject_BorderColor);
        --sapUiButtonRejectHoverBackground: var(--sapButton_Reject_Hover_Background);
        --sapUiButtonRejectHoverBorderColor: var(--sapButton_Reject_Hover_BorderColor);
        --sapUiButtonRejectHoverTextColor: var(--sapButton_Reject_Hover_TextColor);
        --sapUiButtonRejectActiveBackground: var(--sapButton_Reject_Active_Background);
        --sapUiButtonRejectActiveBorderColor: var(--sapButton_Reject_Active_BorderColor);
        --sapUiButtonRejectTextColor: var(--sapButton_Reject_TextColor);
        --sapUiButtonAcceptBackground: var(--sapButton_Accept_Background);
        --sapUiButtonAcceptBorderColor: var(--sapButton_Accept_BorderColor);
        --sapUiButtonAcceptHoverBackground: var(--sapButton_Accept_Hover_Background);
        --sapUiButtonAcceptHoverBorderColor: var(--sapButton_Accept_Hover_BorderColor);
        --sapUiButtonAcceptHoverTextColor: var(--sapButton_Accept_Hover_TextColor);
        --sapUiButtonAcceptActiveBackground: var(--sapButton_Accept_Active_Background);
        --sapUiButtonAcceptActiveBorderColor: var(--sapButton_Accept_Active_BorderColor);
        --sapUiButtonAcceptTextColor: var(--sapButton_Accept_TextColor);
        --sapUiFieldBackground: var(--sapField_Background);
        --sapUiFieldBorderColor: var(--sapField_BorderColor);
        --sapUiFieldTextColor: var(--sapField_TextColor);
        --sapUiFieldPlaceholderTextColor: var(--sapField_PlaceholderTextColor);
        --sapUiFieldHelpBackground: var(--sapField_HelpBackground);
        --sapUiFieldBorderWidth: var(--sapField_BorderWidth);
        --sapUiFieldBorderCornerRadius: var(--sapField_BorderCornerRadius);
        --sapUiFieldHoverBackground: var(--sapField_Hover_Background);
        --sapUiFieldHoverBorderColor: var(--sapField_Hover_BorderColor);
        --sapUiFieldHoverHelpBackground: var(--sapField_Hover_HelpBackground);
        --sapUiFieldActiveBorderColor: var(--sapField_Active_BorderColor);
        --sapUiFieldFocusBackground: var(--sapField_Focus_Background);
        --sapUiFieldFocusBorderColor: var(--sapField_Focus_BorderColor);
        --sapUiFieldFocusHelpBackground: var(--sapField_Focus_HelpBackground);
        --sapUiFieldReadOnlyBackground: var(--sapField_ReadOnly_Background);
        --sapUiFieldReadOnlyBorderColor: var(--sapField_ReadOnly_BorderColor);
        --sapUiFieldReadOnlyHelpBackground: var(--sapField_ReadOnly_HelpBackground);
        --sapUiFieldRequiredColor: var(--sapField_RequiredColor);
        --sapUiFieldInvalidColor: var(--sapField_InvalidColor);
        --sapUiFieldInvalidBackground: var(--sapField_InvalidBackground);
        --sapUiFieldWarningColor: var(--sapField_WarningColor);
        --sapUiFieldWarningBackground: var(--sapField_WarningBackground);
        --sapUiFieldSuccessColor: var(--sapField_SuccessColor);
        --sapUiFieldSuccessBackground: var(--sapField_SuccessBackground);
        --sapUiFieldInformationColor: var(--sapField_InformationColor);
        --sapUiFieldInformationBackground: var(--sapField_InformationBackground);
        --sapUiGroupTitleBackground: var(--sapGroup_TitleBackground);
        --sapUiGroupTitleBorderColor: var(--sapGroup_TitleBorderColor);
        --sapUiGroupTitleTextColor: var(--sapGroup_TitleTextColor);
        --sapUiGroupContentBackground: var(--sapGroup_ContentBackground);
        --sapUiGroupContentBorderColor: var(--sapGroup_ContentBorderColor);
        --sapUiGroupBorderWidth: var(--sapGroup_BorderWidth);
        --sapUiGroupFooterBackground: var(--sapGroup_FooterBackground);
        --sapUiToolbarBackground: var(--sapToolbar_Background);
        --sapUiToolbarSeparatorColor: var(--sapToolbar_SeparatorColor);
        --sapUiListHeaderBackground: var(--sapList_HeaderBackground);
        --sapUiListHeaderBorderColor: var(--sapList_HeaderBorderColor);
        --sapUiListHeaderTextColor: var(--sapList_HeaderTextColor);
        --sapUiListBorderColor: var(--sapList_BorderColor);
        --sapUiListBorderWidth: var(--sapList_BorderWidth);
        --sapUiListTextColor: var(--sapList_TextColor);
        --sapUiListActiveBackground: var(--sapList_Active_Background);
        --sapUiListActiveTextColor: var(--sapList_Active_TextColor);
        --sapUiListHighlightColor: var(--sapList_HighlightColor);
        --sapUiListSelectionBackgroundColor: var(--sapList_SelectionBackgroundColor);
        --sapUiListSelectionBorderColor: var(--sapList_SelectionBorderColor);
        --sapUiListHoverSelectionBackground: var(--sapList_Hover_SelectionBackground);
        --sapUiListBackground: var(--sapList_Background);
        --sapUiListHoverBackground: var(--sapList_Hover_Background);
        --sapUiListGroupHeaderBackground: var(--sapList_GroupHeaderBackground);
        --sapUiListGroupHeaderBorderColor: var(--sapList_GroupHeaderBorderColor);
        --sapUiListGroupHeaderTextColor: var(--sapList_GroupHeaderTextColor);
        --sapUiListFooterBackground: var(--sapList_FooterBackground);
        --sapUiListFooterTextColor: var(--sapList_FooterTextColor);
        --sapUiListTableGroupHeaderBackground: var(--sapList_TableGroupHeaderBackground);
        --sapUiListTableGroupHeaderBorderColor: var(--sapList_TableGroupHeaderBorderColor);
        --sapUiListTableGroupHeaderTextColor: var(--sapList_TableGroupHeaderTextColor);
        --sapUiScrollBarFaceColor: var(--sapScrollBar_FaceColor);
        --sapUiScrollBarTrackColor: var(--sapScrollBar_TrackColor);
        --sapUiScrollBarBorderColor: var(--sapScrollBar_BorderColor);
        --sapUiScrollBarSymbolColor: var(--sapScrollBar_SymbolColor);
        --sapUiScrollBarDimension: var(--sapScrollBar_Dimension);
        --sapUiScrollBarHoverFaceColor: var(--sapScrollBar_Hover_FaceColor);
        --sapUiPageHeaderBackground: var(--sapPageHeader_Background);
        --sapUiPageHeaderBorderColor: var(--sapPageHeader_BorderColor);
        --sapUiPageHeaderTextColor: var(--sapPageHeader_TextColor);
        --sapUiPageFooterBackground: var(--sapPageFooter_Background);
        --sapUiPageFooterBorderColor: var(--sapPageFooter_BorderColor);
        --sapUiPageFooterTextColor: var(--sapPageFooter_TextColor);
        --sapUiInfobarBackground: var(--sapInfobar_Background);
        --sapUiInfobarHoverBackground: var(--sapInfobar_Hover_Background);
        --sapUiInfobarActiveBackground: var(--sapInfobar_Active_Background);
        --sapUiObjectHeaderBackground: var(--sapObjectHeader_Background);
        --sapUiObjectHeaderBorderColor: var(--sapObjectHeader_BorderColor);
        --sapUiBlockLayerBackground: var(--sapBlockLayer_Background);
        --sapUiTileBackground: var(--sapTile_Background);
        --sapUiTileHoverBackground: var(--sapTile_Hover_Background);
        --sapUiTileActiveBackground: var(--sapTile_Active_Background);
        --sapUiTileBorderColor: var(--sapTile_BorderColor);
        --sapUiTileTitleTextColor: var(--sapTile_TitleTextColor);
        --sapUiTileTextColor: var(--sapTile_TextColor);
        --sapUiTileIconColor: var(--sapTile_IconColor);
        --sapUiPrimary1: var(--sapPrimary1);
        --sapUiPrimary2: var(--sapPrimary2);
        --sapUiPrimary3: var(--sapPrimary3);
        --sapUiPrimary4: var(--sapPrimary4);
        --sapUiPrimary5: var(--sapPrimary5);
        --sapUiPrimary6: var(--sapPrimary6);
        --sapUiPrimary7: var(--sapPrimary7);
        --sapUiAccent1: var(--sapAccentColor1);
        --sapUiAccent2: var(--sapAccentColor2);
        --sapUiAccent3: var(--sapAccentColor3);
        --sapUiAccent4: var(--sapAccentColor4);
        --sapUiAccent5: var(--sapAccentColor5);
        --sapUiAccent6: var(--sapAccentColor6);
        --sapUiAccent7: var(--sapAccentColor7);
        --sapUiAccent8: var(--sapAccentColor8);
        --sapUiAccent9: var(--sapAccentColor9);
        --sapUiAccent10: var(--sapAccentColor10);
        --sapUiErrorBG: var(--sapErrorBackground);
        --sapUiWarningBG: var(--sapWarningBackground);
        --sapUiSuccessBG: var(--sapSuccessBackground);
        --sapUiInformationBG: var(--sapInformationBackground);
        --sapUiNeutralBG: var(--sapNeutralBackground);
        --sapUiErrorBorder:  var(--sapErrorBorderColor);
        --sapUiWarningBorder: var(--sapWarningBorderColor);
        --sapUiSuccessBorder: var(--sapSuccessBorderColor);
        --sapUiInformationBorder: var(--sapInformationBorderColor);
        --sapUiNeutralBorder: var(--sapNeutralColor);
        --sapUiNegativeElement: var(--sapNegativeElementColor);
        --sapUiCriticalElement: var(--sapCriticalElementColor);
        --sapUiPositiveElement: var(--sapPositiveElementColor);
        --sapUiInformativeElement: var(--sapInformativeElementColor);
        --sapUiNeutralElement: var(--sapNeutralElementColor);
        --sapUiNegativeText: var(--sapNegativeTextColor);
        --sapUiCriticalText: var(--sapCriticalTextColor);
        --sapUiPositiveText: var(--sapPositiveTextColor);
        --sapUiInformativeText: var(--sapInformativeTextColor);
        --sapUiNeutralText: var(--sapNeutralTextColor);
        --sapUiNegative: var(--sapNegativeColor);
        --sapUiCritical: var(--sapCriticalColor);
        --sapUiPositive: var(--sapPositiveColor);
        --sapUiInformative: var(--sapInformativeColor);
        --sapUiNeutral: var(--sapNeutralColor);
        --sapUiIndication1: var(--sapIndicationColor_1);
        --sapUiIndication2: var(--sapIndicationColor_2);
        --sapUiIndication3: var(--sapIndicationColor_3);
        --sapUiIndication4: var(--sapIndicationColor_4);
        --sapUiIndication5: var(--sapIndicationColor_5);
        --sapUiFontCondensedFamily: "72 Condensed", 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
        --sapUiFontHeaderWeight: normal;
        --sapMFontMediumSize: 0.875rem;
        --sapUiTranslucentBGOpacity: 0;
        --sapMPlatformDependent: false;
        --sapUiDesktopFontFamily: var(--sapUiFontFamily);
        --sapUiDesktopFontSize: 12px;
        --sapUiFontLargeSize: 13px;
        --sapUiFontSmallSize: 11px;
        --sapUiFontHeader1Size: 26px;
        --sapUiFontHeader2Size: 20px;
        --sapUiFontHeader3Size: 18px;
        --sapUiFontHeader4Size: 16px;
        --sapUiFontHeader5Size: 14px;
        --sapMFontHeader5Size: 1rem;
        --sapUiFontHeader6Size: var(--sapUiFontLargeSize);
        --sapUiLineHeight: 18px;
        --sapUiShellContainerBackground: var(--sapUiGroupContentBackground);
        --sapUiShellAltContainerBackground: var(--sapUiShellContainerBackground);
        --sapUiShellGroupTextColor: var(--sapUiTextTitle);
        --sapUiLinkActive: var(--sapUiLink);
        --sapUiLinkVisited: var(--sapUiLink);
        --sapUiButtonHeaderTextColor: var(--sapUiButtonTextColor);
        --sapUiButtonHeaderDisabledTextColor: var(--sapUiButtonHeaderTextColor);
        --sapUiButtonFooterHoverBackground: var(--sapUiButtonLiteHoverBackground);
        --sapUiButtonActionSelectBackground: var(--sapUiListBackground);
        --sapUiButtonActionSelectBorderColor: var(--sapUiListBorderColor);
        --sapUiButtonLiteActionSelectHoverBackground: var(--sapUiListHoverBackground);
        --sapUiButtonLiteHoverBackground: var(--sapUiButtonHoverBackground);
        --sapUiToggleButtonPressedBackground: var(--sapUiSelected);
        --sapUiToggleButtonPressedBorderColor: var(--sapUiToggleButtonPressedBackground);
        --sapUiToggleButtonPressedHoverBorderColor: var(--sapUiToggleButtonPressedHoverBackground);
        --sapUiSegmentedButtonBackground: var(--sapUiButtonBackground);
        --sapUiSegmentedButtonBorderColor: var(--sapUiButtonBorderColor);
        --sapUiSegmentedButtonHoverBackground: var(--sapUiButtonHoverBackground);
        --sapUiSegmentedButtonActiveBackground: var(--sapUiButtonActiveBackground);
        --sapUiSegmentedButtonSelectedBackground: var(--sapUiToggleButtonPressedBackground);
        --sapUiSegmentedButtonSelectedTextColor: var(--sapUiToggleButtonPressedTextColor);
        --sapUiSegmentedButtonSelectedHoverBackground: var(--sapUiToggleButtonPressedHoverBackground);
        --sapUiSegmentedButtonSelectedHoverBorderColor: var(--sapUiToggleButtonPressedHoverBorderColor);
        --sapUiSegmentedButtonFooterBorderColor: var(--sapUiSegmentedButtonBorderColor);
        --sapUiSegmentedButtonFooterHoverBackground: var(--sapUiSegmentedButtonHoverBackground);
        --sapUiFieldActiveBackground: var(--sapUiActive);
        --sapUiFieldActiveTextColor: var(--sapUiContentContrastTextColor);
        --sapUiListVerticalBorderColor: var(--sapUiListBorderColor);
        --sapUiListTableTextSize: 0.875rem;
        --sapUiListTableIconSize: 1rem;
        --sapUiCalendarColorToday: var(--sapUiAccent4);
        --sapUiShadowLevel0: var(--sapContent_Shadow0);
        --sapUiShadowLevel1: var(--sapContent_Shadow1);
        --sapUiShadowLevel2: var(--sapContent_Shadow2);
        --sapUiShadowLevel3: var(--sapContent_Shadow3);
        --sapUiShadowText: 0 0 0.125rem var(--sapUiContentContrastShadowColor);
    }
}
