@import "global-parameters.less";

:root {
  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
  --sapUiButtonEmphasizedHoverTextColor: @sapUiButtonEmphasizedHoverTextColor;
  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
  --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;
  --sapUiButtonEmphasizedFontWeight: @sapUiButtonEmphasizedFontWeight;
  --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;
  --sapUiButtonRejectHoverTextColor: @sapUiButtonRejectHoverTextColor;
  --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;
  --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;
  --sapUiButtonAcceptHoverTextColor: @sapUiButtonAcceptHoverTextColor;
  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
  --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
  --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
}
