@media (prefers-color-scheme: dark) {
  :root {
    --sapUiBrand: @sapUiBrand;
    --sapUiHighlight: @sapUiHighlight;
    --sapUiBaseColor: @sapUiBaseColor;
    --sapUiShellColor: @sapUiShellColor;
    --sapUiBaseBG: @sapUiBaseBG;
    --sapUiGlobalBackgroundColor: @sapUiGlobalBackgroundColor;
    --sapUiFontFamily: @sapUiFontFamily;
    --sapUiFontSize: @sapUiFontSize;
    --sapUiBaseText: @sapUiBaseText;
    --sapUiLink: @sapUiLink;
    --sapUiGlobalLogo: @sapUiGlobalLogo;
    --sapUiGlobalBackgroundImage: @sapUiGlobalBackgroundImage;
    --sapUiBackgroundImage: @sapUiBackgroundImage;
    --sapUiGlobalBackgroundImageOpacity: @sapUiGlobalBackgroundImageOpacity;
    --sapUiSelected: @sapUiSelected;
    --sapUiActive: @sapUiActive;
    --sapUiHighlightTextColor: @sapUiHighlightTextColor;
    --sapUiTextTitle: @sapUiTextTitle;
    --sapUiElementLineHeight: @sapUiElementLineHeight;
    --sapUiElementHeight: @sapUiElementHeight;
    --sapUiElementBorderWidth: @sapUiElementBorderWidth;
    --sapUiElementBorderCornerRadius: @sapUiElementBorderCornerRadius;
    --sapUiContentLineHeight: @sapUiContentLineHeight;
    --sapUiContentElementHeight: @sapUiContentElementHeight;
    --sapUiContentElementHeightPX: @sapUiContentElementHeightPX;
    --sapUiContentIconHeight: @sapUiContentIconHeight;
    --sapUiContentIconColor: @sapUiContentIconColor;
    --sapUiContentContrastIconColor: @sapUiContentContrastIconColor;
    --sapUiContentNonInteractiveIconColor: @sapUiContentNonInteractiveIconColor;
    --sapUiContentMarkerIconColor: @sapUiContentMarkerIconColor;
    --sapUiContentMarkerTextColor: @sapUiContentMarkerTextColor;
    --sapUiContentImagePlaceholderBackground: @sapUiContentImagePlaceholderBackground;
    --sapUiContentImagePlaceholderForegroundColor: @sapUiContentImagePlaceholderForegroundColor;
    --sapUiContentFocusColor: @sapUiContentFocusColor;
    --sapUiContentContrastFocusColor: @sapUiContentContrastFocusColor;
    --sapUiContentShadowColor: @sapUiContentShadowColor;
    --sapUiContentContrastShadowColor: @sapUiContentContrastShadowColor;
    --sapUiContentShadow0: @sapUiContentShadow0;
    --sapUiContentShadow1: @sapUiContentShadow1;
    --sapUiContentShadow2: @sapUiContentShadow2;
    --sapUiContentShadow3: @sapUiContentShadow3;
    --sapUiContentHeaderShadow: @sapUiContentHeaderShadow;
    --sapUiContentSearchHighlightColor: @sapUiContentSearchHighlightColor;
    --sapUiContentHelpColor: @sapUiContentHelpColor;
    --sapUiContentLabelColor: @sapUiContentLabelColor;
    --sapUiContentDisabledTextColor: @sapUiContentDisabledTextColor;
    --sapUiContentDisabledOpacity: @sapUiContentDisabledOpacity;
    --sapUiContentContrastTextThreshold: @sapUiContentContrastTextThreshold;
    --sapUiContentContrastTextColor: @sapUiContentContrastTextColor;
    --sapUiContentForegroundColor: @sapUiContentForegroundColor;
    --sapUiContentForegroundBorderColor: @sapUiContentForegroundBorderColor;
    --sapUiContentForegroundTextColor: @sapUiContentForegroundTextColor;
    --sapUiContentBadgeBackground: @sapUiContentBadgeBackground;
    --sapUiShellBackground: @sapUiShellBackground;
    --sapUiShellBackgroundImageOpacity: @sapUiShellBackgroundImageOpacity;
    --sapUiShellBackgroundImageRepeat: @sapUiShellBackgroundImageRepeat;
    --sapUiShellBackgroundPatternColor: @sapUiShellBackgroundPatternColor;
    --sapUiShellBorderColor: @sapUiShellBorderColor;
    --sapUiShellTextColor: @sapUiShellTextColor;
    --sapUiShellInteractiveTextColor: @sapUiShellInteractiveTextColor;
    --sapUiShellHoverBackground: @sapUiShellHoverBackground;
    --sapUiShellActiveBackground: @sapUiShellActiveBackground;
    --sapUiShellActiveTextColor: @sapUiShellActiveTextColor;
    --sapUiShellFavicon: @sapUiShellFavicon;
    --sapUiButtonBorderWidth: @sapUiButtonBorderWidth;
    --sapUiButtonBorderCornerRadius: @sapUiButtonBorderCornerRadius;
    --sapUiButtonBackground: @sapUiButtonBackground;
    --sapUiButtonBorderColor: @sapUiButtonBorderColor;
    --sapUiButtonTextColor: @sapUiButtonTextColor;
    --sapUiButtonHoverBackground: @sapUiButtonHoverBackground;
    --sapUiButtonHoverBorderColor: @sapUiButtonHoverBorderColor;
    --sapUiButtonHoverTextColor: @sapUiButtonHoverTextColor;
    --sapUiButtonIconColor: @sapUiButtonIconColor;
    --sapUiButtonActiveBackground: @sapUiButtonActiveBackground;
    --sapUiButtonActiveBorderColor: @sapUiButtonActiveBorderColor;
    --sapUiButtonActiveTextColor: @sapUiButtonActiveTextColor;
    --sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBackground;
    --sapUiButtonEmphasizedBorderColor: @sapUiButtonEmphasizedBorderColor;
    --sapUiButtonEmphasizedTextColor: @sapUiButtonEmphasizedTextColor;
    --sapUiButtonEmphasizedHoverBackground: @sapUiButtonEmphasizedHoverBackground;
    --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
    --sapUiButtonEmphasizedHoverTextColor: @sapUiButtonEmphasizedHoverTextColor;
    --sapUiButtonEmphasizedActiveBackground: @sapUiButtonEmphasizedActiveBackground;
    --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
    --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;
    --sapUiButtonEmphasizedFontWeight: @sapUiButtonEmphasizedFontWeight;
    --sapUiButtonRejectBackground: @sapUiButtonRejectBackground;
    --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
    --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
    --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;
    --sapUiButtonRejectHoverTextColor: @sapUiButtonRejectHoverTextColor;
    --sapUiButtonRejectActiveBackground: @sapUiButtonRejectActiveBackground;
    --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;
    --sapUiButtonRejectTextColor: @sapUiButtonRejectTextColor;
    --sapUiButtonAcceptBackground: @sapUiButtonAcceptBackground;
    --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
    --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
    --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;
    --sapUiButtonAcceptHoverTextColor: @sapUiButtonAcceptHoverTextColor;
    --sapUiButtonAcceptActiveBackground: @sapUiButtonAcceptActiveBackground;
    --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
    --sapUiButtonAcceptTextColor: @sapUiButtonAcceptTextColor;
    --sapUiFieldBackground: @sapUiFieldBackground;
    --sapUiFieldBorderColor: @sapUiFieldBorderColor;
    --sapUiFieldTextColor: @sapUiFieldTextColor;
    --sapUiFieldPlaceholderTextColor: @sapUiFieldPlaceholderTextColor;
    --sapUiFieldHelpBackground: @sapUiFieldHelpBackground;
    --sapUiFieldBorderWidth: @sapUiFieldBorderWidth;
    --sapUiFieldBorderCornerRadius: @sapUiFieldBorderCornerRadius;
    --sapUiFieldHoverBackground: @sapUiFieldHoverBackground;
    --sapUiFieldHoverBorderColor: @sapUiFieldHoverBorderColor;
    --sapUiFieldHoverHelpBackground: @sapUiFieldHoverHelpBackground;
    --sapUiFieldActiveBorderColor: @sapUiFieldActiveBorderColor;
    --sapUiFieldFocusBackground: @sapUiFieldFocusBackground;
    --sapUiFieldFocusBorderColor: @sapUiFieldFocusBorderColor;
    --sapUiFieldFocusHelpBackground: @sapUiFieldFocusHelpBackground;
    --sapUiFieldReadOnlyBackground: @sapUiFieldReadOnlyBackground;
    --sapUiFieldReadOnlyBorderColor: @sapUiFieldReadOnlyBorderColor;
    --sapUiFieldReadOnlyHelpBackground: @sapUiFieldReadOnlyHelpBackground;
    --sapUiFieldRequiredColor: @sapUiFieldRequiredColor;
    --sapUiFieldInvalidColor: @sapUiFieldInvalidColor;
    --sapUiFieldInvalidBackground: @sapUiFieldInvalidBackground;
    --sapUiFieldWarningColor: @sapUiFieldWarningColor;
    --sapUiFieldWarningBackground: @sapUiFieldWarningBackground;
    --sapUiFieldSuccessColor: @sapUiFieldSuccessColor;
    --sapUiFieldSuccessBackground: @sapUiFieldSuccessBackground;
    --sapUiFieldInformationColor: @sapUiFieldInformationColor;
    --sapUiFieldInformationBackground: @sapUiFieldInformationBackground;
    --sapUiGroupTitleBackground: @sapUiGroupTitleBackground;
    --sapUiGroupTitleBorderColor: @sapUiGroupTitleBorderColor;
    --sapUiGroupTitleTextColor: @sapUiGroupTitleTextColor;
    --sapUiGroupContentBackground: @sapUiGroupContentBackground;
    --sapUiGroupContentBorderColor: @sapUiGroupContentBorderColor;
    --sapUiGroupBorderWidth: @sapUiGroupBorderWidth;
    --sapUiGroupFooterBackground: @sapUiGroupFooterBackground;
    --sapUiToolbarBackground: @sapUiToolbarBackground;
    --sapUiToolbarSeparatorColor: @sapUiToolbarSeparatorColor;
    --sapUiListHeaderBackground: @sapUiListHeaderBackground;
    --sapUiListHeaderBorderColor: @sapUiListHeaderBorderColor;
    --sapUiListHeaderTextColor: @sapUiListHeaderTextColor;
    --sapUiListBorderColor: @sapUiListBorderColor;
    --sapUiListBorderWidth: @sapUiListBorderWidth;
    --sapUiListTextColor: @sapUiListTextColor;
    --sapUiListActiveBackground: @sapUiListActiveBackground;
    --sapUiListActiveTextColor: @sapUiListActiveTextColor;
    --sapUiListHighlightColor: @sapUiListHighlightColor;
    --sapUiListSelectionBackgroundColor: @sapUiListSelectionBackgroundColor;
    --sapUiListSelectionBorderColor: @sapUiListSelectionBorderColor;
    --sapUiListHoverSelectionBackground: @sapUiListHoverSelectionBackground;
    --sapUiListBackground: @sapUiListBackground;
    --sapUiListHoverBackground: @sapUiListHoverBackground;
    --sapUiListGroupHeaderBackground: @sapUiListGroupHeaderBackground;
    --sapUiListGroupHeaderBorderColor: @sapUiListGroupHeaderBorderColor;
    --sapUiListGroupHeaderTextColor: @sapUiListGroupHeaderTextColor;
    --sapUiListFooterBackground: @sapUiListFooterBackground;
    --sapUiListFooterTextColor: @sapUiListFooterTextColor;
    --sapUiListTableGroupHeaderBackground: @sapUiListTableGroupHeaderBackground;
    --sapUiListTableGroupHeaderBorderColor: @sapUiListTableGroupHeaderBorderColor;
    --sapUiListTableGroupHeaderTextColor: @sapUiListTableGroupHeaderTextColor;
    --sapUiScrollBarFaceColor: @sapUiScrollBarFaceColor;
    --sapUiScrollBarTrackColor: @sapUiScrollBarTrackColor;
    --sapUiScrollBarBorderColor: @sapUiScrollBarBorderColor;
    --sapUiScrollBarSymbolColor: @sapUiScrollBarSymbolColor;
    --sapUiScrollBarDimension: @sapUiScrollBarDimension;
    --sapUiScrollBarHoverFaceColor: @sapUiScrollBarHoverFaceColor;
    --sapUiPageHeaderBackground: @sapUiPageHeaderBackground;
    --sapUiPageHeaderBorderColor: @sapUiPageHeaderBorderColor;
    --sapUiPageHeaderTextColor: @sapUiPageHeaderTextColor;
    --sapUiPageFooterBackground: @sapUiPageFooterBackground;
    --sapUiPageFooterBorderColor: @sapUiPageFooterBorderColor;
    --sapUiPageFooterTextColor: @sapUiPageFooterTextColor;
    --sapUiInfobarBackground: @sapUiInfobarBackground;
    --sapUiInfobarHoverBackground: @sapUiInfobarHoverBackground;
    --sapUiInfobarActiveBackground: @sapUiInfobarActiveBackground;
    --sapUiObjectHeaderBackground: @sapUiObjectHeaderBackground;
    --sapUiObjectHeaderBorderColor: @sapUiObjectHeaderBorderColor;
    --sapUiBlockLayerBackground: @sapUiBlockLayerBackground;
    --sapUiTileBackground: @sapUiTileBackground;
    --sapUiTileHoverBackground: @sapUiTileHoverBackground;
    --sapUiTileActiveBackground: @sapUiTileActiveBackground;
    --sapUiTileBorderColor: @sapUiTileBorderColor;
    --sapUiTileTitleTextColor: @sapUiTileTitleTextColor;
    --sapUiTileTextColor: @sapUiTileTextColor;
    --sapUiTileIconColor: @sapUiTileIconColor;
    --sapUiPrimary1: @sapUiPrimary1;
    --sapUiPrimary2: @sapUiPrimary2;
    --sapUiPrimary3: @sapUiPrimary3;
    --sapUiPrimary4: @sapUiPrimary4;
    --sapUiPrimary5: @sapUiPrimary5;
    --sapUiPrimary6: @sapUiPrimary6;
    --sapUiPrimary7: @sapUiPrimary7;
    --sapUiAccent1: @sapUiAccent1;
    --sapUiAccent2: @sapUiAccent2;
    --sapUiAccent3: @sapUiAccent3;
    --sapUiAccent4: @sapUiAccent4;
    --sapUiAccent5: @sapUiAccent5;
    --sapUiAccent6: @sapUiAccent6;
    --sapUiAccent7: @sapUiAccent7;
    --sapUiAccent8: @sapUiAccent8;
    --sapUiAccent9: @sapUiAccent9;
    --sapUiAccent10: @sapUiAccent10;
    --sapUiErrorBG: @sapUiErrorBG;
    --sapUiWarningBG: @sapUiWarningBG;
    --sapUiSuccessBG: @sapUiSuccessBG;
    --sapUiInformationBG: @sapUiInformationBG;
    --sapUiNeutralBG: @sapUiNeutralBG;
    --sapUiErrorBorder: @sapUiErrorBorder;
    --sapUiWarningBorder: @sapUiWarningBorder;
    --sapUiSuccessBorder: @sapUiSuccessBorder;
    --sapUiInformationBorder: @sapUiInformationBorder;
    --sapUiNeutralBorder: @sapUiNeutralBorder;
    --sapUiNegativeElement: @sapUiNegativeElement;
    --sapUiCriticalElement: @sapUiCriticalElement;
    --sapUiPositiveElement: @sapUiPositiveElement;
    --sapUiInformativeElement: @sapUiInformativeElement;
    --sapUiNeutralElement: @sapUiNeutralElement;
    --sapUiNegativeText: @sapUiNegativeText;
    --sapUiCriticalText: @sapUiCriticalText;
    --sapUiPositiveText: @sapUiPositiveText;
    --sapUiInformativeText: @sapUiInformativeText;
    --sapUiNeutralText: @sapUiNeutralText;
    --sapUiNegative: @sapUiNegative;
    --sapUiCritical: @sapUiCritical;
    --sapUiPositive: @sapUiPositive;
    --sapUiInformative: @sapUiInformative;
    --sapUiNeutral: @sapUiNeutral;
    --sapUiIndication1: @sapUiIndication1;
    --sapUiIndication2: @sapUiIndication2;
    --sapUiIndication3: @sapUiIndication3;
    --sapUiIndication4: @sapUiIndication4;
    --sapUiIndication5: @sapUiIndication5;
    --sapUiFontCondensedFamily: @sapUiFontCondensedFamily;
    --sapUiFontHeaderWeight: @sapUiFontHeaderWeight;
    --sapMFontMediumSize: @sapMFontMediumSize;
    --sapUiTranslucentBGOpacity: @sapUiTranslucentBGOpacity;
    --sapMPlatformDependent: @sapMPlatformDependent;
    --sapUiDesktopFontFamily: @sapUiDesktopFontFamily;
    --sapUiDesktopFontSize: @sapUiDesktopFontSize;
    --sapUiFontLargeSize: @sapUiFontLargeSize;
    --sapUiFontSmallSize: @sapUiFontSmallSize;
    --sapUiFontHeader1Size: @sapUiFontHeader1Size;
    --sapUiFontHeader2Size: @sapUiFontHeader2Size;
    --sapUiFontHeader3Size: @sapUiFontHeader3Size;
    --sapUiFontHeader4Size: @sapUiFontHeader4Size;
    --sapUiFontHeader5Size: @sapUiFontHeader5Size;
    --sapMFontHeader5Size: @sapMFontHeader5Size;
    --sapUiFontHeader6Size: @sapUiFontHeader6Size;
    --sapUiLineHeight: @sapUiLineHeight;
    --sapUiShellContainerBackground: @sapUiShellContainerBackground;
    --sapUiShellAltContainerBackground: @sapUiShellAltContainerBackground;
    --sapUiShellGroupTextColor: @sapUiShellGroupTextColor;
    --sapUiLinkActive: @sapUiLinkActive;
    --sapUiLinkVisited: @sapUiLinkVisited;
    --sapUiButtonHeaderTextColor: @sapUiButtonHeaderTextColor;
    --sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderDisabledTextColor;
    --sapUiButtonFooterHoverBackground: @sapUiButtonFooterHoverBackground;
    --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
    --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
    --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
    --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;
    --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
    --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;
    --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
    --sapUiSegmentedButtonBackground: @sapUiSegmentedButtonBackground;
    --sapUiSegmentedButtonBorderColor: @sapUiSegmentedButtonBorderColor;
    --sapUiSegmentedButtonHoverBackground: @sapUiSegmentedButtonHoverBackground;
    --sapUiSegmentedButtonActiveBackground: @sapUiSegmentedButtonActiveBackground;
    --sapUiSegmentedButtonSelectedBackground: @sapUiSegmentedButtonSelectedBackground;
    --sapUiSegmentedButtonSelectedTextColor: @sapUiSegmentedButtonSelectedTextColor;
    --sapUiSegmentedButtonSelectedHoverBackground: @sapUiSegmentedButtonSelectedHoverBackground;
    --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiSegmentedButtonSelectedHoverBorderColor;
    --sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonFooterBorderColor;
    --sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonFooterHoverBackground;
    --sapUiFieldActiveBackground: @sapUiFieldActiveBackground;
    --sapUiFieldActiveTextColor: @sapUiFieldActiveTextColor;
    --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;
    --sapUiListTableTextSize: @sapUiListTableTextSize;
    --sapUiListTableIconSize: @sapUiListTableIconSize;
    --sapUiCalendarColorToday: @sapUiCalendarColorToday;
    --sapUiShadowLevel0: @sapUiShadowLevel0;
    --sapUiShadowLevel1: @sapUiShadowLevel1;
    --sapUiShadowLevel2: @sapUiShadowLevel2;
    --sapUiShadowLevel3: @sapUiShadowLevel3;
    --sapUiShadowText: @sapUiShadowText;

    --sapUiLinkHover: @sapUiLinkHover;
    --sapUiLinkInverted: @sapUiLinkInverted;
    --sapUiCalloutShadow: @sapUiCalloutShadow;

    --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
    --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
    --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
    --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
    --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
    --sapUiToggleButtonPressedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
    --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
    --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
    --sapUiListSelectionHoverBackground: @sapUiListSelectionHoverBackground;
    --sapUiShadowHeader: @sapUiShadowHeader;

    // used in Token-parameters.css
    --sapUiButtonBackgroundDarken24: @sapUiButtonBackgroundDarken24;
    --sapUiButtonHoverBorderColorLighten30: @sapUiButtonHoverBorderColorLighten30;

  }
}
