# Ignore .gitignore, target, dist and tmp folders
.gitignore
!packages/create-package/template/.gitignore
!packages/website/.gitignore
dist
**/src/generated
**/test/test-elements/generated
.dev-server-port

# Code coverage
coverage
.nyc_output

# Cypress internal logs
cypress-logs

# scoping feature generated entry points for vite consumption
packages/compat/test/pages/scoped
packages/main/test/pages/scoped
packages/fiori/test/pages/scoped
packages/ai/test/pages/scoped

# Ignore npm files/folders
node_modules
npm-debug.log

# Ignore Mac files
.DS_Store

# Ignore Visual Studio project and settings files
*.sln
*.suo
web.config
/.user.project.json
/sap-ui-cachebuster-info.json

# Ignore Visual Studio Code project and settings files
.vscode/
.idea/

# Ignore yarn files
yarn-error.log*
yarn-debug.log*
.yarn-integrity


# Playground
packages/playground/_site/
packages/playground/.sass-cache/
packages/playground/assets/js/ui5-webcomponents/

packages/playground/docs/components
!packages/playground/docs/components/component.md

packages/playground/docs/documentation
!packages/playground/docs/documentation/documentation.md

packages/playground/docs/tutorials
!packages/playground/docs/tutorials/tutorials.md

packages/playground/docs/pages/content/main/*
packages/playground/docs/pages/content/fiori/*

packages/playground/docs/advanced
packages/playground/docs/contributing/
packages/playground/docs/customizing/
packages/playground/docs/development/
packages/playground/docs/frameworks/
packages/playground/docs/getting-started/
packages/playground/docs/FAQ.md

# Ignore the generated storybook related files
packages/playground/_stories/**/*/argTypes.ts
packages/playground/_stories/**/*/*Overview.mdx
packages/playground/_stories/**/Enums.mdx
packages/playground/_stories/**/Interfaces.mdx
packages/playground/.storybook/custom-elements.json
packages/playground/docs/storybook/**/*
packages/playground/docs/storybook-pages/**/*
!packages/playground/docs/storybook-pages/.gitkeep
packages/playground/public/sitemap.xml

packages/main/test/pages/fix.js
packages/fiori/test/pages/fix.js

# coming from main and fiori bundles for the test pages
packages/playground/assets/*.js
packages/playground/assets/*.png
packages/playground/assets/*.jpg
packages/playground/assets/*.gif
packages/playground/assets/*.css
packages/playground/assets/test/pages/*.css
packages/playground/assets/test/pages/*.js
