# Ignore .gitignore, target, dist and tmp folders
.gitignore
!packages/create-package/resources/.gitignore
tmp
temp
target
dist
jsdoc-dist
.dev-server-port
# TODO remove this as the tools no longer generate it, kept for clean up (in the clean task as well)
.port

# jsdoc temporary folders
packages/base/jsdoc-dist
packages/main/jsdoc-dist
packages/fiori/jsdoc-dist

# scoping feature generated entry points for vite consumption
packages/main/test/pages/scoped
packages/fiori/test/pages/scoped

# Ignore default target directory for the npm package 'ui5-codecompletion'
.ui5

# Ignore npm files/folders
node_modules
npm-debug.log
package-lock.json

# Ignore Mac files
.DS_Store

# Ignore Visual Studio project and settings files
*.sln
*.suo
web.config
/.user.project.json
/sap-ui-cachebuster-info.json

# Ignore Visual Studio Code project and settings files
.vscode/
.idea/

# Ignore yarn files
yarn-error.log*
yarn-debug.log*
.yarn-integrity

# Ignore default target directory for the npm package 'ui5-schemas'
.tmp

# Ignore rollup CJS output file of icon-collection-bundler
icon-collection-bundler.cjs.js

# Playground
.jekyll-cache
packages/playground/_site/
packages/playground/.sass-cache/
packages/playground/assets/js/ui5-webcomponents/

packages/playground/docs/components
!packages/playground/docs/components/component.md

packages/playground/docs/documentation
!packages/playground/docs/documentation/documentation.md

packages/playground/docs/tutorials
!packages/playground/docs/tutorials/tutorials.md

packages/playground/docs/pages/content/main/*
packages/playground/docs/pages/content/fiori/*

packages/playground/docs/advanced
packages/playground/docs/contributing/
packages/playground/docs/customizing/
packages/playground/docs/development/
packages/playground/docs/frameworks/
packages/playground/docs/getting-started/
packages/playground/docs/FAQ.md

packages/main/test/pages/fix.js
packages/fiori/test/pages/fix.js

# coming from main and fiori bundles for the test pages
packages/playground/assets/*.js
packages/playground/assets/*.png
packages/playground/assets/*.jpg
packages/playground/assets/*.gif
packages/playground/assets/*.css
packages/playground/assets/test/pages/*.css
packages/playground/assets/test/pages/*.js
