{
  "useTabs": true,
  "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": false,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid"
}
