/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
    --ui5-avatar-initials-color: #000;
    --ui5-avatar-initials-border: .0625rem solid #000;
    --ui5-avatar-accent1: #fff;
    --ui5-avatar-accent2: #fff;
    --ui5-avatar-accent3: #fff;
    --ui5-avatar-accent4: #fff;
    --ui5-avatar-accent5: #fff;
    --ui5-avatar-accent6: #fff;
    --ui5-avatar-accent7: #fff;
    --ui5-avatar-accent8: #fff;
    --ui5-avatar-accent9: #fff;
    --ui5-avatar-accent10: #fff;
    --ui5-avatar-placeholder: #fff;
}
