@import "../base/Avatar-parameters.css";

:root {
	--ui5-avatar-hover-box-shadow-offset: 0px;
	--ui5-avatar-initials-color: #000;
	--ui5-avatar-initials-border: .0625rem solid #000;
	--ui5-avatar-accent1: #fff;
	--ui5-avatar-accent2: #fff;
	--ui5-avatar-accent3: #fff;
	--ui5-avatar-accent4: #fff;
	--ui5-avatar-accent5: #fff;
	--ui5-avatar-accent6: #fff;
	--ui5-avatar-accent7: #fff;
	--ui5-avatar-accent8: #fff;
	--ui5-avatar-accent9: #fff;
	--ui5-avatar-accent10: #fff;
	--ui5-avatar-placeholder: #fff;
	--_ui5_avatar_outline: 0.125rem dotted var(--sapContent_FocusColor);
	--_ui5_avatar_focus_offset: 0.125rem;
}