/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "../base/Input-parameters.css";

:root {
	--_ui5_input_focus_border_width: 0.125rem;
	--_ui5_input_state_border_width: 1px;
	--_ui5_input_error_warning_border_style: dashed;
	--_ui5_input_error_warning_font_style: italic;
	--_ui5_input_error_font_weight: bold;
	--_ui5_input_disabled_color: var(--sapContent_DisabledTextColor);
	--_ui5_input_disabled_font_weight: normal;
	--_ui5_input_disabled_border_color: var(--sapField_ReadOnly_BorderColor);
	--_ui5_input_disabled_background: var(--sapField_ReadOnly_Background);
	--_ui5_input_icon_padding: 0.65rem 0.75rem;
}