@import "../base/SliderBase-parameters.css";

:root {
	--_ui5_slider_inner_height: 0.375rem;
	--_ui5_slider_progress_border: solid 0.0625rem var(--sapField_BorderColor);
	--_ui5_slider_progress_border_radius: 0.125rem;
	--_ui5_slider_handle_background: transparent;
	--_ui5_slider_handle_hover_background: var(--sapField_Hover_Background);
	--_ui5_slider_handle_border: solid 0.125rem var(--sapField_BorderColor);
	--_ui5_slider_handle_hover_border: var(--sapField_Active_BorderColor);
	--_ui5_slider_handle_height: 1.375rem;
	--_ui5_slider_handle_width: 1.375rem;
	--_ui5_slider_handle_top: -0.5625rem;
	--_ui5_slider_progress_background: var(--sapField_Background);
	--_ui5_slider_tickmark_top: -0.2525rem;
	--_ui5_range_slider_handle_active_background: transparent;
}