@import "../base/YearPicker-parameters.css";

:root {
	--_ui5_yearpicker_item_border: 1px solid var(--sapList_BorderColor);
	--_ui5_yearpicker_item_margin: 0;
	--_ui5_yearpicker_item_focus_after_width: calc(100% - 0.25rem);
	--_ui5_yearpicker_item_focus_after_height: calc(100% - 0.25rem);
	--_ui5_yearpicker_item_focus_after_border: 2px dotted var(--sapContent_FocusColor);
	--_ui5_yearpicker_item_focus_after_offset: 0;
} 
