@import "../base/CheckBox.css";

:root {
	--_ui5_checkbox_width_height: 2.75rem;
	--_ui5_checkbox_inner_border: .0625rem solid var(--sapUiFieldBorderColor);
	--_ui5_checkbox_focus_left_top_bottom_position: .5625rem;
	--_ui5_checkbox_compact_focus_left_top_bottom_position: .375rem;
	--_ui5_checkbox_no_label_focus_right: .4375rem;
	--_ui5_checkbox_wrapped_content_margin_top: 0;
	--_ui5_checkbox_inner_border_radius: .125rem;
	--_ui5_checkbox_compact_no_label_focus_right: 1px;
	--_ui5_checkbox_wrapped_focus_padding: .5rem;
	--_ui5_checkbox_inner_readonly_border: 1px solid var(--sapUiFieldReadOnlyBorderColor);
}