@import "../base/MonthPicker-parameters.css";

:root {
	--_ui5_monthpicker_item_selected_hover: #053b70; /* darken(var(--sapUiSelected), 10); */
	--_ui5_monthpicker_item_selected_focus: #053b70; /* darken(var(--sapUiSelected), 10); */

	--_ui5_monthpicker_item_background_color: #f7f7f7; /* darken(@sapUiListBackground, 3); */
	--_ui5_monthpicker_item_hover_background_color: #f7f7f7; /* darken(@sapUiListBackground, 3); */
	--_ui5_monthpicker_item_focus_background_color: #f7f7f7; /* darken(@sapUiListBackground, 3); */
	--_ui5_monthpicker_item_border_radius: 0.25rem;
}