:root {
	--ui5-avatar-initials-color: var(--sapContent_ImagePlaceholderForegroundColor);
	--ui5-avatar-border-radius: .25rem;
	--ui5-avatar-border-radius-img-deduction: 0.0625rem;
	--ui5-avatar-initials-border: none;
	--ui5-avatar-accent1: var(--sapAccentColor1);
	--ui5-avatar-accent2: var(--sapAccentColor2);
	--ui5-avatar-accent3: var(--sapAccentColor3);
	--ui5-avatar-accent4: var(--sapAccentColor4);
	--ui5-avatar-accent5: var(--sapAccentColor5);
	--ui5-avatar-accent6: var(--sapAccentColor6);
	--ui5-avatar-accent7: var(--sapAccentColor7);
	--ui5-avatar-accent8: var(--sapAccentColor8);
	--ui5-avatar-accent9: var(--sapAccentColor9);
	--ui5-avatar-accent10: var(--sapAccentColor10);
	--ui5-avatar-placeholder: var(--sapContent_ImagePlaceholderBackground);

	--ui5-avatar-accent1-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent2-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent3-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent4-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent5-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent6-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent7-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent8-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent9-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-accent10-color: var(--ui5-avatar-initials-color);
	--ui5-avatar-placeholder-color: var(--ui5-avatar-initials-color);

	--ui5-avatar-accent1-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent2-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent3-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent4-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent5-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent6-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent7-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent8-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent9-border-color: var(--sapField_BorderColor);
	--ui5-avatar-accent10-border-color: var(--sapField_BorderColor);
	--ui5-avatar-placeholder-border-color: var(--sapField_BorderColor);

	--_ui5_avatar_outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	--_ui5_avatar_focus_offset: 1px;
	--_ui5_avatar_focus_width: 1px;
	--_ui5_avatar_focus_color: var(--sapContent_FocusColor);

	--_ui5_avatar_fontsize_XS: 0.75rem;
	--_ui5_avatar_fontsize_S: 1.125rem;
	--_ui5_avatar_fontsize_M: 1.625rem;
	--_ui5_avatar_fontsize_L: 2rem;
	--_ui5_avatar_fontsize_XL: 2.75rem;

	--_ui5_avatar_icon_XS: 1rem;
	--_ui5_avatar_icon_S: 1.5rem;
	--_ui5_avatar_icon_M: 2rem;
	--_ui5_avatar_icon_L: 2.5rem;
	--_ui5_avatar_icon_XL: 3rem;
}