:root {
	--ui5-badge-font-size: 0.75em; /* origin from --sapFontSmallSize (0.75rem) */
	--ui5-badge-color-scheme-1-background: var(--sapLegendBackgroundColor1);
	--ui5-badge-color-scheme-1-border: var(--sapLegendColor1);
	--ui5-badge-color-scheme-2-background: var(--sapLegendBackgroundColor2);
	--ui5-badge-color-scheme-2-border: var(--sapLegendColor2);
	--ui5-badge-color-scheme-3-background: var(--sapLegendBackgroundColor3);
	--ui5-badge-color-scheme-3-border: var(--sapLegendColor3);
	--ui5-badge-color-scheme-4-background: var(--sapLegendBackgroundColor5);
	--ui5-badge-color-scheme-4-border: var(--sapLegendColor5);
	--ui5-badge-color-scheme-5-background: var(--sapLegendBackgroundColor20);
	--ui5-badge-color-scheme-5-border: var(--sapLegendColor20);
	--ui5-badge-color-scheme-6-background: var(--sapLegendBackgroundColor6);
	--ui5-badge-color-scheme-6-border: var(--sapLegendColor6);
	--ui5-badge-color-scheme-7-background: var(--sapLegendBackgroundColor7);
	--ui5-badge-color-scheme-7-border: var(--sapLegendColor7);
	--ui5-badge-color-scheme-8-background: var(--sapLegendBackgroundColor8);
	--ui5-badge-color-scheme-8-border: var(--sapLegendColor8);
	--ui5-badge-color-scheme-9-background: var(--sapLegendBackgroundColor10);
	--ui5-badge-color-scheme-9-border: var(--sapLegendColor10);
	--ui5-badge-color-scheme-10-background: var(--sapLegendBackgroundColor9);
	--ui5-badge-color-scheme-10-border: var(--sapAccentColor9);
}