:root {
	--_ui5-badge-height: 1rem;
	--_ui5-badge-border: 0.0625em solid;
	--_ui5-badge-border-radius: 0.5rem;
	--_ui5-badge-padding-inline: 0.3125em;
	--_ui5-badge-padding-inline-icon-only: 0.1875rem;
	--_ui5-badge-text-transform: uppercase;
	--_ui5-badge-icon-height: 0.75em;
	--_ui5-badge-icon-width: 0.75rem;
	--_ui5-badge-icon-gap: 0.125rem;
	--_ui5-badge-font-size: var(--sapFontSmallSize);
	--_ui5-badge-font: "72override", var(--sapFontFamily);
	--_ui5-badge-font-weight: bold;
	--_ui5-badge-letter-spacing: 0.0125em;

	--ui5-badge-text-shadow: var(--sapContent_TextShadow);
	--ui5-badge-contrast-text-shadow: var(--sapContent_ContrastTextShadow);

	--ui5-badge-color-scheme-1-background: var(--sapLegendBackgroundColor1);
	--ui5-badge-color-scheme-1-border: var(--sapAccentColor1);
	--ui5-badge-color-scheme-1-color: var(--sapTextColor);

	--ui5-badge-color-scheme-2-background: var(--sapLegendBackgroundColor2);
	--ui5-badge-color-scheme-2-border: var(--sapAccentColor2);
	--ui5-badge-color-scheme-2-color: var(--sapTextColor);

	--ui5-badge-color-scheme-3-background: var(--sapLegendBackgroundColor3);
	--ui5-badge-color-scheme-3-border: var(--sapAccentColor3);
	--ui5-badge-color-scheme-3-color: var(--sapTextColor);

	--ui5-badge-color-scheme-4-background: var(--sapLegendBackgroundColor5);
	--ui5-badge-color-scheme-4-border: var(--sapAccentColor4);
	--ui5-badge-color-scheme-4-color: var(--sapTextColor);

	--ui5-badge-color-scheme-5-background: var(--sapLegendBackgroundColor20);
	--ui5-badge-color-scheme-5-border: var(--sapAccentColor5);
	--ui5-badge-color-scheme-5-color: var(--sapTextColor);

	--ui5-badge-color-scheme-6-background: var(--sapLegendBackgroundColor6);
	--ui5-badge-color-scheme-6-border: var(--sapAccentColor6);
	--ui5-badge-color-scheme-6-color: var(--sapTextColor);

	--ui5-badge-color-scheme-7-background: var(--sapLegendBackgroundColor7);
	--ui5-badge-color-scheme-7-border: var(--sapAccentColor7);
	--ui5-badge-color-scheme-7-color: var(--sapTextColor);

	--ui5-badge-color-scheme-8-background: var(--sapLegendBackgroundColor18);
	--ui5-badge-color-scheme-8-border: var(--sapLegendColor18);
	--ui5-badge-color-scheme-8-color: var(--sapTextColor);

	--ui5-badge-color-scheme-9-background: var(--sapLegendBackgroundColor10);
	--ui5-badge-color-scheme-9-border: var(--sapAccentColor10);
	--ui5-badge-color-scheme-9-color: var(--sapTextColor);

	--ui5-badge-color-scheme-10-background: var(--sapLegendBackgroundColor9);
	--ui5-badge-color-scheme-10-border: var(--sapAccentColor9);
	--ui5-badge-color-scheme-10-color: var(--sapTextColor);

	/* set 2 */

	--ui5-badge-set2-color-scheme-1-color: var(--sapIndicationColor_1);
	--ui5-badge-set2-color-scheme-1-background: var(--sapIndicationColor_1b);
	--ui5-badge-set2-color-scheme-1-border: var(--sapIndicationColor_1b_BorderColor);

	--ui5-badge-set2-color-scheme-1-hover-background: var(--sapIndicationColor_1b_Hover_Background);

	--ui5-badge-set2-color-scheme-1-active-color: var(--sapIndicationColor_1_Active_TextColor);
	--ui5-badge-set2-color-scheme-1-active-background: var(--sapIndicationColor_1_Active_Background);
	--ui5-badge-set2-color-scheme-1-active-border: var(--sapIndicationColor_1_Active_BorderColor);

	--ui5-badge-set2-color-scheme-2-color: var(--sapIndicationColor_2);
	--ui5-badge-set2-color-scheme-2-background: var(--sapIndicationColor_2b);
	--ui5-badge-set2-color-scheme-2-border: var(--sapIndicationColor_2b_BorderColor);

	--ui5-badge-set2-color-scheme-2-hover-background: var(--sapIndicationColor_2b_Hover_Background);

	--ui5-badge-set2-color-scheme-2-active-color: var(--sapIndicationColor_2_Active_TextColor);
	--ui5-badge-set2-color-scheme-2-active-background: var(--sapIndicationColor_2_Active_Background);
	--ui5-badge-set2-color-scheme-2-active-border: var(--sapIndicationColor_2_Active_BorderColor);

	--ui5-badge-set2-color-scheme-3-color: var(--sapIndicationColor_3);
	--ui5-badge-set2-color-scheme-3-background: var(--sapIndicationColor_3b);
	--ui5-badge-set2-color-scheme-3-border: var(--sapIndicationColor_3b_BorderColor);

	--ui5-badge-set2-color-scheme-3-hover-background: var(--sapIndicationColor_3b_Hover_Background);

	--ui5-badge-set2-color-scheme-3-active-color: var(--sapIndicationColor_3_Active_TextColor);
	--ui5-badge-set2-color-scheme-3-active-background: var(--sapIndicationColor_3_Active_Background);
	--ui5-badge-set2-color-scheme-3-active-border: var(--sapIndicationColor_3_Active_BorderColor);

	--ui5-badge-set2-color-scheme-4-color: var(--sapIndicationColor_4);
	--ui5-badge-set2-color-scheme-4-background: var(--sapIndicationColor_4b);
	--ui5-badge-set2-color-scheme-4-border: var(--sapIndicationColor_4b_BorderColor);

	--ui5-badge-set2-color-scheme-4-hover-background: var(--sapIndicationColor_4b_Hover_Background);

	--ui5-badge-set2-color-scheme-4-active-color: var(--sapIndicationColor_4_Active_TextColor);
	--ui5-badge-set2-color-scheme-4-active-background: var(--sapIndicationColor_4_Active_Background);
	--ui5-badge-set2-color-scheme-4-active-border: var(--sapIndicationColor_4_Active_BorderColor);

	--ui5-badge-set2-color-scheme-5-color: var(--sapIndicationColor_5);
	--ui5-badge-set2-color-scheme-5-background: var(--sapIndicationColor_5b);
	--ui5-badge-set2-color-scheme-5-border: var(--sapIndicationColor_5b_BorderColor);

	--ui5-badge-set2-color-scheme-5-hover-background: var(--sapIndicationColor_5b_Hover_Background);

	--ui5-badge-set2-color-scheme-5-active-color: var(--sapIndicationColor_5_Active_TextColor);
	--ui5-badge-set2-color-scheme-5-active-background: var(--sapIndicationColor_5_Active_Background);
	--ui5-badge-set2-color-scheme-5-active-border: var(--sapIndicationColor_5_Active_BorderColor);

	--ui5-badge-set2-color-scheme-6-color: var(--sapIndicationColor_6);
	--ui5-badge-set2-color-scheme-6-background: var(--sapIndicationColor_6b);
	--ui5-badge-set2-color-scheme-6-border: var(--sapIndicationColor_6b_BorderColor);

	--ui5-badge-set2-color-scheme-6-hover-background: var(--sapIndicationColor_6b_Hover_Background);

	--ui5-badge-set2-color-scheme-6-active-color: var(--sapIndicationColor_6_Active_TextColor);
	--ui5-badge-set2-color-scheme-6-active-background: var(--sapIndicationColor_6_Active_Background);
	--ui5-badge-set2-color-scheme-6-active-border: var(--sapIndicationColor_6_Active_BorderColor);

	--ui5-badge-set2-color-scheme-7-color: var(--sapIndicationColor_7);
	--ui5-badge-set2-color-scheme-7-background: var(--sapIndicationColor_7b);
	--ui5-badge-set2-color-scheme-7-border: var(--sapIndicationColor_7b_BorderColor);

	--ui5-badge-set2-color-scheme-7-hover-background: var(--sapIndicationColor_7b_Hover_Background);

	--ui5-badge-set2-color-scheme-7-active-color: var(--sapIndicationColor_7_Active_TextColor);
	--ui5-badge-set2-color-scheme-7-active-background: var(--sapIndicationColor_7_Active_Background);
	--ui5-badge-set2-color-scheme-7-active-border: var(--sapIndicationColor_7_Active_BorderColor);

	--ui5-badge-set2-color-scheme-8-color: var(--sapIndicationColor_8);
	--ui5-badge-set2-color-scheme-8-background: var(--sapIndicationColor_8b);
	--ui5-badge-set2-color-scheme-8-border: var(--sapIndicationColor_8b_BorderColor);

	--ui5-badge-set2-color-scheme-8-hover-background: var(--sapIndicationColor_8b_Hover_Background);

	--ui5-badge-set2-color-scheme-8-active-color: var(--sapIndicationColor_8_Active_TextColor);
	--ui5-badge-set2-color-scheme-8-active-background: var(--sapIndicationColor_8_Active_Background);
	--ui5-badge-set2-color-scheme-8-active-border: var(--sapIndicationColor_8_Active_BorderColor);

	--ui5-badge-set2-color-scheme-9-color: var(--sapIndicationColor_9);
	--ui5-badge-set2-color-scheme-9-background: var(--sapIndicationColor_9b);
	--ui5-badge-set2-color-scheme-9-border: var(--sapIndicationColor_9b_BorderColor);

	--ui5-badge-set2-color-scheme-9-hover-background: var(--sapIndicationColor_9b_Hover_Background);

	--ui5-badge-set2-color-scheme-9-active-color: var(--sapIndicationColor_9_Active_TextColor);
	--ui5-badge-set2-color-scheme-9-active-background: var(--sapIndicationColor_9_Active_Background);
	--ui5-badge-set2-color-scheme-9-active-border: var(--sapIndicationColor_9_Active_BorderColor);

	--ui5-badge-set2-color-scheme-10-color: var(--sapIndicationColor_10);
	--ui5-badge-set2-color-scheme-10-background: var(--sapIndicationColor_10b);
	--ui5-badge-set2-color-scheme-10-border: var(--sapIndicationColor_10b_BorderColor);

	--ui5-badge-set2-color-scheme-10-hover-background: var(--sapIndicationColor_10b_Hover_Background);

	--ui5-badge-set2-color-scheme-10-active-color: var(--sapIndicationColor_10_Active_TextColor);
	--ui5-badge-set2-color-scheme-10-active-background: var(--sapIndicationColor_10_Active_Background);
	--ui5-badge-set2-color-scheme-10-active-border: var(--sapIndicationColor_10_Active_BorderColor);
}