:root {
	--_ui5_button_base_min_width: 2.5rem;
	--_ui5_button_base_min_compact_width: 2rem;
	--_ui5_button_base_height: 2.5rem;
	--_ui5_button_compact_height: 1.625rem;
	--_ui5_button_border: 1px solid var(--sapButton_BorderColor);
	--_ui5_button_border_radius: var(--sapButton_BorderCornerRadius);
	--_ui5_button_base_padding: 0.6875rem;
	--_ui5_button_compact_padding: 0.4375rem;
	--_ui5_button_base_icon_only_padding: 0.5625rem;
	--_ui5_button_base_icon_margin: 0.563rem;
	--_ui5_button_icon_font_size: 1.375rem;
	--_ui5_button_outline: 1px dotted var(--sapContent_FocusColor);
	--_ui5_button_outline_offset: calc(-1 * .1875rem);
	--_ui5_button_focused_keyboard_outline: var(--_ui5_button_outline);
	--_ui5_button_background: var(--sapButton_Background);
	--_ui5_button_hover_background: var(--sapButton_Hover_Background);
	--_ui5_button_disabled_background: var(--sapButton_Background);
	--_ui5_button_hover_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_button_disabled_opacity: 0.5;
	--_ui5_button_color: var(--sapButton_TextColor);
	--_ui5_button_disabled_color: var(--sapButton_TextColor);
	--_ui5_button_hover_color: var(--sapButton_TextColor);
	--_ui5_button_active_color: var(--sapButton_Active_TextColor);
	--_ui5_button_active_background: var(--sapButton_Active_Background);
	--_ui5_button_font_weight: normal;
	--_ui5_button_fontFamily: "72override", var(--sapFontFamily);
	--_ui5_button_transition: none;
	--_ui5_button_box_shadow: none;
	--_ui5_button_disabled_box-shadow: none;
	--_ui5_button_active_box_shadow: none;
	--_ui5_button_focused_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_button_focused_keyboard_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_button_focused_background: var(--sapButton_Background);
	--_ui5_button_focused_keyboard_background: var(--sapButton_Background);
	--_ui5_button_text_shadow: var(--sapContent_TextShadow);
	--_ui5_button_focus_offset: 1px;
	--_ui5_button_focus_width: 1px;
	--_ui5_button_focus_color: var(--sapContent_FocusColor);
	--_ui5_button_focus_outline_focus_color: var(--sapContent_ContrastFocusColor);

	--_ui5_button_positive_border_focus_hover_color: var(--sapContent_FocusColor);
	--_ui5_button_positive_focus_border_color: var(--sapButton_Accept_BorderColor);
	--_ui5_button_negative_focus_border_color: var(--sapButton_Reject_BorderColor);
	--_ui5_button_attention_focus_border_color: var(--sapButton_Negative_BorderColor);
	--_ui5_button_emphasized_focused_border_color: var(--sapButton_Emphasized_BorderColor);
	--_ui5_button_emphasized_font_weight: normal;
	--_ui5_button_emphasized_outline: 1px dotted var(--sapContent_FocusColor);
	--_ui5_button_emphasized_focused_keyboard_outline: var(--_ui5_button_emphasized_outline);
	--_ui5_button_emphasized_focused_border_radius: 0;
	--_ui5_button_emphasized_background_color: var(--sapButton_Emphasized_Background);
	--_ui5_button_emphasized_focused_background: var(--sapButton_Emphasized_Background);
	--_ui5_button_emphasized_border_color: var(--sapButton_Emphasized_BorderColor);
	--_ui5_button_emphasized_hover_background_color: var(--sapButton_Emphasized_Hover_Background);
	--_ui5_button_emphasized_hover_border_color: var(--sapButton_Emphasized_Hover_BorderColor);
	--_ui5_button_emphasized_active_background_color: var(--sapButton_Emphasized_Active_Background);
	--_ui5_button_emphasized_active_color: var(--sapButton_Active_TextColor);
	--_ui5_button_emphasized_disabled_background: var(--sapButton_Emphasized_Background);
	--_ui5_button_emphasized_active_border_color: var(--sapButton_Emphasized_Active_BorderColor);
	--_ui5_button_emphasized_color: var(--sapButton_Emphasized_TextColor);
	--_ui5_button_emphasized_hover_color: var(--sapButton_Emphasized_TextColor);
	--_ui5_button_emphasized_disabled_color: var(--sapButton_Emphasized_TextColor);
	--_ui5_button_emphasized_focused_inset: 0.0625rem;
	--_ui5_button_emphasized_focused_box_shadow: none;
	--_ui5_button_emphasized_focused_keyboard_box_shadow: none;
	--_ui5_button_transparent_hover: transparent;
	--_ui5_button_transparent_color: var(--sapButton_Lite_TextColor);
	--_ui5_button_transparent_disabled_background: transparent;
	--_ui5_button_transparent_active_color: var(--sapButton_Active_TextColor);
	--_ui5_button_transparent_box_shadow: none;
	--_ui5_button_transparent_focused_background: transparent;
	--_ui5_button_flat_background: var(--sapButton_Background);
	--_ui5_button_neutral_background: var(--_ui5_button_background);
	--_ui5_button_neutral_color: var(--_ui5_button_color);
	--_ui5_button_neutral_hover_color: var(--_ui5_button_hover_color);
	--_ui5_button_neutral_hover_box_shadow: var(--_ui5_button_hover_box_shadow);
	--_ui5_button_neutral_active_box_shadow: var(--_ui5_button_active_box_shadow);
	--_ui5_button_neutral_focused_box_shadow: var(--_ui5_button_focused_box_shadow);
	--_ui5_button_neutral_active_color: var(--_ui5_button_active_color);
	--_ui5_button_neutral_box_shadow: none;
	--_ui5_button_silent_background: var(--_ui5_button_background);
	--_ui5_button_silent_color: var(--_ui5_button_color);
}
