:root {
	--_ui5_button_base_min_width: 2.5rem;
	--_ui5_button_base_min_compact_width: 2rem;
	--_ui5_button_base_height: 2.5rem;
	--_ui5_button_compact_height: 1.625rem;
	--_ui5_button_border_radius: 0.2rem;
	--_ui5_button_base_padding: 0 0.6875rem 0 0.6875rem;
	--_ui5_button_compact_padding: 0 0.4375rem;
	--_ui5_button_base_icon_only_padding: 0 0.5625rem;
	--_ui5_button_base_icon_margin: 0.563rem;
	--_ui5_button_base_icon_only_font_size: 1.375rem;
	--_ui5_button_focus_after_border: 1px dotted var(--sapUiContentFocusColor);
	--_ui5_button_focus_after_bottom: 1px;
	--_ui5_button_focus_after_right: 1px;
	--_ui5_button_focus_after_left: 1px;
	--_ui5_button_focus_after_top: 1px;
	--_ui5_button_emphasized_font_weight: normal;

	--_ui5_button_focussed_border_color: var(--sapUiButtonBorderColor);
	--_ui5_button_active_border_color: var(--sapUiButtonActiveBorderColor);
	--_ui5_button_positive_border_color: var(--sapUiButtonAcceptBorderColor);
	--_ui5_button_positive_border_hover_color: var(--sapUiButtonAcceptHoverBorderColor);
	--_ui5_button_positive_border_active_color: var(--sapUiButtonAcceptActiveBorderColor);
	--_ui5_button_positive_border_focus_hover_color: var(--sapUiContentFocusColor);
	--_ui5_button_positive_focus_border_color: var(--sapUiButtonAcceptBorderColor);
	--_ui5_button_negative_focus_border_color: var(--sapUiButtonRejectBorderColor);
	--_ui5_button_negative_active_border_color: var(--sapUiButtonRejectActiveBorderColor);
	--_ui5_button_emphasized_focused_border_color: var(--sapUiButtonEmphasizedBorderColor);
}