/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* ============================= */
/* Base theme                    */
/* ============================= */

@_sap_ui_webcomponents_main_button_base_min_width: 2.5rem;
@_sap_ui_webcomponents_main_button_base_min_compact_width: 2rem;
@_sap_ui_webcomponents_main_button_base_height: 2.5rem;
@_sap_ui_webcomponents_main_button_compact_height: 1.625rem;
@_sap_ui_webcomponents_main_button_border_radius: 0.2rem;
@_sap_ui_webcomponents_main_button_base_padding: 0 0.6875rem 0 0.5rem;
@_sap_ui_webcomponents_main_button_compact_padding: 0 0.4375rem;
@_sap_ui_webcomponents_main_button_base_icon_only_padding: 0 0.5625rem;
@_sap_ui_webcomponents_main_button_base_icon_margin: 0.563rem;
@_sap_ui_webcomponents_main_button_base_icon_only_font_size: 1.375rem;

:host(ui5-button) {
	display: inline-block;
}

// required for browsers without native shadow dom
ui5-button {
	display: inline-block;
}

span[dir="rtl"] {
	.sapMBtn.sapMBtnWithIcon .sapMBtnText {
		margin-right: @_sap_ui_webcomponents_main_button_base_icon_margin;;
		margin-left: 0;
	}

	.sapMBtn.sapMBtnIconEnd .sapWCIconInButton {
		margin-right: @_sap_ui_webcomponents_main_button_base_icon_margin;
		margin-left: 0;
	}
}

span[data-sap-ui-wc-root] {
	display: inline-block;
	width: 100%;
	height: 100%;

	&.sapUiSizeCompact {
		& .sapWCIconInButton {
			font-size: 1rem;
		}

		& .sapMBtn {
			min-height: @_sap_ui_webcomponents_main_button_compact_height;
			min-width: @_sap_ui_webcomponents_main_button_base_min_compact_width;
		}
	}

	& .sapMBtn {
		min-width: @_sap_ui_webcomponents_main_button_base_min_width;
		min-height: @_sap_ui_webcomponents_main_button_base_height;
	}

	& .sapMBtn::before {
		/*
		* this is a hack for a bug in IE 
		* https://github.com/philipwalton/flexbugs/issues/231
		*/
		content: '';
		min-height: inherit;
		font-size: 0;
	}
}

.sapMBtn {
	width: 100%;
	height: 100%;
	font-family: @sapUiFontFamily; 
	font-size: @sapMFontMediumSize; 
	font-weight: normal;
	box-sizing: border-box;
	padding: @_sap_ui_webcomponents_main_button_base_padding;
	border-radius: @_sap_ui_webcomponents_main_button_border_radius;
	border-width: 0.0625rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: @sapUiButtonBackground;
	border: 1px solid @sapUiButtonBorderColor;
	color: @sapUiButtonTextColor;
	text-shadow: @sapUiShadowText;
	outline: none;
	position: relative;

	&:hover {
		background: @sapUiButtonHoverBackground;
	}
}

.sapMBtn .sapWCIconInButton {
	font-size: @_sap_ui_webcomponents_main_button_base_icon_only_font_size;
	position: relative;
}

.sapMBtn.sapMBtnIconEnd {
	flex-direction: row-reverse;

	& .sapWCIconInButton {
		margin-left: @_sap_ui_webcomponents_main_button_base_icon_margin;;
	}
}

.sapMBtn.sapMBtnNoText {
	padding: @_sap_ui_webcomponents_main_button_base_icon_only_padding;
}

.sapMBtnText {
	outline: none;
	position: relative;
}

.sapMBtn.sapMBtnWithIcon .sapMBtnText {
	margin-left: @_sap_ui_webcomponents_main_button_base_icon_margin;
}

.sapMBtnDisabled {
	opacity: 0.5;
	pointer-events: none;
}

.sapMBtn:focus {

	&::after {
		content: "";
		border: 1px dotted @sapUiContentFocusColor;
		position: absolute;
		top: 1px;
		bottom: 1px;
		left: 1px;
		right: 1px;
	}
}

.sapMBtn::-moz-focus-inner {
	border: 0;
}

.sapMBtnActive,
.sapMBtn:active {
	background-image: none;
	background-color: @sapUiButtonActiveBackground;
	border-color: @sapUiButtonActiveBorderColor;
	color: @sapUiButtonActiveTextColor;
	text-shadow: none;

	&:focus::after {
		border-color: @sapUiContentContrastFocusColor;
	}
}

.sapMBtn.sapMBtnPositive {
	background-color: @sapUiButtonAcceptBackground;
	border-color: @sapUiButtonAcceptBorderColor;
	color: @sapUiButtonAcceptTextColor;
	text-shadow: @sapUiShadowText;

	&:hover {
		background-color: @sapUiButtonAcceptHoverBackground;
		border-color: @sapUiButtonAcceptHoverBorderColor;
	}

	&.sapMBtnActive,
	&:active {
		background-color: @sapUiButtonAcceptActiveBackground;
		border-color: @sapUiButtonAcceptActiveBorderColor;
		color: @sapUiButtonActiveTextColor;
		text-shadow: none;
	}

	&.sapMBtnActive:focus::after,
	&:active:focus::after {
		border-color: @sapUiContentContrastFocusColor;
	}

	&:focus::after {
		border-color: @sapUiContentFocusColor;
	}
}

.sapMBtn.sapMBtnNegative {
	background-color: @sapUiButtonRejectBackground;
	border-color: @sapUiButtonRejectBorderColor;
	color: @sapUiButtonRejectTextColor;
	text-shadow: @sapUiShadowText;

	&:hover {
		background-color: @sapUiButtonRejectHoverBackground;
		border-color: @sapUiButtonRejectHoverBorderColor;
	}

	&.sapMBtnActive,
	&:active {
		background-color: @sapUiButtonRejectActiveBackground;
		border-color: @sapUiButtonRejectActiveBorderColor;
		color: @sapUiButtonActiveTextColor;
		text-shadow: none;
	}

	&.sapMBtnActive:focus::after,
	&:active:focus::after {
		border-color: @sapUiContentContrastFocusColor;
	}

	&:focus::after {
		border-color: @sapUiContentFocusColor;
	}
}

.sapMBtn.sapMBtnEmphasized {
	background-color: @sapUiButtonEmphasizedBackground;
	border-color: @sapUiButtonEmphasizedBorderColor;
	color: @sapUiButtonEmphasizedTextColor;
	text-shadow: 0 0 0.125rem @sapUiButtonEmphasizedTextShadow;

	&:hover {
		background-color: @sapUiButtonEmphasizedHoverBackground;
		border-color: @sapUiButtonEmphasizedHoverBorderColor;
	}

	&.sapMBtnActive,
	&:active {
		background-color: @sapUiButtonEmphasizedActiveBackground;
		border-color: @sapUiButtonEmphasizedActiveBorderColor;
		color: @sapUiButtonActiveTextColor;
		text-shadow: none;
	}

	&.sapMBtnActive:focus::after,
	&:active:focus::after {
		border-color: @sapUiContentContrastFocusColor;
	}

	&:focus::after {
		border-color: @sapUiContentFocusColor;
	}
}

.sapMBtn.sapMBtnTransparent {
	background-color: @sapUiButtonLiteBackground;
	border-color: @sapUiButtonLiteBorderColor;
	color: @sapUiButtonLiteTextColor;
	text-shadow: @sapUiShadowText;
	border-color: transparent;

	&:hover {
		background-color: @sapUiButtonLiteHoverBackground;
	}

	&.sapMBtnActive,
	&:active {
		background-color: @sapUiButtonLiteActiveBackground;
		color: @sapUiButtonActiveTextColor;
		text-shadow: none;
	}

	&:hover:not(:active) {
		border-color: transparent;
	}
}
