:root {
	--_ui5_calendar_header_arrow_button_border: none;
	--_ui5_calendar_header_arrow_button_border_radius: 0.25rem;
	--_ui5_calendar_header_middle_button_width: 6.25rem;
	--_ui5_calendar_header_middle_button_flex: 1 1 auto;
	--_ui5_calendar_header_middle_button_focus_border_radius: 0.25rem;
	--_ui5_calendar_header_middle_button_focus_border: none;
	--_ui5_calendar_header_middle_button_focus_after_display: block;
	--_ui5_calendar_header_middle_button_focus_after_width: calc(100% - 0.25rem);
	--_ui5_calendar_header_middle_button_focus_after_height: calc(100% - 0.25rem);
	--_ui5_calendar_header_middle_button_focus_after_top_offset: 1px;
	--_ui5_calendar_header_middle_button_focus_after_left_offset: 1px;
	--_ui5_calendar_header_button_background_color: none;
	--_ui5_calendar_header_arrow_button_box_shadow: none;
	--_ui5_calendar_header_middle_button_focus_background: transparent;
	--_ui5_calendar_header_middle_button_focus_outline: none;
	--_ui5_calendar_header_middle_button_focus_active_outline: none;
	--_ui5_calendar_header_middle_button_focus_active_background: var(--sapButton_Active_Background);
	--_ui5_calendar_header_middle_button_focus_after_border: 1px dotted var(--sapContent_FocusColor);
}