:root {
	--_ui5_calendar_header_arrow_button_border: none;
	--_ui5_calendar_header_arrow_button_border_radius: 0.25rem;
	--_ui5_calendar_header_middle_button_width: 6.25rem;
	--_ui5_calendar_header_middle_button_flex: 1 1 auto;
	--_ui5_calendar_header_middle_button_focus_border_radius: 0.25rem;
	--_ui5_calendar_header_middle_button_focus_border: none;
	--_ui5_calendar_header_middle_button_focus_after_display: block;
	--_ui5_calendar_header_middle_button_focus_after_width: calc(100% - 0.25rem);
	--_ui5_calendar_header_middle_button_focus_after_height: calc(100% - 0.25rem);
	--_ui5_calendar_header_middle_button_focus_after_top_offset: 1px;
	--_ui5_calendar_header_middle_button_focus_after_left_offset: 1px;
}