:root {
	--_ui5_cal-legend-standard-item-box-margin: 0.25rem 0.5rem 0.25rem 0.25rem;
	--_ui5_cal-legend-standard-item-root-focus-margin: 0;
	--_ui5_cal-legend-standard-item-root-focus-brd: var(--sapContent_FocusWidth) dotted var(--sapContent_FocusColor);
	--_ui5_cal-legend-standard-item-root-focus-brd-radius: 0;
	--_ui5_cal-legend-standard-item-root-width: 7.75rem;
}