/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* =============================== */
/* CSS for control sap.m/CheckBox  */
/* Base theme                      */
/* =============================== */
@_ui5_checkbox_height: 3rem;
@_ui5_checkbox_compact_height: 2rem;
@_ui5_checkbox_square_hover_bg: @sapUiFieldHoverBackground;
@_ui5_checkbox_square_hover_border_color: @sapUiFieldHoverBorderColor;
@_ui5_checkbox_square_outline_width: 1px;
@_ui5_checkbox_square_border_width: 0.125rem;
@_ui5_checkbox_square_error_border_width: 0.125rem;
@_ui5_checkbox_square_warning_border_width: 0.125rem;
@_ui5_checkbox_square_error_border_style: solid;
@_ui5_checkbox_square_warning_border_style: solid;
@_ui5_checkbox_square_disabled_border_color: @sapUiFieldBorderColor;
@_ui5_checkbox_square_disabled_bg_color: @sapUiFieldBackground;
@_ui5_checkbox_square_disabled_error_border_color: @sapUiFieldInvalidColor;
@_ui5_checkbox_square_border_radius: 0;
@_ui5_checkbox_checkmark_color: @sapUiSelected;
@_ui5_checkbox_checkmark_warning_color: darken(@sapUiFieldWarningColor, 100);
@_ui5_checkbox_checkmark_line_height: inherit;
@_ui5_checkbox_checkmark_compact_line_height: inherit;
@_ui5_checkbox_checkmark_compact_height: 0.75rem;
@_ui5_checkbox_checkmark_compact_width: 0.75rem;
@_ui5_checkbox_focus_border_width: 1px;
@_ui5_checkbox_focus_outline_element_top: 0.6875rem;
@_ui5_checkbox_focus_outline_element_bottom: 0.6875rem;

:host(ui5-checkbox) {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
}

// required for browsers with no shadow DOM native support
ui5-checkbox {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
}

.sapMCb {
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	height: 100%;
	min-height: @_ui5_checkbox_height;
	padding: 0 .875rem;
	max-width: 100%;
	max-height: 100%;
	cursor: default;
}

.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
	pointer-events: none;
}

.sapMCb:focus {
	outline: none;
}

.sapMCb:after {
	/* 
	* this is a hack for a bug in IE 
	* https://github.com/philipwalton/flexbugs/issues/231
	*/
	content: '';
	min-height: inherit;
	font-size: 0;
}

.sapMCbBg {
	background-color: @sapUiFieldBackground;
	border-width: @_ui5_checkbox_square_border_width;
	border-style: solid;
	border-radius: @_ui5_checkbox_square_border_radius;
	border-color: @sapUiFieldBorderColor;
	display: inline-block;
	position: relative;
	height: 1.125rem;
	width: 1.125rem;
	min-height: 1.125rem;
	min-width: 1.125rem;
	text-align: center;
	pointer-events: none;
}

.sapMCbBg.sapMCbMarkChecked:before {
	content: "\e05b";
	font-family: "SAP-icons";
	display: inline-block;
	color: @_ui5_checkbox_checkmark_color;
	width: 100%;
	line-height: @_ui5_checkbox_checkmark_line_height;
}

.sapMCbBg.sapMCbMark {
	font-size: inherit;
}

/* ChekBox With Label */
.sapMCb.sapMCbHasLabel {
	padding-right: 0;
}

.sapMCb.sapMCbHasLabel .sapWCLabelInCheckBox {
	padding-left: 0.875rem;
	vertical-align: bottom;
	cursor: default;
	pointer-events: none;
}

/* ChekBox With Wrapping */
.sapMCb.sapMCbWrapped.sapMCbHasLabel {
	align-items: flex-start;

	.sapMCbBg {
		top: 0.875rem;
	}

	.sapWCLabelInCheckBox {
		line-height: 3rem;
		overflow: hidden;
		align-self: center;
		margin: 0.675rem 0;
	}
}

/* Read only */
.sapMCb.sapMCbRo .sapMCbBg,
.sapMCb.sapMCbRo.sapMCbWarn .sapMCbBg {
	background-color: @sapUiFieldReadOnlyBackground;
}

.sapMCb.sapMCbRo .sapMCbBg {
	border-color: @sapUiFieldReadOnlyBorderColor;
}
.sapMCb.sapMCbRo.sapMCbWarn .sapMCbBg {
	border-color: @sapUiFieldWarningColor;
}

/* Disabled */
.sapMCbBgDis {
	opacity: @sapUiContentDisabledOpacity;
}

.sapMCbBgDis > .sapMCbBg {
	border-color: @_ui5_checkbox_square_disabled_border_color;
	background-color: @_ui5_checkbox_square_disabled_bg_color;
}

/* Disabled and Checked */
.sapMCbBg.sapMCbBgDis.sapMCbMarkChecked:before {
	color: fade(@sapUiSelected, 25);
}

/* Hover */
.sapMCb:not(.sapMCbWarn):not(.sapMCbErr):hover .sapMCbBg.sapMCbHoverable {
	border-color: @_ui5_checkbox_square_hover_border_color;
	background: @_ui5_checkbox_square_hover_bg;
}

/* Value State Warning */
.sapMCb.sapMCbWarn .sapMCbBg {
	background-color: @sapUiFieldWarningBackground;
	border-color: @sapUiFieldWarningColor;
	border-width: @_ui5_checkbox_square_warning_border_width;
	border-style: @_ui5_checkbox_square_warning_border_style;
}

.sapMCb.sapMCbWarn .sapMCbBg.sapMCbMarkChecked:before {
	color: @_ui5_checkbox_checkmark_warning_color;
}

/* Value State Error */
.sapMCb.sapMCbErr .sapMCbBg {
	background-color: @sapUiFieldInvalidBackground;
	border-color: @sapUiFieldInvalidColor;
	border-width: @_ui5_checkbox_square_error_border_width;
	border-style: @_ui5_checkbox_square_error_border_style;
}

.sapMCb.sapMCbErr .sapMCbBg.sapMCbMarkChecked:before {
	color: @sapUiFieldInvalidColor;
}

.sapMCb.sapMCbErr.sapMCbBgDis .sapMCbBg {
	border-color: @_ui5_checkbox_square_disabled_error_border_color;
}

/* CheckBox focus */
.sapMCbBg:focus,
.sapMCbBg:active,
.sapMCbBg.sapMCbBgDis:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	outline: none;
}

.sapMCb:not(.sapMCbBgDis):not(.sapMCbHasLabel):focus > .sapMCbBg {
	outline-width: @_ui5_checkbox_square_outline_width;
	outline-style: dotted;
	outline-color: @sapUiContentFocusColor;
}

.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
	content: "";
	display: block;
	position: absolute;
	top: @_ui5_checkbox_focus_outline_element_top;
	bottom: @_ui5_checkbox_focus_outline_element_bottom;
	left: 0.75rem;
	right: 0;
	border: @_ui5_checkbox_focus_border_width dotted @sapUiContentFocusColor;
}

.sapMCb.sapMCbWrapped:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
	top: 0.75rem;
	bottom: 0.65rem;
	left: 0.75rem;
	right: 0;
}

.sapMCbBg > input {
	-webkit-appearance: none;
	visibility: hidden;
	width: 0;
	// In FF the input needs to be positioned exactly behind the visible checkbox
	// for the focus outline without effect on the rest of the browsers
	left: 0;
	position: absolute;
	font-size: inherit;
}

/* TODO remove after 1.62 version */
[data-sap-ui-wc-root][data-sap-ui-browser^="ie"].sap-desktop,
[data-sap-ui-wc-root][data-sap-ui-browser^="ed"].sap-desktop {
	.sapMCb:not(.sapMCbBgDis):not(.sapMCbHasLabel):focus > .sapMCbBg {
		outline-style: dashed;
	}
	.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		border: @_ui5_checkbox_focus_border_width dashed @sapUiContentFocusColor;
	}
}

/* Compact */
.sapUiSizeCompact {

	.sapMCb {
		min-height: @_ui5_checkbox_compact_height;
		padding: 0 .5rem;
	}

	.sapMCbBg {
		left: 0.025rem;
		top: 0.025rem;
		height: @_ui5_checkbox_checkmark_compact_height;
		width: @_ui5_checkbox_checkmark_compact_width;
		min-width: @_ui5_checkbox_checkmark_compact_width;
		min-height: @_ui5_checkbox_checkmark_compact_height;
		line-height: 0.75rem;
		font-size: 0.625rem;
	}

	.sapMCbBg.sapMCbMarkChecked:before {
		line-height: @_ui5_checkbox_checkmark_compact_line_height;
	}

	/* ChekBox With Label */
	.sapMCb.sapMCbHasLabel .sapWCLabelInCheckBox {
		padding-left: 0.5rem;
		vertical-align: bottom;
	}

	/* ChekBox With Wrapping */
	.sapMCb.sapMCbWrapped.sapMCbHasLabel {
		.sapMCbBg {
			top: 0.5rem;
		}

		.sapWCLabelInCheckBox {
			line-height: 2rem;
			margin: .25rem 0;
		}
	}

	.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		top: 0.35rem;
		bottom: 0.325rem;
		left: .375rem;
	}
}

/* RTL */
[dir="rtl"] {
	& .sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
		left: 0;
		right: 0.675rem;
	}

	& .sapMCb.sapMCbHasLabel {
		padding: 0 .875rem;
		padding-left: 0;

		& .sapWCLabelInCheckBox {
			padding: 0 .875rem 0 0;
		}
	}
}