/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* =============================== */
/* CSS for control ui5-checkbox  */
/* Base theme                      */
/* =============================== */

@_ui5_checkbox_width_height: 3rem;
@_ui5_checkbox_compact_width_height: 2rem;
@_ui5_checkbox_hover_background: @sapUiFieldHoverBackground;
@_ui5_checkbox_inner_width_height: 1.375rem;
@_ui5_checkbox_inner_border: solid .125rem @sapUiFieldBorderColor;
@_ui5_checkbox_inner_border_radius: 0;
@_ui5_checkbox_inner_error_border: 0.125rem solid @sapUiFieldInvalidColor;
@_ui5_checkbox_inner_warning_border: 0.125rem solid @sapUiFieldWarningColor;
@_ui5_checkbox_inner_readonly_border: 0.125rem solid @sapUiFieldReadOnlyBorderColor;
@_ui5_checkbox_checkmark_warning_color: darken(@sapUiFieldWarningColor, 100);
@_ui5_checkbox_checkmark_color: @sapUiSelected;
@_ui5_checkbox_focus_left_top_bottom_position: .6875rem;
@_ui5_checkbox_compact_no_label_focus_right: 0px;
@_ui5_checkbox_no_label_focus_right: .6875rem;
@_ui5_checkbox_focus_outline: 1px dotted @sapUiContentFocusColor;
@_ui5_checkbox_compact_inner_size: 1rem;
@_ui5_checkbox_compact_focus_left_top_bottom_position: .375rem;
@_ui5_checkbox_wrapped_content_margin_top: 0.125rem;
@_ui5_checkbox_wrapped_focus_padding: .375rem;

:host(ui5-checkbox) {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
}

ui5-checkbox {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
}

.ui5-checkbox-wrapper {
	min-height: @_ui5_checkbox_width_height;
	min-width: @_ui5_checkbox_width_height;
	display: flex;
	align-items: center;
	padding-left: .8125rem;
	padding-right: 0.125rem;
	box-sizing: border-box;
	outline: none;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


.ui5-checkbox-wrapper::after {
	content: "";
	min-height: inherit;
	font-size: 0;
}

.ui5-checkbox-wrapper.ui5-checkbox-with-label.ui5-checkbox--wrap {
	min-height: auto;
	padding-top: .6875rem;
	box-sizing: border-box;
	padding-bottom: .6875rem;
	align-items: flex-start;
}

.ui5-checkbox-wrapper.ui5-checkbox-with-label.ui5-checkbox--wrap .ui5-checkbox-inner,
.ui5-checkbox-wrapper.ui5-checkbox-with-label.ui5-checkbox--wrap .ui5-checkbox-label {
	margin-top: @_ui5_checkbox_wrapped_content_margin_top;
}

.ui5-checkbox--disabled {
	opacity: .5;
}

.ui5-checkbox--error .ui5-checkbox-inner {
	background: @sapUiFieldInvalidBackground;
	border: @_ui5_checkbox_inner_error_border;
	color: @sapUiFieldInvalidColor;
}

.ui5-checkbox--error.ui5-checkbox--hoverable:hover .ui5-checkbox-inner {
	background: @sapUiFieldInvalidBackground;
	color: @sapUiFieldInvalidColor;
	border-color: @sapUiFieldInvalidColor;
}

.ui5-checkbox--error .ui5-checkbox-inner--checked::before {
	color: @sapUiFieldInvalidColor;
}

.ui5-checkbox--warning .ui5-checkbox-inner {
	background: @sapUiFieldWarningBackground;
	border: @_ui5_checkbox_inner_warning_border;
	color: @sapUiFieldWarningColor;
}

.ui5-checkbox--warning.ui5-checkbox--hoverable:hover .ui5-checkbox-inner {
	background: @sapUiFieldWarningBackground;
	color: @sapUiFieldWarningColor;
	border-color: @sapUiFieldWarningColor;
}

.ui5-checkbox--warning .ui5-checkbox-inner--checked::before {
	color: @_ui5_checkbox_checkmark_warning_color;
}

.ui5-checkbox--hoverable:hover .ui5-checkbox-inner {
	background: @_ui5_checkbox_hover_background;
	border-color: @sapUiFieldHoverBorderColor;
}

.ui5-checkbox--readonly:not(.ui5-checkbox--warning):not(.ui5-checkbox--error) .ui5-checkbox-inner {
	background: @sapUiFieldReadOnlyBackground;
	border: @_ui5_checkbox_inner_readonly_border;
	color: @sapUiContentNonInteractiveIconColor;
}

.ui5-checkbox-wrapper:focus::before {
	content: "";
	position: absolute;
	top: @_ui5_checkbox_focus_left_top_bottom_position;
	left: .6875rem;
	right: 0px;
	bottom: @_ui5_checkbox_focus_left_top_bottom_position;
	border: @_ui5_checkbox_focus_outline;
}

.ui5-checkbox-wrapper:not(.ui5-checkbox-with-label):focus::after {
	right: @_ui5_checkbox_no_label_focus_right;
}

.ui5-checkbox-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: @_ui5_checkbox_inner_width_height;
	max-width: @_ui5_checkbox_inner_width_height;
	height: @_ui5_checkbox_inner_width_height;
	max-height: @_ui5_checkbox_inner_width_height;
	border: @_ui5_checkbox_inner_border;
	border-radius: @_ui5_checkbox_inner_border_radius;
	background: @sapUiFieldBackground;
	box-sizing: border-box;
	position: relative;
	cursor: default;
	pointer-events: none;
}

.ui5-checkbox-inner--checked::before {
	content: "\e05b";
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	font-family: "SAP-icons";
	color: @_ui5_checkbox_checkmark_color;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.ui5-checkbox-inner input {
	-webkit-appearance: none;
	visibility: hidden;
	width: 0;
	left: 0;
	position: absolute;
	font-size: inherit;
}

.ui5-checkbox-wrapper .ui5-checkbox-label {
	margin-left: .8125rem;
	cursor: default;
	pointer-events: none;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.sapUiSizeCompact .ui5-checkbox-wrapper {
	min-height: @_ui5_checkbox_compact_width_height;
	min-width: @_ui5_checkbox_compact_width_height;
}

.sapUiSizeCompact .ui5-checkbox-inner {
	max-height: @_ui5_checkbox_compact_inner_size;
	height: @_ui5_checkbox_compact_inner_size;
	max-width: @_ui5_checkbox_compact_inner_size;
	min-width: @_ui5_checkbox_compact_inner_size;
	font-size: .625rem;
	border-radius: 0;
}

.sapUiSizeCompact .ui5-checkbox-wrapper:focus::before {
	top: @_ui5_checkbox_compact_focus_left_top_bottom_position;
	left: .6875rem;
	right: 0px;
	bottom: @_ui5_checkbox_compact_focus_left_top_bottom_position;
	border: @_ui5_checkbox_focus_outline;
}

.sapUiSizeCompact .ui5-checkbox-wrapper:not(.ui5-checkbox-with-label):focus::after {
	right: @_ui5_checkbox_compact_no_label_focus_right;
}

.sapUiSizeCompact .ui5-checkbox-wrapper.ui5-checkbox-with-label.ui5-checkbox--wrap {
	min-height: auto;
	padding-top: @_ui5_checkbox_wrapped_focus_padding;
	padding-bottom: @_ui5_checkbox_wrapped_focus_padding;
}

span[dir="rtl"] .ui5-checkbox-wrapper .ui5-checkbox-label {
	margin-left: 0;
	margin-right: .8125rem;
}