:root {
	--_ui5_color-palette-item-after-focus-border-radius: 0.125rem;
	--_ui5_color-palette-item-hover-margin: 0;
	--_ui5_color-palette-row-height: 9.5rem;
	--_ui5_color-palette-button-height: 3rem;
	--_ui5_color-palette-item-before-focus-color: 0.0625rem solid white;
	--_ui5_color-palette-item-before-focus-inset: 0.0625rem;
	--_ui5_color-palette-item-before-focus-hover-inset: 0.0625rem;
	--_ui5_color-palette-item-after-focus-color: 0.0625rem dotted black;
	--_ui5_color-palette-item-after-focus-inset: 0.0625rem;
	--_ui5_color-palette-item-after-focus-hover-inset: 0.0625rem;
	--_ui5_color-palette-item-before-focus-border-radius: 0;
	--_ui5_color-palette-item-before-focus-border-radius: 0;
	--_ui5_color-palette-item-outer-border-radius: 0.25rem;
	--_ui5_color-palette-item-inner-border-radius: 0.1875rem;
	--_ui5_color-palette-item-hover-outer-border-radius: 0.25rem;
	--_ui5_color-palette-item-hover-inner-border-radius: 0.1875rem;
	--_ui5_color-palette-item-selected-focused-border-before: var(--_ui5_color-palette-item-before-focus-hover-inset);
	--_ui5_color-palette-item-after-focus-not-selected-border: 0.0625rem dotted black;
	--_ui5_color-palette-item-after-not-focus-color: 0.0625rem solid var(--sapGroup_ContentBackground);
	--_ui5_color-palette-item-selected-focused-border: 0.0625rem solid var(--sapGroup_ContentBackground);
	--_ui5-color-palette-item-mobile-focus-inset: 0.625rem;
	--_ui5_color-palette-item-mobile-focus-sides-inset: 0.25rem 0.25rem;
	--_ui5_color-palette-item-after-mobile-focus-border: var(--_ui5_color-palette-item-after-focus-color);
}