:root {
    --_ui5_color_picker_slider_handle_box_shadow: 0.0625rem solid var(--sapField_BorderColor);
    --_ui5_color_picker_slider_handle_border: 0.125rem solid var(--sapField_BorderColor);
    --_ui5_color_picker_slider_handle_outline_hover: 0.125rem solid var(--sapButton_Hover_BorderColor);
    --_ui5_color_picker_slider_handle_outline_focus: 0.0625rem dotted var(--sapContent_FocusColor);
    --_ui5_color_picker_slider_handle_margin_top: 0.125rem;
    --_ui5_color_picker_slider_handle_focus_margin_top: 0.125rem;
    --_ui5_color_picker_circle_outer_border: 0.0625rem solid var(--sapContent_ContrastShadowColor);
    --_ui5_color_picker_circle_inner_border: 0.0625rem solid var(--sapField_BorderColor);
    --_ui5_color_picker_circle_inner_circle_size: 0.5625rem;
    --_ui5_color_picker_slider_container_margin_top: -10px;
    --_ui5_color_picker_slider_handle_inline_focus: none;
}