/* =============================== */
/* CSS for ui5-li-custom           */
/* Base theme                      */
/* =============================== */
:host(ui5-li-custom) .sap-phone .sapMLIB {
	outline: none;
}

:host(ui5-li-custom) {
	display: block;
}

ui5-li-custom {
	display: block;
}

ui5-li-custom .sap-phone .sapMLIB {
	outline: none;
}

.sapMLIB.sapMCustomLI {
	padding: 0;
}

ui5-checkbox.multiSelectionCheckBox,
ui5-radiobutton.singleSelectionRadioButton {
	min-width: 3rem;
}

.sapUiSizeCompact ui5-checkbox.multiSelectionCheckBox,
.sapUiSizeCompact ui5-radiobutton.singleSelectionRadioButton {
	min-width: 2rem;
}