/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* ============================= */
/* Base theme                    */
/* ============================= */

@sap_wc_dp_icon_width: 2.375rem;

:host(ui5-datepicker) {
	display: inline-block;
	width: 100%;
}

// required for browsers without native shadow dom
ui5-datepicker {
	display: inline-block;
	width: 100%;
}

.sapWCDPIcon {
	color: @sapUiContentIconColor;
	width: @sap_wc_dp_icon_width;
	cursor: pointer;
	outline: none;

	&:active {
		background-color: @sapUiButtonLiteActiveBackground;
		color: @sapUiButtonActiveTextColor;
	}

	&.sapWCDPIconPressed,
	&.sapWCDPIconPressed:active {
		background: @sapUiToggleButtonPressedBackground;
		color: @sapUiButtonActiveTextColor;
	}

	&:not(.sapWCDPIconPressed):not(:active):hover {
		background: @sapUiButtonLiteHoverBackground;
	}
}