/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* ============================= */
/* Base theme                    */
/* ============================= */

@_ui5_datepicker_icon_border: none;

:host(ui5-datepicker) {
	display: inline-block;
	width: 100%;
}

ui5-datepicker {
	display: inline-block;
	width: 100%;
}

.sapWCDPIcon {
	color: @sapUiContentIconColor;
	cursor: pointer;
	outline: none;
	border: @_ui5_datepicker_icon_border;
	box-sizing: border-box;
}

.sapWCDPIcon:hover,
.sapWCDPIcon.sapWCDPIconPressed {
	border-left-color: white;
}

.sapWCDPIcon:active {
	background-color: @sapUiButtonLiteActiveBackground;
	color: @sapUiButtonActiveTextColor;
}

.sapWCDPIcon.sapWCDPIconPressed {
	background: @sapUiToggleButtonPressedBackground;
	color: @sapUiButtonActiveTextColor;
}

.sapWCDPIcon:not(.sapWCDPIconPressed):not(:active):hover {
	background: @sapUiButtonLiteHoverBackground;
}
