:root {
	--_ui5_dialog_header_focus_bottom_offset: 3px;
	--_ui5_dialog_header_focus_top_offset: 2px;
	--_ui5_dialog_header_focus_left_offset: 2px;
	--_ui5_dialog_header_focus_right_offset: 2px;
	--_ui5_dialog_header_border_radius: 0px;
	--_ui5_dialog_header_state_line_height: 0.0625rem;
}
