/* ========================================== */
/* CSS for ui5-li-groupheader                 */
/* Base theme                                 */
/* ========================================== */

.sapMLIB.sapMGHLI {
	height: 3rem;
	color: @sapUiListTableGroupHeaderTextColor;
	background: @sapUiListGroupHeaderBackground;
	padding-top: 1rem;
	font-size: @sapMFontHeader6Size;
	font-weight: @sapUiFontHeaderWeight;
	line-height: 2rem;
	border-bottom: 1px solid @sapUiListTableGroupHeaderBorderColor;
}

.sapMLIB.sapMGHLI.sapMLIBTransparent {
	background: fade(@sapUiListBackground, 0);
}

.sapMGHLI > .sapMLIBContent {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.sapMGHLITitle {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} 

/* Compact size */
.sapUiSizeCompact .sapMGHLI {
	height: 2rem;
}