/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* ================================= */
/* CSS for ui5-icon                  */
/* Base theme                        */
/* ================================= */

:host(ui5-icon) {
	display: inline-block;
	outline: none;
	color: @sapUiContentNonInteractiveIconColor;
}

// required for browsers without native shadow dom
ui5-icon {
	display: inline-block;
	outline: none;
	color: @sapUiContentNonInteractiveIconColor;

	// workaround for IE
	// pressing on the span does not propagate active state to the web component
	& span[data-sap-ui-wc-root] {
		pointer-events: none;
	}
}

.sapWCIcon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border-style: none;
	pointer-events: none;

	&::before {
		content: attr(data-sap-ui-icon-content);
		speak: none;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
}

[dir=rtl] .sapWCIconMirrorInRTL:not(.sapWCIconSuppressMirrorInRTL) {
	&::before,
	&::after {
		transform: scale(-1, 1);
	}
}
