:root {
	--_ui5_input_width: 13.125rem;
	--_ui5_input_min_width: 2.75rem;
	--_ui5_input_height: var(--sapElement_Height);
	--_ui5_input_compact_height: 1.625rem;
	--_ui5_input_margin_top_bottom: 0.25rem;
	--_ui5_input_hover_border: var(--sapField_BorderWidth) var(--sapField_BorderStyle) var(--sapField_Hover_BorderColor);
	--_ui5_input_value_state_error_hover_background: var(--sapField_Hover_Background);
	--_ui5_input_background_color: var(--sapField_Background);
	--_ui5_input_border_radius: var(--sapField_BorderCornerRadius);
	--_ui5_input_focus_border_radius: 0;
	--_ui5_input_readonly_focus_border_radius: 0;
	--_ui5-input-border: 2px solid transparent; /* The value of this variable defaults to sap_horizon theme, because if it defaults to fiori, then a flickering of the border is present*/
	--_ui5_input_placeholder_style: italic;
	--_ui5_input_placeholder_color: var(--sapField_PlaceholderTextColor);
	--_ui5_input_bottom_border_height: 0;
	--_ui5_input_bottom_border_color: transparent;
	--_ui5_input_focused_border_color: var(--sapField_Hover_BorderColor);
	--_ui5_input_state_border_width: 0.125rem;
	--_ui5_input_information_border_width: 0.125rem;
	--_ui5_input_error_font_weight: normal;
	--_ui5_input_warning_font_weight: normal;
	--_ui5_input_focus_border_width: 1px;
	--_ui5_input_error_warning_border_style: solid;
	--_ui5_input_error_warning_font_style: inherit;
	--_ui5_input_error_warning_text_indent: 0;
	--_ui5_input_disabled_color: var(--sapContent_DisabledTextColor);
	--_ui5_input_disabled_font_weight: normal;
	--_ui5_input_disabled_border_color: var(--sapField_BorderColor);
	--_ui5-input_disabled_background: var(--sapField_Background);
	--_ui5_input_readonly_border_color: var(--sapField_ReadOnly_BorderColor);
	--_ui5_input_readonly_background: var(--sapField_ReadOnly_Background);
	--_ui5_input_custom_icon_padding: .5625rem .625rem;
	--_ui5_input_error_warning_custom_icon_padding: .5rem .625rem;
	--_ui5_input_error_warning_custom_focused_icon_padding: .5rem .625rem;
	--_ui5_input_information_custom_icon_padding: .5rem .625rem;
	--_ui5_input_information_custom_focused_icon_padding: .5rem .625rem;
	--_ui5_input_error_warning_icon_padding: .5rem .5rem .5rem .5625rem;
	--_ui5_input_error_warning_focused_icon_padding: .5rem .5rem .5rem .5625rem;
	--_ui5_input_information_icon_padding: .5rem .5rem .5rem .5625rem;
	--_ui5_input_information_focused_icon_padding: .5rem .5rem .5rem .5625rem;
	--_ui5_input_disabled_opacity: var(--sapContent_DisabledOpacity);
	--_ui5_input_icon_min_width: 2.25rem;
	--_ui5_input_compact_min_width: 2rem;
	--_ui5_input_transition: none;
	--_ui5-input-value-state-icon-display: none;
	--_ui5_input_focused_value_state_error_background: var(--sapField_InvalidBackground);
	--_ui5_input_focused_value_state_warning_background: var(--sapField_WarningBackground);
	--_ui5_input_focused_value_state_success_background: var(--sapField_SuccessBackground);
	--_ui5_input_focused_value_state_information_background: var(--sapField_InformationBackground);
	--_ui5_input_value_state_error_border_color: var(--sapField_InvalidColor);
	--_ui5_input_focused_value_state_error_border_color: var(--sapField_InvalidColor);
	--_ui5_input_focused_value_state_error_focus_outline_color: var(--sapContent_FocusColor);
	--_ui5_input_focused_value_state_warning_focus_outline_color: var(--sapContent_FocusColor);
	--_ui5_input_focused_value_state_success_focus_outline_color: var(--sapContent_FocusColor);
	--_ui5_input_value_state_warning_border_color: var(--sapField_WarningColor);
	--_ui5_input_focused_value_state_warning_border_color: var(--sapField_WarningColor);
	--_ui5_input_value_state_success_border_color: var(--sapField_SuccessColor);
	--_ui5_input_focused_value_state_success_border_color: var(--sapField_SuccessColor);
	--_ui5_input_value_state_success_border_width: 1px;
	--_ui5_input_value_state_information_border_color: var(--sapField_InformationColor);
	--_ui5_input_focused_value_state_information_border_color: var(--sapField_InformationColor);
	--_ui5-input-value-state-information-border-width: 1px;
	--_ui5-input-background-image: none;
	--_ui5_input_focus_offset: 1px;
	--_ui5_input_readonly_focus_offset: 1px;
	--ui5_input_focus_pseudo_element_content: '';
	--_ui5_input_value_state_error_warning_placeholder_font_weight: normal;
	--_ui5_input_focus_outline_color: var(--sapContent_FocusColor);
	--_ui5-input_error_placeholder_color: var(--sapField_PlaceholderTextColor);
	--_ui5_input_icon_width: 2.25rem;
	--_ui5_input_icon_wrapper_height: 100%;
	--_ui5_input_icon_wrapper_state_height: 100%;
	--_ui5_input_icon_wrapper_success_state_height: 100%;
	--_ui5-input-icons-count: 0;
	--_ui5_input_margin_top_bottom: 0.1875rem;
	--_ui5_input_tokenizer_min_width: 3.25rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_input_min_width: 2rem;
	--_ui5_input_icon_width: 2rem;
	--_ui5_input_error_warning_icon_padding: .1875rem .375rem .1875rem .4375rem;
	--_ui5_input_error_warning_focused_icon_padding: .1875rem .375rem .1875rem .4375rem;
	--_ui5_input_information_icon_padding: .1875rem .375rem .1875rem .4375rem;
	--_ui5_input_information_focused_icon_padding: .1875rem .375rem .1875rem .4375rem;
	--_ui5_input_custom_icon_padding: .25rem .5rem;
	--_ui5_input_error_warning_custom_icon_padding: .1875rem .5rem;
	--_ui5_input_error_warning_custom_focused_icon_padding: .1875rem .5rem;
	--_ui5_input_information_custom_icon_padding: .1875rem .5rem;
	--_ui5_input_information_custom_focused_icon_padding: .1875rem .5rem;
}