:root {
	--_ui5_input_width: 13.125rem;
	--_ui5_input_height: 2.5rem;
	--_ui5_input_compact_height: 1.625rem;
	--_ui5-input-hover-border: 1px solid var(--sapField_Hover_BorderColor);
	--_ui5-input-hover-box-shadow: none;
	--_ui5-input-focus-box-shadow: none;
	--_ui5-input-background-color: var(--sapField_Background);
	--_ui5-input-border-radius: var(--sapField_BorderCornerRadius);
	--_ui5-input-border: 2px solid transparent; /* The value of this variable defaults to sap_horizon theme, because if it defaults to fiori, then a flickering of the border is present*/
	--_ui5-input-placeholder-style: italic;
	--_ui5-input-placeholder-color: var(--sapField_PlaceholderTextColor);
	--_ui5-input-bottom-border-height: 0;
	--_ui5-input-bottom-border-color: transparent;
	--_ui5-input-focused-border-color: var(--sapField_Hover_BorderColor);
	--_ui5-input-focus-outline: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	--_ui5-input-focus-outline-offset: -3px;
	--_ui5_input_state_border_width: 0.125rem;
	--_ui5-input-information_border_width: 0.125rem;
	--_ui5_input_error_font_weight: normal;
	--_ui5_input_warning_font_weight: normal;
	--_ui5_input_information_font_weight: normal;
	--_ui5_input_focus_border_width: 1px;
	--_ui5_input_error_warning_border_style: solid;
	--_ui5_input_error_warning_font_style: inherit;
	--_ui5_input_error_warning_text_indent: 0;
	--_ui5_input_information_text_indent: 0;
	--_ui5_input_information_font_style: inherit;
	--_ui5_input_disabled_color: var(--sapContent_DisabledTextColor);
	--_ui5_input_disabled_font_weight: normal;
	--_ui5_input_disabled_border_color: var(--sapField_ReadOnly_BorderColor);
	--_ui5-input-disabled-background: var(--sapField_ReadOnly_Background);
	--_ui5_input_readonly_border_color: var(--sapField_ReadOnly_BorderColor);
	--_ui5-input-readonly-background: var(--sapField_ReadOnly_Background);
	--_ui5_input_icon_padding: 0.625rem .6875rem;
	--_ui5_input_disabled_opacity: 0.5;
	--_ui5_input_icon_min_width: 2.375rem;
	--_ui5_input_compact_min_width: 2rem;
	--_ui5-input-value-state-outline: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	--_ui5-input-value-state-outline-offset: -4px;
	--_ui5-input-transition: none;
	--_ui5-input-value-state-icon-display: none;
	--_ui5-input-focused-value-state-error-background: var(--sapField_InvalidBackground);
	--_ui5-input-focused-value-state-warning-background: var(--sapField_WarningBackground);
	--_ui5-input-focused-value-state-success-background: var(--sapField_SuccessBackground);
	--_ui5-input-focused-value-state-information-background: var(--sapField_InformationBackground);
	--_ui5-input-value-state-error-border-color: var(--sapField_InvalidColor);
	--_ui5-input-focused-value-state-error-border-color: var(--sapField_InvalidColor);
	--_ui5-input-value-state-warning-border-color: var(--sapField_WarningColor);
	--_ui5-input-focused-value-state-warning-border-color: var(--sapField_WarningColor);
	--_ui5-input-value-state-success-border-color: var(--sapField_SuccessColor);
	--_ui5-input-focused-value-state-success-border-color: var(--sapField_SuccessColor);
	--_ui5-input-value-state-success-border-width: 1px;
	--_ui5-input-value-state-information-border-color: var(--sapField_InformationColor);
	--_ui5-input-focused-value-state-information-border-color: var(--sapField_InformationColor);
	--_ui5-input-value-state-information-border-width: 1px;
	--_ui5-input-background-image: none;
	--_ui5-input-information-background-image: none;
	--_ui5-input-success-background-image: none;
	--_ui5-input-error-background-image: none;
	--_ui5-input-warning-background-image: none;
	--_ui5_input_readonly_icon_display: none;
}
