/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* =========================== */
/* CSS for ui5-link            */
/* Base theme                  */
/* =========================== */
@ui5_link_opacity: 0.5;
@ui5_link_outline_element_size: calc(~"100% - 0.125rem");

:host(ui5-link) {
	display: inline-block;
	max-width: 100%;
}

:host(ui5-link) span[data-sap-ui-wc-root] {
	display: flex;
}

ui5-link {
	display: inline-block;
	max-width: 100%;
}

ui5-link span[data-sap-ui-wc-root] {
	display: flex;
}

.sapMLnk {
	color: @sapUiLink;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	font-family: @sapUiFontFamily;
	font-size: @sapMFontMediumSize;
	cursor: pointer;
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	outline: none;
}

.sapMLnk:not(.sapMLnkDsbl):hover,
.sapMLnk.sapMLnkSubtle:not(.sapMLnkDsbl):hover {
	text-decoration: underline;
	color: @sapUiLinkHover;
}

.sapMLnk:visited {
	color: @sapUiLinkVisited;
}

.sapMLnk.sapMLnkDsbl {
	text-shadow: none;
	outline: none;
	cursor: default;
	pointer-events: none;
	opacity: @ui5_link_opacity;
}

.sapMLnk.sapMLnkEmphasized {
	font-weight: bold;
}

.sapMLnk.sapMLnkSubtle,
.sapMLnk.sapMLnkSubtle:visited {
	color: darken(@sapUiLink, 15);
}

.sapMLnk.sapMLnkSubtle:focus {
	color: @sapUiLink;
}

.sapMLnk.sapMLnkWrapping {
	white-space: normal;
	word-wrap: break-word;
}

.sapMLnk:focus {
	text-decoration: underline;
}

.sapMLnk:focus::after {
	content: "";
	width: @ui5_link_outline_element_size;
	height: @ui5_link_outline_element_size;
	position: absolute;
	left: 0px;
	border: 1px dotted @sapUiContentFocusColor;
	top: 0;
	outline: none;
}