:root {
	--_ui5_link_text_decoration: none;
	--_ui5_link_hover_text_decoration: underline;
	--_ui5_link_focused_hover_text_decoration: underline;
	--_ui5_link_focused_hover_text_color: var(--sapLinkColor);
	--_ui5_link_active_text_decoration: underline;
	--_ui5_link_outline: 0.0625rem dotted var(--sapContent_FocusColor);
	--_ui5_link_focus_border-radius: 0;
	--_ui5_link_focus_background_color: transparent;
	--_ui5_link_focus_color: var(--sapLinkColor);
	--_ui5_link_focus_text_decoration: underline;
	--_ui5_link_subtle_text_decoration: none;
	--_ui5_link_subtle_text_decoration_hover: underline;

}