:root {
    --_ui5-listitem-hover-background-color: var(--sapList_Active_Background);
    --_ui5-listitem-pressed-color: var(--sapList_Active_Background);
	--_ui5-listitem-selected-active-color: var(--sapList_Active_TextColor);
    --_ui5-listitem-selected-active-background: var(--sapList_Active_Background);
    --_ui5-listitem-selected-background: var(--sapList_Hover_SelectionBackground);
    --_ui5-listitem-color: var(--sapTextColor);
    --_ui5-listitem-rtl-selected-padding-right: .9375rem;
    --_ui5-listitem-focused-padding-left: 1rem;
    --_ui5-listitem-selected-background: var(--sapList_SelectionBackgroundColor);
    --_ui5-listitem-selected-color: var(--sapTextColor);
}
