:root{
	--_ui5_message_strip_padding: 0.4375rem 2.5rem 0.4375rem 2.5rem;
	--_ui5_message_strip_padding_block_no_icon: 0.4375rem 0.4375rem;
	--_ui5_message_strip_padding_inline_no_icon: 1rem 2.5rem;
	--_ui5_message_strip_border_width: var(--sapMessage_BorderWidth);
	--_ui5_message_strip_icon_top: 0.4375rem;
	--_ui5_message_strip_close_button_top: 0.125rem;
	--_ui5_message_strip_close_button_right: 0.125rem;
	--_ui5_message_strip_close_button_color_set_1_background: var(--sapMessage_Button_Hover_Background);
	--_ui5_message_strip_close_button_color_set_2_background: var(--sapMessage_Button_Hover_Background);
	--_ui5_message_strip_close_button_color_set_1_color: var(--sapContent_ContrastIconColor);
	--_ui5_message_strip_scheme_1_set_2_background: var(--sapIndicationColor_1b);
	--_ui5_message_strip_scheme_1_set_2_border_color: var(--sapIndicationColor_1b_BorderColor);
	--_ui5_message_strip_scheme_2_set_2_background: var(--sapIndicationColor_2b);
	--_ui5_message_strip_scheme_2_set_2_border_color: var(--sapIndicationColor_2b_BorderColor);
	--_ui5_message_strip_scheme_3_set_2_background: var(--sapIndicationColor_3b);
	--_ui5_message_strip_scheme_3_set_2_border_color: var(--sapIndicationColor_3b_BorderColor);
	--_ui5_message_strip_scheme_4_set_2_background: var(--sapIndicationColor_4b);
	--_ui5_message_strip_scheme_4_set_2_border_color: var(--sapIndicationColor_4b_BorderColor);
	--_ui5_message_strip_scheme_5_set_2_background: var(--sapIndicationColor_5b);
	--_ui5_message_strip_scheme_5_set_2_border_color: var(--sapIndicationColor_5b_BorderColor);
	--_ui5_message_strip_scheme_6_set_2_background: var(--sapIndicationColor_6b);
	--_ui5_message_strip_scheme_6_set_2_border_color: var(--sapIndicationColor_6b_BorderColor);
	--_ui5_message_strip_scheme_7_set_2_background: var(--sapIndicationColor_7b);
	--_ui5_message_strip_scheme_7_set_2_border_color: var(--sapIndicationColor_7b_BorderColor);
	--_ui5_message_strip_scheme_8_set_2_background: var(--sapIndicationColor_8b);
	--_ui5_message_strip_scheme_8_set_2_border_color: var(--sapIndicationColor_8b_BorderColor);
	--_ui5_message_strip_scheme_9_set_2_background: var(--sapIndicationColor_9b);
	--_ui5_message_strip_scheme_9_set_2_border_color: var(--sapIndicationColor_9b_BorderColor);
	--_ui5_message_strip_scheme_10_set_2_background: var(--sapIndicationColor_10b);
	--_ui5_message_strip_scheme_10_set_2_border_color: var(--sapIndicationColor_10b_BorderColor);
}
