:root {
	--_ui5_monthpicker_item_background_color: var(--sapUiContentForegroundColorLighten7); /* lighten(var(--sapContent_ForegroundColor), 7); */
	--_ui5_monthpicker_item_focus_background_color: var(--sapUiContentForegroundColorDarken5); /* darken(var(--sapContent_ForegroundColor), 5); */
	--_ui5_monthpicker_item_hover_background_color: var(--sapUiContentForegroundColorLighten7); /* lighten(var(--sapContent_ForegroundColor), 7); */
	--_ui5_monthpicker_item_selected_hover: var(--sapUiSelectedDarken10); /* darken(var(--sapSelectedColor), 10); */
	--_ui5_monthpicker_item_selected_focus: var(--sapUiSelectedDarken10); /* darken(var(--sapSelectedColor), 10); */

	--_ui5_monthpicker_item_border_radius: 0;
	--_ui5_monthpicker_item_border: none;
	--_ui5_monthpicker_item_margin: 1px;
	--_ui5_monthpicker_item_focus_after_width: calc(100% - 0.375rem);
	--_ui5_monthpicker_item_focus_after_height: calc(100% - 0.375rem);
	--_ui5_monthpicker_item_focus_after_border: 1px dotted var(--sapContent_FocusColor);
	--_ui5_monthpicker_item_focus_after_offset: 2px;
}