:root {
	--_ui5_panel_focus_border:   var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	--_ui5_panel_button_root_width: 3rem;
	--_ui5_panel_border_radius: 0px;
	--_ui5_panel_border_radius_expanded: 0;
	--_ui5_panel_default_header_border: none;
	--_ui5_panel_border_bottom: 0.0625rem solid var(--sapGroup_TitleBorderColor);
	--_ui5_panel_outline_offset: -3px;
	--_ui5_panel_icon_color: var(--sapContent_IconColor);
	--_ui5_panel_header_padding_right: 0.5rem;
	--_ui5_panel_header_button_wrapper_padding: .25rem;
	--_ui5_panel_focus_offset: 1px;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_panel_header_button_wrapper_padding: .5625rem .375rem;
}