/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* shared mixin for arrow shadow*/
.sapMPopoverArrAfterShadow(@horizontalShadow, @verticalShadow) {
	box-shadow: @horizontalShadow @verticalShadow 0.750rem 0 fade(@sapUiContentShadowColor, 30), 0 0 0.125rem 0 fade(@sapUiContentShadowColor, 30);
}

.sapMPopover {
	position: fixed;
	z-index: 10;
}
// Adds a hidden layer below the Popover arrow to prevent closing the Popover when clicking on the arrow. In the past
// it was working but the area was bigger you could not click near to the arrow
.sapMPopoverArr {
	pointer-events: none;
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	overflow: hidden;

	&:after {
		content: " ";
		display: block;
		width: 0.7rem;
		height: 0.7rem;
		background-color: @sapUiGroupContentBackground;
		transform: rotate(-45deg);
	}
}

/* pointing upward arrow */
.sapMPopoverArrUp {
	/* offset */
	left: calc(~"50% - 0.5625rem");
	/* position */
	top: -0.5rem;
	height: 0.5625rem;

	&:after {
		margin: 0.1875rem 0 0 0.1875rem;
		.sapMPopoverArrAfterShadow(-0.375rem, 0.375rem);
	}
}

/* pointing right arrow */
.sapMPopoverArrRight {
	/* offset */
	top: calc(~"50% - 0.5625rem");
	/* position */
	right: -0.5625rem;
	width: 0.5625rem;

	&:after {
		margin: 0.1875rem 0 0 -0.375rem;
		.sapMPopoverArrAfterShadow(-0.375rem, -0.375rem);
	}
}

/* pointing downward arrow */
.sapMPopoverArrDown {
	/* offset */
	left: calc(~"50% - 0.5625rem");
	/* position */
	height: 0.5625rem;

	&:after {
		margin: -0.375rem 0 0 0.125rem;
		.sapMPopoverArrAfterShadow(0.375rem, -0.375rem);
	}

}

/* pointing left arrow */
.sapMPopoverArrLeft {
	/* position */
	left: -0.5625rem;
	top: calc(~"50% - 0.5625rem");
	width: 0.5625rem;
	height: 1rem;

	&:after {
		margin: 0.125rem 0 0 0.25rem;
		.sapMPopoverArrAfterShadow(0.375rem, 0.375rem);
	}
}

.sapMPopoverArr.sapMPopoverArrHidden {
	display: none;
}

.sapMPopover {
	transform: translate3d(0,0,0); // fixes z-index issue on iOS within iframe without side effect in the rest of the browsers
}