:root {
	--_ui5_product-switch-item_width: 11.25rem;
	--_ui5_product-switch-item_height: 7rem;
	--_ui5_product-switch-item_background_color: #ffffff;
	--_ui5_product-switch-item_hover_background_color: #f5f5f5;
	--_ui5_product-switch-item_active_background_color: #0854a0;
	--_ui5_product-switch-item_active_color: #ffffff;
	--_ui5_product-switch-item_icon_color: #0854a0;
	--_ui5_product-switch-item_title_color: #32363a;
	--_ui5_product-switch-item_title_size: .875rem;
	--_ui5_product-switch-item_subtitle_color: #6a6d70;
	--_ui5_product-switch-item_subtitle_size: .75rem;
	--_ui5_product-switch-item_outline: .0625rem #000000 dotted;
	--_ui5_product-switch-item_outline_offset: -.1875rem;
}