:root {
	--_ui5_radiobutton_hover_fill: var(--sapUiFieldHoverBackground);
	--_ui5_radiobutton_border_width: 1px;
	--_ui5_radiobutton_selected_fill: var(--sapUiSelected);
	--_ui5_radiobutton_selected_error_fill: var(--sapUiFieldInvalidColor);
	--_ui5_radiobutton_selected_warning_fill: var(--sapUiFieldWarningColorDarken100);
	--_ui5_radiobutton_warning_error_border_dash: 0;
}