:root {
	--_ui5_radio_button_min_width: 2.75rem;
	--_ui5_radio_button_min_width_compact: 2rem;
	--_ui5_radio_button_hover_fill: var(--sapField_Hover_Background);
	--_ui5_radio_button_border_width: 1px;
	--_ui5_radio_button_checked_fill: var(--sapContent_FocusColor);
	--_ui5_radio_button_checked_error_fill: var(--sapField_InvalidColor);
	--_ui5_radio_button_checked_warning_fill: var(--sapField_TextColor);
	--_ui5_radio_button_warning_error_border_dash: 0;
	--_ui5_radio_button_color: var(--sapNeutralColor);
	--_ui5_radio_button_outer_ring_color: var(--sapContent_FocusColor);
	--_ui5_radio_button_outer_ring_hover_color: var(--sapTile_TitleTextColor);
	--_ui5_radio_button_outer_ring_checked_hover_color: var(--sapContent_FocusColor);
	--_ui5_radio_button_outer_ring_width: 2;
	--_ui5_radio_button_outer_ring_bg: var(--sapHighlightTextColor);
	--_ui5_radio_button_outer_ring_padding: 0 10px 0 6px;
	--_ui5_radio_button_outer_ring_padding_rtl: 0 6px 0 10px;
	--_ui5_radio_button_border_radius: 1rem;
	--_ui5_radio_button_border: 2px solid transparent;
	--_ui5_radio_button_focus_border: 2px solid var(--sapContent_FocusColor);
	--_ui5_radio_button_focus_outline: none;
	--_ui5_radio_button_hover_shadow: 0px 0px 2px rgba(131, 150, 168, 0.16), 0px 8px 16px rgba(131, 150, 168, 0.16);
	--_ui5_radio_button_hover_background: var(--sapHighlightTextColor);
	--_ui5_radio_button_hover_transition: background-color 300ms ease-in-out;
	--_ui5_radio_button_label_offset: 3.875rem;
	--_ui5_radio_button_label_color: var(--sapTitleColor);
	--_ui5_radio_button_items_align: center;
	
}