/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
	--_ui5_radiobutton_min_width: 2.75rem;
	--_ui5_radiobutton_min_width_compact: 2rem;
	--_ui5_radiobutton_hover_fill: var(--sapField_Hover_Background);
	--_ui5_radiobutton_border_width: 1px;
	--_ui5_radiobutton_selected_fill: var(--sapSelectedColor);
	--_ui5_radiobutton_selected_error_fill: var(--sapField_InvalidColor);
	--_ui5_radiobutton_selected_warning_fill: var(--sapField_TextColor);
	--_ui5_radiobutton_warning_error_border_dash: 0;
}