:root {
	--_ui5_radio_button_min_width: 2.75rem;
	--_ui5_radio_button_hover_fill: var(--sapField_Hover_Background);
	--_ui5_radio_button_hover_fill_error: var(--sapField_Hover_Background);
	--_ui5_radio_button_hover_fill_warning: var(--sapField_Hover_Background);
	--_ui5_radio_button_hover_fill_success: var(--sapField_Hover_Background);
	--_ui5_radio_button_hover_fill_information: var(--sapField_Hover_Background);
	--_ui5_radio_button_border_width: 1px;
	--_ui5_radio_button_checked_fill: var(--sapSelectedColor);
	--_ui5_radio_button_checked_error_fill: var(--sapField_InvalidColor);
	--_ui5_radio_button_checked_warning_fill: var(--sapField_TextColor);
	--_ui5_radio_button_checked_success_fill: var(--sapField_SuccessColor);
	--_ui5_radio_button_checked_information_fill: var(--sapField_InformationColor);
	--_ui5_radio_button_warning_error_border_dash: 0;
	--_ui5_radio_button_outer_ring_color: var(--sapField_BorderColor);
	--_ui5_radio_button_outer_ring_width: var(--sapField_BorderWidth);
	--_ui5_radio_button_outer_ring_bg: var(--sapField_Background);
	--_ui5_radio_button_outer_ring_hover_color: var(--sapField_Hover_BorderColor);
	--_ui5_radio_button_outer_ring_active_color: var(--sapField_Hover_BorderColor);
	--_ui5_radio_button_outer_ring_checked_hover_color: var(--sapField_Hover_BorderColor);
	--_ui5_radio_button_outer_ring_padding: 0 0.625rem;
	--_ui5_radio_button_outer_ring_padding_with_label: 0 0.6875rem;
	--_ui5_radio_button_border_radius: 0;
	--_ui5_radio_button_border: none;
	--_ui5_radio_button_focus_border: none;
	--_ui5_radio_button_focus_outline: block;
	--_ui5_radio_button_focus_dist: 0.5rem;
	--_ui5_radio_button_color: var(--sapField_BorderColor);
	--_ui5_radio_button_label_offset: 1px;
	--_ui5_radio_button_label_color: var(--sapContent_LabelColor);
	--_ui5_radio_button_items_align: unset;
	--_ui5_radio_button_inner_ring_radius: 22%;
	--_ui5_radio_button_read_only_border_type: none;
	--_ui5_radio_button_inner_ring_color: var(--sapSelectedColor);
	--_ui5_radio_button_information_border_width: var(--sapField_InformationBorderWidth);
	--_ui5_radio_button_read_only_border_width: var(--sapField_BorderWidth);
	--_ui5_radio_button_read_only_inner_ring_color: var(--sapContent_NonInteractiveIconColor);
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_radio_button_min_width: 2rem;
	--_ui5_radio_button_focus_dist: 0.375rem;
	--_ui5_radio_button_outer_ring_padding_with_label: 0 0.5rem;
}