:root {
	--_ui5_rating_indicator_border_radius: 0.5rem;
	--_ui5_rating_indicator_outline_offset: -0.125rem;
	--_ui5_rating_indicator_item_height: 1em;
	--_ui5_rating_indicator_item_width: 1em;
	--_ui5_rating_indicator_readonly_item_height: 1em;
	--_ui5_rating_indicator_readonly_item_width: 1em;
	--_ui5_rating_indicator_readonly_item_spacing: 0px;
	--_ui5_rating_indicator_component_spacing: 0.5rem 0px;
	--ui5_rating_indicator_component_padding: 0.25rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_rating_indicator_item_height: 0.67em;
	--_ui5_rating_indicator_item_width: 0.67em;
	--_ui5_rating_indicator_readonly_item_height: 0.67em;
	--_ui5_rating_indicator_readonly_item_width: 0.67em;
	--_ui5_rating_indicator_component_spacing: 0.8125rem 0px;
}