:root, [dir="ltr"] {
	--_ui5_rotation_90deg: rotate(90deg);
	--_ui5_rotation_minus_90deg: rotate(-90deg);

	--_ui5_icon_transform_scale: none;
	--_ui5_panel_toggle_btn_rotation: var(--_ui5_rotation_90deg);
	--_ui5_li_notification_group_toggle_btn_rotation: var(--_ui5_rotation_90deg);
	--_ui5_timeline_scroll_container_offset: 0.5rem;
	--_ui5_shellbar_overflow_container_float: none;

	--_ui5_progress_indicator_bar_border_radius: 0.5rem 0 0 0.5rem;
	--_ui5_progress_indicator_bar_flex_direction: row;
	--_ui5_progress_indicator_bar_justify_content: flex-end;
	--_ui5_progress_indicator_remaining_bar_justify_content: flex-start;
	--_ui5_progress_indicator_remaining_bar_border_radius: 0 0.5rem 0.5rem 0;
}

[dir="rtl"] {
	--_ui5_icon_transform_scale: scale(-1, 1);
	--_ui5_panel_toggle_btn_rotation: var(--_ui5_rotation_minus_90deg);
	--_ui5_li_notification_group_toggle_btn_rotation: var(--_ui5_rotation_minus_90deg);
	--_ui5_timeline_scroll_container_offset: -0.5rem;
	--_ui5_shellbar_overflow_container_float: left;

	--_ui5_progress_indicator_bar_border_radius: 0 0.5rem 0.5rem 0;
	--_ui5_progress_indicator_bar_flex_direction: row-reverse;
	--_ui5_progress_indicator_bar_justify_content: flex-start;
	--_ui5_progress_indicator_remaining_bar_justify_content: flex-end;
	--_ui5_progress_indicator_remaining_bar_border_radius: 0.5rem 0 0 0.5rem;
}