:root {
	--_ui5_rotation_90deg: rotate(90deg);
	--_ui5_rotation_minus_90deg: rotate(-90deg);

	--_ui5_panel_toggle_btn_rotation_degree: var(--_ui5_rotation_90deg);
	--_ui5_li_notification_group_toggle_btn_degree: var(--_ui5_rotation_90deg);
}

[dir="rtl"] {
	--_ui5_panel_toggle_btn_rotation_degree: var(--_ui5_rotation_minus_90deg);
	--_ui5_li_notification_group_toggle_btn_degree: var(--_ui5_rotation_minus_90deg);
}
