:root {
	--_ui5_select_disabled_background: var(--sapField_Background);
	--_ui5_select_disabled_border_color: var(--sapField_BorderColor);
	--_ui5_select_state_error_warning_border_style: solid;
	--_ui5_select_state_error_warning_border_width: 0.125rem;
	--_ui5_select_hover_icon_left_border: 1px solid transparent;
	--_ui5_select_focus_width: 1px;
	--_ui5_select_label_color: var(--sapField_TextColor);
}