:host(ui5-select) {
	display: inline-block;
	width: 100%;
}

ui5-select {
	display: inline-block;
	width: 100%;
}

.sapWCSelect {
	height: 2.25rem;
	max-width: 100%;
	min-width: 5rem;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: @sapUiFieldBackground;
	border: 1px solid @sapUiFieldBorderColor;
	box-sizing: border-box;
	padding-left: 0.5rem;
	cursor: pointer;
	outline: none;

	// Hovered
	&:hover:not(.sapWCSelectState):not(.sapWCSelectOpened) {
		background-color: @sapUiFieldHoverBackground;
		border: 1px solid @sapUiFieldHoverBorderColor; 

		.sapWCSelectDropDownIcon {
			background: @sapUiButtonLiteHoverBackground;
		}
	}

	// Focused
	&:not(.sapWCSelectOpened):not(.sapWCSelectDisabled):focus {
		outline: none;

		&:before {
			content: "";
			position: absolute;
			width: calc(~"100% - 0.25rem");
			height: calc(~"100% - 0.25rem");
			border: 1px dotted @sapUiContentFocusColor;
			top: 1px;
			right: 1px;
			bottom: 1px;
			left: 1px;
			pointer-events: none;
		}
	}

	// Focused with state
	&.sapWCSelectState:not(.sapWCSelectOpened):not(.sapWCSelectDisabled):focus {
		outline-offset: -4px;
	}

	// Opened
	&.sapWCSelectOpened .sapWCSelectDropDownIcon {
		background: @sapUiToggleButtonPressedBackground;
		color: @sapUiToggleButtonPressedTextColor;
	}

	// Disabled
	&.sapWCSelectDisabled {
		cursor: default;
		opacity: 0.5;
	}

	// Text
	& .sapWCSelectLabel {
		min-width: 1rem;
		width: 100%;

		ui5-label {
			cursor: pointer;
		}
	}

	// Icon
	& .sapWCSelectDropDownIcon {
		width: 2.5rem;
		height: 100%;
		flex-shrink: 0;
		color: @sapUiContentIconColor;
	}
}

// States
.sapWCSelectError {
	background-color: @sapUiFieldInvalidBackground;
	border: 0.125rem solid @sapUiFieldInvalidColor;
}

.sapWCSelectWarning {
	background-color: @sapUiFieldWarningBackground;
	border: 0.125rem solid @sapUiFieldWarningColor;
}

.sapWCSelectSuccess {
	background-color: @sapUiFieldSuccessBackground;
	border: 0.125rem solid @sapUiFieldSuccessColor;
}

// Compact
.sapUiSizeCompact .sapWCSelect {
	height: 1.625rem;

	& .sapWCSelectDropDownIcon {
		width: 2rem;
	}
}

// RTL
:host(ui5-select) span[dir="rtl"]{
	.sapWCSelect {
		padding-left: 0;
		padding-right: 0.5rem;
	}
}

ui5-select span[dir="rtl"] {
	.sapWCSelect {
		padding-left: 0;
		padding-right: 0.5rem;
	}
}