:root {
	/* Calendar */
	--_ui5_calendar_height: 24.5rem;
	--_ui5_calendar_width: 20rem;
	--_ui5_calendar_left_right_padding:  0.5rem;
	--_ui5_calendar_top_bottom_padding: 1rem;
	--_ui5_calendar_header_height: 3rem;
	--_ui5_calendar_header_arrow_button_width: 2.5rem;
	--_ui5_calendar_header_padding: 0.25rem 0;

	--_ui5_checkbox_root_side_padding: .6875rem;
	--_ui5_checkbox_icon_size: 1rem;
	--_ui5_checkbox_partially_icon_size: .75rem;
	--_ui5_custom_list_item_rb_min_width: 2.75rem;
	--_ui5_day_picker_item_width: 2.25rem;
	--_ui5_day_picker_item_height: 2.875rem;
	--_ui5_day_picker_empty_height: 3rem;
	--_ui5_day_picker_item_justify_content: space-between;
	--_ui5_daypicker_item_now_selected_two_calendar_focus_special_day_top: 2rem;
	--_ui5_daypicker_item_now_selected_two_calendar_focus_special_day_right: 1.4375rem;
    --_ui5_dp_two_calendar_item_secondary_text_height: 1rem;
	--_ui5_dp_two_calendar_item_text_padding_top: 0.4375rem;
	--_ui5_dp_two_calendar_item_secondary_text_padding_block: 0 0.5rem;
	--_ui5_dp_two_calendar_item_secondary_text_padding: 0 0.5rem;
	--_ui5_daypicker_item_now_selected_two_calendar_focus_secondary_text_padding_block: 0 0.5rem;
	--_ui5_daypicker_two_calendar_item_selected_focus_margin_bottom: 0;
	--_ui5_daypicker_two_calendar_item_selected_focus_padding_right: 0.4375rem;

	/* CalendarLegend */
	--_ui5-calendar-legend-item-root-focus-offset: -0.125rem;

	/* Calendar Legend Item */
	--_ui5-calendar-legend-item-box-margin: 0.25rem;
	--_ui5-calendar-legend-item-box-inner-margin: 0.5rem;

	/* ColorPicker */
	--_ui5_color_picker_slider_progress_container_height: 1.625rem;
	--_ui5_color_picker_slider_container_margin_top: -0.5rem;
	--_ui5_color_picker_slider_handle_height: 2rem;
	--_ui5_color_picker_slider_handle_width: 1.0625rem;
	--_ui5_color_picker_slider_handle_after_height: 1.75rem;
	--_ui5_color_picker_slider_handle_focus_height: 2.125rem;
	--_ui5_color_picker_colors_wrapper_height: 2.25rem;
	--_ui5_color_picker_sliders_height: 3rem;
	--_ui5_color_picker_main_color_margin_bottom: 1rem;
	--_ui5_color_picker_slider_spacing: 0.9375rem;
	--_ui5_color_channel_toggle_button_width: 1.625rem;
	--_ui5_color_channel_toggle_button_margin-top: -0.75rem;
	--_ui5_color_channel_hex_input_width: 4.8125rem;
	--_ui5-color_channel_margin_top: 0.25rem;

	/* ColorPalette */
	 --_ui5_color-palette-item-height: 1.75rem;
	 --_ui5_color-palette-item-hover-height: 2.375rem;
	 --_ui5_color-palette-item-margin: calc((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2);
	 --_ui5_color-palette-row-width: 12rem;
	 --_ui5_color-palette-swatch-container-padding: 0.3125rem 0.6875rem;

	 /* DateTimePicker */
	--_ui5_datetime_picker_width: 40.0625rem;
	--_ui5_datetime_picker_height: 25rem;
	--_ui5_datetime_timeview_width: 17rem;
	--_ui5_datetime_timeview_phonemode_width: 19.5rem;
	--_ui5_datetime_timeview_phonemode_clocks_width: 24.5rem;
	--_ui5_datetime_dateview_phonemode_margin_bottom: 0;

	/* Dialog */
	--_ui5_dialog_content_min_height: 2.75rem;
	--_ui5_dialog_footer_height: 2.75rem;

	--_ui5_input_inner_padding: 0 0.625rem;
	--_ui5_input_inner_padding_with_icon: 0 0.25rem 0 0.625rem;
	--_ui5_input_inner_space_to_tokenizer: 0.125rem;
	--_ui5_input_inner_space_to_n_more_text: 0.1875rem;
	--_ui5_list_no_data_height: 3rem;
	--_ui5_list_item_cb_margin_right: 0;
	--_ui5_list_item_title_size: var(--sapFontLargeSize);
	--_ui5_list_no_data_font_size: var(--sapFontLargeSize);
	--_ui5_list_item_img_size: 3rem;
	--_ui5_list_item_img_top_margin: 0.5rem;
	--_ui5_list_item_img_bottom_margin: 0.5rem;
	--_ui5_list_item_img_hn_margin: 0.75rem;
	--_ui5_list_item_dropdown_base_height: 2.5rem;
	--_ui5_list_item_base_height: var(--sapElement_LineHeight);
	--_ui5_list_item_base_padding: 0 1rem;
	--_ui5_list_item_icon_size: 1.125rem;
	--_ui5_list_item_icon_padding-inline-end: 0.75rem;
	--_ui5_list_item_selection_btn_margin_top: calc(-1 * var(--_ui5_checkbox_wrapper_padding));
	--_ui5_list_item_content_vertical_offset: calc((var(--_ui5_list_item_base_height) - var(--_ui5_list_item_title_size)) / 2);
	--_ui5_group_header_list_item_height: 2.75rem;
	--_ui5_month_picker_item_height: 3rem;
	--_ui5_list_buttons_left_space: 0.125rem;

	/* Form */
	--_ui5_form_item_min_height: 2.813rem;
	--_ui5_form_item_padding:  0.65rem;
	--_ui5-form-group-heading-height: 2.75rem;

	/* Popup subclasses */
	--_ui5_popup_default_header_height: 2.75rem;

	--_ui5_year_picker_item_height: 3rem;
	--_ui5_tokenizer_padding: 0.25rem;
	--_ui5_token_height: 1.625rem;
	--_ui5_token_icon_size: .75rem;
	--_ui5_token_icon_padding: 0.25rem 0.5rem;
	--_ui5_tl_bubble_padding: 1rem;
	--_ui5_tl_padding: 1rem 1rem 1rem .5rem;
	--_ui5_tl_li_margin_bottom: 1.625rem;

	/*switch*/
	--_ui5_tc_item_text: 3rem;
	--_ui5_tc_item_height: 4.75rem;
	--_ui5_tc_item_text_only_height: 2.75rem;
	--_ui5_tc_item_text_only_with_additional_text_height: 3.75rem;
	--_ui5_tc_item_text_line_height: 1.325rem;
	--_ui5_tc_item_icon_circle_size: 2.75rem;
	--_ui5_tc_item_icon_size: 1.25rem;
	--_ui5_tc_item_add_text_margin_top: 0.375rem;

	/* TextArea */
	--_ui5_textarea_margin: .25rem 0;

	/* Radio Button */
	--_ui5_radio_button_height: 2.75rem;
	--_ui5_radio_button_label_side_padding: .875rem;
	--_ui5_radio_button_inner_size: 2.75rem;
	--_ui5_radio_button_svg_size: 1.375rem;

	/* Responsive Popover */
	--_ui5-responsive_popover_header_height: 2.75rem;

	/* Tree */
	--_ui5-tree-indent-step: 1.5rem;
	--_ui5-tree-toggle-box-width: 2.75rem;
	--_ui5-tree-toggle-box-height: 2.25rem;
	--_ui5-tree-toggle-icon-size: 1.0625rem;

	/* Timeline */
	--_ui5_timeline_tli_indicator_before_bottom: -1.5rem;
	--_ui5_timeline_tli_indicator_before_right: -1.625rem;
	--_ui5_timeline_tli_indicator_before_without_icon_bottom: -1.875rem;
	--_ui5_timeline_tli_indicator_before_without_icon_right: -1.9375rem;

	/* TimelineItem COZY */
	--_ui5_timeline_tli_indicator_after_top: calc(-100% - 1rem);
	--_ui5_timeline_tli_indicator_after_height: calc(100% + 1rem);
	--_ui5_timeline_tli_indicator_before_height: 100%;
	--_ui5_timeline_tli_horizontal_indicator_after_width: calc(100% + 0.25rem);
	--_ui5_timeline_tli_horizontal_indicator_after_left: 1.9375rem;
	--_ui5_timeline_tli_horizontal_without_icon_indicator_before_width: calc(100% + 0.5rem);
	--_ui5_timeline_tli_horizontal_indicator_before_width: calc(100% + 0.5rem);
	--_ui5_timeline_tli_icon_horizontal_indicator_after_width: calc(100% + 0.25rem);
	--_ui5_timeline_tli_without_icon_horizontal_indicator_before_width: calc(100% + 0.375rem);
	--_ui5_timeline_tli_horizontal_indicator_short_after_width: 100%;

	/* SplitButton */
	--_ui5_split_button_middle_separator_top: -0.0625rem;
	--_ui5_split_button_middle_separator_height: 2.25rem;

	/* Toolbar */
	--_ui5-toolbar-separator-height: 2rem;
	--_ui5-toolbar-height: 2.75rem;
	--_ui5_toolbar_overflow_padding: 0.25rem 0.5rem;

	/* DynamicPageTitle */
	--_ui5_dynamic_page_title_actions_separator_height: var(--_ui5-toolbar-separator-height);

	/* ShellBar */
	--_ui5-shellbar-separator-height: 1.5rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_bar_base_height: 2.5rem;
	--_ui5_bar_subheader_height: 2.25rem;

	--_ui5_button_base_height: var(--sapElement_Compact_Height);
	--_ui5_button_base_padding: 0.4375rem;
	--_ui5_button_base_min_width: 2rem;
	--_ui5-button-badge-diameter: 0.625rem;

	/* Calendar */
	--_ui5_calendar_height: 18rem;
	--_ui5_calendar_width: 17.75rem;
	--_ui5_calendar_left_right_padding: 0.25rem;
	--_ui5_calendar_top_bottom_padding: 0.5rem;
	--_ui5_calendar_header_height: 2rem;
	--_ui5_calendar_header_arrow_button_width: 2rem;
	--_ui5_calendar_header_padding: 0;

	/* Calendar Legend */
	--_ui5-calendar-legend-root-padding: 0.5rem;
	--_ui5-calendar-legend-root-width: 16.75rem;

	/* CheckBox */
	--_ui5_checkbox_root_side_padding: var(--_ui5_checkbox_wrapped_focus_padding);
	--_ui5_checkbox_width_height: var(--_ui5_checkbox_compact_width_height);
	--_ui5_checkbox_wrapper_padding: var(--_ui5_checkbox_compact_wrapper_padding);
	--_ui5_checkbox_focus_position: var(--_ui5_checkbox_compact_focus_position);
	--_ui5_checkbox_wrapped_focus_inset_block: var(--_ui5_checkbox_focus_position);
	--_ui5_checkbox_inner_width_height: var(--_ui5_checkbox_compact_inner_size);
	--_ui5_checkbox_icon_size: .75rem;
	--_ui5_checkbox_partially_icon_size: .5rem;

	/* ColorPicker */
	--_ui5_color_picker_slider_progress_container_height: 1.125rem;
	--_ui5_color_picker_slider_container_margin_top: -0.375rem;
	--_ui5_color_picker_slider_handle_height: 1.5rem;
	--_ui5_color_picker_slider_handle_width: 0.9375rem;
	--_ui5_color_picker_slider_handle_after_height: 1.25rem;
	--_ui5_color_picker_slider_handle_focus_height: 1.625rem;
	--_ui5_color_picker_colors_wrapper_height: 1.5rem;
	--_ui5_color_picker_sliders_height: 2.25rem;
	--_ui5_color_picker_main_color_margin_bottom: 0.75rem;
	--_ui5_color_picker_slider_spacing: 0.8125rem;
	--_ui5_color_channel_toggle_button_width: 1.375rem;
	--_ui5_color_channel_toggle_button_margin-top: -0.9375rem;
	--_ui5_color_channel_hex_input_width: 4.625rem;
	--_ui5-color_channel_margin_top: 0rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.25rem;
	--_ui5_color-palette-item-hover-height: 1.625rem;
	--_ui5_color-palette-item-margin: calc((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2);
	--_ui5_color-palette-row-width: 8.125rem;
	--_ui5_color-palette-swatch-container-padding: 0.1875rem 0.8125rem;
	--_ui5_color-palette-item-hover-margin: 0;
	--_ui5_color-palette-row-height: 7.5rem;
	--_ui5_color-palette-button-height: 2rem;

	/* Custom List Item */
	--_ui5_custom_list_item_rb_min_width: 2rem;

	/* DayPicker */
	--_ui5_daypicker_weeknumbers_container_padding_top: 2rem;
	--_ui5_day_picker_item_width: 2rem;
	--_ui5_day_picker_item_height: 2rem;
	--_ui5_day_picker_empty_height: 2.125rem;
	--_ui5_day_picker_item_justify_content: flex-end;
	--_ui5_dp_two_calendar_item_secondary_text_height: 0.75rem;
	--_ui5_dp_two_calendar_item_text_padding_top: 0.5rem;

	--_ui5_daypicker_selected_item_now_special_day_top: 1.5625rem;
	--_ui5_daypicker_specialday_focused_top: 1.5rem;
	--_ui5_daypicker_special_day_top: 1.625rem;
	--_ui5_daypicker_item_now_specialday_top: 1.5rem;
	--_ui5_daypicker_twocalendar_item_special_day_top: 1.25rem;
	--_ui5_daypicker_twocalendar_item_special_day_right: 1.25rem;
	--_ui5_daypicker_two_calendar_item_margin_bottom: 0;
	--_ui5_dp_two_calendar_item_secondary_text_padding_block: 0 0.625rem;
	--_ui5_daypicker_item_now_selected_two_calendar_focus_special_day_top: 1.125rem;
	--_ui5_daypicker_item_now_selected_two_calendar_focus_special_day_right: 1.125rem;
	--_ui5_dp_two_calendar_item_secondary_text_padding: 0 0.375rem;
	--_ui5_daypicker_item_now_selected_two_calendar_focus_secondary_text_padding_block: 0 1rem;
	--_ui5_daypicker_two_calendar_item_selected_focus_margin_bottom: -0.25rem;
	--_ui5_daypicker_two_calendar_item_selected_focus_padding_right: 0.4375rem;

	/* DateTimePicker */
	--_ui5_datetime_picker_height: 20.5rem;
	--_ui5_datetime_picker_width: 35.5rem;
	--_ui5_datetime_timeview_width: 17rem;
	--_ui5_datetime_timeview_phonemode_width: 18.5rem;
	--_ui5_datetime_timeview_phonemode_clocks_width: 21.125rem;
	--_ui5_datetime_dateview_phonemode_margin_bottom: 3.125rem;

	/* Dialog */
	--_ui5_dialog_content_min_height: 2.5rem;
	--_ui5_dialog_footer_height: 2.5rem;

	/* Form */
	--_ui5_form_item_min_height: 2rem;
	--_ui5_form_item_padding:  0.25rem;
	--_ui5-form-group-heading-height: 2rem;

	/* Input */
	--_ui5_input_height: var(--sapElement_Compact_Height);
	--_ui5_input_inner_padding: 0 0.5rem;
	--_ui5_input_inner_padding_with_icon: 0 0.2rem 0 0.5rem;
	--_ui5_input_inner_space_to_tokenizer: 0.125rem;
	--_ui5_input_inner_space_to_n_more_text: 0.125rem;
	--_ui5_input_icon_min_width: var(--_ui5_input_compact_min_width);

	/* Menu */
	--_ui5_menu_item_padding: 0 0.75rem 0 0.5rem;
	--_ui5_menu_item_submenu_icon_right: 0.75rem;

	/* Popup subclasses */
	--_ui5_popup_default_header_height: 2.5rem;

	/* TextArea */
	--_ui5_textarea_margin: .1875rem 0;

	/* List */
	--_ui5_list_no_data_height: 2rem;
	--_ui5_list_item_cb_margin_right: .5rem;
	--_ui5_list_item_title_size: var(--sapFontSize);
	--_ui5_list_item_img_top_margin: 0.55rem;
	--_ui5_list_no_data_font_size: var(--sapFontSize);
	--_ui5_list_item_dropdown_base_height: 2rem;
	--_ui5_list_item_base_height: 2rem;
	--_ui5_list_item_base_padding: 0 1rem;
	--_ui5_list_item_icon_size: 1rem;
	--_ui5_list_item_selection_btn_margin_top: calc(-1 * var(--_ui5_checkbox_wrapper_padding));
	--_ui5_list_item_content_vertical_offset: calc((var(--_ui5_list_item_base_height) - var(--_ui5_list_item_title_size)) / 2);
	--_ui5_list_buttons_left_space: 0.125rem;

	--_ui5_month_picker_item_height: 2rem;
	--_ui5_year_picker_item_height: 2rem;
	--_ui5_panel_header_height: 2rem;
	--_ui5_panel_button_root_height: 2rem;
	--_ui5_panel_button_root_width: 2.75rem;

	--_ui5_token_height: 1.25rem;
	--_ui5_token_right_margin: 0.25rem;
	--_ui5_token_left_padding: 0.25rem;
	--_ui5_token_readonly_padding: 0.125rem 0.25rem;
	--_ui5_token_focus_offset: -0.125rem;
	--_ui5_token_icon_size: .75rem;
	--_ui5_token_icon_padding: 0.375rem 0.375rem;
	--_ui5_token_outline_offset: -0.125rem;

	--_ui5_tl_bubble_padding: .5rem;
	--_ui5_tl_padding: .5rem;
	--_ui5_tl_li_margin_bottom: .5rem;

	--_ui5_tc_item_text: 2rem;
	--_ui5_tc_item_text_line_height: 1.325rem;
	--_ui5_tc_item_icon_size: 1rem;
	--_ui5_tc_item_add_text_margin_top: 0.3125rem;
	--_ui5_tc_item_height: 4rem;
	--_ui5_tc_header_height: var(--_ui5_tc_item_height);
	--_ui5_tc_item_icon_circle_size: 2rem;
	--_ui5_tc_item_icon_size: 1rem;

	/* Radio Button */
	--_ui5_radio_button_height: 2rem;
	--_ui5_radio_button_label_side_padding: .5rem;
	--_ui5_radio_button_inner_size: 2rem;
	--_ui5_radio_button_svg_size: 1rem;

	/* Responsive Popover */
	--_ui5-responsive_popover_header_height: 2.5rem;

	/* Slider */
	--_ui5_slider_handle_height: 1.25rem;
	--_ui5_slider_handle_width: 1.5rem;
	--_ui5_slider_handle_top: -.5rem;
	--_ui5_slider_tooltip_height: 1rem;
	--_ui5_slider_tooltip_padding: 0.25rem;
	/* --_ui5_slider_tooltip_bottom: 1.875rem; */
	--_ui5_slider_progress_outline_offset: -0.625rem;
	--_ui5_slider_outer_height: 1.3125rem;

	/* SplitButton */
	--_ui5_split_button_middle_separator_height: 1.625rem;

	/* StepInput */
	--_ui5_step_input_min_width: 6rem;
	--_ui5_step_input_padding: 2rem;

	/* Tree */
	--_ui5-tree-indent-step: 0.5rem;
	--_ui5-tree-toggle-box-width: 2rem;
	--_ui5-tree-toggle-box-height: 1.5rem;
	--_ui5-tree-toggle-icon-size: 0.8125rem;

	/* Timeline */
	--_ui5_timeline_tli_indicator_before_bottom: -0.75rem;
	--_ui5_timeline_tli_indicator_before_right: -0.5rem;
	--_ui5_timeline_tli_indicator_before_without_icon_bottom: -1rem;
	--_ui5_timeline_tli_indicator_before_without_icon_right: -0.8125rem;

	/* TimelineItem */
	--_ui5_timeline_tli_indicator_before_height: calc(100% - 1.25rem);
	--_ui5_timeline_tli_horizontal_without_icon_indicator_before_width: var(--_ui5_timeline_tli_indicator_after_height);
	--_ui5_timeline_tli_horizontal_indicator_after_width: var(--_ui5_timeline_tli_indicator_after_height);
	--_ui5_timeline_tli_horizontal_indicator_before_width: var(--_ui5_timeline_tli_indicator_after_height);
	--_ui5_timeline_tli_icon_horizontal_indicator_after_width: var(--_ui5_timeline_tli_indicator_after_height);
	--_ui5_timeline_tli_indicator_after_top: calc(-100% + 0.9375rem);
	--_ui5_timeline_tli_indicator_after_height: calc(100% - 0.75rem);
	--_ui5_timeline_tli_horizontal_indicator_after_left: 1.8625rem;
	--_ui5_timeline_tli_horizontal_indicator_short_after_width: calc(100% - 1rem);
	--_ui5_timeline_tli_without_icon_horizontal_indicator_before_width: calc(100% - 0.625rem);

	/* TimelineGroupItem */
	--_ui5_timeline_tlgi_compact_icon_before_height: calc(100% + 1.5rem);
	--_ui5_timeline_tlgi_horizontal_line_placeholder_before_width: var(--_ui5_timeline_tlgi_compact_icon_before_height);
	--_ui5_timeline_tlgi_horizontal_compact_root_margin_left: 0.5rem;
	--_ui5_timeline_tlgi_compact_root_gap: 0.5rem;
	--_ui5_timeline_tlgi_root_horizontal_height: 19.375rem;


	/* ViewSettingsDialog */
	--_ui5_vsd_header_container: 2.5rem;
	--_ui5_vsd_sub_header_container_height: 2rem;
	--_ui5_vsd_expand_content_height: 25.4375rem;

	/* Toolbar */
	--_ui5-toolbar-separator-height: 1.5rem;
	--_ui5-toolbar-height: 2rem;
	--_ui5_toolbar_overflow_padding: 0.1875rem 0.375rem;

	/* DynamicPageTitle */
	--_ui5_dynamic_page_title_actions_separator_height: var(--_ui5-toolbar-separator-height);

	/* ShellBar */
	--_ui5-shellbar-separator-height: 1.5rem;
}
