:root {
	--_ui5_split_button_focused_border: 0.0625rem dotted var(--sapContent_FocusColor);
	--_ui5_split_button_focused_border_radius: 0.125rem;
	--_ui5_split_button_hover_border_radius: 0;
	--_ui5_split_button_hover_border_radius: 0;
	--_ui5_split_button_middle_separator_width: 0;
	--_ui5_split_button_middle_separator_left: -0.0625rem;
	--_ui5_split_button_middle_separator_hover_display: block;
	--_ui5_split_button_text_button_width: 2.25rem;
	--_ui5_split_button_text_button_right_border_width: 0;
	--_ui5_split_button_transparent_hover_background: var(--sapButton_Lite_Background);
	--_ui5_split_button_host_transparent_hover_background: transparent;
	--_ui5_split_button_transparent_hover_color: var(--sapButton_Lite_TextColor);
	--_ui5_split_button_transparent_disabled_background: transparent;
	--_ui5_split_button_inner_focused_border_radius_outer: 0.25rem;
	--_ui5_split_button_inner_focused_border_radius_inner: 0;
	
	/* Separator colors */
	--_ui5_split_button_emphasized_separator_color: var(--sapButton_Emphasized_TextColor);
	--_ui5_split_button_positive_separator_color: var(--sapButton_Accept_BorderColor);
	--_ui5_split_button_negative_separator_color: var(--sapButton_Reject_BorderColor);
	--_ui5_split_button_attention_separator_color: var(--sapButton_Attention_BorderColor);
	--_ui5_split_button_attention_separator_color_default: var(--sapButton_Attention_BorderColor);


	--_ui5_split_button_host_default_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_BorderColor);
	--_ui5_split_button_host_attention_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_Attention_BorderColor);
	--_ui5_split_button_host_emphasized_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_button_host_positive_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_Accept_BorderColor);
	--_ui5_split_button_host_negative_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_Reject_BorderColor);
	--_ui5_split_button_host_transparent_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_Lite_BorderColor);

	--_ui5_split_button_host_transparent_hover_box_shadow: none;

	--_ui5_split_text_button_border_color: transparent;
	--_ui5_split_text_button_background_color: transparent;


	--_ui5_split_text_button_emphasized_border: var(--sapButton_BorderWidth) solid var(--sapButton_Emphasized_BorderColor);


	--_ui5_split_text_button_emphasized_border_width: 0.0625rem;


	--_ui5_split_text_button_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	--_ui5_split_text_button_emphasized_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_text_button_positive_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Accept_BorderColor);
	--_ui5_split_text_button_negative_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Reject_BorderColor);
	--_ui5_split_text_button_attention_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Attention_BorderColor);
	--_ui5_split_text_button_transparent_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);


	--_ui5_split_arrow_button_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	--_ui5_split_arrow_button_emphasized_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_arrow_button_emphasized_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_arrow_button_positive_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Accept_BorderColor);
	--_ui5_split_arrow_button_negative_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Reject_BorderColor);
	--_ui5_split_arrow_button_attention_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_Attention_BorderColor);
	--_ui5_split_arrow_button_transparent_hover_border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);

	--_ui5_split_text_button_hover_border_right: none;
	--_ui5_split_text_button_emphasized_hover_border_right: none;
	--_ui5_split_text_button_positive_hover_border_right: none;
	--_ui5_split_text_button_negative_hover_border_right: none;
	--_ui5_split_text_button_attention_hover_border_right: none;
	--_ui5_split_text_button_transparent_hover_border_right: none;

	--_ui5_split_text_button_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	--_ui5_split_text_button_emphasized_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_text_button_positive_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_Accept_BorderColor);
	--_ui5_split_text_button_negative_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_Reject_BorderColor);
	--_ui5_split_text_button_attention_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_Attention_BorderColor);
	--_ui5_split_text_button_transparent_hover_border_left: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);

	--_ui5_split_button_middle_separator_hover_display_emphasized: block;
}