:root {
	--_ui5_split_button_focused_border: 0.0625rem dotted var(--sapContent_FocusColor);
	--_ui5_split_button_focused_border_radius: 0.125rem;
	--_ui5_split_button_hover_border_radius: 0;
	--_ui5_split_button_hover_border_radius: 0;
	--_ui5_split_button_attention_separator_color: var(--sapButton_Attention_BorderColor);
	--_ui5_split_button_middle_separator_width: 0;
	--_ui5_split_button_middle_separator_left: 0;
	--_ui5_split_button_middle_separator_hover_display: block;
	--_ui5_split_button_text_button_width: 2.25rem;
	--_ui5_split_button_text_button_right_border_width: 0;
	--_ui5_split_button_transparent_hover_background: var(--sapButton_Lite_Background);
	--_ui5_split_button_transparent_hover_color: var(--sapButton_Lite_TextColor);
	--_ui5_split_button_transparent_disabled_background: transparent;
	--_ui5_split_button_inner_focused_border_radius_outer: 0.25rem;
	--_ui5_split_button_inner_focused_border_radius_inner: 0;
}
