:root {
	--_ui5_step_input_input_error_background_color: var(--sapField_InvalidBackground);
	--_ui5-step_input_button_state_hover_background_color: var(--sapField_Background);
	--_ui5_step_input_border_style: 1px solid var(--sapField_BorderColor);
	--_ui5_step_input_border_style_hover: 1px solid var(--sapField_Hover_BorderColor);
	--_ui5_step_input_button_background_color:var(--sapField_Background);
	--_ui5_step_input_input_border: 1px solid transparent;
	--_ui5_step_input_input_margin_top: -0.0625rem;
	--_ui5_step_input_button_display: inline-block;
	--_ui5_step_input_button_left: 0;
	--_ui5_step_input_button_right: 0;
	--_ui5_step_input_input_border_focused_after: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	--_ui5_step_input_input_border_top_bottom_focused_after: 0.0625rem;
	--_ui5_step_input_input_border_radius_focused_after: 0;
	--_ui5_step_input_input_information_border_color_focused_after: var(--sapField_BorderColor);
	--_ui5_step_input_input_warning_border_color_focused_after: var(--sapField_BorderColor);
	--_ui5_step_input_input_success_border_color_focused_after: var(--sapField_BorderColor);
	--_ui5_step_input_input_error_border_color_focused_after: var(--sapField_BorderColor);
	--_ui5_step_input_disabled_button_background: var(--sapField_ReadOnly_Background);
	--_ui5_step_input_border_color_hover: var(--sapField_Hover_Background);
	--_ui5_step_input_border_hover: 1px solid var(--sapField_Hover_BorderColor);
	--_ui5_input_input_background_color: var(--sapField_InvalidBackground);
	--_ui5_step_input_min_width: 7.25rem;
	--_ui5_step_input_padding: 2.5rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_step_input_min_width: 6rem;
	--_ui5_step_input_padding: 2rem;
}