:root {
	/* switch */
	--_ui5_switch_height: 2.75rem;
	--_ui5_switch_width: 3.875rem;
	--_ui5_switch_no_label_width: 3.25rem;
	--_ui5_switch_outline: 1px;
	--_ui5_switch_compact_height: 2rem;
	--_ui5_switch_compact_width: 3.5rem;
	--_ui5_switch_compact_no_label_width: 2.5rem;

	/* switch track */
	--_ui5_switch_track_height: 1.375rem;
	--_ui5_switch_track_no_label_height: 1.25rem;
	--_ui5_switch_track_compact_no_label_height: 1rem;

	--_ui5_switch_track_hover_border_color: var(--_ui5_switch_track_checked_border_color);
	--_ui5_switch_track_border_radius: 0.75rem;

	--_ui5_switch_track_disabled_checked_bg: var(--_ui5_switch_track_checked_bg);
	--_ui5_switch_track_disabled_border_color: var(--sapContent_ForegroundBorderColor);
	--_ui5_switch_track_disabled_semantic_checked_bg: var(--sapSuccessBackground);
	--_ui5_switch_track_disabled_semantic_checked_border_color: var(--sapSuccessBorderColor);
	--_ui5_switch_track_disabled_semantic_bg: var(--sapErrorBackground);
	--_ui5_switch_track_disabled_semantic_border_color: var(--sapErrorBorderColor);

	/* switch handle */
	--_ui5_switch_handle_width: 2rem;
	--_ui5_switch_handle_height: 2rem;
	--_ui5_switch_handle_border_width: 1px;
	--_ui5_switch_handle_border_radius: 1rem;
	--_ui5_switch_handle_bg: var(--sapButton_TokenBackground);
	--_ui5_switch_handle_checked_bg: var(--sapButton_Selected_Background);
	--_ui5_switch_handle_checked_border_color: var(--sapButton_Selected_BorderColor);
	--_ui5_switch_handle_semantic_hover_bg: var(--sapErrorBackground);
	--_ui5_switch_handle_semantic_checked_hover_bg: var(--sapSuccessBackground);
	--_ui5_switch_handle_semantic_hover_border_color: var(--sapErrorBorderColor);
	--_ui5_switch_handle_semantic_checked_hover_border_color: var(--sapSuccessBorderColor);
	--_ui5_switch_handle_compact_width: 1.625rem;
	--_ui5_switch_handle_compact_height: 1.625rem;

	--_ui5_switch_handle_disabled_bg: var(--_ui5_switch_handle_bg);
	--_ui5_switch_handle_disabled_checked_bg: var(--_ui5_switch_handle_checked_bg);
	--_ui5_switch_handle_disabled_border_color: var(--sapContent_ForegroundBorderColor);
	--_ui5_switch_handle_disabled_semantic_checked_bg: var(--sapButton_Background);
	--_ui5_switch_handle_disabled_semantic_checked_border_color: var(--sapSuccessBorderColor);
	--_ui5_switch_handle_disabled_semantic_border_color: var(--sapErrorBorderColor);

	/* switch text */
	--_ui5_switch_text_on_semantic_color: var(--sapPositiveElementColor);
	--_ui5_switch_text_off_semantic_color: var(--sapNegativeElementColor);
	--_ui5_switch_text_disabled_color: var(--sapTextColor);
}