/* ============================= */
/* Global Base parameters        */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* =========================== */
/* CSS for ui5-switch          */
/* Base theme                  */
/* =========================== */
:host(ui5-switch) {
	display: inline-block;
}
ui5-switch {
	display: inline-block;
}

.sapWCSwitch {
	position: relative;
	height: 2rem;
	padding-top: 0.375rem; 
	padding-bottom: 0.375rem;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;

	&.sapWCSwitchDisabled {
		opacity: 0.4;
		cursor: default;
	}

	& .sapWCSwitchHiddenInput { 
		opacity: 0;
		width: 0;
		height: 0;
	}

	& .sapWCSwitchTrack {
		position: relative;
		display: inline-block;
		min-width: 3.875rem;
		width: 100%;
		height: 1.375rem; 
		border: 1px solid;
		border-top-left-radius: 0.75rem; 
		border-top-right-radius: 0.75rem; 
		border-bottom-right-radius: 0.75rem; 
		border-bottom-left-radius: 0.75rem;
		box-sizing: border-box;
		border: 1px solid;
		background: darken(@sapUiButtonBackground,7);
		border-color: @sapUiContentForegroundBorderColor;
	}

	& .sapWCSwitchTextOn,
	& .sapWCSwitchTextOff {
		min-width: 1.625rem; 
		width: 100%;
		padding: 0 0.25rem; 
		font-size: @sapMFontSmallSize; 
		text-transform: uppercase; 
		text-align: center;
		line-height: inherit;
		color: @sapUiBaseText;
		box-sizing: border-box;
	}

	& .sapWCSwitchTextOff {
		display: inline-block;
		text-align: right;
	}

	& .sapWCSwitchTextOn {
		display: none;
		text-align: left;
	}

	& .sapWCSwitchHandle {
		width: 2rem; 
		height: 2rem;
		border: 1px solid @sapUiContentForegroundBorderColor;
		background: darken(@sapUiButtonBackground,2);
		border-top-left-radius: 1rem; 
		border-top-right-radius: 1rem; 
		border-bottom-right-radius: 1rem; 
		border-bottom-left-radius: 1rem;
		background-clip: padding-box;
		box-sizing: border-box;
		
		position: absolute;
		top: 0rem;
		left: 0rem;
		bottom: 0;
		-webkit-transition: all .4s;
		transition: all .4s;
	}

	&.sapWCSwitchChecked {
		& .sapWCSwitchHandle {
			left: calc(~"100% - 2rem");
			background: @sapUiToggleButtonPressedBackground;
			border-color: @sapUiToggleButtonPressedBorderColor;
		}

		& .sapWCSwitchTrack {
			background: lighten(desaturate(@sapUiToggleButtonPressedBackground,47),50);
			border-color: lighten(desaturate(@sapUiToggleButtonPressedBorderColor,46),19);
		}

		& .sapWCSwitchTextOff {
			display: none;
		}

		& .sapWCSwitchTextOn {
			display: inline-block;
		}
	}

	&:not(.sapWCSwitchDisabled) {
		.sapWCSwitchHandle:hover:not(.sapWCSwitchDisabled) {
			background: darken(@sapUiButtonHoverBackground,2);
			border-color: @sapUiContentForegroundBorderColor;
		}
	}

	&:not(.sapWCSwitchDisabled).sapWCSwitchChecked {
		& .sapWCSwitchHandle:hover:not(.sapWCSwitchDisabled) {
			background: @sapUiToggleButtonPressedHoverBackground;
			border-color: @sapUiToggleButtonPressedHoverBorderColor;
		}
	}
}

[dir="rtl"] {
	.sapWCSwitchChecked  .sapWCSwitchHandle {
		left: 0;
		right: 1.875rem;
	}

	.sapWCSwitchTextOff {
		text-align: left;
	}

	.sapWCSwitchTextOn {
		text-align: right;
	}
}