:root {
	--_ui5_table_cell_valign: center;
	--_ui5_table_cell_min_width: 2.75rem;
	--_ui5_table_navigated_cell_width: 0.25rem;
	--_ui5_first_table_cell_horizontal_padding: 1rem;
	--_ui5_table_cell_horizontal_padding: 0.5rem;
	--_ui5_table_cell_vertical_padding: 0.25rem;
	--_ui5_table_row_actions_gap: 0.25rem;
}