@import "./base.less";
@import "./global.less";

@_ui5_TimelineItem_arrow_size: 1.625rem;
@_ui5_TimelineItem_bubble_outline_width: 0.0625rem;
@_ui5_TimelineItem_bubble_outline_top: -0.125rem;
@_ui5_TimelineItem_bubble_outline_right: -0.125rem;
@_ui5_TimelineItem_bubble_outline_bottom: -0.125rem;
@_ui5_TimelineItem_bubble_outline_left: -0.625rem;
@_ui5_TimelineItem_bubble_rtl_left_offset: -0.125rem;
@_ui5_TimelineItem_bubble_rtl_right_offset: -0.625rem;

:host(ui5-timeline-item) {
	display: block;
}

ui5-timeline-item {
	display: block;
}

.sapWCTimelineItem {
	display: flex;
}

.sapWCTimelineIndicator {
	position: relative;
	width: 2rem;
}

.sapWCTimelineIndicator::before {
	content: "";
	display: inline-block;
	background-color: @sapUiContentForegroundBorderColor;
	width: 1px;
	position: absolute;
	top: 2.125rem;
	bottom: -1.625rem;
	left: 50%;
}

// Line when no Icon is provided
.sapWCTimelineIndicatorNoIcon::before {
	bottom: -2.125rem;
	top: 1.875rem;
}

// No Icon Dot
.sapWCTimelineIndicatorNoIcon::after {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid @sapContent_NonInteractiveIconColor;
	background-color: @sapContent_NonInteractiveIconColor;
	border-radius: 50%;
	width: .4375rem;
	height: .4375rem;
	position: absolute;
	top: 0.9375rem;
	left: 50%;
	transform: translateX(-50%);
}

.sapWCTimelineItemLast .sapWCTimelineIndicator::before {
	display: none;
}

.sapWCTimelineItemIcon {
	color: @sapContent_NonInteractiveIconColor;
	font-size: 1.375rem;
	margin-top: .25rem;
	width: 100%;
}

.sapWCTimelineBubble {
	background: @sapUiGroupContentBackground;
	border: 1px solid @sapUiListBorderColor;
	box-sizing: border-box;
	border-radius: 0.25rem;
	flex: 1;
	position: relative;
	margin-left: .5rem;
	padding: 1rem;
}

.sapWCTimelineBubble:focus {
	outline: none;
}

.sapWCTimelineBubble:focus::after {
	content: "";
	border: @_ui5_TimelineItem_bubble_outline_width dotted @sapUiContentFocusColor;
	position: absolute;
	top: @_ui5_TimelineItem_bubble_outline_top;
	right: @_ui5_TimelineItem_bubble_outline_right;
	bottom: @_ui5_TimelineItem_bubble_outline_bottom;
	left: @_ui5_TimelineItem_bubble_outline_left;
	pointer-events: none;
}

.sapWCTimelineBubbleArrow {
	width: @_ui5_TimelineItem_arrow_size;
	padding-bottom: @_ui5_TimelineItem_arrow_size;
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	overflow: hidden;
}
.sapWCTimelineBubbleArrow::before {
	content: "";
	background: @sapUiGroupContentBackground;
	border: 1px solid @sapUiListBorderColor;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin:0 100%;
	transform: rotate(45deg);
}

.sapWCTimelineBubbleArrowLeft {
	left: -@_ui5_TimelineItem_arrow_size;
}

.sapWCTimelineBubbleArrowLeft::before {
	left: 50%;
	width: 50%;
	transform-origin: 100% 100%;
}

.sapWCTimelineBubbleArrowRight {
	right: -@_ui5_TimelineItem_arrow_size;
	left: auto;
}

.sapWCTimelineBubbleArrowRight::before{
	width: 50%;
	transform-origin: 0 0;
}

.sapWCTimelineItemTitle,
.sapWCTimelineItemDesc {
	color: @sapUiListTextColor;
	font-family: @sapUiFontFamily;
	font-weight: 400;
	font-size: @sapMFontMediumSize;
}

.sapWCTimelineItemTitle span {
	display: inline-block;
	vertical-align: top;
}

.sapWCTimelineItemSubtitle {
	color: @sapUiContentLabelColor;
	font-family: @sapUiFontFamily;
	font-weight: 400;
	font-size: @sapMFontSmallSize;
	padding-top: .375rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sapWCTimelineItemDesc {
	padding-top: .75rem;
}

.sapUiSizeCompact {
	.sapWCTimelineBubble {
		padding: .5rem;
	}

	.sapWCTimelineIndicator::before {
		bottom: -.5rem;
	}
}

[dir=rtl] {
	.sapWCTimelineBubbleArrowLeft {
		right: -@_ui5_TimelineItem_arrow_size;
		left: auto;
		transform: scale(-1, 1);
	}

	.sapWCTimelineBubbleArrowRight {
		right: -@_ui5_TimelineItem_arrow_size;
		left: auto;
	}

	.sapWCTimelineBubble {
		margin-left: auto;
		margin-right: .5rem;
	}

	.sapWCTimelineBubble:focus::after {
		left: @_ui5_TimelineItem_bubble_rtl_left_offset;
		right: @_ui5_TimelineItem_bubble_rtl_right_offset;
	}
}

