:root {
	--_ui5_token_background: var(--sapButton_Background);
	--_ui5_token_readonly_background: var(--sapButton_Background);
	--_ui5_token_border_radius: 0.125rem;
	--_ui5_token_focus_outline_width: 0.0625rem;
	--_ui5_token_text_color: var(--sapButton_TextColor);
	--_ui5_token_icon_color: var(--sapContent_IconColor);
	--_ui5_token_hover_background: var(--sapButton_Hover_Background);
	--_ui5_token_hover_border_color: var(--sapButton_Hover_BorderColor);
	--_ui5_token_top_margin: 0;
	--_ui5_token_bottom_margin: 0;
	--_ui5_token_selected_focus_outline: var(--_ui5_token_focus_outline_width) dotted var(--sapContent_ContrastFocusColor);
	--_ui5_token_focus_outline: var(--_ui5_token_focus_outline_width) dotted var(--sapContent_FocusColor);
	--_ui5_token_selected_hover_background: var(--sapButton_Selected_Hover_Background);
	--_ui5_token_selected_hover_border_color: var(--sapButton_Selected_Hover_BorderColor);
	--_ui5_token_selected_box_shadow: none;
	--_ui5_token_focused_border: 1px solid var(--sapButton_TokenBorderColor);
	--_ui5_token_focused_selected_border: 1px solid var(--sapButton_Selected_BorderColor);
}