:root {
	--_ui5_token_background: var(--sapButton_Background);
	--_ui5_token_border_radius: 0.125rem;
	--_ui5_token_focus_outline_width: 0.0625rem;
	--_ui5_token_text_color: var(--sapButton_TextColor);
	--_ui5_token_icon_color: var(--sapContent_IconColor);
}