:root {
	--_ui5_tokenizer_padding: 0.3125rem;
	--_ui5_tokenizer_n_more_text_color: var(--sapField_TextColor);
	--_ui5_tokenizer-popover_offset: .3125rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_tokenizer-popover_offset: .1875rem;
}