:root {
	--_ui5_value_state_message_border: none;
	--_ui5_value_state_header_border: none;
	--_ui5_input_value_state_icon_display: none;
	--_ui5_value_state_message_padding: 0.5rem;
	--_ui5_value_state_header_padding: .5625rem 1rem;
	--_ui5_value_state_message_popover_box_shadow: none;
	--_ui5_value_state_message_icon_width: .875rem;
	--_ui5_value_state_message_icon_height: .875rem;
	--_ui5_input_value_state_icon_offset: .5rem;
	--_ui5_value_state_header_offset: -0.125rem;
	--_ui5_value_state_message_popover_border_radius: 0;
}
