:root{
	--_ui5_wheelslider_item_text_size: var(--sapFontSize);
	--_ui5_wheelslider_selected_item_hover_background_color: var(--sapList_BorderColor);
	--_ui5_wheelslider_label_text_size: var(--sapFontSmallSize);
	--_ui5_wheelslider_selection_frame_margin_top: calc(var(--_ui5_wheelslider_item_height) * 2);
	--_ui5_wheelslider_mobile_selection_frame_margin_top: calc(var(--_ui5_wheelslider_item_height) * 4);
	--_ui5_wheelslider_label_text_color: var(--sapContent_LabelColor);
	--_ui5_wheelslider_height: 240px;
	--_ui5_wheelslider_mobile_height: 432px;
	--_ui5_wheelslider_item_width: 48px;
	--_ui5_wheelslider_item_height: 46px;
	--_ui5_wheelslider_arrows_visibility: hidden;
	--_ui_wheelslider_item_hover_color: var(--sapButton_Emphasized_Hover_BorderColor);
	--_ui_wheelslider_item_expanded_hover_color: var(--sapList_Hover_Background);
}