:root {
	--_ui5_yearpicker_item_background_color: var(--sapContent_ForegroundColor_Lighten7); /* lighten(@sapContent_ForegroundColor, 7); */
	--_ui5_yearpicker_item_hover_background_color: var(--sapContent_ForegroundColor_Lighten7); /* lighten(@sapContent_ForegroundColor, 7); */
	--_ui5_yearpicker_item_focus_background_color: var(--sapContent_ForegroundColor_Darken5); /* darken(@sapContent_ForegroundColor, 5); */
	--_ui5_yearpicker_item_selected_focus: var(--sapContent_Selected_Background);
	--_ui5_yearpicker_item_border: none;
	--_ui5_yearpicker_item_border_radius: 0;
	--_ui5_yearpicker_item_margin: 1px;
	--_ui5_yearpicker_item_focus_after_width: calc(100% - 0.375rem);
	--_ui5_yearpicker_item_focus_after_height: calc(100% - 0.375rem);
	--_ui5_yearpicker_item_focus_after_border: 1px dotted var(--sapContent_FocusColor);
	--_ui5_yearpicker_item_focus_after_offset: 2px;
}