@import "../base/vars.css";

:root {
    --_ui5-badge-height: 1.5rem;
    --_ui5-badge-border: none;
    --_ui5-badge-padding: 0 0.5rem 0 .625rem;
    --_ui5-badge-left-border: none;
    --_ui5-badge-border-radius: .25rem;
	--_ui5-badge-font-weight: bold;
	--_ui5-badge-text-transform: none;

	--_ui5-badge-background: var(--sapGreyColor1);
	--_ui5-badge-background-image: linear-gradient(var(--sapGreyColor4), var(--sapGreyColor4));
	--_ui5-badge-background-size: 2px 100%;
	--_ui5-badge-background-repeat: no-repeat;
	--_ui5-badge-cursor: pointer;

	--ui5-badge-color-scheme-1-background: var(--sapGreyColor1);
	--ui5-badge-color-scheme-1-hover-background: #fff;
	--ui5-badge-color-scheme-1-border: var(--sapGreyColor4);
	--ui5-badge-color-scheme-1-background-image: linear-gradient(var(--ui5-badge-color-scheme-1-border), var(--ui5-badge-color-scheme-1-border));
	--ui5-badge-color-scheme-1-color: var(--sapGreyColor6);
	--ui5-badge-color-scheme-1-shadow: var(--shadow-grey-small);
	--ui5-badge-color-scheme-1-active-shadow: var(--shadow-grey-xs);
	--ui5-badge-color-scheme-1-active-color: var(--sapGreyColor7);

	--ui5-badge-color-scheme-2-background: var(--sapBlueColor1);
	--ui5-badge-color-scheme-2-hover-background: #fff;
	--ui5-badge-color-scheme-2-border: var(--sapBlueColor4);
	--ui5-badge-color-scheme-2-background-image: linear-gradient(var(--ui5-badge-color-scheme-2-border), var(--ui5-badge-color-scheme-2-border));
	--ui5-badge-color-scheme-2-color: var(--sapBlueColor6);
	--ui5-badge-color-scheme-2-shadow: var(--shadow-blue-small);
	--ui5-badge-color-scheme-2-active-shadow: var(--shadow-blue-xs);
	--ui5-badge-color-scheme-2-active-color: var(--sapBlueColor7);

	--ui5-badge-color-scheme-3-background: var(--sapTealColor1);
	--ui5-badge-color-scheme-3-hover-background: #fff;
	--ui5-badge-color-scheme-3-border: var(--sapTealColor4);
	--ui5-badge-color-scheme-3-background-image: linear-gradient(var(--ui5-badge-color-scheme-3-border), var(--ui5-badge-color-scheme-3-border));
	--ui5-badge-color-scheme-3-color: var(--sapTealColor6);
	--ui5-badge-color-scheme-3-shadow: var(--shadow-teal-small);
	--ui5-badge-color-scheme-3-active-shadow: var(--shadow-teal-xs);
	--ui5-badge-color-scheme-3-active-color: var(--sapTealColor7);

	--ui5-badge-color-scheme-4-background: var(--sapGreenColor1);
	--ui5-badge-color-scheme-4-hover-background: #fff;
	--ui5-badge-color-scheme-4-border: var(--sapGreenColor4);
	--ui5-badge-color-scheme-4-background-image: linear-gradient(var(--ui5-badge-color-scheme-4-border), var(--ui5-badge-color-scheme-4-border));;
	--ui5-badge-color-scheme-4-color: var(--sapGreenColor6);
	--ui5-badge-color-scheme-4-shadow: var(--shadow-green-small);
	--ui5-badge-color-scheme-4-active-shadow: var(--shadow-green-xs);
	--ui5-badge-color-scheme-4-active-color: var(--sapGreenColor7);

	--ui5-badge-color-scheme-5-background: var(--sapMangoColor1);
	--ui5-badge-color-scheme-5-hover-background: #fff;
	--ui5-badge-color-scheme-5-border: var(--sapMangoColor4);
	--ui5-badge-color-scheme-5-background-image: linear-gradient(var(--ui5-badge-color-scheme-5-border), var(--ui5-badge-color-scheme-5-border));;
	--ui5-badge-color-scheme-5-color: var(--sapMangoColor6);
	--ui5-badge-color-scheme-5-shadow: var(--shadow-mango-small);
	--ui5-badge-color-scheme-5-active-shadow: var(--shadow-mango-xs);
	--ui5-badge-color-scheme-5-active-color: var(--sapMangoColor7);

	--ui5-badge-color-scheme-6-background: var(--sapRedColor1);
	--ui5-badge-color-scheme-6-hover-background: #fff;
	--ui5-badge-color-scheme-6-border: var(--sapRedColor4);
	--ui5-badge-color-scheme-6-background-image: linear-gradient(var(--ui5-badge-color-scheme-6-border), var(--ui5-badge-color-scheme-6-border));
	--ui5-badge-color-scheme-6-color: var(--sapRedColor6);
	--ui5-badge-color-scheme-6-shadow: var(--shadow-red-small);
	--ui5-badge-color-scheme-6-active-shadow: var(--shadow-red-xs);
	--ui5-badge-color-scheme-6-active-color: var(--sapRedColor7);

	--ui5-badge-color-scheme-7-background: var(--sapPinkColor1);
	--ui5-badge-color-scheme-7-hover-background: #fff;
	--ui5-badge-color-scheme-7-border: var(--sapPinkColor4);
	--ui5-badge-color-scheme-7-background-image: linear-gradient(var(--ui5-badge-color-scheme-7-border), var(--ui5-badge-color-scheme-7-border));
	--ui5-badge-color-scheme-7-color: var(--sapPinkColor6);
	--ui5-badge-color-scheme-7-shadow: var(--shadow-pink-small);
	--ui5-badge-color-scheme-7-active-shadow: var(--shadow-pink-xs);
	--ui5-badge-color-scheme-7-active-color: var(--sapPinkColor7);

	--ui5-badge-color-scheme-8-background: var(--sapIndigoColor1);
	--ui5-badge-color-scheme-8-hover-background: #fff;
	--ui5-badge-color-scheme-8-border: var(--sapIndigoColor4);
	--ui5-badge-color-scheme-8-background-image: linear-gradient(var(--ui5-badge-color-scheme-8-border), var(--ui5-badge-color-scheme-8-border));
	--ui5-badge-color-scheme-8-color: var(--sapIndigoColor6);
	--ui5-badge-color-scheme-8-shadow: var(--shadow-indigo-small);
	--ui5-badge-color-scheme-8-active-shadow: var(--shadow-indigo-xs);
	--ui5-badge-color-scheme-8-active-color: var(--sapIndigoColor7);

	--ui5-badge-color-scheme-9-background: var(--ui5-badge-color-scheme-1-background);
	--ui5-badge-color-scheme-9-hover-background: #fff;
	--ui5-badge-color-scheme-9-border: var(--ui5-badge-color-scheme-1-border);
	--ui5-badge-color-scheme-9-background-image: linear-gradient(var(--ui5-badge-color-scheme-1-border), var(--ui5-badge-color-scheme-1-border));
	--ui5-badge-color-scheme-9-color: var(--ui5-badge-color-scheme-1-color);
	--ui5-badge-color-scheme-9-shadow: var(--ui5-badge-color-scheme-1-shadow);
	--ui5-badge-color-scheme-9-active-shadow: var(--ui5-badge-color-scheme-1-active-shadow);
	--ui5-badge-color-scheme-9-active-color: var(--ui5-badge-color-scheme-1-active-color);

	--ui5-badge-color-scheme-10-background: var(--ui5-badge-color-scheme-2-background);
	--ui5-badge-color-scheme-10-hover-background: #fff;
	--ui5-badge-color-scheme-10-border: var(--ui5-badge-color-scheme-2-border);
	--ui5-badge-color-scheme-10-background-image: linear-gradient(var(--ui5-badge-color-scheme-2-border), var(--ui5-badge-color-scheme-2-border));
	--ui5-badge-color-scheme-10-color: var(--ui5-badge-color-scheme-2-color);
	--ui5-badge-color-scheme-10-shadow: var(--ui5-badge-color-scheme-2-shadow);
	--ui5-badge-color-scheme-10-active-shadow: var(--ui5-badge-color-scheme-2-active-shadow);
	--ui5-badge-color-scheme-10-active-color: var(--ui5-badge-color-scheme-2-active-color);
}