@import "../base/Button-parameters.css";

:root {
	--_ui5_button_base_min_width: 2rem;
	--_ui5_button_base_height: 2rem;
	--_ui5_button_base_padding: 0.75rem;
	--_ui5_button_base_icon_only_padding: 0.5625rem;
	--_ui5_button_base_icon_margin: 0.625rem;
	--_ui5_button_icon_font_size: 1.25rem;
	--_ui5_button_emphasized_font_weight: bold;
	--_ui5_button_text_shadow: none;
	--_ui5_button_border_radius: .5rem;
	--_ui5_button_border: none;
	--_ui5_button_background: #fff;
	--_ui5_button_hover_background: #fff;
	--_ui5_button_hover_box_shadow: var(--shadow-blue-medium);
	--_ui5_button_focused_box_shadow: var(--shadow-blue-medium);
	--_ui5_button_focused_background: #fff;
	--_ui5_button_disabled_background: var(--sapGreyColor1);
	--_ui5_button_font_weight: bold;
	--_ui5_button_transition: all .2s ease-in-out;
	--_ui5_button_box_shadow: var(--shadow-blue-small);
	--_ui5_button_active_box_shadow: var(--shadow-blue-xs);
	--_ui5_button_color: var(--sapBlueColor5);
	--_ui5_button_focus_color: var(--sapContent_FocusColor);
	--_ui5_button_hover_color: var(--sapBlueColor6);
	--_ui5_button_active_color: var(--sapBlueColor7);
	--_ui5_button_active_background: #fff;
	--_ui5_button_disabled_color: var(--sapGreyColor3);
	--_ui5_button_disabled_opacity: 1;
	--_ui5_button_outline: 2px solid var(--sapBlueColor4);
	--_ui5_button_transparent_hover: #fff;
	--_ui5_button_transparent_disabled_background: transparent;
	--_ui5_button_flat_background: var(--sapBlueColor1);
	--_ui5_button_focus_outline_focus_color: var(--sapBlueColor4);
	--_ui5_button_outline_offset: 0;
	--_ui5_button_emphasized_focused_border_radius: 8px;
	--_ui5_button_emphasized_outline: var(--_ui5_button_outline);
	--_ui5_button_emphasized_background_color: var(--sapBlueColor5);
	--_ui5_button_emphasized_border_color: var(--sapBlueColor5);
	--_ui5_button_emphasized_hover_background_color: var(--sapBlueColor6);
	--_ui5_button_emphasized_hover_border_color: var(--sapBlueColor6);
	--_ui5_button_emphasized_active_background_color: var(--sapBlueColor7);
	--_ui5_button_emphasized_active_border_color: transparent;
	--_ui5_button_emphasized_disabled_color: var(--sapGreyColor3);
	--_ui5_button_emphasized_disabled_background: var(--sapGreyColor1);
	--_ui5_button_emphasized_focused_background: var(--sapBlueColor5);
	--_ui5_button_emphasized_color: #fff;
	--_ui5_button_emphasized_hover_color: #fff;
	--_ui5_button_emphasized_active_color: #fff;
	--_ui5_button_emphasized_focused_inset: 0;
	--_ui5_button_emphasized_focused_box_shadow: inset 0 0 0 2px white;
	--_ui5_button_transparent_color: var(--sapBlueColor5);
	--_ui5_button_transparent_active_color: var(--sapBlueColor7);
	--_ui5_button_neutral_background: var(--sapGreyColor1);
	--_ui5_button_neutral_color: var(--sapGreyColor6);
	--_ui5_button_neutral_hover_color: var(--sapGreyColor6);
	--_ui5_button_neutral_hover_box_shadow: var(--shadow-grey-medium);
	--_ui5_button_neutral_active_box_shadow: var(--shadow-grey-xs);
	--_ui5_button_neutral_active_color: var(--sapGreyColor5);
	--_ui5_button_silent_background: transparent;
	--_ui5_button_silent_color: var(--sapGreyColor5);
}
