@import "../base/Input-parameters.css";

:root {
	--_ui5_input_height: 2rem;
	--_ui5_input_width: 100%;
	--_ui5_input_inner_padding: 0 0.75rem;
	--_ui5_input_disabled_opacity: 1;
	--_ui5_input_disabled_border_color: transparent;
	--_ui5-input-disabled-background: var(--sapNeutralBackground);
	--_ui5-input-disabled-placeholder-visibility: visible;
	--_ui5-input-readonly-background: var(--sapNeutralBackground);
	--_ui5_input_readonly_border_color: transparent;
	--_ui5-input-hover-border: none;
	--_ui5-input-hover-box-shadow: var(--shadow-grey-medium);
	--_ui5-input-border: none;
	--_ui5-input-border-radius: .5rem;
	--_ui5-input-focus-box-shadow: var(--shadow-blue-medium), 0 0 0 2px var(--sapBlueColor4);
	--_ui5-input-color: var(--sapGreyColor9);
	--_ui5-input-selected-color: var(--sapBlueColor4);
	--_ui5-input-disabled-color: var(--sapGreyColor8);
	--_ui5-input-background-position: bottom;
	--_ui5-input-background-size: 100% 2px;
	--_ui5-input-background-color: var(--sapGreyColor1);
	--_ui5-input-background-image: linear-gradient(var(--sapGreyColor4), var(--sapGreyColor4));
	--_ui5-input-background-repeat: no-repeat;
	--_ui5-input-hover-background-color: #fff;
	--_ui5-input-hover-background-size: var(--_ui5-input-background-size);
	--_ui5-input-focused-background-size: 100% 0;
	--_ui5-input-filled-background-image: linear-gradient(var(--sapBlueColor4), var(--sapBlueColor4));
	--_ui5-input-disabled-background-image: none;
	--_ui5-input-placeholder-style: normal;
	--_ui5-input-placeholder-color: var(--sapGreyColor5);
	--_ui5-input-disabled-placeholder-color: var(--sapGreyColor4);
	--_ui5-input-focused-border-color: transparent;
	--_ui5-input-focus-outline: none;
	--_ui5-input-focus-outline-offset: 0;
	--_ui5-input-value-state-outline: none;
	--_ui5-input-value-state-outline-offset: none;
	--_ui5-input-transition: all 0.2s ease-in-out;
	--_ui5-input-focused-value-state-error-background: #fff;
	--_ui5-input-focused-value-state-warning-background: #fff;
	--_ui5-input-focused-value-state-success-background: #fff;
	--_ui5-input-focused-value-state-information-background: #fff;
	--_ui5-input-value-state-icon-display: flex;
	--_ui5-input-disabled-value-state-icon-opacity: 0;
	--_ui5-input-value-state-error-color: var(--sapRedColor9);
	--_ui5-input-value-state-error-placeholder-color: var(--sapRedColor5);
	--_ui5-input-value-state-error-background: var(--sapRedColor1);
	--_ui5-input-error-background-image: linear-gradient(var(--sapRedColor4), var(--sapRedColor4));
	--_ui5-input-value-state-error-border-color: var(--sapRedColor4);
	--_ui5-input-focused-value-state-error-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-error-hover-box-shadow: var(--shadow-red-medium);
	--_ui5-input-value-state-error-border-width: 2px;
	--_ui5-input-focused-value-state-error-border-width: 0px;
	--_ui5-input-disabled-value-state-error-background: var(--sapGreyColor1);
	--_ui5-input-disabled-value-state-error-border-width: 0;
	--_ui5-input-disabled-value-state-error-color: var(--sapGreyColor8);
	--_ui5-input-value-state-warning-color: var(--sapMangoColor9);
	--_ui5-input-value-state-warning-placeholder-color: var(--sapMangoColor5);
	--_ui5-input-value-state-warning-background: var(--sapMangoColor1);
	--_ui5-input-value-state-warning-border-color: var(--sapMangoColor5);
	--_ui5-input-focused-value-state-warning-border-color: var(--_ui5-input-focused-border-color);
	--_ui5_input_error_warning_border_style: none;
	--_ui5-input-value-state-warning-hover-box-shadow: var(--shadow-mango-medium);
	--_ui5-input-warning-background-image: linear-gradient(var(--sapMangoColor5), var(--sapMangoColor5));
	--_ui5-input-disabled-value-state-warning-background: var(--sapGreyColor1);
	--_ui5-input-disabled-value-state-warning-border-width: 0;
	--_ui5-input-disabled-value-state-warning-color: var(--sapGreyColor8);
	--_ui5-input-value-state-warning-border-width: 2px;
	--_ui5-input-focused-value-state-warning-border-width: 0;
	--_ui5-input-value-state-success-color: var(--sapGreenColor9);
	--_ui5-input-value-state-success-placeholder-color: var(--_ui5-input-placeholder-color);
	--_ui5-input-value-state-success-background: var(--sapGreenColor1);
	--_ui5-input-value-state-success-border-color: var(--sapGreenColor4);
	--_ui5-input-success-background-image: linear-gradient(var(--_ui5-input-value-state-success-border-color), var(--_ui5-input-value-state-success-border-color));
	--_ui5-input-focused-value-state-success-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-success-hover-box-shadow: var(--shadow-green-medium);
	--_ui5-input-value-state-success-border-width: 2px;
	--_ui5-input-focused-value-state-success-border-width: 0;
	--_ui5-input-disabled-value-state-success-background: var(--sapGreyColor1);
	--_ui5-input-disabled-value-state-success-border-width: 0;
	--_ui5-input-disabled-value-state-success-color: var(--sapGreyColor8);
	--_ui5-input-value-state-information-placeholder-color: var(--sapBlueColor5);
	--_ui5-input-value-information-background: var(--sapBlueColor1);
	--_ui5-input-value-state-information-border-color: var(--sapBlueColor4);
	--_ui5-input-information-background-image: linear-gradient(var(--_ui5-input-value-state-information-border-color),var(--_ui5-input-value-state-information-border-color));
	--_ui5-input-focused-value-state-information-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-information-hover-box-shadow: var(--shadow-blue-medium);
	--_ui5-input-value-state-information-border-width: 2px;
	--_ui5-input-focused-value-state-information-border-width: 0;
	--_ui5-input-disabled-value-state-information-background: var(--sapGreyColor1);
	--_ui5-input-disabled-value-state-information-border-width: 0;
	--_ui5-input-disabled-value-state-information-color: var(--sapGreyColor8);
	--_ui5-input-value-state-information-color: var(--sapGreyColor9);
	--_ui5-input-value-state-error-focus-box-shadow: var(--_ui5-input-focus-box-shadow);
	--_ui5-input-value-state-warning-focus-box-shadow: var(--_ui5-input-focus-box-shadow);
	--_ui5-input-value-state-success-focus-box-shadow: var(--_ui5-input-focus-box-shadow);
}
