@import "../base/Input-parameters.css";

:root {
	--_ui5_input_height: 2.25rem;
	--_ui5_input_disabled_opacity: 0.4;
	--_ui5_input_disabled_border_color: transparent;
	--_ui5-input-disabled-background: var(--sapNeutralBackground);
	--_ui5-input-readonly-background: var(--sapNeutralBackground);
	--_ui5_input_readonly_border_color: transparent;
	--_ui5-input-hover-border: 2px solid transparent;
	--_ui5-input-hover-box-shadow: 0 0 2px rgb(131 150 168 / 16%), 0 8px 16px rgb(131 150 168 / 16%);
	--_ui5-input-border-radius: 8px;
	--_ui5-input-placeholder-style: normal;
	--_ui5-input-placeholder-color: var(--sapNeutralColor);
	--_ui5-input-bottom-border-height: 2px;
	--_ui5-input-bottom-border-color: var(--sapNeutralColor);
	--_ui5-input-focused-border-color: #1890FF;
	--_ui5-input-focus-outline: none;
	--_ui5-input-focus-outline-offset: 0;
	--_ui5-input-value-state-outline: none;
	--_ui5-input-value-state-outline-offset: none;
	--_ui5-input-transition: all .2s ease-in-out;
	--_ui5-input-focused-value-state-error-background: #fff;
	--_ui5-input-focused-value-state-warning-background: #fff;
	--_ui5-input-focused-value-state-success-background: #fff;
	--_ui5-input-focused-value-state-information-background: #fff;
	--_ui5-input-value-state-icon-display: flex;
	--_ui5-input-value-state-error-border-botom-color: #d20a0a;
	--_ui5-input-value-state-error-border-color: transparent;
	--_ui5-input-focused-value-state-error-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-error-hover-box-shadow: 0 0 2px rgba(245, 40, 40, 0.16), 0 8px 16px rgba(245, 40, 40, 0.16);
	--_ui5-input-value-state-warning-border-botom-color: #c35500;
	--_ui5-input-value-state-warning-border-color: transparent;
	--_ui5-input-focused-value-state-warning-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-warning-hover-box-shadow: 0 0 2px rgba(255, 179, 0, 0.16), 0 8px 16px rgba(255, 179, 0, 0.16);
	--_ui5-input-value-state-success-border-botom-color: #36a41d;
	--_ui5-input-value-state-success-border-color: transparent;
	--_ui5-input-focused-value-state-success-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-success-hover-box-shadow: 0 0 2px rgba(131, 150, 168, 0.16), 0 8px 16px rgba(131, 150, 168, 0.16);
	--_ui5-input-value-state-success-border-width: 2px;
	--_ui5-input-value-success-information-border-botom-color: #0070f2;
	--_ui5-input-value-state-information-border-color: transparent;
	--_ui5-input-focused-value-state-information-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-information-hover-box-shadow: 0 0 2px rgba(27, 144, 255, 0.16), 0 8px 16px rgba(27, 144, 255, 0.16);
	--_ui5-input-value-state-information-border-width: 2px;
}
