@import "../base/Input-parameters.css";

:root {
	--_ui5_input_disabled_border_color: transparent;
	--_ui5-input_disabled_background: var(--sapNeutralBackground);
	--_ui5_input_readonly_background: var(--sapNeutralBackground);
	--_ui5_input_readonly_border_color: transparent;
	--_ui5_input_hover_border: 2px solid transparent;
	--_ui5_input_hover_box_shadow: 0 0 2px rgb(131 150 168 / 16%), 0 8px 16px rgb(131 150 168 / 16%);
	--_ui5_input_border_radius: 8px;
	--_ui5_input_placeholder_style: normal;
	--_ui5_input_placeholder_color: var(--sapNeutralColor);
	--_ui5-input_error_placeholder_color: #d20a0a;
	--_ui5_input_bottom_border_height: 2px;
	--_ui5_input_bottom_border_color: var(--sapNeutralColor);
	--_ui5_input_focused_border_color: #1890FF;
	--_ui5_input_transition: all .2s ease-in-out;
	--_ui5_input_focused_value_state_error_background: #fff;
	--_ui5_input_focused_value_state_warning_background: #fff;
	--_ui5_input_focused_value_state_success_background: #fff;
	--_ui5_input_focused_value_state_information_background: #fff;
	--_ui5-input-value-state-icon-display: flex;
	--_ui5-input-value-state-error-border-botom-color: #d20a0a;
	--_ui5_input_value_state_error_border_color: transparent;
	--_ui5_input_focused_value_state_error_border_color: var(--_ui5-input-focused-border-color);
	--_ui5_input_value_state_error_hover_box_shadow: 0 0 2px rgba(245, 40, 40, 0.16), 0 8px 16px rgba(245, 40, 40, 0.16);
	--_ui5_input_value_state_warning_border_botom_color: #c35500;
	--_ui5_input_value_state_warning_border_color: transparent;
	--_ui5_input_focused_value_state_warning_border_color: var(--_ui5-input-focused-border-color);
	--_ui5_input_value_state_warning_hover_box_shadow: 0 0 2px rgba(255, 179, 0, 0.16), 0 8px 16px rgba(255, 179, 0, 0.16);
	--_ui5_input_value_state_success_border_botom_color: #36a41d;
	--_ui5_input_value_state_success_border_color: transparent;
	--_ui5_input_focused_value_state_success_border_color: var(--_ui5-input-focused-border-color);
	--_ui5_input_value_state_success_hover_box_shadow: 0 0 2px rgba(131, 150, 168, 0.16), 0 8px 16px rgba(131, 150, 168, 0.16);
	--_ui5_input_value_state_success_border_width: 2px;
	--_ui5_input_value_success_information_border_botom_color: #0070f2;
	--_ui5_input_value_state_information_border_color: transparent;
	--_ui5_input_focused_value_state_information_border_color: var(--_ui5-input-focused-border-color);
	--_ui5_input_value_state_information_hover_box_shadow: 0 0 2px rgba(27, 144, 255, 0.16), 0 8px 16px rgba(27, 144, 255, 0.16);
	--_ui5-input-value-state-information-border-width: 2px;
	--_ui5_input_focus_offset: -2px;
	--_ui5_input_focus_border_radius: 0.5rem;
}
