@import "../base/RatingIndicator-parameters.css";

:root {
	--_ui5_rating_indicator_border_radius: 0.25rem;
	--_ui5_rating_indicator_readonly_item_height: 0.75em;
	--_ui5_rating_indicator_readonly_item_width: 0.75em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.25em;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_rating_indicator_readonly_item_height: 0.5em;
	--_ui5_rating_indicator_readonly_item_width: 0.5em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.125em;
}