@import "../base/sizes-parameters.css";

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_rating_indicator_readonly_item_height: 0.5em;
	--_ui5_rating_indicator_readonly_item_width: 0.5em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.125em;
}