@import "../base/SliderBase-parameters.css";

:root {
	--_ui5_slider_progress_container_background: #D5DADD;
	--_ui5_slider_progress_container_dot_display: block;
	--_ui5_slider_inner_min_width: 4rem;
	--_ui5_slider_progress_background: #1B90FF;
	--_ui5_slider_handle_background: #FFF;
	--_ui5_range_slider_handle_background: #FFF;
	--_ui5_range_slider_handle_hover_background: #FFF;
	--_ui5_range_slider_handle_hover_icon_display: inline-block;
	--_ui5_slider_handle_icon_display: inline-block;
	--_ui5_slider_handle_border: 1px solid transparent;
	--_ui5_slider_handle_border_radius: 0.5rem;
	--_ui5_slider_handle_box_shadow: 0 0.5rem 1rem rgba(27,144,255,.16);
	--_ui5_slider_handle_top: -0.563rem;
	--_ui5_slider_handle_height: 1.5rem;
	--_ui5_slider_handle_width: 2rem;
	--_ui5_slider_handle_top: -0.75rem;
	--_ui5_slider_handle_hover_border: 1px solid var(--sapContent_Selected_ForegroundColor);
	--_ui5_slider_handle_focus_border: 0.125rem solid var(--sapContent_Selected_ForegroundColor);
	--_ui5_slider_handle_active_border: var(--_ui5_slider_handle_focus_border);
	--_ui5_slider_tooltip_background: #FFF;
	--_ui5_slider_tooltip_border: none;
	--_ui5_slider_handle_outline: none;
	--_ui5_slider_tooltip_border_radius: 0.75rem;
	--_ui5_slider_tooltip_box_shadow:  0 0.5rem 1rem 0 rgba(131, 150, 168, 0.16), 0 0 0.125rem 0 rgba(131, 150, 168, 0.16);
	--_ui5_slider_tooltip_color: #8396A8;
	--_ui5_slider_label_color: #8396A8;
}
