@import "../base/SplitButton-parameters.css";

:root {
	--_ui5_split_button_focused_border: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_split_button_focused_border_radius: 0.375rem;
	--_ui5_split_button_hover_border_radius: var(--_ui5_button_border_radius);
	--_ui5_split_button_attention_separator_color: var(--sapButton_Attention_TextColor);
	--_ui5_split_button_middle_separator_width: 0;
	--_ui5_split_button_middle_separator_left: -0.0625rem;
	--_ui5_split_button_middle_separator_hover_display: none;
	--_ui5_split_button_text_button_width: 2.375rem;
	--_ui5_split_button_text_button_right_border_width: 0.0625rem;
	--_ui5_split_button_transparent_hover_background: var(--sapButton_Background);
	--_ui5_split_button_transparent_hover_color: var(--sapButton_TextColor);
	--_ui5_split_button_inner_focused_border_radius_outer: 0.375rem;
	--_ui5_split_button_inner_focused_border_radius_inner: 0.375rem;
}
