.layout-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.layout-grid ui5-label:first-child,
.layout-grid ui5-label:nth-child(3) {
    text-align: right;
    justify-self: end;
}

.fcl {
    height: 600px;
}

.col {
    height: 100%;
}

.colHeader {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sapList_BorderColor);
}

.colSubHeader {
    display: flex;
    gap: 0.5rem;
}

.configurationInfo {
    color: var(--sapInformativeColor);
}

.product-details {
    padding: 1rem;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-info ui5-label {
    font-weight: bold;
    margin-top: 0.5rem;
}
