.ui5-calendar-legend-root{column-width:7.5rem;gap:.5rem;padding:var(--_ui5-v1-24-3-calendar-legend-root-padding);margin:1rem 0;width:var(--_ui5-v1-24-3-calendar-legend-root-width);background-color:var(--sapList_Background)}
