/* ===================================== */
/* Base Parameters                       */
/* ===================================== */
:root {
	/* PRIMARY COLORS */
	--sapPrimary1: #ff00cc;
	--sapPrimary2: #8cff00;
	--sapPrimary3: #eff4f9;
	--sapPrimary4: #ffffff;
	--sapPrimary5: #fafafa;
	--sapPrimary6: #bfbfbf;
	--sapPrimary7: #333333;

	/* ACCENT COLORS */
	--sapAccentColor1: #e09d00;
	--sapAccentColor2: #e6600d;
	--sapAccentColor3: #c14646;
	--sapAccentColor4: #ab218e;
	--sapAccentColor5: #678bc7;
	--sapAccentColor6: #0092d1;
	--sapAccentColor7: #1a9898;
	--sapAccentColor8: #759421;
	--sapBrandColor: var(--sapPrimary2);
	--sapHighlightColor: var(--sapBrandColor);
	--sapBaseColor: var(--sapPrimary3);
	--sapShellColor: transparent;
	--sapBackgroundColorDefault: var(--sapPrimary5);
	--sapBackgroundColor: var(--sapPrimary5);
	--sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
	/* sapFontSize: calc(0.875 * (sapContent_GridSize)); */
	/*  0.75em; */
	--sapTextColor: var(--sapPrimary7);
	--sapLinkColor: #0070b1;
	--sapCompanyLogo: none;
	--sapBackgroundImage: none;
	--sapBackgroundImageOpacity: 1.0;
	--sapBackgroundImageRepeat: false;
	--sapContent_GridSize: 1rem;
	
	/* Semantic Border Colors */
	--sapErrorBorderColor: var(--sapErrorColor);
	/*  #ee0000 */
	--sapWarningBorderColor: var(--sapWarningColor);
	/*  #f9a429 */
	--sapSuccessBorderColor: var(--sapSuccessColor);
	/*  #38a238 */
	--sapInformationBorderColor: var(--sapInformativeColor);
	/*  #427cac */
	--sapNeutralBorderColor: var(--sapNeutralColor);
	/*  #5e696e */
	/* Semantic Foreground Elements */
	--sapNegativeElementColor: var(--sapNegativeColor);
	/*  #bb0000 */
	--sapCriticalElementColor: var(--sapCriticalColor);
	/*  #e78c07 */
	--sapPositiveElementColor: var(--sapPositiveColor);
	/*  #2b7c2b */
	--sapInformativeElementColor: var(--sapInformativeColor);
	/*  #427cac */
	--sapNeutralElementColor: var(--sapNeutralColor);
	/*  #5e696e */
	/* Semantic Text */
	--sapNegativeTextColor: var(--sapNegativeColor);
	/*  #bb0000 */
	--sapCriticalTextColor: var(--sapCriticalColor);
	/*  #e78c07 */
	--sapPositiveTextColor: var(--sapPositiveColor);
	/*  #2b7c2b */
	--sapInformativeTextColor: var(--sapInformativeColor);
	/*  #427cac */
	--sapNeutralTextColor: var(--sapNeutralColor);
	/*  #5e696e */
	/* Semantic Foreground Colors */
	--sapNegativeColor: #00bb0c;
	--sapCriticalColor: #e78c07;
	--sapPositiveColor: #2b7c2b;
	--sapInformativeColor: #427cac;
	--sapNeutralColor: #5e696e;
	--sapInformationColor: var(--sapInformativeColor);
	--sapIndicationColor_1: #880000;
	--sapIndicationColor_2: #bb0000;
	--sapIndicationColor_3: #e78c07;
	--sapIndicationColor_4: #2b7c2b;
	--sapIndicationColor_5: #427cac;
	/* ===================================== */
	/* Expert Theming                        */
	/* ===================================== */
	--sapSelectedColor: var(--sapHighlightColor);
	--sapActiveColor: var(--sapHighlightColor);
	--sapTitleColor: var(--sapTextColor);
	/* sapElement_LineHeight: calc(3 * var(--sapContent_GridSize));
	sapElement_Height: calc(2.5 * var(--sapContent_GridSize));
	sapElement_BorderWidth: calc(0.0625 * var(--sapContent_GridSize)); */
	--sapContent_LineHeight: 1.4;
	/*  1.3; */
	--sapContent_ElementHeight: 1.37em;
	--sapContent_ElementHeight_PX: 22px;
	--sapContent_IconHeight: var(--sapContent_GridSize);
	/*  16px; */
	--sapContent_ContrastTextColor: #fff;
	--sapContent_ContrastIconColor: var(--sapContent_ContrastTextColor);
	--sapContent_MarkerIconColor: var(--sapAccentColor5);
	--sapContent_FocusColor: #000;
	--sapContent_ContrastFocusColor: #fff;
	--sapContent_ShadowColor: #000;
	--sapContent_ContrastShadowColor: #fff;
	--sapContent_SearchHighlightColor: #d4f7db;
	--sapContent_HelpColor: #3f8600;
	--sapContent_MonospaceFontFamily: lucida console, monospace;
	--sapContent_DisabledOpacity: 0.5;
	--sapContent_ContrastTextThreshold: 0.65;
	--sapContent_ForegroundBorderColor: var(--sapPrimary6);
	--sapContent_BadgeBackground: var(--sapAccentColor3);
	--sapButton_BorderWidth: var(--sapElement_BorderWidth);
	/*  1px; */
	/* sapButton_BorderCornerRadius: calc(0.2 * var(--sapContent_GridSize)); */
	/*  3px; */
	--sapButton_Hover_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Reject_Background: var(--sapButton_Background);
	--sapButton_Accept_Background: var(--sapButton_Background);
	--sapField_Background: var(--sapPrimary4);
	--sapField_BorderColor: var(--sapPrimary6);
	--sapField_TextColor: #000;
	--sapField_HelpBackground: var(--sapField_Background);
	--sapField_BorderWidth: var(--sapElement_BorderWidth);
	/*  1px; */
	--sapField_BorderCornerRadius: 0;
	--sapField_Hover_Background: var(--sapField_Background);
	--sapField_Hover_BorderColor: var(--sapHighlightColor);
	--sapField_Hover_HelpBackground: var(--sapHighlightColor);
	--sapField_Focus_Background: var(--sapField_Background);
	--sapField_Focus_BorderColor: var(--sapField_BorderColor);
	--sapField_Focus_HelpBackground: var(--sapField_Focus_Background);
	--sapField_ReadOnly_HelpBackground: var(--sapField_ReadOnly_Background);
	--sapField_RequiredColor: var(--sapAccentColor3);
	--sapField_InvalidColor: var(--sapErrorColor);
	--sapField_InvalidBackground: var(--sapField_Background);
	--sapField_WarningColor: var(--sapWarningColor);
	--sapField_WarningBackground: var(--sapField_Background);
	--sapField_SuccessColor: var(--sapSuccessColor);
	--sapField_SuccessBackground: var(--sapField_Background);
	--sapField_InformationColor: var(--sapInformationColor);
	--sapField_InformationBackground: var(--sapField_Background);
	--sapGroup_TitleBackground: transparent;
	--sapGroup_BorderWidth: var(--sapElement_BorderWidth);
	/*  1px; */
	--sapGroup_BorderCornerRadius: 0;
	--sapGroup_FooterBackground: transparent;
	--sapToolbar_Background: transparent;
	--sapList_HeaderBorderColor: var(--sapList_BorderColor);
	--sapList_BorderWidth: var(--sapElement_BorderWidth);
	/*  1px; */
	--sapList_HighlightColor: var(--sapHighlightColor);
	--sapList_Background: var(--sapPrimary4);
	--sapScrollBar_BorderColor: var(--sapScrollBar_FaceColor);
	--sapScrollBar_SymbolColor: var(--sapContent_IconColor);
	--sapScrollBar_Dimension: calc(0.7 * var(--sapContent_GridSize));
	/*  16px; */
	--sapPageHeader_Background: var(--sapBaseColor);
	--sapPageFooter_Background: var(--sapPrimary4);
	--sapObjectHeader_Background: var(--sapBaseColor);
	--sapBlockLayer_Background: #000;
	--sapTile_Background: var(--sapPrimary4);
	--sapTile_BorderColor: transparent;
}