:root {
    --sapBrandColor: #427cac;
    --sapHighlightColor: #427cac;
    --sapBaseColor: #eff4f9;
    --sapShellColor: transparent;
    --sapBackgroundColorDefault: #fafafa;
    --sapBackgroundColor: #fafafa;
    --sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
    --sapFontSize: 0.875rem;
    --sapTextColor: #333333;
    --sapLinkColor: #0070b1;
    --sapCompanyLogo: none;
    --sapBackgroundImage: none;
    --sapBackgroundImageOpacity: 1;
    --sapBackgroundImageRepeat: false;
    --sapContent_GridSize: 1rem;
    --sapPrimary1: #3f5161;
    --sapPrimary2: #427cac;
    --sapPrimary3: #eff4f9;
    --sapPrimary4: #ffffff;
    --sapPrimary5: #fafafa;
    --sapPrimary6: #bfbfbf;
    --sapPrimary7: #333333;
    --sapAccentColor1: #e09d00;
    --sapAccentColor2: #e6600d;
    --sapAccentColor3: #c14646;
    --sapAccentColor4: #ab218e;
    --sapAccentColor5: #678bc7;
    --sapAccentColor6: #0092d1;
    --sapAccentColor7: #1a9898;
    --sapAccentColor8: #759421;
    --sapErrorBackground: #ffe4e4;
    --sapWarningBackground: #fef0db;
    --sapSuccessBackground: #e4f5e4;
    --sapInformationBackground: #ebf2f7;
    --sapNeutralBackground: #f4f5f6;
    --sapErrorBorderColor: #ee0000;
    --sapWarningBorderColor: #f9a429;
    --sapSuccessBorderColor: #38a238;
    --sapInformationBorderColor: #427cac;
    --sapNeutralBorderColor: #5e696e;
    --sapNegativeElementColor: #bb0000;
    --sapCriticalElementColor: #e78c07;
    --sapPositiveElementColor: #2b7c2b;
    --sapInformativeElementColor: #427cac;
    --sapNeutralElementColor: #5e696e;
    --sapNegativeTextColor: #bb0000;
    --sapCriticalTextColor: #e78c07;
    --sapPositiveTextColor: #2b7c2b;
    --sapInformativeTextColor: #427cac;
    --sapNeutralTextColor: #5e696e;
    --sapNegativeColor: #bb0000;
    --sapCriticalColor: #e78c07;
    --sapPositiveColor: #2b7c2b;
    --sapInformativeColor: #427cac;
    --sapNeutralColor: #5e696e;
    --sapErrorColor: #ee0000;
    --sapWarningColor: #f9a429;
    --sapSuccessColor: #38a238;
    --sapInformationColor: #427cac;
    --sapIndicationColor_1: #880000;
    --sapIndicationColor_2: #bb0000;
    --sapIndicationColor_3: #e78c07;
    --sapIndicationColor_4: #2b7c2b;
    --sapIndicationColor_5: #427cac;
    --sapSelectedColor: #427cac;
    --sapActiveColor: #427cac;
    --sapHighlightTextColor: #fff;
    --sapTitleColor: #333333;
    --sapElement_LineHeight: 3rem;
    --sapElement_Height: 2.5rem;
    --sapElement_BorderWidth: 0.0625rem;
    --sapContent_LineHeight: 1.4;
    --sapContent_ElementHeight: 1.37em;
    --sapContent_ElementHeight_PX: 22px;
    --sapContent_IconHeight: 1rem;
    --sapContent_IconColor: #346187;
    --sapContent_ContrastIconColor: #fff;
    --sapContent_NonInteractiveIconColor: #878787;
    --sapContent_MarkerIconColor: #678bc7;
    --sapContent_MarkerTextColor: #147575;
    --sapContent_ImagePlaceholderBackground: #ceddec;
    --sapContent_ImagePlaceholderForegroundColor: #ffffff;
    --sapContent_FocusColor: #000;
    --sapContent_ContrastFocusColor: #fff;
    --sapContent_ShadowColor: #000;
    --sapContent_ContrastShadowColor: #fff;
    --sapContent_SearchHighlightColor: #d4f7db;
    --sapContent_HelpColor: #3f8600;
    --sapContent_LabelColor: #666666;
    --sapContent_MonospaceFontFamily: lucida console, monospace;
    --sapContent_DisabledTextColor: rgba(51, 51, 51, 0.5);
    --sapContent_DisabledOpacity: 0.5;
    --sapContent_ContrastTextThreshold: 0.65;
    --sapContent_ContrastTextColor: #fff;
    --sapContent_ForegroundColor: #e5e5e5;
    --sapContent_ForegroundBorderColor: #bfbfbf;
    --sapContent_ForegroundTextColor: #333333;
    --sapContent_BadgeBackground: #c14646;
    --sapShell_Background: #c9d8e7;
    --sapShell_BackgroundImage: linear-gradient(to bottom, #a9c4df, #e7ecf0);
    --sapShell_BackgroundImageOpacity: 1;
    --sapShell_BackgroundImageRepeat: false;
    --sapShell_BackgroundPatternColor: rgba(255, 255, 255, 0.08);
    --sapShell_BackgroundGradient: linear-gradient(to bottom, #a9c4df, #e7ecf0);
    --sapShell_BorderColor: transparent;
    --sapShell_TextColor: #346187;
    --sapShell_InteractiveTextColor: #346187;
    --sapShell_Favicon: none;
    --sapButton_BorderWidth: 0.0625rem;
    --sapButton_BorderCornerRadius: 0.2rem;
    --sapButton_Background: #f7f7f7;
    --sapButton_BorderColor: #ababab;
    --sapButton_TextColor: #346187;
    --sapButton_Hover_Background: #ebebeb;
    --sapButton_Hover_BorderColor: #ababab;
    --sapButton_Hover_TextColor: #346187;
    --sapButton_Emphasized_Background: #5496cd;
    --sapButton_Emphasized_BorderColor: #418ac7;
    --sapButton_Emphasized_TextColor: #fff;
    --sapButton_Reject_Background: #f7f7f7;
    --sapButton_Accept_Background: #f7f7f7;
    --sapField_Background: #ffffff;
    --sapField_BorderColor: #bfbfbf;
    --sapField_TextColor: #000;
    --sapField_HelpBackground: #ffffff;
    --sapField_BorderWidth: 0.0625rem;
    --sapField_BorderCornerRadius: 0;
    --sapField_Hover_Background: #ffffff;
    --sapField_Hover_BorderColor: #427cac;
    --sapField_Hover_HelpBackground: #427cac;
    --sapField_Focus_Background: #ffffff;
    --sapField_Focus_BorderColor: #bfbfbf;
    --sapField_Focus_HelpBackground: #ffffff;
    --sapField_ReadOnly_Background: rgba(242, 242, 242, 0.5);
    --sapField_ReadOnly_BorderColor: #cccccc;
    --sapField_ReadOnly_HelpBackground: rgba(242, 242, 242, 0.5);
    --sapField_RequiredColor: #c14646;
    --sapField_InvalidColor: #ee0000;
    --sapField_InvalidBackground: #ffffff;
    --sapField_WarningColor: #f9a429;
    --sapField_WarningBackground: #ffffff;
    --sapField_SuccessColor: #38a238;
    --sapField_SuccessBackground: #ffffff;
    --sapField_InformationColor: #427cac;
    --sapField_InformationBackground: #ffffff;
    --sapGroup_TitleBackground: transparent;
    --sapGroup_TitleBorderColor: #cccccc;
    --sapGroup_TitleTextColor: #333333;
    --sapGroup_Title_FontSize: 0.875rem;
    --sapGroup_ContentBackground: #ffffff;
    --sapGroup_ContentBorderColor: #ebebeb;
    --sapGroup_BorderWidth: 0.0625rem;
    --sapGroup_BorderCornerRadius: 0;
    --sapGroup_FooterBackground: transparent;
    --sapToolbar_Background: transparent;
    --sapToolbar_SeparatorColor: rgba(63, 81, 97, 0.2);
    --sapList_HeaderBackground: #f7f7f7;
    --sapList_HeaderBorderColor: #e5e5e5;
    --sapList_HeaderTextColor: #333333;
    --sapList_BorderColor: #e5e5e5;
    --sapList_BorderWidth: 0.0625rem;
    --sapList_HighlightColor: #427cac;
    --sapList_SelectionBackgroundColor: #e8eff6;
    --sapList_Background: #ffffff;
    --sapList_Hover_Background: #f0f0f0;
    --sapScrollBar_FaceColor: #b2b2b2;
    --sapScrollBar_TrackColor: #ffffff;
    --sapScrollBar_BorderColor: #b2b2b2;
    --sapScrollBar_SymbolColor: #346187;
    --sapScrollBar_Dimension: 0.7rem;
    --sapScrollBar_Hover_FaceColor: #ababab;
    --sapPageHeader_Background: #eff4f9;
    --sapPageHeader_BorderColor: #d1e0ee;
    --sapPageHeader_TextColor: #666666;
    --sapPageFooter_Background: #ffffff;
    --sapPageFooter_TextColor: #333333;
    --sapInfobar_Background: #168282;
    --sapObjectHeader_Background: #eff4f9;
    --sapBlockLayer_Background: #000;
    --sapTile_Background: #ffffff;
    --sapTile_BorderColor: transparent;
    --sapTile_TitleTextColor: #333333;
    --sapTile_TextColor: #666666;
    --sapTile_IconColor: #93b7d6;
    --sapChart_OrderedColor_1: #5899da;
    --sapChart_OrderedColor_2: #e8743b;
    --sapChart_OrderedColor_3: #19a979;
    --sapChart_OrderedColor_4: #ed4a7b;
    --sapChart_OrderedColor_5: #945ecf;
    --sapChart_OrderedColor_6: #13a4b4;
    --sapChart_OrderedColor_7: #525df4;
    --sapChart_OrderedColor_8: #bf399e;
    --sapChart_OrderedColor_9: #6c8893;
    --sapChart_OrderedColor_10: #ee6868;
    --sapChart_OrderedColor_11: #2f6497;
    --sapChart_Bad: #dc0d0e;
    --sapChart_Critical: #de890d;
    --sapChart_Good: #3fa45b;
    --sapChart_Neutral: #848f94;
    --sapChart_Sequence_1: #5899da;
    --sapChart_Sequence_2: #e8743b;
    --sapChart_Sequence_3: #19a979;
    --sapChart_Sequence_4: #ed4a7b;
    --sapChart_Sequence_5: #945ecf;
    --sapChart_Sequence_6: #13a4b4;
    --sapChart_Sequence_7: #525df4;
    --sapChart_Sequence_8: #bf399e;
    --sapChart_Sequence_9: #6c8893;
    --sapChart_Sequence_10: #ee6868;
    --sapChart_Sequence_11: #2f6497;
    --sapChart_Sequence_Neutral: #848f94;
    --sapUiBrand: #427cac;
    --sapUiHighlight: #427cac;
    --sapUiBaseColor: #eff4f9;
    --sapUiShellColor: transparent;
    --sapUiBaseBG: #fafafa;
    --sapUiGlobalBackgroundColor: #fafafa;
    --sapUiFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
    --sapUiFontSize: 16px;
    --sapUiBaseText: #333333;
    --sapUiLink: #0070b1;
    --sapUiGlobalLogo: none;
    --sapUiGlobalBackgroundImage: none;
    --sapUiBackgroundImage: none;
    --sapUiUx3ShellBackgroundImageURL: none;
    --sapUiGlobalBackgroundImageOpacity: 1;
    --sapUiGlobalBackgroundRepeat: false;
    --sapUiSelected: #427cac;
    --sapUiActive: #427cac;
    --sapUiHighlightTextColor: #fff;
    --sapUiTextTitle: #333333;
    --sapUiElementLineHeight: 3rem;
    --sapUiElementHeight: 2.5rem;
    --sapUiElementBorderWidth: 0.0625rem;
    --sapUiContentLineHeight: 1.4;
    --sapUiContentElementHeight: 1.37em;
    --sapUiContentElementHeightPX: 22px;
    --sapUiContentIconHeight: 1rem;
    --sapUiContentIconColor: #346187;
    --sapUiContentContrastIconColor: #fff;
    --sapUiContentNonInteractiveIconColor: #878787;
    --sapUiContentMarkerIconColor: #678bc7;
    --sapUiContentMarkerTextColor: #147575;
    --sapUiContentImagePlaceholderBackground: #ceddec;
    --sapUiContentImagePlaceholderForegroundColor: #ffffff;
    --sapUiContentFocusColor: #000;
    --sapUiContentContrastFocusColor: #fff;
    --sapUiContentShadowColor: #000;
    --sapUiContentContrastShadowColor: #fff;
    --sapUiContentSearchHighlightColor: #d4f7db;
    --sapUiContentHelpColor: #3f8600;
    --sapUiContentLabelColor: #666666;
    --sapUiContentDisabledTextColor: rgba(51, 51, 51, 0.5);
    --sapUiContentDisabledOpacity: 0.5;
    --sapUiContentContrastTextThreshold: 0.65;
    --sapUiContentContrastTextColor: #fff;
    --sapUiContentForegroundColor: #e5e5e5;
    --sapUiContentForegroundBorderColor: #bfbfbf;
    --sapUiContentForegroundTextColor: #333333;
    --sapUiContentBadgeBackground: #c14646;
    --sapUiShellBackground: #c9d8e7;
    --sapUiShellBackgroundImage: linear-gradient(to bottom, #a9c4df, #e7ecf0);
    --sapUiShellBackgroundImageOpacity: 1;
    --sapUiShellBackgroundImageRepeat: false;
    --sapUiShellBackgroundPatternColor: rgba(255, 255, 255, 0.08);
    --sapUiShellBackgroundGradient: linear-gradient(to bottom, #a9c4df, #e7ecf0);
    --sapUiShellBorderColor: transparent;
    --sapUiShellTextColor: #346187;
    --sapUiShellInteractiveTextColor: #346187;
    --sapUiShellFavicon: none;
    --sapUiButtonBorderWidth: 0.0625rem;
    --sapUiButtonBorderCornerRadius: 0.2rem;
    --sapUiButtonBackground: #f7f7f7;
    --sapUiButtonBorderColor: #ababab;
    --sapUiButtonTextColor: #346187;
    --sapUiButtonHoverBackground: #ebebeb;
    --sapUiButtonHoverBorderColor: #ababab;
    --sapUiButtonHoverTextColor: #346187;
    --sapUiButtonEmphasizedBackground: #5496cd;
    --sapUiButtonEmphasizedBorderColor: #418ac7;
    --sapUiButtonEmphasizedTextColor: #fff;
    --sapUiButtonRejectBackground: #f7f7f7;
    --sapUiButtonAcceptBackground: #f7f7f7;
    --sapUiFieldBorderWidth: 0.0625rem;
    --sapUiFieldBorderCornerRadius: 0;
    --sapUiFieldBackground: #ffffff;
    --sapUiFieldBorderColor: #bfbfbf;
    --sapUiFieldTextColor: #000;
    --sapUiFieldHelpBackground: #ffffff;
    --sapUiFieldHoverBackground: #ffffff;
    --sapUiFieldHoverBorderColor: #427cac;
    --sapUiFieldHoverHelpBackground: #427cac;
    --sapUiFieldFocusBackground: #ffffff;
    --sapUiFieldFocusBorderColor: #bfbfbf;
    --sapUiFieldFocusHelpBackground: #ffffff;
    --sapUiFieldReadOnlyBackground: rgba(242, 242, 242, 0.5);
    --sapUiFieldReadOnlyBorderColor: #cccccc;
    --sapUiFieldReadOnlyHelpBackground: rgba(242, 242, 242, 0.5);
    --sapUiFieldRequiredColor: #c14646;
    --sapUiFieldInvalidColor: #ee0000;
    --sapUiFieldInvalidBackground: #ffffff;
    --sapUiFieldWarningColor: #f9a429;
    --sapUiFieldWarningBackground: #ffffff;
    --sapUiFieldSuccessColor: #38a238;
    --sapUiFieldSuccessBackground: #ffffff;
    --sapUiFieldInformationColor: #427cac;
    --sapUiFieldInformationBackground: #ffffff;
    --sapUiGroupTitleBackground: transparent;
    --sapUiGroupTitleBorderColor: #cccccc;
    --sapUiGroupTitleTextColor: #333333;
    --sapUiGroupContentBackground: #ffffff;
    --sapUiGroupContentBorderColor: #ebebeb;
    --sapUiGroupBorderWidth: 0.0625rem;
    --sapUiGroupFooterBackground: transparent;
    --sapUiToolbarBackground: transparent;
    --sapUiToolbarSeparatorColor: rgba(63, 81, 97, 0.2);
    --sapUiListHeaderBackground: #f7f7f7;
    --sapUiListHeaderBorderColor: #e5e5e5;
    --sapUiListHeaderTextColor: #333333;
    --sapUiListBorderColor: #e5e5e5;
    --sapUiListBorderWidth: 0.0625rem;
    --sapUiListHighlightColor: #427cac;
    --sapUiListSelectionBackgroundColor: #e8eff6;
    --sapUiListBackground: #ffffff;
    --sapUiListHoverBackground: #f0f0f0;
    --sapUiScrollBarFaceColor: #b2b2b2;
    --sapUiScrollBarTrackColor: #ffffff;
    --sapUiScrollBarBorderColor: #b2b2b2;
    --sapUiScrollBarSymbolColor: #346187;
    --sapUiScrollBarDimension: 0.7rem;
    --sapUiScrollBarHoverFaceColor: #ababab;
    --sapUiPageHeaderBackground: #eff4f9;
    --sapUiPageHeaderBorderColor: #d1e0ee;
    --sapUiPageHeaderTextColor: #666666;
    --sapUiPageFooterBackground: #ffffff;
    --sapUiPageFooterTextColor: #333333;
    --sapUiInfobarBackground: #168282;
    --sapUiObjectHeaderBackground: #eff4f9;
    --sapUiBlockLayerBackground: #000;
    --sapUiTileBackground: #ffffff;
    --sapUiTileBorderColor: transparent;
    --sapUiTileTitleTextColor: #333333;
    --sapUiTileTextColor: #666666;
    --sapUiTileIconColor: #93b7d6;
    --sapUiChart1: #5899da;
    --sapUiChart2: #e8743b;
    --sapUiChart3: #19a979;
    --sapUiChart4: #ed4a7b;
    --sapUiChart5: #945ecf;
    --sapUiChart6: #13a4b4;
    --sapUiChart7: #525df4;
    --sapUiChart8: #bf399e;
    --sapUiChart9: #6c8893;
    --sapUiChart10: #ee6868;
    --sapUiChart11: #2f6497;
    --sapUiChartBad: #dc0d0e;
    --sapUiChartCritical: #de890d;
    --sapUiChartGood: #3fa45b;
    --sapUiChartNeutral: #848f94;
    --sapUiChartSequence1: #5899da;
    --sapUiChartSequence2: #e8743b;
    --sapUiChartSequence3: #19a979;
    --sapUiChartSequence4: #ed4a7b;
    --sapUiChartSequence5: #945ecf;
    --sapUiChartSequence6: #13a4b4;
    --sapUiChartSequence7: #525df4;
    --sapUiChartSequence8: #bf399e;
    --sapUiChartSequence9: #6c8893;
    --sapUiChartSequence10: #ee6868;
    --sapUiChartSequence11: #2f6497;
    --sapUiChartSequenceNeutral: #848f94;
    --sapUiContentGridSize: 1rem;
    --sapUiPrimary1: #3f5161;
    --sapUiPrimary2: #427cac;
    --sapUiPrimary3: #eff4f9;
    --sapUiPrimary4: #ffffff;
    --sapUiPrimary5: #fafafa;
    --sapUiPrimary6: #bfbfbf;
    --sapUiPrimary7: #333333;
    --sapUiAccent1: #e09d00;
    --sapUiAccent2: #e6600d;
    --sapUiAccent3: #c14646;
    --sapUiAccent4: #ab218e;
    --sapUiAccent5: #678bc7;
    --sapUiAccent6: #0092d1;
    --sapUiAccent7: #1a9898;
    --sapUiAccent8: #759421;
    --sapUiErrorBG: #ffe4e4;
    --sapUiWarningBG: #fef0db;
    --sapUiSuccessBG: #e4f5e4;
    --sapUiInformationBG: #ebf2f7;
    --sapUiNeutralBG: #f4f5f6;
    --sapUiErrorBorder: #ee0000;
    --sapUiWarningBorder: #f9a429;
    --sapUiSuccessBorder: #38a238;
    --sapUiInformationBorder: #427cac;
    --sapUiNeutralBorder: #5e696e;
    --sapUiNegativeElement: #bb0000;
    --sapUiCriticalElement: #e78c07;
    --sapUiPositiveElement: #2b7c2b;
    --sapUiInformativeElement: #427cac;
    --sapUiNeutralElement: #5e696e;
    --sapUiNegativeText: #bb0000;
    --sapUiCriticalText: #e78c07;
    --sapUiPositiveText: #2b7c2b;
    --sapUiInformativeText: #427cac;
    --sapUiNeutralText: #5e696e;
    --sapUiNegative: #bb0000;
    --sapUiCritical: #e78c07;
    --sapUiPositive: #2b7c2b;
    --sapUiInformative: #427cac;
    --sapUiNeutral: #5e696e;
    --sapUiIndication1: #880000;
    --sapUiIndication2: #bb0000;
    --sapUiIndication3: #e78c07;
    --sapUiIndication4: #2b7c2b;
    --sapUiIndication5: #427cac;
    --sapUiFontCondensedFamily: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
    --sapUiFontHeaderFamily: "72", "72full", Arial, Helvetica, sans-serif;
    --sapUiFontHeaderWeight: normal;
    --sapMFontHeader1Size: 1.625rem;
    --sapMFontHeader2Size: 1.375rem;
    --sapMFontHeader3Size: 1.25rem;
    --sapMFontHeader4Size: 1.125rem;
    --sapMFontHeader5Size: 1rem;
    --sapMFontHeader6Size: 0.875rem;
    --sapMFontSmallSize: 0.75rem;
    --sapMFontMediumSize: 0.875rem;
    --sapMFontLargeSize: 1rem;
    --sapUiTranslucentBGOpacity: 0;
    --sapMPlatformDependent: false;
    --sapUiDesktopFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
    --sapUiDesktopFontSize: 12px;
    --sapUiFontLargeSize: 13px;
    --sapUiFontSmallSize: 11px;
    --sapUiFontHeader1Size: 26px;
    --sapUiFontHeader2Size: 20px;
    --sapUiFontHeader3Size: 18px;
    --sapUiFontHeader4Size: 16px;
    --sapUiFontHeader5Size: 14px;
    --sapUiFontHeader6Size: 13px;
    --sapUiLineHeight: 18px;
    --sapUiChartLabelHoverColor: #ebebeb;
    --sapUiChartLabelPressedColor: #cccccc;
    --sapUiChartCategoryAxisLabelFontColor: #333333;
    --sapUiChartValueAxisLabelFontColor: #707070;
    --sapUiChartCategoryAxisLabelFontSize: 0.75rem;
    --sapUiChartValueAxisLabelFontSize: 0.75rem;
    --sapUiChartCategoryAxisLineColor: #cccccc;
    --sapUiChartValueAxisLineColor: #cccccc;
    --sapUiChartCategoryAxisTickColor: #cccccc;
    --sapUiChartValueAxisTickColor: #cccccc;
    --sapUiChartBackgroundColor: transparent;
    --sapUiChartLabelFontWeight: normal;
    --sapUiChartLegendLabelFontColor: #333333;
    --sapUiChartLegendTitleFontColor: #333333;
    --sapUiChartLegendTitleFontSize: 0.875rem;
    --sapUiChartLegendLabelFontSize: 0.75rem;
    --sapUiChartPaletteUndefinedColor: #000000;
    --sapUiChartGridlineColor: #e5e5e5;
    --sapUiChartReferenceLineColor: #333333;
    --sapUiChartDataLabelFontColor: #000000;
    --sapUiChartReferenceLineLabelColor: #fff;
    --sapUiChartDataLabelFontSize: 0.75rem;
    --sapUiChartPopoverDataItemFontColor: #000000;
    --sapUiChartPopoverGroupFontColor: #333333;
    --sapUiChartPopoverDataItemFontSize: 0.875rem;
    --sapUiChartPopoverGroupFontSize: 0.875rem;
    --sapUiChartPopoverGroupFontWeight: bold;
    --sapUiChartScrollBarThumbColor: #b2b2b2;
    --sapUiChartScrollBarTrackColor: #ffffff;
    --sapUiChartScrollBarThumbHoverColor: #ababab;
    --sapUiChartMainTitleFontColor: #333333;
    --sapUiChartAxisTitleFontColor: #333333;
    --sapUiChartMainTitleFontSize: 1rem;
    --sapUiChartAxisTitleFontSize: 0.75rem;
    --sapUiChartTitleFontWeight: bold;
    --sapUiChartAxisTitleFontWeight: regular;
    --sapUiChartLightText: #707070;
    --sapUiChartZeroAxisColor: #666666;
    --sapUiChartDataPointBorderColor: #ffffff;
    --sapUiChartDataPointBorderHoverSelectedColor: #666666;
    --sapUiChartDataPointNotSelectedBackgroundOpacity: 0.6;
    --sapUiChartValueAxisLineOpacity: 0;
    --sapUiChartCategoryAxisLabelFontHoverColor: #333333;
    --sapUiChartCategoryAxisLabelFontPressedColor: #333333;
    --sapUiChartTargetColor: #333333;
    --sapUiChartTargetShadowColor: #fff;
    --sapUiChartBubbleBGOpacity: 0.8;
    --sapUiChartScrollbarBorderColor: #f2f2f2;
    --sapUiChartScrollbarBorderSize: 0;
    --sapUiChartScrollbarThumbPadding: 0;
    --sapUiChartNegativeLargeText: #dc0d0e;
    --sapUiChartCriticalLargeText: #de890d;
    --sapUiChartPositiveLargeText: #3fa45b;
    --sapUiChartNeutralLargeText: #69767c;
    --sapUiChartDataPointBG: #d5dadc;
    --sapUiChartDataPointBGBorderColor: #d5dadc;
    --sapUiChartDataLineColorWithBG: #333333;
    --sapUiChartDataLineColor: #333333;
    --sapUiChartRadialRemainingCircle: #e3e6e7;
    --sapUiChartRadialRemainingCircleBorderColor: #e3e6e7;
    --sapUiChartRadialBG: #ffffff;
    --sapUiChartLegendHoverBackground: #f0f0f0;
    --sapUiChartLegendSelectionBackground: #e8eff6;
    --sapUiChartLegendSelectionHoverBackground: #dde8f1;
    --sapUiChartPaletteQualitativeHue1: #5899da;
    --sapUiChartPaletteQualitativeHue2: #e8743b;
    --sapUiChartPaletteQualitativeHue3: #19a979;
    --sapUiChartPaletteQualitativeHue4: #ed4a7b;
    --sapUiChartPaletteQualitativeHue5: #945ecf;
    --sapUiChartPaletteQualitativeHue6: #13a4b4;
    --sapUiChartPaletteQualitativeHue7: #525df4;
    --sapUiChartPaletteQualitativeHue8: #bf399e;
    --sapUiChartPaletteQualitativeHue9: #6c8893;
    --sapUiChartPaletteQualitativeHue10: #ee6868;
    --sapUiChartPaletteQualitativeHue11: #2f6497;
    --sapUiChartPaletteQualitativeHue12: #1866b4;
    --sapUiChartPaletteQualitativeHue13: #cc4300;
    --sapUiChartPaletteQualitativeHue14: #03734d;
    --sapUiChartPaletteQualitativeHue15: #d70947;
    --sapUiChartPaletteQualitativeHue16: #772acb;
    --sapUiChartPaletteQualitativeHue17: #087682;
    --sapUiChartPaletteQualitativeHue18: #2531d4;
    --sapUiChartPaletteQualitativeHue19: #921473;
    --sapUiChartPaletteQualitativeHue20: #3c6372;
    --sapUiChartPaletteQualitativeHue21: #d62f2f;
    --sapUiChartPaletteQualitativeHue22: #144b7f;
    --sapUiChartPaletteSemanticBadLight3: #f99494;
    --sapUiChartPaletteSemanticBadLight2: #f66364;
    --sapUiChartPaletteSemanticBadLight1: #f33334;
    --sapUiChartPaletteSemanticBad: #dc0d0e;
    --sapUiChartPaletteSemanticBadDark1: #b90c0d;
    --sapUiChartPaletteSemanticBadDark2: #930a0a;
    --sapUiChartPaletteSemanticCriticalLight3: #f8cc8c;
    --sapUiChartPaletteSemanticCriticalLight2: #f5b04d;
    --sapUiChartPaletteSemanticCriticalLight1: #f29b1d;
    --sapUiChartPaletteSemanticCritical: #de890d;
    --sapUiChartPaletteSemanticCriticalDark1: #c67a0c;
    --sapUiChartPaletteSemanticCriticalDark2: #a4650a;
    --sapUiChartPaletteSemanticGoodLight3: #a1dbb1;
    --sapUiChartPaletteSemanticGoodLight2: #71c989;
    --sapUiChartPaletteSemanticGoodLight1: #4cba6b;
    --sapUiChartPaletteSemanticGood: #3fa45b;
    --sapUiChartPaletteSemanticGoodDark1: #358a4d;
    --sapUiChartPaletteSemanticGoodDark2: #2a6d3c;
    --sapUiChartPaletteSemanticNeutralLight3: #d5dadc;
    --sapUiChartPaletteSemanticNeutralLight2: #bac1c4;
    --sapUiChartPaletteSemanticNeutralLight1: #9ea8ad;
    --sapUiChartPaletteSemanticNeutral: #848f94;
    --sapUiChartPaletteSemanticNeutralDark1: #69767c;
    --sapUiChartPaletteSemanticNeutralDark2: #596468;
    --sapUiChartPaletteSequentialHue1Light3: #b2d4f5;
    --sapUiChartPaletteSequentialHue1Light2: #93bfeb;
    --sapUiChartPaletteSequentialHue1Light1: #74abe2;
    --sapUiChartPaletteSequentialHue1: #5899da;
    --sapUiChartPaletteSequentialHue1Dark1: #367dc4;
    --sapUiChartPaletteSequentialHue1Dark2: #1866b4;
    --sapUiChartPaletteSequentialHue2Light3: #ffb18a;
    --sapUiChartPaletteSequentialHue2Light2: #f3b89b;
    --sapUiChartPaletteSequentialHue2Light1: #f08956;
    --sapUiChartPaletteSequentialHue2: #e8743b;
    --sapUiChartPaletteSequentialHue2Dark1: #da5a1b;
    --sapUiChartPaletteSequentialHue2Dark2: #cc4300;
    --sapUiChartPaletteSequentialHue3Light3: #8fd1bb;
    --sapUiChartPaletteSequentialHue3Light2: #66c2a3;
    --sapUiChartPaletteSequentialHue3Light1: #3fb68e;
    --sapUiChartPaletteSequentialHue3: #19a979;
    --sapUiChartPaletteSequentialHue3Dark1: #0e8c62;
    --sapUiChartPaletteSequentialHue3Dark2: #03734d;
    --sapUiChartPaletteSequentialHue4Light3: #f8b4c9;
    --sapUiChartPaletteSequentialHue4Light2: #f490ae;
    --sapUiChartPaletteSequentialHue4Light1: #f06a93;
    --sapUiChartPaletteSequentialHue4: #ed4a7b;
    --sapUiChartPaletteSequentialHue4Dark1: #e32b62;
    --sapUiChartPaletteSequentialHue4Dark2: #d70947;
    --sapUiChartPaletteSequentialHue5Light3: #d3bdeb;
    --sapUiChartPaletteSequentialHue5Light2: #be9de2;
    --sapUiChartPaletteSequentialHue5Light1: #a97dd8;
    --sapUiChartPaletteSequentialHue5: #945ecf;
    --sapUiChartPaletteSequentialHue5Dark1: #8746ce;
    --sapUiChartPaletteSequentialHue5Dark2: #772acb;
    --sapUiChartPaletteSequentialHue6Light3: #81d1da;
    --sapUiChartPaletteSequentialHue6Light2: #5ac2ce;
    --sapUiChartPaletteSequentialHue6Light1: #38b4c2;
    --sapUiChartPaletteSequentialHue6: #13a4b4;
    --sapUiChartPaletteSequentialHue6Dark1: #0d8d9c;
    --sapUiChartPaletteSequentialHue6Dark2: #087682;
    --sapUiChartPaletteSequentialHue7Light3: #99a0f9;
    --sapUiChartPaletteSequentialHue7Light2: #828af7;
    --sapUiChartPaletteSequentialHue7Light1: #6973f6;
    --sapUiChartPaletteSequentialHue7: #525df4;
    --sapUiChartPaletteSequentialHue7Dark1: #3945e4;
    --sapUiChartPaletteSequentialHue7Dark2: #2531d4;
    --sapUiChartPaletteSequentialHue8Light3: #e597d2;
    --sapUiChartPaletteSequentialHue8Light2: #d876c0;
    --sapUiChartPaletteSequentialHue8Light1: #cd59b1;
    --sapUiChartPaletteSequentialHue8: #bf399e;
    --sapUiChartPaletteSequentialHue8Dark1: #a92689;
    --sapUiChartPaletteSequentialHue8Dark2: #921473;
    --sapUiChartPaletteSequentialHue9Light3: #d1d9dc;
    --sapUiChartPaletteSequentialHue9Light2: #adbcc3;
    --sapUiChartPaletteSequentialHue9Light1: #8ca2ab;
    --sapUiChartPaletteSequentialHue9: #6c8893;
    --sapUiChartPaletteSequentialHue9Dark1: #547582;
    --sapUiChartPaletteSequentialHue9Dark2: #3c6372;
    --sapUiChartPaletteSequentialHue10Light3: #fccaca;
    --sapUiChartPaletteSequentialHue10Light2: #f8a6a6;
    --sapUiChartPaletteSequentialHue10Light1: #f38787;
    --sapUiChartPaletteSequentialHue10: #ee6868;
    --sapUiChartPaletteSequentialHue10Dark1: #e24c4c;
    --sapUiChartPaletteSequentialHue10Dark2: #d62f2f;
    --sapUiChartPaletteSequentialHue11Light3: #85a1bb;
    --sapUiChartPaletteSequentialHue11Light2: #698caf;
    --sapUiChartPaletteSequentialHue11Light1: #4d78a2;
    --sapUiChartPaletteSequentialHue11: #2f6497;
    --sapUiChartPaletteSequentialHue11Dark1: #245a8e;
    --sapUiChartPaletteSequentialHue11Dark2: #144b7f;
    --sapUiChartPaletteSequentialNeutralLight3: #d5dadc;
    --sapUiChartPaletteSequentialNeutralLight2: #bac1c4;
    --sapUiChartPaletteSequentialNeutralLight1: #9ea8ad;
    --sapUiChartPaletteSequentialNeutral: #848f94;
    --sapUiChartPaletteSequentialNeutralDark1: #69767c;
    --sapUiChartPaletteSequentialNeutralDark2: #596468;
    --sapUiChartPaletteNoSemDiv1Light3: #f3dec9;
    --sapUiChartPaletteNoSemDiv1Light2: #e3cbb3;
    --sapUiChartPaletteNoSemDiv1Light1: #c8ab8e;
    --sapUiChartPaletteNoSemDiv1: #b08e6d;
    --sapUiChartPaletteNoSemDiv1Dark1: #8e6c4b;
    --sapUiChartPaletteNoSemDiv1Dark2: #754f2a;
    --sapUiChartPaletteMidArea: #f2f2f2;
    --sapUiChoroplethBG: #f7f7f8;
    --sapUiChoroplethRegionBorder: #ffffff;
    --sapUiChoroplethRegionBG: #bac1c4;
    --sapUiMapLegendBG: #ffffff;
    --sapUiMapLegendBorderColor: #cccccc;
    --sapUiShellHoverBackground: #346187;
    --sapUiShellActiveBackground: #2a4f6d;
    --sapUiShellActiveTextColor: #ffffff;
    --sapUiShellHoverToggleBackground: #152736;
    --sapUiShellContainerBackground: #ffffff;
    --sapUiShellAltContainerBackground: #5e91c3;
    --sapUiShellGroupTextColor: #333333;
    --sapUiUx3ShellHeaderColor: transparent;
    --sapUiUx3ShellBackgroundColor: #eff4f9;
    --sapUiUx3ShellHoverColor: #787878;
    --sapUiUx3ShellGradientBottom: rgba(44, 44, 44, 0);
    --sapUiUx3ShellGradientTop: rgba(66, 108, 172, 0.03);
    --sapUiUx3ShellToolPaletteIconFontColor: #889eb1;
    --sapUiUx3ExactLstExpandOffset: -1 -2;
    --sapUiUx3ExactLstRootExpandOffset: 0 3;
    --sapUiUx3ExactLstContentTop: 25px;
    --sapUiLinkActive: #0070b1;
    --sapUiLinkVisited: #0070b1;
    --sapUiLinkHover: #0070b1;
    --sapUiLinkInverted: #7ed0ff;
    --sapUiNotificationBarBG: rgba(51, 51, 51, 0.98);
    --sapUiNotifierSeparator: #000000;
    --sapUiNotifierSeparatorWidth: 1px;
    --sapUiNotificationBarBorder: #666666;
    --sapUiUx3ToolPopupInverted: false;
    --sapUiUx3ToolPopupArrowRightMarginCorrection: -1px;
    --sapUiUx3ToolPopupShadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
    --sapUiCalloutShadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3);
    --sapUiButtonIconColor: #346187;
    --sapUiButtonActiveBackground: #427cac;
    --sapUiButtonActiveBorderColor: #427cac;
    --sapUiButtonActiveTextColor: #fff;
    --sapUiButtonEmphasizedHoverBackground: #418ac7;
    --sapUiButtonEmphasizedHoverBorderColor: #418ac7;
    --sapUiButtonEmphasizedActiveBackground: #427cac;
    --sapUiButtonEmphasizedActiveBorderColor: #427cac;
    --sapUiButtonEmphasizedTextShadow: #000;
    --sapUiButtonAcceptBorderColor: #2b7c2b;
    --sapUiButtonAcceptHoverBackground: #ebebeb;
    --sapUiButtonAcceptHoverBorderColor: #2b7c2b;
    --sapUiButtonAcceptActiveBackground: #2b7c2b;
    --sapUiButtonAcceptActiveBorderColor: #2b7c2b;
    --sapUiButtonAcceptTextColor: #2b7c2b;
    --sapUiButtonRejectBorderColor: #bb0000;
    --sapUiButtonRejectHoverBackground: #ebebeb;
    --sapUiButtonRejectHoverBorderColor: #bb0000;
    --sapUiButtonRejectActiveBackground: #bb0000;
    --sapUiButtonRejectActiveBorderColor: #bb0000;
    --sapUiButtonRejectTextColor: #bb0000;
    --sapUiButtonLiteBackground: transparent;
    --sapUiButtonLiteBorderColor: transparent;
    --sapUiButtonLiteTextColor: #346187;
    --sapUiButtonLiteHoverBackground: rgba(179, 179, 179, 0.5);
    --sapUiButtonLiteHoverBorderColor: rgba(179, 179, 179, 0.5);
    --sapUiButtonLiteActiveBackground: #427cac;
    --sapUiButtonLiteActiveBorderColor: #427cac;
    --sapUiButtonHeaderTextColor: #346187;
    --sapUiButtonHeaderDisabledTextColor: #346187;
    --sapUiButtonFooterTextColor: #346187;
    --sapUiButtonFooterHoverBackground: rgba(179, 179, 179, 0.5);
    --sapUiButtonActionSelectBackground: #ffffff;
    --sapUiButtonActionSelectBorderColor: #e5e5e5;
    --sapUiButtonLiteActionSelectHoverBackground: #f0f0f0;
    --sapUiToggleButtonPressedBackground: #346187;
    --sapUiToggleButtonPressedBorderColor: #2d5475;
    --sapUiToggleButtonPressedTextColor: #fff;
    --sapUiToggleButtonPressedHoverBackground: #427cac;
    --sapUiToggleButtonPressedHoverBorderColor: #427cac;
    --sapUiSegmentedButtonBackground: #ffffff;
    --sapUiSegmentedButtonBorderColor: #bfbfbf;
    --sapUiSegmentedButtonTextColor: #346187;
    --sapUiSegmentedButtonHoverBackground: #ebebeb;
    --sapUiSegmentedButtonActiveBackground: #427cac;
    --sapUiSegmentedButtonActiveTextColor: #fff;
    --sapUiSegmentedButtonSelectedBackground: #346187;
    --sapUiSegmentedButtonSelectedTextColor: #fff;
    --sapUiSegmentedButtonSelectedHoverBackground: #427cac;
    --sapUiSegmentedButtonSelectedHoverBorderColor: #427cac;
    --sapUiSegmentedButtonIconColor: #346187;
    --sapUiSegmentedButtonActiveIconColor: #fff;
    --sapUiSegmentedButtonSelectedIconColor: #fff;
    --sapUiSegmentedButtonFooterBorderColor: #bfbfbf;
    --sapUiSegmentedButtonFooterHoverBackground: #ebebeb;
    --sapUiFieldActiveBackground: #427cac;
    --sapUiFieldActiveBorderColor: #427cac;
    --sapUiFieldActiveTextColor: #fff;
    --sapUiFieldPlaceholderTextColor: #757575;
    --sapUiListTextColor: #333333;
    --sapUiListVerticalBorderColor: #dddddd;
    --sapUiListActiveBackground: #427cac;
    --sapUiListActiveTextColor: #fff;
    --sapUiListSelectionHoverBackground: #dde8f1;
    --sapUiListFooterBackground: #ceddec;
    --sapUiListFooterTextColor: #333333;
    --sapUiListGroupHeaderBackground: #ffffff;
    --sapUiListTableGroupHeaderBackground: #f2f2f2;
    --sapUiListTableGroupHeaderBorderColor: #cccccc;
    --sapUiListTableGroupHeaderTextColor: #147575;
    --sapUiListTableFooterBorder: #cccccc;
    --sapUiListTableFixedBorder: #999999;
    --sapUiListTableTextSize: 0.875rem;
    --sapUiListTableIconSize: 1rem;
    --sapUiPageFooterBorderColor: #ebebeb;
    --sapUiInfobarHoverBackground: #147575;
    --sapUiInfobarActiveBackground: #427cac;
    --sapUiObjectHeaderBorderColor: #d1e0ee;
    --sapUiCalendarColorToday: #ab218e;
    --sapUiDragAndDropColor: #878787;
    --sapUiDragAndDropBackground: #ffffff;
    --sapUiDragAndDropBorderColor: #bfbfbf;
    --sapUiDragAndDropActiveColor: #0070b1;
    --sapUiDragAndDropActiveBackground: rgba(0, 112, 177, 0.05);
    --sapUiDragAndDropActiveBorderColor: #0070b1;
    --sapUiShadowLevel0: 0 0 0 1px rgba(0, 0, 0, 0.15);
    --sapUiShadowLevel1: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
    --sapUiShadowLevel2: 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
    --sapUiShadowLevel3: 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
    --sapUiShadowText: 0 0 0.125rem #fff;
    --sapUiShadowHeader: 0 0.125rem 0 0 #eff4f9, inset 0 -0.125rem 0 0 #d1e0ee;
    --sapUiUx3ShellHeaderImageURL: ;
    --sapUiUx3ShellApplicationImageURL: none;
}