ui5-carousel::part(content) {
    padding-block: 0.75rem;
}

ui5-card {
    min-width: 18rem;
}

ui5-card ui5-list:last-child {
    margin-block-end: 0.75rem;
}

ui5-li::part(icon) {
    padding-inline-end: 0;
}