//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type


::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

p:not(.style-scope),
h1:not(.style-scope),
h2:not(.style-scope),
h3:not(.style-scope),
h4:not(.style-scope),
h5:not(.style-scope),
h6:not(.style-scope),
ol:not(.style-scope),
ul:not(.style-scope),
pre:not(.style-scope),
address:not(.style-scope),
blockquote:not(.style-scope),
dl:not(.style-scope),
div:not(.style-scope),
fieldset:not(.style-scope),
form:not(.style-scope),
hr:not(.style-scope),
noscript:not(.style-scope),
table:not(.style-scope) {
  margin-top: 0;
}

h1:not(.style-scope),
h2:not(.style-scope),
h3:not(.style-scope),
h4:not(.style-scope),
h5:not(.style-scope),
h6:not(.style-scope) {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}

p:not(.style-scope) {
  margin-bottom: 1em;
}

a {
  color: #4A90E2;
  text-decoration: none;
}

a:not([class]):not(.style-scope) {
  text-decoration: none;
  background-image: linear-gradient($border-color 0%, $border-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
    background-size: 1px 1px;

  }
}

code:not(.style-scope) {
  font-family: $mono-font-family;
  font-size: 14px;
  line-height: $body-line-height;
}

figure:not(.style-scope) {
  margin: 0;
}

li:not(.style-scope) {
  margin: 0.25em 0;
}

img:not(.style-scope):not([slot]) {
  max-width: 100%;
  height: auto;
}

hr:not(.style-scope) {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}
