//
// Search input and autocomplete
//

.search {
  width: 320px;
  position: relative;
  z-index: 99;
  display: none;
  padding: $sp-2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 3px 10px rgba(0, 0, 0, 0.05);

  @include mq(md) {
    display: block;
    padding-top: $sp-1;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: none;
  }

  &.nav-open {
    display: block;
  }
}

@media only screen and (max-width: 740px) {
  .heading {
    display: none;
  }

  .search {
    display: block;
    width: 200px;
  }
}

.search-results-wrap {
  display: none;

  &.active {
    position: absolute;
    top: $sp-1;
    z-index: 100;
    display: block;
    width: 300px;
    margin-top: $gutter-spacing;
    background: lighten($body-background-color, 1%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
  }
}

.search-input-wrap {
  display: flex;
  padding: 0 0.4rem;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 4px;
}


.search-input {
  width: 100%;
  padding-top: $sp-1;
  padding-bottom: $sp-1;
  background-color: #000;
  color: #fff;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  order: 2;

  &:focus {
    outline: 0;
    box-shadow: none;

    + .search-icon {
      fill: #fff;
    }
  }

  &:focus::-webkit-input-placeholder { /* Edge */
    color: #fff
  }
  
  &:focus::placeholder {
    color: #fff
  }

  @include fs-5;

  @include mq(sm) {
    @include fs-3;
  }

  @include mq(md) {
    @include fs-2;
  }
}

.search-icon {
  align-self: center;
  margin-right: $sp-2;
  fill: $grey-dk-000;
  order: 1;
}

.search-results-list {
  padding-left: 0;
  margin-top: $sp-1;
  margin-bottom: $sp-1;
  list-style: none;
  @include fs-3;
}

.search-results-list-item {
  padding: 0;
  margin: 0;

  * {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.search-results-link {
  display: flex;
  flex-direction: column;
  padding-top: $sp-1;
  padding-right: $sp-3;
  padding-bottom: $sp-1;
  padding-left: $sp-3;
  color: $body-heading-color;
  
  &:hover {
    color: #4A90E2;
    background-color: darken($body-background-color, 2%);
  }
}
