:host(:not([hidden])) {
	display: inline-block;
	box-sizing: border-box;
}

:host {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	outline: none;
}

/* Shapes */
:host([shape="Square"]) {
	border-radius: 0.25rem;
}

:host([shape="Square"]) .ui5-avatar-root {
	border-radius: 0.25rem;
}

:host([shape="Square"]) .ui5-avatar-img {
	border-radius: 0.25rem;
}

/* Sizes */

:host([size="XS"]) {
	height: 2rem;
	width: 2rem;
}

:host([size="S"]) {
	height: 3rem;
	width: 3rem;
}

:host([size="M"]) {
	height: 4rem;
	width: 4rem;
}

:host([size="L"]) {
	height: 5rem;
	width: 5rem;
}

:host([size="XL"]) {
	height: 7rem;
	width: 7rem;
}

/* Icon */
:host .ui5-avatar-icon {
	height: 1.5rem;
	width: 1.5rem;
}

:host([size="XS"]) .ui5-avatar-icon {
	height: 1rem;
	width: 1rem;
}

:host([size="S"]) .ui5-avatar-icon {
	height: 1.5rem;
	width: 1.5rem;
}

:host([size="M"]) .ui5-avatar-icon {
	height: 2rem;
	width: 2rem;
}

:host([size="L"]) .ui5-avatar-icon {
	height: 2.5rem;
	width: 2.5rem;
}

:host([size="XL"]) .ui5-avatar-icon {
	height: 3rem;
	width: 3rem;
}

:host(:not([img])) {
	background-color: var(--sapAccentColor6);
}

:host(:not([img])) .ui5-avatar-icon {
	color: var(--sapContent_ImagePlaceholderForegroundColor);
}

.ui5-avatar-root {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui5-avatar-root,
.ui5-avatar-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
