:host(:not([hidden])) {
	display: inline-block;
	box-sizing: border-box;
}

:host(:not([hidden]).ui5_hovered) {
	opacity: .7;
}

:host {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	outline: none;
	color: var(--sapContent_ImagePlaceholderForegroundColor);
}

/* Shapes */
:host([shape="Square"]) {
	border-radius: .25rem;
}

:host([shape="Square"]) .ui5-avatar-root {
	border-radius: .25rem;
}

:host([shape="Square"]) .ui5-avatar-img {
	border-radius: .25rem;
}

/* Sizes */

:host([size="XS"]) {
	height: 2rem;
	width: 2rem;
	font-size: .75rem;
}

:host([size="S"]) {
	height: 3rem;
	width: 3rem;
	font-size: 1.125rem;
}

:host([size="M"]) {
	height: 4rem;
	width: 4rem;
	font-size: 1.625rem;
}

:host([size="L"]) {
	height: 5rem;
	width: 5rem;
	font-size: 2rem;
}

:host([size="XL"]) {
	height: 7rem;
	width: 7rem;
	font-size: 2.75rem;
}

/* Icon */
:host .ui5-avatar-icon {
	height: 1.5rem;
	width: 1.5rem;
}

:host([size="XS"]) .ui5-avatar-icon {
	height: 1rem;
	width: 1rem;
}

:host([size="S"]) .ui5-avatar-icon {
	height: 1.5rem;
	width: 1.5rem;
}

:host([size="M"]) .ui5-avatar-icon {
	height: 2rem;
	width: 2rem;
}

:host([size="L"]) .ui5-avatar-icon {
	height: 2.5rem;
	width: 2.5rem;
}

:host([size="XL"]) .ui5-avatar-icon {
	height: 3rem;
	width: 3rem;
}

:host(:not([image])) {
	background-color: var(--sapAccentColor6);
}

:host([background-color="Accent1"]) {
	background-color: var(--sapAccentColor1);
}

:host([background-color="Accent2"]) {
	background-color: var(--sapAccentColor2);
}

:host([background-color="Accent3"]) {
	background-color: var(--sapAccentColor3);
}

:host([background-color="Accent4"]) {
	background-color: var(--sapAccentColor4);
}

:host([background-color="Accent5"]) {
	background-color: var(--sapAccentColor5);
}

:host([background-color="Accent6"]) {
	background-color: var(--sapAccentColor6);
}

:host([background-color="Accent7"]) {
	background-color: var(--sapAccentColor7);
}

:host([background-color="Accent8"]) {
	background-color: var(--sapAccentColor8);
}

:host([background-color="Accent9"]) {
	background-color: var(--sapAccentColor9);
}

:host([background-color="Accent10"]) {
	background-color: var(--sapAccentColor10);
}

:host([background-color="Placeholder"]) {
	background-color: var(--sapContent_ImagePlaceholderBackground);
}

:host(:not([image])) .ui5-avatar-icon {
	color: inherit;
}

:host([image-fit-type="Contain"]) .ui5-avatar-img {
	background-size: contain;
}

.ui5-avatar-root {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui5-avatar-root,
.ui5-avatar-img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.ui5-avatar-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.ui5-avatar-initials {
	color: inherit;
}