@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
}

.ui5-badge-root {
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--_ui5-badge-height);
	min-width: 1.125em;
	max-width: 100%;
	box-sizing: border-box;
	padding: 0 var(--_ui5-badge-padding-inline);
	border: var(--_ui5-badge-border);
	border-radius: var(--_ui5-badge-border-radius);
	font-family: var(--_ui5-badge-font);
	font-weight: var(--_ui5-badge-font-weight);
	text-align: center;
	letter-spacing: var(--_ui5-badge-letter-spacing);
	white-space: nowrap;
}

:host([interactive]) .ui5-badge-root {
	cursor: pointer;
	font-size: inherit;
}

:host([interactive]) .ui5-badge-root:focus {
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: 1px;
}

:host([wrapping-type="Normal"]) {
	line-height: 0;
}

:host([wrapping-type="Normal"]) .ui5-badge-root {
	height: auto;
	display: inline-block;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	text-align: left;
}

:host([wrapping-type="Normal"]) ::slotted([ui5-icon]) {
	height: var(--_ui5-badge-height);
	min-height: var(--_ui5-badge-height);
	vertical-align: bottom;
}

:host([wrapping-type="Normal"]) .ui5-badge-root .ui5-badge-text {
	line-height: var(--_ui5-badge-height);
	vertical-align: center;
	white-space: normal;
}

.ui5-badge-text {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-weight: inherit;
	text-overflow: ellipsis;
	text-transform: var(--_ui5-badge-text-transform);
	letter-spacing: inherit;
	font-size: var(--_ui5-badge-font-size);
	pointer-events: none;
}

:host([_icon-only]) {
	padding-inline: var(--_ui5-badge-padding-inline-icon-only);
}

[ui5-icon],
::slotted([ui5-icon]) {
	width: 0.75em;
	height: 0.75em;
	min-width: 0.75em;
	min-height: 0.75em;
	color: inherit;
	pointer-events: none;
}

:host([_has-icon]) .ui5-badge-text {
	padding-inline-start: var(--_ui5-badge-icon-gap);
}

/* Color Scheme Design Type */

/* Scheme 1 */
.ui5-badge-root,
:host([color-scheme="1"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-1-background);
	border-color: var(--ui5-badge-color-scheme-1-border);
	color: var(--ui5-badge-color-scheme-1-color);
}

/* Scheme 2 */
:host([color-scheme="2"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-2-background);
	border-color: var(--ui5-badge-color-scheme-2-border);
	color: var(--ui5-badge-color-scheme-2-color);
}

/* Scheme 3 */
:host([color-scheme="3"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-3-background);
	border-color: var(--ui5-badge-color-scheme-3-border);
	color: var(--ui5-badge-color-scheme-3-color);
}

/* Scheme 4 */
:host([color-scheme="4"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-4-background);
	border-color: var(--ui5-badge-color-scheme-4-border);
	color: var(--ui5-badge-color-scheme-4-color);
}

/* Scheme 5 */
:host([color-scheme="5"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-5-background);
	border-color: var(--ui5-badge-color-scheme-5-border);
	color: var(--ui5-badge-color-scheme-5-color);
}

/* Scheme 6 */
:host([color-scheme="6"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-6-background);
	border-color: var(--ui5-badge-color-scheme-6-border);
	color: var(--ui5-badge-color-scheme-6-color);
}

/* Scheme 7 */
:host([color-scheme="7"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-7-background);
	border-color: var(--ui5-badge-color-scheme-7-border);
	color: var(--ui5-badge-color-scheme-7-color);
}

/* Scheme 8 */
:host([color-scheme="8"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-8-background);
	border-color: var(--ui5-badge-color-scheme-8-border);
	color: var(--ui5-badge-color-scheme-8-color);
}

/* Scheme 9 */
:host([color-scheme="9"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-9-background);
	border-color: var(--ui5-badge-color-scheme-9-border);
	color: var(--ui5-badge-color-scheme-9-color);
}

/* Scheme 10 */
:host([color-scheme="10"]) .ui5-badge-root {
	background-color: var(--ui5-badge-color-scheme-10-background);
	border-color: var(--ui5-badge-color-scheme-10-border);
	color: var(--ui5-badge-color-scheme-10-color);
}

/* Value State Design Type */

:host([design="Neutral"]) .ui5-badge-root,
:host([design="Information"]) .ui5-badge-root,
:host([design="Positive"]) .ui5-badge-root,
:host([design="Negative"]) .ui5-badge-root,
:host([design="Critical"]) .ui5-badge-root {
	/*border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);*/
}

:host([design="Neutral"]) .ui5-badge-root {
	background-color: var(--sapNeutralBackground);
	border-color: var(--sapNeutralBorderColor);
	color: var(--sapTextColor);
}

:host([interactive]):host([design="Neutral"]) .ui5-badge-root:hover {
	background-color: var(--sapButton_Neutral_Hover_Background);
	border-color: var(--sapButton_Neutral_Hover_BorderColor);
	color: var(--sapButton_Neutral_Hover_TextColor);
}

:host([interactive]):host([design="Neutral"]) .ui5-badge-root:active {
	background-color: var(--sapButton_Neutral_Active_Background);
	border-color: var(--sapButton_Neutral_Active_BorderColor);
	color: var(--sapButton_Active_TextColor);
}

:host([design="Positive"]) .ui5-badge-root {
	background-color: var(--sapButton_Success_Background);
	border-color: var(--sapButton_Success_BorderColor);
	color: var(--sapButton_Success_TextColor);
}

:host([interactive]):host([design="Positive"]) .ui5-badge-root:hover {
	background-color: var(--sapButton_Success_Hover_Background);
	border-color: var(--sapButton_Success_Hover_BorderColor);
	color: var(--sapButton_Success_Hover_TextColor);
}

:host([interactive]):host([design="Positive"]) .ui5-badge-root:active {
	background-color: var(--sapButton_Success_Active_Background);
	border-color: var(--sapButton_Success_Active_BorderColor);
	color: var(--sapButton_Accept_Selected_TextColor);
}

:host([design="Negative"]) .ui5-badge-root {
	background-color: var(--sapButton_Negative_Background);
	border-color: var(--sapButton_Negative_BorderColor);
	color: var(--sapButton_Negative_TextColor);
}

:host([interactive]):host([design="Negative"]) .ui5-badge-root:hover {
	background-color: var(--sapButton_Negative_Hover_Background);
	border-color: var(--sapButton_Negative_Hover_BorderColor);
	color: var(--sapButton_Negative_Hover_TextColor);
}

:host([interactive]):host([design="Negative"]) .ui5-badge-root:active {
	background-color: var(--sapButton_Negative_Active_Background);
	border-color: var(--sapButton_Negative_Active_BorderColor);
	color: var(--sapButton_Reject_Selected_TextColor);
}

:host([design="Critical"]) .ui5-badge-root {
	background-color: var(--sapButton_Critical_Background);
	border-color: var(--sapButton_Critical_BorderColor);
	color: var(--sapButton_Critical_TextColor);
}

:host([interactive]):host([design="Critical"]) .ui5-badge-root:hover {
	background-color: var(--sapButton_Critical_Hover_Background);
	border-color: var(--sapButton_Critical_Hover_BorderColor);
	color: var(--sapButton_Critical_Hover_TextColor);
}

:host([interactive]):host([design="Critical"]) .ui5-badge-root:active {
	background-color: var(--sapButton_Critical_Active_Background);
	border-color: var(--sapButton_Critical_Active_BorderColor);
	color: var(--sapButton_Attention_Selected_TextColor);
}

:host([design="Information"]) .ui5-badge-root {
	background-color: var(--sapButton_Information_Background);
	border-color: var(--sapButton_Information_BorderColor);
	color: var(--sapButton_Information_TextColor);
}

:host([interactive]):host([design="Information"]) .ui5-badge-root:hover {
	background-color: var(--sapButton_Information_Hover_Background);
	border-color: var(--sapButton_Information_Hover_BorderColor);
	color: var(--sapButton_Information_Hover_TextColor);
}

:host([interactive]):host([design="Information"]) .ui5-badge-root:active {
	background-color: var(--sapButton_Information_Active_Background);
	border-color: var(--sapButton_Information_Active_BorderColor);
	color: var(--sapButton_Selected_TextColor);
}

/* Set2 Design Type */

:host([design="Set2"]) .ui5-badge-root,
:host([design="Set2"]):host([color-scheme="1"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_1_Background);
	border-color: var(--sapIndicationColor_1_BorderColor);
	color: var(--sapIndicationColor_1_TextColor);
}

:host([interactive]):host([design="Set2"]) .ui5-badge-root:hover,
:host([interactive]):host([design="Set2"]):host([color-scheme="1"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_1_Hover_Background);
}

:host([interactive]):host([design="Set2"]) .ui5-badge-root:active,
:host([interactive]):host([design="Set2"]):host([color-scheme="1"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_1_Active_Background);
	border-color: var(--sapIndicationColor_1_Active_BorderColor);
	color: var(--sapIndicationColor_1_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="2"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_2_Background);
	border-color: var(--sapIndicationColor_2_BorderColor);
	color: var(--sapIndicationColor_2_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="2"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_2_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="2"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_2_Active_Background);
	border-color: var(--sapIndicationColor_2_Active_BorderColor);
	color: var(--sapIndicationColor_2_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="3"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_3_Background);
	border-color: var(--sapIndicationColor_3_BorderColor);
	color: var(--sapIndicationColor_3_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="3"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_3_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="3"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_3_Active_Background);
	border-color: var(--sapIndicationColor_3_Active_BorderColor);
	color: var(--sapIndicationColor_3_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="4"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_4_Background);
	border-color: var(--sapIndicationColor_4_BorderColor);
	color: var(--sapIndicationColor_4_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="4"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_4_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="4"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_4_Active_Background);
	border-color: var(--sapIndicationColor_4_Active_BorderColor);
	color: var(--sapIndicationColor_4_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="5"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_5_Background);
	border-color: var(--sapIndicationColor_5_BorderColor);
	color: var(--sapIndicationColor_5_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="5"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_5_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="5"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_5_Active_Background);
	border-color: var(--sapIndicationColor_5_Active_BorderColor);
	color: var(--sapIndicationColor_5_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="6"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_6_Background);
	border-color: var(--sapIndicationColor_6_BorderColor);
	color: var(--sapIndicationColor_6_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="6"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_6_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="6"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_6_Active_Background);
	border-color: var(--sapIndicationColor_6_Active_BorderColor);
	color: var(--sapIndicationColor_6_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="7"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_7_Background);
	border-color: var(--sapIndicationColor_7_BorderColor);
	color: var(--sapIndicationColor_7_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="7"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_7_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="7"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_7_Active_Background);
	border-color: var(--sapIndicationColor_7_Active_BorderColor);
	color: var(--sapIndicationColor_7_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="8"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_8_Background);
	border-color: var(--sapIndicationColor_8_BorderColor);
	color: var(--sapIndicationColor_8_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="8"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_8_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="8"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_8_Active_Background);
	border-color: var(--sapIndicationColor_8_Active_BorderColor);
	color: var(--sapIndicationColor_8_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="9"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_9_Background);
	border-color: var(--sapIndicationColor_9_BorderColor);
	color: var(--sapIndicationColor_9_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="9"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_9_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="9"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_9_Active_Background);
	border-color: var(--sapIndicationColor_9_Active_BorderColor);
	color: var(--sapIndicationColor_9_Active_TextColor);
}

:host([design="Set2"]):host([color-scheme="10"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_10_Background);
	border-color: var(--sapIndicationColor_10_BorderColor);
	color: var(--sapIndicationColor_10_TextColor);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="10"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_10_Hover_Background);
}

:host([interactive]):host([design="Set2"]):host([color-scheme="10"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_10_Active_Background);
	border-color: var(--sapIndicationColor_10_Active_BorderColor);
	color: var(--sapIndicationColor_10_Active_TextColor);
}

/* Set3 Design Type */

:host([design="Set3"]) .ui5-badge-root {
	text-shadow: var(--sapContent_TextShadow);
}

:host([design="Set3"]) .ui5-badge-root,
:host([design="Set3"]):host([color-scheme="1"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_1b);
	border-color: var(--sapIndicationColor_1b_BorderColor);
	color: var(--sapIndicationColor_1);
}

:host([interactive]):host([design="Set3"]) .ui5-badge-root:hover,
:host([interactive]):host([design="Set3"]):host([color-scheme="1"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_1b_Hover_Background);
}

:host([interactive]):host([design="Set3"]) .ui5-badge-root:active,
:host([interactive]):host([design="Set3"]):host([color-scheme="1"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_1_Active_Background);
	border-color: var(--sapIndicationColor_1_Active_BorderColor);
	color: var(--sapIndicationColor_1_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="2"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_2b);
	border-color: var(--sapIndicationColor_2b_BorderColor);
	color: var(--sapIndicationColor_2);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="2"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_2b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="2"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_2_Active_Background);
	border-color: var(--sapIndicationColor_2_Active_BorderColor);
	color: var(--sapIndicationColor_2_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="3"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_3b);
	border-color: var(--sapIndicationColor_3b_BorderColor);
	color: var(--sapIndicationColor_3);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="3"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_3b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="3"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_3_Active_Background);
	border-color: var(--sapIndicationColor_3_Active_BorderColor);
	color: var(--sapIndicationColor_3_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="4"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_4b);
	border-color: var(--sapIndicationColor_4b_BorderColor);
	color: var(--sapIndicationColor_4);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="4"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_4b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="4"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_4_Active_Background);
	border-color: var(--sapIndicationColor_4_Active_BorderColor);
	color: var(--sapIndicationColor_4_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="5"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_5b);
	border-color: var(--sapIndicationColor_5b_BorderColor);
	color: var(--sapIndicationColor_5);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="5"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_5b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="5"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_5_Active_Background);
	border-color: var(--sapIndicationColor_5_Active_BorderColor);
	color: var(--sapIndicationColor_5_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="6"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_6b);
	border-color: var(--sapIndicationColor_6b_BorderColor);
	color: var(--sapIndicationColor_6);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="6"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_6b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="6"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_6_Active_Background);
	border-color: var(--sapIndicationColor_6_Active_BorderColor);
	color: var(--sapIndicationColor_6_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="7"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_7b);
	border-color: var(--sapIndicationColor_7b_BorderColor);
	color: var(--sapIndicationColor_7);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="7"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_7b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="7"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_7_Active_Background);
	border-color: var(--sapIndicationColor_7_Active_BorderColor);
	color: var(--sapIndicationColor_7_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="8"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_8b);
	border-color: var(--sapIndicationColor_8b_BorderColor);
	color: var(--sapIndicationColor_8);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="8"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_8b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="8"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_8_Active_Background);
	border-color: var(--sapIndicationColor_8_Active_BorderColor);
	color: var(--sapIndicationColor_8_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="9"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_9b);
	border-color: var(--sapIndicationColor_9b_BorderColor);
	color: var(--sapIndicationColor_9);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="9"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_9b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="9"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_9_Active_Background);
	border-color: var(--sapIndicationColor_9_Active_BorderColor);
	color: var(--sapIndicationColor_9_Active_TextColor);
}

:host([design="Set3"]):host([color-scheme="10"]) .ui5-badge-root {
	background-color: var(--sapIndicationColor_10b);
	border-color: var(--sapIndicationColor_10b_BorderColor);
	color: var(--sapIndicationColor_10);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="10"]) .ui5-badge-root:hover {
	background-color: var(--sapIndicationColor_10b_Hover_Background);
}

:host([interactive]):host([design="Set3"]):host([color-scheme="10"]) .ui5-badge-root:active {
	background-color: var(--sapIndicationColor_10_Active_Background);
	border-color: var(--sapIndicationColor_10_Active_BorderColor);
	color: var(--sapIndicationColor_10_Active_TextColor);
}

/* ---Slotted Badges--- */
/* [ui5-avatar] - Badge icon styles */
/* Make icon take full width minus padding.
 [ui5-avatar] is the only component using an icon for badge,
 therefore no additional scoping is needed. */
:host([slot="badge"]) ::slotted([ui5-icon][slot="icon"]) {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
}