@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
	height: 1.125em;
	min-width: 1.125em;
	max-width: 100%;
	padding: 0 0.625em;
	color: var(--sapTextColor);
	background: var(--sapLegendBackgroundColor1);
	border: solid 1px var(--sapLegendColor1);
	border-radius: 1.125em;
	box-sizing: border-box;
	font-family: var(--sapFontFamily);
	text-align: center;
}

/* Bagde with Icon */
:host([__has-icon]) {
	padding: 0 0.3125em;
}

::slotted([ui5-tag="ui5-icon"]) {
	width: .75em;
	height: .75em;
}

/* IE 11 specific selector */
[ui5-tag="ui5-badge"] [ui5-tag="ui5-icon"][slot="icon"] {
	display: flex;
}

:host([__has-icon]) .ui5-badge-text {
	padding-left: 0.1875em;
}

/* RTL */
:host([__has-icon]) .ui5-badge-root[rtl] .ui5-badge-text {
	padding-right: 0.1875em;
}

/* Scheme 1 */
:host([color-scheme="1"]) {
	background-color: var(--sapLegendBackgroundColor1);
	border-color: var(--sapLegendColor1);
}

/* Scheme 2 */
:host([color-scheme="2"]) {
	background-color: var(--sapLegendBackgroundColor2);
	border-color: var(--sapLegendColor2);
}

/* Scheme 3 */
:host([color-scheme="3"]) {
	background-color: var(--sapLegendBackgroundColor3);
	border-color: var(--sapLegendColor3);
}

/* Scheme 4 */
:host([color-scheme="4"]) {
	background-color: var(--sapLegendBackgroundColor4);
	border-color: var(--sapLegendColor4);
}

/* Scheme 5 */
:host([color-scheme="5"]) {
	background-color: var(--sapLegendBackgroundColor5);
	border-color: var(--sapLegendColor5);
}

/* Scheme 6 */
:host([color-scheme="6"]) {
	background-color: var(--sapLegendBackgroundColor6);
	border-color: var(--sapLegendColor6);
}

/* Scheme 7 */
:host([color-scheme="7"]) {
	background-color: var(--sapLegendBackgroundColor7);
	border-color: var(--sapLegendColor7);
}

/* Scheme 8 */
:host([color-scheme="8"]) {
	background-color: var(--sapLegendBackgroundColor8);
	border-color: var(--sapLegendColor8);
}

/* Scheme 9 */
:host([color-scheme="9"]) {
	background-color: var(--sapLegendBackgroundColor9);
	border-color: var(--sapLegendColor9);
}

/* Scheme 10 */
:host([color-scheme="10"]) {
	background-color: var(--sapLegendBackgroundColor10);
	border-color: var(--sapLegendColor10);
}

.ui5-badge-root {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.ui5-badge-text {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: uppercase;
	letter-spacing: 0.0125em;
	font-size: var(--ui5-badge-font-size); /* origin from --sapFontSmallSize (0.75rem) */
}
