:host {
	background-color: var( --sapPageHeader_Background);
	height: var(--_ui5_bar_base_height);
	width: 100%;
}

.ui5-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	width: inherit;
	background-color: inherit;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.ui5-bar .ui5-bar-leftcontent-container {
	padding-left: 0.5rem;
}

.ui5-bar .ui5-bar-rightcontent-container {
	padding-right: 0.5rem;
}
.ui5-bar .ui5-bar-midcontent-container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.ui5-bar.ui5-bar-design-bottomborder{
	background-color: var(--sapPageHeader_Background);
	box-shadow: inset 0 -0.0625rem var(--sapPageFooter_BorderColor);
}

.ui5-bar.ui5-bar-design-topborder{
	background-color: var(--sapPageFooter_Background);
	border-top: 0.0625rem solid var(--sapPageFooter_BorderColor);
}

.ui5-bar.ui5-bar-design-allborders{
	border-radius: var(--sapElement_BorderCornerRadius);
	background-color: var(--sapPageFooter_Background);
	box-shadow: var(--sapContent_Shadow1);
	border: none;
}

::slotted([slot="middleContent"]),
::slotted([slot="endContent"]),
::slotted([slot="startContent"]){
	display: flex;
	align-items: center;
}