:host([visible]) {
	display: inline-block;
}

:host {
  display: none;
  position: absolute;
	background-color: #000000;
	opacity: 0.6;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	outline: 0 none;
	z-index: -1;
}