:not(.sapUiNativeScrollbars) ::-webkit-scrollbar:horizontal {
	height: var(--sapScrollBar_Dimension);
}

:not(.sapUiNativeScrollbars) ::-webkit-scrollbar:vertical {
	width: var(--sapScrollBar_Dimension);
}

:not(.sapUiNativeScrollbars) ::-webkit-scrollbar {
	background-color: var(--sapScrollBar_TrackColor);
	border-left: var(--browser_scrollbar_border);
}

:not(.sapUiNativeScrollbars) ::-webkit-scrollbar-thumb {
	border-radius: var(--browser_scrollbar_border_radius);
	background-color: var(--sapScrollBar_FaceColor);
}

:not(.sapUiNativeScrollbars) ::-webkit-scrollbar-thumb:hover {
	background-color: var(--sapScrollBar_Hover_FaceColor);
}

:not(.sapUiNativeScrollbars) ::-webkit-scrollbar-corner {
	background-color: var(--sapScrollBar_TrackColor);
}