:host(ui5-busy-indicator) span[data-sap-ui-wc-root] {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.ui5-busy-indicator-wrapper {
	display: flex;
}

.circle {
	display: flex;
	width: 44px;
	height: 44px;
	margin: 0 .5rem;
	background: #00a4eb;
	border: 1px solid #00a4eb;
	border-radius: 50%;
}

.circle-animation-0 {
	animation: grow 1.6s infinite ease-in-out;
}

.circle-animation-1 {
	animation: grow 1.6s infinite ease-in-out;
	animation-delay: 150ms;
}

.circle-animation-2 {
	animation: grow 1.6s infinite ease-in-out;
	animation-delay: 300ms;
	
}

@keyframes grow {
	0%, 50%, 100% {
		-webkit-transform: scale( 1.0);
		-moz-transform: scale( 1.0);
		-o-transform: scale( 1.0);
		-ms-transform: scale( 1.0);
		transform: scale( 1.0);
		background-color: #00a4eb;
	}

	25% {
		-webkit-transform: scale( 1.3 );
		-moz-transform: scale( 1.3 );
		-o-transform: scale( 1.3 );
		-ms-transform: scale( 1.3 );
		transform: scale( 1.3 );
		background-color: #fff;
	}
}