:host(:not([hidden])) {
	display: inline-block;
}

:host([active]) {
	color: var(--sapContent_IconColor);
	pointer-events: none;
}

/**
 * IE fix: using just the "*" all selector in IE,
 * will set the opacity=0.6 to busy indicator internal elements
 */
:host([active]) ::slotted(:not([class^="ui5-busyindicator-"])) {
	opacity: 0.6;
}

:host([size="Small"]) .ui5-busyindicator-root {
	min-width: 1.5em;
	min-height: .5rem;
}

:host([size="Small"]) .ui5-busyindicator-circle {
	width: .5rem;
	height: .5rem;
}

:host(:not([size])) .ui5-busyindicator-root,
:host([size="Medium"]) .ui5-busyindicator-root {
	min-width: 3rem;
	min-height: 1rem;
}

:host(:not([size])) .ui5-busyindicator-circle,
:host([size="Medium"])  .ui5-busyindicator-circle {
	width: 1rem;
	height: 1rem;
}

:host([size="Large"]) .ui5-busyindicator-root {
	min-width: 6rem;
	min-height: 2rem;
}

:host([size="Large"]) .ui5-busyindicator-circle {
	width: 2rem;
	height: 2rem;
}

.ui5-busyindicator-root {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: inherit;
}

.ui5-busyindicator-circle {
	display: inline-block;
	background-color: currentColor;
	border-radius: 50%;
}

.ui5-busyindicator-circle::before {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

.ui5-busyindicator-dynamic-content {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	/* Fixes IE positioning */
	left: 0;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
}

.circle-animation-0 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
}

.circle-animation-1 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
	animation-delay: 200ms;
}

.circle-animation-2 {
	animation: grow 1.6s infinite cubic-bezier(0.32, 0.06, 0.85, 1.11);
	animation-delay: 400ms;
}

@keyframes grow {
	0%, 50%, 100% {
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}
	25% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}
