/* Button with badge */

[ui5-tag]::part(root) {
	border:  0.0625rem solid var(--sapContent_BadgeBorderColor);
	background-color: var(--sapContent_BadgeBackground);
	color: var(--sapContent_BadgeTextColor);
	height: 1rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
}

:host([design="AttentionDot"]) [ui5-tag]::part(root) {
	min-width: var(--_ui5-button-badge-diameter);
	min-height: var(--_ui5-button-badge-diameter);
	height: var(--_ui5-button-badge-diameter);
	width: var(--_ui5-button-badge-diameter);
	border-radius: 100%;
}