:host(ui5-button:not([hidden])) {
	display: inline-block;
}

ui5-button:not([hidden]) {
	display: inline-block;
}

span[dir="rtl"] .sapMBtn.sapMBtnWithIcon .sapMBtnText {
	margin-right: var(--_ui5_button_base_icon_margin);
	margin-left: 0;
}

span[dir="rtl"] .sapMBtn.sapMBtnIconEnd .sapWCIconInButton {
	margin-right: var(--_ui5_button_base_icon_margin);
	margin-left: 0;
}

ui5-button span[data-sap-ui-wc-root] {
	display: inline-block;
}

span[data-sap-ui-wc-root].sapUiSizeCompact .sapWCIconInButton {
	font-size: 1rem;
}

span[data-sap-ui-wc-root].sapUiSizeCompact .sapMBtn {
	padding: var(--_ui5_button_compact_padding);
	min-height: var(--_ui5_button_compact_height);
	min-width: var(--_ui5_button_base_min_compact_width);
}

span[data-sap-ui-wc-root] .sapMBtn {
	min-width: var(--_ui5_button_base_min_width);
	min-height: var(--_ui5_button_base_height);
}

ui5-button span[data-sap-ui-wc-root] .sapMBtn::before {
	/* this is a hack for a bug in IE https:/* github.com/philipwalton/flexbugs/issues/231 */
	content: '';
	min-height: inherit;
	font-size: 0;
}

.sapMBtn {
	width: 100%;
	height: 100%;
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
	font-weight: normal;
	box-sizing: border-box;
	padding: var(--_ui5_button_base_padding);
	border-radius: var(--_ui5_button_border_radius);
	border-width: 0.0625rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--sapUiButtonBackground);
	border: 1px solid var(--sapUiButtonBorderColor);
	color: var(--sapUiButtonTextColor);
	text-shadow: var(--sapUiShadowText);
	outline: none;
	position: relative;
}

.sapMBtn:not(.sapMBtnActive):hover {
	background: var(--sapUiButtonHoverBackground);
}

.sapMBtn .sapWCIconInButton {
	font-size: var(--_ui5_button_base_icon_only_font_size);
	position: relative;
	color: inherit;
}

.sapMBtn.sapMBtnIconEnd {
	flex-direction: row-reverse;
}

.sapMBtn.sapMBtnIconEnd  .sapWCIconInButton {
	margin-left: var(--_ui5_button_base_icon_margin);
}

.sapMBtn.sapMBtnNoText {
	padding: var(--_ui5_button_base_icon_only_padding);
}

.sapMBtnText {
	outline: none;
	position: relative;
}

.sapMBtn.sapMBtnWithIcon .sapMBtnText {
	margin-left: var(--_ui5_button_base_icon_margin);
}

.sapMBtnDisabled {
	opacity: 0.5;
	pointer-events: none;
}

.sapMBtn:focus::after {
	content: "";
	position: absolute;
	border: var(--_ui5_button_focus_after_border);
	top: var(--_ui5_button_focus_after_top);
	bottom: var(--_ui5_button_focus_after_bottom);
	left: var(--_ui5_button_focus_after_left);
	right: var(--_ui5_button_focus_after_right);
}

.sapMBtn::-moz-focus-inner {
	border: 0;
}

.sapMBtnActive {
	background-image: none;
	background-color: var(--sapUiButtonActiveBackground);
	border-color: var(--_ui5_button_active_border_color);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtnActive:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnPositive {
	background-color: var(--sapUiButtonAcceptBackground);
	border-color: var(--_ui5_button_positive_border_color);
	color: var(--sapUiButtonAcceptTextColor);
	text-shadow: var(--sapUiShadowText);
}

.sapMBtn.sapMBtnPositive:hover {
	background-color: var(--sapUiButtonAcceptHoverBackground);
	border-color: var(--_ui5_button_positive_border_hover_color);
}

.sapMBtn.sapMBtnPositive.sapMBtnActive {
	background-color: var(--sapUiButtonAcceptActiveBackground);
	border-color: var(--_ui5_button_positive_border_active_color);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnPositive:focus {
	border-color: var(--_ui5_button_positive_focus_border_color);
}
.sapMBtn.sapMBtnPositive.sapMBtnActive:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnPositive:focus::after {
	border-color: var(--_ui5_button_positive_border_focus_hover_color);
}

.sapMBtn.sapMBtnNegative {
	background-color: var(--sapUiButtonRejectBackground);
	border-color: var(--sapUiButtonRejectBorderColor);
	color: var(--sapUiButtonRejectTextColor);
	text-shadow: var(--sapUiShadowText);
}

.sapMBtn.sapMBtnNegative:hover {
	background-color: var(--sapUiButtonRejectHoverBackground);
	border-color: var(--sapUiButtonRejectHoverBorderColor);
}

.sapMBtn.sapMBtnNegative:focus {
	border-color: var(--_ui5_button_negative_focus_border_color);
}

.sapMBtn.sapMBtnNegative.sapMBtnActive {
	background-color: var(--sapUiButtonRejectActiveBackground);
	border-color: var(--_ui5_button_negative_active_border_color);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnNegative.sapMBtnActive:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnNegative:focus::after {
	border-color: var(--_ui5_button_positive_border_focus_hover_color);
}

.sapMBtn.sapMBtnEmphasized {
	background-color: var(--sapUiButtonEmphasizedBackground);
	border-color: var(--sapUiButtonEmphasizedBorderColor);
	color: var(--sapUiButtonEmphasizedTextColor);
	text-shadow: 0 0 0.125rem var(--sapUiButtonEmphasizedTextShadow);
	font-weight: var(--_ui5_button_emphasized_font_weight);
}

.sapMBtn.sapMBtnEmphasized:hover {
	background-color: var(--sapUiButtonEmphasizedHoverBackground);
	border-color: var(--sapUiButtonEmphasizedHoverBorderColor);
}

.sapMBtn.sapMBtnEmphasized.sapMBtnActive {
	background-color: var(--sapUiButtonEmphasizedActiveBackground);
	border-color: var(--sapUiButtonEmphasizedActiveBorderColor);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnEmphasized:focus::after,
.sapMBtn.sapMBtnEmphasized.sapMBtnActive:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnEmphasized:focus {
	border-color: var(--_ui5_button_emphasized_focused_border_color);
}

.sapMBtn.sapMBtnTransparent {
	background-color: var(--sapUiButtonLiteBackground);
	border-color: var(--sapUiButtonLiteBorderColor);
	color: var(--sapUiButtonLiteTextColor);
	text-shadow: var(--sapUiShadowText);
	border-color: transparent;
}

.sapMBtn.sapMBtnTransparent:hover {
	background-color: var(--sapUiButtonLiteHoverBackground);
}

.sapMBtn.sapMBtnTransparent.sapMBtnActive {
	background-color: var(--sapUiButtonLiteActiveBackground);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnTransparent:hover:not(.sapMBtnActive) {
	border-color: transparent;
}
