:host {
	display: inline-block;
}

.ui5-yearpicker--hidden,
.ui5-monthpicker--hidden,
.ui5-daypicker--hidden {
	display: none;
}

.ui5-cal-root {
	background: var(--sapList_Background);
    position: relative;
    isolation: isolate;
    min-width: var(--_ui5-calendar_width);
    min-height: var(--_ui5-calendar_height);
}

.ui5-cal-root .ui5-cal-content {
    padding-top: var(--_ui5_calendar_header_height);
}

.ui5-cal-root [ui5-calendar-header] {
    position: absolute;
    top: 0;
}

.ui5-cal-root [ui5-daypicker],
.ui5-cal-root [ui5-month-picker],
.ui5-cal-root [ui5-yearpicker] {
	vertical-align: top;
}
