@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-card-root {
	width: 100%;
	height: 100%;
	color: var(--sapGroup_TitleTextColor);
	background: var(--sapTile_Background);
	box-shadow: var(--_ui5_card_box_shadow);
	border-radius: var(--_ui5_card_border-radius);
	border: var(--_ui5_card_border);
	overflow: hidden;
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	box-sizing: border-box;
}

.ui5-card-root.ui5-card--interactive:hover {
	box-shadow: var(--_ui5_card_hover_box_shadow);
}

.ui5-card-root.ui5-card--interactive:active {
	box-shadow: var(--_ui5_card_box_shadow);
}

/* Card with no content */
.ui5-card-root.ui5-card--nocontent {
	height: auto;
}

.ui5-card-root.ui5-card--nocontent .ui5-card-header-root  {
	border-bottom: none;
}

.ui5-card--nocontent ::slotted([ui5-card-header]) {
	--_ui5_card_header_focus_bottom_radius: var(--_ui5_card_header_focus_radius);
}

.ui5-card-root .ui5-card-header-root {
	border-bottom: var(--_ui5_card_header_border);
}
