@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-card-root {
	width: 100%;
	height: 100%;
	color: var(--sapGroup_TitleTextColor);
	background: var(--sapTile_Background);
	box-shadow: var(--sapContent_Shadow0);
	border-radius: .25rem;
	border: 1px solid var(--_ui5_card_border_color);
	overflow: hidden;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	box-sizing: border-box;
}

.ui5-card-header {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--sapTile_Background);
	border-bottom: 1px solid var(--_ui5_card_header_border_color);
	padding: var(--_ui5_card_content_padding);
	outline: none;
}

:host([subheading]) .ui5-card-header {
	align-items: flex-start;
}

/* Card with no content */
.ui5-card-root.ui5-card--nocontent {
	height: auto;
}

.ui5-card-root.ui5-card--nocontent .ui5-card-header {
	border-bottom: none;
}

.ui5-card-header:focus:before {
	outline: none;
	content: "";
	position: absolute;
	border: var(--_ui5_card_header_focus_border);
	pointer-events: none;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}

.ui5-card-header.ui5-card-header--interactive:hover {
	cursor: pointer;
	background: var(--_ui5_card_header_hover_bg);
}

.ui5-card-header.ui5-card-header--active,
.ui5-card-header.ui5-card-header--interactive:active {
	background: var(--_ui5_card_header_active_bg);
}

.ui5-card-header .ui5-card-header-text {
	flex: 1;
	pointer-events: none;
}

.ui5-card-header .ui5-card-avatar {
	height: 3rem;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: .75rem;
	pointer-events: none;
}

::slotted([ui5-tag="ui5-icon"]) {
	width: 1.5rem;
	height: 1.5rem;
	color: var(--sapTile_IconColor);
}

::slotted(img) {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.ui5-card-header .ui5-card-status {
	display: inline-block;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSmallSize);
	color: var(--sapTile_TextColor);
	text-align: left;
	line-height: 1.125rem;
	padding-left: 1rem;
	margin-left: auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ui5-card-header .ui5-card-header-text .ui5-card-heading {
	font-family: var(--sapFontFamily);
	font-size: var(--sapMFontHeader5Size);
	font-weight: normal;
	color: var(--sapTile_TitleTextColor);
	max-height: 3.5rem;
}

.ui5-card-header .ui5-card-header-text .ui5-card-subheading {
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	font-weight: normal;
	color: var(--sapTile_TextColor);
	margin-top: .5rem;
	max-height: 2.1rem;
}

.ui5-card-header .ui5-card-header-text .ui5-card-heading,
.ui5-card-header .ui5-card-header-text .ui5-card-subheading {
	text-align: left;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	max-width: 100%;
}

[dir="rtl"] .ui5-card-header .ui5-card-avatar {
	margin-left: .75rem;
	margin-right: 0;
}

[dir="rtl"] .ui5-card-header .ui5-card-status {
	padding-right: 1rem;
	padding-left: 0rem;
	margin-right: auto;
}

[dir="rtl"] .ui5-card-header .ui5-card-header-text .ui5-card-heading {
	text-align: right;
}

[dir="rtl"] .ui5-card-header .ui5-card-header-text .ui5-card-subheading {
	text-align: right;
}
