.ui5-cp-header {
	width: 100%;
	height: var(--_ui5_color-palette-button-height);
	display: flex;
	align-items: center;
}

.ui5-cp-footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
    align-items: center;
	margin: 0.1875rem 0;
}

[ui5-responsive-popover]::part(content) {
	padding: 0;
}

.ui5-cp-item-container {
	padding: 0.3125rem 0.6875rem;
}