:host(:not([hidden])) {
	height: var(--_ui5_color-palette-item-height);
	width: var(--_ui5_color-palette-item-height);
	border: 1px solid var(--sapContent_ForegroundBorderColor);
	border-radius: var(--_ui5_color-palette-item-outer-border-radius);
	display: inline-block;
	margin: var(--_ui5_color-palette-item-margin);
	box-sizing: border-box;
}

:host(:not([_disabled]):hover),
:host([selected]) {
	height: var(--_ui5_color-palette-item-hover-height);
	width: var(--_ui5_color-palette-item-hover-height);
	margin: var(--_ui5_color-palette-item-hover-margin);
	border-radius: var(--_ui5_color-palette-item-hover-outer-border-radius);
}

:host(:not([hidden])[phone]) {
	height: 2.75rem;
	width: 2.75rem;
	border: 1px solid var(--sapContent_ForegroundBorderColor);
	border-radius: 0.25rem;
	display: inline-block;
	margin: 0.375rem;
}

.ui5-cp-item {
	position: relative;
	box-sizing: border-box;
	border-radius: var(--_ui5_color-palette-item-inner-border-radius);
	width: 100%;
	height: 100%;
}

:host(:not([_disabled]):not([phone]):hover) .ui5-cp-item {
	border-radius: var(--_ui5_color-palette-item-hover-inner-border-radius);
}

:host(:not([_disabled])[phone]) .ui5-cp-item {
	border-radius: 0.1875rem;
}

.ui5-cp-item:hover:not(:focus),
.ui5-cp-item.selected {
	border: 0.0625rem solid var(--sapGroup_ContentBackground);
	border-radius: var(--_ui5_color-palette-item-hover-inner-border-radius);
	box-sizing: border-box;
}

.ui5-cp-item.selected:focus,
:host(:not([_disabled]):not([phone])) .ui5-cp-item:focus,
:host(:not([_disabled])[phone]) .ui5-cp-item:focus {
	outline: none;
}

:host(:not([_disabled])[phone]) .ui5-cp-item:focus {
	scale: 1.277778; /* (2.875rem / 2.25rem) ~ 1.277778 */
	box-shadow: 0 0 0 0.0625rem #FFF, 0 0 0 0.125rem var(--sapContent_ForegroundBorderColor);
	border: var(--_ui5_color-palette-item-phone-selected-focus);
}

:host(:not([_disabled]):not([phone]):focus) .ui5-cp-item {
	pointer-events: none;
}

:host(:not([_disabled]):not([phone])) .ui5-cp-item:focus:not(:hover)::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-before-focus-offset);
	top: var(--_ui5_color-palette-item-before-focus-offset);
	right: var(--_ui5_color-palette-item-before-focus-offset);
	bottom: var(--_ui5_color-palette-item-before-focus-offset);
	border: var(--_ui5_color-palette-item-before-focus-color);
	border-radius: var(--_ui5_color-palette-item-before-focus-border-radius);
	pointer-events: none;
}

:host(:not([_disabled])) .ui5-cp-item:focus:not(:hover)::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-after-focus-offset);
	top: var(--_ui5_color-palette-item-after-focus-offset);
	right: var(--_ui5_color-palette-item-after-focus-offset);
	bottom: var(--_ui5_color-palette-item-after-focus-offset);
	border: var(--_ui5_color-palette-item-after-focus-color);
	border-radius: var(--_ui5_color-palette-item-after-focus-border-radius);
	pointer-events: none;
}

:host(:not([_disabled]):not([phone]):hover:focus) .ui5-cp-item:focus:not(:hover)::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-before-focus-hover-offset);
	top: var(--_ui5_color-palette-item-before-focus-hover-offset);
	right: var(--_ui5_color-palette-item-before-focus-hover-offset);
	bottom: var(--_ui5_color-palette-item-before-focus-hover-offset);
	border: var(--_ui5_color-palette-item-before-focus-color);
	border-radius: var(--_ui5_color-palette-item-before-focus-border-radius);
	pointer-events: none;
}

:host(:not([_disabled]):not([phone]):hover:focus) .ui5-cp-item:focus:not(:hover)::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-after-focus-hover-offset);
	top: var(--_ui5_color-palette-item-after-focus-hover-offset);
	right: var(--_ui5_color-palette-item-after-focus-hover-offset);
	bottom: var(--_ui5_color-palette-item-after-focus-hover-offset);
	border: var(--_ui5_color-palette-item-after-focus-color);
	border-radius: var(--_ui5_color-palette-item-after-focus-border-radius);
	pointer-events: none;
}


/* Specific styling for the selected state */

:host([selected]:not([_disabled]):not([phone])) .ui5-cp-item.selected:focus:not(:hover)::after,
:host([selected]:not([_disabled]):not([phone])) .ui5-cp-item.selected:focus:hover::after {
	border: var(--_ui5_color-palette-item-selected-focused-border-after);
}

:host([selected]:not([_disabled]):not([phone])) .ui5-cp-item.selected:focus:not(:hover)::before,
:host([selected]:not([_disabled]):not([phone])) .ui5-cp-item.selected:focus:hover::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-selected-focused-border-before);
	top: var(--_ui5_color-palette-item-selected-focused-border-before);
	right: var(--_ui5_color-palette-item-selected-focused-border-before);
	bottom: var(--_ui5_color-palette-item-selected-focused-border-before);
	border: var(--_ui5_color-palette-item-before-focus-color);
	border-radius: var(--_ui5_color-palette-item-before-focus-border-radius);
	pointer-events: none;
}

/* Phone specific styles for the selected state */

:host([selected]:not([_disabled])[phone]) .ui5-cp-item.selected:focus:not(:hover)::after,
:host([selected]:not([_disabled])[phone]) .ui5-cp-item.selected:focus:hover::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-after-focus-offset);
	top: var(--_ui5_color-palette-item-after-focus-offset);
	right: var(--_ui5_color-palette-item-after-focus-offset);
	bottom: var(--_ui5_color-palette-item-after-focus-offset);
	border: var(--_ui5_color-palette-item-after-focus-color-phone);
	border-radius: var(--_ui5_color-palette-item-after-focus-border-radius);
	pointer-events: none;
}

:host([selected]:not([_disabled])[phone]) .ui5-cp-item.selected:focus:not(:hover)::before,
:host([selected]:not([_disabled])[phone]) .ui5-cp-item.selected:focus:hover::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: var(--_ui5_color-palette-item-selected-focused-border-before);
	top: var(--_ui5_color-palette-item-selected-focused-border-before);
	right: var(--_ui5_color-palette-item-selected-focused-border-before);
	bottom: var(--_ui5_color-palette-item-selected-focused-border-before);
	border: var(--_ui5_color-palette-item-before-focus-color);
	border-radius: .1875rem;
	pointer-events: none;
}

:host([selected]:not([_disabled])[phone]) .ui5-cp-item.selected:not(:focus),
:host([selected]:not([_disabled])[phone]) .ui5-cp-item.selected:not(:focus):not(:hover) {
	scale: 1.277778; /* (2.875rem / 2.25rem) ~ 1.277778 */
	border: 0.0625rem solid var(--sapGroup_ContentBackground);
	box-shadow: 0 0 0 0.0625rem var(--sapContent_ForegroundBorderColor); /* gap */
}