@import "./FormComponents.css";
@import "./Input.css";
@import "./InputIcon.css";

.ui5-combobox-root {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--_ui5_input_border_radius);
}