/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "./Input.css";
@import "./InputIcon.css";

.ui5-combobox-root {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
}