
:host(:not([hidden])) {
	display: block;
}

:host {
	height: var(--_ui5_list_item_base_height);
	box-sizing: border-box;
}

.ui5-li-root.ui5-custom-li-root {
	pointer-events: inherit;
}

.ui5-li-root.ui5-custom-li-root .ui5-li-content {
	pointer-events: inherit;
}

[ui5-checkbox].ui5-li-singlesel-radiobtn,
[ui5-radio-button].ui5-li-singlesel-radiobtn {
	display: flex;
	align-items: center;
}

.ui5-li-root.ui5-custom-li-root,
[ui5-checkbox].ui5-li-singlesel-radiobtn,
[ui5-radio-button].ui5-li-singlesel-radiobtn {
	min-width: var(--_ui5_custom_list_item_rb_min_width);
}
