
:host(:not([hidden])) {
	display: block;
}

:host {
	height: 3rem;
	box-sizing: border-box;
}

.ui5-li-root.ui5-custom-li-root {
	padding: 0;
	pointer-events: auto;
}

.ui5-li-root.ui5-custom-li-root .ui5-li-content {
	pointer-events: auto;
}

ui5-checkbox.ui5-li-singlesel-radiobtn,
ui5-radiobutton.ui5-li-singlesel-radiobtn {
	display: flex;
	align-items: center;
}

.ui5-li-root.ui5-custom-li-root,
ui5-checkbox.ui5-li-singlesel-radiobtn,
ui5-radiobutton.ui5-li-singlesel-radiobtn {
	min-width: 3rem;
}

/* Compact size */
:host([compact-size]) {
	height: 2rem;
}

:host([compact-size]) .ui5-li-root.ui5-custom-li-root,
:host([compact-size]) ui5-checkbox.ui5-li-singlesel-radiobtn,
:host([compact-size]) ui5-radiobutton.ui5-li-singlesel-radiobtn {
	min-width: 2rem;
}
