.ui5-date-picker-popover {
	width: var(--_ui5_calendar_width);
	.ui5-popover-header {
		width: 100%;
	}
}

[ui5-calendar] {
	width: 100%;
	display: flex;
	justify-content: center;
}

[ui5-responsive-popover]::part(content) {
    padding: 0;
}
