@import "./InvisibleTextStyles.css";
@import "./InputIcon.css";

:host(:not([hidden])) {
	display: inline-block;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
}

:host {
	color: var(--sapField_TextColor);
	background-color: var(--sapField_Background);
	border-radius: var(--_ui5-datepicker_border_radius);
}

:host([value-state="Error"]):not([disabled]):not([readonly]) {
	background-color: var(--sapField_InvalidBackground);
}

:host(:not([disabled]):not([readonly]):active) {
	background: var(--_ui5-datepicker-hover-background);
}

:host(:not([disabled]):not([readonly]):hover) {
	background: var(--_ui5-datepicker-hover-background);
}

:host .ui5-date-picker-input {
	width: 100%;
	min-width: 12.5625rem;
	color: inherit;
	background-color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

:host(:not([disabled]):not([readonly])) .ui5-date-picker-input[focused] {
	background-color: var(--_ui5-datepicker-hover-background);
}

[slot="icon"] {
	border-top-right-radius: var(--_ui5-datepicker_icon_border_radius);
    border-bottom-right-radius: var(--_ui5-datepicker_icon_border_radius);
}
