@import "./InvisibleTextStyles.css";
@import "./InputIcon.css";
@import "./InputSharedStyles.css";

:host(:not([hidden])) {
	display: inline-block;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
	height: var(--_ui5_input_height);
	border-radius: var(--_ui5_input_border_radius);
}

:host {
	min-width: calc(var(--_ui5_input_min_width) + var(--_ui5_input_icon_width));
	color: var(--sapField_TextColor);
	background-color: var(--sapField_Background);
	border-radius: var(--_ui5-datepicker_border_radius);
	margin: var(--_ui5_input_margin_top_bottom) 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

:host(:not([disabled]):not([readonly]):active) {
	background: var(--_ui5-datepicker-hover-background);
}

:host(:not([disabled]):not([readonly]):hover) {
	background: var(--_ui5-datepicker-hover-background);
}

.ui5-date-picker-root {
	border-radius: inherit;
	height: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

:host .ui5-date-picker-input {
	width: 100%;
	min-width: 12.5625rem;
	color: inherit;
	background-color: inherit;
	border-radius: inherit;
	height: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	margin: inherit;
}

:host(:not([disabled]):not([readonly])) .ui5-date-picker-input[focused] {
	background-color: var(--_ui5-datepicker-hover-background);
}