/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:host(:not([hidden])) {
	display: inline-block;
}

:host .ui5-datepicker-input {
	width: 100%;
	min-width: 15rem;
}