:host(:not([hidden])) {
	display: block;
}

:host {
	height: 100%;
	width: 100%;
}

:host([hide-week-numbers]) .ui5-dp-content {
	flex-basis: 100%;
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item {
	flex-direction: column;
	justify-content: var(--_ui5_day_picker_item_justify_content);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-daytext {
	height: 1.575rem;
	padding-block-start: var(--_ui5_dp_two_calendar_item_text_padding_top)
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-daysectext {
	font-size: 0.625rem;
	height: var(--_ui5_dp_two_calendar_item_secondary_text_height);
	padding: 0 0.375rem 0.5rem 50%;
}

.ui5-dp-weekname,
.ui5-dp-dayname,
.ui5-dp-item {
	width: var(--_ui5_day_picker_item_width);
	height: var(--_ui5_day_picker_item_height);
	margin-block-start: var(--_ui5_daypicker_item_margin);
	margin-inline-end: var(--_ui5_daypicker_item_margin);
	font-family: "72override", var(--sapFontFamily);
	border-radius: var(--_ui5_daypicker_item_border_radius);
}

.ui5-dp-weekname {
	color: var(--_ui5_daypicker_weekname_color);
}

.ui5-dp-weeks-row {
	display: flex;
}

.ui5-dp-content {
	display: flex;
	flex-basis: 87.5%;
	flex-direction: column;
	font-family: "72override", var(--sapFontFamily);
}

.ui5-dp-days-names-container {
	display: flex;
	height: var(--_ui5_daypicker_daynames_container_height);
}

.ui5-dp-weeknumber-container {
	padding-block-start: var(--_ui5_daypicker_weeknumbers_container_padding_top);
	flex-basis: 12.5%;
}

.ui5-dp-weekname,
.ui5-dp-dayname,
.ui5-dp-weekname-container,
.ui5-dp-item {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-size: var(--sapFontSmallSize);
	outline: none;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.ui5-dp-item {
	position: relative;
	color: var(--sapTextColor);
	background: var(--sapLegend_WorkingBackground);
	font-size: var(--sapFontSize);
	border: var(--_ui5_daypicker_item_border);
	border-radius: var(--_ui5_daypicker_item_border_radius);
}

.ui5-dp-item:hover {
	background: var(--sapList_Hover_Background);
}

.ui5-dp-daytext {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.ui5-dp-dayname {
	color: var(--_ui5_daypicker_dayname_color);
	height: 100%;
}

.ui5-dp-item.ui5-dp-item--weeekend {
	background: var(--sapLegend_NonWorkingBackground);
}

.ui5-dp-item.ui5-dp-item--disabled {
	pointer-events: none;
	opacity: 0.5;
}


.ui5-dp-item.ui5-dp-item--weeekend:hover {
	background: var(--sapList_Hover_Background);
	filter: var(--_ui5_daypicker_item_weeekend_filter);
}

.ui5-dp-item.ui5-dp-item--othermonth {
	color: var(--_ui5_daypicker_item_othermonth_color);
	background: var(--_ui5_daypicker_item_othermonth_background_color);
	border-color: transparent;
}

.ui5-dp-item.ui5-dp-item--othermonth:hover,
.ui5-dp-item.ui5-dp-item--weeekend.ui5-dp-item--othermonth:hover {
	color: var(--_ui5_daypicker_item_othermonth_hover_color);
	background: var(--sapList_Hover_Background);
}

.ui5-dp-item:focus::after {
	content: "";
	border: var(--_ui5_daypicker_item_not_selected_focus_border);
	position: absolute;
	inset: var(--_ui5_daypicker_item_no_selected_inset);
	outline: none;
	border-radius: var(--_ui5_daypicker_item_border_radius_focus_after);
}

.ui5-dp-item.ui5-dp-item--now::before {
	position: absolute;
	inset: var(--_ui5_daypicker_item_now_not_selected_inset);
	border: 0.125rem solid var(--_ui5_daypicker_item_now_border_color);
	content: "";
	border-radius: var(--_ui5_daypicker_item_border_radius);
	z-index: 1;
}

.ui5-dp-item.ui5-dp-item--now.ui5-dp-item--selected {
	box-shadow: var(--_ui5_daypicker_item_now_box_shadow);
}

.ui5-dp-item.ui5-dp-item--selected {
	background: var(--sapContent_Selected_Background)
}
.ui5-dp-item.ui5-dp-item--selected:not(.ui5-dp-item.ui5-dp-item--now) .ui5-dp-daytext::after{
	position: absolute;
	inset: 0;
	border: var(--_ui5_daypicker_item_selected_border);
	content: "";
	border-radius: var(--_ui5_daypicker_item_border_radius_item);
	z-index: 1;
}

.ui5-dp-item.ui5-dp-item--selected.ui5-dp-item.ui5-dp-item--now .ui5-dp-daytext {
	border: var(--_ui5_day_picker_item_selected_now_border);
	outline: var(--_ui5_daypicker_item_selected_text_outline);
	outline-offset: var(--_ui5_daypicker_item_now_selected_outline_offset);
	border-radius: var(--_ui5_daypicker_item_border_radius_item);
	font-family: var(--_ui5_daypicker_item_selected_text_font);
}

.ui5-dp-item.ui5-dp-item--selected .ui5-dp-daytext {
	background: var(--_ui5_daypicker_item_selected_background);
	color: var(--sapContent_Selected_TextColor);
	border-radius: var(--_ui5_daypicker_item_border_radius);
	border: var(--_ui5_daypicker_item_selected_text_border);
	font-family: var(--_ui5_daypicker_item_selected_text_font);
}

.ui5-dp-item.ui5-dp-item--selected:hover .ui5-dp-daytext {
	background: var(--_ui5_daypicker_item_selected_daytext_hover_background);
	color: var(--sapContent_Selected_TextColor);
}

.ui5-dp-item.ui5-dp-item--now:focus::after {
	inset: var(--_ui5_daypicker_item_now_inset);
	border-radius: var(--_ui5_daypicker_item_now_border_radius_focus_after);
	border: var(--_ui5_daypicker_item_now_border_focus_after);
	position: absolute;
	content: "";
	width: auto;
	height: auto;
}

.ui5-dp-item.ui5-dp-item--selected.ui5-dp-item--now:focus::after {
	inset: var(--_ui5_daypicker_item_now_inset);
	border-radius: var(--_ui5_day_picker_item_selected_now_border_radius_focus);
	border: var(--_ui5_day_picker_item_selected_now_border_focus);
	position: absolute;
	content: "";
	width: auto;
	height: auto;
}

.ui5-dp-item.ui5-dp-item--selected:hover {
	background: var( --_ui5_daypicker_item_selected_hover);
	color: var(--sapContent_ContrastTextColor);
}

.ui5-dp-item.ui5-dp-item--selected:focus::after {
	border-color: var(--_ui5_daypicker_item_selected_focus_color);
	border-width: var(--_ui5_daypicker_item_selected_focus_width);
}

.ui5-dp-items-container {
	outline: none;
}

.ui5-dp-item.ui5-dp-item--selected-between .ui5-dp-daytext,
.ui5-dp-item[hovered] .ui5-dp-daytext {
	border: var(--_ui5_daypicker_item_select_between_border);
	border-radius: var(--_ui5_daypicker_item_border_radius);
	background-color: var(--_ui5_daypicker_item_selected_between_text_background);
	color: var(--sapTextColor);
	font-weight: var(--_ui5_daypicker_item_selected_between_text_font);
}

.ui5-dp-item.ui5-dp-item--selected-between.ui5-dp-item--now:not(.ui5-dp-item--selected) .ui5-dp-daytext::after {
	content: "";
	position: absolute;
	inset: var(--_ui5_daypicker_item_now_selected_between_inset);
	border: var(--_ui5_daypicker_item_now_selected_between_border);
	border-radius: var(--_ui5_daypicker_item_now_selected_between_border_radius);
}

.ui5-dp-item.ui5-dp-item--selected-between,
.ui5-dp-item[hovered] {
	border-radius: var(--_ui5_daypicker_item_selected_between_border);
	background: var(--_ui5_daypicker_item_selected_between_background);
}

.ui5-dp-item.ui5-dp-item--selected-between:hover {
	background: var(--_ui5_daypicker_item_selected_between_hover_background);
}

.ui5-dp-item.ui5-dp-item--selected.ui5-dp-item--selected-between:focus::after {
	border-color: var(--sapContent_FocusColor);
}

.ui5-dp-items-container > :first-child {
	justify-content: flex-end;
}

.ui5-dp-emptyweek {
	height: var(--_ui5_day_picker_empty_height);
}

.ui5-dp-item.ui5-dp-item--now.ui5-dp-item--selected.ui5-dp-item--withsecondtype:focus::after{
	outline-offset: -0.1875rem;
	border-radius: var(--_ui5-dp-item_withsecondtype_border);
}
.ui5-dp-item.ui5-dp-item--selected.ui5-dp-item--now.ui5-dp-item--withsecondtype .ui5-dp-daysectext,
.ui5-dp-item.ui5-dp-item--now.ui5-dp-item--selected.ui5-dp-item--withsecondtype .ui5-dp-daytext {
	border: none;
	outline: none;
}

/* styles for calendar with two types */

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--selected:not(.ui5-dp-item.ui5-dp-item--now) .ui5-dp-daytext::after{
	border-width: 0.125rem;
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--now .ui5-dp-daytext {
	height: var(--_ui5_dp_two_calendar_item_primary_text_height);
	padding-block-start: var(--_ui5_dp_two_calendar_item_now_text_padding_top);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--now .ui5-dp-daysectext {
	height: var(--_ui5_dp_two_calendar_item_secondary_text_height);
	padding-block-start: 0;
	border-radius: var(--_ui5_dp_two_calendar_item_secondary_text_border_radios);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--selected.ui5-dp-item.ui5-dp-item--now .ui5-dp-daytext {
	border-radius: var(--_ui5_daypicker_two_calendar_item_border_radius);
	margin-block-end: var(--_ui5_daypicker_two_calendar_item_margin_bottom); /* 0.125rem horizon, 0 for base */
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item:focus::after {
	inset: var(--_ui5_daypicker_two_calendar_item_no_selected_inset);
	border-radius: var(--_ui5_daypicker_two_calendar_item_border_focus_border_radius);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--now::after {
	inset: var(--_ui5_daypicker_two_calendar_item_no_selected_focus_inset);
	border-radius: var(--_ui5_daypicker_two_calendar_item_no_select_focus_border_radius);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--selected:focus::after {
	border-width: var(--_ui5_daypicker_two_calendar_item_now_selected_border_width);
	inset: var(--_ui5_daypicker_two_calendar_item_now_selected_border_inset);
	border-radius: var(--_ui5_daypicker_two_calendar_item_border_focus_border_radius);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--selected.ui5-dp-item--now::after {
	inset: var(--_ui5_daypicker_two_calendar_item_now_inset);
	border-radius: var(--_ui5_daypicker_two_calendar_item_selected_now_border_radius_focus);
}

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item.ui5-dp-item--now.ui5-dp-item--selected.ui5-dp-item--withsecondtype .ui5-dp-daytext:not(.ui5-dp-daysectext)::before {
	content: var(--_ui5_daypicker_two_calendar_item_now_day_text_content);
	position: absolute;
	inset: 0.3125rem;
	border-radius: var(--_ui5_daypicker_two_calendar_item_selected_now_border_radius_focus);
	outline: var(--_ui5_daypicker_item_selected__secondary_type_text_outline);
	z-index: 1;
}

/* Styles targeting special days, referenced in the Calendar Legend */

.ui5-dp-specialday {
	width: 100%;
	height: 0.375rem;
	position: absolute;
	box-sizing: border-box;
	inset-block-start: var(--_ui5_daypicker_special_day_top);
	border-end-end-radius: var(--_ui5_daypicker_special_day_border_bottom_radius); /* 0.25rem base, 0.5rem for horizon */
	border-end-start-radius: var(--_ui5_daypicker_special_day_border_bottom_radius); /* 0.25rem base, 0.5rem for horizon */
	border-top: 0.0625rem solid var(--_ui5_daypicker_special_day_before_border_color); /*  transparent for horizon */
}

.ui5-dp-item--selected .ui5-dp-specialday {
	width: var(--_ui5_daypicker_selected_item_special_day_width); /* 100% for base, calc(100% - 0.125rem) for horizon */
}

.ui5-dp-item--selected.ui5-dp-item--now .ui5-dp-specialday {
	inset-block-start: var(--_ui5_daypicker_selected_item_now_special_day_top); /* 2.4375rem for base, 2.275rem horizon */
	width: var(--_ui5_daypicker_selected_item_now_special_day_width); /* calc(100% - 0.375rem) base */
	border-end-end-radius: var(--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius); /* 0 for base, 0.25rem horizon*/
	border-end-start-radius: var(--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius); /* 0 for base, 0.25rem horizon*/
}

.ui5-dp-item--now .ui5-dp-specialday,
.ui5-dp-item[special-day].ui5-dp-item--selected.ui5-dp-item--now .ui5-dp-specialday {
	height: 0.3125rem; /* 0.3125rem horizon, 0.25rem base */
	border-end-end-radius: var(--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius_alternate); /* 0.0625rem base, 0.5rem for horizon*/
	border-end-start-radius: var(--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius_alternate); /* 0.0625rem base, 0.5rem for horizon*/
	inset-block-start: var(--_ui5_daypicker_item_now_specialday_top); /* 2.375rem horizon */
	width: var(--_ui5_daypicker_item_now_specialday_width); /* calc(100% - 0.5rem) horizon */
}

.ui5-dp-item--now .ui5-dp-specialday {
	width: var(--_ui5_daypicker_selected_item_now_special_day_width); /* calc(100% - 0.375rem) base, calc(100% - 0.125rem) for horizon */
	inset-block-start: var(--_ui5_daypicker_selected_item_now_special_day_top); /* 2.4375rem base, 2.5rem horizon */
}

.ui5-dp-item[special-day].ui5-dp-item--selected.ui5-dp-item--now .ui5-dp-daytext {
	border-radius: var(--_ui5-daypicker_item_selected_now_border_radius); /* 0.25rem base, 0.5rem horizon */
}

.ui5-dp-item[special-day].ui5-dp-item--selected.ui5-dp-item--now:focus::after,
.ui5-dp-item[special-day].ui5-dp-item--now:focus::after {
	margin: var(--_ui5_daypicker_item_now_focus_margin); /* 0 horizon ??, 0.09375rem base */
}

.ui5-dp-item[special-day].ui5-dp-item--now:focus .ui5-dp-specialday {
	inset-block-start: var(--_ui5_daypicker_specialday_focused_top); /* 2.125rem horizon, 2.375rem base */
	width: var(--_ui5_daypicker_specialday_focused_width); /*calc(100% - 0.75rem) horizon, calc(100% - 0.375rem) base */
	border-end-end-radius: var(--_ui5_daypicker_specialday_focused_border_bottom); /* 0.0625rem for base, 0 horizon*/
	border-end-start-radius: var(--_ui5_daypicker_specialday_focused_border_bottom); /* 0.0625rem for base, 0 horizon*/
	height: 0.3125rem; /* 0.3125rem horizon/base */
}


/*TO DO: !!! ADD STYLES FOR TODAY WITH SECONDARY CALENDAR TYPE WHEN SPEC COMES OUT !!!*/

.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item[special-day].ui5-dp-item--selected.ui5-dp-item--now::after,
.ui5-dp-root.ui5-dp-twocalendartypes .ui5-dp-item[special-day].ui5-dp-item--now::after {
	inset: var(--_ui5_daypicker_twocalendar_item_special_day_now_inset); /* 0.1875rem base, -0.1875rem horizon */
	border-radius: var(--_ui5_daypicker_twocalendar_item_special_day_now_border_radius); /* 0.625rem horizon, 0 base */
}

/* Colors for the different special days' types */

.type01 {
	background: var(--sapLegendColor1);
}

.type02 {
	background: var(--sapLegendColor2);
}

.type03 {
	background: var(--sapLegendColor3);
}

.type04 {
	background: var(--sapLegendColor4);
}

.type05 {
	background: var(--sapLegendColor5);
}

.type06 {
	background: var(--sapLegendColor6);
}

.type07 {
	background: var(--sapLegendColor7);
}

.type08 {
	background: var(--sapLegendColor8);
}

.type09 {
	background: var(--sapLegendColor9);
}

.type10 {
	background: var(--sapLegendColor10);
}

.type11 {
	background: var(--sapLegendColor11);
}

.type12 {
	background: var(--sapLegendColor12);
}

.type13 {
	background: var(--sapLegendColor13);
}

.type14 {
	background: var(--sapLegendColor14);
}

.type15 {
	background: var(--sapLegendColor15);
}

.type16 {
	background: var(--sapLegendColor16);
}

.type17 {
	background: var(--sapLegendColor17);
}

.type18 {
	background: var(--sapLegendColor18);
}

.type19 {
	background: var(--sapLegendColor19);
}

.type20 {
	background: var(--sapLegendColor20);
}