
:host(:not([hidden])) {
	display: inline-block;
}

:host {
	height: 100%;
	width: 100%;
}

.ui5-dp-weekname,
.ui5-dp-dayname,
.ui5-dp-item {
	width: var(--_ui5_day_picker_item_width);
	height: var(--_ui5_day_picker_item_height);
	margin-top: var(--_ui5_daypicker_item_margin);
	margin-right: var(--_ui5_daypicker_item_margin);
	font-family: var(--sapFontFamily);
	border-radius: var(--_ui5_daypicker_item_border_radius);
}

.ui5-dp-weekname {
	color: var(--_ui5_daypicker_weekname_color);
}

.ui5-dp-content {
	display: flex;
	flex-basis: 87.5%;
	flex-direction: column;
	font-family: var(--sapFontFamily);
}

.ui5-dp-days-names-container {
	display: flex;
	height: var(--_ui5_daypicker_daynames_container_height);
}

.ui5-dp-weeknumber-container {
	padding-top: var(--_ui5_daypicker_weeknumbers_container_padding_top);
	flex-basis: 12.5%;
}

.ui5-dp-weekname,
.ui5-dp-dayname,
.ui5-dp-weekname-container,
.ui5-dp-item {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-size: var(--sapFontSmallSize);
	outline: none;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui5-dp-item {
	position: relative;
	color: var(--sapTextColor);
	background: var(--sapLegend_WorkingBackground);
	font-size: var(--sapFontSize);
	border: var(--_ui5_daypicker_item_border);
}

.ui5-dp-item:hover {
	background: var(--sapList_Hover_Background);
}

.ui5-dp-daytext {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.ui5-dp-dayname {
	color: var(--_ui5_daypicker_dayname_color);
	height: 100%;
}

.ui5-dp-item.ui5-dp-item--weeekend {
	background: var(--sapLegend_NonWorkingBackground);
}

.ui5-dp-item.ui5-dp-item--disabled {
	pointer-events: none;
	opacity: 0.5;
}


.ui5-dp-item.ui5-dp-item--weeekend:hover {
	background: var(--sapList_Hover_Background);
}

.ui5-dp-item.ui5-dp-item--othermonth {
	color: var(--_ui5_daypicker_item_othermonth_color);
	background: var(--_ui5_daypicker_item_othermonth_background_color);
	border-color: transparent;
}

.ui5-dp-item.ui5-dp-item--othermonth:hover,
.ui5-dp-item.ui5-dp-item--weeekend.ui5-dp-item--othermonth:hover {
	color: var(--_ui5_daypicker_item_othermonth_hover_color);
	background: var(--sapList_Hover_Background);
}

.ui5-dp-item:focus::after {
	content: "";
	width: calc(100% - 0.25rem);
	height: calc(100% - 0.25rem);
	border: var(--_ui5_daypicker_item_outline_width) dotted var(--sapContent_FocusColor);
	position: absolute;
	top: var(--_ui5_daypicker_item_outline_offset);
	left: var(--_ui5_daypicker_item_outline_offset);
}

.ui5-dp-item.ui5-dp-item--now {
	border: 0.125rem solid var(--sapLegend_CurrentDateTime);
}

.ui5-dp-item.ui5-dp-item--selected .ui5-dp-daytext {
	background: var(--sapContent_Selected_Background);
	color: var(--sapContent_Selected_TextColor);
}

.ui5-dp-item.ui5-dp-item--selected.ui5-dp-item--now .ui5-dp-daytext {
	border: 1px solid var(--sapList_Background);
	border-radius: var(--_ui5_daypicker_item_now_inner_border_radius);
}

.ui5-dp-item.ui5-dp-item--selected.ui5-dp-item--now:focus::after {
	width: var(--_ui5_daypicker_item_now_selected_focus_after_width);
	height: var(--_ui5_daypicker_item_now_selected_focus_after_height);
	border-color: var(--sapContent_FocusColor);
	top: 0px;
	left: 0px;
}

.ui5-dp-item.ui5-dp-item--selected:hover {
	background: var(--_ui5_daypicker_item_selected_hover_background_color);
	color: var(--sapContent_ContrastTextColor);
}

.ui5-dp-item.ui5-dp-item--selected:focus::after {
	border-color: var(--sapContent_ContrastFocusColor);
}

.ui5-dp-items-container {
	outline: none;
}

.ui5-dp-items-container > :first-child {
	justify-content: flex-end;
}

.ui5-dp-emptyweek {
	height: var(--_ui5_day_picker_empty_height);
}