/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:host {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 20rem;
	box-shadow: var(--sapContent_Shadow3);
}

:host([stretch]) {
	width: 90%;
	height: 90%;
}

:host([stretch][on-phone]) {
	width: 100%;
	height: 100%;
}

:host([stretch][on-phone]) .ui5-popup-root {
	max-height: 100vh;
	max-width: 100vw;
}

.ui5-popup-root {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
}

.ui5-popup-content {
	flex: 1 1 auto;
}