:host {
	background: transparent;
	display: inline;
	min-height: auto;
	min-width: auto;
	box-shadow: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

:host([stretch]) {
	width: 90%;
	height: 90%;
}

.ui5-popup-root {
	display: flex;
	flex-direction: column;
}

.ui5-popup-content {
	flex: 1 0 auto;
}