:host {
	background: transparent;
	display: inline;
	min-height: auto;
	min-width: auto;
	box-shadow: none;
	position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

:host([stretch]) {
	width: 90%;
	height: 90%;
}

.ui5-popover-root {
	display: flex;
	flex-direction: column;
}

.ui5-popover-content {
	flex: 1;
}

@media screen and (-ms-high-contrast: active) {
	.ui5-popover-root {
			border: 1px solid var(--sapPageFooter_BorderColor);
	}
}