:host([draggable=true]), [draggable=true] {
	cursor: grab !important;
}

:host([draggable=true]:active), [draggable=true]:active {
	cursor: grabbing !important;
	opacity: var(--sapContent_DisabledOpacity);
}