/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:host(:not([hidden])) {
	display: inline-block;
}

:host .ui5-duration-picker-input {
	width: 100%;
}

.ui5-duration-picker-input-icon-button:hover {
	cursor: pointer;
	background: var(--sapButton_Hover_Background);
}

.ui5-duration-picker-input-icon-button:active {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}

.ui5-duration-picker-input-icon-button[pressed] {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}