@import "./FormComponents.css";
@import "./Input.css";
@import "./InputIcon.css";

:host {
	display: inline-block;
}

:host([hide-input]) {
	width: max-content;
	height: max-content;
	box-shadow: none;
	background: none;
}

.ui5-file-uploader-root,
.ui5-file-uploader-form {
	position: relative;
	width: inherit;
	height: inherit;
}

:host([hide-input]) .ui5-file-uploader-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.ui5-file-uploader-root .ui5-file-uploader-native-input {
	position: relative;
	display: block;
	width: inherit;
	height: inherit;
	opacity: 0;
	font-size: 0;
}

.ui5-file-uploader-display-container {
	position: absolute;
	top: 0;
	inset-inline-start: 0;
	width: inherit;
	height: inherit;
}

.ui5-file-uploader-tokenizer,
.ui5-file-uploader-display-input {
	position: absolute;
	top: 0;
	inset-inline-start: 0;
	height: inherit;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Display parts styles */
.ui5-file-uploader-close-icon,
.ui5-file-uploader-value-help-icon {
	position: absolute;
	cursor: pointer;
}

.ui5-file-uploader-tokenizer {
	max-width: var(--_ui5_file_uploader_tokenizer_width);
}

.ui5-file-uploader-display-input {
	width: var(--_ui5_file_uploader_display_input_width);
}

.ui5-file-uploader-close-icon {
	inset-inline-end: var(--_ui5_input_icon_width);
}

.ui5-file-uploader-value-help-icon {
	inset-inline-end: 0rem;
}

:host(:not([disabled]):active) [ui5-button] {
	background-color: var(--sapButton_Active_Background);
	border-color: var(--sapButton_Active_BorderColor);
	color: var(--sapButton_Active_TextColor);
	text-shadow: none;
}

/* Input styles overrides */
:host([focused]) .ui5-file-uploader-root:has(.ui5-file-uploader-native-input:focus)::after {
	content: var(--ui5_input_focus_pseudo_element_content);
	position: absolute;
	pointer-events: none;
	z-index: 2;
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--_ui5_input_focus_outline_color);
	border-radius: var(--_ui5_input_focus_border_radius);
	top: var(--_ui5_input_focus_offset);
	bottom: var(--_ui5_input_focus_offset);
	left: var(--_ui5_input_focus_offset);
	right: var(--_ui5_input_focus_offset);
}

:host(:not([value-state]):not([readonly])[focused]:not([opened]):hover),
:host([value-state="None"]:not([readonly])[focused]:not([opened]):hover) {
	box-shadow: var(--sapField_Shadow);
}

:host([value-state="Negative"][focused]:not([opened]):not([readonly]):not([hide-input])) .ui5-file-uploader-root:has(.ui5-file-uploader-native-input:focus)::after {
	border-color: var(--_ui5_input_focused_value_state_error_focus_outline_color);
}

:host([value-state="Critical"][focused]:not([opened]):not([readonly]):not([hide-input])) .ui5-file-uploader-root:has(.ui5-file-uploader-native-input:focus)::after {
	border-color: var(--_ui5_input_focused_value_state_warning_focus_outline_color);
}

:host([value-state="Positive"][focused]:not([opened]):not([readonly]):not([hide-input])) .ui5-file-uploader-root:has(.ui5-file-uploader-native-input:focus)::after {
	border-color: var(--_ui5_input_focused_value_state_success_focus_outline_color);
}

:host([value-state="None"][hide-input]:not([readonly]):hover),
:host([value-state="Negative"][hide-input]:not([readonly]):hover),
:host([value-state="Positive"][hide-input]:not([readonly]):hover),
:host([value-state="Information"][hide-input]:not([readonly]):hover),
:host([value-state="Critical"][hide-input]:not([readonly]):hover) {
	box-shadow: none;
	background: none;
}
