.ui5-form-item-root {
	container-type: inline-size;
}

.ui5-form-item-layout {
	display: grid;
	grid-template-columns: var(--ui5-form-item-layout);
	align-items: center;
}

.ui5-form-item-label {
	padding: 0.125rem 0;
	padding-inline-end: 0.85rem;
	justify-self: end;
}

.ui5-form-item-content {
	display: flex;
	padding: 0.125rem 0;
}

.ui5-form-item-content-child {
	padding: 0 0.25rem;
	box-sizing: border-box;
	width: 100%;
}

::slotted([ui5-input]) {
	width: 100%;
}
::slotted([ui5-select]) {
	width: 100%;
}

:host([label-placement="Top"]) .ui5-form-item-layout {
	grid-template-columns: 1fr;
}

:host([label-placement="Top"]) .ui5-form-item-label {
	padding: 0.625rem 0.25rem 0 0.25rem;
	justify-self: start;
}

:host([label-placement="Top"]) .ui5-form-item-content-child {
	padding: 0 0.25rem;
}

/* S - 1 column */
@container (max-width: 599px) {
	:host([label-placement="Auto"]) .ui5-form-item-layout,
	:host(:not([label-placement])) .ui5-form-item-layout,
	:host([label-placement="Auto"]) .ui5-form-item-layout,
	:host(:not([label-placement])) .ui5-form-item-layout,
	:host([label-placement="Auto"]) .ui5-form-item-layout,
	:host(:not([label-placement])) .ui5-form-item-layout,
	:host([label-placement="Auto"]) .ui5-form-item-layout,
	:host(:not([label-placement])) .ui5-form-item-layout {
		--ui5-form-item-layout: 1fr;
	}

	:host([label-placement="Auto"]) .ui5-form-item-label,
	:host(:not([label-placement])) .ui5-form-item-label,
	:host([label-placement="Auto"]) .ui5-form-item-label,
	:host(:not([label-placement])) .ui5-form-item-label,
	:host([label-placement="Auto"]) .ui5-form-item-label,
	:host(:not([label-placement])) .ui5-form-item-label,
	:host([label-placement="Auto"]) .ui5-form-item-label,
	:host(:not([label-placement])) .ui5-form-item-label {
		padding: 0.625rem 0.25rem 0 0.25rem;
		justify-self: start;
	}

	:host([label-placement="Auto"]) .ui5-form-item-content-child,
	:host(:not([label-placement])) .ui5-form-item-content-child,
	:host([label-placement="Auto"]) .ui5-form-item-content-child,
	:host(:not([label-placement])) .ui5-form-item-content-child,
	:host([label-placement="Auto"]) .ui5-form-item-content-child,
	:host(:not([label-placement])) .ui5-form-item-content-child,
	:host([label-placement="Auto"]) .ui5-form-item-content-child,
	:host(:not([label-placement])) .ui5-form-item-content-child {
		padding: 0 0.25rem;
	}
}


