/* S - breakpoint */
@container (max-width: 600px) {
	:host([label-span-s="12"]) .ui5-form-item,
	:host([label-span-s="12"]) .ui5-form-group {
		--ui5-form-item-label-alignment: start;
		--ui5-form-item-input-alignment: end;
	}
}

/* M  - breakpoint */
@container (width > 600px) and (width <=1024px) {
	:host([label-span-m="12"]) .ui5-form-item,
	:host([label-span-m="12"]) .ui5-form-group {
		--ui5-form-item-label-alignment: start;
		--ui5-form-item-input-alignment: end;
	}
}

/* L - breakpoint */
@container (width > 1024px) and (width <=1440px) {
	:host([label-span-l="12"]) .ui5-form-item,
	:host([label-span-l="12"]) .ui5-form-group {
		--ui5-form-item-label-alignment: start;
		--ui5-form-item-input-alignment: end;
	}
}

/* XL - breakpoint */
@container (min-width: 1441px) {
	:host([label-span-xl="12"]) .ui5-form-item,
	:host([label-span-xl="12"]) .ui5-form-group {
		--ui5-form-item-label-alignment: start;
		--ui5-form-item-input-alignment: end;
	}
}