.ui5-form-root {
	display: flex;
	flex-direction: column;
	background-color: var(--sapGroup_ContentBackground);
    border-radius: 0.75rem;
	container-type: inline-size;
}

.ui5-form-header {
	display: flex;
	height: 2.75rem;
	align-items: center;
	border-bottom: 1px solid var(--sapGroup_TitleBorderColor);
	padding: 0 1rem 0 1rem;
}

.ui5-form-layout {
	display: grid;
	column-gap: 0.5rem;
	row-gap: 0.125rem;
	padding: 1rem 0.75rem;
}

/* 
* The Form layout is divided into one or more columns. 
* XL - max. 4 columns, L - max. 3 columns, M - max. 2 columns and S - 1 column.
*/

/* S - 1 column */
@container (max-width: 599px) {
	.ui5-form-layout {
		grid-template-columns: 1fr;
	}

	::slotted() {
		justify-self: start;
	}
	::slotted(:nth-child(2n)){
		margin-bottom: 0.5rem;
	}
}

/* M  - 1 column by defaultm, up to 2 columns */
@container (width > 599px) and (width < 1022px) {
	.ui5-form-layout {
		grid-template-columns: 1fr;
	}

	:host([columns-m="1"]) .ui5-form-layout {
		grid-template-columns: 1fr;
	}
	:host([columns-m="2"]) .ui5-form-layout {
		grid-template-columns: 1fr 1fr;
	}
}

/* L - 2 columns by default, up to 3 columns */
@container (width > 1023px) and (width < 1439px) {

	.ui5-form-layout {
		grid-template-columns: 1fr 1fr;
	}

	:host([columns-l="1"]) .ui5-form-layout {
		grid-template-columns: 1fr;
	}
	:host([columns-l="2"]) .ui5-form-layout {
		grid-template-columns: 1fr 1fr;
	}
	:host([columns-l="3"]) .ui5-form-layout {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* XL - 2 columns by default, up to 4 */
@container (min-width: 1440px) {
	.ui5-form-layout {
		grid-template-columns: 1fr 1fr;
	}

	:host([columns-xl="1"]) .ui5-form-layout {
		grid-template-columns: 1fr;
	}
	:host([columns-xl="2"]) .ui5-form-layout {
		grid-template-columns: 1fr 1fr;
	}
	:host([columns-xl="3"]) .ui5-form-layout {
		grid-template-columns: 1fr 1fr 1fr;
	}
	:host([columns-xl="4"]) .ui5-form-layout {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
