/* .ui5-form-group-layout {
	display: grid;
} */

/* :host([cols-xl="1"]) .ui5-form-group-layout {
	grid-template-columns: 1fr;
}

:host([cols-xl="2"]) .ui5-form-group-layout {
	grid-template-columns: 1fr 1fr;
}

:host([cols-xl="3"]) .ui5-form-group-layout {
	grid-template-columns: 1fr 1fr 1fr;
}

:host([cols-xl="4"]) .ui5-form-group-layout {
	grid-template-columns: 1fr 1fr 1fr 1fr;
} */
