.ui5-form-item-root {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
}

.ui5-form-item-label {
	padding-inline-end: 0.85rem;
	justify-self: end;
}

.ui5-form-item-content {
	display: flex;
	flex-wrap: wrap;
}

.ui5-form-item-content-child {
	padding: 0 0.25rem;
	flex-shrink: 1;
}

:host([labelCells="12"]) .ui5-form-item-root {
	grid-template-columns: 1fr;
}

:host([labelCells="12"]) .ui5-form-item-label {
	justify-self: start;
}