:host {
	display: block;
    color: var(--sapList_TextColor);
    font: var(--sapFontSize) var(--sapFontFamily);
    background: var(--sapList_Background);
}

:host([hidden]) {
    display: none;
}

#grid {
    display: grid;
    grid-auto-rows: minmax(var(--_ui5_list_item_base_height), auto);
    background: var(--sapList_Background);
}

#nodata-cell {
    grid-column: 1 / -1;
    justify-content: center;
}