:host {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: minmax(var(--_ui5_list_item_base_height), auto);
    grid-column: 1 / -1;
    border-bottom: var(--_ui5_grid_row_border);
    background-color: var(--sapList_Background);
}