:host {
	display: block;
}

:host([hidden]) {
    display: none;
}

#grid {
    display: grid;
    grid-auto-rows: minmax(var(--_ui5_list_item_base_height), auto);
    background: var(--sapList_Background);
}