:host {
	display: block;
    color: var(--sapList_TextColor);
    font: var(--sapFontSize) var(--sapFontFamily);
    background: var(--sapList_Background);
    position: relative;
    overflow: auto;
}

:host([hidden]) {
    display: none;
}

#grid {
    display: grid;
    grid-auto-rows: minmax(min-content, auto);
    background: var(--sapList_Background);
}

#nodata-cell {
    grid-column: 1 / -1;
    justify-content: center;
}

#footer {
    grid-column: 1 / -1;
    grid-template-rows: subgrid;
    height: fit-content;
}

#growing-control-cell {
    grid-column: 1 / -1;
    justify-content: center;
    padding: 0;
    border-top: 1px solid var(--sapList_BorderColor);
    box-sizing: border-box;
}

#busy-indicator-row {
    position: absolute;
    left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	outline: none;
	z-index: 100;
}

#busy-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}