:host {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
    min-height: var(--_ui5_list_item_base_height);
}

:host(:focus[tabindex]) {
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
}

:host([aria-selected=true]) {
    background-color: var(--sapList_SelectionBackgroundColor);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
}

@media (hover: hover) {
    :host([_interactive]:hover) {
        background-color: var(--sapList_Hover_Background);
    }
}

:host([_interactive]:active) {
    background-color: var(--sapList_Active_Background);
}

#selection-cell {
    padding: 0;
}

#selection-component {
    vertical-align: middle;
}

#popin-cell {
    align-content: initial;
    flex-direction: column;
    grid-column: 1 / -1;
}