:host {
    display: flex;
    flex-wrap: wrap;
    align-content: var(--_ui5_grid_cell_valign);
    min-width: var(--_ui5_grid_cell_min_width);
    max-width: 100%;
    overflow: clip;
    overflow-clip-margin: content-box;
    padding: var(--_ui5_grid_cell_padding);
    box-sizing: border-box;
}

:host(:focus) {
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
}

:host(#selection-cell) {
    width: auto;
    min-width: auto;
}
:host([h-align="left"]) {
    --_ui5-grid-cell-base-hAlign: left;
}

:host([h-align="right"]) {
    --_ui5-grid-cell-base-hAlign: right;
}

:host([h-align="middle"]) {
    --_ui5-grid-cell-base-hAlign: center;
}

:host([h-align="end"]) {
    --_ui5-grid-cell-base-hAlign: end;
}

:host([h-align="center"]) {
    --_ui5-grid-cell-base-hAlign: center;
}