:host {
    display: flex;
    place-items: var(--_ui5_grid_cell_valign);
    flex-wrap: wrap;
    min-width: 0;
    overflow: clip;
    overflow-clip-margin: content-box;
    padding: var(--_ui5_grid_cell_padding);
    font: var(--sapFontSize) var(--sapFontSemiboldDuplexFamily);
    color: var(--sapList_HeaderTextColor);
}

:host([hidden]) {
    display: none;
}

:host(:focus-visible) {
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
}

:host(:empty) {
    padding: 0;
}