:host {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_HeaderBorderColor);
}

:host([hidden]) {
    display: none;
}

:host(:focus-visible) {
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
}

.selection-cell {
    padding: 0;
}

.selection-component {
    vertical-align: middle;
}