:host {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    background: var(--sapList_HeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_HeaderBorderColor);
    min-height: var(--_ui5_list_item_base_height);
}

:host([hidden]) {
    display: none;
}

:host(:focus[tabindex]) {
    outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
    outline-offset: calc(-1 * var(--sapContent_FocusWidth));
}

#selection-cell {
    padding: 0;
}

#selection-component {
    vertical-align: middle;
}

#popin-cell {
    padding: 0;
    width: 0;
}