:host([aria-selected=true]) {
	background-color: var(--sapList_SelectionBackgroundColor);
	border-bottom: var(--sapList_BorderWidth) solid var(--sapList_SelectionBorderColor);
}

:host([_interactive]) {
	cursor: pointer;
}

@media (hover: hover) {
	:host([_interactive]:hover) {
		background: var(--sapList_Hover_Background);
	}
	:host([_interactive][aria-selected=true]:hover) {
		background: var(--sapList_Hover_SelectionBackground);
	}
}

:host([_interactive]:active),
:host([_interactive][_active]),
:host([_interactive][aria-selected=true]:active),
:host([_interactive][aria-selected=true][_active]) {
	background: var(--sapList_Active_Background);
}

#popin-cell {
	align-content: initial;
	flex-direction: column;
	grid-column: 1 / -1;
}