:host {
    background: var(--sapList_HeaderBackground);
    grid-template-rows: var(--_ui5_list_item_base_height);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_HeaderBorderColor);
}

:host([hidden]) {
    display: none;
}

:host([sticky]) {
    position: sticky;
    top: 0;
    z-index: 1;
}

#popin-cell {
    padding: 0;
    width: 0;
}