/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "./InvisibleTextStyles.css";

:host {
	background: var(--ui5-group-header-listitem-background-color);
	border-bottom: 1px solid var(--sapList_TableGroupHeaderBorderColor);
	color: var(--sapList_TableGroupHeaderTextColor);
}

.ui5-li-root.ui5-ghli-root {
	padding-top: 1rem;
	color: currentColor;
	font-size: var(--sapMFontHeader6Size);
	font-weight: normal;
	line-height: 2rem;
}

.ui5-ghli-title {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
}
