.ui5-growing-button {
	display: flex;
	align-items: center;
	padding: var(--_ui5_load_more_padding);
	border-top: 1px solid var(--sapList_BorderColor);
	border-bottom: var(--_ui5_load_more_border-bottom);
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
}

.ui5-growing-button-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	min-height: var(--_ui5_load_more_text_height);
	width: 100%;
	color: var(--sapButton_TextColor);
	background-color: var(--sapList_Background);
	border: var(--_ui5_load_more_border);
	border-radius: var(--_ui5_load_more_border_radius);
	box-sizing: border-box;
}

.ui5-growing-button-inner:focus-visible {
	outline: var(--_ui5_load_more_outline_width) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
	border-color: transparent;
}

.ui5-growing-button-inner:hover {
	background-color: var(--sapList_Hover_Background);
}

.ui5-growing-button-inner:active,
.ui5-growing-button-inner.ui5-growing-button-inner--active {
	background-color: var(--sapList_Active_Background);
	border-color: var(--sapList_Active_Background);
}

.ui5-growing-button-inner:active > *,
.ui5-growing-button-inner.ui5-growing-button-inner--active > * {
	color: var(--sapList_Active_TextColor);
}

.ui5-growing-button-text {
	text-align: center;
	font-family: var(--sapFontFamily);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

.ui5-growing-button-text {
	height: var(--_ui5_load_more_text_height);
	padding: 0.875rem 1rem 1rem;
	font-size: var(--_ui5_load_more_text_font_size);
	font-weight: bold;
}

:host([loading]) .ui5-list-growing-button-busy-indicator:not([_is-busy]) {
	display: none;
}

:host([loading]) .ui5-list-growing-button-busy-indicator[_is-busy] + .ui5-growing-button-text {
	padding-left: 0.5rem;
}
