:host(:not([hidden])) {
	display: inline-block;
	outline: none;
	color: var(--sapUiContentNonInteractiveIconColor);
	font-size: var(--sapUiFontSize);
}

ui5-icon:not([hidden]) {
	display: inline-block;
	outline: none;
	color: var(--sapUiContentNonInteractiveIconColor);
	font-size: var(--sapUiFontSize);
}

.sapWCIcon {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border-style: none;
	pointer-events: none;
}

.sapWCIcon:before {
	content: attr(data-sap-ui-icon-content);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

[dir=rtl].sapWCIconMirrorInRTL:not(.sapWCIconSuppressMirrorInRTL):before,
[dir=rtl].sapWCIconMirrorInRTL:not(.sapWCIconSuppressMirrorInRTL):after {
	transform: scale(-1, 1);
}
