:host(:not([hidden])) {
	display: inline-block;
}

:host(:not([hidden]).ui5_hovered) {
	opacity: .7;
}

:host {
	width: 1rem;
	height: 1rem;
	color: var(--sapContent_NonInteractiveIconColor);
	fill: currentColor;
	outline: none;
}

:host(:not([dir="ltr"])) .ui5-icon-root[dir=rtl] {
	transform: scale(-1, -1);
}

.ui5-icon-root {
	display:flex;
	transform: scale(1, -1);
}
