:host {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	color: var(--sapUiContentNonInteractiveIconColor);
	fill: currentColor;
	outline: none;
}

ui5-icon-svg {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	color: var(--sapUiContentNonInteractiveIconColor);
	fill: currentColor;
	outline: none;
}

.ui5-icon-root {
	display:flex;
	transform: scale(1, -1);
}

.ui5-icon-root[dir=rtl] {
	transform: scale(-1, -1);
}