/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
	This CSS file enables visual alignment of all icons within input elements.
	API:
	- add input-icon attribute to an icon
	- [Optional] pressed attribute set to the icon will enable additional styling (check MultiComboBox, Select, etc.)
*/

[input-icon] {
	color: var(--sapContent_IconColor);
	cursor: pointer;
	outline: none;
	padding: var(--_ui5_input_icon_padding);
	border-left: 1px solid transparent;
	min-width: 1rem;
	min-height: 1rem;
}

[input-icon][pressed] {
	background: var(--sapButton_Selected_Background);
	color: var(--sapButton_Active_TextColor);
}

[input-icon]:active {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}

[input-icon]:not([pressed]):not(:active):hover {
	background: var(--sapButton_Lite_Hover_Background);
}

[input-icon]:hover {
	border-left: var(--_ui5_select_hover_icon_left_border);
}

[input-icon][dir="rtl"]:hover {
	border-left: none;
	border-right: var(--_ui5_select_hover_icon_left_border);
}

[input-icon][dir="rtl"] {
	border-left: none;
	border-right: 1px solid transparent;
}