.ui5-input-icon,
::slotted([ui5-icon][slot="icon"]) {
	color: var(--_ui5_input_icon_color);
	cursor: pointer;
	outline: none;
	padding: var(--_ui5_input_icon_padding);
	padding-block: 0;
	height: 100%;
	border-inline-start: var(--_ui5_input_icon_border);
	min-width: 1rem;
	min-height: 1rem;
	border-radius: var(--_ui5_input_icon_border_radius);
	align-self: center;
}

.ui5-input-icon:hover,
::slotted([ui5-icon][slot="icon"]:hover) {
	background: var(--_ui5_input_icon_hover_bg);
	box-shadow: var(--_ui5_input_icon_box_shadow);
	border-inline-start: var(--_ui5_select_hover_icon_left_border);
}

.ui5-input-icon:is(:active, [pressed]),
::slotted([ui5-icon][slot="icon"]:is(:active, [pressed])) {
	background-color: var(--sapField_BackgroundStyle);
	box-shadow: var(--_ui5_input_icon_box_shadow);
	border-inline-start: var(--_ui5_select_hover_icon_left_border);
	color: var(--_ui5_input_icon_pressed_color);
}

:host([value-state="Negative"]) .ui5-input-icon:hover,
:host([value-state="Negative"]) ::slotted([ui5-icon][slot="icon"]:hover) {
	box-shadow: var(--_ui5_input_error_icon_box_shadow);
}

:host([value-state="Critical"]) .ui5-input-icon:hover,
:host([value-state="Critical"]) ::slotted([ui5-icon][slot="icon"]:hover) {
	box-shadow: var(--_ui5_input_warning_icon_box_shadow);
}

:host([value-state="Information"]) .ui5-input-icon:hover,
:host([value-state="Information"]) ::slotted([ui5-icon][slot="icon"]:hover) {
	box-shadow: var(--_ui5_input_information_icon_box_shadow);
}

:host([value-state="Positive"]) .ui5-input-icon:hover,
:host([value-state="Positive"]) ::slotted([ui5-icon][slot="icon"]:hover) {
	box-shadow: var(--_ui5_input_success_icon_box_shadow);
}

:host([value-state="Negative"]) .ui5-input-icon:is(:active, [pressed]),
:host([value-state="Negative"]) ::slotted([ui5-icon][slot="icon"]:is(:active, [pressed])) {
	box-shadow: var(--_ui5_input_error_icon_box_shadow);
	color: var(--_ui5_input_icon_error_pressed_color);
}

:host([value-state="Critical"]) .ui5-input-icon:is(:active, [pressed]),
:host([value-state="Critical"]) ::slotted([ui5-icon][slot="icon"]:is(:active, [pressed])) {
	box-shadow: var(--_ui5_input_warning_icon_box_shadow);
	color: var(--_ui5_input_icon_warning_pressed_color);
}

:host([value-state="Information"]) .ui5-input-icon:is(:active, [pressed]),
:host([value-state="Information"]) ::slotted([ui5-icon][slot="icon"]:is(:active, [pressed])) {
	box-shadow: var(--_ui5_input_information_icon_box_shadow);
	color: var(--_ui5_input_icon_information_pressed_color);
}

:host([value-state="Positive"]) .ui5-input-icon:is(:active, [pressed]),
:host([value-state="Positive"]) ::slotted([ui5-icon][slot="icon"]:is(:active, [pressed])) {
	box-shadow: var(--_ui5_input_success_icon_box_shadow);
	color: var(--_ui5_input_icon_success_pressed_color);
}

:host([value-state="Negative"][focused]) .ui5-input-icon,
:host([value-state="Negative"][focused]) ::slotted([ui5-icon][slot="icon"]),
:host([value-state="Critical"][focused]) .ui5-input-icon,
:host([value-state="Critical"][focused]) ::slotted([ui5-icon][slot="icon"]),
:host([value-state="Information"][focused]) .ui5-input-icon,
:host([value-state="Information"][focused]) ::slotted([ui5-icon][slot="icon"]) {
	padding-bottom:1px;
	/* padding: var(--_ui5_input_information_error_warning_custom_focused_icon_padding); */
}

:host([value-state="Negative"]) .ui5-input-icon,
:host([value-state="Negative"]) ::slotted([ui5-icon][slot="icon"]),
:host([value-state="Critical"]) .ui5-input-icon,
:host([value-state="Critical"]) ::slotted([ui5-icon][slot="icon"]),
:host([value-state="Information"]) .ui5-input-icon,
:host([value-state="Information"]) ::slotted([ui5-icon][slot="icon"]) {
	/* padding: var(--_ui5_input_information_error_warning_custom_icon_padding); */
}

/* Input Icon */
.ui5-input-icon-root,
.ui5-input-clear-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-bottom: 1px;
}

.ui5-input-icon-root {
	min-width: var(--_ui5_input_icon_min_width);
}

:host([value-state="Negative"]),
:host([value-state="Critical"]),
:host([value-state="Information"]) {
	.ui5-input-icon-root,
	.ui5-input-clear-icon-wrapper {
		margin-bottom: 2px;
	}
}

:host([value-state="Negative"][focused]),
:host([value-state="Critical"][focused]),
:host([value-state="Information"][focused]) {
	.ui5-input-icon-root,
	.ui5-input-clear-icon-wrapper {
		margin-bottom: 1px;
	}
}

.ui5-input-clear-icon-wrapper {
	width: var(--_ui5_input_icon_width);
	min-width: var(--_ui5_input_icon_width);
}