:host(ui5-input:not([hidden])) {
	display: inline-block;
	width: 100%;
}

ui5-input:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.sapWCInputBase {
	height: var(--_ui5_input_height);
	background: transparent;
	position: relative;
	display: inline-block;
	vertical-align: top;
	outline: none;
	box-sizing: border-box;
	line-height: 0;
}

.sapWCInputBase.sapWCFocus .sapWCInputBaseContentWrapper::after {
	content: "";
	position: absolute;
	border: var(--_ui5_input_focus_border_width) dotted var(--sapUiContentFocusColor);
	pointer-events: none;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}

.sapWCInputBase.sapWCInputBaseDisabled {
	opacity: var(--sap_wc_input_disabled_opacity);
	cursor: default;
}

.sapWCInputBaseInner {
	background: transparent;
	border: none;
	font-style: normal;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	font-size: var(--sapMFontMediumSize);
	font-family: var(--sapUiFontFamily);
	color: var(--sapUiFieldTextColor);
	line-height: normal;
	padding: 0 0.75rem;
	box-sizing: border-box;
	min-width: 3rem;
	text-overflow: ellipsis;
	flex: 1;
	outline: none;
}

.sapWCInputBaseInner::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: var(--sapUiFieldPlaceholderTextColor);
}

.sapWCInputBaseInner::-moz-placeholder {
	/* Firefox 19+ */
	color: var(--sapUiFieldPlaceholderTextColor);
}

.sapWCInputBaseInner:-ms-input-placeholder {
	/* IE 10+ */
	color: var(--sapUiFieldPlaceholderTextColor);
}

.sapWCInputBaseInner:-moz-placeholder {
	/* Firefox 18- */
	color: var(--sapUiFieldPlaceholderTextColor);
}

.sapWCInputBaseContentWrapper {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	position: relative;
	overflow: hidden;
	outline: none;
	background-color: var(--sapUiFieldBackground);
	border: 1px solid var(--sapUiFieldBorderColor);
	border-radius: var(--_ui5_input_wrapper_border_radius);
}

.sapWCInputBaseContentWrapper.sapWCInputBaseDisabledWrapper {
	pointer-events: none;
}

.sapWCInputBaseContentWrapper.sapWCInputBaseReadonlyWrapper {
	border-color: var(--sapUiFieldReadOnlyBorderColor);
	background: var(--sapUiFieldReadOnlyBackground);
}

.sapWCInputBaseContentWrapper:hover:not(.sapWCInputBaseContentWrapperError):not(.sapWCInputBaseContentWrapperWarning):not(.sapWCInputBaseContentWrapperSuccess):not(.sapWCInputBaseDisabledWrapper):not(.sapWCInputBaseReadonlyWrapper) {
	background-color: var(--sapUiFieldHoverBackground);
	border: 1px solid var(--sapUiFieldHoverBorderColor);
}

.sapWCInputBaseDisabledWrapper {
	background: var(--sapUiFieldReadOnlyBackground);
	border-color: var(--sapUiFieldReadOnlyBorderColor);
	-webkit-text-fill-color: var(--sapUiContentDisabledTextColor);

}

.sapWCInputBaseDisabledWrapper .sapWCInputBaseInner {
	color: var(--sapUiContentDisabledTextColor);
}

.sapWCInputBaseContentWrapperState {
	border-width: var(--_ui5_input_state_border_width);
}

.sapWCInputBaseContentWrapperError .sapWCInputBaseInner,
.sapWCInputBaseContentWrapperWarning .sapWCInputBaseInner {
	font-style: var(--_ui5_input_error_warning_font_style);
}

.sapWCInputBaseContentWrapperError .sapWCInputBaseInner {
	font-weight: var(--_ui5_input_error_font_weight);
}

.sapWCInputBaseContentWrapperError:not(.sapWCInputBaseReadonlyWrapper) {
	background-color: var(--sapUiFieldInvalidBackground);
	border-color: var(--sapUiFieldInvalidColor);
}

.sapWCInputBaseContentWrapperError:not(.sapWCInputBaseReadonlyWrapper):not(.sapWCInputBaseDisabledWrapper),
.sapWCInputBaseContentWrapperWarning:not(.sapWCInputBaseReadonlyWrapper):not(.sapWCInputBaseDisabledWrapper) {
	border-style: var(--_ui5_input_error_warning_border_style);
}

.sapWCInputBaseContentWrapperWarning:not(.sapWCInputBaseReadonlyWrapper) {
	background-color: var(--sapUiFieldWarningBackground);
	border-color: var(--sapUiFieldWarningColor);
}

.sapWCInputBaseContentWrapperSuccess:not(.sapWCInputBaseReadonlyWrapper) {
	background-color: var(--sapUiFieldSuccessBackground);
	border-color: var(--sapUiFieldSuccessColor);
}

/* Remove IE's defaut clear button */
.sapWCInputBaseInner::-ms-clear {
	height: 0;
	width: 0;
}

.sapUiSizeCompact.sapWCInputBase {
	height: var(--_ui5_input_compact_height);
}

.sapUiSizeCompact .sapWCInputBaseInner {
	padding: 0 0.5rem;
}

/* Input Icon */

.sapWCInputIconRoot {
	min-width: var(--sap_wc_input_icon_min_width);
	width: var(--sap_wc_input_icon_min_width);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

:host([data-ui5-compact-size]) .sapWCInputIconRoot {
	min-width: var(--sap_wc_input_compact_min_width);
	width: var(--sap_wc_input_compact_min_width);
}

:host ::slotted(ui5-icon) {
	padding: .5625rem .6875rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

:host([data-ui5-compact-size]) ::slotted(ui5-icon) {
	padding: .25rem .5rem;
}

/* Remove that after ShadyCSS adoption */

ui5-input[data-ui5-compact-size] .sapWCInputIconRoot {
	min-width: var(--sap_wc_input_compact_min_width);
	width: var(--sap_wc_input_compact_min_width);
}

ui5-input ui5-icon {
	padding: .5625rem .6875rem;
	width: 100%;
	height: 100%;
}

ui5-input[data-ui5-compact-size] ui5-icon {
	padding: .25rem .5rem;
}
