:host(:not([hidden])) {
	display: inline-flex;
}

:host {
	max-width: 100%;
	color: var(--sapContent_LabelColor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	font-weight: normal;
	cursor: text;
}

.ui5-label-root {
	width: 100%;
}

:host(:not([wrap])) .ui5-label-root {
	font-weight: inherit;
	display: inline-block;
	white-space: nowrap;
	cursor: inherit;
	overflow: hidden;
}

bdi {
	content: "";
	padding-right: 0.15625rem;
}

:host(:not([wrap])) .ui5-label-text-wrapper {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
}

:host(:not([wrap])[required][show-colon]) .ui5-label-text-wrapper {
	max-width: calc(100% - .85rem);
}

:host(:not([wrap])[required]) .ui5-label-text-wrapper {
	max-width: calc(100% - 0.475rem);
}

:host(:not([wrap])[show-colon]) .ui5-label-text-wrapper {
	max-width: calc(100% - 0.2rem);
}

:host([show-colon]) .ui5-label-required-colon:before {
	content: ":";
}

:host([required]) .ui5-label-required-colon:after {
	content:"*";
	color: var(--sapField_RequiredColor);
	font-size: 1.25rem;
	font-weight: bold;
	position: relative;
	font-style: normal;
	vertical-align: middle;
	line-height: 0;
}

:host([required][show-colon]) .ui5-label-required-colon:after {
	margin-right: 0;
	margin-left: .125rem;
}

:host([required][show-colon]) [dir="rtl"] .ui5-label-required-colon:after {
	margin-right: .125rem;
	margin-left: 0;
}
