:host(ui5-label:not([hidden])) {
	display: inline-flex;
	max-width: 100%;
	cursor: text;
}

ui5-label:not([hidden]) {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	cursor: text;
}

.sapMLabel {
	display: inline-block;
	width: 100%;
	color: var(--sapUiContentLabelColor);
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
	font-weight: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: inherit;
}

.sapMLabel.sapMLabelWrapped {
	white-space: normal;
	line-height: 1.4rem;
}

.sapMLabel.sapMLabelRequired:before {
	position: relative;
	height: 100%;
	display: inline-flex;
	align-items: flex-start;
	content:"*";
	color: var(--sapUiFieldRequiredColor);
	font-size: 1.25rem;
	font-weight: bold;
}
