@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-flex;
}

:host {
	max-width: 100%;
	color: var(--sapLinkColor);
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	cursor: pointer;
	outline: none;
}

:host([disabled]) {
	pointer-events: none;
}

:host(:not([disabled])) .ui5-link-root:hover {
	text-decoration: underline;
	color: var(--sapLinkColor);
}

:host([disabled]) .ui5-link-root {
	text-shadow: none;
	outline: none;
	cursor: default;
	pointer-events: none;
	opacity: var(--_ui5_link_opacity);
}

:host([design="Emphasized"]) .ui5-link-root {
	font-weight: bold;
}

:host([design="Subtle"]) .ui5-link-root,
:host([design="Subtle"]) .ui5-link-root:visited {
	color: var(--sapLink_SubtleColor);
}

:host([design="Subtle"]) .ui5-link-root:focus {
	color: var(--sapLinkColor);
}

:host([wrap]) .ui5-link-root {
	white-space: normal;
	word-wrap: break-word;
}

.ui5-link-root {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	text-decoration: none;
	outline: none;
}

.ui5-link-root,
.ui5-link-root:visited,
.ui5-link-root:active {
	color: currentColor;
}

.ui5-link-root:focus {
	outline-offset: -1px;
	outline: 1px dotted var(--sapContent_FocusColor);
	text-decoration: underline;
}
