:host(:not([hidden])) {
	display: block;
}

:host {
	height: 3rem;
	background: var(--ui5-listitem-background-color);
	box-sizing: border-box;
}

:host([has-border]) {
	border-bottom: var(--ui5-listitem-border-bottom);
}

.ui5-li-root {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 1rem 0 1rem;
	box-sizing: border-box;
}

.ui5-li-root.ui5-li--focusable:focus {
	outline: none;
}

.ui5-li-root.ui5-li--focusable:focus:after,
.ui5-li-root.ui5-li--focusable .ui5-li-content:focus:after {
	content: "";
	border: var(--_ui5_listitembase_focus_width) dotted var(--sapUiContentFocusColor);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.ui5-li-content {
	max-width: 100%;
	min-height: 100%;
	font-family: var(--sapUiFontFamily);
}

/* Compact size */
:host([data-ui5-compact-size]) {
	height: 2rem;
}

/*
 * IE pair of styles
 * to be removed later on
 */

/* ui5-li */
ui5-li:not([hidden]) {
	display: block;
}

ui5-li {
	height: 3rem;
	background: var(--ui5-listitem-background-color);
	box-sizing: border-box;
}

ui5-li[has-border] {
	border-bottom: var(--ui5-listitem-border-bottom);
}

ui5-li[data-ui5-compact-size] {
	height: 2rem;
}

/* ui5-li-custom */
ui5-li-custom:not([hidden]) {
	display: block;
}

ui5-li-custom {
	height: 3rem;
	background: var(--ui5-listitem-background-color);
	box-sizing: border-box;
}

ui5-li-custom[has-border] {
	border-bottom: var(--ui5-listitem-border-bottom);
}

ui5-li-custom[data-ui5-compact-size] {
	height: 2rem;
}

/* ui5-li-groupheader */
ui5-li-groupheader:not([hidden]) {
	display: block;
}

ui5-li-groupheader {
	height: 3rem;
	background: var(--ui5-listitem-background-color);
	box-sizing: border-box;
}

ui5-li-groupheader[has-border] {
	border-bottom: var(--ui5-listitem-border-bottom);
}

ui5-li-groupheader[data-ui5-compact-size] {
	height: 2rem;
}