@import "./InvisibleTextStyles.css";

/* navigated */
:host([navigated]) .ui5-li-root .ui5-li-navigated {
	width: 0.1875rem;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: var(--sapList_SelectionBorderColor);
}

/* active */
:host([active][actionable]) .ui5-li-root .ui5-li-icon {
	color: var(--sapList_Active_TextColor);
}

/* [ui5-li]: title, description, additionalTextState */
:host([active][actionable]) .ui5-li-title,
:host([active][actionable]) .ui5-li-desc,
:host([active][actionable]) .ui5-li-additional-text {
	color: var(--sapList_Active_TextColor);
}

:host([active][actionable]) .ui5-li-additional-text {
	text-shadow: none;
}

/* [ui5-li]: additionalTextState */
:host([additional-text-state="Critical"]) .ui5-li-additional-text,
:host([additional-text-state="Critical"]) ::slotted([slot="expandableAdditionalText"]) {
	color: var(--sapCriticalTextColor);
}

:host([additional-text-state="Positive"]) .ui5-li-additional-text,
:host([additional-text-state="Positive"]) ::slotted([slot="expandableAdditionalText"]) {
	color: var(--sapPositiveTextColor);
}

:host([additional-text-state="Negative"]) .ui5-li-additional-text,
:host([additional-text-state="Negative"]) ::slotted([slot="expandableAdditionalText"]) {
	color: var(--sapNegativeTextColor);
}

:host([additional-text-state="Information"]) .ui5-li-additional-text,
:host([additional-text-state="Information"]) ::slotted([slot="expandableAdditionalText"]) {
	color: var(--sapInformativeTextColor);
}

/* [ui5-li]: item with title and description */
:host([has-title][has-description]) {
	min-height: 5rem;
}

:host([has-title][image]) {
	min-height: 5rem;
}

:host([_has-image]) {
	min-height: 5rem;
}

:host([image]) .ui5-li-content {
	min-height: 3rem;
}

::slotted(img[slot="image"]) {
	width: var(--_ui5_list_item_img_size);
	height: var(--_ui5_list_item_img_size);
	border-radius: var(--ui5-avatar-border-radius);
	object-fit: contain
}

:host([has-description]) .ui5-li-root {
	padding: 1rem;
}

:host([has-description]) .ui5-li-content {
	min-height: 3rem;
}

:host([has-title][has-description]) .ui5-li-title {
	padding-bottom: 0.375rem;
}

:host([has-title][has-description][has-expandable-content]) .ui5-li-title {
	padding-bottom: 0.75rem;
}

.ui5-li-text-wrapper {
	flex-direction: column;
}

:host([has-description]) .ui5-li-text-wrapper {
	height: 100%;
	justify-content: space-between;
	padding: 0.125rem 0;
}

.ui5-li-description-info-wrapper {
	display: flex;
	justify-content: space-between;
	/* The ui5-li-additional-text element has a margin of 0.25rem on each side,
	totaling 1rem as per the specification */
	column-gap: .75rem;
}

.ui5-li-description-info-wrapper.ui5-li-description-info-wrapper--column {
	flex-direction: column;
	row-gap: .5rem;
}

.ui5-li-additional-text,
:host(:not([wrapping-type="Normal"])) .ui5-li-title,
.ui5-li-desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

:host([wrapping-type="Normal"]) {
	height: auto;
}

:host([wrapping-type="Normal"]) .ui5-li-content {
	margin: var(--_ui5_list_item_content_vertical_offset) 0;
}

.ui5-li-desc {
	color: var(--sapContent_LabelColor);
	font-size: var(--sapFontSize);
}

:host([has-description]) .ui5-li-additional-text {
	align-self: flex-end;
}

/* when both description and additional text are present */
/* allocate 60% of the space for description and 40% for additional text */
:host([has-description][has-additional-text]) {
	.ui5-li-desc {
		flex: 3;
	}

	.ui5-li-additional-text {
		flex: 2;
	}
}

.ui5-li-image {
	min-width: var(--_ui5_list_item_img_size);
	min-height: var(--_ui5_list_item_img_size);
	margin-top: var(--_ui5_list_item_img_top_margin);
	margin-bottom: var(--_ui5_list_item_img_bottom_margin);
	margin-inline-end: var(--_ui5_list_item_img_hn_margin);
}

.ui5-li-icon {
	min-width: var(--_ui5_list_item_icon_size);
	min-height: var(--_ui5_list_item_icon_size);
	color: var(--sapContent_NonInteractiveIconColor);
	padding-inline-end: var(--_ui5_list_item_icon_padding-inline-end);
}

.ui5-li-detailbtn,
.ui5-li-deletebtn {
	display: flex;
	align-items: center;
	margin-left: var(--_ui5_list_buttons_left_space);
}

.ui5-li-multisel-cb,
.ui5-li-singlesel-radiobtn {
	flex-shrink: 0;
}

:host([has-description]) .ui5-li-singlesel-radiobtn {
	align-self: flex-start;
	margin-top: var(--_ui5_list_item_selection_btn_margin_top);
}

:host([has-description]) .ui5-li-multisel-cb {
	align-self: flex-start;
	margin-top: var(--_ui5_list_item_selection_btn_margin_top);
}

:host([_selection-mode="SingleStart"]) .ui5-li-root {
	padding-inline: 0 1rem;
}

:host([_selection-mode="Multiple"]) .ui5-li-root {
	padding-inline: 0 1rem;
}

:host([_selection-mode="SingleEnd"]) .ui5-li-root {
	padding-inline: 1rem 0;
}

:host [ui5-checkbox].ui5-li-singlesel-radiobtn {
	margin-right: var(--_ui5_list_item_cb_margin_right);
}

/* highlight */
.ui5-li-highlight {
	position: absolute;
	width: 0.375rem;
	bottom: 0;
	left: 0;
	top: 0;
	border-inline-end: 0.0625rem solid var(--ui5-listitem-background-color);
	box-sizing: border-box;
}

:host([highlight="Negative"]) .ui5-li-highlight {
	background: var(--sapNegativeTextColor);
}

:host([highlight="Critical"]) .ui5-li-highlight {
	background: var(--sapCriticalTextColor);
}

:host([highlight="Positive"]) .ui5-li-highlight {
	background: var(--sapPositiveTextColor);
}

:host([highlight="Information"]) .ui5-li-highlight {
	background: var(--sapInformativeTextColor);
}

/* expandable content */
:host([has-expandable-content]) {
	height: auto;
}

:host([has-expandable-content]) .ui5-li-root {
	min-height: var(--_ui5_list_item_base_height);
}

:host([has-expandable-content]) .ui5-li-icon,
:host([has-expandable-content][_has-image]) .ui5-li-image {
	display: flex;
	align-self: flex-start;
}

:host([has-expandable-content]) .ui5-li-icon {
	margin-top: .5rem;
}

:host([has-expandable-content]) .ui5-li-detailbtn,
:host([has-expandable-content]) .ui5-li-deletebtn {
	padding-left: .875rem;
}