:host([data-ui5-compact-size][has-title][description]),
:host([has-title][description]) {
	height: 5rem;
}

:host([data-ui5-compact-size][has-title][description]) .ui5-li-title,
:host([has-title][description]) .ui5-li-title {
	padding-bottom: 0.375rem;
}

:host([active][actionable]) .ui5-li-title,
:host([active][actionable]) .ui5-li-desc,
:host([active][actionable]) .ui5-li-info {
	color: var(--sapUiListActiveTextColor);
}

:host([info-state="Warning"]) .ui5-li-info {
	color: var(--sapUiCriticalText);
}

:host([info-state="Success"]) .ui5-li-info {
	color: var(--sapUiPositiveText);
}

:host([info-state="Error"]) .ui5-li-info {
	color: var(--sapUiNegativeText);
}

.ui5-li-title-wrapper {
	display: flex;
	flex-direction: column;
	flex: auto;
	min-width: 1px;
	line-height: normal;
}

.ui5-li-title {
	color: var(--sapUiListTextColor);
	font-size: var(--sapMFontLargeSize);
}

.ui5-li-title,
.ui5-li-desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-li-desc {
	color: var(--sapUiContentLabelColor);
	font-size: var(--sapMFontMediumSize);
}

.ui5-li-info {
	margin: 0 0.25rem;
	color: var(--sapUiNeutralText);
	font-size: 0.875rem;
	flex-shrink: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui5-li-img {
	width: 2rem;
	margin: 0.5rem 0.75rem 0.5rem 0rem;
	height: 2rem;
}

.ui5-li-content {
	display: flex;
	align-items: center;
	flex: auto;
	-webkit-box-flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-li-deletebtn {
	display: flex;
	align-items: center;
}

/* Compact size */
:host([data-ui5-compact-size]) {
	height: 2rem;
}

:host([data-ui5-compact-size]) .ui5-li-title {
	height: 2rem;
	line-height: 2rem;
	font-size: var(--sapMFontMediumSize);
}

:host([data-ui5-compact-size]:not([has-title]):not([description])) .ui5-li-img {
	width: 1.75rem;
	height: 1.75rem;
	margin-top: 0.55rem;
}

:host([data-ui5-compact-size]) ui5-checkbox.ui5-li-singlesel-radiobtn {
	margin-right: 0.5rem;
}

/*
 * IE pair of styles
 * to be removed later on
 */

 /* standard li */
ui5-li[data-ui5-compact-size][has-title][description],
ui5-li[has-title][description] {
	height: 5rem;
}

ui5-li[data-ui5-compact-size][has-title][description] .ui5-li-title,
ui5-li[has-title][description] .ui5-li-title {
	padding-bottom: 0.375rem;
}

ui5-li[active][actionable] .ui5-li-title,
ui5-li[active][actionable] .ui5-li-desc,
ui5-li[active][actionable] .ui5-li-info {
	color: var(--sapUiListActiveTextColor);
}

ui5-li[info-state="Warning"] .ui5-li-info {
	color: var(--sapUiCriticalText);
}

ui5-li[info-state="Success"] .ui5-li-info {
	color: var(--sapUiPositiveText);
}

ui5-li[info-state="Error"] .ui5-li-info {
	color: var(--sapUiNegativeText);
}

/* custom li */
ui5-li-custom[data-ui5-compact-size][has-title][description],
ui5-li-custom[has-title][description] {
	height: 5rem;
}

ui5-li-custom[data-ui5-compact-size][has-title][description] .ui5-li-title,
ui5-li-custom[has-title][description] .ui5-li-title {
	padding-bottom: 0.375rem;
}

ui5-li-custom[active][actionable] .ui5-li-title,
ui5-li-custom[active][actionable] .ui5-li-desc,
ui5-li-custom[active][actionable] .ui5-li-info {
	color: var(--sapUiListActiveTextColor);
}

ui5-li-custom[info-state="Warning"] .ui5-li-info {
	color: var(--sapUiCriticalText);
}

ui5-li-custom[info-state="Success"] .ui5-li-info {
	color: var(--sapUiPositiveText);
}

ui5-li-custom[info-state="Error"] .ui5-li-info {
	color: var(--sapUiNegativeText);
}

/* Compact size */
ui5-li[data-ui5-compact-size]:not([has-title]):not([description]) {
	height: 2rem;
}

ui5-li-custom[data-ui5-compact-size]:not([has-title]):not([description]) {
	height: 2rem;
}

ui5-li[data-ui5-compact-size]:not([has-title]):not([description]) .ui5-li-title {
	height: 2rem;
	line-height: 2rem;
	font-size: var(--sapMFontMediumSize);
}

ui5-li-custom[data-ui5-compact-size]:not([has-title]):not([description]) .ui5-li-title {
	height: 2rem;
	line-height: 2rem;
	font-size: var(--sapMFontMediumSize);
}

ui5-li[data-ui5-compact-size]:not([has-title]):not([description]) .ui5-li-img {
	width: 1.75rem;
	height: 1.75rem;
	margin-top: 0.55rem;
}

ui5-li-custom[data-ui5-compact-size]:not([has-title]):not([description]) .ui5-li-img {
	width: 1.75rem;
	height: 1.75rem;
	margin-top: 0.55rem;
}

ui5-li[data-ui5-compact-size] ui5-checkbox.ui5-li-singlesel-radiobtn {
	margin-right: 0.5rem;
}

ui5-li-custom[data-ui5-compact-size] ui5-checkbox.ui5-li-singlesel-radiobtn {
	margin-right: 0.5rem;
}