@import "./InvisibleTextStyles.css";

/* actionable (type="Active" + desktop) */
:host([actionable]) {
	cursor: pointer;
}

/* selected and hovered */
:host([selected][actionable]:not([active]):hover) {
	background : var(--sapList_Hover_SelectionBackground);
}

/* selected and active */
:host([active][actionable]),
:host([selected][active][actionable]) {
	background: var(--sapList_Active_Background);
}

/* hovered */
:host([actionable]:not([active]):not([selected]):hover) {
	background : var(--sapList_Hover_Background);
}

/* focused */
:host([active][actionable]) .ui5-li-root.ui5-li--focusable:focus,
:host([active][actionable]) .ui5-li-root.ui5-li--focusable .ui5-li-content:focus {
	outline-color: var(--sapContent_ContrastFocusColor);
}

/* active */
:host([active][actionable]) .ui5-li-root .ui5-li-icon {
	color: var(--sapList_Active_TextColor);
}

/* [ui5-li]: title, description, info state */
:host([active][actionable]) .ui5-li-title,
:host([active][actionable]) .ui5-li-desc,
:host([active][actionable]) .ui5-li-info {
	color: var(--sapList_Active_TextColor);
}

/* [ui5-li]: infoState */
:host([info-state="Warning"]) .ui5-li-info {
	color: var(--sapCriticalTextColor);
}

:host([info-state="Success"]) .ui5-li-info {
	color: var(--sapPositiveTextColor);
}

:host([info-state="Error"]) .ui5-li-info {
	color: var(--sapNegativeTextColor);
}

:host([info-state="Information"]) .ui5-li-info {
	color: var(--sapInformativeTextColor);
}

/* [ui5-li]: item with title and description */
:host([has-title][description]) {
	height: 5rem;
}

:host([has-title][image]) {
	height: 5rem;
}

:host([image]) .ui5-li-content {
	height: 3rem;;
}

:host([description]) .ui5-li-content {
	height: 3rem;;
}

:host([has-title][description]) .ui5-li-title {
	padding-bottom: 0.375rem;
}

.ui5-li-title-wrapper {
	display: flex;
	flex-direction: column;
	flex: auto;
	min-width: 1px;
	line-height: normal;
}

:host([description]) .ui5-li-title-wrapper {
	height: 100%;
	justify-content: space-between;
	padding: 0.125rem 0;
}

.ui5-li-title {
	color: var(--sapTextColor);
	font-size: var(--_ui5_list_item_title_size);
}

.ui5-li-title,
.ui5-li-desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-li-desc {
	color: var(--sapContent_LabelColor);
	font-size: var(--sapFontSize);
}

.ui5-li-info {
	margin: 0 0.25rem;
	color: var(--sapNeutralTextColor);
	font-size: 0.875rem;
	flex-shrink: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

:host([description]) .ui5-li-info {
	align-self: flex-end;
}

.ui5-li-img {
	width: var(--_ui5_list_item_img_size);
	min-width: var(--_ui5_list_item_img_size);
	height: var(--_ui5_list_item_img_size);
	min-height: var(--_ui5_list_item_img_size);
	margin: var(--_ui5_list_item_img_margin);
	border-radius: 0.25rem;
}

.ui5-li-icon {
	min-width: var(--_ui5_list_item_icon_size);
	min-height: var(--_ui5_list_item_icon_size);
	color: var(--sapContent_NonInteractiveIconColor);
	padding-right: 0.5rem;
}

.ui5-li-content {
	display: flex;
	align-items: center;
	flex: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none; /* IE specific */
}

.ui5-li-deletebtn {
	display: flex;
	align-items: center;
}

.ui5-li-multisel-cb,
.ui5-li-singlesel-radiobtn {
	flex-shrink: 0;
}

:host [ui5-checkbox].ui5-li-singlesel-radiobtn {
	margin-right: var(--_ui5_list_item_cb_margin_right);
}

/* RTL */
:host [dir="rtl"] .ui5-li-icon {
	padding-left: 0.5rem;
	padding-right: 0;
}

:host [dir="rtl"] .ui5-li-img {
	margin: .5rem 0 .5rem 0.75rem;
}
