:host(:not([hidden])) {
	display: block;
}

:host {
	height: var(--_ui5_list_item_base_height);
	background: var(--ui5-listitem-background-color);
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
}

/* selected */
:host([selected]) {
	background: var(--sapList_SelectionBackgroundColor);
}

/* actionable (type="Active" + desktop) */
:host([actionable]:not([disabled])) {
	cursor: pointer;
}

/* selected and hovered */
:host([selected][actionable]:not([active]):not([data-moving]):hover) {
	background : var(--sapList_Hover_SelectionBackground);
}

/* selected and active */
:host([active][actionable]:not([data-moving])),
:host([selected][active][actionable]:not([data-moving])) {
	background: var(--sapList_Active_Background);
}

/* hovered */
:host([actionable]:not([active]):not([selected]):hover) {
	background : var(--sapList_Hover_Background);
}

/* focused */
:host([active][actionable]) .ui5-li-root.ui5-li--focusable:focus,
:host([active][actionable]) .ui5-li-root.ui5-li--focusable .ui5-li-content:focus {
	outline-color: var(--sapContent_ContrastFocusColor);
}

:host([has-border]) {
	border-bottom: var(--ui5-listitem-border-bottom);
}

:host([selected]) {
	border-bottom: var(--ui5-listitem-selected-border-bottom);
}

:host(:not([focused])[selected][has-border]) {
	border-bottom: var(--ui5-listitem-selected-border-bottom);
}

/* focused & selected */
:host([focused][selected]) {
	border-bottom: var(--ui5-listitem-focused-selected-border-bottom);
}

.ui5-li-root {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: var(--_ui5_list_item_base_padding);
	box-sizing: border-box;
	background: inherit;
}

/* focused */
:host([focused]) .ui5-li-root.ui5-li--focusable {
	outline: none;
}

:host([focused]:not([data-moving])) .ui5-li-root.ui5-li--focusable:after {
	content: "";
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	position: absolute;
	border-radius: 0;
	inset: 0.125rem;
	pointer-events: none;
}

:host([focused]:not(data-moving)) .ui5-li-root .ui5-li-content:focus:after {
	content: "";
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

:host([active][focused]) .ui5-li-root.ui5-li--focusable:after {
	border-color: var(--ui5-listitem-active-border-color);
}

:host([disabled]) {
	opacity: var(--_ui5-listitembase_disabled_opacity);
	pointer-events: none;
}

.ui5-li-content {
	max-width: 100%;
	font-family: "72override", var(--sapFontFamily);
	color: var(--sapList_TextColor);
}

.ui5-li-content .ui5-li-title {
	color: var(--sapList_TextColor);
	font-size: var(--_ui5_list_item_title_size);
}
