@import "./InvisibleTextStyles.css";
@import "./GrowingButton.css";

:host(:not([hidden])) {
	display: block;
	max-width: 100%;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
}

:host([indent]) .ui5-list-root {
	padding: 2rem;
}

:host([separators="None"]) .ui5-list-nodata {
	border-bottom: 0;
}

:host([busy]) {
	opacity: 0.72;
}

:host([busy]) .ui5-list-busy-row {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	outline: none;
}

:host([busy]) .ui5-list-busy-ind {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.ui5-list-root {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.ui5-list-scroll-container {
	overflow: auto;
	height: 100%;
}

.ui5-list-ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.ui5-list-ul:focus {
	outline: none;
}

.ui5-list-focusarea {
	position: fixed; /* keep it in the visible viewport, so that IE does not scroll on focus */
}

.ui5-list-header {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	font-size: var(--sapFontHeader4Size); 
	font-family: "72override", var(--sapFontFamily);
	color: var(--sapGroup_TitleTextColor);
	height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	background-color: var(--sapGroup_TitleBackground);
	border-bottom: 1px solid var(--sapGroup_TitleBorderColor);
}

.ui5-list-footer {
	height: 2rem;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;	/* To improve readability Mobile Safari automatically increases the size of small text so let's disable this */
	font-size: var(--sapFontSize);
	font-family: "72override", var(--sapFontFamily);
	line-height: 2rem;
	background-color: var(--sapList_FooterBackground);
	color: var(--ui5_list_footer_text_color);
	padding: 0 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-list-nodata {
	list-style-type: none;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: var(--sapTextColor);
	background-color: var(--sapList_Background);
	border-bottom: 1px solid var(--sapList_BorderColor);
	padding: 0 1rem !important;
	height: var(--_ui5_list_no_data_height);
	font-size: var(--_ui5_list_no_data_font_size);
	font-family: "72override", var(--sapFontFamily);
}

.ui5-list-nodata-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}