@import "./InvisibleTextStyles.css";

:host {
	height: var(--_ui5_group_header_list_item_height);
	background: var(--ui5-group-header-listitem-background-color);
	color: var(--sapList_TableGroupHeaderTextColor);
}

.ui5-group-li-root {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
