@import "./InvisibleTextStyles.css";

/* actionable (type="Active" + desktop) */
:host([actionable]:not([disabled])) {
	cursor: pointer;
}

/* selected and hovered */
:host([selected][actionable]:not([active]):hover) {
	background : var(--sapList_Hover_SelectionBackground);
}

/* selected and active */
:host([active][actionable]),
:host([selected][active][actionable]) {
	background: var(--sapList_Active_Background);
}

/* hovered */
:host([actionable]:not([active]):not([selected]):hover) {
	background : var(--sapList_Hover_Background);
}

/* focused */
:host([active][actionable]) .ui5-li-root.ui5-li--focusable:focus,
:host([active][actionable]) .ui5-li-root.ui5-li--focusable .ui5-li-content:focus {
	outline-color: var(--sapContent_ContrastFocusColor);
}

/* active */
:host([active][actionable]) .ui5-li-root .ui5-li-icon {
	color: var(--sapList_Active_TextColor);
}

/* [ui5-li]: title, description, additionalTextState */
:host([active][actionable]) .ui5-li-title,
:host([active][actionable]) .ui5-li-desc,
:host([active][actionable]) .ui5-li-additional-text {
	color: var(--sapList_Active_TextColor);
}

/* [ui5-li]: additionalTextState */
:host([additional-text-state="Warning"]) .ui5-li-additional-text {
	color: var(--sapCriticalTextColor);
}

:host([additional-text-state="Success"]) .ui5-li-additional-text {
	color: var(--sapPositiveTextColor);
}

:host([additional-text-state="Error"]) .ui5-li-additional-text {
	color: var(--sapNegativeTextColor);
}

:host([additional-text-state="Information"]) .ui5-li-additional-text {
	color: var(--sapInformativeTextColor);
}

/* [ui5-li]: item with title and description */
:host([has-title][description]) {
	height: 5rem;
}

:host([has-title][image]) {
	height: 5rem;
}

:host([image]) .ui5-li-content {
	height: 3rem;
}

:host([description]) .ui5-li-root {
	padding: 1rem;
}

:host([description]) .ui5-li-content {
	height: 3rem;
}

:host([has-title][description]) .ui5-li-title {
	padding-bottom: 0.375rem;
}

.ui5-li-text-wrapper {
	display: flex;
	flex-direction: column;
	flex: auto;
	min-width: 1px;
	line-height: normal;
}

:host([description]) .ui5-li-text-wrapper {
	height: 100%;
	justify-content: space-between;
	padding: 0.125rem 0;
}

.ui5-li-description-info-wrapper {
	display: flex;
	justify-content: space-between;
}

.ui5-li-title {
	color: var(--sapTextColor);
	font-size: var(--_ui5_list_item_title_size);
}

.ui5-li-additional-text,
.ui5-li-title,
.ui5-li-desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-li-desc {
	color: var(--sapContent_LabelColor);
	font-size: var(--sapFontSize);
}

.ui5-li-additional-text {
	margin: 0 0.25rem;
	color: var(--sapNeutralTextColor);
	font-size: 0.875rem;
	min-width: 3.75rem;
	text-align: end;
	max-width: 40%;
}

:host([description]) .ui5-li-additional-text {
	align-self: flex-end;
}

.ui5-li-img {
	width: var(--_ui5_list_item_img_size);
	min-width: var(--_ui5_list_item_img_size);
	height: var(--_ui5_list_item_img_size);
	min-height: var(--_ui5_list_item_img_size);
	margin-top: var(--_ui5_list_item_img_top_margin);
	margin-bottom: var(--_ui5_list_item_img_bottom_margin);
	margin-inline-end: var(--_ui5_list_item_img_hn_margin);
	border-radius: 0.25rem;
}

.ui5-li-img-inner {
	object-fit: contain;
}

.ui5-li-icon {
	min-width: var(--_ui5_list_item_icon_size);
	min-height: var(--_ui5_list_item_icon_size);
	color: var(--sapContent_NonInteractiveIconColor);
	padding-inline-end: 0.5rem;
}

.ui5-li-content {
	display: flex;
	align-items: center;
	flex: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none; /* IE specific */
}

.ui5-li-detailbtn,
.ui5-li-deletebtn {
	display: flex;
	align-items: center;
	margin-left: var(--_ui5_list_buttons_left_space);
}

.ui5-li-multisel-cb,
.ui5-li-singlesel-radiobtn {
	flex-shrink: 0;
}

:host([description]) .ui5-li-singlesel-radiobtn {
	align-self: flex-start;
	margin-top: var(--_ui5_list_item_selection_btn_margin_top);
}

:host([description]) .ui5-li-multisel-cb {
	align-self: flex-start;
	margin-top: var(--_ui5_list_item_selection_btn_margin_top);
}

:host([_mode="SingleSelectBegin"]) .ui5-li-root {
	padding-inline: 0 1rem;
}

:host([_mode="MultiSelect"]) .ui5-li-root {
	padding-inline: 0 1rem;
}

:host([_mode="SingleSelectEnd"]) .ui5-li-root {
	padding-inline: 1rem 0;
}

:host [ui5-checkbox].ui5-li-singlesel-radiobtn {
	margin-right: var(--_ui5_list_item_cb_margin_right);
}