[load-more] {
	display: flex;
	align-items: center;
	padding: var(--_ui5_load_more_padding);
	border-top: 1px solid var(--sapList_BorderColor);
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
}

[load-more-inner] {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: var(--_ui5_load_more_text_height);
	width: 100%;
	color: var(--sapButton_TextColor);
	background-color: var(--sapList_Background);
	border: var(--_ui5_load_more_border);
	border-radius: var(--_ui5_load_more_border_radius);
	box-sizing: border-box;
}

[load-more-inner]:focus {
	outline: var(--_ui5_load_more_outline_width) dotted var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
	border-color: transparent;
}

[load-more-inner]:hover {
	background-color: var(--sapList_Hover_Background);
}

[load-more-inner]:active,
[load-more-inner][active] {
	background-color: var(--sapList_Active_Background);
	border-color: var(--sapList_Active_Background);
}

[load-more-inner]:active > *,
[load-more-inner][active] > * {
	color: var(--sapList_Active_TextColor);
}

[load-more-text],
[load-more-subtext] {
	width: 100%;
	text-align: center;
	font-family: "72override", var(--sapFontFamily);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

[load-more-text] {
	height: var(--_ui5_load_more_text_height);
	padding: 0.875rem 1rem 0 1rem;
	font-size: var(--_ui5_load_more_text_font_size);
	font-weight: bold;
}

[load-more-subtext] {
	font-size: var(--sapFontSize);
	padding: var(--_ui5_load_more_desc_padding);
}