
.ui5-menu-rp[ui5-responsive-popover]::part(header),
.ui5-menu-rp[ui5-responsive-popover]::part(content),
.ui5-menu-rp[ui5-responsive-popover]::part(footer) {
	padding: 0;
}

.ui5-menu-rp[ui5-responsive-popover] {
	box-shadow: var(--sapContent_Shadow1);
	border-radius: var(--_ui5_menu_popover_border_radius);
}

.ui5-menu-busy-indicator {
	width: 100%;
}

.ui5-menu-dialog-header {
	display: flex;
	height: var(--_ui5-responsive_popover_header_height);
	align-items: center;
	justify-content: space-between;
	padding: 0px 1rem;
	width: 100%;
	overflow: hidden;
}

.ui5-menu-dialog-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: calc(100% - 6.5rem);
	padding-right: 1rem;
}

.ui5-menu-dialog-title > div {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui5-menu-back-button {
	margin-right: 1rem;
}

.ui5-menu-rp[sub-menu] {
	margin-top: 0.25rem;
	margin-inline: var(--_ui5_menu_submenu_margin_offset);
}

.ui5-menu-rp[sub-menu][actual-placement-type="Left"] {
	margin-top: 0.25rem;
	margin-inline: var(--_ui5_menu_submenu_placement_type_left_margin_offset);
}