@import "./InvisibleTextStyles.css";

:host(ui5-messagestrip:not([hidden])) {
	display: inline-block;
	width: 100%;
}

ui5-messagestrip:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.ui5-messagestrip-root {
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: var(--_ui5_messagestrip_border_radius);
	padding: var(--_ui5_messagestrip_padding);
	border-width: var(--_ui5_messagestrip_border_width);
	color: var(--sapUiBaseText);
	border-style: solid;
	box-sizing: border-box;
	padding: 0.4375rem 2rem 0.4375rem 2.5rem;
	position: relative;
}

.ui5-messagestrip-root .ui5-messagestrip-icon {
	position: absolute;
	top: var(--_ui5_messagestrip_icon_top);
	left: 0.75rem;
	box-sizing: border-box;
}

.ui5-messagestrip-root .ui5-messagestrip-text {
	width: 100%;	
	color: var(--sapTextColor);
	line-height: 1.2;
}

.ui5-messagestrip-icon--hidden {
	padding: 0.4375rem 2rem 0.4375rem 1rem;
}

.ui5-messagestrip-close-icon--hidden {
	padding-right: 1rem;
}

.ui5-messagestrip-text {
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
}

.ui5-messagestrip--info {
	background-color: var(--sapUiNeutralBG);
	border-color: var(--sapUiNeutralBorder);
}

.ui5-messagestrip--info .ui5-messagestrip-icon {
	color: var(--sapUiNeutralElement);
}

.ui5-messagestrip--positive {
	background-color: var(--sapUiSuccessBG);
	border-color: var(--sapUiSuccessBorder);
}

.ui5-messagestrip--positive .ui5-messagestrip-icon {
	color: var(--sapUiPositiveElement);
}

.ui5-messagestrip--negative {
	background-color: var(--sapUiErrorBG);
	border-color: var(--sapUiErrorBorder);
}

.ui5-messagestrip--negative .ui5-messagestrip-icon {
	color: var(--sapUiNegativeElement);
}

.ui5-messagestrip--warning {
	background-color: var(--sapUiWarningBG);
	border-color: var(--sapUiWarningBorder);
}

.ui5-messagestrip--warning .ui5-messagestrip-icon {
	color: var(--sapUiCriticalElement);
}

.ui5-messagestrip-close-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--_ui5_messagestrip_close_button_size);
	height: var(--_ui5_messagestrip_close_button_size);
	border-radius: 0.2rem;
	background: transparent;
	color: var(--sapUiBaseText);
	cursor: pointer;
	position: absolute;
	right: 0.125rem;
	top: 0.125rem;
	outline: none;
	border: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui5-messagestrip-close-icon-wrapper:hover {
	background-color: var(--sapUiButtonLiteHoverBackground);
}

.ui5-messagestrip-close-icon-wrapper:active {
	background-color: var(--sapUiButtonLiteActiveBackground);
	color: var(--sapUiButtonActiveTextColor);
}

.ui5-messagestrip-close-icon {
	width: 0.75rem;
	height: 0.75rem;
	pointer-events: none;
}

.ui5-messagestrip-close-icon-wrapper:active .ui5-messagestrip-close-icon {
	color: currentColor;
}

.ui5-messagestrip-close-icon-wrapper:focus {
	outline-offset: -2px;
	outline: var(--_ui5_messagestrip_focus_width) dotted var(--sapUiContentFocusColor);
}

.ui5-messagestrip-close-icon-wrapper:active:focus {
	outline: var(--_ui5_messagestrip_focus_width) dotted var(--sapUiContentContrastFocusColor);
}

/* FF renders outine around element content, causing double outline - around the button and the icon */
.ui5-messagestrip-close-icon-wrapper::-moz-focus-inner {
	border: none;
}