@import "./InvisibleTextStyles.css";

:host(ui5-messagestrip:not([hidden])) {
	display: inline-block;
	width: 100%;
}

ui5-messagestrip:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.ui5-messagestrip-root {
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: var(--_ui5_messagestrip_border_radius);
	padding: var(--_ui5_messagestrip_padding);
	border-width: var(--_ui5_messagestrip_border_width);
	border-style: solid;
	box-sizing: border-box;
	padding: 0.4375rem 2rem 0.4375rem 2.5rem;
	position: relative;
}

.ui5-messagestrip-root .ui5-messagestrip-icon {
	width: var(--_ui5_messagestrip_icon_width);
	box-sizing: border-box;
	position: absolute;
	top: var(--_ui5_messagestrip_icon_top);
	left: 0px;
}

.ui5-messagestrip -root.ui5-messagestrip-text {
	width: 100%;
	color: var(--sapTextColor);
	line-height: 1.2;
}

.ui5-messagestrip-root ui5-button {
	height: var(--_ui5_messagestrip_button_height);
	border-width: var(--_ui5_messagestrip_button_border_width);
	border-style: var(--_ui5_messagestrip_button_border_style);
	border-color: var(--_ui5_messagestrip_button_border_color);
	border-radius: var(--_ui5_messagestrip_button_border_radius);
}

.ui5-messagestrip-icon--hidden {
	padding: 0.4375rem 2rem 0.4375rem 1rem;
}

.ui5-messagestrip-close-icon--hidden {
	padding-right: 1rem;
}

.ui5-messagestrip-text {
	font-family: var(--sapUiFontFamily); 
	font-size: var(--sapMFontMediumSize); 
}

.ui5-messagestrip--info {
	background-color: var(--sapUiNeutralBG);
	border-color: var(--sapUiNeutralBorder);
	color: var(--sapUiBaseText);
}

.ui5-messagestrip--info .ui5-messagestrip-icon {
	color: var(--sapUiNeutralElement);
}

.ui5-messagestrip--positive {
	background-color: var(--sapUiSuccessBG);
	border-color: var(--sapUiSuccessBorder);
}

.ui5-messagestrip--positive .ui5-messagestrip-icon {
	color: var(--sapUiPositiveElement);
}

.ui5-messagestrip--negative {
	background-color: var(--sapUiErrorBG);
	border-color: var(--sapUiErrorBorder);
}

.ui5-messagestrip--negative .ui5-messagestrip-icon {
	color: var(--sapUiNegativeElement);
}

.ui5-messagestrip--warning {
	background-color: var(--sapUiWarningBG);
	border-color: var(--sapUiWarningBorder);
}

.ui5-messagestrip--warning .ui5-messagestrip-icon {
	color: var(--sapUiCriticalElement);
}

.ui5-messagestrip-close-icon {
	width: var(--_ui5_messagestrip_close_button_size);
	height: var(--_ui5_messagestrip_close_button_size);
	border-radius: 0.2rem;
	font-size: 0.75rem;
	background: transparent;
	color: var(--sapUiBaseText);
	outline: 0;
	cursor: pointer;
	position: absolute;
	right: 0.125rem;
	top: 0.125rem;
	border: var(--_ui5_messagestrip_close_button_border);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui5-messagestrip-close-icon:hover {
	background-color: var(--sapUiButtonLiteHoverBackground);
}

.ui5-messagestrip-close-icon:active {
	background-color: var(--sapUiButtonLiteActiveBackground);
	color: var(--sapUiButtonActiveTextColor);
}

.ui5-messagestrip-close-icon:focus::after {
	content: "";
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	border: var(--_ui5_messagestrip_focus_width) dotted var(--sapUiContentFocusColor);
	pointer-events: none;
}

.ui5-messagestrip-close-icon:active:focus::after {
	border: var(--_ui5_messagestrip_focus_width) dotted var(--sapUiContentContrastFocusColor);
}
