
:host(:not([hidden])) {
	display: block;
}

:host {
	width: 100%;
	height: 100%;
}

.ui5-mp-root {
	box-sizing: border-box;
	padding: 2rem 0 1rem 0;
	display: flex;
	flex-direction: column;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	justify-content: center;
	align-items: center;
}

.ui5-mp-quarter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.ui5-mp-item {
	display: flex;
	flex-direction: column;
	width: calc(33.333% - 0.125rem);
	height: var(--_ui5_month_picker_item_height);
	color: var(--sapButton_Lite_TextColor);
	background-color: var(--sapButton_Lite_Background);
	align-items: center;
	justify-content: center;
	margin: var(--_ui5_monthpicker_item_margin);
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: none;
	position: relative;
	border: var(--_ui5_monthpicker_item_border);
	border-radius: var(--_ui5_monthpicker_item_border_radius);
}

.ui5-dp-monthsectext {
	font-size: 0.75rem;
	color: var(--sapNeutralElementColor);
}

.ui5-mp-item.ui5-mp-item--selected,
.ui5-mp-item.ui5-mp-item--selected-between {
	background: var(--sapButton_Selected_Background);
	border: var(--_ui5_monthpicker_item_selected_border);
	color: var(--sapButton_Selected_TextColor);
}

.ui5-mp-item.ui5-mp-item--selected .ui5-dp-monthsectext,
.ui5-mp-item.ui5-mp-item--selected-between .ui5-dp-monthsectext {
	color: var(--sapButton_Selected_TextColor);
}

.ui5-mp-item:hover {
	background: var(--sapButton_Lite_Hover_Background);
	border: var(--_ui5_monthpicker_item_hover_border);
	color: var(--sapButton_Lite_Hover_TextColor);
}

.ui5-mp-item.ui5-mp-item--selected:hover,
.ui5-mp-item.ui5-mp-item--selected-between:hover {
	background: var(--sapButton_Selected_Hover_Background);
	border: var(--_ui5_monthpicker_item_selected_hover_border);
	color: var(--sapButton_Selected_TextColor);
}

.ui5-mp-item.ui5-mp-item--selected:hover .ui5-dp-monthsectext,
.ui5-mp-item.ui5-mp-item--selected-between:hover .ui5-dp-monthsectext {
	color: var(--sapButton_Selected_TextColor);
}

.ui5-mp-item:active,
.ui5-mp-item.ui5-mp-item--selected:active,
.ui5-mp-item.ui5-mp-item--selected-between:active {
	background: var(--sapButton_Active_Background);
	border: var(--_ui5_monthpicker_item_active_border);
	color: var(--sapButton_Active_TextColor);
}

.ui5-mp-item:active .ui5-dp-monthsectext,
.ui5-mp-item.ui5-mp-item--selected:active .ui5-dp-monthsectext,
.ui5-mp-item.ui5-mp-item--selected-between:active .ui5-dp-monthsectext {
	color: var(--sapButton_Active_TextColor);
}

.ui5-mp-item.ui5-mp-item--disabled {
	pointer-events: none;
	opacity: 0.5;
}

.ui5-mp-item:focus::after {
	content: "";
	position: absolute;
	inset: 0.0625rem;
	border: var(--_ui5_button_focused_border);
	border-radius: var(--_ui5_button_focused_border_radius);
}

/* Switching to a two column layout */
:host([secondary-calendar-type="Persian"]:not([primary-calendar-type="Persian"])) .ui5-mp-root,
:host([secondary-calendar-type="Islamic"]:not([primary-calendar-type="Islamic"])) .ui5-mp-root {
	display: grid;
	padding: 0.5625rem 0;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--_ui5_monthpicker_item_margin);
}

:host([secondary-calendar-type="Persian"]:not([primary-calendar-type="Persian"])) .ui5-mp-item,
:host([secondary-calendar-type="Islamic"]:not([primary-calendar-type="Islamic"])) .ui5-mp-item {
	margin: 0;
	width: auto;
}

:host([secondary-calendar-type="Persian"]:not([primary-calendar-type="Persian"])) .ui5-mp-quarter,
:host([secondary-calendar-type="Islamic"]:not([primary-calendar-type="Islamic"])) .ui5-mp-quarter {
	width: 100%;
	display: contents;
}