:host(ui5-multi-combobox:not([hidden])) {
	display: inline-block;
	width: 100%;

	--_ui5_popover_content_padding: 0;
}

ui5-multi-combobox:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.ui5-multi-combobox--wrapper {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.ui5-multi-combobox--icon {
	color: var(--sapUiContentIconColor);
	cursor: pointer;
	outline: none;
	box-sizing: border-box;
}

.ui5-multi-combobox--icon:active {
	background-color: var(--sapUiButtonLiteActiveBackground);
	color: var(--sapUiButtonActiveTextColor);
}

.ui5-multi-combobox--icon.ui5-multi-combobox-icon-root-pressed {
	background: var(--sapUiToggleButtonPressedBackground);
	color: var(--sapUiButtonActiveTextColor);
}

.ui5-multi-combobox--icon:not(.ui5-multi-combobox-icon-root-pressed):not(:active):hover {
	background: var(--sapUiButtonLiteHoverBackground);
}

.ui5-multi-combobox--token {
	height: 80%;
}

.sapUiSizeCompact .ui5-multi-combobox--token {
	height: 100%;
}

.ui5-multi-combobox-tokenizer {
	max-width: calc(100% - 3rem - var(--sap_wc_input_icon_min_width));
	border: none;
	width: auto;
	min-width: 0px;
	height: 100%;
}
