@import "./InputIcon.css";

.ui5-multi-input-tokenizer {
	max-width: calc(100% - 3rem - var(--_ui5_input_icon_min_width));
	border: none;
	width: auto;
	min-width: 0px;
	height: 100%;
}

/* Workaround for IE */
[ui5-multi-input] [ui5-tokenizer] {
	flex: 3;
}

:host([readonly]) .ui5-multi-input-tokenizer::part(n-more-text) {
	color: var(--sapLinkColor);
}