@import "./Input.css";
@import "./InputIcon.css";
@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
}

.ui5-multi-combobox-root {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.ui5-multi-combobox-tokenizer {
	max-width: calc(100% - 3rem - var(--_ui5_input_icon_min_width));
	border: none;
	width: auto;
	min-width: 0px;
	height: 100%;
}

/* Workaround for IE */
[ui5-multi-combobox] {
	width: 100%;
}

[ui5-multi-combobox] [ui5-tokenizer] {
	flex: 3;
}

[ui5-icon] {
	border-top-right-radius: var(--ui5-multi_bombobox_icon_border_top_right_radius);
    border-bottom-right-radius: var(--ui5-multi_bombobox_icon_border_bottom_right_radius);
}
