@import "./Input.css";
@import "./InputIcon.css";
@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
}

.ui5-multi-combobox-root {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: var(--_ui5_input_border_radius);
}

.ui5-multi-combobox-tokenizer {
	max-width: calc(100% - 3rem - var(--_ui5_input_icon_min_width));
	border: none;
	width: auto;
	min-width: 0px;
	height: 100%;
}
