
:host::part(native-li) {
	padding-left: 0.5rem;
	width: auto;
}
:host::part(native-li)::after {
	border-radius: 0.375rem;
	inset: 0;
 }

 :host {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	height: var(--_ui5_side_navigation_item_height);
	min-height: var(--_ui5_side_navigation_item_height);
	border-radius: 0.375rem;
	transition: var(--_ui5_side_navigation_item_transition);
	color: var(--sapList_TextColor);
	font-weight: bold;
	font-size: var(--sapFontSize);
	border-bottom: none;
}

:host a {
	text-decoration: none;
	color: var(--sapList_TextColor);
}

.ui5-navigation-menu-item-root .ui5-menu-item-icon-end {
	position: relative;
	inset-inline-end: auto;
	width: 0.75rem;
	height: 0.75rem;
	color: var(--sapList_TextColor);
}

.ui5-navigation-menu-item-root .ui5-sn-item-external-link-icon {
	color: var(--_ui5_side_navigation_external_link_icon_color);
	min-width: 2rem;
	height: 0.875rem;
}

:host::part(icon) {
	color: var(--sapList_TextColor);
	min-width: 1rem;
	min-height: 1rem;
}

:host([focused]):not([active]) {
	background: none;
}