@import "./InvisibleTextStyles.css";

.ui5-navigation-menu .ui5-navigation-menu-main {
	padding: var(--_ui5_side_navigation_parent_popup_padding);
}

.ui5-menu-rp.ui5-navigation-menu {
	box-shadow: var(--_ui5_side_navigation_popup_box_shadow);
	min-width: 10rem;
	background: var(--sapGroup_ContentBackground);
	border: none;
	border-radius: 0.75rem;
}

.ui5-navigation-menu.ui5-menu-rp-sub-menu ::slotted([ui5-navigation-menu-item]) {
	font-weight: normal;
}