@import "./InvisibleTextStyles.css";

.ui5-navigation-menu .ui5-navigation-menu-main {
	padding: var(--_ui5_side_navigation_parent_popup_padding);
}

.ui5-navigation-menu .ui5-menu-item.ui5-navigation-menu-item::part(native-li) {
    padding-left: 0.5rem;
	width: auto;
}
.ui5-navigation-menu .ui5-menu-item.ui5-navigation-menu-item::part(native-li)::after {
    border-radius: 0.375rem;
    inset: 0;
 }

.ui5-navigation-menu .ui5-navigation-menu-item {
    display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	height: var(--_ui5_side_navigation_item_height);
	min-height: var(--_ui5_side_navigation_item_height);
	border-radius: 0.375rem;
	transition: var(--_ui5_side_navigation_item_transition);
	color: var(--sapList_TextColor);
    font-weight: bold;
    font-size: var(--sapFontSize);
    border-bottom: none;
}

.ui5-navigation-menu .ui5-navigation-menu-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--sapList_TextColor);
}

.ui5-navigation-menu[sub-menu] .ui5-navigation-menu-item {
    font-weight: normal;
}

.ui5-menu-rp.ui5-navigation-menu {
    box-shadow: var(--_ui5_side_navigation_popup_box_shadow);
    width: auto;
    min-width: 10rem;
    height: auto;
    background: var(--sapGroup_ContentBackground);
    border: none;
    border-radius: 0.75rem;
}

.ui5-navigation-menu .ui5-navigation-menu-item .ui5-menu-item-icon-end {
    position: relative;
    inset-inline-end: auto;
    width: 0.75rem;
    height: 0.75rem;
    color: var(--sapList_TextColor);
}

.ui5-navigation-menu .ui5-navigation-menu-item::part(icon){
    color: var(--sapList_TextColor);
    min-width: 1rem;
    min-height: 1rem;
}

.ui5-navigation-menu .ui5-menu-item[focused]:not([active]){
    background: none;
}

.ui5-sn-item-external-link-icon {
	color: var(--_ui5_side_navigation_external_link_icon_color);
	min-width: 2rem;
	height: 0.875rem;
}