:host(ui5-overflow-toolbar) {
	width: 100%;
	display: inline-block;
}

ui5-overflow-toolbar {
	width: 100%;
	display: inline-block;
}

.ui5-overflow-toolbar-root {
	padding-left: .1rem;
	background: var(--_ui5_overflowtoolbar_background_color);
}

.ui5-overflow-toolbar-content-wrapper {
	height: 2.75rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	border-bottom: 1px solid var(--ui5-overflowtoolbar_border_bottom);
	background-color: inherit;
}

.ui5-overflow-toolbar-items {
	width: calc(100% - 2.5rem);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
    flex-wrap: nowrap;
}

.ui5-overflow-toolbar-overflowed-item {
	width: initial;
}

.ui5-overflow-toolbar-item {
	margin-right: .5rem;
	display: flex;
}

.ui5-overflow-toolbar-popover-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 130px;
}

.ui5-overflow-toolbar .ui5-overflow-toolbar-popover-content > ::slotted(*) {
	flex-grow: 1;
}