:host(ui5-overflow-toolbar) {
	width: 100%;
	display: inline-block;
}

ui5-overflow-toolbar {
	width: 100%;
	display: inline-block;
}

.ui5-overflow-toolbar-root {
	padding-left: .1rem;
	background: var(--sapGroup_ContentBackground);
}

.ui5-overflow-toolbar-content-wrapper {
	height: 2.75rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	border-bottom: 1px solid var(--sapList_Background_Darken15);
	background-color: inherit;
}

.ui5-overflow-toolbar-items {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
    flex-wrap: nowrap;
}

.ui5-overflow-toolbar-items.ui5-overflow-toolbar-items-with-button {
	width: calc(100% - 2.5rem);
}

.ui5-overflow-toolbar-overflowed-item {
	width: initial;
}

.ui5-overflow-toolbar-item {
	margin-right: .5rem;
	display: flex;
}

.ui5-overflow-toolbar-spacer {
	flex-grow: 1;
}
