:host(:not([hidden])) {
	display: block;
}

:host([data-ui5-compact-size]) .ui5-panel-header {
	height: 2rem;
}

:host {
	font-family: var(--sapUiFontHeaderFamily);
	background-color: var(--sapUiGroupContentBackground);
}

:host([collapsed]) .ui5-panel-header,
:host([fixed]) .ui5-panel-header {
	border-bottom: 1px solid var(--sapUiGroupTitleBorderColor);
}

:host([fixed]) .ui5-panel-header-button-root {
	display: none;
}

:host([fixed]) .ui5-panel-header {
	padding-left: 1rem;
}

.ui5-panel-header {
	height: var(--_ui5_panel_header_height);
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	outline: none;
	box-sizing: border-box;
	padding-right: 1rem;
	padding-left: .25rem;
	border-bottom: 1px solid transparent;
}

.ui5-panel-header-button {
	cursor: pointer;
	color: var(--sapUiContentIconColor);
	border: none;
	background: none;
	min-width: 2rem;
	width: 2rem;
	height: 2rem;
	transition: transform 0.4s ease-out;
	border: 1px solid transparent;
}

.ui5-panel-header-button-icon {
	pointer-events: none;
	color: inherit;
}

.ui5-panel-header-button[focused] {
	outline-style: var(--_ui5_panel_header_button_outline_style);
	outline-offset: -.25rem;
}

.ui5-panel-header-button:hover {
	background: var(--_ui5_panel_header_button_hover_background_color);
	border: 1px solid var(--_ui5_panel_header_button_hover_border_color);
	color: var(--_ui5_panel_header_button_hover_color);
}

.ui5-panel-header-button[active] {
	background: var(--_ui5_panel_header_button_active_background_color);
	border: 1px solid var(--_ui5_panel_header_button_active_border_color);
	color: var(--_ui5_panel_header_button_active_color);
}

:host(:not([_has-header])) .ui5-panel-header-button {
	pointer-events: none;
}

:host(:not([_has-header])) .ui5-panel-header-button:focus {
	outline: none;
}

:host(:not([_has-header]):not([fixed])) {
	cursor: pointer;
}

:host(:not([_has-header]):not([fixed])) .ui5-panel-header:focus {
	outline: var(--_ui5_panel_focus_border);
	outline-offset: -3px;
}

:host(:not([collapsed])) .ui5-panel-header-button {
	transform: rotate(90deg);
}

.ui5-panel-header-title {
	font-family: var(--sapUiFontHeaderFamily);
	font-size: var(--_ui5_panel_header_title_size);
	font-weight: var(--sapUiFontHeaderWeight);
	color: var(--sapUiGroupTitleTextColor);
}

.ui5-panel-content {
	padding: 0.625rem 1rem 1.375rem 1rem;
	outline: none;
}

.ui5-panel-header-button-root {
	display: flex;
	justify-content: center;
	align-items: center;
	width: var(--_ui5_panel_button_root_width);
	margin-right: .25rem;
}

/* IE specific CSS */

ui5-panel .ui5-panel-header-button[focused] {
	outline: none;
}
