:host(ui5-panel:not([hidden])) {
	display: block;
}

ui5-panel:not([hidden]) {
	display: block;
}

.sapMPanel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	background-color: var(--ui5-panel-background-color);
}

.sapMPanel > header {
	display: flex;
	align-items: center;
	height: 2.75rem;
}

.sapMPanel > header ui5-icon-svg.sapMPanelIcon {
	width: 1.1875rem;
	height: 1.1875rem;
	padding: 0.125rem;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	align-self: center;
	color: var(--sapUiContentIconColor);
	transition: transform 0.4s ease-out;
	cursor: pointer;
	position: relative;
}

.sapMPanel > header ui5-icon-svg.sapMPanelIcon.sapMPanelIconExpanded {
	transform: rotate(90deg);
}

.sapMPanel > header ui5-icon-svg.sapMPanelIcon:focus:after {
	content: "";
	position: absolute;
	border: 1px dashed var(--sapUiContentFocusColor);
	width: 100%;
	height: 100%;
	left: -1px;
	top: -1px;
	pointer-events: none;
}

.sapMPanelHdr {
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: none;
	padding: 0 1rem;
	margin: 0;

	/*
	* To improve readability Mobile Safari automatically increases
	* the size of small text so let's disable this
	*/
	-webkit-text-size-adjust: none;

	font-weight: var(--sapUiFontHeaderWeight);
	font-size: var(--sapMFontHeader4Size);
	font-family: var(--sapUiFontHeaderFamily);
	color: var(--sapUiGroupTitleTextColor);
	background-color: var(--sapUiGroupTitleBackground);
}

.sapMPanelContent {
	padding: 0.625rem 1rem 1.375rem 1rem;
	box-sizing: border-box;
	overflow: auto;
	white-space: normal;
	border-bottom: 1px solid var(--ui5-panel-bottom-border-color);
}

.sapMPanelContent:focus {
	outline: none;
}

.sapMPanelWrappingDiv,
.sapMPanelWrappingDivTb {
	position: relative;
	background-color: var(--ui5-panel-background-color);
}

.sapMPanelWrappingDiv {
	box-sizing: border-box;
}

.sapMPanelWrappingDiv.sapMPanelWrappingDivClickable {
	cursor: pointer;
}

.sapMPanelWrappingDiv.sapMPanelWrappingDivClickable:focus {
	outline: none;
}

.sapMPanelWrappingDiv.sapMPanelWrappingDivClickable:focus::after {
	content: "";
	position: absolute;
	border: var(--_ui5_panel_focus_border);
	pointer-events: none;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
}

.sapMPanelWrappingDivTb .sapMPanelHdrToolbar {
	width: 100%;
}

.sapMPanelWrappingDiv.sapMPanelWrappingDivExpanded {
	border-bottom-width: 0;
}

.sapMPanel .sapMPanelWrappingDiv .sapMPanelHdr {
	padding-left: 0;
}

.sapMPanel .sapMPanelWrappingDiv .sapMPanelHdr > :first-child {
	margin-left: 0;
}

/* if Panel is not expandable, we do wish header to come with own border */
.sapMPanel > .sapMPanelHdr,
/* notice: sapMPanelWrappingDiv is available if Panel is expandable */
.sapMPanelWrappingDiv,
/* do not want border if expanded and if only header text */
.sapMPanelWrappingDivTb {
	border-bottom: 1px solid var(--sapUiGroupTitleBorderColor);
}

.sapUiSizeCompact.sapMPanel > header {
	height: 2rem;
}
