.ui5-popover-arrow {
	pointer-events: none;
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	overflow: hidden;
}

.ui5-popover-arrow:after {
	content: "";
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	background-color: var(--sapGroup_ContentBackground);
	box-shadow: var(--sapContent_Shadow3);
	transform: rotate(-45deg);
}

:host {
	max-width: calc(100vw - (100vw - 100%) - 2 * var(--_ui5_popup_viewport_margin));
}

:host([opened][actual-placement-type="Top"]) {
	margin-top: var(--_ui5-popover-margin-bottom);
}

:host([opened][actual-placement-type="Bottom"]) {
	margin-top: var(--_ui5-popover-margin-top);
}

/* pointing upward arrow */
:host([actual-placement-type="Bottom"]) .ui5-popover-arrow {
	left: calc(50% - 0.5625rem);
	top: -0.5rem;
	height: 0.5625rem;

}
:host([actual-placement-type="Bottom"]) .ui5-popover-arrow:after {
	margin: 0.1875rem 0 0 0.1875rem;
}

/* pointing right arrow */
:host([actual-placement-type="Left"]) .ui5-popover-arrow {
	top: calc(50% - 0.5625rem);
	right: -0.5625rem;
	width: 0.5625rem;
}

:host([actual-placement-type="Left"]) .ui5-popover-arrow:after {
	margin: 0.1875rem 0 0 -0.375rem;
}

:host([actual-placement-type="Left"]) [dir=rtl] .ui5-popover-arrow:after {
	margin: .1875rem .25rem 0 0;
}

:host([actual-placement-type="Bottom"]) [dir=rtl] .ui5-popover-arrow:after {
	margin: .1875rem .125rem 0 0;
}

:host([actual-placement-type="Top"]) [dir=rtl] .ui5-popover-arrow:after {
	margin: -0.4375rem .125rem 0 0
}

/* pointing downward arrow */
:host([actual-placement-type="Top"]) .ui5-popover-arrow {
	left: calc(50% - 0.5625rem);
	height: 0.5625rem;
	top: 100%;
}

:host([actual-placement-type="Top"]) .ui5-popover-arrow:after {
	margin: -0.375rem 0 0 0.125rem;
}

/* pointing left arrow */
:host(:not([actual-placement-type])) .ui5-popover-arrow,
:host([actual-placement-type="Right"]) .ui5-popover-arrow {
	left: -0.5625rem;
	top: calc(50% - 0.5625rem);
	width: 0.5625rem;
	height: 1rem;
}

:host(:not([actual-placement-type])) .ui5-popover-arrow:after,
:host([actual-placement-type="Right"]) .ui5-popover-arrow:after {
	margin: 0.125rem 0 0 0.25rem;
}

:host(:not([actual-placement-type])) [dir=rtl] .ui5-popover-arrow:after,
:host([actual-placement-type="Right"]) [dir=rtl] .ui5-popover-arrow:after {
	margin: .1875rem -.375rem 0 0;
}

:host([hide-arrow]) .ui5-popover-arrow {
	display: none;
}

.ui5-popover-root {
	min-width: 6.25rem;
}