@import "./Popup.css";

.ui5-popover-arr {
	pointer-events: none;
	display: block;
	width: 1rem;
	height: 1rem;
	position: absolute;
	overflow: hidden;
}

.ui5-popover-arr:after {
	content: "";
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	background-color: var(--sapGroup_ContentBackground);
	transform: rotate(-45deg);
}

/* pointing upward arrow */
:host([actual-placement-type="Bottom"]) .ui5-popover-arr {
	left: calc(50% - 0.5625rem);
	top: -0.5rem;
	height: 0.5625rem;

}
:host([actual-placement-type="Bottom"]) .ui5-popover-arr:after {
	margin: 0.1875rem 0 0 0.1875rem;
	box-shadow: -0.375rem 0.375rem 0.75rem 0 var(--_ui5_popover_arrow_shadow_color), 0 0 0.125rem 0 var(--_ui5_popover_arrow_shadow_color);
}

/* pointing right arrow */
:host([actual-placement-type="Left"]) .ui5-popover-arr {
	top: calc(50% - 0.5625rem);
	right: -0.5625rem;
	width: 0.5625rem;
}

:host([actual-placement-type="Left"]) .ui5-popover-arr:after {
	margin: 0.1875rem 0 0 -0.375rem;
	box-shadow: -0.375rem -0.375rem 0.75rem 0 var(--_ui5_popover_arrow_shadow_color), 0 0 0.125rem 0 var(--_ui5_popover_arrow_shadow_color);
}

/* pointing downward arrow */
:host([actual-placement-type="Top"]) .ui5-popover-arr {
	left: calc(50% - 0.5625rem);
	height: 0.5625rem;
	bottom: calc(-1 * (var(--_ui5_popover_content_padding) + 2px));
}

:host([actual-placement-type="Top"]) .ui5-popover-arr:after {
	margin: -0.375rem 0 0 0.125rem;
	box-shadow: 0.375rem -0.375rem 0.75rem 0 var(--_ui5_popover_arrow_shadow_color), 0 0 0.125rem 0 var(--_ui5_popover_arrow_shadow_color);
}

/* pointing left arrow */
:host(:not([actual-placement-type])) .ui5-popover-arr,
:host([actual-placement-type="Right"]) .ui5-popover-arr {
	left: -0.5625rem;
	top: calc(50% - 0.5625rem);
	width: 0.5625rem;
	height: 1rem;
}

:host(:not([actual-placement-type])) .ui5-popover-arr:after,
:host([actual-placement-type="Right"]) .ui5-popover-arr:after {
	margin: 0.125rem 0 0 0.25rem;
	box-shadow: 0.375rem 0.375rem 0.75rem 0 var(--_ui5_popover_arrow_shadow_color), 0 0 0.125rem 0 var(--_ui5_popover_arrow_shadow_color);
}

:host([no-arrow]) .ui5-popover-arr {
	display: none;
}