.ui5-popup-frame {
	width: 0;
	height: 0;
	display: none;
	visibility: visible;
}

:host([opened]) .ui5-popup-frame {
	display: inline;
}

.ui5-popup-root {
	min-width: 6.25rem;
	box-sizing: border-box;
	outline: none;
	max-width: 100%;
	max-height: 100%;
	background: var(--sapUiGroupContentBackground);
	border: none;
	box-shadow: var(--sapUiShadowLevel2);
	border-radius: 0.25rem;
	min-height: 2rem;
}

.ui5-popup-root .ui5-popup-header {
	margin: 0;
	color: var(--sapUiPageHeaderTextColor);
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--sapUiFontFamily);
	border-bottom: 1px solid var(--sapUiPageFooterBorderColor);
}

.ui5-popup-root .ui5-popup-headerText {
	padding: 0 0.25rem;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
}

.ui5-popup-root .ui5-popup-footer {
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--sapUiFontFamily);

	background: var(--sapUiPageFooterBackground);
	border-top: 1px solid var(--sapUiPageFooterBorderColor);
	color: var(--sapUiPageFooterTextColor);
}

.ui5-popup-root .ui5-popup-content {
	overflow: auto;
	position: relative;
	box-sizing: border-box;
	background-color: var(--sapUiGroupContentBackground);
	border-radius: 0.25rem;
}

.ui5-popup-root .ui5-popup-content,
.ui5-popup-root .ui5-popup-footer {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.ui5-popup-root .ui5-popup-scroll {
	vertical-align: middle;
	box-sizing: border-box;
	padding: var(--_ui5_popover_content_padding);
}

.ui5-popup-BLy {
	background-color: #000000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	outline: 0 none;
}

.ui5-popup-blockLayer {
	visibility: visible;
}

.ui5-popup-blockLayer--hidden {
	display: none;
}