.ui5-block-layer {
	position: fixed;
	background-color: var(--_ui5_popup_block_layer_background);
	top: -500px;
	left: -500px;
	right: -500px;
	width: auto;
	height: auto;
	bottom: -500px;
	outline: none;
	pointer-events: all;
}

:host .ui5-block-layer {
	width: auto;
	height: auto;
}
