.ui5-block-layer {
	display: none;
	position: fixed;
	background-color: var(--_ui5_popup_block_layer_background);
	top: -500px;
	left: -500px;
	right: -500px;
	bottom: -500px;
	outline: none;
	pointer-events: all;
	z-index: -1;
}

.ui5-block-layer:not([hidden]) {
	display: inline-block;
}