:host {
    min-width: 1px; /** So that it can always get focus **/
    overflow: visible;
    border: none;
    inset: unset;
    margin: 0;
    padding: 0;
}

:host(:focus-visible) {
    outline: none;
}