:host {
	display: none;
	position: fixed;
	z-index: 10;
	min-width: 6.25rem;
	background: var(--sapUiGroupContentBackground);
	box-shadow: var(--sapUiShadowLevel2);
	border-radius: 0.25rem;
	min-height: 2rem;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity .15s;
}

:host([opened]) {
	opacity: 1;
}

:host(:not([opened])) {
	box-shadow: none;
	display: none;
}

.ui5-popup-root {
	background: inherit;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
}

.ui5-popup-header-root,
.ui5-popup-header-text {
	border-bottom: 1px solid var(--sapUiPageFooterBorderColor);
}

.ui5-popup-footer-root {
	background: var(--sapUiPageFooterBackground);
	border-top: 1px solid var(--sapUiPageFooterBorderColor);
	color: var(--sapUiPageFooterTextColor);
}

.ui5-popup-header-root,
.ui5-popup-footer-root,
:host([header-text]) .ui5-popup-header-text {
	margin: 0;
	color: var(--sapUiPageHeaderTextColor);
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--sapUiFontFamily);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui5-popup-content {
	overflow: auto;
	flex: 1;

	/* Consider how to make this top level */
	padding: var(--_ui5_popover_content_padding);
	box-sizing: border-box;
}

:host([header-text]) .ui5-popup-header-text {
	padding: 0 0.25rem;
	text-align: center;
	min-height: 3rem;
	max-height: 3rem;
	line-height: 3rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	display: inline-block;  
}

:host(:not([header-text])) .ui5-popup-header-text {
	display: none;
}

.first-fe,
.last-fe {
	width: 0;
	height: 0;
	display: inline-block;
}