.ui5-block-layer {
	position: fixed;
	background-color: var(--_ui5_popup_block_layer_background);
	width: auto;
	height: auto;
	inset: 0;
	outline: none;
	pointer-events: all;
}

:host .ui5-block-layer {
	width: auto;
	height: auto;
}
