:host(:not([hidden])) {
    display: inline-block;
    min-height: 1rem;
    min-width: 4rem;
    width: 100%;
    height: 1rem;
    overflow: hidden;
}

.ui5-progress-indicator-root {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: var(--sapField_Background);
    border-radius: 0.5rem;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-size: var(--sapFontSmallSize);
    font-family: var(--sapFontFamily);
}

.ui5-progress-indicator-bar {
    background: var(--_ui5_progress-indicator_value_state_none);
    justify-content: flex-end;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--_ui5_progress-indicator_bar_color);
    transition-property: width;
    transition-timing-function: linear;
    box-sizing: border-box;
    border: var(--_ui5_progress-indicator_bar_border_max);
    border-radius: 0.5rem 0 0 0.5rem;
}

.ui5-progress-indicator-min-value .ui5-progress-indicator-bar,
.ui5-progress-indicator-max-value .ui5-progress-indicator-remaining-bar {
    border:none;
}

.ui5-progress-indicator-max-value .ui5-progress-indicator-bar {
    border-radius: 0.5rem;
}

.ui5-progress-indicator-min-value .ui5-progress-indicator-remaining-bar {
    border-left: var(--_ui5_progress-indicator_border);
    border-radius: 0.5rem;
}

.ui5-progress-indicator-remaining-bar {
    justify-content: flex-start;
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    border: var(--_ui5_progress-indicator_border);
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    box-sizing: border-box;
    color: var(--_ui5_progress-indicator_color);
}

.ui5-progress-indicator-value {
    margin: 0 0.375rem;
}

.ui5-progress-indicator-icon {
    margin-left: 0.375rem;
    width: var(--sapFontSmallSize);
    height: var(--sapFontSmallSize);
}

ui5-icon[name].ui5-progress-indicator-icon {
    display: var(--_ui5_progress-indicator_icon_visibility);
}

[dir="rtl"] .ui5-progress-indicator-icon {
    margin-right: 0 0.375rem 0 0;
}

:host([value-state="Error"]) .ui5-progress-indicator-bar {
    background: var(--_ui5_progress-indicator_value_state_error);
}

:host([value-state="Warning"]) .ui5-progress-indicator-bar {
    background: var(--_ui5_progress-indicator_value_state_warning);
}

:host([value-state="Success"]) .ui5-progress-indicator-bar {
    background: var(--_ui5_progress-indicator_value_state_success);
}

:host([value-state="Information"]) .ui5-progress-indicator-bar {
    background: var(--_ui5_progress-indicator_value_state_information);
}

:host([disabled]) .ui5-progress-indicator-root {
    opacity: 0.5;
}

[dir="rtl"] .ui5-progress-indicator-bar {
    border-radius: 0 0.5rem 0.5rem 0;
}

[dir="rtl"].ui5-progress-indicator-min-value .ui5-progress-indicator-bar,
[dir="rtl"].ui5-progress-indicator-max-value .ui5-progress-indicator-remaining-bar {
    border:none;
}

[dir="rtl"].ui5-progress-indicator-max-value .ui5-progress-indicator-bar {
    border-radius: 0.5rem;
}

[dir="rtl"] .ui5-progress-indicator-remaining-bar {
    border: var(--_ui5_progress-indicator_border);
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
}

[dir="rtl"].ui5-progress-indicator-min-value .ui5-progress-indicator-remaining-bar {
    border-right: var(--_ui5_progress-indicator_border);
    border-radius: 0.5rem;
}