:host(:not([hidden])) {
	display: inline-block;
	font-size: 1.5rem;
	cursor: pointer;
}

:host([disabled]) {
	opacity: .6;
	cursor: initial;
	outline: none;
}

:host([readonly]) {
	cursor: initial;
}

:host([size="Large"]) {
	font-size: 2rem;
}

:host([_focused]) {
	outline: 1px dotted var(--sapContent_FocusColor);
}

.ui5-rating-indicator-root {
	outline: none;
}

.ui5-rating-indicator-icon {
	position: relative;	
	color: var(--sapContent_UnratedColor);
	user-select: none;
}

.ui5-rating-indicator-icon.ui5-rating-indicator-active-icon {
	color: var(--sapContent_RatedColor);
}

.ui5-rating-indicator-icon.ui5-rating-indicator-half-icon:before {
	content: "\2605";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
	color: var(--sapContent_RatedColor);
	overflow: hidden;
}

.ui5-rating-indicator-stars-wrapper {
	display: flex;
}
