/* styles for input in dialog */
.input-root-phone {
	flex: 1;
	height: var(--_ui5_input_height);
	color: var(--sapField_TextColor);
	font-size: var(--sapFontMediumSize);
	font-family: var(--sapFontFamily);
	background-color: var(--sapField_Background);
	border: 1px solid var(--sapField_BorderColor);
	border-radius: var(--_ui5_input_wrapper_border_radius);
	box-sizing: border-box;
}

.input-root-phone [inner-input] {
	padding: 0 0.5rem;
	width: 100%;
	height: 100%;
}

.input-root-phone[value-state]:not([value-state="None"])[focused] {
	outline: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	outline-offset: -4px;
}

.input-root-phone [value-state="Error"] [input-icon][data-ui5-compact-size],
.input-root-phone [value-state="Success"] [input-icon][data-ui5-compact-size],
.input-root-phone [value-state="Warning"] [input-icon][data-ui5-compact-size] {
	padding: .1875rem .5rem
}

[inner-input] {
	background: transparent;
	color: inherit;
	border: none;
	font-style: normal;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	line-height: normal;
	padding: var(--_ui5_input_inner_padding);
	box-sizing: border-box;
	min-width: 3rem;
	text-overflow: ellipsis;
	flex: 1;
	outline: none;
	font-size: inherit;
	font-family: inherit;
}

[inner-input]::selection,
[inner-input]::-moz-selection {
	background: var(--sapSelected);
	color: var(--sapContent_contrastTextColor);
}

/* Input placeholder */
[inner-input]::-webkit-input-placeholder {
	font-style: italic;
	color: var(--sapField_PlaceholderTextColor);
}

[inner-input]::-moz-placeholder {
	font-style: italic;
	color: var(--sapField_PlaceholderTextColor);
}

[inner-input]:-ms-input-placeholder {
	font-style: italic;
	color: var(--sapField_PlaceholderTextColor);
}

.input-root-phone[value-state]:not([value-state="None"]) {
	border-width: var(--_ui5_input_state_border_width);
}

.input-root-phone[value-state="Error"] [inner-input],
.input-root-phone[value-state="Warning"] [inner-input] {
	font-style: var(--_ui5_input_error_warning_font_style);
}

.input-root-phone[value-state="Error"] [inner-input] {
	font-weight: var(--_ui5_input_error_font_weight);
}

.input-root-phone[value-state="Error"]:not([readonly]) {
	background-color: var(--sapField_InvalidBackground);
	border-color: var(--sapField_InvalidColor);
}

.input-root-phone[value-state="Error"]:not([readonly]):not([disabled]),
.input-root-phone[value-state="Warning"]:not([readonly]):not([disabled]) {
	border-style: var(--_ui5_input_error_warning_border_style);
}

.input-root-phone[value-state="Warning"]:not([readonly]) {
	background-color: var(--sapField_WarningBackground);
	border-color: var(--sapField_WarningColor);
}

.input-root-phone[value-state="Success"]:not([readonly]) {
	background-color: var(--sapField_SuccessBackground);
	border-color: var(--sapField_SuccessColor);
}

/* Remove IE's defaut clear button */
[inner-input]::-ms-clear {
	height: 0;
	width: 0;
}

/* MultiComboBox specific */
.ui5-multi-combobox-toggle-button {
	margin-left: 0.5rem;
}

/* Header and footer layout */
.ui5-responsive-popover-header .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.25rem 1rem;
}

.ui5-responsive-popover-footer {
	display: flex;
	justify-content: flex-end;
	padding: 0.25rem;
}