:host {
	--_ui5_input_width: 100%;
	min-width: 6.25rem;
	min-height: 2rem;
}

:host([on-phone]) {
	display: contents;
}

.ui5-responsive-popover-header {
	height: var(--_ui5-responsive_popover_header_height);
	display: flex;
	justify-content: var(--_ui5_popup_header_prop_header_text_alignment);
	align-items: center;
	width: 100%;
}

.ui5-responsive-popover-header-text {
	width: calc(100% - var(--_ui5_button_base_min_width));
}

.ui5-responsive-popover-header-no-title {
	justify-content: flex-end;
}
