:host {
	--_ui5_input_width: 100%;
	min-width: 6.25rem;
	min-height: 2rem;
}

:host(:not([with-padding])) {
	--_ui5_popover_content_padding: 0;
}

:host([opened]) {
	display: inline-block;
}

.ui5-responsive-popover-header {
	height: var(--_ui5-responnsive_popover_header_height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 0 1rem;
	box-shadow: var(--sapContent_HeaderShadow);
}

:host [dir="rtl"] .ui5-responsive-popover-header {
	padding: 0 1rem 0 0;
}

.ui5-responsive-popover-header-text {
	display: flex;
	align-items: center;
	width: calc(100% - var(--_ui5_button_base_min_width));
}