:host(:not([hidden])) {
	display: inline-block;
}

/* this line is also included from the Button.css, but keep it here in case we start using it for automatic IE11 compilation */
:host([disabled]) {
	pointer-events: none;
}

:host([pressed]),
:host([pressed]:hover),
:host([pressed][focused]) {
	background: var(--sapButton_Selected_Background);
	border-color: var(--sapButton_Selected_BorderColor);
	color: var(--sapButton_Selected_TextColor);
	outline-color: var(--sapContent_ContrastFocusColor);
}

:host([pressed][active]),
:host([pressed]:not([active]):not([non-interactive]):not([_is-touch]):hover) {
	background: var(--sapButton_Selected_Hover_Background);
}


:host(:not([hidden])) {
    display: inline-block;
}

:host {
    min-width: var(--_ui5_button_base_min_width);
    height: var(--_ui5_button_base_height);
    font-family: "72override", var(--sapFontFamily);
    font-size: var(--sapFontSize);
    text-shadow: var(--_ui5_button_text_shadow);
    border-radius: var(--_ui5_button_border_radius);
    border-width: 0.0625rem;
    cursor: pointer;
    background-color: var(--sapButton_Background);
    border: 1px solid var(--sapButton_BorderColor);
    color: var(--sapButton_TextColor);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host([disabled]) {
    pointer-events: none;
}

:host([has-icon]) button[dir="rtl"].ui5-segmentedbutton-item-root .ui5-segmentedbutton-item-text {
    margin-right: var(--_ui5_button_base_icon_margin);
    margin-left: 0;
}

.ui5-segmentedbutton-item-root {
    min-width: inherit;
    cursor: inherit;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 0 var(--_ui5_button_base_padding);
    position: relative;
    background: transparent;
    border: none;
    color: inherit;
    text-shadow: inherit;
    font: inherit;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host(:not([active]):not([non-interactive]):not([_is-touch]):hover),
:host(:not([hidden]).ui5_hovered) {
    background: var(--sapButton_Hover_Background);
}

.ui5-segmentedbutton-item-icon {
    color: inherit;
    flex-shrink: 0;
}

:host([icon-only]) .ui5-segmentedbutton-item-root {
    min-width: auto;
    padding: 0;
}

:host([icon-only]) .ui5-segmentedbutton-item-text {
    display: none;
}

.ui5-segmentedbutton-item-text {
    outline: none;
    position: relative;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
}

:host([disabled]) {
    opacity: 0.5;
    pointer-events: none;
}

:host([focused]) {
    outline: var(--_ui5_button_outline);
    outline-offset: var(--_ui5_button_outline_offset);
}

.ui5-segmentedbutton-item-root::-moz-focus-inner {
    border: 0;
}

bdi {
    display: block;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
}

:host([ui5-segmentedbutton-item][active]:not([disabled]):not([non-interactive])) {
    background-image: none;
    background-color: var(--sapButton_Active_Background);
    border-color: var(--_ui5_button_active_border_color);
    color: var(--sapButton_Active_TextColor);
    text-shadow: none;
}

:host([active]:not([_is-touch])) {
    outline-color: var(--sapContent_ContrastFocusColor);
}
