:host(ui5-select) {
	display: inline-block;
	width: 100%;

	border: 1px solid var(--sapUiFieldBorderColor);
	overflow: hidden;
	box-sizing: border-box;
	height: 2.25rem;
}

ui5-select {
	display: inline-block;
	width: 100%;

	border: 1px solid var(--sapUiFieldBorderColor);
	overflow: hidden;
	box-sizing: border-box;
	height: 2.25rem;
}

:host(ui5-select:not([disabled]):not([value-state]):not([data-ui5-_opened]):hover) {
	border: 1px solid var(--sapUiFieldHoverBorderColor);
}

ui5-select:not([disabled]):not([value-state]):not([data-ui5-_opened]):hover {
	border: 1px solid var(--sapUiFieldHoverBorderColor);
}

.sapWCSelect {
	max-width: 100%;
	min-width: 5rem;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--sapUiFieldBackground);
	box-sizing: border-box;
	padding-left: 0.5rem;
	cursor: pointer;
	outline: none;
}

/* Hovered */
.sapWCSelect:hover:not(.sapWCSelectDisabled):not(.sapWCSelectState):not(.sapWCSelectOpened) {
	background-color: var(--sapUiFieldHoverBackground);
}

/* Hovered Icon */
.sapWCSelect:hover:not(.sapWCSelectDisabled):not(.sapWCSelectOpened) .sapWCSelectDropDownIcon {
	background: var(--sapUiButtonLiteHoverBackground);
}

/* Opened */
.sapWCSelect.sapWCSelectOpened .sapWCSelectDropDownIcon {
	background: var(--sapUiToggleButtonPressedBackground);
	color: var(--sapUiToggleButtonPressedTextColor);
}

/* Disabled */
.sapWCSelect.sapWCSelectDisabled {
	background: var(--_ui5_select_disabled_background);
	cursor: default;
}

:host(ui5-select[disabled]) {
	opacity: 0.5;
	border-color: var(--_ui5_select_disabled_border_color);
}

ui5-select[disabled] {
	opacity: 0.5;
	border-color: var(--_ui5_select_disabled_border_color);
}

/* Focused */
.sapWCSelect:not(.sapWCSelectOpened):not(.sapWCSelectDisabled):focus {
	outline: none;
}

.sapWCSelect:not(.sapWCSelectOpened):not(.sapWCSelectDisabled):focus:before {
	content: "";
	position: absolute;
	border: var(--_ui5_select_focus_width) dotted var(--sapUiContentFocusColor);
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	pointer-events: none;
}

/* Text */
.sapWCSelect .sapWCSelectLabel {
	min-width: 1rem;
	width: 100%;
}

.sapWCSelect .sapWCSelectLabel ui5-label {
	cursor: pointer;
}

/* Icon */
.sapWCSelect .sapWCSelectDropDownIcon {
	width: 2.5rem;
	height: 100%;
	flex-shrink: 0;
	color: var(--sapUiContentIconColor);
}

.sapWCSelect:hover:not(.sapWCSelectDisabled) .sapWCSelectDropDownIcon {
	border-left: var(--_ui5_select_hover_icon_left_border);
}

 /* States */
 :host(ui5-select[value-state]:not([value-state="None"])) {
	border-style: solid;
	border-width: 0.125rem;
}

ui5-select[value-state]:not([value-state="None"]) {
	border-style: solid;
	border-width: 0.125rem;
}

:host(ui5-select[value-state="Error"]:not([disabled])) {
	border: var(--_ui5_select_state_error_warning_border_width) var(--_ui5_select_state_error_warning_border_style) var(--sapUiFieldInvalidColor);
}

ui5-select[value-state="Error"]:not([disabled]) {
	border: var(--_ui5_select_state_error_warning_border_width) var(--_ui5_select_state_error_warning_border_style) var(--sapUiFieldInvalidColor);
}

:host(ui5-select[value-state="Warning"]:not([disabled])) {
	border: var(--_ui5_select_state_error_warning_border_width) var(--_ui5_select_state_error_warning_border_style) var(--sapUiFieldWarningColor);
}

ui5-select[value-state="Warning"]:not([disabled]) {
	border: var(--_ui5_select_state_error_warning_border_width) var(--_ui5_select_state_error_warning_border_style) var(--sapUiFieldWarningColor);
}

:host(ui5-select[value-state="Success"]:not([disabled])) {
	border-color: var(--sapUiFieldSuccessColor);
}

ui5-select[value-state="Success"]:not([disabled]) {
	border-color: var(--sapUiFieldSuccessColor);
}

.sapWCSelectError {
	background-color: var(--sapUiFieldInvalidBackground);
}

.sapWCSelectWarning {
	background-color: var(--sapUiFieldWarningBackground);
}

.sapWCSelectSuccess {
	background-color: var(--sapUiFieldSuccessBackground);
}

/* Compact */

:host(ui5-select[data-ui5-compact]) {
	height: 1.625rem;
}

ui5-select[data-ui5-compact] {
	height: 1.625rem;
}

:host(ui5-select[data-ui5-compact]) .sapWCSelectDropDownIcon {
	width: 2rem;
}

ui5-select[data-ui5-compact] .sapWCSelectDropDownIcon {
	width: 2rem;
}

/* RTL */
:host(ui5-select) span[dir="rtl"] .sapWCSelect {
	padding-left: 0;
	padding-right: 0.5rem;
}

:host(ui5-select) span[dir="rtl"] .sapWCSelect:hover:not(.sapWCSelectDisabled) .sapWCSelectDropDownIcon {
	border-left: var(--_ui5_select_rtl_hover_icon_left_border);
	border-right: var(--_ui5_select_rtl_hover_icon_right_border);
}

ui5-select span[dir="rtl"] .sapWCSelect {
	padding-left: 0;
	padding-right: 0.5rem;
}

ui5-select span[dir="rtl"] .sapWCSelect:hover:not(.sapWCSelectDisabled) .sapWCSelectDropDownIcon {
	border-left: var(--_ui5_select_rtl_hover_icon_left_border);
	border-right: var(--_ui5_select_rtl_hover_icon_right_border);
}