@import "./InputIcon.css";
@import "./Input.css";

.ui5-select-root {
	width: 100%;
	height: 100%;
	display: flex;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	border-radius: var(--_ui5_input_border_radius);
}

.ui5-select-label-root {
	flex-shrink: 1;
	flex-grow: 1;
	align-self: center;
	min-width: 1rem;
	padding-left: 0.5rem;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--_ui5_select_label_olor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	font-weight: normal;
}

.ui5-select-option-icon {
	padding-left: 0.5rem;
	color: var(--sapField_TextColor);
	align-self: center;
}

:host [dir="rtl"].ui5-select-root .ui5-select-label-root {
	padding-left: 0;
	padding-right: 0.5rem;
}

:host [dir="rtl"] .ui5-select-option-icon {
	padding-right: 0.5rem;
	padding-left: 0;
}

:host(:not([disabled])) {
	cursor: pointer;
}
