:host(ui5-select:not([hidden])) {
	display: inline-block;
	width: 100%;
}

ui5-select:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.sapWCSelect {
	height: 2.25rem;
	max-width: 100%;
	min-width: 5rem;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--sapUiFieldBackground);
	border: 1px solid var(--sapUiFieldBorderColor);
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
}

/* Hovered */
.sapWCSelect:hover:not(.sapWCSelectDisabled):not(.sapWCSelectState):not(.sapWCSelectOpened) {
	background-color: var(--sapUiFieldHoverBackground);
	border: 1px solid var(--sapUiFieldHoverBorderColor);
}

/* Hovered Icon */
.sapWCSelect:hover:not(.sapWCSelectDisabled):not(.sapWCSelectOpened) .sapWCSelectDropDownIcon {
	background: var(--sapUiButtonLiteHoverBackground);
}

/* Opened */
.sapWCSelect.sapWCSelectOpened .sapWCSelectDropDownIcon {
	background: var(--sapUiToggleButtonPressedBackground);
	color: var(--sapUiToggleButtonPressedTextColor);
}

/* Disabled */
.sapWCSelect.sapWCSelectDisabled {
	background: var(--_ui5_select_disabled_background);
	border-color: var(--_ui5_select_disabled_border_color);
	cursor: default;
	opacity: 0.5;
}

/* Focused */
.sapWCSelect:not(.sapWCSelectOpened):not(.sapWCSelectDisabled):focus {
	outline: none;
}

.sapWCSelect:not(.sapWCSelectOpened):not(.sapWCSelectDisabled):focus:before {
	content: "";
	position: absolute;
	border: var(--_ui5_select_focus_width) dotted var(--sapUiContentFocusColor);
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	pointer-events: none;
}

/* Text */
.sapWCSelect .sapWCSelectLabel {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height: 100%;
	min-width: 1rem;
	padding-left: 0.5rem;
}

.sapWCSelect .sapWCSelectLabel ui5-label {
	cursor: pointer;
}

/* Icon */
.sapWCSelect .sapWCSelectDropDownIcon {
    box-sizing: border-box;
	width: 2.5rem;
	height: 100%;
	padding: .4375rem .625rem;
	color: var(--sapUiContentIconColor);
}

.sapWCSelect:hover:not(.sapWCSelectDisabled) .sapWCSelectDropDownIcon {
	border-left: var(--_ui5_select_hover_icon_left_border);
}

 /* States */
.sapWCSelectState {
	border-style: solid;
	border-width: 0.125rem;
}

.sapWCSelectError {
	border: var(--_ui5_select_state_error_warning_border_width) var(--_ui5_select_state_error_warning_border_style) var(--sapUiFieldInvalidColor);
	background-color: var(--sapUiFieldInvalidBackground);
}

.sapWCSelectWarning {
	border: var(--_ui5_select_state_error_warning_border_width) var(--_ui5_select_state_error_warning_border_style) var(--sapUiFieldWarningColor);
	background-color: var(--sapUiFieldWarningBackground);
}

.sapWCSelectSuccess {
	background-color: var(--sapUiFieldSuccessBackground);
	border-color: var(--sapUiFieldSuccessColor);
}

/* Compact */
.sapUiSizeCompact.sapWCSelect {
	height: 1.625rem;
}

.sapUiSizeCompact.sapWCSelect  .sapWCSelectDropDownIcon {
	width: 2rem;
	padding: 0.1875rem 0.4375rem;
}

/* RTL */
:host(ui5-select) [dir="rtl"].sapWCSelect .sapWCSelectLabel {
	padding-left: 0;
	padding-right: 0.5rem;
}

:host(ui5-select) [dir="rtl"].sapWCSelect:hover:not(.sapWCSelectDisabled) .sapWCSelectDropDownIcon {
	border-left: var(--_ui5_select_rtl_hover_icon_left_border);
	border-right: var(--_ui5_select_rtl_hover_icon_right_border);
}

ui5-select [dir="rtl"].sapWCSelect .sapWCSelectLabel {
	padding-left: 0;
	padding-right: 0.5rem;
}

ui5-select [dir="rtl"].sapWCSelect:hover:not(.sapWCSelectDisabled) .sapWCSelectDropDownIcon {
	border-left: var(--_ui5_select_rtl_hover_icon_left_border);
	border-right: var(--_ui5_select_rtl_hover_icon_right_border);
}
