@import "./InputIcon.css";
@import "./Input.css";


:host {
	overflow: hidden;
}

.ui5-select-root {
	width: 100%;
	height: 100%;
	display: flex;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}

.ui5-select-label-root {
	flex-shrink: 1;
	flex-grow: 1;
	align-self: center;
	min-width: 1rem;
	padding-left: var(--_ui5_select_padding_left);
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--_ui5_select_label_color);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	font-weight: normal;
	box-shadow: var(--_ui5_select_label_box_shadow); 
	transition: var(--_ui5-input-transition);
}

.ui5-select-option-icon {
	padding-left: 0.5rem;
	color: var(--sapField_TextColor);
	align-self: center;
}

:host [dir="rtl"].ui5-select-root .ui5-select-label-root {
	padding-left: 0;
	padding-right: 0.5rem;
}

:host [dir="rtl"] .ui5-select-option-icon {
	padding-right: 0.5rem;
	padding-left: 0;
}

:host([disabled]) [input-icon] {
	color: var(--_ui5_select_disabled_input_icon_color);
}

:host([disabled]) .ui5-select-label-root {
	color: var(--_ui5_select_disabled_label_color);
}

:host(:not([disabled])) {
	cursor: pointer;
}

:host(:not([disabled]):not([focused]):not([value-state])) .ui5-select-label-root:not(:empty) {
	box-shadow: var(--_ui5_select_label_with_value_box_shadow);
}

:host([focused][opened]),
:host([value-state]:not([value-state="None"])[focused][opened]) {
	outline: none;
}
