.sapWCShellBarSearchFieldElement.sapWCInputBase .sapWCInputBaseContentWrapper {
	background-color: var(--sapUiShellColor);
	border: 1px solid var(--sapUiShellBorderColorLighten30);
}

.sapWCShellBarSearchFieldElement.sapWCInputBase .sapWCInputBaseContentWrapper:hover:not(.sapWCInputBaseContentWrapperError):not(.sapWCInputBaseContentWrapperWarning):not(.sapWCInputBaseContentWrapperSuccess):not(.sapWCInputBaseDisabledWrapper):not(.sapWCInputBaseReadonlyWrapper) {
	background: var(--sapUiShellHoverBackground);
	border: 1px solid var(--sapUiShellBorderColorLighten30);
}

.sapWCShellBarSearchFieldElement.sapWCInputBase .sapWCInputBaseInner {
	color: var(--sapUiShellTextColor);
}

.sapWCShellBarSearchFieldElement.sapWCInputBase.sapWCFocus .sapWCInputBaseContentWrapper::after {
	border: 1px dotted var(--sapUiContentContrastFocusColor);
}

.sapUiSizeCompact .sapWCShellBarSearchFieldElement.sapWCInput {
	height: 2.25rem;
}