:host(ui5-input[slot="searchField"]) .sapWCInputBase .sapWCInputBaseContentWrapper {
	background-color: var(--sapUiShellColor);
	border: 1px solid var(--sapUiShellBorderColorLighten30);
}

ui5-shellbar ui5-input[slot="searchField"] .sapWCInputBase .sapWCInputBaseContentWrapper {
    background-color: var(--sapUiShellColor);
    border: 1px solid var(--sapUiShellBorderColorLighten30);
}

:host(ui5-input[slot="searchField"]) .sapWCInputBase .sapWCInputBaseContentWrapper:hover:not(.sapWCInputBaseContentWrapperError):not(.sapWCInputBaseContentWrapperWarning):not(.sapWCInputBaseContentWrapperSuccess):not(.sapWCInputBaseDisabledWrapper):not(.sapWCInputBaseReadonlyWrapper) {
	background: var(--sapUiShellHoverBackground);
	border: 1px solid var(--sapUiShellBorderColorLighten30);
}

ui5-shellbar ui5-input[slot="searchField"] .sapWCInputBase .sapWCInputBaseContentWrapper:hover:not(.sapWCInputBaseContentWrapperError):not(.sapWCInputBaseContentWrapperWarning):not(.sapWCInputBaseContentWrapperSuccess):not(.sapWCInputBaseDisabledWrapper):not(.sapWCInputBaseReadonlyWrapper) {
    background: var(--sapUiShellHoverBackground);
    border: 1px solid var(--sapUiShellBorderColorLighten30);
}

:host(ui5-input[slot="searchField"]) .sapWCInputBase .sapWCInputBaseInner {
	color: var(--sapUiShellTextColor);
}

ui5-shellbar ui5-input[slot="searchField"] .sapWCInputBase .sapWCInputBaseInner {
    color: var(--sapUiShellTextColor);
}

:host(ui5-input[slot="searchField"]) .sapWCInputBase.sapWCFocus .sapWCInputBaseContentWrapper::after {
	border: 1px dotted var(--sapUiContentContrastFocusColor);
}

ui5-shellbar ui5-input[slot="searchField"] .sapWCInputBase.sapWCFocus .sapWCInputBaseContentWrapper::after {
    border: 1px dotted var(--sapUiContentContrastFocusColor);
}

:host(ui5-input[slot="searchField"]) .sapUiSizeCompact.sapWCInput {
	height: 2.25rem;
}

ui5-shellbar ui5-input[slot="searchField"] .sapUiSizeCompact.sapWCInput {
    height: 2.25rem;
}
