:host(:not([hidden])) {
    display: inline-block;
    width: 250px;
    height: 100%;
    border-right: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
}

:host([collapsed]) {
    width: 2.5rem;
}

::slotted(ui5-side-navigation-item:not([selected])) {
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
}

.ui5-sn-bottom-content {
    border-top: var(--sapList_BorderWidth) solid var(--sapList_GroupHeaderBorderColor);
}

.ui5-sn-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ui5-sn-flex-wrapper {
    display: flex;
    flex-direction: column;
}