:host(:not([hidden])) {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}

.ui5-sni-content {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.ui5-sni-content:hover {
    background: var(--sapList_Hover_Background);
    cursor: pointer;
}

.ui5-sni-padding {
    padding-left: .5rem;
}

ui5-title {
    flex-grow: 1;
}

.ui5-sni-icon {
    width: 2.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui5-sni-icon > ui5-icon {
    color: var(--sapContent_IconColor);
}

.ui5-sni-children {
    height: 100%;
    max-height: 0;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}

.ui5-sni-children-shown {
    max-height: 100%;
    transition: max-height 0.25s ease-in;
}