.sapMWS {
	display: inline-block;
	overflow: hidden;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	font-family: "72","72full",Arial,Helvetica,sans-serif;
}
.sapMWS .sapMWSLabel {
	box-sizing: border-box;
    height: 2rem;
    line-height: 2rem;
    width: var(--_ui5_slider_item_width);
    font-size: var(--_ui5_slider_label_text_size);
    color: var(--_ui5_slider_label_text_color);
    text-align: center;
    vertical-align: middle;
}

.sapMWS .sapMWSArrows {
	visibility: hidden;
	box-sizing: border-box;
	height: 1.5rem;
}

.sapMWS.sapMWSExpanded .sapMWSArrows {
	visibility: visible;
	box-sizing: border-box;
	width: 100%;
	border-color: transparent;
	cursor: pointer;
}

.sapMWS .sapMWSInner {
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	list-style: none;
	margin-top: 0rem;
}

.sapMWS.sapMWSExpanded .sapMWSInner {
	margin-top: 0;
}

.sapMWS .sapMWSInner .sapMWSItem {
	height: var(--_ui5_slider_item_height);
	line-height: var(--_ui5_slider_item_height);
	width: var(--_ui5_slider_item_width);
	box-sizing: border-box;
	background: var(--_ui5_slider_selected_item_background_color);
	border: 0.625px solid var(--_ui5_slider_item_border_color);
	font-size: var(--_ui5_slider_item_text_size);
	color: var(--_ui5_slider_collapsed_item_text_color);
	text-align: center;
	border-radius: var(--_ui_slider_item_border_radius);
}
.sapMWS .sapMWSInner .sapMWSItem:hover {
	background: var(--_ui5_slider_selected_item_hover_background_color);
}

.sapMWS .sapMWSInner .sapMWSItem:focus {
	outline: 1px dotted black;
	outline-offset: -3px;
}
.sapMWS .sapMWSInner .sapMWSSelectionFrame {
	width: var(--_ui5_slider_item_width);
	height: var(--_ui5_slider_item_height);
	position: absolute;
	box-sizing: border-box;
	visibility: hidden;
	z-index: 1;
}
.sapMWS .sapMWSInner .sapMWrapper > ul {
	transition: all 400ms;
	margin: 0;
	padding: 0;
	position: absolute;
	top: var(--_ui5_slider_selection_frame_margin_top);
	cursor: pointer;
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWrapper > ul {
	top: 0;
}

.sapMWS .sapMWSInner .sapMWrapper {
	height: 27rem;
	position: relative;
}

.sapMWS.sapMWSExpanded {
	height: 100%;
	cursor: default;
	margin: 0;
}

.sapMWS.sapMWSExpanded .sapMWSLabel {
	display: block;
}

.sapMWS .sapMWSInner {
	max-height: 100%;
	height: 27rem;
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSItem {
	background: var(--_ui5_slider_item_background_color);
	color: var(--_ui5_slider_item_text_color);
	border: 1px solid var(--_ui5_slider_item_border_color);
	border-radius: var(--_ui_slider_item_border_radius);
	offset-position: auto;
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSItem:hover {
	background: var(--_ui_slider_item_hover_color);
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSItem:active {
	background: var(--_ui5_slider_selected_item_background_color);
	color: var(--_ui5_slider_item_background_color);
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSItem:focus {
	outline: 1px dotted black;
	outline-offset: -3px;
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSSelectionFrame {
	visibility: visible;
	/* box-shadow: 0.125rem solid var(--_ui5_slider_selected_item_background_color); */
	/* outline-offset: -0.2rem; */
	-webkit-box-shadow: inset 0px 0px 0px 2px var(--_ui5_slider_selection_frame_color);
	-moz-box-shadow: inset 0px 0px 0px 2px var(--_ui5_slider_selection_frame_color);
	box-shadow: inset 0px 0px 0px 2px var(--_ui5_slider_selection_frame_color);
	border-radius: var(--_ui_slider_item_border_radius);
	margin-top: var(--_ui5_slider_selection_frame_margin_top);
}

.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSSelectionFrame:hover + ul > li.sapMWSItem.sapMWSItemSelected {
	background: var(--_ui5_slider_selected_item_background_color);
}
.sapMWS.sapMWSExpanded .sapMWSInner .sapMWSSelectionFrame:active + ul > li.sapMWSItem.sapMWSItemSelected {
	background: var(--_ui5_slider_selected_item_background_color); 
	color: lightgray;
}
.sapMWS:focus {
	outline: none;
}