:host(:not([hidden])) {
	display: inline-block;
}


:host {
	cursor: pointer;
	vertical-align: top;	
	position: relative;
	width: 100%;	
	z-index: 0;
}

.ui5-slider-root {
	box-sizing: border-box;
	height: 2rem;
	padding: 1rem 0;

}

.ui5-slider-inner {
	width: 100%;
	position: relative;
	min-width: 4rem;
	height: 2rem;
}

.ui5-slider-progress-container {
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	z-index: 1;
    height: 0.25rem;

	background: #89919a;
	border-radius: 0.25rem;
}

.ui5-slider-progress {
	background: #0854a0;
	border-radius: 0.25rem;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
    transform-origin: left top;
    will-change: transform;
}


.ui5-slider-progress:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 500%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.ui5-slider-tickmarks {
	color: #89919a;
	position: absolute;
	width: 100%;
	height: 1rem;
	top: -0.35rem;
}

.ui5-slider-handle, .ui5-slider-end-handle {
	margin-left: -1rem;
	top: -0.91rem;
	height: 1.75rem;
	width: 1.75rem;
	direction: ltr; 
	border-radius: 1rem;
	background: #FFF;
	border: solid 0.125rem #89919a;
	position: absolute;
	opacity: 0.65;
}

/* ------------------------------ */
/* Slider Tooltip styles          */
/* ------------------------------ */

.ui5-slider-tooltip, .ui5-slider-end-tooltip {
	position: absolute;
	border: 1px solid #333;
	border-radius: 0.25rem;
	bottom: 2.25rem;
	left: -0.5rem;
	display: block;
	color: #333;
	font-size: 1rem;
	font-weight: bold;
	font-family: sans-serif;
	height: 1.625rem;
	line-height: 1.625rem;
	padding: 0.25rem;
	text-align: center;
	visibility: hidden;
	background-color: #FFF;
	min-width: 2.225rem;
	pointer-events: none;
}