:host([ui5-suggestion-item]) {
	height: auto;
	min-height: var(--_ui5_list_item_base_height);
}

:host([ui5-suggestion-item]) .ui5-li-root {
	min-height: var(--_ui5_list_item_base_height);
}

:host([ui5-suggestion-item]) .ui5-li-content {
	padding-bottom: .5rem;
	padding-top: .5rem;
	box-sizing: border-box;
}
