/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
}

.ui5-switch-root {
	position: relative;
	width: 100%;
	height: var(--_ui5_switch_height);
	min-width: var(--_ui5_switch_width);
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui5-switch-root.ui5-switch--no-label {
	min-width: var(--_ui5_switch_no_label_width);
}

.ui5-switch-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	will-change: transform;
}

.ui5-switch-track {
	height: var(--_ui5_switch_track_height);
	width: 100%;
	display: flex;
	align-items: center;
	background: var(--sapButton_Track_Background);
	border: 1px solid;
	border-color: var(--sapContent_ForegroundBorderColor);
	border-radius: var(--_ui5_switch_track_border_radius);
	box-sizing: border-box;
}

.ui5-switch--no-label .ui5-switch-track {
	height: var(--_ui5_switch_track_no_label_height);
}

.ui5-switch-slider {
	position: relative;
	height: var(--_ui5_switch_height);
	width: 100%;
	transition: transform 0.1s ease-in;
	transform-origin: top left;
}

.ui5-switch-handle {
	position: absolute;
	left: -1px;
	width: var(--_ui5_switch_handle_width);
	height: var(--_ui5_switch_handle_height);
	background: var(--_ui5_switch_handle_bg);
	border: var(--_ui5_switch_handle_border_width) solid var(--sapContent_ForegroundBorderColor);
	border-radius: var(--_ui5_switch_handle_border_radius);
	box-sizing: border-box;
}

.ui5-switch-text {
	display: flex;
	justify-content: center;
	position: absolute;
	min-width: 1.625rem;
	padding: 0 0.125rem;
	font-size: var(--sapFontSmallSize);
	font-family: var(--sapFontFamily);
	text-transform: uppercase;
	text-align: center;
	color: var(--sapTextColor);
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.ui5-switch-text--on {
	left: var(--_ui5_switch_text_on_left);
}

.ui5-switch-text--off {
	right: 0;
}

.ui5-switch-handle,
.ui5-switch-text {
	top: 50%;
	transform: translateY(-50%);
}

/* switch focused */
.ui5-switch-desktop.ui5-switch-root:focus::after {
	content: "";
	position: absolute;
	left: -var(--_ui5_switch_outline);
	top: 0;
	bottom: 0;
	width: 100%;
	border: var(--_ui5_switch_outline) dotted var(--sapContent_FocusColor);
	pointer-events: none;
}

/* switch hidden input */
.ui5-switch-root .ui5-switch-input {
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	margin: 0;
	visibility: hidden;
	-webkit-appearance: none;
}

/* switch disabled */
.ui5-switch-root.ui5-switch--disabled {
	opacity: 0.4;
	cursor: default;
}


.ui5-switch-root.ui5-switch--disabled.ui5-switch--checked .ui5-switch-track {
	background: var(--_ui5_switch_track_disabled_checked_bg);
}
.ui5-switch-root.ui5-switch--disabled.ui5-switch--checked .ui5-switch-handle {
	background: var(--_ui5_switch_handle_disabled_checked_bg);
}


.ui5-switch-root.ui5-switch--disabled .ui5-switch-handle {
	background: var(--_ui5_switch_handle_disabled_bg);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled .ui5-switch-track {
	background: var(--_ui5_switch_track_disabled_semantic_checked_bg);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled .ui5-switch-handle {
	background: var(--_ui5_switch_handle_disabled_semantic_checked_bg);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled:not(.ui5-switch--checked) .ui5-switch-track {
	background: var(--_ui5_switch_track_disabled_semantic_bg);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled:not(.ui5-switch--checked) .ui5-switch-handle {
	background: var(--sapButton_Background);
}

/* switch checked */
.ui5-switch-root.ui5-switch--checked .ui5-switch-handle {
	background:  var(--_ui5_switch_handle_checked_bg);
	border-color: var(--_ui5_switch_handle_checked_border_color);
}

.ui5-switch-root.ui5-switch--checked .ui5-switch-track {
	background: var(--sapButton_Track_Selected_Background);
}

.ui5-switch-root.ui5-switch--checked .ui5-switch-slider {
	/* Move slider to oposite end, taking into account the handle as an offset. */
	/* Note: translate(calc()) does not work in IE11 */
	transform	: var(--_ui5_switch_slide_transform);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled) .ui5-switch-text--on,
.ui5-switch-root.ui5-switch--checked .ui5-switch-text--off {
	color: var(--sapButton_Track_Selected_TextColor);
}

/* switch semantic off */
.ui5-switch-root.ui5-switch--semantic .ui5-switch-track,
.ui5-switch-root.ui5-switch--semantic .ui5-switch-handle {
	border-color: var(--sapSuccessBorderColor);
}

.ui5-switch-root.ui5-switch--semantic .ui5-switch-track {
	background: var(--sapSuccessBackground);
}

.ui5-switch-root.ui5-switch--semantic .ui5-switch-handle {
	background: var(--sapButton_Background);
}

/* switch semantic icon */
.ui5-switch-root.ui5-switch--semantic .ui5-switch-text {
	justify-content: center;
	font-size: var(--sapFontSmallSize);
}

.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-on,
.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-off {
	width: 0.75rem;
	height: 0.75rem;
}
.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-on {
	color: var(--sapPositiveElementColor);
}

.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-off {
	color: var(--sapNegativeElementColor);
}

/* switch semantic on */
.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--checked) .ui5-switch-track,
.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--checked) .ui5-switch-handle {
	border-color: var(--sapErrorBorderColor);
}

.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--checked) .ui5-switch-track {
	background: var(--sapErrorBackground);
}

.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--checked) .ui5-switch-handle {
	background: var(--sapButton_Background);
}

/* switch hover effects */

/* switch on hover, when switched off */
.ui5-switch-desktop.ui5-switch-root:not(.ui5-switch--disabled):hover .ui5-switch-track {
	border-color: var(--sapButton_Hover_BorderColor);
	background: var(--sapButton_Track_Background);
}

.ui5-switch-desktop.ui5-switch-root:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--sapButton_Hover_Background);
	border-color: var(--sapButton_Hover_BorderColor);
}

 /* switch on hover, when switched on */
.ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--sapButton_Selected_Hover_Background);
	border-color: var(--sapButton_Hover_BorderColor);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-track {
	border-color: var(--sapButton_Hover_BorderColor);
	background: var(--_ui5_switch_track_hover_checked_background_color);
}

/* semantic switch on hover, when switched off */
.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_hover_bg);
	border-color: var(--_ui5_switch_handle_semantic_hover_border_color);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--disabled):hover .ui5-switch-track {
	border-color: var(--_ui5_switch_handle_semantic_hover_border_color);
}

/* semantic switch on hover, when switched on */
.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_checked_hover_bg);
	border-color: var(--_ui5_switch_handle_semantic_checked_hover_border_color);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-track {
	border-color: var(--_ui5_switch_handle_semantic_checked_hover_border_color);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled .ui5-switch-icon--on,
.ui5-switch-root.ui5-switch--semantic:hover .ui5-switch-icon--on {
	color: var(--_ui5_switch_text_on_semantic_color);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled .ui5-switch-icon--off,
.ui5-switch-root.ui5-switch--semantic:hover .ui5-switch-icon--off {
	color: var(--_ui5_switch_text_off_semantic_color);
}

/* RTL */
[dir="rtl"].ui5-switch-root .ui5-switch-handle {
	left: 0;
	right: -1px;
}

[dir="rtl"].ui5-switch-root.ui5-switch--checked .ui5-switch-slider {
	transform: var(--_ui5_switch_rtl_transform);
}

[dir="rtl"].ui5-switch-root .ui5-switch-text--on {
	right: var(--_ui5_switch_text_right);
	left: auto;
}

[dir="rtl"].ui5-switch-root .ui5-switch-text--off {
	right: auto;
	left: 0;
}
