@import "./InvisibleTextStyles.css";
@import "./TapHighlightColor.css";

:host(:not([hidden])) {
	display: inline-block;
}

.ui5-switch-root {
	position: relative;
	display: flex;
	align-items: center;
	width: var(--_ui5_switch_width);
	height: var(--_ui5_switch_height);
	min-width: var(--_ui5_switch_min_width);
	cursor: pointer;
	outline: none;
	border-radius: var(--_ui5-switch-root-border-radius);
}

.ui5-switch-root.ui5-switch--no-label {
	min-width: var(--_ui5_switch_no_label_width);
}

.ui5-switch-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	min-width: inherit;
	overflow: hidden;
	pointer-events: none;
	will-change: transform;
}

:host([checked]) .ui5-switch-inner {
	border-radius: 6.25rem;
	box-shadow: var(--_ui5-switch-root-box-shadow);
}

.ui5-switch-track {
	height: var(--_ui5_switch_track_height);
	width: var(--_ui5_switch_track_width);
	display: flex;
	align-items: center;
	background: var(--_ui5-switch_track-off-background);
	border: var(--_ui5-switch-track-border);
	border-radius: var(--_ui5_switch_track_border_radius);
	box-sizing: border-box;
	transition: var(--_ui5-switch-track-transition);
	margin: var(--_ui5_switch_track_top_padding) var(--_ui5_switch_track_right_padding) var(--_ui5_switch_track_bottom_padding) var(--_ui5_switch_track_left_padding);
}

.ui5-switch--no-label .ui5-switch-track {
	height: var(--_ui5_switch_track_no_label_height);
	width: var(--_ui5_switch_track_no_label_width);
}

.ui5-switch-slider {
	position: relative;
	height: var(--_ui5_switch_height);
	width: 100%;
	transition: transform 0.1s ease-in;
	transform-origin: top left;
}

.ui5-switch-slider > *:not(.ui5-switch-handle) {
	display: var(--_ui5-switch-slider-texts-display);
}

.ui5-switch-handle {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: var(--_ui5-switch-handle-left);
	width: var(--_ui5_switch_handle_width);
	height: var(--_ui5_switch_handle_height);
	background: var(--_ui5_switch_handle_bg);
	border: var(--_ui5-switch-handle-border);
	border-radius: var(--_ui5_switch_handle_border_radius);
	box-sizing: border-box;
}

.ui5-switch--no-label .ui5-switch-handle {
	height: var(--_ui5_switch_handle_height);
	width: var(--_ui5_switch_handle_no_label_width);
}

.ui5-switch-handle-icon {
	display: var(--_ui5-switch-handle-icon-display);
	transition: var(--_ui5-switch-track-transition);
}

:host([checked]) .ui5-switch-handle-icon {
	color: var(--_ui5-switch_track-on-background)
}

.ui5-switch-text {
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: var(--_ui5_switch_text_z_index);
	min-width: 1.625rem;
	font-size: var(--sapFontSmallSize);
	font-family: var(--_ui5-switch-text_font_family);
	text-transform: uppercase;
	text-align: center;
	color: var(--sapTextColor);
	white-space: nowrap;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.ui5-switch-text--on {
	left: var(--_ui5_switch_text_on_left);
	padding: var(--_ui5_switch_text_on_top_padding) var(--_ui5_switch_text_on_right_padding) var(--_ui5_switch_text_on_bottom_padding) var(--_ui5_switch_text_on_left_padding);
}

.ui5-switch-text--off {
	right: 0;
	padding: var(--_ui5_switch_text_off_top_padding) var(--_ui5_switch_text_off_right_padding) var(--_ui5_switch_text_off_bottom_padding) var(--_ui5_switch_text_off_left_padding);
}

.ui5-switch-handle,
.ui5-switch-text {
	top: 50%;
	transform: translateY(-50%);
}

/* switch focused */
.ui5-switch-desktop.ui5-switch-root:focus::after {
	content: "";
	position: absolute;
	left: var(--_ui5_switch_root_outline_left);
	right: var(--_ui5_switch_root_outline_right);
	top: var(--_ui5_switch_root_outline_top);
	bottom: var(--_ui5_switch_root_outline_bottom);
	width: var(--_ui5_switch_focus_width_size);
	height: var(--_ui5_switch_focus_height_size);
	border: var(--_ui5_switch_focus_outline);
	border-radius: var(--_ui5_switch_root_after_boreder_radius);
	pointer-events: none;
	transition: var(--_ui5-switch-track-transition);
	outline: var(--_ui5_switch_root_after_outline);
}

/* switch hidden input */
.ui5-switch-root .ui5-switch-input {
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	margin: 0;
	visibility: hidden;
	-webkit-appearance: none;
}

/* switch disabled */
.ui5-switch-root.ui5-switch--disabled {
	opacity: var(--_ui5_switch_disabled_opacity);
	cursor: default;
}

.ui5-switch-root.ui5-switch--checked .ui5-switch-text--off {
	visibility: var(--_ui5_switch_text_hidden);
}
.ui5-switch-root:not(.ui5-switch--checked) .ui5-switch-text--on {
	visibility: var(--_ui5_switch_text_hidden);
}

/* handle */
.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_active_background_color);
	border-color: var(--_ui5_switch_handle_active_border_color);
}
.ui5-switch-root:not(.ui5-switch--checked):not(.ui5-switch--disabled) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_inactive_background_color);
	border-color: var(--_ui5_switch_handle_inactive_border_color);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--_ui5_switch_handle_hover_active_background_color);
}
.ui5-switch-desktop.ui5-switch-root:not(.ui5-switch--disabled):not(.ui5-switch--checked):hover .ui5-switch-handle {
	background: var(--_ui5_switch_handle_hover_inactive_background_color);
}

.ui5-switch-root.ui5-switch--disabled.ui5-switch--checked:not(.ui5-switch--disabled) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_disabled_active_background_color);
	border-color: var(--_ui5_switch_handle_disabled_active_border_color);
}
.ui5-switch-root.ui5-switch--disabled:not(.ui5-switch--checked):not(.ui5-switch--disabled) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_disabled_inactive_background_color);
	border-color: var(--_ui5_switch_handle_disabled_inactive_border_color);
}

/* handle semantic*/
.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_accept_background_color);
	border-color: var(--_ui5_switch_handle_semantic_accept_border_color);
}
.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--checked):not(.ui5-switch--disabled) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_reject_background_color);
	border-color: var(--_ui5_switch_handle_semantic_reject_border_color);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_hover_accept_background_color);
}
.ui5-switch-desktop.ui5-switch--semantic.ui5-switch-root:not(.ui5-switch--checked):not(.ui5-switch--disabled):hover .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_hover_reject_background_color);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled.ui5-switch--checked .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_disabled_accpet_background_color);
	border-color: var(--_ui5_switch_handle_semantic_disabled_accpet_border_color);
}
.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled:not(.ui5-switch--checked) .ui5-switch-handle {
	background: var(--_ui5_switch_handle_semantic_disabled_reject_background_color);
	border-color: var(--_ui5_switch_handle_semantic_disabled_reject_border_color);
}


/* track */
.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled) .ui5-switch-track {
	background: var(--_ui5_switch_track_active_background_color);
	border-color: var(--_ui5_switch_track_active_border_color);
}
.ui5-switch-root:not(.ui5-switch--checked):not(.ui5-switch--disabled) .ui5-switch-track {
	background: var(--_ui5_switch_track_inactive_background_color);
	border-color: var(--_ui5_switch_track_inactive_border_color);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-track {
	background: var(--_ui5_switch_track_hover_active_background_color);
	border-color: var(--_ui5_switch_track_hover_active_border_color);
}
.ui5-switch-desktop.ui5-switch-root:not(.ui5-switch--checked):not(.ui5-switch--disabled):hover .ui5-switch-track {
	background: var(--_ui5_switch_track_hover_inactive_background_color);
	border-color: var(--_ui5_switch_track_hover_inactive_border_color);
}

.ui5-switch-root.ui5-switch--disabled.ui5-switch--checked .ui5-switch-track {
	background: var(--_ui5_switch_track_disabled_active_background_color);
	border-color: var(--_ui5_switch_track_disabled_active_border_color);
}
.ui5-switch-root.ui5-switch--disabled:not(.ui5-switch--checked) .ui5-switch-track {
	background: var(--_ui5_switch_track_disabled_inactive_background_color);
	border-color: var(--_ui5_switch_track_disabled_inactive_border_color);
}

/* track semantic*/
.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled) .ui5-switch-track {
	background: var(--_ui5_switch_track_semantic_accept_background_color);
	border-color: var(--_ui5_switch_track_semantic_accept_border_color);
}
.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--checked):not(.ui5-switch--disabled) .ui5-switch-track {
	background: var(--_ui5_switch_track_semantic_reject_background_color);
	border-color: var(--_ui5_switch_track_semantic_reject_border_color);
}

.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-track {
	background: var(--_ui5_switch_track_semantic_hover_accept_background_color);
	border-color: var(--_ui5_switch_track_semantic_hover_accept_border_color);
}
.ui5-switch-desktop.ui5-switch--semantic.ui5-switch-root:not(.ui5-switch--checked):not(.ui5-switch--disabled):hover .ui5-switch-track {
	background: var(--_ui5_switch_track_semantic_hover_reject_background_color);
	border-color: var(--_ui5_switch_track_semantic_hover_reject_border_color);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled.ui5-switch--checked .ui5-switch-track {
	background: var(--_ui5_switch_track_semantic_disabled_accpet_background_color);
	border-color: var(--_ui5_switch_track_semantic_disabled_accpet_border_color);
}
.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled:not(.ui5-switch--checked) .ui5-switch-track {
	background: var(--_ui5_switch_track_semantic_disabled_reject_background_color);
	border-color: var(--_ui5_switch_track_semantic_disabled_reject_border_color);
}

.ui5-switch-root.ui5-switch--checked .ui5-switch-slider {
	/* Move slider to oposite end, taking into account the handle as an offset. */
	/* Note: translate(calc()) does not work in IE11 */
	transform	: translateX(100%) translateX(-1.875rem);
}

.ui5-switch--no-label .ui5-switch-no-label-icon-on,
.ui5-switch--no-label .ui5-switch-no-label-icon-off {
	width: .75rem;
	height: .75rem;
	display: var(--_ui5-switch-track-icon-display);
}

/* switch semantic icon and type noLabel icon in horizon theme */
.ui5-switch-text .ui5-switch-text--on .ui5-switch-no-label-icon,
.ui5-switch-root.ui5-switch--semantic .ui5-switch-text,
.ui5-switch-root.ui5-switch--no-label .ui5-switch-text {
	display: flex;
	justify-content: center;
	
}

.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-on,
.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-off {
	width: 0.75rem;
	height: 0.75rem;
}

.ui5-switch-root.ui5-switch--semantic .ui5-switch-text {
	font-family: var(--_ui5_switch_text_semantic_font_family);
	font-size: var(--_ui5_switch_text_semantic_font_size);
}

.ui5-switch-root.ui5-switch--no-label .ui5-switch-icon-on,
.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-on {
	padding: var(--_ui5_switch_text_on_top_padding) 0 var(--_ui5_switch_text_on_bottom_padding) 0;
}

.ui5-switch-root.ui5-switch--no-label .ui5-switch-icon-off,
.ui5-switch-root.ui5-switch--semantic .ui5-switch-icon-off {
	padding: var(--_ui5_switch_text_off_top_padding) 0 var(--_ui5_switch_text_off_bottom_padding) 0;
}

/* switch active effects */
/* active & off */

:host([active]) .ui5-switch-desktop.ui5-switch-root:not(.ui5-switch--disabled) .ui5-switch-track {
	background: var( --_ui5-switch_track-off-active-background);
} 

/* active & on */

:host([active]) .ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-track {
	background: var(--_ui5-switch_track-on-active-background);
}

.ui5-switch-desktop.ui5-switch-root:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	box-shadow: var(--_ui5_switch_handle_off_hover_box_shadow);
}

 /* switch on hover, when switched on */
.ui5-switch-desktop.ui5-switch-root.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	box-shadow: var(--_ui5_switch_handle_on-hover_box_shadow);
}

/* semantic switch on hover, when switched off */
.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	box-shadow: var(--_ui5_switch_handle_semantic_off_hover_box_shadow);
}

/* semantic switch on hover, when switched on */
.ui5-switch-desktop.ui5-switch-root.ui5-switch--semantic.ui5-switch--checked:not(.ui5-switch--disabled):hover .ui5-switch-handle {
	box-shadow: var(--_ui5_switch_handle_semantic_on_hover_box_shadow);
}

/* Text */ 
.ui5-switch-root.ui5-switch--semantic .ui5-switch-text--on {
	color: var(--_ui5_switch_text_semantic_accept_color);
}
.ui5-switch-root.ui5-switch--semantic .ui5-switch-text--off {
	color: var(--_ui5_switch_text_semantic_reject_color);
}

.ui5-switch-root .ui5-switch-text--on {
	color: var(--_ui5_switch_text_active_color);
	width: var(--_ui5_switch_text_width);
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui5-switch-root .ui5-switch-text--off {
	color: var(--_ui5_switch_text_inactive_color);
	width: var(--_ui5_switch_text_width);
	overflow: hidden;
	text-overflow: ellipsis;
}


/* Text semantic */
.ui5-switch-root.ui5-switch--disabled .ui5-switch-text--on {
	color: var(--_ui5_switch_text_disabled_active_color);
}
.ui5-switch-root.ui5-switch--disabled .ui5-switch-text--off {
	color: var(--_ui5_switch_text_disabled_inactive_color);
}

.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled .ui5-switch-text--on {
	color: var(--_ui5_switch_text_semantic_disabled_reject_color);
}
.ui5-switch-root.ui5-switch--semantic.ui5-switch--disabled .ui5-switch-text--off {
	color: var(--_ui5_switch_text_semantic_disabled_accpet_color);
}

/* RTL */
[dir="rtl"].ui5-switch-root .ui5-switch-handle {
	left: 0;
	right: -1px;
}

[dir="rtl"].ui5-switch-root.ui5-switch--checked .ui5-switch-slider {
	transform: var(--_ui5_switch_rtl_transform);
}

[dir="rtl"].ui5-switch-root .ui5-switch-text--on {
	right: var(--_ui5_switch_text_right);
	left: auto;
}

[dir="rtl"].ui5-switch-root .ui5-switch-text--off {
	right: auto;
	left: 0;
}
