/* ============================= */
/* Global Base parameters        */
/* ============================= */
:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-tc-root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: var(--sapUiFontFamily);
	font-size: 1rem;
}

.ui5-tc__header {
	background-color: var(--sapUiObjectHeaderBackground);
	border-bottom: var(--_ui5_tc_header_border_bottom);
	box-shadow: var(--_ui5_tc_header_box_shadow);
	display: flex;
	align-items: center;
}

.ui-tc__headerScrollContainer {
	box-sizing: border-box;
	overflow: hidden;
	flex: 1;
}

.ui5-tc__headerList {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui5-tc__separator {
	width: 0;
	border-left: 2px solid var(--sapUiListBorderColor);
	margin: 0.5rem 0.25rem;
}

.ui5-tc__headerItem {
	color: var(--_ui5_tc_headerItem_color);
	cursor: pointer;
	flex-shrink: 0;
	margin: 0 1rem;
	font-size: var(--sapMFontSmallSize);
	text-shadow: var(--sapUiShadowText);
	position: relative;
	display: inline-flex;
	align-items: center;
}

.ui5-tc__headerItem:last-child {
	margin-right: 0;
}

.ui5-tc__headerItemContent {
	pointer-events: none;
}

.ui5-tc__headerItem--selected.ui5-tc__headerItem--textOnly {
	color: var(--_ui5_tc_headeritem_text_selected_color);
}

.ui5-tc__headerItem--selected.ui5-tc__headerItem--textOnly .ui5-tc__headerItemContent::after,
.ui5-tc__headerItem--selected.ui5-tc__headerItem--mixedMode .ui5-tc__headerItemContent::after,
.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer::after {
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: var(--_ui5_tc_headerItemContent_border_bottom);
}

.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer::after {
	bottom: -0.8rem;
}

.ui5-tc__headerItem--disabled,
.ui5-tc__overflowItem--disabled {
	cursor: default;
	opacity: 0.5;
}

.ui5-tc__headerItem:focus,
.ui5-tc__separator:focus {
	outline: none;
}

.ui5-tc__headerItem--withIcon:focus .ui5-tc-headerItemIcon-outer,
.ui5-tc__headerItem--mixedMode:focus .ui5-tc__headerItemContent,
.ui5-tc__headerItem--textOnly:focus .ui5-tc__headerItemContent {
	outline: var(--_ui5_tc_headerItem_focus_border);
}

.ui5-tc-headerItemSemanticIcon::before {
	display: var(--_ui5_tc_headerItemSemanticIcon_display);
	font-family: "SAP-icons";
	font-size: 0.75rem;
	margin-right: 0.25rem;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.ui5-tc-headerItemSemanticIcon--positive::before {
	content: "\e1ab";
}

.ui5-tc-headerItemSemanticIcon--negative::before {
	content: "\e1ac";
}

.ui5-tc-headerItemSemanticIcon--critical::before {
	content: "\e1ae";
}

/*** Icon and text Tab styles ***/
.ui5-tc__headerItem--withIcon,
.ui5-tc__headerItem--mixedMode {
	margin-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.ui5-tc-headerItemIcon-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: var(--_ui5_tc_headerItemIcon_border);
	border-radius: 50%;
	margin-right: 0.25rem;
	height: 3rem;
	width: 3rem;
	pointer-events: none;
}

.ui5-tc-headerItemIcon {
	width: 1.5rem;
	height: 1.5rem;
	color: var(--_ui5_tc_headerItemIcon_color);
	text-shadow: var(--sapUiShadowText);
	pointer-events: none;
}

.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer {
	background-color: var(--_ui5_tc_headerItemIcon_selected_background);
}

.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon {
	color: var(--_ui5_tc_headerItemIcon_selected_color);
	text-shadow: none;
}

.ui5-tc__headerItem--withIcon .ui5-tc__headerItemAdditionalText + .ui5-tc__headerItemText {
	display: block;
	margin-top: 0.625rem;
}
/*** END Icon and text Tab styles ***/

/*** TextOnly Tab styles ***/
.ui5-tc__headerItem--textOnly {
	font-size: var(--sapMFontMediumSize);
	height: 3rem;
	display: flex;
	align-items: center;
}
/*** END TextOnly Tab styles ***/

/*** Mixed Mode Tab styles ***/
.ui5-tc__headerItem--mixedMode .ui5-tc__headerItemText,
.ui5-tc__headerItem--mixedMode .ui5-tc__headerItemAdditionalText {
	display: inline-block;
	vertical-align: middle;
}

.ui5-tc__headerItem--mixedMode .ui5-tc__headerItemAdditionalText {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}
/*** END TextOnly Tab styles ***/

.ui5-tc__headerArrow {
	cursor: pointer;
	color: var(--sapUiContentIconColor);
	padding: 0 0.25rem;
	visibility: hidden;
}

.ui5-tc__headerArrow:hover,
.ui5-tc__headerArrow:active {
	color: var(--sapUiHighlight);
}

.ui5-tc__headerArrow--visible {
	visibility: visible;
}

.ui-tc__overflowButton {
	display: none;
	margin-left: auto;
	margin-right: 0.25rem;
}

.ui-tc__overflowButton--visible {
	display: block;
}

.ui5-tc__overflowItem {
	color: var(--_ui5_tc_overflowItem_default_color);
}

.ui5-tc__overflowItemContent {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	height: 3rem;
}

.ui5-tc__overflowItem ui5-icon {
	width: 1.375rem;
	height: 1.375rem;
	padding-right: 1rem;
}

.ui5-tc__content {
	background-color: var(--sapUiGroupContentBackground);
	border-bottom: var(--_ui5_tc_content_border_bottom);
	padding: 1rem;
	position: relative;
	height: 100%;
}

.ui5-tc__content--collapsed {
	display: none;
}

.ui5-tc--transparent .ui5-tc__content {
	background-color: transparent;
}

.ui5-tc__contentItem {
	height: 100%;
	overflow: auto;
}

.ui5-tc__contentItem--hidden {
	display: none;
}

/*** Semantic states ***/
.ui5-tc__headerItem--positive.ui5-tc__headerItem--textOnly,
.ui5-tc__headerItem--positive .ui5-tc-headerItemIcon-outer,
.ui5-tc-headerItemSemanticIcon--positive::before,
.ui5-tc__overflowItem--positive {
	color: var(--sapUiPositive);
	border-color: var(--_ui5_tc_headerItem_positive_selected_border_color);
}

.ui5-tc__headerItem--positive .ui5-tc-headerItemIcon {
	color: var(--sapUiPositive);
}

.ui5-tc__headerItem--positive.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer {
	background-color: var(--_ui5_tc_headerItemIcon_positive_selected_background);
	color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tc__headerItem--positive.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon {
	color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tc__headerItem.ui5-tc__headerItem--positive .ui5-tc__headerItemContent::after,
.ui5-tc__headerItem--positive .ui5-tc-headerItemIcon-outer::after {
	border-color: var(--sapUiPositive);
}

.ui5-tc__headerItem--negative.ui5-tc__headerItem--textOnly,
.ui5-tc__headerItem--negative .ui5-tc-headerItemIcon-outer,
.ui5-tc-headerItemSemanticIcon--negative::before,
.ui5-tc__overflowItem--negative {
	color: var(--sapUiNegative);
	border-color: var(--_ui5_tc_headerItem_negative_selected_border_color);
}

.ui5-tc__headerItem--negative .ui5-tc-headerItemIcon {
	color: var(--sapUiNegative);
}

.ui5-tc__headerItem--negative.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer {
	background-color: var(--_ui5_tc_headerItemIcon_negative_selected_background);
}

.ui5-tc__headerItem--negative.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon {
	color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tc__headerItem.ui5-tc__headerItem--negative .ui5-tc__headerItemContent::after,
.ui5-tc__headerItem--negative .ui5-tc-headerItemIcon-outer::after {
	border-color: var(--sapUiNegative);
}

.ui5-tc__headerItem--critical.ui5-tc__headerItem--textOnly,
.ui5-tc__headerItem--critical .ui5-tc-headerItemIcon-outer,
.ui5-tc-headerItemSemanticIcon--critical::before,
.ui5-tc__overflowItem--critical {
	color: var(--sapUiCritical);
	border-color: var(--_ui5_tc_headerItem_critical_selected_border_color);
}

.ui5-tc__headerItem--critical .ui5-tc-headerItemIcon {
	color: var(--sapUiCritical);
}

.ui5-tc__headerItem--critical.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer {
	background-color: var(--_ui5_tc_headerItemIcon_critical_selected_background);
}

.ui5-tc__headerItem--critical.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon {
	color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tc__headerItem.ui5-tc__headerItem--critical .ui5-tc__headerItemContent::after,
.ui5-tc__headerItem--critical .ui5-tc-headerItemIcon-outer::after {
	border-color: var(--sapUiCritical);
}

.ui5-tc__headerItem--nutral.ui5-tc__headerItem--textOnly,
.ui5-tc__headerItem--neutral .ui5-tc-headerItemIcon-outer,
.ui5-tc__overflowItem--neutral {
	color: var(--sapUiNeutral);
	border-color: var(--_ui5_tc_headerItem_neutral_selected_border_color);
}

.ui5-tc__headerItem--neutral .ui5-tc-headerItemIcon {
	color: var(--sapUiNeutral);
}

.ui5-tc__headerItem--neutral.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon-outer {
	background-color: var(--_ui5_tc_headerItemIcon_neutral_selected_background);
}

.ui5-tc__headerItem--neutral.ui5-tc__headerItem--selected .ui5-tc-headerItemIcon {
	color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tc__headerItems.ui5-tc__headerItem--neutral .ui5-tc__headerItemContent::after,
.ui5-tc__headerItem--neutral .ui5-tc-headerItemIcon::after {
	border-color: var(--sapUiNeutral);
}

/*** RTL ***/
[dir=rtl] .ui5-tc__headerItem:last-child {
	margin-left: 0;
}

[dir=rtl] .ui5-tc-headerItemSemanticIcon::before {
	margin-left: 0.25rem;
	margin-right: 0;
}

[dir=rtl] .ui5-tc-headerItemIcon-outer {
	margin-left: 0.25rem;
	margin-right: 0;
}

[dir=rtl] .ui5-tc__headerItem--mixedMode .ui5-tc__headerItemAdditionalText {
	margin-right: 0;
	margin-left: 0.5rem;
}

[dir=rtl] .ui-tc__overflowButton {
	margin-right: auto;
	margin-left: 0.25rem;
}

/*** Compact ***/
:host([data-ui5-compact-size]) .ui5-tc__headerItem--textOnly,
:host([data-ui5-compact-size]) .ui5-tc__overflowItemContent {
	height: 2rem;
}

:host([data-ui5-compact-size]) .ui5-tc__headerItem--textOnly {
	line-height: 1.325rem;
}

:host([data-ui5-compact-size]) .ui5-tc-headerItemIcon-outer {
	height: 2rem;
	width: 2rem;
}

:host([data-ui5-compact-size]) .ui5-tc-headerItemIcon {
	height: 1rem;
	width: 1rem;
}

:host([data-ui5-compact-size]) .ui5-tc__headerItem--withIcon  .ui5-tc__headerItemAdditionalText + .ui5-tc__headerItemText {
	margin-top: 0.3125rem;
}
