/* ============================= */
/* Global Base parameters        */
/* ============================= */
:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-tc-root {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	font-family: var(--sapFontFamily);
	font-size: 1rem;
}

.ui5-tc__header {
	display: flex;
	align-items: center;
	height: var(--_ui5_tc_header_height);
	background-color: var(--sapObjectHeader_Background);
	border-bottom: var(--_ui5_tc_header_border_bottom);
	box-shadow: var(--_ui5_tc_header_box_shadow);
	box-sizing: border-box;
}

.ui5-tc-root.ui5-tc--textOnly .ui5-tc__header {
	height: var(--_ui5_tc_header_height_text_only);
}

.ui-tc__headerScrollContainer {
	box-sizing: border-box;
	overflow: hidden;
	flex: 1;
}

.ui5-tc__headerList {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui5-tc__separator {
	width: 0;
	border-left: 2px solid var(--sapList_BorderColor);
	margin: 0.5rem 0.25rem;
}

.ui5-tc__separator:focus {
    outline: none;
}

.ui5-tc__headerArrow {
	cursor: pointer;
	color: var(--sapContent_IconColor);
	padding: 0 0.25rem;
	visibility: hidden;
}

.ui5-tc__headerArrow:hover,
.ui5-tc__headerArrow:active {
	color: var(--sapHighlightColor);
}

.ui5-tc__headerArrow--visible {
	visibility: visible;
}

.ui-tc__overflowButton {
	display: none;
	margin-left: auto;
	margin-right: 0.25rem;
}

.ui-tc__overflowButton--visible {
	display: block;
}

.ui5-tc-root.ui5-tc--textOnly .ui5-tc__content {
	height: calc(100% - var(--_ui5_tc_header_height_text_only)); /* the header height (text only tabs) */
}

.ui5-tc__content {
	position: relative;
	height: calc(100% - var(--_ui5_tc_header_height)); /* the header height (tabs with icons and text) */
	padding: 1rem;
	background-color: var(--sapGroup_ContentBackground);
	border-bottom: var(--_ui5_tc_content_border_bottom);
	box-sizing: border-box;
}

.ui5-tc__content--collapsed {
	display: none;
}

.ui5-tc--transparent .ui5-tc__content {
	background-color: transparent;
}

.ui5-tc__contentItem {
	height: 100%;
	overflow: auto;
}

.ui5-tc__contentItem--hidden {
	display: none;
}

/*** RTL ***/
[dir=rtl] .ui-tc__overflowButton {
	margin-right: auto;
	margin-left: 0.25rem;
}
