.ui5-tab-strip-item {
    color: var(--_ui5_tc_headerItem_color);
    cursor: pointer;
    flex-shrink: 0;
    padding: 0 1rem;
    font-size: var(--sapFontSmallSize);
    text-shadow: var(--sapContent_TextShadow);
    position: relative;
    display: inline-flex;
    align-items: center;
}

.ui5-tab-strip-itemContent {
    pointer-events: none;
}

.ui5-tab-strip-item--selected.ui5-tab-strip-item--textOnly {
    color: var(--_ui5_tc_headeritem_text_selected_color);
}

.ui5-tab-strip-item--selected.ui5-tab-strip-item--textOnly .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--selected.ui5-tab-strip-item--mixedMode .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    border-bottom: var(--_ui5_tc_headerItemContent_border_bottom);
}

.ui5-tab-strip-item--selected.ui5-tab-strip-item--textOnly .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--selected.ui5-tab-strip-item--mixedMode .ui5-tab-strip-itemContent::after {
    left: 1rem;
    right: 1rem;
}

.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer::after {
    bottom: -0.75rem;
}

.ui5-tab-strip-item--disabled {
    cursor: default;
    opacity: 0.5;
}

.ui5-tab-strip-item:focus {
    outline: none;
}

.ui5-tab-strip-item--withIcon:focus .ui5-tab-strip-item-icon-outer,
.ui5-tab-strip-item--textOnly:not(.ui5-tab-strip-item--inline):focus .ui5-tab-strip-itemText {
    outline: var(--_ui5_tc_headerItem_focus_border);
}

.ui5-tab-strip-item--mixedMode:focus .ui5-tab-strip-itemContent,
.ui5-tab-strip-item--inline.ui5-tab-strip-item--textOnly:focus .ui5-tab-strip-itemContent {
    outline: var(--_ui5_tc_headerItem_focus_border);
}

.ui5-tab-strip-item-semanticIcon::before {
    display: var(--_ui5_tc_headerItemSemanticIcon_display);
    font-family: "SAP-icons";
    font-size: 0.75rem;
    margin-right: 0.25rem;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.ui5-tab-strip-item-semanticIcon--positive::before {
    content: "\e1ab";
}

.ui5-tab-strip-item-semanticIcon--negative::before {
    content: "\e1ac";
}

.ui5-tab-strip-item-semanticIcon--critical::before {
    content: "\e1ae";
}

/*** Icon and text Tab styles ***/
.ui5-tab-strip-item--withIcon,
.ui5-tab-strip-item--mixedMode {
    margin-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.ui5-tab-strip-item-icon-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: var(--_ui5_tc_headerItemIcon_border);
    border-radius: 50%;
    margin-right: 0.25rem;
    height: var(--_ui5_tc_item_text);
    width: var(--_ui5_tc_item_text);
    pointer-events: none;
}

.ui5-tab-strip-item-icon {
    width: var(--_ui5_tc_item_icon_size);
    height: var(--_ui5_tc_item_icon_size);
    color: var(--_ui5_tc_headerItemIcon_color);
    text-shadow: var(--sapContent_TextShadow);
    pointer-events: none;
}

.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer {
    background-color: var(--_ui5_tc_headerItemIcon_selected_background);
}

.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItemIcon_selected_color);
    text-shadow: none;
}

.ui5-tab-strip-itemAdditionalText + .ui5-tab-strip-itemText {
    display: block;
}

.ui5-tab-strip-item--inline .ui5-tab-strip-itemAdditionalText + .ui5-tab-strip-itemText {
    display: inline;
}

.ui5-tab-strip-item--withIcon .ui5-tab-strip-itemAdditionalText + .ui5-tab-strip-itemText {
    margin-top: var(--_ui5_tc_item_add_text_margin_top);
}

/*** END Icon and text Tab styles ***/

/*** TextOnly Tab styles ***/
.ui5-tab-strip-item--textOnly {
    font-size: var(--sapFontSize);
    height: var(--_ui5_tc_item_text_text_only);
    display: flex;
    align-items: center;
    line-height: var(--_ui5_tc_item_text_line_height);
}
/*** END TextOnly Tab styles ***/

/*** Mixed Mode Tab styles ***/
.ui5-tab-strip-item--mixedMode .ui5-tab-strip-itemText,
.ui5-tab-strip-item--mixedMode .ui5-tab-strip-itemAdditionalText {
    display: inline-block;
    vertical-align: middle;
}

.ui5-tab-strip-item--mixedMode .ui5-tab-strip-itemAdditionalText {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/*** Semantic states ***/
.ui5-tab-strip-item--positive.ui5-tab-strip-item--textOnly,
.ui5-tab-strip-item--positive .ui5-tab-strip-item-icon-outer,
.ui5-tab-strip-item-semanticIcon--positive::before {
    color: var(--sapPositiveColor);
    border-color: var(--_ui5_tc_headerItem_positive_selected_border_color);
}

.ui5-tab-strip-item--positive .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItem_positive_color);
}

.ui5-tab-strip-item--positive.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer {
    background-color: var(--_ui5_tc_headerItemIcon_positive_selected_background);
    color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tab-strip-item--positive.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tab-strip-item.ui5-tab-strip-item--positive .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--positive .ui5-tab-strip-item-icon-outer::after {
    border-color: var(--_ui5_tc_headerItem_positive_border_color);
}

.ui5-tab-strip-item--negative.ui5-tab-strip-item--textOnly,
.ui5-tab-strip-item--negative .ui5-tab-strip-item-icon-outer,
.ui5-tab-strip-item-semanticIcon--negative::before {
    color: var(--sapNegativeColor);
    border-color: var(--_ui5_tc_headerItem_negative_selected_border_color);
}

.ui5-tab-strip-item--negative .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItem_negative_color);
}

.ui5-tab-strip-item--negative.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer {
    background-color: var(--_ui5_tc_headerItemIcon_negative_selected_background);
}

.ui5-tab-strip-item--negative.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tab-strip-item.ui5-tab-strip-item--negative .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--negative .ui5-tab-strip-item-icon-outer::after {
    border-color: var(--_ui5_tc_headerItem_negative_border_color);
}

.ui5-tab-strip-item--critical.ui5-tab-strip-item--textOnly,
.ui5-tab-strip-item--critical .ui5-tab-strip-item-icon-outer,
.ui5-tab-strip-item-semanticIcon--critical::before {
    color: var(--sapCriticalColor);
    border-color: var(--_ui5_tc_headerItem_critical_selected_border_color);
}

.ui5-tab-strip-item--critical .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItem_critical_color);
}

.ui5-tab-strip-item--critical.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer {
    background-color: var(--_ui5_tc_headerItemIcon_critical_selected_background);
}

.ui5-tab-strip-item--critical.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tab-strip-item.ui5-tab-strip-item--critical .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--critical .ui5-tab-strip-item-icon-outer::after {
    border-color: var(--_ui5_tc_headerItem_critical_border_color);
}

.ui5-tab-strip-item--nutral.ui5-tab-strip-item--textOnly,
.ui5-tab-strip-item--neutral .ui5-tab-strip-item-icon-outer {
    color: var(--sapNeutralColor);
    border-color: var(--_ui5_tc_headerItem_neutral_selected_border_color);
}

.ui5-tab-strip-item--neutral .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItem_neutral_color);
}

.ui5-tab-strip-item--neutral.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon-outer {
    background-color: var(--_ui5_tc_headerItemIcon_neutral_selected_background);
}

.ui5-tab-strip-item--neutral.ui5-tab-strip-item--selected .ui5-tab-strip-item-icon {
    color: var(--_ui5_tc_headerItemIcon_semantic_selected_color);
}

.ui5-tab-strip-items.ui5-tab-strip-item--neutral .ui5-tab-strip-itemContent::after,
.ui5-tab-strip-item--neutral .ui5-tab-strip-item-icon::after {
    border-color: var(--_ui5_tc_headerItem_neutral_border_color);
}

/*** RTL ***/

[dir=rtl] .ui5-tab-strip-item-semanticIcon::before {
    margin-left: 0.25rem;
    margin-right: 0;
}

[dir=rtl] .ui5-tab-strip-item-icon-outer {
    margin-left: 0.25rem;
    margin-right: 0;
}

[dir=rtl] .ui5-tab-strip-item--mixedMode .ui5-tab-strip-itemAdditionalText {
    margin-right: 0;
    margin-left: 0.5rem;
}
