.ui5-tc__overflowItem {
    color: var(--_ui5_tc_overflowItem_default_color);
}

.ui5-tc__overflowItem--disabled {
    cursor: default;
    opacity: 0.5;
}

.ui5-tc__overflowItem--positive {
    color: var(--sapPositiveColor);
    border-color: var(--_ui5_tc_headerItem_positive_selected_border_color);
}

.ui5-tc__overflowItem--negative {
    color: var(--sapNegativeColor);
    border-color: var(--_ui5_tc_headerItem_negative_selected_border_color);
}

.ui5-tc__overflowItem--critical {
    color: var(--sapCriticalColor);
    border-color: var(--_ui5_tc_headerItem_critical_selected_border_color);
}

.ui5-tc__overflowItem--neutral {
    color: var(--sapNeutralColor);
    border-color: var(--_ui5_tc_headerItem_neutral_selected_border_color);
}

.ui5-tc__overflowItem[active] .ui5-tc__overflowItemContent {
    color: var(--sapList_Active_TextColor);
}

.ui5-tc__overflowItemContent {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: var(--_ui5_tc_item_text);
    pointer-events: none;
}

.ui5-tc__overflowItem ui5-icon {
    width: 1.375rem;
    height: 1.375rem;
    padding-right: 1rem;
    color: currentColor;
}
