:host(ui5-table:not([hidden])) {
	display: inline-block;
	width: 100%;
}

ui5-table:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.sapWCTableHeader {
	width: 100%;
	display: grid;
	border-bottom: 1px solid var(--sapUiListTableGroupHeaderBorderColor);
	height: 3rem;
}

.sapWCTableColumnWrapper {
	background: var(--sapUiListHeaderBackground);
	border-bottom: 1px solid var(--sapUiListBorderColor);
	height: 100%;
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
	font-weight: normal;
	color: var(--sapUiListTextColor)
}

.sapUiSizeCompact .sapWCTableHeader {
	height: 2rem;
}

.sapWCTableNoDataRow {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1rem;
	font-family: var(--sapUiFontFamily);
	font-size: 0.875rem;
	box-sizing: border-box;
	color: var(--sapUiListTextColor);
	min-height: 3rem;
}
