:host {
    background: var(--sapList_HeaderBackground);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_HeaderBorderColor);
}

:host([hidden]) {
    display: none;
}

:host([sticky]) {
    position: sticky;
    top: var(--ui5_grid_sticky_top, 0);
    z-index: 1;
}

#popin-cell {
    padding: 0;
    width: 0;
}