:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-table {
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.ui5-table-header {
	display: table-header-group;
}

.ui5-table-header-row {
	display: table-row;
	color: var(--sapTextColor);
	height: 3rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
}

.ui5-table-body {
	display: table-row-group;
}

.ui5-table-header-row:focus {
	outline: var(--ui5_table_header_row_outline_width) dotted var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
}

.ui5-table-no-data-row-root {
	display: table-row;
	height: 3rem;
}

.ui5-table-no-data-row {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1rem;
	font-family: var(--sapFontFamily);
	font-size: 0.875rem;
	box-sizing: border-box;
	color: var(--sapTextColor);
	min-height: 3rem;
	background-color: var(--sapList_Background);
	border-top: 1px solid var(--sapList_BorderColor);
}

.ui5-table-no-data-cell {
	display: table-cell;
}

:host([_no-data-displayed]) {
	border-bottom: 1px solid var(--sapList_TableGroupHeaderBorderColor);
}
