:host {
	display: contents;
	font-family: "72override", var(--sapFontFamily);
	font-size: 0.875rem;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	color: var(--sapContent_LabelColor);
}

td {
	padding: inherit;
	box-sizing: border-box;
	word-break: break-word;
	vertical-align: middle;
}

.ui5-table-popin-row td {
	padding-left: 1rem;

}

:host([popined]) td {
	padding-left: 0;
}

::slotted(*) {
	color: inherit;
}