:host {
	display: contents;
}

.ui5-table-row-root {
	background-color: var(--sapList_Background);
	border-top: 1px solid var(--sapList_BorderColor);
}

.ui5-table-row-root:focus {
	outline: var(--ui5_table_row_outline_width) dotted var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
}

.ui5-table-popin-row td {
	padding: .25rem;
	padding-left: 1rem;
}

.ui5-table-row-popin-title {
	color: var(--sapContent_LabelColor);
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
}
