:host(ui5-table-row:not([hidden])) {
	display: inline-block;
	width: 100%;
}

ui5-table-row:not([hidden]) {
	display: inline-block;
	width: 100%;
}

.sapWCTableRow {
	display: grid;
	align-items: center;
	background-color: var(--sapUiListBackground);
	box-sizing: border-box;
}

.sapWCTableRow:focus {
	outline: 1px solid var(--sapUiContentFocusColor);
	outline-offset: -3px;
	outline-style: dotted;
}

.sapWCTablePopinRow {
	padding: 0.25rem 1rem;
	grid-column-start: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sapWCTablePopinTitle {
	color: var(--sapUiListTextColor);
}

.sapMWCTableRowCellContainer {
	height: 100%;
	padding: 0.25rem;
	box-sizing: border-box;
}

.sapWCTableRowWithBorder {
	border-bottom: 1px solid var(--sapUiListBorderColor);
}