:host {
    background: var(--sapList_HeaderBackground);
    border-top: var(--sapList_BorderWidth) solid var(--sapList_BorderColor);
    border-bottom: var(--sapList_BorderWidth) solid var(--sapList_HeaderBorderColor);
    grid-template-rows: auto 0px;
}

:host([hidden]) {
    display: none;
}

:host([sticky]) {
    position: sticky;
    top: var(--ui5_grid_sticky_top, 0);
    z-index: 2;
}

#popin-cell {
    padding: 0;
    width: 0;
    height: 0;
}