:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.ui5-table-header-row {
	color: var(--sapUiListTextColor);
	height: 3rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapMFontMediumSize);
}

.ui5-table-header-row:focus {
	outline: var(--ui5_table_header_row_outline_width) dotted var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
}

tr {
	height: 3rem;
}

.ui5-table-no-data-row {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1rem;
	font-family: var(--sapFontFamily);
	font-size: 0.875rem;
	box-sizing: border-box;
	color: var(--sapUiListTextColor);
	min-height: 3rem;
}

:host([_no-data-displayed]) {
	border-bottom: 1px solid var(--sapList_TableGroupHeaderBorderColor);
}
