:host {
	display: contents;
}

:host td {
	padding: 0.25rem;
	vertical-align: middle;
}

:host([first-in-row]) td,
.ui5-table-popin-row td {
	padding-left: 1rem;
}

:host([first-in-row]) td {
	padding-left: 1rem;
}

:host([popined]) td {
	padding-left: 0;
}

/* Remove that once shadyCSS is adopted */

ui5-table-cell {
	display: contents;
}

ui5-table-cell td {
	padding: 0.25rem;
	vertical-align: middle;
}

ui5-table-cell[first-in-row] td {
	padding-left: 1rem;
}

.ui5-table-popin-row td {
	padding-left: 1rem;
}

ui5-table-cell[first-in-row] td {
	padding-left: 1rem;
}

ui5-table-cell[popined] td {
	padding-left: 0;
}