:host {
	display: contents;
}

th {
	background: var(--sapList_HeaderBackground);
	border: none;
	border-bottom: 1px solid var(--sapList_BorderColor);
	width: inherit;
	font-weight: normal;
	padding: 0.25rem;
	box-sizing: border-box;
	height: 3rem;
	text-align: left;
	vertical-align: middle;
}

:host([first]) th {
	/* padding-left: 1rem; */
}

:host([sticky]) th {
	position: sticky;
	top: 0;
	z-index: 99;
}
