:host([invisible]) {
	display: block;
	width: var(--_ui5_button_base_min_width);
}

:host([_fixed]) {
	margin-inline-start: auto;
}

[ui5-icon] {
	display: flex;
	width: var(--_ui5_button_base_min_width);
	height: 0.75rem;
}