:host(ui5-table-column) {
	display: inline-block;
	width: 100%;
	height: 100%;
}

ui5-table-column {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.sapWCTableColumn {
	padding: 0.25rem;
	font-family: var(--sapUiFontFamily);
	font-size: 0.875rem;
	height: 100%;
	box-sizing: border-box;
}

.sapWCTableColumnFirst {
	padding-left: 1rem;
}

.sapWCTableColumnLast {
	padding-right: 1rem;
}