:host {
	display: contents;
}

.ui5-table-row-root {
	background-color: var(--sapList_Background);
	border-top: 1px solid var(--sapList_BorderColor);
}

.ui5-table-row-root:focus {
	outline: var(--ui5_table_row_outline_width) dotted var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
}

.ui5-table-popin-row {
    background-color: var(--sapList_Background);
}

.ui5-table-popin-row.all-columns-popped-in.popin-header {
    border-top: 1px solid var(--sapList_BorderColor);
}

.ui5-table-popin-row td {
	padding: .25rem;
	padding-left: 1rem;
}

.ui5-table-row-popin-title {
	color: var(--sapContent_LabelColor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
}

.ui5-table-multi-select-cell {
	padding: .5rem .25rem;
	box-sizing: border-box;
	width: 4rem;
	text-align: center;
}

:host([mode="SingleSelect"]) .ui5-table-row-root,
:host([mode="MultiSelect"]) .ui5-table-row-root {
	cursor: pointer;
}

:host([mode="SingleSelect"]) .ui5-table-row-root:hover,
:host([mode="MultiSelect"]) .ui5-table-row-root:hover {
	background-color: var(--sapList_Hover_Background);
}

:host([mode="SingleSelect"]) .ui5-table-row-root:active,
:host([mode="MultiSelect"]) .ui5-table-row-root:active {
	background-color: var(--sapList_Active_Background);
	color: var(--sapList_Active_TextColor);
}

:host([mode="SingleSelect"]) ::slotted(ui5-table-cell) {
	color: inherit;
}

:host([selected]) .ui5-table-row-root {
	background: var(--sapList_SelectionBackgroundColor);
}

:host([selected]) .ui5-table-row-root:hover {
	background: var(--sapList_Hover_SelectionBackground);
}