@import "./TableLoadMoreRow.css";

:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.ui5-table-header-row {
	color: var(--sapTextColor);
	height: 3rem;
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
}

.ui5-table-header-row:focus {
	outline: var(--ui5_table_header_row_outline_width) dotted var(--sapContent_FocusColor);
	outline-offset: -0.125rem;
}

tr {
	height: 3rem;
}

.ui5-table-no-data-row {
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	justify-content: center;
	text-align: center;
	padding: 0.5rem 1rem;
	font-family: "72override", var(--sapFontFamily);
	font-size: 0.875rem;
	box-sizing: border-box;
	color: var(--sapTextColor);
	min-height: 3rem;
	background-color: var(--sapList_Background);
	border-top: 1px solid var(--sapList_BorderColor);
}

:host([_no-data-displayed]) {
	border-bottom: 1px solid var(--sapList_TableGroupHeaderBorderColor);
}

.ui5-table-select-all-column {
	width: var(--ui5_table_multiselect_column_width);
	text-align: center;
}

th {
	background: var(--sapList_HeaderBackground);
}