:host {
	flex-shrink: 0;
}

:host([_popin]) {
	margin-inline: 0.0625rem 0;
}

[ui5-button] {
	min-width: 1.625rem;
	width: 1.625rem;
	height: 1.625rem;
}

[ui5-button]::part(icon) {
	width: 1rem;
	height: 1rem;
}

:host([_popin]) [ui5-button]::part(icon) {
	width: 0.75rem;
	height: 0.75rem;
}