@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: inline-block;
}

:host {
	width: 100%;
	color: var(--sapField_TextColor);
	font-size: var(--sapFontSize);
	font-family: "72override", var(--sapFontFamily);
	font-style: normal;
	box-sizing: border-box;
	line-height: var(--_ui5_textarea_line_height);
	Letter-spacing: normal;
	word-spacing: normal;
}

:host([disabled]) .ui5-textarea-wrapper{
	opacity: var(--_ui5_textarea_disabled_opacity);
	cursor: default;
	pointer-events: none;
	border-color: var(--sapField_ReadOnly_BorderColor);
	-webkit-text-fill-color: var(--sapContent_DisabledTextColor);
	color: var(--sapContent_DisabledTextColor);
}

:host([disabled]) .ui5-textarea-wrapper {
	background: var(--_ui5_textarea_disabled_background);
}

:host(:not([value-state]):not([readonly]):not([disabled]):not([focused])) .ui5-textarea-wrapper {
	background: var(--sapField_BackgroundStyle);
	background-color: var(--_ui5_textarea_background_color);
}

:host(:not([value-state]):not([readonly]):not([focused]):hover) .ui5-textarea-wrapper {
	box-shadow: var(--_ui5_textarea_hover_box_shadow);
	background: var(--sapField_Hover_BackgroundStyle);
	background-color: var(--sapField_Hover_Background);
}

:host([value-state]:not([value-state="None"])[focused]) .ui5-textarea-inner {
	outline: var(--_ui5_textarea_value_state_focus_outline);
	outline-offset: var(--_ui5_textarea_value_state_focus_outline_offset);
}

.ui5-textarea-root {
	width: 100%;
	height: auto;
	min-height: var(--_ui5_textarea_height);
	display: inline-flex;
	vertical-align: top;
	outline: none;
	box-sizing: border-box;
	border-radius: inherit;
	border-color: inherit;
	position: relative;
	outline: none;
}

.ui5-textarea-wrapper {
	position: relative;
	box-sizing: content-box;
	width: 100%;
	border-bottom: var(--_ui5_textarea_wrapper_border);
	display: flex;
	height: 100%;
	background-color: var(--_ui5_textarea_background_color);
	border-color: var(--sapField_BorderColor);
	border-radius: var(--sapField_BorderCornerRadius);
	outline: none;
}

:host([focused]) .ui5-textarea-wrapper {
	background-color: var(--sapField_Focus_Background);
	background-image: none;
	box-shadow: var(--_ui5_textarea_focus_box_shadow);
}


:host([focused]) .ui5-textarea-wrapper::after {
	content: var(--_ui5_textarea_focus_pseudo_element_content);
	position: absolute;
	pointer-events: none;
	z-index: 2;
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--_ui5_textarea_focus_outline_color);
	border-radius: var(--_ui5_textarea_focus_border_radius);
	top: var(--_ui5_textarea_focus_offset);
	bottom: var(--_ui5_textarea_focus_offset);
	left: var(--_ui5_textarea_focus_offset);
	right: var(--_ui5_textarea_focus_offset);
}

.ui5-textarea-inner {
	box-sizing: content-box;
	width: 100%;
	height: 100%;
	min-width: 6rem;
	min-height: calc((var(--_textarea_rows) * var(--_ui5_textarea_line_height)) * var(--sapFontSize));
	margin: 0;
	padding: var(--_ui5_textarea_padding);
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	overflow: auto;
	resize: none;
	border-color: inherit;
	border-width: var(--_ui5_textarea_inner_border_width);
	border-style: var(--sapField_BorderStyle);
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	background: transparent;
	outline: none;
}

:host([growing]) .ui5-textarea-inner {
	box-sizing: border-box;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

:host([focused]) .ui5-textarea-inner:focus-visible {
	outline: none;
}

.ui5-textarea-mirror {
	box-sizing: content-box;
	line-height: var(--_ui5_textarea_line_height);
	visibility: hidden;
	width: 100%;
	max-height: 100%;
	min-height: calc((var(--_textarea_rows) * var(--_ui5_textarea_line_height)) * var(--sapFontSize));
	word-break: break-all;
	padding: var(--_ui5_textarea_padding);
	font-size: var(--sapFontSize);
	font-family: "72override", var(--sapFontFamily);
	white-space: pre-wrap;
}

:host([rows]) .ui5-textarea-inner {
	min-height: calc((var(--_textarea_rows) * var(--_ui5_textarea_line_height)) * var(--sapFontSize));
}

/* If the 'rows' property is not set it defaults to 2 in the native TextArea element */
:host:not([rows]) .ui5-textarea-inner {
	min-height: calc(2 * var(--_ui5_textarea_line_height)) * var(--sapFontSize);
}

:host([growing]):not([growing-max-lines]) .ui5-textarea-inner {
	max-height: 100%;
}

:host([growing-max-lines]) .ui5-textarea-inner, :host([growing-max-lines]) .ui5-textarea-mirror  {
	max-height: calc((var(--_textarea_growing_max_lines) * var(--_ui5_textarea_line_height)) * var(--sapFontSize));
}

:host([rows = "1"]) .ui5-textarea-inner {
	min-height: calc(var(--_ui5_textarea_line_height) * var(--sapFontSize));
}

:host(:not([growing])[rows = "1"]) .ui5-textarea-inner {
	height: calc(var(--_ui5_textarea_line_height) * var(--sapFontSize));
}

:host([growing-max-lines = "1"]) .ui5-textarea-inner {
	height: 100%;
	max-height: 100%;
}

:host(:not([growing]):not([growing-max-lines])[show-exceeded-text]) .ui5-textarea-inner {
	height: calc(100% - 48px);
}

:host(:not([growing]):not([growing-max-lines])[rows = "1"][show-exceeded-text]) .ui5-textarea-inner {
	height: calc((var(--_ui5_textarea_line_height) * var(--sapFontSize)) - 48px);
}

:host([readonly]) {
	border-color: var(--sapField_ReadOnly_BorderColor);
}

:host([readonly][focused]) .ui5-textarea-root .ui5-textarea-wrapper {
	background-image: none;
}

:host([readonly]) .ui5-textarea-root .ui5-textarea-wrapper {
	background: var(--sapField_ReadOnly_BackgroundStyle);
	background-color: var(--sapField_ReadOnly_Background);
}

:host([show-exceeded-text]) .ui5-textarea-root {
	flex-direction: column;
}

.ui5-textarea-inner::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-weight: normal;
	font-style: var(--_ui5_textarea_placeholder_font_style);
	color: var(--sapField_PlaceholderTextColor);
}

.ui5-textarea-inner::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: normal;
	font-style: var(--_ui5_textarea_placeholder_font_style);
	color: var(--sapField_PlaceholderTextColor);
}

.ui5-textarea-inner:-moz-placeholder {
	/* Firefox 18- */
	font-weight: normal;
	font-style: var(--_ui5_textarea_placeholder_font_style);
	color: var(--sapField_PlaceholderTextColor);
}

:host([value-state="Error"]) .ui5-textarea-inner::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-weight: var(--_ui5_textarea_value_state_error_warning_placeholder_font_weight);
	font-style: var(--_ui5_textarea_error_placeholder_font_style);
	color: var(--_ui5_textarea_error_placeholder_color);
}

:host([value-state="Error"]) .ui5-textarea-inner::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: var(--_ui5_textarea_value_state_error_warning_placeholder_font_weight);
	font-style: var(--_ui5_textarea_error_placeholder_font_style);
	color: var(--_ui5_textarea_error_placeholder_color);
}

:host([value-state="Error"]) .ui5-textarea-inner:-moz-placeholder {
	/* Firefox 18- */
	font-weight: var(--_ui5_textarea_value_state_error_warning_placeholder_font_weight);
	font-style: var(--_ui5_textarea_error_placeholder_font_style);
	color: var(--_ui5_textarea_error_placeholder_color);
}

:host([value-state="Warning"]) .ui5-textarea-inner::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-weight: var(--_ui5_textarea_value_state_error_warning_placeholder_font_weight);
}

:host([value-state="Warning"]) .ui5-textarea-inner::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: var(--_ui5_textarea_value_state_error_warning_placeholder_font_weight);
}

:host([value-state="Error"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper {
	background: var(--sapField_InvalidBackgroundStyle);
	background-color: var(--sapField_InvalidBackground);
	border-color: var(--_ui5_textarea_value_state_error_border_color);
}

:host([value-state="Error"][focused]:not([readonly])) .ui5-textarea-wrapper {
	background-color: var(--_ui5_textarea_focused_value_state_error_background);
	border-color: var(--_ui5_textarea_focused_value_state_error_border_color);
}

:host([value-state="Error"][focused]:not([readonly])) .ui5-textarea-wrapper:after {
	border-color: var(--_ui5_textarea_focused_value_state_error_focus_outline_color);
}

:host([value-state="Error"]:not([readonly]):not([focused]):hover) .ui5-textarea-wrapper {
	background-color: var(--_ui5_textarea_value_state_error_hover_background);
	box-shadow: var(--_ui5_textarea_value_state_error_hover_box_shadow);
}

:host([value-state="Error"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper,
:host([value-state="Warning"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper,
:host([value-state="Information"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper {
	border-style: var(--_ui5_textarea_error_warning_border_style);
}

:host([value-state="Warning"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper {
	background: var(--sapField_WarningBackgroundStyle);
	background-color: var(--sapField_WarningBackground);
	border-color: var(--_ui5_textarea_value_state_warning_border_color);
}

:host([value-state="Warning"][focused]:not([readonly])) .ui5-textarea-wrapper {
	background-color: var(--_ui5_textarea_focused_value_state_warning_background);
	border-color: var(--_ui5_textarea_focused_value_state_warning_border_color);
}

:host([value-state="Warning"][focused]:not([readonly])) .ui5-textarea-wrapper:after {
	border-color: var(--_ui5_textarea_focused_value_state_warning_focus_outline_color);
}

:host([value-state="Warning"]:not([readonly])) .ui5-textarea-wrapper::before{
	background-color: var(--_ui5_textarea_value_state_warning_border_botom_color);
}

:host([value-state="Warning"]:not([readonly]):not([focused]):hover) .ui5-textarea-wrapper {
	background-color: var(--sapField_Hover_Background);
	box-shadow: var(--_ui5_textarea_value_state_warning_hover_box_shadow);
}

:host([value-state="Success"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper {
	background: var(--sapField_SuccessBackgroundStyle);
	background-color: var(--sapField_SuccessBackground);
	border-color: var(--_ui5_textarea_value_state_success_border_color);
	border-width: var(--_ui5_textarea_value_state_success_border_width);
}

:host([value-state="Success"][focused]:not([readonly])) .ui5-textarea-wrapper {
	background-color: var(--_ui5_textarea_focused_value_state_success_background);
	border-color: var(--_ui5_textarea_focused_value_state_success_border_color);
}

:host([value-state="Success"][focused]:not([readonly])) .ui5-textarea-wrapper:after {
	border-color: var(--_ui5_textarea_focused_value_state_success_focus_outline_color);
}

:host([value-state="Success"]:not([readonly])) .ui5-textarea-wrapper::before{
	background-color: var(--_ui5_textarea_value_state_success_border_botom_color);
}

:host([value-state="Success"]:not([readonly]):not([focused]):hover) .ui5-textarea-wrapper {
	background-color: var(--sapField_Hover_Background);
	box-shadow: var(--_ui5_textarea_value_state_success_hover_box_shadow);
}

:host([value-state][value-state="Success"]) .ui5-textarea-inner {
	border-radius: var(--sapField_BorderCornerRadius);
}

:host([value-state="Information"]:not([readonly]):not([disabled])) .ui5-textarea-wrapper {
	background: var(--sapField_InformationBackgroundStyle);
	background-color: var(--sapField_InformationBackground);
	border-color: var(--_ui5_textarea_value_state_information_border_color);
}

:host([value-state="Information"][focused]:not([readonly])) .ui5-textarea-wrapper {
	background-color: var(--_ui5_textarea_focused_value_state_information_background);
	border-color: var(--_ui5_textarea_focused_value_state_information_border_color);
}

:host([value-state="Information"]:not([readonly])) .ui5-textarea-wrapper::before{
	background-color: var(--_ui5_textarea_value_success_information_border_botom_color);
}

:host([value-state="Information"]:not([readonly]):not([focused]):hover) .ui5-textarea-wrapper {
	background-color: var(--sapField_Hover_Background);
	box-shadow: var(--_ui5_textarea_value_state_information_hover_box_shadow);
}

.ui5-textarea-exceeded-text {
	align-self: flex-end;
	padding: 0.125rem 0.125rem 0.5rem;
	color: var(--sapContent_LabelColor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSmallSize);
}

:host ::-webkit-scrollbar {
	background: var(--sapField_BackgroundStyle);
	background-color: var(--sapScrollBar_TrackColor);
	border-top-right-radius: var(--sapField_BorderCornerRadius);
	border-bottom-right-radius: var(--sapField_BorderCornerRadius);
}

:host([readonly]) ::-webkit-scrollbar {
	background: var(--sapField_ReadOnly_BackgroundStyle);
	background-color: var(--sapScrollBar_TrackColor);
}

:host([value-state="Error"]) ::-webkit-scrollbar {
	background: var(--sapField_InvalidBackgroundStyle);
	background-color: var(--sapScrollBar_TrackColor);
}

:host([value-state="Warning"]) ::-webkit-scrollbar {
	background: var(--sapField_WarningBackgroundStyle);
	background-color: var(--sapScrollBar_TrackColor);
}

:host([value-state="Information"]) ::-webkit-scrollbar {
	background: var(--sapField_InformationBackgroundStyle);
	background-color: var(--sapScrollBar_TrackColor);
}

:host([value-state="Success"]) ::-webkit-scrollbar {
	background: var(--sapField_SuccessBackgroundStyle);
	background-color: var(--sapScrollBar_TrackColor);
}

:host([focused]) ::-webkit-scrollbar {
	background-image: none;
}
