:host(ui5-textarea:not([hidden])) {
	display: inline-block;
}

ui5-textarea:not([hidden]) {
	display: inline-block;
}

.sapWCTextArea {
	height: 3rem;
	background: transparent;
	position: relative;
	display: inline-flex;
	vertical-align: top;
	outline: none;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.sapWCTextArea:not(.sapWCTextAreaDisabled):not(.sapWCTextAreaWarning):hover .sapWCTextAreaInner {
	border: 1px solid var(--sapUiFieldHoverBorderColor);
}

.sapWCTextArea.sapWCTextAreaReadonly .sapWCTextAreaInner {
	background: var(--sapUiFieldReadOnlyBackground);
}

.sapWCTextAreaMirror~.sapWCTextAreaFocusDiv {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
}

.sapWCTextAreaGrowing.sapWCTextAreaNoMaxLines .sapWCTextAreaFocusDiv,
.sapWCTextAreaGrowing.sapWCTextAreaNoMaxLines .sapWCTextAreaMirror {
	overflow: hidden;
}

.sapWCTextAreaMirror {
	line-height: 1.4;
	visibility: hidden;
	width: 100%;
	word-break: break-all;
	padding: 0.5625rem 0.6875rem;
	font-size: var(--sapMFontMediumSize);
	font-family: var(--sapUiFontFamily);
	white-space: pre-wrap;
	box-sizing: border-box;
}

.sapWCTextAreaInner {
	width: 100%;
	margin: 0;
	padding: 0.5625rem 0.6875rem;
	line-height: 1.4;
	box-sizing: border-box;
	color: var(--sapUiFieldTextColor);
	background: var(--sapUiFieldBackground);
	border: 1px solid var(--sapUiFieldBorderColor);
	outline: none;
	font-size: var(--sapMFontMediumSize);
	font-family: var(--sapUiFontFamily);
	-webkit-appearance: none;
	-moz-appearance: textfield;
	overflow: auto;
	resize: none;
}

.sapWCTextAreaHasFocus::after {
	content: "";
	border: var(--_ui5_textarea_focus_after_width) dotted var(--sapUiContentFocusColor);
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	pointer-events: none;
}

.sapWCTextAreaWarning .sapWCTextAreaHasFocus::after {
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
}

.sapWCTextAreaGrowing.sapWCTextAreaNoCols .sapWCTextAreaFocusDiv {
	overflow: hidden;
	width: 100%;
}

.sapWCTextAreaInner::-webkit-input-placeholder {
	font-size: var(--sapMFontMediumSize);
	font-style: italic;
}

.sapWCTextAreaInner::-moz-placeholder {
	font-size: var(--sapMFontMediumSize);
	font-style: italic;
}

.sapWCTextAreaInner:-ms-input-placeholder {
	font-size: var(--sapMFontMediumSize);
	font-style: italic;
}

.sapWCTextAreaWithCounter {
	flex-direction: column;
	display: flex;
}

.sapWCTextAreaWithCounter .sapWCTextAreaExceededText {
	overflow: hidden;
	align-self: flex-end;
	padding: 0.125rem 0.125rem 0.5rem;
	color: var(--sapUiContentLabelColor);
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontSmallSize);
}

.sapWCTextAreaCounter {
	text-align: right;
	font-size: var(--sapMFontMediumSize);
	font-family: var(--sapUiFontFamily);
}

.sapWCTextAreaWarningInner {
	border-width: var(--_ui5_textarea_warning_border_width);
	border-style: var(--_ui5_textarea_warning_border_style);
	background: var(--sapUiFieldWarningBackground);
	border-color: var(--sapUiFieldWarningColor);
}

.sapWCTextAreaContent {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.sapWCTextAreaDisabled {
	opacity: 0.5;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.sapWCTextAreaFocusDiv {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
}