:host(:not([hidden])) {
	display: inline-block;
}

:host {
	width: 100%;
	color: var(--sapField_TextColor);
	font-size: var(--sapFontSize);
	font-family: var(--sapFontFamily);
	font-style: normal;
	border-color: var(--sapField_BorderColor);
	border-radius: var(--_ui5_input_wrapper_border_radius);
	box-sizing: border-box;
}

:host([disabled]) {
	opacity: var(--_ui5_input_disabled_opacity);
	cursor: default;
	pointer-events: none;
	border-color: var(--sapField_ReadOnly_BorderColor);
	-webkit-text-fill-color: var(--sapContent_DisabledTextColor);
	color: var(--sapContent_DisabledTextColor);
}

:host([disabled]) .ui5-textarea-inner {
	background: var(--sapField_ReadOnly_Background);
}

:host([focused]) .ui5-textarea-inner {
	outline: var(--_ui5_textarea_focus_after_width) dotted var(--sapContent_FocusColor);
	outline-offset: -3px;
}

:host([value-state]:not([value-state="None"])[focused]) .ui5-textarea-inner,
:host([exceeding]) .ui5-textarea-inner {
	outline: var(--_ui5_input_focus_border_width) dotted var(--sapContent_FocusColor);
	outline-offset: -4px;
}

.ui5-textarea-root {
	height: 100%;
	min-height: var(--_ui5_input_height);
	display: inline-flex;
	vertical-align: top;
	outline: none;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: inherit;
	border-color: inherit;
}

.ui5-textarea-inner {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: var(--_ui5_textarea_padding);
	line-height: 1.4;
	box-sizing: border-box;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	overflow: auto;
	resize: none;
	border-color: inherit;
	border-radius: inherit;
	background-color: var(--sapField_Background);
	border-width: 1px;
	border-style: solid;
}

:host([growing]) .ui5-textarea-root {
	position: relative;
}

:host([growing]) .ui5-textarea-inner {
	position: absolute;
	top: 0;
	left: 0;
}

.ui5-textarea-mirror {
	line-height: 1.4;
	visibility: hidden;
	width: 100%;
	word-break: break-all;
	padding: var(--_ui5_textarea_padding);
	font-size: var(--sapFontSize);
	font-family: var(--sapFontFamily);
	white-space: pre-wrap;
	box-sizing: border-box;
}

:host([readonly]) {
	border-color: var(--sapField_ReadOnly_BorderColor);
}

:host([readonly]) .ui5-textarea-inner {
	background: var(--sapField_ReadOnly_Background);
}


:host([show-exceeded-text]) .ui5-textarea-root {
	flex-direction: column;
}

.ui5-textarea-inner::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: var(--sapField_PlaceholderTextColor);
}

.ui5-textarea-inner::-moz-placeholder {
	/* Firefox 19+ */
	color: var(--sapField_PlaceholderTextColor);
}

.ui5-textarea-inner:-ms-input-placeholder {
	/* IE 10+ */
	color: var(--sapField_PlaceholderTextColor);
}

.ui5-textarea-inner:-moz-placeholder {
	/* Firefox 18- */
	color: var(--sapField_PlaceholderTextColor);
}

:host(:not([value-state]):not([exceeding]):not([readonly]):hover) {
	border-color: var(--sapField_Hover_BorderColor);
}

:host(:not([value-state]):not([exceeding]):not([readonly]):hover) .ui5-textarea-inner {
	background-color: var(--sapField_Hover_Background);
}

:host([value-state]:not([value-state="None"])) .ui5-textarea-inner,
:host([exceeding]) .ui5-textarea-inner {
	border-width: var(--_ui5_input_state_border_width);
}

:host([value-state="Error"]) .ui5-textarea-inner,
:host([value-state="Warning"]) .ui5-textarea-inner {
	font-style: var(--_ui5_input_error_warning_font_style);
}

:host([value-state="Error"]) .ui5-textarea-inner {
	font-weight: var(--_ui5_input_error_font_weight);
}

:host([value-state="Error"]:not([readonly])) {
	border-color: var(--sapField_InvalidColor);
}

:host([value-state="Error"]:not([readonly])) .ui5-textarea-inner {
	background-color: var(--sapField_InvalidBackground);
}

:host([value-state="Error"]:not([readonly]):not([disabled])) .ui5-textarea-inner,
:host([value-state="Warning"]:not([readonly]):not([disabled])) .ui5-textarea-inner {
	border-style: var(--_ui5_input_error_warning_border_style);
}

:host([value-state="Warning"]:not([readonly])),
:host([exceeding]) {
	border-color: var(--sapField_WarningColor);
}

:host([value-state="Warning"]:not([readonly])) .ui5-textarea-inner,
:host([exceeding]) .ui5-textarea-inner {
	background-color: var(--sapField_WarningBackground);
}

:host([value-state="Success"]:not([readonly]):not([exceeding])) {
	border-color: var(--sapField_SuccessColor);
}

:host([value-state="Success"]:not([readonly]):not([exceeding])) .ui5-textarea-inner {
	background-color: var(--sapField_SuccessBackground);
	border-width: 1px;
}

:host([value-state="Information"]:not([readonly]):not([exceeding])) {
	border-color: var(--sapField_InformationColor);
}

:host([value-state="Information"]:not([readonly]):not([exceeding])) .ui5-textarea-inner {
	background-color: var(--sapField_InformationBackground);
}

.ui5-textarea-exceeded-text {
	overflow: hidden;
	align-self: flex-end;
	padding: 0.125rem 0.125rem 0.5rem;
	color: var(--sapContent_LabelColor);
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSmallSize);
}