.ui5-time-picker-footer {
	height: fit-content;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.ui5-time-picker-footer > [ui5-button] {
	margin: 1%;
	min-width: 20%;
}

.ui5-time-picker-popover {
	--_ui5_popup_content_padding_s: 0;
	--_ui5_popup_content_padding_m_l: 0;
	--_ui5_popup_content_padding_xl: 0;
}
