:host(:not([hidden])) {
	display: block;
}

.ui5-tli-root {
	display: flex;
}

.ui5-tli-indicator {
	position: relative;
	width: 2rem;
}

.ui5-tli-indicator::before {
	content: "";
	display: inline-block;
	background-color: var(--sapContent_ForegroundBorderColor);
	width: 1px;
	position: absolute;
	top: 2.125rem;
	bottom: -1.625rem;
	left: 50%;
}

/* Line when no Icon is provided */
:host(:not([icon])) .ui5-tli-indicator::before {
	bottom: -2.125rem;
	top: 1.875rem;
}

/* No Icon Dot */
:host(:not([icon])) .ui5-tli-indicator::after {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid var(--sapContent_NonInteractiveIconColor);
	background-color: var(--sapContent_NonInteractiveIconColor);
	border-radius: 50%;
	width: .4375rem;
	height: .4375rem;
	position: absolute;
	top: 0.9375rem;
	left: 50%;
	transform: translateX(-50%);
}

:host(:last-child) .ui5-tli-indicator::before {
	display: none;
}

.ui5-tli-icon-outer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: .25rem;
	height: 1.625rem;
	width: 2rem;
}

.ui5-tli-icon {
	color: var(--sapContent_NonInteractiveIconColor);
	height: 1.375rem;
	width: 1.375rem;
}

.ui5-tli-bubble {
	background: var(--sapGroup_ContentBackground);
	border: 1px solid var(--sapList_BorderColor);
	box-sizing: border-box;
	border-radius: 0.25rem;
	flex: 1;
	position: relative;
	margin-left: .5rem;
	padding: var(--_ui5_tl_bubble_padding);
}

.ui5-tli-bubble:focus {
	outline: none;
}

.ui5-tli-bubble:focus::after {
	content: "";
	border: var(--_ui5_TimelineItem_bubble_outline_width) dotted var(--sapContent_FocusColor);
	position: absolute;
	top: var(--_ui5_TimelineItem_bubble_outline_top);
	right: var(--_ui5_TimelineItem_bubble_outline_right);
	bottom: var(--_ui5_TimelineItem_bubble_outline_bottom);
	left: var(--_ui5_TimelineItem_bubble_outline_left);
	pointer-events: none;
}

.ui5-tli-bubble-arrow {
	width: var(--_ui5_TimelineItem_arrow_size);
	padding-bottom: var(--_ui5_TimelineItem_arrow_size);
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	overflow: hidden;
}

.ui5-tli-bubble-arrow::before {
	content: "";
	background: var(--sapGroup_ContentBackground);
	border: 1px solid var(--sapList_BorderColor);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 0 100%;
	transform: rotate(45deg);
}

.ui5-tli-bubble-arrow--left {
	left: calc(-1 * var(--_ui5_TimelineItem_arrow_size));
}

.ui5-tli-bubble-arrow--left::before {
	left: 50%;
	width: 50%;
	transform-origin: 100% 100%;
}

.ui5-tli-title,
.ui5-tli-desc {
	color: var(--sapTextColor);
	font-family: var(--sapFontFamily);
	font-weight: 400;
	font-size: var(--sapFontMediumSize);
}

.ui5-tli-title span {
	display: inline-block;
	vertical-align: top;
}

.ui5-tli-subtitle {
	color: var(--sapContent_LabelColor);
	font-family: var(--sapFontFamily);
	font-weight: 400;
	font-size: var(--sapFontSmallSize);
	padding-top: .375rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-tli-desc {
	padding-top: .75rem;
}

[dir=rtl] .ui5-tli-bubble-arrow--left {
	right: calc(-1 * var(--_ui5_TimelineItem_arrow_size));
	left: auto;
	transform: scale(-1, 1);
}

[dir=rtl] .ui5-tli-bubble {
	margin-left: auto;
	margin-right: .5rem;
}

[dir=rtl] .ui5-tli-bubble:focus::after {
	left: var(--_ui5_TimelineItem_bubble_rtl_left_offset);
	right: var(--_ui5_TimelineItem_bubble_rtl_right_offset);
}
