:host(ui5-timeline:not([hidden])) {
	display: block;
}

ui5-timeline:not([hidden]) {
	display: block;
}

.sapWCTimeline {
	background-color: var(--sapUiBaseBG);
	padding: 1rem 1rem 1rem .5rem;
	box-sizing: border-box;
	overflow: hidden;
}

.sapWCTimelineList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sapWCTimelineListItem {
	margin-bottom: 1.625rem;
}

.sapWCTimelineListItem:last-child {
	margin-bottom: 0;
}

.sapUiSizeCompact.sapWCTimeline {
	padding: .5rem;
}

.sapUiSizeCompact .sapWCTimelineListItem {
	margin-bottom: .5rem;
}

.sapUiSizeCompact .sapWCTimelineListItem :last-child {
	margin-bottom: 0;
}
