@import "./FormComponents.css";
@import "./InvisibleTextStyles.css";
@import "./InputIcon.css";
@import "./InputSharedStyles.css";

:host(:not([hidden])) {
	display: inline-block;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
}

:host {
	min-width: calc(var(--_ui5_input_min_width) + var(--_ui5_input_icon_width));
	height: var(--_ui5_input_height);
	color: var(--sapField_TextColor);
	background-color: var(--sapField_Background);
	border-radius: var(--_ui5-time_picker_border_radius);
	margin: var(--_ui5_input_margin_top_bottom) 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

:host([value-state="Negative"]) {
	background-color: var(--sapField_InvalidBackground);
}

:host(:not([disabled]):not([readonly]):hover) {
	background: var(--sapField_Hover_Background);
}

.ui5-time-picker-root {
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	height: inherit;
}

:host .ui5-time-picker-input {
	width: 100%;
	color: inherit;
	background-color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	margin: inherit;
	height: inherit;
}

:host([disabled]) .ui5-time-picker-input {
	background-color: var(--_ui5-input_disabled_background);
	opacity: var(--_ui5_input_disabled_opacity);
}

.ui5-time-picker-popover::part(header) {
	padding: 0;
}