@import "./FormComponents.css";
@import "./InvisibleTextStyles.css";
@import "./InputIcon.css";

:host(:not([hidden])) {
	display: inline-block;
	line-height: normal;
	letter-spacing: normal;
	word-spacing: normal;
}

:host {
	min-width: calc(var(--_ui5_input_min_width) + var(--_ui5_input_icon_width));
	color: var(--sapField_TextColor);
	background-color: var(--sapField_Background);
	border-radius: var(--_ui5-time_picker_border_radius);
	margin: var(--_ui5_input_margin_top_bottom) 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

:host([value-state="Error"]) {
	background-color: var(--sapField_InvalidBackground);
}

:host(:not([disabled]):hover) {
	background: var(--sapField_Hover_Background);
}

.ui5-time-picker-root {
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
}

:host .ui5-time-picker-input {
	width: 100%;
	color: inherit;
	background-color: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	margin: inherit;
}

.ui5-time-picker-input-icon-button {
	border-left: 0.0625rem solid transparent;
}

.ui5-time-picker-input-icon-button {
	border-left: 0.0625rem solid transparent;
}

.ui5-time-picker-input-icon-button:hover {
	cursor: pointer;
	border-left: var(--_ui5_time_picker_border);
	background: var(--sapButton_Hover_Background);
}

.ui5-time-picker-input-icon-button:active {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}

.ui5-time-picker-input-icon-button[pressed] {
	background-color: var(--sapButton_Active_Background);
	color: var(--sapButton_Active_TextColor);
}