:host(:not([hidden])) {
	display: block;
}

.ui5-timeline-root {
	background-color: var(--sapBackgroundColor);
	padding: 1rem 1rem 1rem .5rem;
	box-sizing: border-box;
	overflow: hidden;
}

.ui5-timeline-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ui5-timeline-list-item {
	margin-bottom: 1.625rem;
}

.ui5-timeline-list-item:last-child {
	margin-bottom: 0;
}

/* Compact size */
:host([content-density="Compact"]) .ui5-timeline-root {
	padding: .5rem;
}

:host([content-density="Compact"]) .ui5-timeline-list-item {
	margin-bottom: .5rem;
}

:host([content-density="Compact"]) .ui5-timeline-list-item :last-child {
	margin-bottom: 0;
}
