.ui5-timepicker-sliders-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	direction: ltr;
}

.ui5-timepicker-footer {
	height: fit-content;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.ui5-timepicker-footer * {
	margin: 1%;
}
