/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:host(:not([hidden])) {
	display: block;
	cursor: text;
}

:host {
	max-width: 100%;
	color: var(--sapGroup_TitleTextColor);
	font-family: var(--sapFontFamily);
	text-shadow: var(--sapContent_TextShadow);
}

.ui5-title-root {
	display: inline-block;
	position: relative;
	font-weight: normal;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	vertical-align: bottom;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0;
	cursor: inherit;
}

:host([wrap]) .ui5-title-root {
	white-space: pre-line;
}
/* Auto */
:host .ui5-title-root {
	font-size: var(--ui5_title_level_2Size);
}

/* Level H1 */
:host([level="H1"]) .ui5-title-root {
	font-size: var(--ui5_title_level_1Size);
}

/* Level H2 */
:host([level="H2"]) .ui5-title-root {
	font-size: var(--ui5_title_level_2Size);
}

/* Level H3 */
:host([level="H3"]) .ui5-title-root {
	font-size: var(--ui5_title_level_3Size);
}

/* Level H4 */
:host([level="H4"]) .ui5-title-root {
	font-size: var(--ui5_title_level_4Size);
}

/* Level H5 */
:host([level="H5"]) .ui5-title-root {
	font-size: var(--ui5_title_level_5Size);
}

/* Level H6 */
:host([level="H6"]) .ui5-title-root {
	font-size: var(--ui5_title_level_6Size);
}