:host(ui5-title:not([hidden])) {
	display: block;
	max-width: 100%;
	color: var(--sapUiGroupTitleTextColor);
}

ui5-title:not([hidden]) {
	display: block;
	overflow: hidden;
	color: var(--sapUiGroupTitleTextColor);
	max-width: 100%;
}

.sapMTitle {
	display: inline-block;
	position: relative;
	font-weight: var(--sapUiFontHeaderWeight);
	font-family: var(--sapUiFontHeaderFamily);
	text-shadow: var(--sapUiShadowText);
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	vertical-align: bottom;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	margin: 0;
	cursor: text;
}

.sapMTitle.sapMTitleWrap {
	white-space: pre-line;
}

/* Level H1 */
.sapMTitleStyleH1 {
	font-size: var(--sapMFontHeader1Size);
}

/* Level H2 */
.sapMTitleStyleH2 {
	font-size: var(--sapMFontHeader2Size);
}

/* Level H3 */
.sapMTitleStyleH3 {
	font-size: var(--sapMFontHeader3Size);
}

/* Level H4 */
.sapMTitleStyleH4 {
	font-size: var(--sapMFontHeader4Size);
}

/* Level H5 */
.sapMTitleStyleH5 {
	font-size: var(--sapMFontHeader5Size);
}

/* Level H6 */
.sapMTitleStyleH6 {
	font-size: var(--sapMFontHeader6Size);
}