:host {
	font-family: var(--sapFontFamily);
	color: var(--sapTextColor);
	font-size: var(--sapFontMediumSize);
}

:host([open]) .ui5-toast-root {
	display: block;
}

.ui5-toast-root {
	display: none;
	box-sizing: border-box;
	max-width: 15rem;
	overflow: hidden;
	padding: 1rem;
	background: var(--_ui5_toast_background);
	box-shadow: var(--_ui5_toast_shadow);
	border-radius: .25rem;
	transition-property: opacity;
	opacity: 1;
	margin: 2rem;

	/* Text styling */
	font-family: inherit;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	word-wrap: break-word;
	text-align: center;
	text-overflow: ellipsis;
	white-space: pre-line;
	z-index: 999;
}

.ui5-toast-root {
	position: fixed;
}

:host(:not([placement])) .ui5-toast-root {
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}

:host([placement="TopStart"]) .ui5-toast-root {
	top: 2rem;
	left: 2rem;
}

:host([placement="MiddleStart"]) .ui5-toast-root {
	left: 2rem;
	top: 50%;
	transform: translateY(-50%);
}

:host([placement="BottomStart"]) .ui5-toast-root {
	left: 2rem;
	bottom: 2rem;
}

 :host([placement="TopCenter"]) .ui5-toast-root {
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
}

:host([placement="MiddleCenter"]) .ui5-toast-root {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

:host([placement="BottomCenter"]) .ui5-toast-root {
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}

:host([placement="TopEnd"]) .ui5-toast-root {
	right: 2rem;
	top: 2rem;
}

:host([placement="MiddleEnd"]) .ui5-toast-root {
	right: 2rem;
	top: 50%;
	transform: translateY(-50%);
}

:host([placement="BottomEnd"]) .ui5-toast-root {
	right: 2rem;
	bottom: 2rem;
}