[ui5-togglebutton][active] .ui5-button-root::after {
    border-color: var(--sapContent_ContrastFocusColor);
}

[ui5-togglebutton][design="Positive"][focused] .ui5-button-root::after {
    border-color: var(--_ui5_button_positive_border_focus_hover_color);
}

[ui5-togglebutton][design="Positive"][active][focused] .ui5-button-root::after {
    border-color: var(--sapContent_ContrastFocusColor);
}

[ui5-togglebutton][design="Negative"][focused] .ui5-button-root::after {
    border-color: var(--_ui5_button_positive_border_focus_hover_color);
}

[ui5-togglebutton][design="Negative"][active][focused] .ui5-button-root::after {
    border-color: var(--sapContent_ContrastFocusColor);
}

[ui5-togglebutton][design="Emphasized"][focused] .ui5-button-root::after {
    border-color: var(--sapContent_ContrastFocusColor);
}

[ui5-togglebutton] [ui5-icon].ui5-button-icon {
    height: var(--_ui5_button_icon_font_size); /* Center vertically all icons*/
    top: 0;
}
