:host(:not([hidden])) {
	display: inline-block;
}

/* this line is also included from the Button.css, but keep it here in case we start using it for automatic IE11 compilation */
:host([disabled]) {
	pointer-events: none;
}

:host([design="Positive"][pressed]),
:host([design="Positive"][pressed][focused]),
:host([design="Positive"][pressed]:hover) {
	background: var(--sapButton_Accept_Active_Background);
	border-color: var(--sapButton_Accept_Active_BorderColor);
	color: var(--sapButton_Selected_TextColor);
	outline-color: var(--sapContent_ContrastFocusColor);
}

:host([design="Positive"][pressed][active]),
:host([design="Positive"][pressed]:not([active]):not([non-interactive]):not([_is-touch]):hover) {
	background: var(--sapButton_Accept_Selected_Hover_Background);
}

:host([design="Negative"][pressed]),
:host([design="Negative"][pressed][focused]),
:host([design="Negative"][pressed]:hover) {
	background: var(--sapButton_Reject_Active_Background);
	border-color: var(--sapButton_Reject_Active_BorderColor);
	color: var(--sapButton_Selected_TextColor);
	outline-color: var(--sapContent_ContrastFocusColor);
}

:host([design="Negative"][pressed][active]),
:host([design="Negative"][pressed]:not([active]):not([non-interactive]):not([_is-touch]):hover) {
	background: var(--sapButton_Reject_Selected_Hover_Background);
}


:host([pressed]),
:host([pressed]:hover),
:host([pressed][focused]),
:host([design="Transparent"][pressed]),
:host([design="Transparent"][pressed]:hover),
:host([design="Emphasized"][pressed]),
:host([design="Emphasized"][pressed]:not([active]):not([non-interactive]):not([_is-touch]):hover) {
	background: var(--sapButton_Selected_Background);
	border-color: var(--sapButton_Selected_BorderColor);
	color: var(--sapButton_Selected_TextColor);
	outline-color: var(--sapContent_ContrastFocusColor);
}

:host([pressed][active]),
:host([pressed]:not([active]):not([non-interactive]):not([_is-touch]):hover) {
	background: var(--sapButton_Selected_Hover_Background);
}
