:host(:not([hidden])) {
	display: inline-block;
}

/* this line is also included from the Button.css, but keep it here in case we start using it for automatic IE11 compilation */
:host([disabled]) {
	pointer-events: none;
}

:host([design="Positive"][pressed]),
:host([design="Positive"][pressed][focused]),
:host([design="Positive"][pressed]:hover) {
	background: var(--sapUiButtonAcceptActiveBackground);
	border-color: var(--sapUiButtonAcceptActiveBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
	outline-color: var(--sapUiContentContrastFocusColor);
}

:host([design="Positive"][pressed][active]),
:host([design="Positive"][pressed]:hover) {
	background: var(--_ui5_toggle_button_pressed_positive_hover);
}

:host([design="Negative"][pressed]),
:host([design="Negative"][pressed][focused]),
:host([design="Negative"][pressed]:hover) {
	background: var(--sapUiButtonRejectActiveBackground);
	border-color: var(--sapUiButtonRejectActiveBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
	outline-color: var(--sapUiContentContrastFocusColor);
}

:host([design="Negative"][pressed][active]),
:host([design="Negative"][pressed]:hover) {
	background: var(--_ui5_toggle_button_pressed_negative_hover);
}


:host([pressed]),
:host([pressed]:hover),
:host([pressed][focused]),
:host([design="Transparent"][pressed]),
:host([design="Transparent"][pressed]:hover),
:host([design="Emphasized"][pressed]),
:host([design="Emphasized"][pressed]:hover) {
	background: var(--sapUiToggleButtonPressedBackground);
	border-color: var(--sapUiToggleButtonPressedBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
	outline-color: var(--sapUiContentContrastFocusColor);
}

:host([pressed][active]),
:host([pressed]:hover) {
	background: var(--sapUiToggleButtonPressedHoverBackground);
}

/* IE Specific CSS */

ui5-togglebutton {
	outline: none;
}

ui5-togglebutton[focused] .ui5-button-inner {
	position: relative;
}

ui5-togglebutton[focused] .ui5-button-inner::after {
	content: "";
	position: absolute;
	border-width: 1px;
	border-style: dotted;
	border-color: var(--_ui5_button_focus_color);
	top: var(--_ui5_button_focus_offset);
	bottom: var(--_ui5_button_focus_offset);
	left: var(--_ui5_button_focus_offset);
	right: var(--_ui5_button_focus_offset);
}

ui5-togglebutton[active] .ui5-button-inner::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

ui5-togglebutton[design="Positive"][focused] .ui5-button-inner::after {
	border-color: var(--_ui5_button_positive_border_focus_hover_color);
}

ui5-togglebutton[design="Positive"][active][focused] .ui5-button-inner::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

ui5-togglebutton[design="Negative"][focused] .ui5-button-inner::after {
	border-color: var(--_ui5_button_positive_border_focus_hover_color);
}

ui5-togglebutton[design="Negative"][active][focused] .ui5-button-inner::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

ui5-togglebutton[design="Emphasized"][focused] .ui5-button-inner::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

ui5-togglebutton[design="Positive"][pressed] .ui5-button-inner::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

ui5-togglebutton[design="Negative"][pressed] .ui5-button-inner::after {
	border-color: var(--sapUiButtonRejectActiveBorderColor);
}

ui5-togglebutton[design="Emphasized"][pressed] .ui5-button-inner::after {
	border-color: var(--sapUiButtonEmphasizedBorderColor);
}

ui5-togglebutton[design="Transparent"][pressed] .ui5-button-inner::after {
	border-color: var(--sapUiButtonLiteBorderColor);
}
