@import "./InvisibleTextStyles.css";

:host {
	display: inline-block;
	box-sizing: border-box;
	border: none;
	height: 2.25rem;
}

:host([disabled]) {
	opacity: 40%;
	pointer-events: none;
}

.ui5-tokenizer-root {
	height: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	font-family: "72override", var(--sapFontFamily);
}

.ui5-tokenizer-no-padding {
	padding: 0;
}

.ui5-tokenizer-root.ui5-tokenizer-nmore--wrapper {
	overflow: hidden;
}

.ui5-tokenizer--token--wrapper {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
}

:host([expanded]) .ui5-tokenizer--content {
	display: inline-flex;
	white-space: nowrap;
	overflow: hidden;
}

.ui5-tokenizer--content {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	padding-inline-start: var(--_ui5_tokenizer_padding);
	height: 100%;
	box-sizing: border-box;
}

:host([_tokens-count="1"]) .ui5-tokenizer--content {
	padding-inline-end: 4px;
	box-sizing: border-box;
	max-width: 100%;
	flex: 1;
}

.ui5-tokenizer-more-text {
	display: inline-block;
	margin-inline-start: .25rem;
	cursor: pointer;
	white-space: nowrap;
	font-size: var(--sapFontSize);
	font-weight: normal;
	color: var(--_ui5_tokenizer_n_more_text_color);
}

.ui5-tokenizer-more-text:hover {
	text-decoration: underline;
}

/* Underline needs to be removed on mousedown. */
.ui5-tokenizer-more-text:active {
	text-decoration: none;
}
