:host(ui5-tokenizer) {
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	height: 2.25rem;
}

ui5-tokenizer {
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	height: 2.25rem;
}

span.sapUiSizeCompact .ui5-tokenizer--wrapper {
	padding: 0.1875rem 0.125rem;
}

.ui5-tokenizer--wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.1875rem;
	overflow-x: scroll;
	box-sizing: border-box;
	font-family: var(--sapUiFontFamily);
}

.ui5-tokenizer-no-padding {
	padding: 0;
}

.ui5-tokenizer--wrapper.ui5-tokenizer-nmore--wrapper {
	overflow-x: hidden;
}

.ui5-tokenizer--token--wrapper {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
}

.ui5-tokenizer--content {
	height: 100%;
}

.ui5-tokenizer--content.ui5-tokenizer-nmore--content {
	overflow: hidden;
}

.ui5-tokenizer-more-text {
	display: inline-block;
	margin-left: 3px;
	cursor: pointer;
	white-space: nowrap;
	font-size: var(--sapMFontMediumSize);
}

.ui5-tokenizer-token-placeholder {
	display: inline-block;
	height: 1px;
	width: 1px;
	margin-top: auto;
}

/* Edge / IE specific coding */

span[data-sap-ui-wc-root] {
	display: flex;
	height: 100%;
	width: 100%;
}
