:host {
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	height: 2.25rem;
}

:host([data-ui5-compact-size]) .ui5-tokenizer-root {
	padding: 0.125rem;
}

.ui5-tokenizer-root {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.1875rem;
	overflow-x: scroll;
	box-sizing: border-box;
	font-family: var(--sapUiFontFamily);
}

:host([data-ui5-compact-size]) .ui5-tokenizer-root.ui5-tokenizer-no-padding,
.ui5-tokenizer-no-padding {
	padding: 0;
}

.ui5-tokenizer-root.ui5-tokenizer-nmore--wrapper {
	overflow-x: hidden;
}

.ui5-tokenizer--token--wrapper {
	display: inline-flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
}

.ui5-tokenizer--content {
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.ui5-tokenizer--content.ui5-tokenizer-nmore--content {
	overflow: hidden;
}

.ui5-tokenizer-more-text {
	display: inline-block;
	margin-left: .25rem;
	cursor: pointer;
	white-space: nowrap;
	font-size: var(--sapMFontMediumSize);
}

.ui5-tokenizer-token-placeholder {
	display: inline-block;
	height: 1.625rem;
	width: 1px;
	margin-top: auto;
}

:host([data-ui5-compact-size]) .ui5-tokenizer-token-placeholder {
	height: 1.25rem;
}

:host([expanded]) .ui5-tokenizer--content {
	overflow: auto;
}

:host ::slotted(ui5-token) {
	margin-left: .25rem;
}

:host([data-ui5-compact-size]) :slotted(ui5-token) {
	height: 100%;
}