:host(:not([hidden])) {
	width: 100%;
	height: var(--_ui5-toolbar-height);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	border-bottom: 0.0625rem solid var(--sapGroup_ContentBorderColor);
	padding: 0 var(--_ui5-toolbar-padding-left) 0 var(--_ui5-toolbar-padding-right);
	background-color: var(--sapList_HeaderBackground);
}

:host([align-content="Start"]) {
	justify-content: flex-start;
}

.ui5-tb-items {
	width: 100%;
	height: 100%;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
}

.ui5-tb-items-full-width {
	width: 100%;
}

.ui5-tb-item {
	flex-shrink: 0;
}

.ui5-tb-item {
	margin-inline-end: var(--_ui5-toolbar-item-margin-right);
	margin-inline-start: var(--_ui5-toolbar-item-margin-left);
}

/* Last visible element should not have margins.
Last element is: overflow button or tb-item when overflow button is hidden */
.ui5-tb-overflow-btn,
.ui5-tb-items:has(.ui5-tb-overflow-btn-hidden) .ui5-tb-item:nth-last-child(2) {
	margin-inline-end: 0;
	margin-inline-start: 0;
}

.ui5-tb-overflow-btn-hidden {
	visibility: hidden;
	position: absolute;
}

/* Design */
:host([design="Transparent"]) {
	background-color: transparent;
}