.ui5-overflow-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
}

.ui5-overflow-list--alignleft .ui5-tb-popover-item {
	justify-content: flex-start;
}

.ui5-overflow-list--alignleft .ui5-tb-popover-item[icon-only]{
	margin-left: 0.625rem;
}

.ui5-tb-popover-item {
	width: 100%;
	margin-bottom: 0.25rem;
}

.ui5-tb-action-content {
	display: flex;
	align-items: center;
}

.ui5-tb-action-content > .ui5-tb-action-content-text {
	margin-left: 0.25rem;
}

.ui5-tb-action-content > .ui5-tb-action-content-text.ui5-tb-action-content-image-last {
	margin-left: 0;
	margin-right: 0.25rem;
}