.ui5-overflow-popover::part(content) {
	padding: var(--_ui5_toolbar_overflow_padding);
}

.ui5-overflow-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ui5-tb-popover-item {
	width: 100%;
}

.ui5-tb-popover-item:not(:last-child) {
	margin-bottom: 0.25rem;
}

.ui5-tb-separator-in-overflow {
	display: none;
	height: 0.0625rem;
	background: var(--sapToolbar_SeparatorColor);
	box-sizing: border-box;
}

.ui5-tb-separator-in-overflow[visible]{
	display: block;
}
