:host([disabled]:active) {
	pointer-events: none;
}
.ui5-tb-popover-item.ui5-tb-button::part(button) {
	justify-content: start;
}

.ui5-tb-popover-item.ui5-tb-button[icon-only]::part(button) {
	padding: 0 var(--_ui5_button_base_padding);
}
