.ui5-overflow-popover::part(content) {
	padding: var(--_ui5_toolbar_overflow_padding);
}

.ui5-overflow-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ui5-tb-popover-item {
	width: 100%;
	margin-bottom: 0.25rem;
}
