:host(:not([hidden])) {
	width: 100%;
	height: var(--_ui5-toolbar-height);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 var(--_ui5-toolbar-padding-left) 0 var(--_ui5-toolbar-padding-right);
	box-sizing: border-box;
	border-bottom: 0.0625rem solid var(--sapGroup_ContentBorderColor);
}

:host([align-content="Start"]) {
	justify-content: flex-start;
}

.ui5-tb-items {
	width: 100%;
	height: 100%;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
}

.ui5-tb-items-full-width {
    width: 100%;
}

.ui5-tb-item {
    flex-shrink: 0;
}

.ui5-tb-item:not(:last-child) {
	margin-inline-end: var(--_ui5-toolbar-item-margin-right);
	margin-inline-start: var(--_ui5-toolbar-item-margin-left);
}

.ui5-tb-separator {
	height: var(--_ui5-toolbar-separator-height);
	width: 0.0625rem;
	background: var(--sapToolbar_SeparatorColor);
	box-sizing: border-box;
}

.ui5-tb-overflow-btn-hidden {
	visibility: hidden;
	position: absolute;
}