:host(:not([hidden])) {
	display: block;
}

.ui5-li-tree-toggle-box {
    width: 1rem;
    margin-right: 0.5rem;
}

:host([active][actionable]) .ui5-li-tree-toggle-icon {
    color: var(--sapList_Active_TextColor);
}
