@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
    display: block;
}

.ui5-tree-root {
    width: 100%;
    height: 100%;
}

.expand-button {
    transform: rotate(90deg);
}

.expand-button-expanded {
    transform: rotate(0deg);
}
