.ui5-valuestatemessage-root {
	box-sizing: border-box;
	display: inline-block;
	color: var(--sapUiBaseColor);
	font-size: var(--sapFontSmallSize);
	font-family: var(--sapFontFamily);
	padding: .3rem .625rem;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 6.25rem;
}

.ui5-valuestatemessage--success {
	background: var(--sapSuccessBackground);
}

.ui5-valuestatemessage--warning {
	background: var(--sapWarningBackground);
}

.ui5-valuestatemessage--error {
	background: var(--sapErrorBackground);
}

.ui5-valuestatemessage--information {
	background: var(--sapInformationBackground);
}