.ui5-valuestatemessage-popover {
	min-height: 1rem;
	box-shadow: none;
}

.ui5-valuestatemessage-root {
	box-sizing: border-box;
	display: inline-block;
	color: var(--sapUiBaseColor);
	font-size: var(--sapFontSmallSize);
	font-family: "72override", var(--sapFontFamily);
	padding: .3rem .625rem;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 6.25rem;
	border: var(--_ui5_value_state_message_border);
}

.ui5-valuestatemessage--success {
	background: var(--sapSuccessBackground);
}

.ui5-valuestatemessage--warning {
	background: var(--sapWarningBackground);
}

.ui5-valuestatemessage--error {
	background: var(--sapErrorBackground);
}

.ui5-valuestatemessage--information {
	background: var(--sapInformationBackground);
}
