:host(:not([hidden])) {
	display: block;
}

:host {
	width: 100%;
	height: 100%;
}

.ui5-yrp-root {
	padding: 2rem 0 1rem 0;
	display: flex;
	flex-direction: column;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	justify-content: center;
	align-items: center;
}

.ui5-yrp-interval-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.ui5-yrp-item {
	display: flex;
	margin: var(--_ui5_yearpicker_item_margin);
	width: calc(50% - 0.125rem);
	height: var(--_ui5_year_picker_item_height);
	color: var(--sapButton_Lite_TextColor);
	background-color: var(--sapButton_Lite_Background);
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: none;
	position: relative;
	border: var(--_ui5_yearpicker_item_border);
	border-radius: var(--_ui5_yearpicker_item_border_radius);
}

.ui5-yrp-item-secondary-type {
	flex-direction: column;
	width: calc(50% - 0.125rem);
}

.ui5-yrp-item-sec-type {
	font-size: 0.75rem;
	color: var(--sapNeutralElementColor);
}

.ui5-yrp-item-one-column-view {
	width: initial;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.ui5-yrp-item.ui5-yrp-item--selected,
.ui5-yrp-item.ui5-yrp-item--selected-between {
	background: var(--sapButton_Selected_Background);
	border: var(--_ui5_yearpicker_item_selected_border);
	color: var(--sapButton_Selected_TextColor);
}

.ui5-yrp-item.ui5-yrp-item--selected .ui5-yrp-item-sec-type,
.ui5-yrp-item.ui5-yrp-item--selected-between .ui5-yrp-item-sec-type {
	color: var(--sapButton_Selected_TextColor);
}

.ui5-yrp-item:hover {
	background: var(--sapButton_Lite_Hover_Background);
	border: var(--_ui5_yearpicker_item_hover_border);
	color: var(--sapButton_Lite_Hover_TextColor);
}

.ui5-yrp-item.ui5-yrp-item--selected:hover,
.ui5-yrp-item.ui5-yrp-item--selected-between:hover {
	background: var(--sapButton_Selected_Hover_Background);
	border: var(--_ui5_yearpicker_item_selected_hover_border);
	color: var(--sapButton_Selected_TextColor);
}

.ui5-yrp-item.ui5-yrp-item--selected:hover .ui5-yrp-item-sec-type,
.ui5-yrp-item.ui5-yrp-item--selected-between:hover .ui5-yrp-item-sec-type {
	color: var(--sapButton_Selected_TextColor);
}

.ui5-yrp-item:active,
.ui5-yrp-item.ui5-yrp-item--selected:active,
.ui5-yrp-item.ui5-yrp-item--selected-between:active {
	background: var(--sapButton_Active_Background);
	border: var(--_ui5_monthpicker_item_active_border);
	color: var(--sapButton_Active_TextColor);
}

.ui5-yrp-item:active .ui5-yrp-item-sec-type,
.ui5-yrp-item.ui5-yrp-item--selected:active .ui5-yrp-item-sec-type,
.ui5-yrp-item.ui5-yrp-item--selected-between:active .ui5-yrp-item-sec-type  {
	color: var(--sapButton_Active_TextColor);
}

.ui5-yrp-item.ui5-yrp-item--disabled {
	pointer-events: none;
	opacity: 0.5;
}

.ui5-yrp-item:focus::after {
	content: "";
	position: absolute;
	inset: 0.0625rem;
	border: var(--_ui5_button_focused_border);
	border-radius: var(--_ui5_button_focused_border_radius);
}
