:host(ui5-yearpicker) {
	display: inline-block;
	width: 100%;
	height: 100%;
}

ui5-yearpicker {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.sapWCYearPicker {
	padding: 2rem 0 1rem 0;
	display: flex;
	flex-direction: column;
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
	justify-content: center;
	align-items: center;
}

.sapWCYearPickerIntervalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.sapWCYearPickerItem {
	display: flex;
	margin: var(--_ui5_yearpicker_item_margin);
	width: calc(25% - 0.125rem);
	height: 3rem;
	color: var(--sapUiBaseText);
	background-color: var(--_ui5_yearpicker_item_background_color);
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	outline: none;
	position: relative;
	border: var(--_ui5_yearpicker_item_border);
	border-radius: var(--_ui5_yearpicker_item_border_radius);
}

.sapWCYearPickerItem:hover {
	background-color: var(--_ui5_yearpicker_item_hover_background_color);
}

.sapWCYearPickerItem:focus {
	background-color: var(--_ui5_yearpicker_item_focus_background_color);
}

.sapWCYearPickerItem.sapWCYearPickerItemSel {
	background-color: var(--sapUiSelected);
	color: var(--sapUiContentContrastTextColor);
}

.sapWCYearPickerItem.sapWCYearPickerItemSel:focus {
    background-color: var(--_ui5_yearpicker_item_selected_focus);
}

.sapWCYearPickerItem.sapWCYearPickerItemSel:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapWCYearPickerItem.sapWCYearPickerItemSel:hover {
    background-color: var(--_ui5_yearpicker_item_selected_focus);
}

.sapWCYearPickerItem:focus::after {
	content: "";
	position: absolute;
	width: var(--_ui5_yearpicker_item_focus_after_width);
	height: var(--_ui5_yearpicker_item_focus_after_height);
	border: var(--_ui5_yearpicker_item_focus_after_border);
	top: var(--_ui5_yearpicker_item_focus_after_offset);
	left: var(--_ui5_yearpicker_item_focus_after_offset);
}

.sapUiSizeCompact .sapWCYearPickerItem {
	height: 2rem;
}
