@import "../base/Dialog-parameters.css";

:root {
	--_ui5_dialog_header_focus_offset: 0px;
	--_ui5_dialog_header_focus_width: 0.125rem;
	--_ui5_dialog_header_border_radius: 0.75rem 0.75rem 0 0;
	--_ui5_dialog_resize_handle_bottom: 3px;
	--_ui5_dialog_resize_handle_right: 1px;
	--_ui5_dialog_header_focus_offset: -2px;
	--_ui5_dialog_header_focus_width: 2px;
}
