@import "../base/Input-parameters.css";

:root {
	--_ui5_input_height: 2.25rem;
	--_ui5_input_disabled_opacity: 0.4;
	--_ui5-input-hover-border: 2px solid transparent;
	--_ui5-input-hover-box-shadow: 0 0 2px rgb(131 150 168 / 16%), 0 8px 16px rgb(131 150 168 / 16%);
	--_ui5-input-border-radius: 16px;
	--_ui5-input-placeholder-style: normal;
	--_ui5-input-placeholder-color: var(--sapNeutralColor);
	--_ui5-input-bottom-border-height: 2px;
	--_ui5-input-bottom-border-color: var(--sapNeutralColor);
	--_ui5-input-focused-border-color: #1890FF;
	--_ui5-input-focus-outline: none;
	--_ui5-input-focus-outline-offset: 0;
	--_ui5-input-value-state-outline: none;
	--_ui5-input-value-state-outline-offset: none;
	--_ui5-input-transition: all .2s ease-in-out;
	--_ui5-input-focused-value-state-error-background: #fff;
	--_ui5-input-focused-value-state-warning-background: #fff;
	--_ui5-input-focused-value-state-success-background: #fff;
	--_ui5-input-focused-value-state-information-background: #fff;
	--_ui5-input-value-state-error-border-botom-color: #d20a0a;
	--_ui5-input-value-state-error-border-color: transparent;
	--_ui5-input-focused-value-state-error-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-warning-border-botom-color: #c35500;
	--_ui5-input-value-state-warning-border-color: transparent;
	--_ui5-input-focused-value-state-warning-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-success-border-botom-color: #36a41d;
	--_ui5-input-value-state-success-border-color: transparent;
	--_ui5-input-focused-value-state-success-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-success-border-width: 2px;
	--_ui5-input-value-success-information-border-botom-color: #0070f2;
	--_ui5-input-value-state-information-border-color: transparent;
	--_ui5-input-focused-value-state-information-border-color: var(--_ui5-input-focused-border-color);
	--_ui5-input-value-state-information-border-width: 2px;
}

/* 
Our side:
 - We have no way of styling the icons as in the example
 - How do we want to implement the icons for value-state's: Built in or people should pass it as slots?

 Open questions
 - Popups(value state message, suggestions) look really strange since the input now has round borders
 - No example for value-state="Success"
 - No example for interaction with icon
 - No example for disabled
 - No example for readonly
 - No example for interaction with DatePicker(when it opens)
 - Icon for value-state="Information" is not Fiori compatible
*/