@import "../base/InputIcon-parameters.css";

:root {
	--_ui5_input_icon_padding: .5rem .5rem;
	--_ui5_input_icon_hover_bg: var(--sapField_Focus_Background);
	--_ui5_input_icon_pressed_color: var(--sapButton_Active_TextColor);
	--_ui5_input_icon_border_radius: 0.125rem;
	--_ui5_input_icon_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_input_icon_border: none;
	--_ui5_input_icon_margin: 0.125rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_input_icon_padding: .1875rem .375rem;
}