@import "../base/Input-parameters.css";

:root {
	--_ui5-input-border: none;
	--_ui5_input_hover_border: none;
	--_ui5_input_hover_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_input_value_state_warning_hover_box_shadow: var(--sapContent_Critical_Shadow);
	--_ui5_input_value_state_success_hover_box_shadow: var(--sapContent_Positive_Shadow);
	--_ui5_input_value_state_information_hover_box_shadow: var(--sapContent_Informative_Shadow);
	--_ui5_input_value_state_error_hover_box_shadow: var(--sapContent_Negative_Shadow);
	--_ui5_input_focus_border_radius: 0.25rem;
	--_ui5_input_error_warning_border_style: none;
	--_ui5_input_focused_value_state_error_background: var(--sapField_Hover_Background);
	--_ui5_input_focused_value_state_warning_background: var(--sapField_Hover_Background);
	--_ui5_input_focused_value_state_success_background: var(--sapField_Hover_Background);
	--_ui5_input_focused_value_state_information_background: var(--sapField_Hover_Background);
	--_ui5_input_focused_value_state_error_focus_outline_color: var(--sapField_InvalidColor);
	--_ui5_input_focused_value_state_warning_focus_outline_color: var(--sapField_WarningColor);
	--_ui5_input_focused_value_state_success_focus_outline_color: var(--sapField_SuccessColor);
	--_ui5_input_focus_offset: 0;
	--_ui5_input_information_icon_padding: .625rem .625rem .5rem .625rem;
	--_ui5_input_error_warning_icon_padding: .625rem .625rem .5rem .625rem;
	--_ui5_input_custom_icon_padding: .625rem .625rem .5625rem .625rem;
	--_ui5_input_error_warning_custom_icon_padding: .625rem .625rem .5rem .625rem;
	--_ui5_input_focus_outline_color: var(--sapField_Active_BorderColor);
	--_ui5_input_icon_wrapper_height: calc(100% - 1px);
	--_ui5_input_icon_wrapper_state_height: calc(100% - 2px);
	--_ui5_input_icon_wrapper_success_state_height: calc(100% - var(--_ui5_input_value_state_success_border_width));
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_input_information_icon_padding: .3125rem .5rem .1875rem .5rem;
	--_ui5_input_error_warning_icon_padding: .3125rem .5rem .1875rem .5rem;
	--_ui5_input_custom_icon_padding: .3125rem .5rem .25rem .5rem;
}