:root {
    --ui5-listitem-background-color: var(--sapBaseColor);
    --_ui5-listitem-active-background-color: var(--sapBackgroundColor);
    --_ui5-listitem-initial-border-bottom: 2px solid transparent;
    --ui5-listitem-border-bottom: none;
    --_ui5-listitem-border-bottom: 2px solid transparent;
    --ui5-listitem-selected-border-bottom: none;
    --_ui5-listitem-selected-color: var(--sapContent_Selected_TextColor);
    --_ui5-listitem-focus-border-color: .25rem;
}
