:root {
    --_ui5-listitem-border-left: .125rem solid #fff;
    --ui5-listitem-active-background-color: #A9B4BE;
    --_ui5-listitem-border-radius: .25rem;
    --_ui5-listitem-border-left-color: .125rem solid var(--sapButton_Track_Background);
    --_ui5-listitem-border-pressed-left-color: .125rem solid var(--sapButton_Active_BorderColor);
    --_ui5-listitem-hover-background-color: var(--sapBackgroundColor);
    --_ui5-listitem-selected-border-left: .125rem solid var(--sapField_Focus_BorderColor);
    --_ui5-listitem-selected-active-border-color: #0057D2;
    --_ui5-listitem-selected-color: #0057D2;
    --_ui5-listitem-selected-hovered-color: #0040B0;
    --_ui5-listitem-pressed-color: var(--sapInformationBackground);
    --_ui5-listitem-selected-hovered-color: #0040B0;
    --_ui5-listitem-selected-hovered-border-color: var(--sapHighlightColor);
    --_ui5-listitem-selected-active-background: var(--sapInformationBackground);
    --_ui5-listitem-selected-active-color: #002A86;
    --_ui5-listitem-selected-background: var(--sapInformationBackground);
    --_ui5-listitem-color: var(--sapTitleColor);
    --_ui5-listitem-focused-padding-left: 1.125rem;
    --_ui5-listitem-focus-border: .125rem solid var(--sapContent_FocusColor);
    --_ui5-listitem-focus-border-inline: .25rem;
    --_ui5-listitem-focus-outline: none;
}