@import "../base/PopupsCommon-parameters.css";

:root {
	--_ui5_popup_viewport_margin: 10px;
	--_ui5-popup-border-radius: 0.75rem;
	--_ui5_popup_header_shadow: none;
	--_ui5_popup_footer_border_top: none;
	--_ui5_popup_header_footer_font_weight: bold;
}
