:root {
    --_ui5_progress_indicator_icon_visibility: inline-block;

    --_ui5_progress_indicator_side_points_visibility: block;

    --_ui5_progress_indicator_padding: 1.25rem 0 0.75rem 0;
    --_ui5_progress_indicator_padding_novalue: 0.3125rem;
    --_ui5_progress_indicator_padding_end: 1.25rem;

    --_ui5_progress_indicator_host_height: unset;
    --_ui5_progress_indicator_host_box_sizing: border-box;

    --_ui5_progress_indicator_root_position: relative;
    --_ui5_progress_indicator_root_border_radius: 0.25rem;
    --_ui5_progress_indicator_root_height: 0.375rem;
    --_ui5_progress_indicator_root_min_height: 0.375rem;
    --_ui5_progress_indicator_root_overflow: visible;

    --_ui5_progress_indicator_bar_height: 0.625rem;
    --_ui5_progress_indicator_bar_border_radius: 0.5rem;

    --_ui5_progress_indicator_remaining_bar_border_radius: 0.25rem;
    --_ui5_progress_indicator_remaining_bar_position: absolute;
    --_ui5_progress_indicator_remaining_bar_width: 100%;
    --_ui5_progress_indicator_remaining_bar_overflow: visible;

    --_ui5_progress_indicator_icon_position: absolute;
    --_ui5_progress_indicator_icon_right_position: -1.25rem;

    --_ui5_progress_indicator_value_margin: 0 0 0.1875rem 0;
    --_ui5_progress_indicator_value_position: absolute;
    --_ui5_progress_indicator_value_top_position: -1.3125rem;
    --_ui5_progress_indicator_value_left_position: 0;
}