@import "../base/RadioButton-parameters.css";

:root {
	--_ui5_radio_button_border_width: 0.125rem;
	--_ui5_radio_button_border_radius: 0.75rem;
	--_ui5_radio_button_label_color: var(--sapField_TextColor);
	--_ui5_radio_button_border_readonly_focus_style: dashed;
	--_ui5_radio_button_focus_dist: 0.375rem;
}
