@import "../base/rtl-parameters.css";

[dir="rtl"] {
	--_ui5_segmented_btn_item_border_left: 0.0625rem;
	--_ui5_segmented_btn_item_border_right: 0.0625rem;
	--_ui5_progress_indicator_bar_border_radius: 0.5rem;
	--_ui5_progress_indicator_remaining_bar_border_radius: 0.25rem;
}