@import "../sap_horizon_exp/SegmentedButtton-parameters.css";

:root {
	--_ui5_segmented_btn_item_hover_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_segmented_btn_item_fc_hover_box_shadow: var(--sapContent_Interaction_Shadow);
	--_ui5_segmented_btn_box_shadow: inset 0 0 0 0.0625rem var(--sapButton_Background);
	--_ui5_segmented_btn_item_fc_box_shadow: 
		inset 0 0.0625rem 0 0 transparent,
		inset 0 -0.0625rem 0 0 transparent,
		inset 0.0625rem 0 0 0 transparent,
		inset -0.0625rem 0 0 0 transparent;
	--_ui5_segmented_btn_item_box_shadow: var(--_ui5_segmented_btn_item_fc_box_shadow);
	--_ui5_segmented_btn_item_lc_box_shadow: var(--_ui5_segmented_btn_item_box_shadow);
	--_ui5_segmented_btn_item_lc_hover_box_shadow: var(--_ui5_segmented_btn_item_fc_hover_box_shadow);

	--_ui5_segmented_btn_item_lc_box_shadow_rtl: var(--_ui5_segmented_btn_item_lc_box_shadow);
	--_ui5_segmented_btn_item_fc_box_shadow_rtl: var(--_ui5_segmented_btn_item_lc_box_shadow);
	--_ui5_segmented_btn_item_lc_hover_box_shadow_rtl: var(--_ui5_segmented_btn_item_lc_hover_box_shadow);
}