@import "../base/sizes-parameters.css";

:root {
	/* SplitButton */
	--_ui5_split_button_middle_separator_top: 0.625rem;
	--_ui5_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.75rem;
	--_ui5_color-palette-item-hover-height: 2.25rem;
	--_ui5_color-palette-item-margin: calc(((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2) + 0.0625rem);
	--_ui5_color-palette-row-width: 12rem;
	--_ui5_textarea_padding_top: 0.5rem;
	--_ui5_textarea_padding_bottom: 0.4375rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	/* Input */
	--_ui5_input_information_icon_padding: .3125rem .5rem .1875rem .5rem;
	--_ui5_input_error_warning_icon_padding: .3125rem .5rem .1875rem .5rem;
	--_ui5_input_custom_icon_padding: .3125rem .5rem .25rem .5rem;

	/* InputIcon */
	--_ui5_input_icon_padding: .3125rem .5rem .25rem .5rem;

	--_ui5_textarea_padding_top: 0.1875rem;
	--_ui5_textarea_padding_bottom: 0.125rem;
	--_ui5_radio_button_focus_dist: 0.25rem;
	--_ui5_checkbox_focus_position: 0.25rem;

	/* SplitButton */
	--_ui5_split_button_middle_separator_top: 0.3125rem;
	--_ui5_split_button_middle_separator_height: 1rem;
	--_ui5_slider_handle_top: -.5rem;
	--_ui5_slider_tooltip_height: 1.375rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.25rem;
	--_ui5_color-palette-item-focus-height: 1rem;
	--_ui5_color-palette-item-container-sides-padding: 0.1875rem;
	--_ui5_color-palette-item-container-rows-padding: 0.8125rem;
	--_ui5_color-palette-item-hover-height: 1.625rem;
	--_ui5_color-palette-item-margin: calc(((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2) + 0.0625rem);
	--_ui5_color-palette-row-width: 8.75rem;
	--_ui5_color-palette-swatch-container-padding: 0.1875rem 0.5rem;
	--_ui5_color-palette-item-hover-margin: 0.0625rem;
	--_ui5_color-palette-row-height: 7.5rem;
	--_ui5_color-palette-button-height: 2rem;
	--_ui5_color-palette-item-before-focus-offset: -0.25rem;
	--_ui5_color-palette-item-after-focus-offset: -0.125rem;
	--_ui5_color_picker_slider_container_margin_top: -9px;

	/* Token */
	--_ui5_token_outline_offset: 0;

	/* RatingIndicator */
	--_ui5_rating_indicator_readonly_item_height: 0.5em;
	--_ui5_rating_indicator_readonly_item_width: 0.5em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.125rem 0.125rem;

	/* SliderBase */
	--_ui5_slider_handle_width: 1.5rem;
	--_ui5_range_slider_progress_focus_width: calc(100% + var(--_ui5_slider_handle_width) + 10px);
	--_ui5_range_slider_progress_focus_height: calc(var(--_ui5_slider_handle_height) + 10px);
	--_ui5_slider_icon_left: 0.125rem;
	--_ui5_slider_icon_top: 0;
	--_ui5_slider_handle_focused_top: -0.5625rem;
	--_ui5_slider_handle_focused_margin_left: -0.6875rem;
	--_ui5_range_slider_progress_focus_top: -.8125rem;
	--_ui5_slider_tooltip_bottom: 1.75rem;
	--_ui5_slider_handle_focused_tooltip_distance: calc(var(--_ui5_slider_tooltip_bottom) - var(--_ui5_slider_handle_focus_width));
	--_ui5_range_slider_progress_focus_left: calc(-1 * (var(--_ui5_slider_handle_width) / 2) - 5px);

	/* TextArea */
	--_ui5_textarea_padding_top: 0.1875rem;
	--_ui5_textarea_padding_bottom: 0.125rem;
	--_ui5_textarea_padding_bottom_readonly: 0.0625rem;
	--_ui5_textarea_padding_top_error_warning: 0.1875rem;
	--_ui5_textarea_padding_bottom_error_warning: 0.125rem;
	--_ui5_textarea_padding_top_information: 0.1875rem;
	--_ui5_textarea_padding_bottom_information: 0.125rem;
	--_ui5_textarea_padding_right_and_left: 0.5rem;
	--_ui5_textarea_padding_right_and_left_error_warning: 0.5rem;
	--_ui5_textarea_padding_right_and_left_information: 0.5rem;
}