@import "../base/StepInput-parameters.css";

:root {
	--_ui5-step_input_button_backgroun_color: transparent;
	--_ui5-step_input-input_button_after_border:none;
	--_ui5-step_input-input_button_after_left_right: -0.0625rem;
	--_ui5-step_input-input_button_after_top_bottom: 0.0625rem;
	--_ui5-step_input-input_button_after_outline: 0.125rem solid #0070f2;
	--_ui5-step_input-input_button_focused_after_left_right: -0.0625rem;
	--_ui5-step_input-input_button_focused_after_top_bottom: 0.0625rem;
	--_ui5-step_input_button_state_hover_backgroun_color: var(--sapField_Hover_Background);
	--_ui5-step_input-input_error_state_after_outline_color: var(--sapField_InvalidColor);
	--_ui5-step_input-input_success_state_after_outline_color: var(--sapField_SuccessColor);
	--_ui5-step_input-input_warning_state_after_outline_color: var(--sapField_WarningColor);
	--_ui5-step_input-input_information_state_after_outline_color: var(--sapField_InformationColor);
	--_ui5-step_input-input_focused_background_color: var(--sapField_Hover_Background);
	--_ui5-step_input-input_button_after_border-radius: 0.25rem
}