:root {
    --_ui5_switch_width: 40px;
    --_ui5_switch_no_label_width: 40px;
    --_ui5_switch_height: 24px;

    --_ui5-switch-root-border-radius: 100px;
    --_ui5-switch-root-box-shadow: 0 0 2px rgb(27 144 255 / 16%), 0 8px 16px rgb(27 144 255 / 16%);

    --_ui5_switch_track_no_label_height: 24px;
    --_ui5_switch_track_height: 24px;
    --_ui5-switch-track-border: none;
    --_ui5-switch_track-off-background: #8396A7;
    --_ui5-switch_track-on-background: var(--sapActiveColor);
    --_ui5-switch-track-transition: all .2s ease-in-out;

    --_ui5_switch_handle_width: 25px;
    --_ui5_switch_handle_height: 20px;
	--_ui5-switch-handle-border: none;
    --_ui5_switch_handle_bg: #fff;
    --_ui5-switch-handle-left: 0.15625rem;
}
