@import "../base/Table-parameters.css";

:root {
	--ui5_table_header_row_outline_width: var(--sapContent_FocusWidth);
	--ui5_table_header_row_font_weight: bold;
	--ui5_table_header_row_border_bottom_color: var(--sapList_HeaderBorderColor);
	--ui5_table_focus_outline_offset: -0.1875rem;
}