@import "../base/Table-parameters.css";

:root {
	--ui5_table_bottom_border: none;
	--ui5_table_header_row_outline_width: var(--sapContent_FocusWidth);
	--ui5_table_header_row_font_weight: bold;
	--ui5_table_header_row_height: 2.75rem;
}