@import "../base/TextArea-parameters.css";

:root {
	--_ui5_textarea_hover_border: none;
	--_ui5_textarea_focus_border_radius: 0.25rem;
	--_ui5_textarea_error_warning_border_style: none;
	--_ui5_textarea_line_height: 1.5;
	--_ui5_textarea_focused_value_state_error_background: var(--sapField_Hover_Background);
	--_ui5_textarea_focused_value_state_warning_background: var(--sapField_Hover_Background);
	--_ui5_textarea_focused_value_state_success_background: var(--sapField_Hover_Background);
	--_ui5_textarea_focused_value_state_information_background: var(--sapField_Hover_Background);
	--_ui5_textarea_focused_value_state_error_focus_outline_color: var(--sapField_InvalidColor);
	--_ui5_textarea_focused_value_state_warning_focus_outline_color: var(--sapField_WarningColor);
	--_ui5_textarea_focused_value_state_success_focus_outline_color: var(--sapField_SuccessColor);
	--_ui5_textarea_focus_offset: 0;
	--_ui5_textarea_readonly_focus_offset: 1px;
	--_ui5_textarea_focus_outline_color: var(--sapField_Active_BorderColor);
	--_ui5_textarea_value_state_focus_offset: 0;
	--_ui5_textarea_padding_top: 0.5rem;
	--_ui5_textarea_padding_bottom: 0.4375rem;
	--_ui5_textarea_padding_bottom_readonly: 0.375rem;
	--_ui5_textarea_padding_top_error_warning: 0.5rem;
	--_ui5_textarea_padding_bottom_error_warning: 0.4375rem;
	--_ui5_textarea_padding_top_information: 0.5rem;
	--_ui5_textarea_padding_bottom_information: 0.4375rem;
	--_ui5_textarea_padding_right_and_left: 0.625rem;
	--_ui5_textarea_padding_right_and_left_error_warning: 0.625rem;
	--_ui5_textarea_padding_right_and_left_information: 0.625rem;
	--_ui5_textarea_readonly_border_style: dashed;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_textarea_padding_top: 0.1875rem;
	--_ui5_textarea_padding_bottom: 0.125rem;
	--_ui5_textarea_padding_bottom_readonly: 0.0625rem;
	--_ui5_textarea_padding_top_error_warning: 0.1875rem;
	--_ui5_textarea_padding_bottom_error_warning: 0.125rem;
	--_ui5_textarea_padding_top_information: 0.1875rem;
	--_ui5_textarea_padding_bottom_information: 0.125rem;
	--_ui5_textarea_padding_right_and_left: 0.5rem;
	--_ui5_textarea_padding_right_and_left_error_warning: 0.5rem;
	--_ui5_textarea_padding_right_and_left_information: 0.5rem;
}