@import "../base/ValueStateMessage-parameters.css";

:root {
	--_ui5_value_state_message_focus_border_radius: var(--sapElement_BorderCornerRadius) var(--sapElement_BorderCornerRadius) 0 0;
	--_ui5_input_value_state_icon_display: inline-block;
	--_ui5_value_state_message_padding: 0.5rem 0.5rem 0.5rem 1.875rem;
	--_ui5_value_state_header_padding: .5625rem 1rem .5625rem 2.375rem;
}