.demo-apps {
  margin-top: 5rem;
  white-space: nowrap;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.demo-apps__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo-apps__title {
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 1rem;
  text-wrap: wrap;
}

.demo-apps__desc {
  font-size: 1.25rem;
  margin-bottom: 4rem;
  text-wrap: wrap;
  text-align: center;
  width: 50%;
}

.demo-apps__frameworks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 6rem;
  margin: 0 5rem;
}

.demo-apps__framework {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.demo-apps__framework:last-child {
  margin-inline-end: 0;
  margin-bottom:  10rem;
}

.demo-apps__logo {
  width:  5.625rem;
  height:  5.625rem;
  margin-bottom: 1.125rem;
}

.demo-apps__link {
  color: #3584BE;
  text-align: center;
  font-size: 0.875rem;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.demo-apps__link:last-child {
  margin-bottom: 0;
}

@media (max-width: 900px) {
  .demo-apps__frameworks {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .demo-apps__frameworks {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .demo-apps {
    justify-content: center;
    align-items: start;
    flex-direction: row;
  }

  .demo-apps__frameworks {
    width: 60%;
  }

  .demo-apps__desc {
    width: 100%;
  }
}
