@import "global-parameters.less";

:root {











































































































































  --sapUiFontCondensedFamily: @sapUiFontCondensedFamily;
  --sapUiFontHeaderFamily: @sapUiFontHeaderFamily;
  --sapUiFontHeaderWeight: @sapUiFontHeaderWeight;
  --sapMFontHeader1Size: @sapMFontHeader1Size;
  --sapMFontHeader2Size: @sapMFontHeader2Size;
  --sapMFontHeader3Size: @sapMFontHeader3Size;
  --sapMFontHeader4Size: @sapMFontHeader4Size;
  --sapMFontHeader5Size: @sapMFontHeader5Size;
  --sapMFontHeader6Size: @sapMFontHeader6Size;
  --sapMFontSmallSize: @sapMFontSmallSize;
  --sapMFontMediumSize: @sapMFontMediumSize;
  --sapMFontLargeSize: @sapMFontLargeSize;
  --sapUiTranslucentBGOpacity: @sapUiTranslucentBGOpacity;
  --sapMPlatformDependent: @sapMPlatformDependent;
  --sapUiDesktopFontFamily: @sapUiDesktopFontFamily;
  --sapUiDesktopFontSize: @sapUiDesktopFontSize;
  --sapUiFontLargeSize: @sapUiFontLargeSize;
  --sapUiFontSmallSize: @sapUiFontSmallSize;
  --sapUiFontHeader1Size: @sapUiFontHeader1Size;
  --sapUiFontHeader2Size: @sapUiFontHeader2Size;
  --sapUiFontHeader3Size: @sapUiFontHeader3Size;
  --sapUiFontHeader4Size: @sapUiFontHeader4Size;
  --sapUiFontHeader5Size: @sapUiFontHeader5Size;
  --sapUiFontHeader6Size: @sapUiFontHeader6Size;
  --sapUiLineHeight: @sapUiLineHeight;





  --sapUiButtonActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
  --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;
  --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;
  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
  --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;
  --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;
  --sapUiButtonLiteBackground: @sapUiButtonLiteBackground;
  --sapUiButtonLiteBorderColor: @sapUiButtonLiteBorderColor;
  --sapUiButtonLiteTextColor: @sapUiButtonLiteTextColor;
  --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiButtonLiteHoverBorderColor: @sapUiButtonLiteHoverBorderColor;

  --sapUiButtonLiteActiveBorderColor: @sapUiButtonLiteActiveBorderColor;
  --sapUiButtonHeaderTextColor: @sapUiButtonHeaderTextColor;
  --sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderDisabledTextColor;
  --sapUiButtonFooterHoverBackground: @sapUiButtonFooterHoverBackground;
  --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
  --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
  --sapUiSegmentedButtonBackground: @sapUiSegmentedButtonBackground;
  --sapUiSegmentedButtonBorderColor: @sapUiSegmentedButtonBorderColor;
  --sapUiSegmentedButtonHoverBackground: @sapUiSegmentedButtonHoverBackground;
  --sapUiSegmentedButtonActiveBackground: @sapUiSegmentedButtonActiveBackground;
  --sapUiSegmentedButtonSelectedBackground: @sapUiSegmentedButtonSelectedBackground;
  --sapUiSegmentedButtonSelectedTextColor: @sapUiSegmentedButtonSelectedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiSegmentedButtonSelectedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiSegmentedButtonSelectedHoverBorderColor;
  --sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonFooterBorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonFooterHoverBackground;
  --sapUiFieldActiveBackground: @sapUiFieldActiveBackground;

  --sapUiFieldActiveTextColor: @sapUiFieldActiveTextColor;
  --sapUiListTextColor: @sapUiListTextColor;
  --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;
  --sapUiListActiveBackground: @sapUiListActiveBackground;
  --sapUiListFooterTextColor: @sapUiListFooterTextColor;
  --sapUiListGroupHeaderBackground: @sapUiListGroupHeaderBackground;
  --sapUiListTableFooterBorder: @sapUiListTableFooterBorder;
  --sapUiListTableTextSize: @sapUiListTableTextSize;
  --sapUiListTableIconSize: @sapUiListTableIconSize;
  --sapUiInfobarActiveBackground: @sapUiInfobarActiveBackground;
  --sapUiCalendarColorToday: @sapUiCalendarColorToday;
  --sapUiDragAndDropColor: @sapUiDragAndDropColor;

  --sapUiDragAndDropBorderColor: @sapUiDragAndDropBorderColor;
  --sapUiDragAndDropActiveColor: @sapUiDragAndDropActiveColor;
  --sapUiDragAndDropActiveBorderColor: @sapUiDragAndDropActiveBorderColor;
  --sapUiShadowText: @sapUiShadowText;




  --sapUiNotifierSeparator: @sapUiNotifierSeparator;
  --sapUiNotificationBarBorder: @sapUiNotificationBarBorder;

  --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
  --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
  --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
  --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
  --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
  --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiToggleButtonPressedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiListSelectionHoverBackground: @sapUiListSelectionHoverBackground;

  // used in Token-parameters.css
  --sapUiButtonBackgroundDarken24: @sapUiButtonBackgroundDarken24;
  --sapUiButtonHoverBorderColorLighten30: @sapUiButtonHoverBorderColorLighten30;

  // used sapUiShadowLevel (0 to 3)
  --sapUiContentShadowColorFade10: @sapUiContentShadowColorFade10;
  --sapUiContentShadowColorFade15: @sapUiContentShadowColorFade15;
  --sapUiContentShadowColorFade30: @sapUiContentShadowColorFade30;

  --sapUiShadowHeader: @sapUiShadowHeader;

  --sapUiShadowLevel0: @sapUiShadowLevel0;

  --sapUiShadowLevel1: @sapUiShadowLevel1;

  --sapUiShadowLevel2: @sapUiShadowLevel2;

  --sapUiShadowLevel3: @sapUiShadowLevel3;

  --sapUiCalloutShadow: @sapUiCalloutShadow;

}
