@import "base-parameters.less";

@sapUiButtonEmphasizedActiveBorderColor: @sapButton_Emphasized_Active_Background;
@sapUiToggleButtonPressedBackground: @sapSelectedColor;
@sapUiToggleButtonPressedBorderColor: @sapSelectedColor;
@sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBackground;
@sapUiToggleButtonPressedTextColor: contrast(@sapSelectedColor, @sapButton_TextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);
@sapUiToggleButtonPressedHoverBackground: lighten(@sapSelectedColor, 3);