@import "base-parameters.less";

@sapUiBrand: @sapBrandColor;
@sapUiHighlight: @sapHighlightColor;
@sapUiBaseColor: @sapBaseColor;
@sapUiShellColor: @sapShellColor;
@sapUiBaseBG: @sapBackgroundColor;
@sapUiGlobalBackgroundColor: @sapBackgroundColor;
@sapUiFontFamily: @sapFontFamily;
@sapUiFontSize: 16px;
@sapUiBaseText: @sapTextColor;
@sapUiLink: @sapLinkColor;
@sapUiGlobalLogo: @sapCompanyLogo;
@sapUiGlobalBackgroundImage: @sapBackgroundImage;
@sapUiBackgroundImage: @sapBackgroundImage;
@sapUiGlobalBackgroundImageOpacity: @sapBackgroundImageOpacity;
@sapUiSelected: @sapSelectedColor;
@sapUiActive: @sapActiveColor;
@sapUiHighlightTextColor: @sapHighlightTextColor;
@sapUiTextTitle: @sapTitleColor;
@sapUiElementLineHeight: @sapElement_LineHeight;
@sapUiElementHeight: @sapElement_Height;
@sapUiElementBorderWidth: @sapElement_BorderWidth;
@sapUiContentLineHeight: @sapContent_LineHeight;
@sapUiContentElementHeight: @sapContent_ElementHeight;
@sapUiContentElementHeightPX: @sapContent_ElementHeight_PX;
@sapUiContentIconHeight: @sapContent_IconHeight;
@sapUiContentIconColor: @sapContent_IconColor;
@sapUiContentContrastIconColor: @sapContent_ContrastIconColor;
@sapUiContentNonInteractiveIconColor: @sapContent_NonInteractiveIconColor;
@sapUiContentMarkerIconColor: @sapContent_MarkerIconColor;
@sapUiContentMarkerTextColor: @sapContent_MarkerTextColor;
@sapUiContentImagePlaceholderBackground: @sapContent_ImagePlaceholderBackground;
@sapUiContentImagePlaceholderForegroundColor: @sapContent_ImagePlaceholderForegroundColor;
@sapUiContentFocusColor: @sapContent_FocusColor;
@sapUiContentContrastFocusColor: @sapContent_ContrastFocusColor;
@sapUiContentShadowColor: @sapContent_ShadowColor;
@sapUiContentContrastShadowColor: @sapContent_ContrastShadowColor;
@sapUiContentSearchHighlightColor: @sapContent_SearchHighlightColor;
@sapUiContentHelpColor: @sapContent_HelpColor;
@sapUiContentLabelColor: @sapContent_LabelColor;
@sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
@sapUiContentDisabledOpacity: @sapContent_DisabledOpacity;
@sapUiContentContrastTextThreshold: @sapContent_ContrastTextThreshold;
@sapUiContentContrastTextColor: @sapContent_ContrastTextColor;
@sapUiContentForegroundColor: @sapContent_ForegroundColor;
@sapUiContentForegroundBorderColor: @sapContent_ForegroundBorderColor;
@sapUiContentForegroundTextColor: @sapContent_ForegroundTextColor;
@sapUiContentBadgeBackground: @sapContent_BadgeBackground;
@sapUiShellBackground: @sapShell_Background;
@sapUiShellHoverBackground: @sapShell_Hover_Background;
@sapUiShellActiveBackground: @sapShell_Active_Background;
@sapUiShellActiveTextColor: @sapShell_Active_TextColor;
@sapUiShellBackgroundImage: @sapShell_BackgroundImage;
@sapUiShellBackgroundImageOpacity: @sapShell_BackgroundImageOpacity;
@sapUiShellBackgroundImageRepeat: @sapShell_BackgroundImageRepeat;
@sapUiShellBackgroundPatternColor: @sapShell_BackgroundPatternColor;
@sapUiShellBorderColor: @sapShell_BorderColor;
@sapUiShellTextColor: @sapShell_TextColor;
@sapUiShellInteractiveTextColor: @sapShell_InteractiveTextColor;
@sapUiShellFavicon: @sapShell_Favicon;
@sapUiButtonBorderWidth: @sapButton_BorderWidth;
@sapUiButtonBorderCornerRadius: @sapButton_BorderCornerRadius;
@sapUiButtonBackground: @sapButton_Background;
@sapUiButtonBorderColor: @sapButton_BorderColor;
@sapUiButtonTextColor: @sapButton_TextColor;
@sapUiButtonIconColor: @sapButton_IconColor;
@sapUiButtonHoverBackground: @sapButton_Hover_Background;
@sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonActiveTextColor: @sapButton_Active_TextColor;
@sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
@sapUiButtonEmphasizedHoverBackground: @sapButton_Emphasized_Hover_Background;
@sapUiButtonEmphasizedActiveBackground: @sapButton_Emphasized_Active_Background;
@sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
@sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
@sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
@sapUiButtonRejectBackground: @sapButton_Reject_Background;
@sapUiButtonAcceptBackground: @sapButton_Accept_Background;
@sapUiButtonAcceptActiveBackground: @sapButton_Accept_Active_Background;
@sapUiButtonRejectTextColor: @sapButton_Reject_TextColor;
@sapUiButtonAcceptTextColor: @sapButton_Accept_TextColor;
@sapUiButtonRejectActiveBackground: @sapButton_Reject_Active_Background;
@sapUiFieldPlaceholderTextColor: @sapField_PlaceholderTextColor;
@sapUiFieldBorderWidth: @sapField_BorderWidth;
@sapUiFieldBorderCornerRadius: @sapField_BorderCornerRadius;
@sapUiFieldBackground: @sapField_Background;
@sapUiFieldBorderColor: @sapField_BorderColor;
@sapUiFieldTextColor: @sapField_TextColor;
@sapUiFieldHelpBackground: @sapField_HelpBackground;
@sapUiFieldHoverBackground: @sapField_Hover_Background;
@sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
@sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
@sapUiFieldFocusBackground: @sapField_Focus_Background;
@sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
@sapUiFieldFocusHelpBackground: @sapField_Focus_HelpBackground;
@sapUiFieldReadOnlyBackground: @sapField_ReadOnly_Background;
@sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
@sapUiFieldReadOnlyHelpBackground: @sapField_ReadOnly_HelpBackground;
@sapUiFieldRequiredColor: @sapField_RequiredColor;
@sapUiFieldInvalidColor: @sapField_InvalidColor;
@sapUiFieldInvalidBackground: @sapField_InvalidBackground;
@sapUiFieldWarningColor: @sapField_WarningColor;
@sapUiFieldWarningBackground: @sapField_WarningBackground;
@sapUiFieldSuccessColor: @sapField_SuccessColor;
@sapUiFieldSuccessBackground: @sapField_SuccessBackground;
@sapUiGroupTitleBackground: @sapGroup_TitleBackground;
@sapUiGroupTitleBorderColor: @sapGroup_TitleBorderColor;
@sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;
@sapUiGroupContentBackground: @sapGroup_ContentBackground;
@sapUiGroupContentBorderColor: @sapGroup_ContentBorderColor;
@sapUiGroupBorderWidth: @sapGroup_BorderWidth;
@sapUiGroupFooterBackground: @sapGroup_FooterBackground;
@sapUiToolbarBackground: @sapToolbar_Background;
@sapUiToolbarSeparatorColor: @sapToolbar_SeparatorColor;
@sapUiListHeaderBackground: @sapList_HeaderBackground;
@sapUiListHeaderBorderColor: @sapList_HeaderBorderColor;
@sapUiListHeaderTextColor: @sapList_HeaderTextColor;
@sapUiListActiveTextColor: @sapList_Active_TextColor;
@sapUiListFooterBackground: @sapList_FooterBackground;
@sapUiListTableGroupHeaderBackground: @sapList_TableGroupHeaderBackground;
@sapUiListTableGroupHeaderBorderColor: @sapList_TableGroupHeaderBorderColor;
@sapUiListTableGroupHeaderTextColor: @sapList_TableGroupHeaderTextColor;
@sapUiListBorderColor: @sapList_BorderColor;
@sapUiListBorderWidth: @sapList_BorderWidth;
@sapUiListHighlightColor: @sapList_HighlightColor;
@sapUiListSelectionBackgroundColor: @sapList_SelectionBackgroundColor;
@sapUiListBackground: @sapList_Background;
@sapUiListHoverBackground: @sapList_Hover_Background;
@sapUiScrollBarFaceColor: @sapScrollBar_FaceColor;
@sapUiScrollBarTrackColor: @sapScrollBar_TrackColor;
@sapUiScrollBarBorderColor: @sapScrollBar_BorderColor;
@sapUiScrollBarSymbolColor: @sapScrollBar_SymbolColor;
@sapUiScrollBarDimension: @sapScrollBar_Dimension;
@sapUiScrollBarHoverFaceColor: @sapScrollBar_Hover_FaceColor;
@sapUiPageHeaderBackground: @sapPageHeader_Background;
@sapUiPageHeaderBorderColor: @sapPageHeader_BorderColor;
@sapUiPageHeaderTextColor: @sapPageHeader_TextColor;
@sapUiPageFooterBackground: @sapPageFooter_Background;
@sapUiPageFooterTextColor: @sapPageFooter_TextColor;
@sapUiPageFooterBorderColor: @sapPageFooter_BorderColor;
@sapUiInfobarBackground: @sapInfobar_Background;
@sapUiInfobarHoverBackground: @sapInfobar_Hover_Background;
@sapUiObjectHeaderBorderColor: @sapObjectHeader_BorderColor;
@sapUiObjectHeaderBackground: @sapObjectHeader_Background;
@sapUiBlockLayerBackground: @sapBlockLayer_Background;
@sapUiTileBackground: @sapTile_Background;
@sapUiTileBorderColor: @sapTile_BorderColor;
@sapUiTileTitleTextColor: @sapTile_TitleTextColor;
@sapUiTileTextColor: @sapTile_TextColor;
@sapUiTileIconColor: @sapTile_IconColor;
@sapUiContentGridSize: @sapContent_GridSize;
@sapUiPrimary1: @sapPrimary1;
@sapUiPrimary2: @sapPrimary2;
@sapUiPrimary3: @sapPrimary3;
@sapUiPrimary4: @sapPrimary4;
@sapUiPrimary5: @sapPrimary5;
@sapUiPrimary6: @sapPrimary6;
@sapUiPrimary7: @sapPrimary7;
@sapUiAccent1: @sapAccentColor1;
@sapUiAccent2: @sapAccentColor2;
@sapUiAccent3: @sapAccentColor3;
@sapUiAccent4: @sapAccentColor4;
@sapUiAccent5: @sapAccentColor5;
@sapUiAccent6: @sapAccentColor6;
@sapUiAccent7: @sapAccentColor7;
@sapUiAccent8: @sapAccentColor8;
@sapUiAccent9: @sapAccentColor9;
@sapUiAccent10: @sapAccentColor10;
@sapUiErrorBG: @sapErrorBackground;
@sapUiWarningBG: @sapWarningBackground;
@sapUiSuccessBG: @sapSuccessBackground;
@sapUiInformationBG: @sapInformationBackground;
@sapUiNeutralBG: @sapNeutralBackground;
@sapUiErrorBorder: @sapErrorBorderColor;
@sapUiWarningBorder: @sapWarningBorderColor;
@sapUiSuccessBorder: @sapSuccessBorderColor;
@sapUiInformationBorder: @sapInformationBorderColor;
@sapUiNeutralBorder: @sapNeutralColor;
@sapUiNegativeElement: @sapNegativeElementColor;
@sapUiCriticalElement: @sapCriticalElementColor;
@sapUiPositiveElement: @sapPositiveElementColor;
@sapUiInformativeElement: @sapInformativeElementColor;
@sapUiNeutralElement: @sapNeutralElementColor;
@sapUiNegativeText: @sapNegativeTextColor;
@sapUiCriticalText: @sapCriticalTextColor;
@sapUiPositiveText: @sapPositiveTextColor;
@sapUiInformativeText: @sapInformativeTextColor;
@sapUiNeutralText: @sapNeutralTextColor;
@sapUiNegative: @sapNegativeColor;
@sapUiCritical: @sapCriticalColor;
@sapUiPositive: @sapPositiveColor;
@sapUiInformative: @sapInformativeColor;
@sapUiNeutral: @sapNeutralColor;
@sapUiIndication1: @sapIndicationColor_1;
@sapUiIndication2: @sapIndicationColor_2;
@sapUiIndication3: @sapIndicationColor_3;
@sapUiIndication4: @sapIndicationColor_4;
@sapUiIndication5: @sapIndicationColor_5;
@sapUiFontCondensedFamily: "72 Condensed", 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
@sapUiFontHeaderFamily: @sapUiFontFamily;
@sapUiFontHeaderWeight: normal;
@sapMFontHeader1Size: 2.25rem;
@sapMFontHeader2Size: 1.5rem;
@sapMFontHeader3Size: 1.250rem;
@sapMFontHeader4Size: 1.125rem;
@sapMFontHeader5Size: 1rem;
@sapMFontHeader6Size: 0.875rem;
@sapMFontSmallSize: 0.75rem;
@sapMFontMediumSize: 0.875rem;
@sapMFontLargeSize: 1rem;
@sapUiTranslucentBGOpacity: 0;
@sapMPlatformDependent: false;
@sapUiDesktopFontFamily: @sapUiFontFamily;
@sapUiDesktopFontSize: 12px;
@sapUiFontLargeSize: 13px;
@sapUiFontSmallSize: 11px;
@sapUiFontHeader1Size: 26px;
@sapUiFontHeader2Size: 20px;
@sapUiFontHeader3Size: 18px;
@sapUiFontHeader4Size: 16px;
@sapUiFontHeader5Size: 14px;
@sapUiFontHeader6Size: @sapUiFontLargeSize;
@sapUiLineHeight: 18px;
@sapUiShellContainerBackground: @sapUiGroupContentBackground;
@sapUiShellAltContainerBackground: @sapUiShellContainerBackground;
@sapUiShellGroupTextColor: @sapUiTextTitle;
@sapUiLinkActive: @sapUiLink;
@sapUiLinkVisited: @sapUiLink;
@sapUiButtonActiveBackground: @sapUiActive;
@sapUiButtonActiveBorderColor: @sapUiButtonActiveBackground;
@sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBackground;
@sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBackground;
@sapUiButtonEmphasizedTextShadow: transparent;
@sapUiButtonAcceptBorderColor: @sapUiPositiveElement;
@sapUiButtonAcceptHoverBackground: @sapUiSuccessBG;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBackground;
@sapUiButtonRejectBorderColor: @sapUiNegativeElement;
@sapUiButtonRejectHoverBackground: @sapUiErrorBG;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBackground;
@sapUiButtonLiteBackground: transparent;
@sapUiButtonLiteBorderColor: transparent;
@sapUiButtonLiteTextColor: @sapUiButtonTextColor;
@sapUiButtonLiteHoverBackground: @sapUiButtonHoverBackground;
@sapUiButtonLiteHoverBorderColor: @sapUiButtonLiteHoverBackground;
@sapUiButtonLiteActiveBackground: @sapUiButtonActiveBackground;
@sapUiButtonLiteActiveBorderColor: @sapUiButtonLiteActiveBackground;
@sapUiButtonHeaderTextColor: @sapUiButtonTextColor;
@sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderTextColor;
@sapUiButtonFooterHoverBackground: @sapUiButtonLiteHoverBackground;
@sapUiButtonActionSelectBackground: @sapUiListBackground;
@sapUiButtonActionSelectBorderColor: @sapUiListBorderColor;
@sapUiButtonLiteActionSelectHoverBackground: @sapUiListHoverBackground;
@sapUiToggleButtonPressedBackground: @sapUiSelected;
@sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBackground;
@sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBackground;
@sapUiSegmentedButtonBackground: @sapUiButtonBackground;
@sapUiSegmentedButtonBorderColor: @sapUiButtonBorderColor;
@sapUiSegmentedButtonHoverBackground: @sapUiButtonHoverBackground;
@sapUiSegmentedButtonActiveBackground: @sapUiButtonActiveBackground;
@sapUiSegmentedButtonSelectedBackground: @sapUiToggleButtonPressedBackground;
@sapUiSegmentedButtonSelectedTextColor: @sapUiToggleButtonPressedTextColor;
@sapUiSegmentedButtonSelectedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
@sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
@sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonBorderColor;
@sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonHoverBackground;
@sapUiFieldActiveBackground: @sapUiActive;
@sapUiFieldActiveBorderColor: @sapUiActive;
@sapUiFieldActiveTextColor: @sapUiContentContrastTextColor;
@sapUiListTextColor: @sapUiBaseText;
@sapUiListVerticalBorderColor: @sapUiListBorderColor;
@sapUiListActiveBackground: @sapUiListHighlightColor;
@sapUiListFooterTextColor: @sapUiListTextColor;
@sapUiListGroupHeaderBackground: @sapUiListBackground;
@sapUiListTableFooterBorder: @sapUiListBorderColor;
@sapUiListTableTextSize: 0.875rem;
@sapUiListTableIconSize: 1rem;
@sapUiInfobarActiveBackground: @sapUiListActiveBackground;
@sapUiCalendarColorToday: @sapUiAccent4;
@sapUiDragAndDropColor: @sapUiContentNonInteractiveIconColor;
@sapUiDragAndDropBackground: @sapUiGroupContentBackground;
@sapUiDragAndDropBorderColor: @sapUiContentForegroundBorderColor;
@sapUiDragAndDropActiveColor: @sapUiLink;
@sapUiDragAndDropActiveBorderColor: @sapUiLink;
@sapUiShadowText: 0 0 0.125rem @sapUiContentContrastShadowColor;

@sapUiLinkHover: darken(@sapUiLink, 10);
@sapUiLinkInverted: lighten(@sapUiLink, 48);
@sapUiNotificationBarBG: fade(@sapUiPrimary7, 98);
@sapUiNotifierSeparator: darken(@sapUiPrimary7, 20);
@sapUiNotificationBarBorder: lighten(@sapUiPrimary7, 20);

@sapUiButtonFooterTextColor: contrast(@sapUiPageFooterBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonIconColor: contrast(@sapUiSegmentedButtonBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonActiveIconColor: contrast(@sapUiSegmentedButtonActiveBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonSelectedIconColor: contrast(@sapUiSegmentedButtonSelectedBackground, @sapUiContentIconColor, @sapUiContentContrastIconColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonTextColor: contrast(@sapUiSegmentedButtonBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiSegmentedButtonActiveTextColor: contrast(@sapUiSegmentedButtonActiveBackground, @sapUiSegmentedButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiToggleButtonPressedTextColor: contrast(@sapUiToggleButtonPressedBackground, @sapUiButtonTextColor, @sapUiContentContrastTextColor, @sapUiContentContrastTextThreshold);
@sapUiToggleButtonPressedHoverBackground: lighten(@sapUiToggleButtonPressedBackground, 3);
@sapUiListSelectionHoverBackground: contrast(@sapUiListSelectionBackgroundColor, darken(@sapUiListSelectionBackgroundColor, 3), lighten(@sapUiListSelectionBackgroundColor, 3));

// used in Token-parameters.css
@sapUiButtonBackgroundDarken24: darken(@sapUiButtonBackground, 24);
@sapUiButtonHoverBorderColorLighten30: lighten(@sapUiButtonHoverBorderColor, 30);

// used sapUiShadowLevel (0 to 3)
@sapUiContentShadowColorFade10: fade(@sapUiContentShadowColor, 10);
@sapUiContentShadowColorFade15: fade(@sapUiContentShadowColor, 15);
@sapUiContentShadowColorFade30: fade(@sapUiContentShadowColor, 30);

@sapUiShadowHeader: 0 0 0.25rem 0 @sapUiContentShadowColorFade15, inset 0 -0.0625rem 0 0 @sapUiObjectHeaderBorderColor;

@sapUiShadowLevel0: 0 0 0 1px @sapUiContentShadowColorFade10, 0 0.125rem 0.5rem 0 @sapUiContentShadowColorFade10;

@sapUiShadowLevel1: 0 0 0 1px @sapUiContentShadowColorFade15, 0 0.125rem 0.5rem 0 @sapUiContentShadowColorFade30;

@sapUiShadowLevel2: 0 0 0 1px @sapUiContentShadowColorFade15, 0 0.625rem 1.875rem 0 @sapUiContentShadowColorFade30;

@sapUiShadowLevel3: 0 0 0 1px @sapUiContentShadowColorFade15, 0 1.25rem 5rem 0 @sapUiContentShadowColorFade30;

@sapUiCalloutShadow: 0px 6px 12px 0px @sapUiContentShadowColorFade30;
