@import "global-parameters.less";

:root {
  --sapUiBrand: @sapUiBrand;
  --sapUiHighlight: @sapUiHighlight;
  --sapUiBaseColor: @sapUiBaseColor;
  --sapUiShellColor: @sapUiShellColor;
  --sapUiBaseBG: @sapUiBaseBG;
  --sapUiGlobalBackgroundColor: @sapUiGlobalBackgroundColor;
  --sapUiFontFamily: @sapUiFontFamily;
  --sapUiFontSize: @sapUiFontSize;
  --sapUiBaseText: @sapUiBaseText;
  --sapUiLink: @sapUiLink;
  --sapUiGlobalLogo: @sapUiGlobalLogo;
  --sapUiGlobalBackgroundImage: @sapUiGlobalBackgroundImage;
  --sapUiBackgroundImage: @sapUiBackgroundImage;
  --sapUiGlobalBackgroundImageOpacity: @sapUiGlobalBackgroundImageOpacity;
  --sapUiSelected: @sapUiSelected;
  --sapUiActive: @sapUiActive;
  --sapUiHighlightTextColor: @sapUiHighlightTextColor;
  --sapUiTextTitle: @sapUiTextTitle;
  --sapUiElementLineHeight: @sapUiElementLineHeight;
  --sapUiElementHeight: @sapUiElementHeight;
  --sapUiElementBorderWidth: @sapUiElementBorderWidth;
  --sapUiContentLineHeight: @sapUiContentLineHeight;
  --sapUiContentElementHeight: @sapUiContentElementHeight;
  --sapUiContentElementHeightPX: @sapUiContentElementHeightPX;
  --sapUiContentIconHeight: @sapUiContentIconHeight;
  --sapUiContentIconColor: @sapUiContentIconColor;
  --sapUiContentContrastIconColor: @sapUiContentContrastIconColor;
  --sapUiContentNonInteractiveIconColor: @sapUiContentNonInteractiveIconColor;
  --sapUiContentMarkerIconColor: @sapUiContentMarkerIconColor;
  --sapUiContentMarkerTextColor: @sapUiContentMarkerTextColor;
  --sapUiContentImagePlaceholderBackground: @sapUiContentImagePlaceholderBackground;
  --sapUiContentImagePlaceholderForegroundColor: @sapUiContentImagePlaceholderForegroundColor;
  --sapUiContentFocusColor: @sapUiContentFocusColor;
  --sapUiContentContrastFocusColor: @sapUiContentContrastFocusColor;
  --sapUiContentShadowColor: @sapUiContentShadowColor;
  --sapUiContentContrastShadowColor: @sapUiContentContrastShadowColor;
  --sapUiContentSearchHighlightColor: @sapUiContentSearchHighlightColor;
  --sapUiContentHelpColor: @sapUiContentHelpColor;
  --sapUiContentLabelColor: @sapUiContentLabelColor;
  --sapUiContentDisabledTextColor: @sapUiContentDisabledTextColor;
  --sapUiContentDisabledOpacity: @sapUiContentDisabledOpacity;
  --sapUiContentContrastTextThreshold: @sapUiContentContrastTextThreshold;
  --sapUiContentContrastTextColor: @sapUiContentContrastTextColor;
  --sapUiContentForegroundColor: @sapUiContentForegroundColor;
  --sapUiContentForegroundBorderColor: @sapUiContentForegroundBorderColor;
  --sapUiContentForegroundTextColor: @sapUiContentForegroundTextColor;
  --sapUiContentBadgeBackground: @sapUiContentBadgeBackground;
  --sapUiShellBackground: @sapUiShellBackground;
  --sapUiShellHoverBackground: @sapUiShellHoverBackground;
  --sapUiShellActiveBackground: @sapUiShellActiveBackground;
  --sapUiShellActiveTextColor: @sapUiShellActiveTextColor;
  --sapUiShellBackgroundImage: @sapUiShellBackgroundImage;
  --sapUiShellBackgroundImageOpacity: @sapUiShellBackgroundImageOpacity;
  --sapUiShellBackgroundImageRepeat: @sapUiShellBackgroundImageRepeat;
  --sapUiShellBackgroundPatternColor: @sapUiShellBackgroundPatternColor;
  --sapUiShellBorderColor: @sapUiShellBorderColor;
  --sapUiShellTextColor: @sapUiShellTextColor;
  --sapUiShellInteractiveTextColor: @sapUiShellInteractiveTextColor;
  --sapUiShellFavicon: @sapUiShellFavicon;
  --sapUiButtonBorderWidth: @sapUiButtonBorderWidth;
  --sapUiButtonBorderCornerRadius: @sapUiButtonBorderCornerRadius;
  --sapUiButtonBackground: @sapUiButtonBackground;
  --sapUiButtonBorderColor: @sapUiButtonBorderColor;
  --sapUiButtonTextColor: @sapUiButtonTextColor;
  --sapUiButtonIconColor: @sapUiButtonIconColor;
  --sapUiButtonHoverBackground: @sapUiButtonHoverBackground;
  --sapUiButtonHoverBorderColor: @sapUiButtonHoverBorderColor;
  --sapUiButtonActiveTextColor: @sapUiButtonActiveTextColor;
  --sapUiButtonHoverTextColor: @sapUiButtonHoverTextColor;
  --sapUiButtonEmphasizedHoverBackground: @sapUiButtonEmphasizedHoverBackground;
  --sapUiButtonEmphasizedActiveBackground: @sapUiButtonEmphasizedActiveBackground;
  --sapUiButtonEmphasizedBackground: @sapUiButtonEmphasizedBackground;
  --sapUiButtonEmphasizedBorderColor: @sapUiButtonEmphasizedBorderColor;
  --sapUiButtonEmphasizedTextColor: @sapUiButtonEmphasizedTextColor;
  --sapUiButtonRejectBackground: @sapUiButtonRejectBackground;
  --sapUiButtonAcceptBackground: @sapUiButtonAcceptBackground;
  --sapUiButtonAcceptActiveBackground: @sapUiButtonAcceptActiveBackground;
  --sapUiButtonRejectTextColor: @sapUiButtonRejectTextColor;
  --sapUiButtonAcceptTextColor: @sapUiButtonAcceptTextColor;
  --sapUiButtonRejectActiveBackground: @sapUiButtonRejectActiveBackground;
  --sapUiFieldPlaceholderTextColor: @sapUiFieldPlaceholderTextColor;
  --sapUiFieldBorderWidth: @sapUiFieldBorderWidth;
  --sapUiFieldBorderCornerRadius: @sapUiFieldBorderCornerRadius;
  --sapUiFieldBackground: @sapUiFieldBackground;
  --sapUiFieldBorderColor: @sapUiFieldBorderColor;
  --sapUiFieldTextColor: @sapUiFieldTextColor;
  --sapUiFieldHelpBackground: @sapUiFieldHelpBackground;
  --sapUiFieldHoverBackground: @sapUiFieldHoverBackground;
  --sapUiFieldHoverBorderColor: @sapUiFieldHoverBorderColor;
  --sapUiFieldHoverHelpBackground: @sapUiFieldHoverHelpBackground;
  --sapUiFieldFocusBackground: @sapUiFieldFocusBackground;
  --sapUiFieldFocusBorderColor: @sapUiFieldFocusBorderColor;
  --sapUiFieldFocusHelpBackground: @sapUiFieldFocusHelpBackground;
  --sapUiFieldReadOnlyBackground: @sapUiFieldReadOnlyBackground;
  --sapUiFieldReadOnlyBorderColor: @sapUiFieldReadOnlyBorderColor;
  --sapUiFieldReadOnlyHelpBackground: @sapUiFieldReadOnlyHelpBackground;
  --sapUiFieldRequiredColor: @sapUiFieldRequiredColor;
  --sapUiFieldInvalidColor: @sapUiFieldInvalidColor;
  --sapUiFieldInvalidBackground: @sapUiFieldInvalidBackground;
  --sapUiFieldWarningColor: @sapUiFieldWarningColor;
  --sapUiFieldWarningBackground: @sapUiFieldWarningBackground;
  --sapUiFieldSuccessColor: @sapUiFieldSuccessColor;
  --sapUiFieldSuccessBackground: @sapUiFieldSuccessBackground;
  --sapUiGroupTitleBackground: @sapUiGroupTitleBackground;
  --sapUiGroupTitleBorderColor: @sapUiGroupTitleBorderColor;
  --sapUiGroupTitleTextColor: @sapUiGroupTitleTextColor;
  --sapUiGroupContentBackground: @sapUiGroupContentBackground;
  --sapUiGroupContentBorderColor: @sapUiGroupContentBorderColor;
  --sapUiGroupBorderWidth: @sapUiGroupBorderWidth;
  --sapUiGroupFooterBackground: @sapUiGroupFooterBackground;
  --sapUiToolbarBackground: @sapUiToolbarBackground;
  --sapUiToolbarSeparatorColor: @sapUiToolbarSeparatorColor;
  --sapUiListHeaderBackground: @sapUiListHeaderBackground;
  --sapUiListHeaderBorderColor: @sapUiListHeaderBorderColor;
  --sapUiListHeaderTextColor: @sapUiListHeaderTextColor;
  --sapUiListActiveTextColor: @sapUiListActiveTextColor;
  --sapUiListFooterBackground: @sapUiListFooterBackground;
  --sapUiListTableGroupHeaderBackground: @sapUiListTableGroupHeaderBackground;
  --sapUiListTableGroupHeaderBorderColor: @sapUiListTableGroupHeaderBorderColor;
  --sapUiListTableGroupHeaderTextColor: @sapUiListTableGroupHeaderTextColor;
  --sapUiListBorderColor: @sapUiListBorderColor;
  --sapUiListBorderWidth: @sapUiListBorderWidth;
  --sapUiListHighlightColor: @sapUiListHighlightColor;
  --sapUiListSelectionBackgroundColor: @sapUiListSelectionBackgroundColor;
  --sapUiListBackground: @sapUiListBackground;
  --sapUiListHoverBackground: @sapUiListHoverBackground;
  --sapUiScrollBarFaceColor: @sapUiScrollBarFaceColor;
  --sapUiScrollBarTrackColor: @sapUiScrollBarTrackColor;
  --sapUiScrollBarBorderColor: @sapUiScrollBarBorderColor;
  --sapUiScrollBarSymbolColor: @sapUiScrollBarSymbolColor;
  --sapUiScrollBarDimension: @sapUiScrollBarDimension;
  --sapUiScrollBarHoverFaceColor: @sapUiScrollBarHoverFaceColor;
  --sapUiPageHeaderBackground: @sapUiPageHeaderBackground;
  --sapUiPageHeaderBorderColor: @sapUiPageHeaderBorderColor;
  --sapUiPageHeaderTextColor: @sapUiPageHeaderTextColor;
  --sapUiPageFooterBackground: @sapUiPageFooterBackground;
  --sapUiPageFooterTextColor: @sapUiPageFooterTextColor;
  --sapUiPageFooterBorderColor: @sapUiPageFooterBorderColor;
  --sapUiInfobarBackground: @sapUiInfobarBackground;
  --sapUiInfobarHoverBackground: @sapUiInfobarHoverBackground;
  --sapUiObjectHeaderBorderColor: @sapUiObjectHeaderBorderColor;
  --sapUiObjectHeaderBackground: @sapUiObjectHeaderBackground;
  --sapUiBlockLayerBackground: @sapUiBlockLayerBackground;
  --sapUiTileBackground: @sapUiTileBackground;
  --sapUiTileBorderColor: @sapUiTileBorderColor;
  --sapUiTileTitleTextColor: @sapUiTileTitleTextColor;
  --sapUiTileTextColor: @sapUiTileTextColor;
  --sapUiTileIconColor: @sapUiTileIconColor;
  --sapUiContentGridSize: @sapUiContentGridSize;
  --sapUiPrimary1: @sapUiPrimary1;
  --sapUiPrimary2: @sapUiPrimary2;
  --sapUiPrimary3: @sapUiPrimary3;
  --sapUiPrimary4: @sapUiPrimary4;
  --sapUiPrimary5: @sapUiPrimary5;
  --sapUiPrimary6: @sapUiPrimary6;
  --sapUiPrimary7: @sapUiPrimary7;
  --sapUiAccent1: @sapUiAccent1;
  --sapUiAccent2: @sapUiAccent2;
  --sapUiAccent3: @sapUiAccent3;
  --sapUiAccent4: @sapUiAccent4;
  --sapUiAccent5: @sapUiAccent5;
  --sapUiAccent6: @sapUiAccent6;
  --sapUiAccent7: @sapUiAccent7;
  --sapUiAccent8: @sapUiAccent8;
  --sapUiAccent9: @sapUiAccent9;
  --sapUiAccent10: @sapUiAccent10;
  --sapUiErrorBG: @sapUiErrorBG;
  --sapUiWarningBG: @sapUiWarningBG;
  --sapUiSuccessBG: @sapUiSuccessBG;
  --sapUiInformationBG: @sapUiInformationBG;
  --sapUiNeutralBG: @sapUiNeutralBG;
  --sapUiErrorBorder: @sapUiErrorBorder;
  --sapUiWarningBorder: @sapUiWarningBorder;
  --sapUiSuccessBorder: @sapUiSuccessBorder;
  --sapUiInformationBorder: @sapUiInformationBorder;
  --sapUiNeutralBorder: @sapUiNeutralBorder;
  --sapUiNegativeElement: @sapUiNegativeElement;
  --sapUiCriticalElement: @sapUiCriticalElement;
  --sapUiPositiveElement: @sapUiPositiveElement;
  --sapUiInformativeElement: @sapUiInformativeElement;
  --sapUiNeutralElement: @sapUiNeutralElement;
  --sapUiNegativeText: @sapUiNegativeText;
  --sapUiCriticalText: @sapUiCriticalText;
  --sapUiPositiveText: @sapUiPositiveText;
  --sapUiInformativeText: @sapUiInformativeText;
  --sapUiNeutralText: @sapUiNeutralText;
  --sapUiNegative: @sapUiNegative;
  --sapUiCritical: @sapUiCritical;
  --sapUiPositive: @sapUiPositive;
  --sapUiInformative: @sapUiInformative;
  --sapUiNeutral: @sapUiNeutral;
  --sapUiIndication1: @sapUiIndication1;
  --sapUiIndication2: @sapUiIndication2;
  --sapUiIndication3: @sapUiIndication3;
  --sapUiIndication4: @sapUiIndication4;
  --sapUiIndication5: @sapUiIndication5;
  --sapUiFontCondensedFamily: @sapUiFontCondensedFamily;
  --sapUiFontHeaderFamily: @sapUiFontHeaderFamily;
  --sapUiFontHeaderWeight: @sapUiFontHeaderWeight;
  --sapMFontHeader1Size: @sapMFontHeader1Size;
  --sapMFontHeader2Size: @sapMFontHeader2Size;
  --sapMFontHeader3Size: @sapMFontHeader3Size;
  --sapMFontHeader4Size: @sapMFontHeader4Size;
  --sapMFontHeader5Size: @sapMFontHeader5Size;
  --sapMFontHeader6Size: @sapMFontHeader6Size;
  --sapMFontSmallSize: @sapMFontSmallSize;
  --sapMFontMediumSize: @sapMFontMediumSize;
  --sapMFontLargeSize: @sapMFontLargeSize;
  --sapUiTranslucentBGOpacity: @sapUiTranslucentBGOpacity;
  --sapMPlatformDependent: @sapMPlatformDependent;
  --sapUiDesktopFontFamily: @sapUiDesktopFontFamily;
  --sapUiDesktopFontSize: @sapUiDesktopFontSize;
  --sapUiFontLargeSize: @sapUiFontLargeSize;
  --sapUiFontSmallSize: @sapUiFontSmallSize;
  --sapUiFontHeader1Size: @sapUiFontHeader1Size;
  --sapUiFontHeader2Size: @sapUiFontHeader2Size;
  --sapUiFontHeader3Size: @sapUiFontHeader3Size;
  --sapUiFontHeader4Size: @sapUiFontHeader4Size;
  --sapUiFontHeader5Size: @sapUiFontHeader5Size;
  --sapUiFontHeader6Size: @sapUiFontHeader6Size;
  --sapUiLineHeight: @sapUiLineHeight;
  --sapUiShellContainerBackground: @sapUiShellContainerBackground;
  --sapUiShellAltContainerBackground: @sapUiShellAltContainerBackground;
  --sapUiShellGroupTextColor: @sapUiShellGroupTextColor;
  --sapUiLinkActive: @sapUiLinkActive;
  --sapUiLinkVisited: @sapUiLinkVisited;
  --sapUiButtonActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonEmphasizedHoverBorderColor;
  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonEmphasizedActiveBorderColor;
  --sapUiButtonEmphasizedTextShadow: @sapUiButtonEmphasizedTextShadow;
  --sapUiButtonAcceptBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonAcceptHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptHoverBorderColor;
  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonAcceptActiveBorderColor;
  --sapUiButtonRejectBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonRejectHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectHoverBorderColor;
  --sapUiButtonRejectActiveBorderColor: @sapUiButtonRejectActiveBorderColor;
  --sapUiButtonLiteBackground: @sapUiButtonLiteBackground;
  --sapUiButtonLiteBorderColor: @sapUiButtonLiteBorderColor;
  --sapUiButtonLiteTextColor: @sapUiButtonLiteTextColor;
  --sapUiButtonLiteHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiButtonLiteHoverBorderColor: @sapUiButtonLiteHoverBorderColor;
  --sapUiButtonLiteActiveBackground: @sapUiButtonLiteActiveBackground;
  --sapUiButtonLiteActiveBorderColor: @sapUiButtonLiteActiveBorderColor;
  --sapUiButtonHeaderTextColor: @sapUiButtonHeaderTextColor;
  --sapUiButtonHeaderDisabledTextColor: @sapUiButtonHeaderDisabledTextColor;
  --sapUiButtonFooterHoverBackground: @sapUiButtonFooterHoverBackground;
  --sapUiButtonActionSelectBackground: @sapUiButtonActionSelectBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiButtonActionSelectBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiButtonLiteActionSelectHoverBackground;
  --sapUiToggleButtonPressedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiToggleButtonPressedBorderColor: @sapUiToggleButtonPressedBorderColor;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
  --sapUiSegmentedButtonBackground: @sapUiSegmentedButtonBackground;
  --sapUiSegmentedButtonBorderColor: @sapUiSegmentedButtonBorderColor;
  --sapUiSegmentedButtonHoverBackground: @sapUiSegmentedButtonHoverBackground;
  --sapUiSegmentedButtonActiveBackground: @sapUiSegmentedButtonActiveBackground;
  --sapUiSegmentedButtonSelectedBackground: @sapUiSegmentedButtonSelectedBackground;
  --sapUiSegmentedButtonSelectedTextColor: @sapUiSegmentedButtonSelectedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiSegmentedButtonSelectedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiSegmentedButtonSelectedHoverBorderColor;
  --sapUiSegmentedButtonFooterBorderColor: @sapUiSegmentedButtonFooterBorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapUiSegmentedButtonFooterHoverBackground;
  --sapUiFieldActiveBackground: @sapUiFieldActiveBackground;
  --sapUiFieldActiveBorderColor: @sapUiFieldActiveBorderColor;
  --sapUiFieldActiveTextColor: @sapUiFieldActiveTextColor;
  --sapUiListTextColor: @sapUiListTextColor;
  --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;
  --sapUiListActiveBackground: @sapUiListActiveBackground;
  --sapUiListFooterTextColor: @sapUiListFooterTextColor;
  --sapUiListGroupHeaderBackground: @sapUiListGroupHeaderBackground;
  --sapUiListTableFooterBorder: @sapUiListTableFooterBorder;
  --sapUiListTableTextSize: @sapUiListTableTextSize;
  --sapUiListTableIconSize: @sapUiListTableIconSize;
  --sapUiInfobarActiveBackground: @sapUiInfobarActiveBackground;
  --sapUiCalendarColorToday: @sapUiCalendarColorToday;
  --sapUiDragAndDropColor: @sapUiDragAndDropColor;
  --sapUiDragAndDropBackground: @sapUiDragAndDropBackground;
  --sapUiDragAndDropBorderColor: @sapUiDragAndDropBorderColor;
  --sapUiDragAndDropActiveColor: @sapUiDragAndDropActiveColor;
  --sapUiDragAndDropActiveBorderColor: @sapUiDragAndDropActiveBorderColor;
  --sapUiShadowText: @sapUiShadowText;

  --sapUiLinkHover: @sapUiLinkHover;
  --sapUiLinkInverted: @sapUiLinkInverted;
  --sapUiNotificationBarBG: @sapUiNotificationBarBG;
  --sapUiNotifierSeparator: @sapUiNotifierSeparator;
  --sapUiNotificationBarBorder: @sapUiNotificationBarBorder;

  --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
  --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
  --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
  --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
  --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
  --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiToggleButtonPressedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiListSelectionHoverBackground: @sapUiListSelectionHoverBackground;

  // used in Token-parameters.css
  --sapUiButtonBackgroundDarken24: @sapUiButtonBackgroundDarken24;
  --sapUiButtonHoverBorderColorLighten30: @sapUiButtonHoverBorderColorLighten30;

  // used sapUiShadowLevel (0 to 3)
  --sapUiContentShadowColorFade10: @sapUiContentShadowColorFade10;
  --sapUiContentShadowColorFade15: @sapUiContentShadowColorFade15;
  --sapUiContentShadowColorFade30: @sapUiContentShadowColorFade30;

  --sapUiShadowHeader: @sapUiShadowHeader;

  --sapUiShadowLevel0: @sapUiShadowLevel0;

  --sapUiShadowLevel1: @sapUiShadowLevel1;

  --sapUiShadowLevel2: @sapUiShadowLevel2;

  --sapUiShadowLevel3: @sapUiShadowLevel3;

  --sapUiCalloutShadow: @sapUiCalloutShadow;

}
