:root {
    --_sap_ui_webcomponents_main_button_base_min_width: 2.5rem;
    --_sap_ui_webcomponents_main_button_base_min_compact_width: 2rem;
    --_sap_ui_webcomponents_main_button_base_height: 2.5rem;
    --_sap_ui_webcomponents_main_button_compact_height: 1.625rem;
    --_sap_ui_webcomponents_main_button_border_radius: 0.2rem;
    --_sap_ui_webcomponents_main_button_base_padding: 0 0.6875rem 0 0.5rem;
    --_sap_ui_webcomponents_main_button_compact_padding: 0 0.4375rem;
    --_sap_ui_webcomponents_main_button_base_icon_only_padding: 0 0.5625rem;
    --_sap_ui_webcomponents_main_button_base_icon_margin: 0.563rem;
    --_sap_ui_webcomponents_main_button_base_icon_only_font_size: 1.375rem;
}