:root {
/* ===================================== */
/* Quick Theming                         */
/* ===================================== */
--sapBrandColor: #7A5100;
--sapHighlightColor: #7A5100;
--sapBaseColor: #000000;
--sapShellColor: #000000;
--sapBackgroundColorDefault: #000000;
--sapBackgroundColor: #000000;
--sapFontFamily: "72", Arial, Helvetica, sans-serif;
--sapFontSize: 0.75em;
--sapTextColor: #FFFFFF;
--sapLinkColor: #FFFFFF;
--sapCompanyLogo: none;
--sapBackgroundImage: none;
--sapBackgroundImageOpacity: 1;
--sapBackgroundImageRepeat: false;
/*
 UX COLOR SET
*/
--sapHC_StandardBackground: #000000;
--sapHC_HighlightBackground: #7A5100;
--sapHC_HighlightAltBackground: #0F5D94;
--sapHC_ReducedBackground: #585858;
--sapHC_ReducedAltBackground: #A2A39F;
--sapHC_StandardForeground: #FFFFFF;
--sapHC_EnhancedForeground: #03B803;
--sapHC_ReducedForeground: #666666;
--sapHC_ReducedAltForeground: #999999;
/* Semantic Colors */
--sapHC_NegativeColor: #FF5E5E;
--sapHC_CriticalColor: #FFAB1D;
--sapHC_PositiveColor: #99CC99;
--sapHC_InformativeColor: #7a5100;
--sapHC_NeutralColor: #FFFFFF;
/* ACCENT COLORS */
--sapAccentColor1: #ffc847;
--sapAccentColor2: #ed884a;
--sapAccentColor3: #db9292;
--sapAccentColor4: #e269c9;
--sapAccentColor5: #8ca7d5;
--sapAccentColor6: #6bd3ff;
--sapAccentColor7: #7fc6c6;
--sapAccentColor8: #b2e484;
/* Semantic Background Colors */
--sapErrorBackground: #000000;
--sapWarningBackground: #000000;
--sapSuccessBackground: #000000;
--sapInformationBackground: #000000;
--sapNeutralBackground: #000000;
/* Semantic Border Colors */
--sapErrorBorderColor: #FF5E5E;
--sapWarningBorderColor: #FFAB1D;
--sapSuccessBorderColor: #99CC99;
--sapInformationBorderColor: #7a5100;
--sapNeutralBorderColor: #FFFFFF;
/* Semantic Foreground Elements */
--sapNegativeElementColor: #FF5E5E;
--sapCriticalElementColor: #FFAB1D;
--sapPositiveElementColor: #99CC99;
--sapInformativeElementColor: #7a5100;
--sapNeutralElementColor: #FFFFFF;
/* Semantic Text */
--sapNegativeTextColor: #FF5E5E;
--sapCriticalTextColor: #FFAB1D;
--sapPositiveTextColor: #99CC99;
--sapInformativeTextColor: #7a5100;
--sapNeutralTextColor: #FFFFFF;
/* Semantic Foreground Colors */
--sapNegativeColor: #FF5E5E;
--sapCriticalColor: #FFAB1D;
--sapPositiveColor: #99CC99;
--sapInformativeColor: #7a5100;
--sapNeutralColor: #FFFFFF;
--sapErrorColor: #FF5E5E;
--sapWarningColor: #FFAB1D;
--sapSuccessColor: #99CC99;
--sapInformationColor: #7a5100;
--sapIndicationColor_1: #ff5e5e;
--sapIndicationColor_2: #ff9191;
--sapIndicationColor_3: #ffab1d;
--sapIndicationColor_4: #99cc99;
--sapIndicationColor_5: #0f5d94;
/* ===================================== */
/* Expert Theming                        */
/* ===================================== */
--sapSelectedColor: #0F5D94;
--sapActiveColor: #7A5100;
--sapHighlightTextColor: #FFFFFF;
--sapTitleColor: #FFFFFF;
--sapContent_LineHeight: 1.3;
--sapContent_ElementHeight: 1.37em;
--sapContent_ElementHeight_PX: 22px;
--sapContent_IconHeight: 16px;
--sapContent_IconColor: #FFFFFF;
--sapContent_ContrastIconColor: #FFFFFF;
--sapContent_NonInteractiveIconColor: #FFFFFF;
--sapContent_MarkerIconColor: #FFFFFF;
--sapContent_MarkerTextColor: #FFFFFF;
--sapContent_ImagePlaceholderBackground: #000000;
--sapContent_ImagePlaceholderForegroundColor: #999999;
--sapContent_FocusColor: #FFFFFF;
--sapContent_ContrastFocusColor: #FFFFFF;
--sapContent_ShadowColor: #FFFFFF;
--sapContent_ContrastShadowColor: #FFFFFF;
--sapContent_SearchHighlightColor: #7A5100;
--sapContent_HelpColor: #03B803;
--sapContent_LabelColor: #FFFFFF;
--sapContent_MonospaceFontFamily: lucida console, monospace;
--sapContent_DisabledTextColor: #666666;
--sapContent_DisabledOpacity: 0.5;
--sapContent_ContrastTextThreshold: 0.65;
--sapContent_ContrastTextColor: #FFFFFF;
--sapContent_ForegroundColor: #000000;
--sapContent_ForegroundBorderColor: #FFFFFF;
--sapContent_ForegroundTextColor: #FFFFFF;
--sapShell_Background: #000000;
--sapShell_BackgroundImage: #000000;
--sapShell_BackgroundImageOpacity: 1;
--sapShell_BackgroundImageRepeat: false;
--sapShell_BackgroundPatternColor: #000000;
--sapShell_BackgroundGradient: #000000;
--sapShell_BorderColor: #FFFFFF;
--sapShell_TextColor: #FFFFFF;
--sapShell_Favicon: none;
--sapButton_BorderWidth: 1px;
--sapButton_BorderCornerRadius: 6px;
--sapButton_Background: #000000;
--sapButton_BorderColor: #FFFFFF;
--sapButton_TextColor: #FFFFFF;
--sapButton_Hover_Background: #7A5100;
--sapButton_Hover_BorderColor: #FFFFFF;
--sapButton_Hover_TextColor: #FFFFFF;
--sapButton_Emphasized_Background: #000000;
--sapButton_Emphasized_BorderColor: #FFFFFF;
--sapButton_Emphasized_TextColor: #FFFFFF;
--sapButton_Reject_Background: #000000;
--sapButton_Accept_Background: #000000;
--sapField_Background: #000000;
--sapField_BorderColor: #FFFFFF;
--sapField_TextColor: #FFFFFF;
--sapField_HelpBackground: #000000;
--sapField_BorderWidth: 1px;
--sapField_BorderCornerRadius: 0;
--sapField_Hover_Background: #000000;
--sapField_Hover_BorderColor: #FFFFFF;
--sapField_Hover_HelpBackground: #000000;
--sapField_Focus_Background: #000000;
--sapField_Focus_BorderColor: #FFFFFF;
--sapField_Focus_HelpBackground: #000000;
--sapField_ReadOnly_Background: #585858;
--sapField_ReadOnly_BorderColor: #999999;
--sapField_ReadOnly_HelpBackground: #585858;
--sapField_RequiredColor: #FFFFFF;
--sapField_InvalidColor: #FFFFFF;
--sapField_InvalidBackground: #7A5100;
--sapField_WarningColor: #FFFFFF;
--sapField_WarningBackground: #000000;
--sapField_SuccessColor: #FFFFFF;
--sapField_SuccessBackground: #000000;
--sapGroup_TitleBackground: #000000;
--sapGroup_TitleBorderColor: #FFFFFF;
--sapGroup_TitleTextColor: #FFFFFF;
--sapGroup_Title_FontSize: 1em;
--sapGroup_ContentBackground: #000000;
--sapGroup_ContentBorderColor: #FFFFFF;
--sapGroup_BorderWidth: 1px;
--sapGroup_BorderCornerRadius: 0;
--sapGroup_FooterBackground: #000000;
--sapToolbar_Background: #000000;
--sapToolbar_SeparatorColor: #FFFFFF;
--sapList_HeaderBackground: #000000;
--sapList_HeaderBorderColor: #FFFFFF;
--sapList_HeaderTextColor: #FFFFFF;
--sapList_BorderColor: #999999;
--sapList_BorderWidth: 1px;
--sapList_HighlightColor: #7A5100;
--sapList_SelectionBackgroundColor: #0F5D94;
--sapList_Background: #000000;
--sapList_Hover_Background: #7A5100;
--sapScrollBar_FaceColor: #999999;
--sapScrollBar_TrackColor: #000000;
--sapScrollBar_BorderColor: #999999;
--sapScrollBar_SymbolColor: #FFFFFF;
--sapScrollBar_Dimension: 16px;
--sapScrollBar_Hover_FaceColor: #FFFFFF;
--sapPageHeader_Background: #000000;
--sapPageHeader_BorderColor: #FFFFFF;
--sapPageHeader_TextColor: #FFFFFF;
--sapPageFooter_Background: #000000;
--sapPageFooter_TextColor: #FFFFFF;
--sapInfobar_Background: #000000;
--sapObjectHeader_Background: #000000;
--sapBlockLayer_Background: #000000;
--sapTile_Background: #000000;
--sapTile_BorderColor: #FFFFFF;
--sapTile_TitleTextColor: #FFFFFF;
--sapTile_TextColor: #FFFFFF;
--sapTile_IconColor: #FFFFFF;
--sapChart_OrderedColor_1: #4da2f6;
--sapChart_OrderedColor_2: #e8743b;
--sapChart_OrderedColor_3: #19a979;
--sapChart_OrderedColor_4: #ed4a7b;
--sapChart_OrderedColor_5: #945ecf;
--sapChart_OrderedColor_6: #13a4b4;
--sapChart_OrderedColor_7: #5c66f5;
--sapChart_OrderedColor_8: #c63fa4;
--sapChart_OrderedColor_9: #6c8893;
--sapChart_OrderedColor_10: #ee6868;
--sapChart_OrderedColor_11: #387bb7;
--sapChart_Bad: #FF5E5E;
--sapChart_Critical: #FFAB1D;
--sapChart_Good: #99CC99;
--sapChart_Neutral: #FFFFFF;
--sapChart_Sequence_1: #4da2f6;
--sapChart_Sequence_2: #e8743b;
--sapChart_Sequence_3: #19a979;
--sapChart_Sequence_4: #ed4a7b;
--sapChart_Sequence_5: #945ecf;
--sapChart_Sequence_6: #13a4b4;
--sapChart_Sequence_7: #5c66f5;
--sapChart_Sequence_8: #c63fa4;
--sapChart_Sequence_9: #6c8893;
--sapChart_Sequence_10: #ee6868;
--sapChart_Sequence_11: #387bb7;
--sapChart_Sequence_Neutral: #FFFFFF;
--sapUiBrand: #7A5100;
--sapUiHighlight: #7A5100;
--sapUiBaseColor: #000000;
--sapUiShellColor: #000000;
--sapUiBaseBG: #000000;
--sapUiGlobalBackgroundColor: #000000;
--sapUiBaseText: #FFFFFF;
--sapUiLink: #FFFFFF;
--sapUiGlobalLogo: none;
--sapUiGlobalBackgroundImage: none;
--sapUiBackgroundImage: none;
--sapUiUx3ShellBackgroundImageURL: none;
--sapUiGlobalBackgroundImageOpacity: 1;
--sapUiGlobalBackgroundRepeat: false;
--sapUiSelected: #0F5D94;
--sapUiActive: #7A5100;
--sapUiHighlightTextColor: #FFFFFF;
--sapUiTextTitle: #FFFFFF;
--sapUiContentIconColor: #FFFFFF;
--sapUiContentContrastIconColor: #FFFFFF;
--sapUiContentNonInteractiveIconColor: #FFFFFF;
--sapUiContentMarkerIconColor: #FFFFFF;
--sapUiContentMarkerTextColor: #FFFFFF;
--sapUiContentImagePlaceholderBackground: #000000;
--sapUiContentImagePlaceholderForegroundColor: #999999;
--sapUiContentFocusColor: #FFFFFF;
--sapUiContentContrastFocusColor: #FFFFFF;
--sapUiContentShadowColor: #FFFFFF;
--sapUiContentContrastShadowColor: #FFFFFF;
--sapUiContentSearchHighlightColor: #7A5100;
--sapUiContentHelpColor: #03B803;
--sapUiContentLabelColor: #FFFFFF;
--sapUiContentDisabledTextColor: #666666;
--sapUiContentDisabledOpacity: 0.5;
--sapUiContentContrastTextThreshold: 0.65;
--sapUiContentContrastTextColor: #FFFFFF;
--sapUiContentForegroundColor: #000000;
--sapUiContentForegroundBorderColor: #FFFFFF;
--sapUiContentForegroundTextColor: #FFFFFF;
--sapUiShellBackground: #000000;
--sapUiShellBackgroundImage: #000000;
--sapUiShellBackgroundImageOpacity: 1;
--sapUiShellBackgroundImageRepeat: false;
--sapUiShellBackgroundPatternColor: #000000;
--sapUiShellBackgroundGradient: #000000;
--sapUiShellBorderColor: #FFFFFF;
--sapUiShellTextColor: #FFFFFF;
--sapUiShellFavicon: none;
--sapUiButtonBackground: #000000;
--sapUiButtonBorderColor: #FFFFFF;
--sapUiButtonTextColor: #FFFFFF;
--sapUiButtonHoverBackground: #7A5100;
--sapUiButtonHoverBorderColor: #FFFFFF;
--sapUiButtonHoverTextColor: #FFFFFF;
--sapUiButtonEmphasizedBackground: #000000;
--sapUiButtonEmphasizedBorderColor: #FFFFFF;
--sapUiButtonEmphasizedTextColor: #FFFFFF;
--sapUiButtonRejectBackground: #000000;
--sapUiButtonAcceptBackground: #000000;
--sapUiFieldBackground: #000000;
--sapUiFieldBorderColor: #FFFFFF;
--sapUiFieldTextColor: #FFFFFF;
--sapUiFieldHelpBackground: #000000;
--sapUiFieldHoverBackground: #000000;
--sapUiFieldHoverBorderColor: #FFFFFF;
--sapUiFieldHoverHelpBackground: #000000;
--sapUiFieldFocusBackground: #000000;
--sapUiFieldFocusBorderColor: #FFFFFF;
--sapUiFieldFocusHelpBackground: #000000;
--sapUiFieldReadOnlyBackground: #585858;
--sapUiFieldReadOnlyBorderColor: #999999;
--sapUiFieldReadOnlyHelpBackground: #585858;
--sapUiFieldRequiredColor: #FFFFFF;
--sapUiFieldInvalidColor: #FFFFFF;
--sapUiFieldInvalidBackground: #7A5100;
--sapUiFieldWarningColor: #FFFFFF;
--sapUiFieldWarningBackground: #000000;
--sapUiFieldSuccessColor: #FFFFFF;
--sapUiFieldSuccessBackground: #000000;
--sapUiGroupTitleBackground: #000000;
--sapUiGroupTitleBorderColor: #FFFFFF;
--sapUiGroupTitleTextColor: #FFFFFF;
--sapUiGroupContentBackground: #000000;
--sapUiGroupContentBorderColor: #FFFFFF;
--sapUiGroupFooterBackground: #000000;
--sapUiToolbarBackground: #000000;
--sapUiToolbarSeparatorColor: #FFFFFF;
--sapUiListHeaderBackground: #000000;
--sapUiListHeaderBorderColor: #FFFFFF;
--sapUiListHeaderTextColor: #FFFFFF;
--sapUiListBorderColor: #999999;
--sapUiListHighlightColor: #7A5100;
--sapUiListSelectionBackgroundColor: #0F5D94;
--sapUiListBackground: #000000;
--sapUiListHoverBackground: #7A5100;
--sapUiScrollBarFaceColor: #999999;
--sapUiScrollBarTrackColor: #000000;
--sapUiScrollBarBorderColor: #999999;
--sapUiScrollBarSymbolColor: #FFFFFF;
--sapUiScrollBarHoverFaceColor: #FFFFFF;
--sapUiPageHeaderBackground: #000000;
--sapUiPageHeaderBorderColor: #FFFFFF;
--sapUiPageHeaderTextColor: #FFFFFF;
--sapUiPageFooterBackground: #000000;
--sapUiPageFooterTextColor: #FFFFFF;
--sapUiInfobarBackground: #000000;
--sapUiObjectHeaderBackground: #000000;
--sapUiBlockLayerBackground: #000000;
--sapUiTileBackground: #000000;
--sapUiTileBorderColor: #FFFFFF;
--sapUiTileTitleTextColor: #FFFFFF;
--sapUiTileTextColor: #FFFFFF;
--sapUiTileIconColor: #FFFFFF;
--sapUiChart1: #4da2f6;
--sapUiChart2: #e8743b;
--sapUiChart3: #19a979;
--sapUiChart4: #ed4a7b;
--sapUiChart5: #945ecf;
--sapUiChart6: #13a4b4;
--sapUiChart7: #5c66f5;
--sapUiChart8: #c63fa4;
--sapUiChart9: #6c8893;
--sapUiChart10: #ee6868;
--sapUiChart11: #387bb7;
--sapUiChartBad: #FF5E5E;
--sapUiChartCritical: #FFAB1D;
--sapUiChartGood: #99CC99;
--sapUiChartNeutral: #FFFFFF;
--sapUiChartSequence1: #4da2f6;
--sapUiChartSequence2: #e8743b;
--sapUiChartSequence3: #19a979;
--sapUiChartSequence4: #ed4a7b;
--sapUiChartSequence5: #945ecf;
--sapUiChartSequence6: #13a4b4;
--sapUiChartSequence7: #5c66f5;
--sapUiChartSequence8: #c63fa4;
--sapUiChartSequence9: #6c8893;
--sapUiChartSequence10: #ee6868;
--sapUiChartSequence11: #387bb7;
--sapUiChartSequenceNeutral: #FFFFFF;
--sapUiHcStandardBackground: #000000;
--sapUiHcHighlightBackground: #7A5100;
--sapUiHcHighlightAltBackground: #0F5D94;
--sapUiHcReducedBackground: #585858;
--sapUiHcReducedAltBackground: #A2A39F;
--sapUiHcStandardForeground: #FFFFFF;
--sapUiHcEnhancedForeground: #03B803;
--sapUiHcReducedForeground: #666666;
--sapUiHcReducedAltForeground: #999999;
--sapUiHcNegativeColor: #FF5E5E;
--sapUiHcCriticalColor: #FFAB1D;
--sapUiHcPositiveColor: #99CC99;
--sapUiHcInformativeColor: #7a5100;
--sapUiHcNeutralColor: #FFFFFF;
--sapUiAccent1: #ffc847;
--sapUiAccent2: #ed884a;
--sapUiAccent3: #db9292;
--sapUiAccent4: #e269c9;
--sapUiAccent5: #8ca7d5;
--sapUiAccent6: #6bd3ff;
--sapUiAccent7: #7fc6c6;
--sapUiAccent8: #b2e484;
--sapUiErrorBG: #000000;
--sapUiWarningBG: #000000;
--sapUiSuccessBG: #000000;
--sapUiInformationBG: #000000;
--sapUiNeutralBG: #000000;
--sapUiErrorBorder: #FF5E5E;
--sapUiWarningBorder: #FFAB1D;
--sapUiSuccessBorder: #99CC99;
--sapUiInformationBorder: #7a5100;
--sapUiNeutralBorder: #FFFFFF;
--sapUiNegativeElement: #FF5E5E;
--sapUiCriticalElement: #FFAB1D;
--sapUiPositiveElement: #99CC99;
--sapUiInformativeElement: #7a5100;
--sapUiNeutralElement: #FFFFFF;
--sapUiNegativeText: #FF5E5E;
--sapUiCriticalText: #FFAB1D;
--sapUiPositiveText: #99CC99;
--sapUiInformativeText: #7a5100;
--sapUiNeutralText: #FFFFFF;
--sapUiNegative: #FF5E5E;
--sapUiCritical: #FFAB1D;
--sapUiPositive: #99CC99;
--sapUiInformative: #7a5100;
--sapUiNeutral: #FFFFFF;
--sapUiIndication1: #ff5e5e;
--sapUiIndication2: #ff9191;
--sapUiIndication3: #ffab1d;
--sapUiIndication4: #99cc99;
--sapUiIndication5: #0f5d94;
--sapUiFontFamily: "72", Arial, Helvetica, sans-serif;
--sapUiFontSize: 16px;
--sapUiFontCondensedFamily: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
--sapUiFontHeaderFamily: "72", Arial, Helvetica, sans-serif;
--sapUiFontHeaderWeight: normal;
--sapMFontHeader1Size: 1.625rem;
--sapMFontHeader2Size: 1.375rem;
--sapMFontHeader3Size: 1.25rem;
--sapMFontHeader4Size: 1.125rem;
--sapMFontHeader5Size: 1rem;
--sapMFontHeader6Size: 0.875rem;
--sapMFontSmallSize: 0.75rem;
--sapMFontMediumSize: 0.875rem;
--sapMFontLargeSize: 1rem;
--sapUiTranslucentBGOpacity: 100%;
--sapMPlatformDependent: false;
--sapUiDesktopFontFamily: "72", Arial, Helvetica, sans-serif;
--sapUiDesktopFontSize: 12px;
--sapUiFontLargeSize: 13px;
--sapUiFontSmallSize: 11px;
--sapUiFontHeader1Size: 26px;
--sapUiFontHeader2Size: 20px;
--sapUiFontHeader3Size: 18px;
--sapUiFontHeader4Size: 16px;
--sapUiFontHeader5Size: 14px;
--sapUiFontHeader6Size: 13px;
--sapUiLineHeight: 18px;
--sapUiChartLabelHoverColor: #7A5100;
--sapUiChartLabelPressedColor: #7A5100;
--sapUiChartCategoryAxisLabelFontColor: #FFFFFF;
--sapUiChartValueAxisLabelFontColor: #FFFFFF;
--sapUiChartCategoryAxisLabelFontSize: 0.75rem;
--sapUiChartValueAxisLabelFontSize: 0.75rem;
--sapUiChartCategoryAxisLineColor: #FFFFFF;
--sapUiChartValueAxisLineColor: #FFFFFF;
--sapUiChartCategoryAxisTickColor: #FFFFFF;
--sapUiChartValueAxisTickColor: #FFFFFF;
--sapUiChartBackgroundColor: #000000;
--sapUiChartLabelFontWeight: normal;
--sapUiChartLegendLabelFontColor: #FFFFFF;
--sapUiChartLegendTitleFontColor: #FFFFFF;
--sapUiChartLegendTitleFontSize: 0.875rem;
--sapUiChartLegendLabelFontSize: 0.75rem;
--sapUiChartPaletteUndefinedColor: #FFFFFF;
--sapUiChartGridlineColor: #999999;
--sapUiChartReferenceLineColor: #FFFFFF;
--sapUiChartDataLabelFontColor: #FFFFFF;
--sapUiChartReferenceLineLabelColor: #000000;
--sapUiChartDataLabelFontSize: 0.75rem;
--sapUiChartPopoverDataItemFontColor: #FFFFFF;
--sapUiChartPopoverGroupFontColor: #FFFFFF;
--sapUiChartPopoverDataItemFontSize: 0.875rem;
--sapUiChartPopoverGroupFontSize: 0.875rem;
--sapUiChartPopoverGroupFontWeight: bold;
--sapUiChartScrollBarThumbColor: #999999;
--sapUiChartScrollBarTrackColor: #000000;
--sapUiChartScrollBarThumbHoverColor: #FFFFFF;
--sapUiChartMainTitleFontColor: #FFFFFF;
--sapUiChartAxisTitleFontColor: #FFFFFF;
--sapUiChartMainTitleFontSize: 1rem;
--sapUiChartAxisTitleFontSize: 0.75rem;
--sapUiChartTitleFontWeight: bold;
--sapUiChartAxisTitleFontWeight: regular;
--sapUiChartLightText: #FFFFFF;
--sapUiChartZeroAxisColor: #FFFFFF;
--sapUiChartDataPointBorderColor: #000000;
--sapUiChartDataPointBorderHoverSelectedColor: #FFFFFF;
--sapUiChartDataPointNotSelectedBackgroundOpacity: 0.7;
--sapUiChartValueAxisLineOpacity: 0;
--sapUiChartCategoryAxisLabelFontHoverColor: #FFFFFF;
--sapUiChartCategoryAxisLabelFontPressedColor: #FFFFFF;
--sapUiChartTargetColor: #FFFFFF;
--sapUiChartTargetShadowColor: #000000;
--sapUiChartBubbleBGOpacity: 0.9;
--sapUiChartScrollbarBorderColor: #999999;
--sapUiChartScrollbarBorderSize: 1px;
--sapUiChartScrollbarThumbPadding: 0.125rem;
--sapUiChartNegativeLargeText: #FF5E5E;
--sapUiChartCriticalLargeText: #FFAB1D;
--sapUiChartPositiveLargeText: #99CC99;
--sapUiChartNeutralLargeText: #FFFFFF;
--sapUiChartDataPointBG: #000000;
--sapUiChartDataPointBGBorderColor: #FFFFFF;
--sapUiChartDataLineColorWithBG: #FFFFFF;
--sapUiChartDataLineColor: #FFFFFF;
--sapUiChartRadialRemainingCircle: #000000;
--sapUiChartRadialRemainingCircleBorderColor: #FFFFFF;
--sapUiChartRadialBG: #000000;
--sapUiChartLegendHoverBackground: #7A5100;
--sapUiChartLegendSelectionBackground: #0F5D94;
--sapUiChartLegendSelectionHoverBackground: #7A5100;
--sapUiChartPaletteQualitativeHue1: #4da2f6;
--sapUiChartPaletteQualitativeHue2: #e8743b;
--sapUiChartPaletteQualitativeHue3: #19a979;
--sapUiChartPaletteQualitativeHue4: #ed4a7b;
--sapUiChartPaletteQualitativeHue5: #945ecf;
--sapUiChartPaletteQualitativeHue6: #13a4b4;
--sapUiChartPaletteQualitativeHue7: #5c66f5;
--sapUiChartPaletteQualitativeHue8: #c63fa4;
--sapUiChartPaletteQualitativeHue9: #6c8893;
--sapUiChartPaletteQualitativeHue10: #ee6868;
--sapUiChartPaletteQualitativeHue11: #387bb7;
--sapUiChartPaletteQualitativeHue12: #0979e8;
--sapUiChartPaletteQualitativeHue13: #df4e07;
--sapUiChartPaletteQualitativeHue14: #03734d;
--sapUiChartPaletteQualitativeHue15: #d70947;
--sapUiChartPaletteQualitativeHue16: #772acb;
--sapUiChartPaletteQualitativeHue17: #087682;
--sapUiChartPaletteQualitativeHue18: #1b28e5;
--sapUiChartPaletteQualitativeHue19: #951475;
--sapUiChartPaletteQualitativeHue20: #3c6372;
--sapUiChartPaletteQualitativeHue21: #d62f2f;
--sapUiChartPaletteQualitativeHue22: #0c5596;
--sapUiChartPaletteSemanticBadLight3: #db3535;
--sapUiChartPaletteSemanticBadLight2: #db3535;
--sapUiChartPaletteSemanticBadLight1: #FF5E5E;
--sapUiChartPaletteSemanticBad: #FF5E5E;
--sapUiChartPaletteSemanticBadDark1: #FF5E5E;
--sapUiChartPaletteSemanticBadDark2: #FF5E5E;
--sapUiChartPaletteSemanticCriticalLight3: #b67200;
--sapUiChartPaletteSemanticCriticalLight2: #b67200;
--sapUiChartPaletteSemanticCriticalLight1: #FFAB1D;
--sapUiChartPaletteSemanticCritical: #FFAB1D;
--sapUiChartPaletteSemanticCriticalDark1: #FFAB1D;
--sapUiChartPaletteSemanticCriticalDark2: #FFAB1D;
--sapUiChartPaletteSemanticGoodLight3: #5e975e;
--sapUiChartPaletteSemanticGoodLight2: #5e975e;
--sapUiChartPaletteSemanticGoodLight1: #99CC99;
--sapUiChartPaletteSemanticGood: #99CC99;
--sapUiChartPaletteSemanticGoodDark1: #99CC99;
--sapUiChartPaletteSemanticGoodDark2: #99CC99;
--sapUiChartPaletteSemanticNeutralLight3: #8c8c8c;
--sapUiChartPaletteSemanticNeutralLight2: #8c8c8c;
--sapUiChartPaletteSemanticNeutralLight1: #FFFFFF;
--sapUiChartPaletteSemanticNeutral: #FFFFFF;
--sapUiChartPaletteSemanticNeutralDark1: #FFFFFF;
--sapUiChartPaletteSemanticNeutralDark2: #FFFFFF;
--sapUiChartPaletteSequentialHue1Light3: #b4d7fa;
--sapUiChartPaletteSequentialHue1Light2: #95c8fa;
--sapUiChartPaletteSequentialHue1Light1: #6fb4f8;
--sapUiChartPaletteSequentialHue1: #4da2f6;
--sapUiChartPaletteSequentialHue1Dark1: #2d8eed;
--sapUiChartPaletteSequentialHue1Dark2: #0979e8;
--sapUiChartPaletteSequentialHue2Light3: #fcc3a7;
--sapUiChartPaletteSequentialHue2Light2: #f5aa85;
--sapUiChartPaletteSequentialHue2Light1: #ef8d5d;
--sapUiChartPaletteSequentialHue2: #e8743b;
--sapUiChartPaletteSequentialHue2Dark1: #e46121;
--sapUiChartPaletteSequentialHue2Dark2: #df4e07;
--sapUiChartPaletteSequentialHue3Light3: #8fd1bb;
--sapUiChartPaletteSequentialHue3Light2: #66c2a3;
--sapUiChartPaletteSequentialHue3Light1: #3fb68e;
--sapUiChartPaletteSequentialHue3: #19a979;
--sapUiChartPaletteSequentialHue3Dark1: #0e8c62;
--sapUiChartPaletteSequentialHue3Dark2: #03734d;
--sapUiChartPaletteSequentialHue4Light3: #f8b4c9;
--sapUiChartPaletteSequentialHue4Light2: #f490ae;
--sapUiChartPaletteSequentialHue4Light1: #f06a93;
--sapUiChartPaletteSequentialHue4: #ed4a7b;
--sapUiChartPaletteSequentialHue4Dark1: #e32b62;
--sapUiChartPaletteSequentialHue4Dark2: #d70947;
--sapUiChartPaletteSequentialHue5Light3: #d3bdeb;
--sapUiChartPaletteSequentialHue5Light2: #be9de2;
--sapUiChartPaletteSequentialHue5Light1: #a97dd8;
--sapUiChartPaletteSequentialHue5: #945ecf;
--sapUiChartPaletteSequentialHue5Dark1: #8746ce;
--sapUiChartPaletteSequentialHue5Dark2: #772acb;
--sapUiChartPaletteSequentialHue6Light3: #81d1da;
--sapUiChartPaletteSequentialHue6Light2: #5ac2ce;
--sapUiChartPaletteSequentialHue6Light1: #38b4c2;
--sapUiChartPaletteSequentialHue6: #13a4b4;
--sapUiChartPaletteSequentialHue6Dark1: #0d8d9c;
--sapUiChartPaletteSequentialHue6Dark2: #087682;
--sapUiChartPaletteSequentialHue7Light3: #a9aefa;
--sapUiChartPaletteSequentialHue7Light2: #9097f9;
--sapUiChartPaletteSequentialHue7Light1: #757df6;
--sapUiChartPaletteSequentialHue7: #5c66f5;
--sapUiChartPaletteSequentialHue7Dark1: #3c47ec;
--sapUiChartPaletteSequentialHue7Dark2: #1b28e5;
--sapUiChartPaletteSequentialHue8Light3: #e69ad3;
--sapUiChartPaletteSequentialHue8Light2: #d978c1;
--sapUiChartPaletteSequentialHue8Light1: #cd5cb1;
--sapUiChartPaletteSequentialHue8: #c63fa4;
--sapUiChartPaletteSequentialHue8Dark1: #ab278a;
--sapUiChartPaletteSequentialHue8Dark2: #951475;
--sapUiChartPaletteSequentialHue9Light3: #d1d9dc;
--sapUiChartPaletteSequentialHue9Light2: #adbcc3;
--sapUiChartPaletteSequentialHue9Light1: #8ca2ab;
--sapUiChartPaletteSequentialHue9: #6c8893;
--sapUiChartPaletteSequentialHue9Dark1: #547582;
--sapUiChartPaletteSequentialHue9Dark2: #3c6372;
--sapUiChartPaletteSequentialHue10Light3: #fccaca;
--sapUiChartPaletteSequentialHue10Light2: #f8a6a6;
--sapUiChartPaletteSequentialHue10Light1: #f38787;
--sapUiChartPaletteSequentialHue10: #ee6868;
--sapUiChartPaletteSequentialHue10Dark1: #e24c4c;
--sapUiChartPaletteSequentialHue10Dark2: #d62f2f;
--sapUiChartPaletteSequentialHue11Light3: #a8c3db;
--sapUiChartPaletteSequentialHue11Light2: #81aacf;
--sapUiChartPaletteSequentialHue11Light1: #5b91c2;
--sapUiChartPaletteSequentialHue11: #387bb7;
--sapUiChartPaletteSequentialHue11Dark1: #2269a9;
--sapUiChartPaletteSequentialHue11Dark2: #0c5596;
--sapUiChartPaletteSequentialNeutralLight3: #8c8c8c;
--sapUiChartPaletteSequentialNeutralLight2: #8c8c8c;
--sapUiChartPaletteSequentialNeutralLight1: #FFFFFF;
--sapUiChartPaletteSequentialNeutral: #FFFFFF;
--sapUiChartPaletteSequentialNeutralDark1: #FFFFFF;
--sapUiChartPaletteSequentialNeutralDark2: #FFFFFF;
--sapUiChartPaletteNoSemDiv1Light3: #f2e4d7;
--sapUiChartPaletteNoSemDiv1Light2: #e3d0bf;
--sapUiChartPaletteNoSemDiv1Light1: #d1baa4;
--sapUiChartPaletteNoSemDiv1: #bea287;
--sapUiChartPaletteNoSemDiv1Dark1: #a78b6f;
--sapUiChartPaletteNoSemDiv1Dark2: #8a6e52;
--sapUiChartPaletteMidArea: #ffffff;
--sapUiChoroplethBG: #000000;
--sapUiChoroplethRegionBorder: #000000;
--sapUiChoroplethRegionBG: #8c8c8c;
--sapUiMapLegendBG: #000000;
--sapUiMapLegendBorderColor: #FFFFFF;
--sapUiShellHoverBackground: #7A5100;
--sapUiShellActiveBackground: #7A5100;
--sapUiShellActiveTextColor: #FFFFFF;
--sapUiShellHoverToggleBackground: #0F5D94;
--sapUiShellContainerBackground: #000000;
--sapUiShellAltContainerBackground: #000000;
--sapUiShellGroupTextColor: #FFFFFF;
--sapUiUx3ShellHeaderColor: #000000;
--sapUiUx3ShellBackgroundColor: #000000;
--sapUiUx3ShellHoverColor: #7A5100;
--sapUiUx3ShellGradientBottom: #000000;
--sapUiUx3ShellGradientTop: #000000;
--sapUiUx3ShellToolPaletteIconFontColor: #FFFFFF;
--sapUiUx3ExactLstExpandOffset: -1 -2;
--sapUiUx3ExactLstRootExpandOffset: 0 3;
--sapUiUx3ExactLstContentTop: 25px;
--sapUiLinkActive: #FFFFFF;
--sapUiLinkVisited: #FFFFFF;
--sapUiLinkHover: #FFFFFF;
--sapUiLinkInverted: #FFFFFF;
--sapUiNotificationBarBG: #000000;
--sapUiNotifierSeparator: #FFFFFF;
--sapUiNotifierSeparatorWidth: 1px;
--sapUiNotificationBarBorder: #FFFFFF;
--sapUiUx3ToolPopupInverted: false;
--sapUiUx3ToolPopupArrowRightMarginCorrection: -1px;
--sapUiUx3ToolPopupShadow: 0 0.25rem 2rem 0 rgba(255, 255, 255, 0.6), 0 0 0 2px #FFFFFF;
--sapUiCalloutShadow: 0 0.25rem 2rem 0 rgba(255, 255, 255, 0.6), 0 0 0 2px #FFFFFF;
--sapUiButtonIconColor: #FFFFFF;
--sapUiButtonActiveBackground: #7A5100;
--sapUiButtonActiveBorderColor: #FFFFFF;
--sapUiButtonActiveTextColor: #FFFFFF;
--sapUiButtonEmphasizedHoverBackground: #7A5100;
--sapUiButtonEmphasizedHoverBorderColor: #FFFFFF;
--sapUiButtonEmphasizedActiveBackground: #7A5100;
--sapUiButtonEmphasizedActiveBorderColor: #FFFFFF;
--sapUiButtonEmphasizedTextShadow: none;
--sapUiButtonAcceptBorderColor: #FFFFFF;
--sapUiButtonAcceptHoverBackground: #7A5100;
--sapUiButtonAcceptHoverBorderColor: #FFFFFF;
--sapUiButtonAcceptActiveBackground: #7A5100;
--sapUiButtonAcceptActiveBorderColor: #FFFFFF;
--sapUiButtonAcceptTextColor: #FFFFFF;
--sapUiButtonRejectBorderColor: #FFFFFF;
--sapUiButtonRejectHoverBackground: #7A5100;
--sapUiButtonRejectHoverBorderColor: #FFFFFF;
--sapUiButtonRejectActiveBackground: #7A5100;
--sapUiButtonRejectActiveBorderColor: #FFFFFF;
--sapUiButtonRejectTextColor: #FFFFFF;
--sapUiButtonLiteBackground: #000000;
--sapUiButtonLiteBorderColor: #FFFFFF;
--sapUiButtonLiteTextColor: #FFFFFF;
--sapUiButtonLiteHoverBackground: #7A5100;
--sapUiButtonLiteHoverBorderColor: #FFFFFF;
--sapUiButtonLiteActiveBackground: #7A5100;
--sapUiButtonLiteActiveBorderColor: #FFFFFF;
--sapUiButtonHeaderTextColor: #FFFFFF;
--sapUiButtonHeaderDisabledTextColor: #666666;
--sapUiButtonFooterTextColor: #FFFFFF;
--sapUiButtonFooterHoverBackground: #7A5100;
--sapUiButtonActionSelectBackground: #000000;
--sapUiButtonActionSelectBorderColor: #999999;
--sapUiButtonLiteActionSelectHoverBackground: #7A5100;
--sapUiToggleButtonPressedBackground: #0F5D94;
--sapUiToggleButtonPressedBorderColor: #FFFFFF;
--sapUiToggleButtonPressedTextColor: #FFFFFF;
--sapUiToggleButtonPressedHoverBackground: #7A5100;
--sapUiToggleButtonPressedHoverBorderColor: #FFFFFF;
--sapUiSegmentedButtonBackground: #000000;
--sapUiSegmentedButtonBorderColor: #FFFFFF;
--sapUiSegmentedButtonTextColor: #FFFFFF;
--sapUiSegmentedButtonHoverBackground: #7A5100;
--sapUiSegmentedButtonActiveBackground: #7A5100;
--sapUiSegmentedButtonActiveTextColor: #FFFFFF;
--sapUiSegmentedButtonSelectedBackground: #0F5D94;
--sapUiSegmentedButtonSelectedTextColor: #FFFFFF;
--sapUiSegmentedButtonSelectedHoverBackground: #7A5100;
--sapUiSegmentedButtonSelectedHoverBorderColor: #FFFFFF;
--sapUiSegmentedButtonIconColor: #FFFFFF;
--sapUiSegmentedButtonActiveIconColor: #FFFFFF;
--sapUiSegmentedButtonSelectedIconColor: #FFFFFF;
--sapUiSegmentedButtonFooterBorderColor: #FFFFFF;
--sapUiSegmentedButtonFooterHoverBackground: #7A5100;
--sapUiFieldActiveBackground: #7A5100;
--sapUiFieldActiveBorderColor: #FFFFFF;
--sapUiFieldActiveTextColor: #FFFFFF;
--sapUiFieldPlaceholderTextColor: #999999;
--sapUiListTextColor: #FFFFFF;
--sapUiListVerticalBorderColor: #ffffff;
--sapUiListActiveBackground: #7A5100;
--sapUiListActiveTextColor: #FFFFFF;
--sapUiListSelectionHoverBackground: #7A5100;
--sapUiListFooterBackground: #000000;
--sapUiListFooterTextColor: #FFFFFF;
--sapUiListGroupHeaderBackground: #585858;
--sapUiListTableGroupHeaderBackground: #000000;
--sapUiListTableGroupHeaderBorderColor: #ffffff;
--sapUiListTableGroupHeaderTextColor: #FFFFFF;
--sapUiListTableFooterBorder: #ffffff;
--sapUiListTableFixedBorder: #ffffff;
--sapUiListTableTextSize: 0.875rem;
--sapUiListTableIconSize: 1rem;
--sapUiPageFooterBorderColor: #FFFFFF;
--sapUiInfobarHoverBackground: #7A5100;
--sapUiInfobarActiveBackground: #7A5100;
--sapUiObjectHeaderBorderColor: #FFFFFF;
--sapUiCalendarColorToday: #FFFFFF;
--sapUiDragAndDropColor: #FFFFFF;
--sapUiDragAndDropBackground: #000000;
--sapUiDragAndDropBorderColor: #FFFFFF;
--sapUiDragAndDropActiveColor: #03B803;
--sapUiDragAndDropActiveBackground: #000000;
--sapUiDragAndDropActiveBorderColor: #03B803;
--sapUiShadowLevel0: 0 0 0 1px #FFFFFF;
--sapUiShadowLevel1: 0 0 1rem 0 rgba(255, 255, 255, 0.5), 0 0 0 2px #FFFFFF;
--sapUiShadowLevel2: 0 0.25rem 2rem 0 rgba(255, 255, 255, 0.6), 0 0 0 2px #FFFFFF;
--sapUiShadowLevel3: 0 0.625rem 4rem 0 rgba(255, 255, 255, 0.8), 0 0 0 2px #FFFFFF;
--sapUiShadowText: none;
--sapUiShadowHeader: inset 0 -0.125rem #FFFFFF;
--sapUiUx3ShellHeaderImageURL: ;
--sapUiUx3ShellApplicationImageURL: none;
--sapUiLightBoxMagnifyingGlassBorder: 1px solid #FFFFFF;
--sapUiLightBoxMagnifyingGlassBackgroundColor: #000000;

}
