@import "../base/Switch-parameters.css";

:root {
	--sapUiSuccessBGLighten5: rgb(13, 13, 13);
	--sapUiErrorBGLighten4: rgb(13, 13, 13);

	/* Switch */
	--_ui5_switch_outline: 0.125rem;

	/* Switch Track */
	--_ui5_switch_track_bg: var(--sapUiButtonBackground);
	--_ui5_switch_track_checked_bg: var(--sapUiToggleButtonPressedBackground);
	--_ui5_switch_track_hover_bg: var(--sapUiButtonBackground);
	--_ui5_switch_track_hover_border_color: var(--sapUiBaseText);
	--_ui5_switch_track_border_color: var(--sapUiButtonBackground);
	--_ui5_switch_track_checked_border_color: var(--sapUiContentForegroundBorderColor);

	--_ui5_switch_track_disabled_bg: var(--sapUiButtonBackground);
	--_ui5_switch_track_disabled_checked_bg: var(--sapUiHcReducedBackground);
	--_ui5_switch_track_disabled_border_color: var(--sapUiHcReducedForeground);
	--_ui5_switch_track_disabled_semantic_checked_bg: var(--sapUiHcReducedBackground);
	--_ui5_switch_track_disabled_semantic_checked_border_color: var(--sapUiHcReducedForeground);
	--_ui5_switch_track_disabled_semantic_bg: var(--sapUiButtonBackground);
	--_ui5_switch_track_disabled_semantic_border_color: var(--sapUiHcReducedForeground);

	/* Switch Handle */
	--_ui5_switch_handle_bg: var(--sapUiButtonBackground);
	--_ui5_switch_handle_hover_bg: var(--sapUiButtonHoverBackground);
	--_ui5_switch_handle_semantic_hover_bg: var(--sapUiButtonHoverBackground);
	--_ui5_switch_handle_semantic_checked_hover_bg: var(--sapUiButtonHoverBackground);
	--_ui5_switch_handle_semantic_hover_border_color: var(--sapUiContentForegroundBorderColor);
	--_ui5_switch_handle_semantic_checked_hover_border_color: var(--sapUiContentForegroundBorderColor);
	--_ui5_switch_handle_border_width: 0.125rem;

	--_ui5_switch_handle_disabled_bg: var(--sapUiButtonBackground);
	--_ui5_switch_handle_disabled_checked_bg: var(--sapUiHcReducedForeground);
	--_ui5_switch_handle_disabled_border_color: var(--sapUiHcReducedForeground);
	--_ui5_switch_handle_disabled_semantic_checked_bg: var(--sapUiHcReducedBackground);
	--_ui5_switch_handle_disabled_semantic_checked_border_color: var(--sapUiHcReducedForeground);
	--_ui5_switch_handle_disabled_semantic_bg: var(--sapUiButtonBackground);
	--_ui5_switch_handle_disabled_semantic_border_color: var(--sapUiHcReducedForeground);

	/* Switch sementic text */
	--_ui5_switch_text_on_semantic_color: var(--sapUiBaseText);
	--_ui5_switch_text_off_semantic_color: var(--sapUiBaseText);
	--_ui5_switch_text_disabled_color: var(--sapUiHcReducedAltForeground);
}