
<!DOCTYPE html>
<html>
<head>

    <title>Panel - UI5 Web Components</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="Panel: UI5 Web Component sample usage and API docs">
    <meta name="keywords" content="ui5-panel,ui5-webcomponents,ui5 webcomponents,ui5 web components,webcomponents,web components,ui5,api,docs,documentation,sample,usage,examples,demo,Fiori 3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link type="image/x-icon" href="../../../images/favicon.ico" rel="shortcut icon">
	<link type="image/x-icon" href="../../../images/favicon.ico" rel="icon">

    <script>
        window["sap-ui-config"] = {
            "async": true,
            "theme": "sap_belize",
            "compatVersion": "edge",
            "resourceroots": {
                "playground": "../../", "": "https://openui5.hana.ondemand.com/resources/"
            },
            "oninit": "module:sap/ui/core/ComponentSupport",
            "xx-supportedLanguages": ",en"
        };
    </script>

    <script id="sap-ui-bootstrap" src="../../../resources/sap-ui-custom.js" data-sap-ui-logLevel="0"></script>

    <link rel="stylesheet" type="text/css" href="../../../css/style.css">

</head>
<body class="sapUiBody" role="application">
    <div data-sap-ui-component data-name="playground"></div>
</body>
</html>
