.features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

[data-theme='light'] .features {
  background-color: #f3f3f3;
  color: #242526;
}

.features__container {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
  margin-top: 2rem;
}

.feature__image {
  height: 12rem;
  width: 12rem;
}

.feature__image.feature__image_frame {
  width: 18rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__title {
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-wrap: wrap;
}

.feature__desc {
  font-style: normal;
  font-weight: 300;
  text-wrap: wrap;
  text-align: center;
  max-width: 26rem;
}

@media (max-width: 900px) {
  .features__container {
    grid-template-columns: 1fr;
  }

  .features__container {
    margin: 1rem 5rem 1rem 5rem;
  }
}