.content,
.content-group {
    display: flex;
    flex-direction: column;
    padding-block-end: 1rem;
}
.content-padding {
    padding: 0.5rem 1rem 0 1rem;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 22rem);
    grid-auto-rows: 1fr;
    gap: 1rem;
}