@import "../base/Link-parameters.css";

:root {
	--_ui5_link_text_decoration: var(--sapLink_TextDecoration);
	--_ui5_link_hover_text_decoration: var(--sapLink_Hover_TextDecoration);
	--_ui5_link_focused_hover_text_decoration: none;
	--_ui5_link_active_text_decoration: var(--sapLink_Active_TextDecoration);
	--_ui5_link_subtle_text_decoration: underline;
	--_ui5_link_subtle_text_decoration_hover: none;
	--_ui5_link_outline: none;
}