@import "../base/sizes-parameters.css";

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	/* SplitButton */
	--_ui5_split_button_text_button_width: 2.25rem;
	--_ui5_color_picker_slider_container_margin_top: -10px;
	
	/* DayPicker */
	--_ui5_daypicker_selected_item_now_special_day_top: 1.5625rem;
	--_ui5_daypicker_specialday_focused_top: 1.3125rem;
	--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius_alternate: 0.5rem;
	--_ui5_daypicker_specialday_focused_border_bottom: 0.25rem;
	--_ui5_daypicker_item_now_specialday_top: 1.4375rem;
}