@import "../base/SplitButton-parameters.css";

:root {
	--_ui5_split_button_focused_border: 0.125rem dotted var(--sapContent_FocusColor);
	--_ui5_split_button_focused_border_radius: 0.375rem;
	--_ui5_split_button_hover_border_radius: 0;
	--_ui5_split_button_text_button_width: 2.5rem;
	--_ui5_split_button_text_button_right_border_width: 0;
	--_ui5_split_button_transparent_hover_background: var(--sapButton_Hover_Background);
	--_ui5_split_button_host_transparent_hover_background: var(--sapButton_Background);
	--_ui5_split_button_host_transparent_hover_box_shadow: inset 0 0 0 var(--sapButton_BorderWidth) var(--sapButton_BorderColor);
	--_ui5_split_button_transparent_hover_color: var(--sapButton_TextColor);
	--_ui5_split_button_transparent_disabled_background: var(--sapButton_Background);
	
	--_ui5_split_button_host_emphasized_box_shadow: inset 0 0 0 0.125rem var(--sapButton_Emphasized_BorderColor);
	
	--_ui5_split_text_button_emphasized_border: 0.125rem solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_text_button_emphasized_border_width: 0.125rem;
	--_ui5_split_text_button_emphasized_hover_border: 0.125rem solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_text_button_emphasized_hover_border_right: 0.125rem solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_text_button_emphasized_hover_border_left: 0.125rem solid var(--sapButton_Emphasized_BorderColor);
	
	--_ui5_split_arrow_button_emphasized_hover_border: 0.0625rem solid var(--sapButton_Emphasized_BorderColor);
	--_ui5_split_arrow_button_emphasized_hover_border_left: var(--sapButton_BorderWidth);
	--_ui5_split_button_middle_separator_hover_display_emphasized: none;
	--_ui5_split_arrow_button_emphasized_hover_box_shadow:
		inset 0 -0.0625rem 0 var(--sapButton_BorderColor),
		inset -0.0625rem 0 0 var(--sapButton_BorderColor),
		inset 0 0.0625rem 0 var(--sapButton_BorderColor);
	--_ui5_split_arrow_button_emphasized_hover_box_shadow_rtl:
		inset 0 -0.0625rem 0 var(--sapButton_BorderColor),
		inset 0.0625rem 0 0 var(--sapButton_BorderColor),
		inset 0 0.0625rem 0 var(--sapButton_BorderColor);
}
