@import "../base/Badge-parameters.css";

:root {
	--ui5-badge-bg-color-scheme-1: var(--sapActiveColor1_Darken50);
	--ui5-badge-bg-color-scheme-2: var(--sapActiveColor2_Darken62);
	--ui5-badge-bg-color-scheme-3: var(--sapActiveColor3_Darken58);
	--ui5-badge-bg-color-scheme-4:var(--sapActiveColor4_Darken51);
	--ui5-badge-bg-color-scheme-5: var(--sapActiveColor5_Darken55);
	--ui5-badge-bg-color-scheme-6:var(--sapActiveColor6_Darken60);
	--ui5-badge-bg-color-scheme-7:var(--sapActiveColor7_Darken50);
	--ui5-badge-bg-color-scheme-8: var(--sapActiveColor8_Darken61);
	--ui5-badge-bg-color-scheme-9: var(--sapActiveColor9_Darken59);
	--ui5-badge-bg-color-scheme-10: var(--sapActiveColor10_Darken59);
}