@media (prefers-color-scheme: dark) {
	:root {
		--sapBrandColor: var(--sapPrimary2);
		--sapBaseColor: var(--sapPrimary3);
		--sapBackgroundImage: none;
		--sapBackgroundImageOpacity: 1.0;

		--sapCompanyLogo: none;
		--sapContent_GridSize: 1rem;
		--sapContent_MarkerIconColor: var(--sapAccentColor6);
		--sapContent_BadgeBackground: var(--sapAccentColor2);

		--sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
		--sapFontSize: calc(0.875 * var(--sapContent_GridSize));
		--sapTextColor: var(--sapPrimary6);
		--sapLinkColor: var(--sapPrimary2);
		--sapHighlightColor: var(--sapBrandColor);
		--sapShellColor: var(--sapPrimary1);

		--sapPrimary1: #354a5f;
		--sapPrimary2: #91c8f6;
		--sapPrimary3: #29313a;
		--sapPrimary4: #232a31;
		--sapPrimary5: #8696a9;
		--sapPrimary6: #fafafa;
		--sapPrimary7: #d3d7d9;

		--sapAccentColor1: #e78e16;
		--sapAccentColor2: #d04343;
		--sapAccentColor3: #db1f77;
		--sapAccentColor4: #c949aa;
		--sapAccentColor5: #787ce2;
		--sapAccentColor6: #a9d4ff;
		--sapAccentColor7: #0f828f;
		--sapAccentColor8: #7ca10c;
		--sapAccentColor9: #925ace;
		--sapAccentColor10: #647987;

		--sapErrorBorderColor: var(--sapErrorColor);
		--sapWarningBorderColor: var(--sapWarningColor);
		--sapSuccessBorderColor: var(--sapSuccessColor);
		--sapInformationBorderColor: var(--sapInformationColor);
		--sapNeutralBorderColor: var(--sapNeutralColor);

		--sapNegativeElementColor: var(--sapNegativeColor);
		--sapCriticalElementColor: var(--sapCriticalColor);
		--sapPositiveElementColor: var(--sapPositiveColor);
		--sapInformativeElementColor: var(--sapInformativeColor);
		--sapNeutralElementColor: var(--sapNeutralColor);

		--sapNegativeTextColor: var(--sapNegativeColor);
		--sapCriticalTextColor: var(--sapCriticalColor);
		--sapPositiveTextColor: var(--sapPositiveColor);
		--sapNeutralTextColor: var(--sapNeutralColor);

		--sapNegativeColor: #ff8888;
		--sapCriticalColor: #fabd64;
		--sapPositiveColor: #abe2ab;
		--sapInformativeColor: #91c8f6;
		--sapNeutralColor: #d3d7d9;
		--sapErrorColor: var(--sapNegativeColor);
		--sapWarningColor: var(--sapCriticalColor);
		--sapSuccessColor: var(--sapPositiveColor);
		--sapInformationColor: var(--sapInformativeColor);
		--sapIndicationColor_1: #ff5555;
		--sapIndicationColor_2: #ff8888;
		--sapIndicationColor_3: #fabd64;
		--sapIndicationColor_4: #abe2ab;
		--sapIndicationColor_5: #91c8f6;

		--sapSelectedColor: var(--sapHighlightColor);
		--sapActiveColor: var(--sapHighlightColor);
		--sapTitleColor: var(--sapTextColor);
		--sapElement_LineHeight: calc(2.75 * var(--sapContent_GridSize));
		--sapElement_Height: calc(2.25 * var(--sapContent_GridSize));
		--sapElement_BorderWidth: calc(0.0625 * var(--sapContent_GridSize));
		--sapElement_BorderCornerRadius: calc(0.25 * var(--sapContent_GridSize));

		--sapContent_LineHeight: 1.4;
		--sapContent_ElementHeight: 1.37em;
		--sapContent_ElementHeight_PX: 22px;
		--sapContent_IconHeight: var(--sapContent_GridSize);
		--sapContent_IconColor: var(--sapHighlightColor);
		--sapContent_ContrastIconColor: var(--sapContent_ContrastTextColor);
		--sapContent_NonInteractiveIconColor: var(--sapPrimary7);
		--sapContent_ImagePlaceholderBackground: var(--sapBaseColor);
		--sapContent_FocusColor: #fff;
		--sapContent_ContrastFocusColor: #000;
		--sapContent_ShadowColor: #000;
		--sapContent_ContrastShadowColor: #fff;
		--sapContent_SearchHighlightColor: #d4f7db;
		--sapContent_HelpColor: #57b900;
		--sapContent_LabelColor: var(--sapPrimary7);
		--sapContent_DisabledOpacity: 0.4;
		--sapContent_ContrastTextThreshold: 0.5;
		--sapContent_ContrastTextColor: var(--sapPrimary3);
		--sapContent_ForegroundBorderColor: var(--sapPrimary5);

		--sapShell_Background: var(--sapPrimary4);
		--sapShell_BackgroundImageOpacity: 1.0;
		--sapShell_BackgroundImageRepeat: false;
		--sapShell_BackgroundPatternColor: transparent;
		--sapShell_BorderColor: var(--sapShellColor);
		--sapShell_InteractiveTextColor: #d1e8ff;
		--sapShell_Favicon: none;

		--sapButton_BorderColor: var(--sapHighlightColor);
		--sapButton_BorderWidth: var(--sapElement_BorderWidth);
		--sapButton_BorderCornerRadius: var(--sapElement_BorderCornerRadius);
		--sapButton_Background: var(--sapBaseColor);
		--sapButton_Hover_BorderColor: var(--sapButton_BorderColor);
		--sapButton_Active_Background: var(--sapActiveColor);
		--sapButton_Active_BorderColor: var(--sapButton_Active_Background);
		--sapButton_Emphasized_Hover_BorderColor: var(--sapButton_Emphasized_BorderColor);
		--sapButton_Emphasized_Active_Background: var(--sapButton_Active_Background);
		--sapButton_Emphasized_Active_BorderColor: var(--sapButton_Emphasized_Active_Background);
		--sapButton_Emphasized_TextShadow: transparent;
		--sapButton_Emphasized_FontWeight: bold;
		--sapButton_Reject_Background: var(--sapButton_Background);
		--sapButton_Reject_BorderColor: var(--sapNegativeElementColor);
		--sapButton_Reject_Hover_BorderColor: var(--sapButton_Reject_BorderColor);
		--sapButton_Reject_Active_BorderColor: var(--sapButton_Reject_Active_Background);
		--sapButton_Accept_Background: var(--sapButton_Background);
		--sapButton_Accept_BorderColor: var(--sapPositiveElementColor);
		--sapButton_Accept_Hover_BorderColor: var(--sapButton_Accept_BorderColor);
		--sapButton_Accept_Active_BorderColor: var(--sapButton_Accept_Active_Background);
		--sapButton_Selected_Background: var(--sapSelectedColor);

		--sapField_Background: var(--sapBaseColor);
		--sapField_BorderColor: var(--sapPrimary5);
		--sapField_TextColor: var(--sapTextColor);
		--sapField_HelpBackground: var(--sapField_Background);
		--sapField_BorderWidth: var(--sapElement_BorderWidth);
		--sapField_BorderCornerRadius: cacl(0.125 * var(--sapContent_GridSize));
		--sapField_Hover_Background: var(--sapField_Background);
		--sapField_Hover_BorderColor: var(--sapHighlightColor);
		--sapField_Hover_HelpBackground: var(--sapButton_Hover_Background);
		--sapField_Active_BorderColor: var(--sapActiveColor);
		--sapField_Focus_Background: var(--sapField_Background);
		--sapField_Focus_BorderColor: var(--sapField_BorderColor);
		--sapField_Focus_HelpBackground: var(--sapField_Focus_Background);
		--sapField_ReadOnly_HelpBackground: var(--sapField_ReadOnly_Background);
		--sapField_InvalidColor: var(--sapErrorBorderColor);
		--sapField_InvalidBackground: var(--sapField_Background);
		--sapField_WarningColor: var(--sapWarningBorderColor);
		--sapField_WarningBackground: var(--sapField_Background);
		--sapField_SuccessColor: var(--sapSuccessBorderColor);
		--sapField_SuccessBackground: var(--sapField_Background);
		--sapField_InformationColor: var(--sapInformationBorderColor);
		--sapField_InformationBackground: var(--sapField_Background);

		--sapGroup_TitleBackground: transparent;
		--sapGroup_Title_FontSize: var(--sapFontSize);
		--sapGroup_ContentBackground: var(--sapBaseColor);
		--sapGroup_BorderWidth: var(--sapElement_BorderWidth);
		--sapGroup_BorderCornerRadius: 0;
		--sapGroup_FooterBackground: transparent;
		--sapToolbar_Background: transparent;

		--sapList_HeaderBorderColor: var(--sapList_BorderColor);
		--sapList_BorderWidth: var(--sapElement_BorderWidth);
		--sapList_Active_Background: var(--sapActiveColor);
		--sapList_HighlightColor: var(--sapHighlightColor);
		--sapList_SelectionBorderColor: var(--sapSelectedColor);
		--sapList_Background: var(--sapBaseColor);
		--sapList_GroupHeaderBackground: var(--sapList_Background);
		--sapList_GroupHeaderTextColor: var(--sapList_TextColor);
		--sapList_FooterTextColor: var(--sapList_TextColor);

		--sapScrollBar_BorderColor: var(--sapScrollBar_FaceColor);
		--sapScrollBar_SymbolColor: var(--sapContent_IconColor);
		--sapScrollBar_Dimension: calc(0.75 * var(--sapContent_GridSize));
		--sapPageHeader_Background: var(--sapBaseColor);
		--sapInfobar_Background: var(--sapAccentColor7);
		--sapObjectHeader_Background: var(--sapBaseColor);
		--sapBlockLayer_Background: #000;
		--sapTile_Background: var(--sapBaseColor);
		--sapTile_BorderColor: transparent;
	}
}