@import "../base/CalendarHeader-parameters";

:root {
	--_ui5_calendar_header_middle_button_focus_after_width: calc(100% - 0.375rem);
	--_ui5_calendar_header_middle_button_focus_after_height: calc(100% - 0.375rem);
	--_ui5_calendar_header_middle_button_focus_after_top_offset: 0.125rem;
	--_ui5_calendar_header_middle_button_focus_after_left_offset: 0.125rem;
}