/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "../base/DayPicker-parameters.css";

:root {
	--_ui5_daypicker_item_selected_hover_background_color: var(--sapActiveColor_Lighten3); /* lighten(@sapActiveColor, 3);*/
	--_ui5_daypicker_item_border_radius: 0.25rem;
	--_ui5_daypicker_item_now_inner_border_radius: 0.125rem;
}
