@import "../base/DayPicker-parameters.css";

:root {
	--_ui5_daypicker_item_selected_background: var(--sapContent_Selected_Background);
	--_ui5_daypicker_dayname_color: var(--sapContent_LabelColor);
	--_ui5_daypicker_weekname_color: var(--sapContent_LabelColor);
	--_ui5_daypicker_item_border_radius_focus_after: 0.0625rem;
	--_ui5_daypicker_item_selected_border: none;
	--_ui5_daypicker_item_not_selected_focus_border: 0.0625rem dotted var(--sapContent_FocusColor);
	--_ui5_daypicker_item_selected_focus_color: var(--sapContent_ContrastFocusColor);
	--_ui5_daypicker_item_selected_focus_width: 0.0625rem;
	--_ui5_daypicker_item_no_selected_inset: 0.125rem;
	--_ui5_daypicker_item_now_border_focus_after: 0.0625rem dotted var(--sapList_SelectionBorderColor);
	--_ui5_daypicker_item_now_border_radius_focus_after: 0.0625rem;
	--_ui5_day_picker_item_selected_now_border: 0.1875rem solid var(--sapList_Background);
	--_ui5_daypicker_item_border_radius: 0.25rem;
	--_ui5_day_picker_item_selected_now_border_foucs: 0.0625rem dotted var(--sapContent_ContrastFocusColor);
	--_ui5_day_picker_item_selected_now_border_radios_foucs: 0.0625rem;
	--_ui5-dp-item_withsecondtype_border: 0.1875rem;
	--_ui5_daypicker_item_border_radius: 0.25rem;
	--_ui5_daypicker_item_selected_text_border: none;
	--_ui5_daypicker_item_select_between_border: 1px solid var(--sapContent_Selected_ForegroundColor);
}
