@import "../base/YearPicker-parameters.css";

:root {
	--_ui5_yearpicker_item_border_radius: 0.25rem;
	--_ui5_yearpicker_item_background_color: var(--sapList_Background_Darken3); /* darken(@sapList_Background, 3); */
	--_ui5_yearpicker_item_hover_background_color: var(--sapList_Background_Darken3); /* darken(@sapList_Background, 3); */
	--_ui5_yearpicker_item_focus_background_color: var(--sapList_Background_Darken3); /* darken(@sapList_Background, 3); */
}
