@import "../base/Badge-parameters.css";

:root {
	--_ui5-badge-height: 1.375rem;
	--_ui5-badge-border: none;
	--_ui5-badge-border-radius: 0.25rem;
	--_ui5-badge-padding-inline: 0.375em;
	--_ui5-badge-padding-inline-icon-only: 0.313rem;
	--_ui5-badge-text-transform: none;
	--_ui5-badge-icon-height: 1rem;
	--_ui5-badge-icon-gap: 0.25rem;
	--_ui5-badge-font-size: var(--sapFontSize);
	--_ui5-badge-font: var(--sapFontSemiboldDuplexFamily);
	--_ui5-badge-font-weight: normal;
	--_ui5-badge-default-border-color: transparent;
	--_ui5-badge-default-background: var(--ui5-badge-color-scheme-1-background);
	--_ui5-badge-default-color: var(--ui5-badge-color-scheme-1-color);
	--_ui5-badge-letter-spacing: normal;

	--ui5-badge-text-shadow: none;
	--ui5-badge-contrast-text-shadow: none;

	--ui5-badge-color-scheme-1-background: #FFC218;
	--ui5-badge-color-scheme-1-color: #5F2900;

	--ui5-badge-color-scheme-2-background: #FFBABA;
	--ui5-badge-color-scheme-2-color: #770606;

	--ui5-badge-color-scheme-3-background: #FEB7D9;
	--ui5-badge-color-scheme-3-color: #71093D;

	--ui5-badge-color-scheme-4-background: #FFB3F5;
	--ui5-badge-color-scheme-4-color: #67006F;

	--ui5-badge-color-scheme-5-background: #D6C2FF;
	--ui5-badge-color-scheme-5-color: #2500BC;

	--ui5-badge-color-scheme-6-background: #8FD4FF;
	--ui5-badge-color-scheme-6-color: #003776;

	--ui5-badge-color-scheme-7-background: #3CE3C5;
	--ui5-badge-color-scheme-7-color: #033F45;

	--ui5-badge-color-scheme-8-background: #9BDF47;
	--ui5-badge-color-scheme-8-color: #0C420C;

	--ui5-badge-color-scheme-9-background: #E0C1EB;
	--ui5-badge-color-scheme-9-color: #552267;

	--ui5-badge-color-scheme-10-background: #C5CDD3;
	--ui5-badge-color-scheme-10-color: #2C3A48;

	/* set 2 */

	--ui5-badge-set2-color-scheme-1-color: var(--sapIndicationColor_1_TextColor);
	--ui5-badge-set2-color-scheme-1-background: var(--sapIndicationColor_1_Background);
	--ui5-badge-set2-color-scheme-1-border: var(--sapIndicationColor_1_BorderColor);

	--ui5-badge-set2-color-scheme-1-hover-background: var(--sapIndicationColor_1_Hover_Background);

	--ui5-badge-set2-color-scheme-1-active-color: var(--sapIndicationColor_1_Active_TextColor);
	--ui5-badge-set2-color-scheme-1-active-background: var(--sapIndicationColor_1_Active_Background);
	--ui5-badge-set2-color-scheme-1-active-border: var(--sapIndicationColor_1_Active_BorderColor);

	--ui5-badge-set2-color-scheme-2-color: var(--sapIndicationColor_2_TextColor);
	--ui5-badge-set2-color-scheme-2-background: var(--sapIndicationColor_2_Background);
	--ui5-badge-set2-color-scheme-2-border: var(--sapIndicationColor_2_BorderColor);

	--ui5-badge-set2-color-scheme-2-hover-background: var(--sapIndicationColor_2b_Hover_Background);

	--ui5-badge-set2-color-scheme-2-active-color: var(--sapIndicationColor_2_Active_TextColor);
	--ui5-badge-set2-color-scheme-2-active-background: var(--sapIndicationColor_2_Active_Background);
	--ui5-badge-set2-color-scheme-2-active-border: var(--sapIndicationColor_2_Active_BorderColor);

	--ui5-badge-set2-color-scheme-3-color: var(--sapIndicationColor_3_TextColor);
	--ui5-badge-set2-color-scheme-3-background: var(--sapIndicationColor_3_Background);
	--ui5-badge-set2-color-scheme-3-border: var(--sapIndicationColor_3_BorderColor);

	--ui5-badge-set2-color-scheme-3-hover-background: var(--sapIndicationColor_3b_Hover_Background);

	--ui5-badge-set2-color-scheme-3-active-color: var(--sapIndicationColor_3_Active_TextColor);
	--ui5-badge-set2-color-scheme-3-active-background: var(--sapIndicationColor_3_Active_Background);
	--ui5-badge-set2-color-scheme-3-active-border: var(--sapIndicationColor_3_Active_BorderColor);

	--ui5-badge-set2-color-scheme-4-color: var(--sapIndicationColor_4_TextColor);
	--ui5-badge-set2-color-scheme-4-background: var(--sapIndicationColor_4_Background);
	--ui5-badge-set2-color-scheme-4-border: var(--sapIndicationColor_4_BorderColor);

	--ui5-badge-set2-color-scheme-4-hover-background: var(--sapIndicationColor_4b_Hover_Background);

	--ui5-badge-set2-color-scheme-4-active-color: var(--sapIndicationColor_4_Active_TextColor);
	--ui5-badge-set2-color-scheme-4-active-background: var(--sapIndicationColor_4_Active_Background);
	--ui5-badge-set2-color-scheme-4-active-border: var(--sapIndicationColor_4_Active_BorderColor);

	--ui5-badge-set2-color-scheme-5-color: var(--sapIndicationColor_5_TextColor);
	--ui5-badge-set2-color-scheme-5-background: var(--sapIndicationColor_5_Background);
	--ui5-badge-set2-color-scheme-5-border: var(--sapIndicationColor_5_BorderColor);

	--ui5-badge-set2-color-scheme-5-hover-background: var(--sapIndicationColor_5b_Hover_Background);

	--ui5-badge-set2-color-scheme-5-active-color: var(--sapIndicationColor_5_Active_TextColor);
	--ui5-badge-set2-color-scheme-5-active-background: var(--sapIndicationColor_5_Active_Background);
	--ui5-badge-set2-color-scheme-5-active-border: var(--sapIndicationColor_5_Active_BorderColor);

	--ui5-badge-set2-color-scheme-6-color: var(--sapIndicationColor_6_TextColor);
	--ui5-badge-set2-color-scheme-6-background: var(--sapIndicationColor_6_Background);
	--ui5-badge-set2-color-scheme-6-border: var(--sapIndicationColor_6_BorderColor);

	--ui5-badge-set2-color-scheme-6-hover-background: var(--sapIndicationColor_6b_Hover_Background);

	--ui5-badge-set2-color-scheme-6-active-color: var(--sapIndicationColor_6_Active_TextColor);
	--ui5-badge-set2-color-scheme-6-active-background: var(--sapIndicationColor_6_Active_Background);
	--ui5-badge-set2-color-scheme-6-active-border: var(--sapIndicationColor_6_Active_BorderColor);

	--ui5-badge-set2-color-scheme-7-color: var(--sapIndicationColor_7_TextColor);
	--ui5-badge-set2-color-scheme-7-background: var(--sapIndicationColor_7_Background);
	--ui5-badge-set2-color-scheme-7-border: var(--sapIndicationColor_7_BorderColor);

	--ui5-badge-set2-color-scheme-7-hover-background: var(--sapIndicationColor_7b_Hover_Background);

	--ui5-badge-set2-color-scheme-7-active-color: var(--sapIndicationColor_7_Active_TextColor);
	--ui5-badge-set2-color-scheme-7-active-background: var(--sapIndicationColor_7_Active_Background);
	--ui5-badge-set2-color-scheme-7-active-border: var(--sapIndicationColor_7_Active_BorderColor);

	--ui5-badge-set2-color-scheme-8-color: var(--sapIndicationColor_8_TextColor);
	--ui5-badge-set2-color-scheme-8-background: var(--sapIndicationColor_8_Background);
	--ui5-badge-set2-color-scheme-8-border: var(--sapIndicationColor_8_BorderColor);

	--ui5-badge-set2-color-scheme-8-hover-background: var(--sapIndicationColor_8b_Hover_Background);

	--ui5-badge-set2-color-scheme-8-active-color: var(--sapIndicationColor_8_Active_TextColor);
	--ui5-badge-set2-color-scheme-8-active-background: var(--sapIndicationColor_8_Active_Background);
	--ui5-badge-set2-color-scheme-8-active-border: var(--sapIndicationColor_8_Active_BorderColor);

	--ui5-badge-set2-color-scheme-9-color: var(--sapIndicationColor_9_TextColor);
	--ui5-badge-set2-color-scheme-9-background: var(--sapIndicationColor_9_Background);
	--ui5-badge-set2-color-scheme-9-border: var(--sapIndicationColor_9_BorderColor);

	--ui5-badge-set2-color-scheme-9-hover-background: var(--sapIndicationColor_9b_Hover_Background);

	--ui5-badge-set2-color-scheme-9-active-color: var(--sapIndicationColor_9_Active_TextColor);
	--ui5-badge-set2-color-scheme-9-active-background: var(--sapIndicationColor_9_Active_Background);
	--ui5-badge-set2-color-scheme-9-active-border: var(--sapIndicationColor_9_Active_BorderColor);

	--ui5-badge-set2-color-scheme-10-color: var(--sapIndicationColor_10_TextColor);
	--ui5-badge-set2-color-scheme-10-background: var(--sapIndicationColor_10_Background);
	--ui5-badge-set2-color-scheme-10-border: var(--sapIndicationColor_10_BorderColor);

	--ui5-badge-set2-color-scheme-10-hover-background: var(--sapIndicationColor_10b_Hover_Background);

	--ui5-badge-set2-color-scheme-10-active-color: var(--sapIndicationColor_10_Active_TextColor);
	--ui5-badge-set2-color-scheme-10-active-background: var(--sapIndicationColor_10_Active_Background);
	--ui5-badge-set2-color-scheme-10-active-border: var(--sapIndicationColor_10_Active_BorderColor);
}