@import "../base/Input-parameters.css";

:root {
	--_ui5_input_focus_border_width: 0.125rem;
	--_ui5_input_state_border_width: 0.125rem;
	--_ui5_input_value_state_success_border_width: var(--sapField_BorderWidth);
	--_ui5-input-border: var(--sapField_BorderWidth) var(--sapField_BorderStyle) var(--sapField_BorderColor);
	--_ui5_input_information_border_width: .0625rem;
	--_ui5_input_error_warning_border_style: dashed;
	--_ui5_input_error_warning_font_style: italic;
	--_ui5_input_error_warning_text_indent: 0.125rem;
	--_ui5_input_error_font_weight: bold;
	--_ui5_input_warning_font_weight: bold;
	--_ui5_input_disabled_color: var(--sapContent_DisabledTextColor);
	--_ui5_input_disabled_font_weight: normal;
	--_ui5_input_icon_padding: 0.65rem 0.75rem;
	--_ui5_input_information_icon_padding: .5625rem;
	--_ui5_input_placeholder_style: normal;
	--_ui5-input_error_placeholder_color: var(--sapField_TextColor);
	--_ui5_input_custom_icon_padding: .5rem .625rem;
	--_ui5_input_value_state_error_hover_background: var(--sapField_InvalidBackground);
	--_ui5_input_value_state_error_warning_placeholder_font_weight: bold;
	--_ui5_input_focus_outline_color: var(--sapField_Active_BorderColor);
	--_ui5_input_icon_wrapper_height: 100%;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_input_custom_icon_padding: .1875rem .5rem;
	--_ui5_input_information_icon_padding: .25rem .4375rem;
}