body {
	background-color: var(--sapBackgroundColor);
	height: 300px;
}

ui5-icon {
	color: var(--sapButton_IconColor);
}

ui5-icon[name="ai"]:hover {
	background: var(--sapButton_Hover_Background);
	border-left: 1px solid var(--sapButton_BorderColor);
}

ui5-icon[name="ai"].icon-pressed:not(:hover) {
	background: var(--sapField_Hover_Background);
	box-shadow: var(--sapField_Hover_Shadow);
	color: var(--sapButton_Selected_TextColor);
	box-sizing: border-box;
	border-radius: var(--sapField_BorderCornerRadius);

}