:root {
	--sapBrandColor: #0070f2;
	--sapHighlightColor: var(--sapPrimary2);
	--sapBaseColor: var(--sapPrimary3);
	--sapShellColor: var(--sapBaseColor);
	--sapBackgroundColor: var(--sapPrimary4);
	--sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontSize: .875rem;
	--sapTextColor: var(--sapPrimary6);
	--sapLinkColor: var(--sapPrimary2);
	--sapCompanyLogo: none;
	--sapBackgroundImage: none;
	--sapBackgroundImageOpacity: 1;
	--sapBackgroundImageRepeat: false;
	--sapSelectedColor: var(--sapHighlightColor);
	--sapActiveColor: #020303;
	--sapHighlightTextColor: #1d232a;
	--sapTitleColor: var(--sapTextColor);
	--sapNegativeColor: #fa6161;
	--sapCriticalColor: #ffdf72;
	--sapPositiveColor: #97dd40;
	--sapInformativeColor: #4db1ff;
	--sapNeutralColor: #eaecee;
	--sapNegativeElementColor: var(--sapNegativeColor);
	--sapCriticalElementColor: #f7bf00;
	--sapPositiveElementColor: #6dad1f;
	--sapInformativeElementColor: var(--sapInformativeColor);
	--sapNeutralElementColor: #a9b4be;
	--sapNegativeTextColor: var(--sapNegativeColor);
	--sapCriticalTextColor: var(--sapCriticalColor);
	--sapPositiveTextColor: var(--sapPositiveColor);
	--sapInformativeTextColor: var(--sapInformativeColor);
	--sapNeutralTextColor: var(--sapNeutralColor);
	--sapErrorColor: var(--sapNegativeColor);
	--sapWarningColor: var(--sapCriticalColor);
	--sapSuccessColor: var(--sapPositiveColor);
	--sapInformationColor: var(--sapInformativeColor);
	--sapErrorBackground: #350000;
	--sapWarningBackground: #382700;
	--sapSuccessBackground: #11331a;
	--sapInformationBackground: #00144a;
	--sapNeutralBackground: #242e38;
	--sapErrorBorderColor: var(--sapErrorColor);
	--sapWarningBorderColor: #f7bf00;
	--sapSuccessBorderColor: #6dad1f;
	--sapInformationBorderColor: var(--sapInformationColor);
	--sapNeutralBorderColor: var(--sapNeutralElementColor);
	--sapElement_LineHeight: 2.75rem;
	--sapElement_Height: 2.25rem;
	--sapElement_BorderWidth: .0625rem;
	--sapElement_BorderCornerRadius: .75rem;
	--sapElement_Compact_LineHeight: 2rem;
	--sapElement_Compact_Height: 1.625rem;
	--sapElement_Condensed_LineHeight: 1.5rem;
	--sapElement_Condensed_Height: 1.375rem;
	--sapContent_LineHeight: 1.5;
	--sapContent_IconHeight: var(--sapContent_GridSize);
	--sapContent_IconColor: var(--sapTextColor);
	--sapContent_ContrastIconColor: var(--sapContent_ContrastTextColor);
	--sapContent_NonInteractiveIconColor: var(--sapPrimary6);
	--sapContent_MarkerIconColor: var(--sapAccentColor5);
	--sapContent_MarkerTextColor: var(--sapAccentColor7);
	--sapContent_Placeholderloading_Background: #475566;
	--sapContent_Placeholderloading_Gradient: linear-gradient(to right, #475566 0, #475566 20%, #74889f 50%, #475566 80%, #475566 100%);
	--sapContent_ImagePlaceholderBackground: var(--sapAccentBackgroundColor10);
	--sapContent_ImagePlaceholderForegroundColor: var(--sapAccentColor10);
	--sapContent_RatedColor: var(--sapAccentColor1);
	--sapContent_UnratedColor: var(--sapPrimary5);
	--sapContent_FocusColor: var(--sapPrimary2);
	--sapContent_FocusStyle: solid;
	--sapContent_FocusWidth: .125rem;
	--sapContent_ContrastFocusColor: #fff;
	--sapContent_ShadowColor: #000;
	--sapContent_ContrastShadowColor: #fff;
	--sapContent_Shadow0: 0 0 .125rem 0 rgba(255, 255, 255, 0.2), 0 .125rem .5rem 0 rgba(0, 0, 0, 0.3);
	--sapContent_Shadow1: 0 0 0 .0625rem rgba(255, 255, 255, 0.35), 0 .125rem .5rem 0 rgba(0, 0, 0, 0.6);
	--sapContent_Shadow2: 0 0 0 .0625rem rgba(255, 255, 255, 0.35), 0 .625rem 1.875rem 0 rgba(0, 0, 0, 0.6);
	--sapContent_Shadow3: 0 0 0 .0625rem rgba(255, 255, 255, 0.35), 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.6);
	--sapContent_TextShadow: 0 0 .125rem #000;
	--sapContent_ContrastTextShadow: none;
	--sapContent_HeaderShadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.8), inset 0 -0.0625rem 0 0 #2e3742;
	--sapContent_Interaction_Shadow: 0 0 .125rem 0 rgba(234, 236, 238, 0.72);
	--sapContent_Selected_Shadow: 0 0 .125rem 0 rgba(77, 177, 255, 0.72);
	--sapContent_Negative_Shadow: 0 0 .125rem 0 rgba(250, 97, 97, 0.72);
	--sapContent_Critical_Shadow: 0 0 .125rem 0 rgba(255, 223, 114, 0.72);
	--sapContent_Positive_Shadow: 0 0 .125rem 0 rgba(151, 221, 64, 0.72);
	--sapContent_Informative_Shadow: 0 0 .125rem 0 rgba(77, 177, 255, 0.72);
	--sapContent_Neutral_Shadow: 0 0 .125rem 0 rgba(234, 236, 238, 0.72);
	--sapContent_SearchHighlightColor: #046c7a;
	--sapContent_HelpColor: #5dc122;
	--sapContent_LabelColor: var(--sapPrimary7);
	--sapContent_MonospaceFontFamily: "72Mono", "72Monofull", lucida console, monospace;
	--sapContent_MonospaceBoldFontFamily: "72Mono-Bold", "72Mono-Boldfull", lucida console, monospace;
	--sapContent_IconFontFamily: "SAP-icons";
	--sapContent_DisabledTextColor: rgba(234, 236, 238, 0.6);
	--sapContent_DisabledOpacity: .4;
	--sapContent_ContrastTextThreshold: .5;
	--sapContent_ContrastTextColor: var(--sapPrimary3);
	--sapContent_ForegroundColor: #101418;
	--sapContent_ForegroundBorderColor: var(--sapPrimary5);
	--sapContent_ForegroundTextColor: #eaecee;
	--sapContent_BadgeBackground: var(--sapAccentColor2);
	--sapContent_BadgeTextColor: #1d232a;
	--sapContent_DragAndDropActiveColor: var(--sapHighlightColor);
	--sapContent_Selected_TextColor: #4db1ff;
	--sapContent_Selected_Background: var(--sapPrimary3);
	--sapContent_Selected_Hover_Background: var(--sapContent_Selected_Background);
	--sapContent_Selected_ForegroundColor: var(--sapSelectedColor);
	--sapContent_Illustrative_Color1: #5d36ff;
	--sapContent_Illustrative_Color2: #4098ff;
	--sapContent_Illustrative_Color3: #f58b00;
	--sapContent_Illustrative_Color4: #5581ae;
	--sapContent_Illustrative_Color5: #fff;
	--sapContent_Illustrative_Color6: #b9c1c6;
	--sapContent_Illustrative_Color7: #223548;
	--sapContent_Illustrative_Color8: #fff;
	--sapContent_Illustrative_Color9: #64edd2;
	--sapContent_Illustrative_Color10: #ebf8ff;
	--sapContent_Illustrative_Color11: #f31ded;
	--sapContent_Illustrative_Color12: #00a800;
	--sapContent_Illustrative_Color13: #1782ff;
	--sapContent_Illustrative_Color14: #0070f3;
	--sapContent_Illustrative_Color15: #cc7400;
	--sapContent_Illustrative_Color16: #3b0ac6;
	--sapContent_Illustrative_Color17: #00a58a;
	--sapContent_Illustrative_Color18: #2a4259;
	--sapContent_Illustrative_Color19: #324e6b;
	--sapContent_Illustrative_Color20: #3b5b7c;
	--sapFontLightFamily: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontBoldFamily: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontBlackFamily: "72Black", "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontHeaderFamily: var(--sapFontBoldFamily);
	--sapFontSmallSize: .75rem;
	--sapFontLargeSize: 1rem;
	--sapFontHeader1Size: 3rem;
	--sapFontHeader2Size: 2rem;
	--sapFontHeader3Size: 1.5rem;
	--sapFontHeader4Size: 1.25rem;
	--sapFontHeader5Size: 1rem;
	--sapFontHeader6Size: .875rem;
	--sapLink_Hover_Color: #29a1ff;
	--sapLink_Active_Color: var(--sapLinkColor);
	--sapLink_Visited_Color: var(--sapLinkColor);
	--sapLink_InvertedColor: #bde2ff;
	--sapLink_SubtleColor: var(--sapTextColor);
	--sapShell_Background: var(--sapBackgroundColor);
	--sapShell_BackgroundImage: linear-gradient(to bottom, #12171c, #12171c);
	--sapShell_BackgroundImageOpacity: 1;
	--sapShell_BackgroundImageRepeat: false;
	--sapShell_BorderColor: var(--sapShellColor);
	--sapShell_TextColor: #eaecee;
	--sapShell_InteractiveBackground: var(--sapField_Background);
	--sapShell_InteractiveTextColor: var(--sapShell_TextColor);
	--sapShell_InteractiveBorderColor: var(--sapField_BorderColor);
	--sapShell_GroupTitleTextColor: var(--sapTitleColor);
	--sapShell_GroupTitleTextShadow: 0 0 .125rem #000;
	--sapShell_Hover_Background: var(--sapShellColor);
	--sapShell_Active_Background: var(--sapShellColor);
	--sapShell_Active_TextColor: #4db1ff;
	--sapShell_Selected_Background: var(--sapShellColor);
	--sapShell_Selected_TextColor: #4db1ff;
	--sapShell_Selected_Hover_Background: var(--sapShellColor);
	--sapShell_Favicon: none;
	--sapShell_Navigation_Background: var(--sapShellColor);
	--sapShell_Navigation_Hover_Background: var(--sapShell_Hover_Background);
	--sapShell_Navigation_SelectedColor: var(--sapShell_Navigation_Selected_TextColor);
	--sapShell_Navigation_Selected_TextColor: var(--sapShell_InteractiveTextColor);
	--sapShell_Navigation_TextColor: #eaecee;
	--sapShell_Navigation_Active_TextColor: #4db1ff;
	--sapShell_Navigation_Active_Background: var(--sapShell_Active_Background);
	--sapShell_Shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.8), inset 0 -0.0625rem 0 0 rgba(255, 255, 255, 0.2);
	--sapShell_NegativeColor: var(--sapNegativeColor);
	--sapShell_CriticalColor: var(--sapCriticalColor);
	--sapShell_PositiveColor: var(--sapPositiveColor);
	--sapShell_InformativeColor: var(--sapInformativeColor);
	--sapShell_NeutralColor: var(--sapNeutralColor);
	--sapButton_Background: #2e3b47;
	--sapButton_BorderColor: #2e3b47;
	--sapButton_BorderWidth: var(--sapElement_BorderWidth);
	--sapButton_BorderCornerRadius: .5rem;
	--sapButton_TextColor: #eaecee;
	--sapButton_Hover_Background: var(--sapPrimary3);
	--sapButton_Hover_BorderColor: var(--sapButton_Hover_Background);
	--sapButton_Hover_TextColor: #eaecee;
	--sapButton_IconColor: #eaecee;
	--sapButton_Active_Background: #202932;
	--sapButton_Active_BorderColor: var(--sapHighlightColor);
	--sapButton_Active_TextColor: #4db1ff;
	--sapButton_Emphasized_Background: var(--sapBrandColor);
	--sapButton_Emphasized_BorderColor: var(--sapButton_Emphasized_Background);
	--sapButton_Emphasized_TextColor: #eaecee;
	--sapButton_Emphasized_Hover_Background: #0064d9;
	--sapButton_Emphasized_Hover_BorderColor: #0064d9;
	--sapButton_Emphasized_Hover_TextColor: #eaecee;
	--sapButton_Emphasized_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Emphasized_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Emphasized_Active_TextColor: #4db1ff;
	--sapButton_Emphasized_TextShadow: transparent;
	--sapButton_Emphasized_FontWeight: bold;
	--sapButton_Reject_Background: #490000;
	--sapButton_Reject_BorderColor: var(--sapButton_Reject_Background);
	--sapButton_Reject_TextColor: #fa6161;
	--sapButton_Reject_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Reject_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Reject_Hover_TextColor: #fa6161;
	--sapButton_Reject_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Reject_Active_BorderColor: var(--sapErrorBorderColor);
	--sapButton_Reject_Active_TextColor: #fa6161;
	--sapButton_Reject_Selected_Background: var(--sapButton_Reject_Active_Background);
	--sapButton_Reject_Selected_BorderColor: var(--sapButton_Reject_Active_BorderColor);
	--sapButton_Reject_Selected_TextColor: #fa6161;
	--sapButton_Reject_Selected_Hover_Background: var(--sapButton_Reject_Selected_Background);
	--sapButton_Reject_Selected_Hover_BorderColor: var(--sapButton_Reject_Selected_BorderColor);
	--sapButton_Accept_Background: #153e20;
	--sapButton_Accept_BorderColor: var(--sapButton_Accept_Background);
	--sapButton_Accept_TextColor: #97dd40;
	--sapButton_Accept_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Accept_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Accept_Hover_TextColor: #97dd40;
	--sapButton_Accept_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Accept_Active_BorderColor: var(--sapSuccessBorderColor);
	--sapButton_Accept_Active_TextColor: #97dd40;
	--sapButton_Accept_Selected_Background: var(--sapButton_Accept_Active_Background);
	--sapButton_Accept_Selected_BorderColor: var(--sapButton_Accept_Active_BorderColor);
	--sapButton_Accept_Selected_TextColor: #97dd40;
	--sapButton_Accept_Selected_Hover_Background: var(--sapButton_Accept_Hover_Background);
	--sapButton_Accept_Selected_Hover_BorderColor: var(--sapButton_Accept_Selected_BorderColor);
	--sapButton_Lite_Background: transparent;
	--sapButton_Lite_BorderColor: transparent;
	--sapButton_Lite_TextColor: var(--sapHighlightColor);
	--sapButton_Lite_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Lite_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Lite_Hover_TextColor: var(--sapButton_Lite_TextColor);
	--sapButton_Lite_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Lite_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Selected_Background: var(--sapContent_Selected_Background);
	--sapButton_Selected_BorderColor: var(--sapSelectedColor);
	--sapButton_Selected_TextColor: #4db1ff;
	--sapButton_Selected_Hover_Background: var(--sapButton_Selected_Background);
	--sapButton_Selected_Hover_BorderColor: var(--sapButton_Selected_BorderColor);
	--sapButton_Attention_Background: var(--sapWarningBackground);
	--sapButton_Attention_BorderColor: var(--sapButton_Attention_Background);
	--sapButton_Attention_TextColor: #ffdf72;
	--sapButton_Attention_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Attention_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Attention_Hover_TextColor: #ffdf72;
	--sapButton_Attention_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Attention_Active_BorderColor: var(--sapWarningBorderColor);
	--sapButton_Attention_Active_TextColor: #ffdf72;
	--sapButton_Attention_Selected_Background: var(--sapButton_Attention_Active_Background);
	--sapButton_Attention_Selected_BorderColor: var(--sapButton_Attention_Active_BorderColor);
	--sapButton_Attention_Selected_TextColor: #ffdf72;
	--sapButton_Attention_Selected_Hover_Background: var(--sapButton_Attention_Selected_Background);
	--sapButton_Attention_Selected_Hover_BorderColor: var(--sapButton_Attention_Selected_BorderColor);
	--sapButton_Negative_Background: var(--sapNegativeElementColor);
	--sapButton_Negative_BorderColor: var(--sapButton_Negative_Background);
	--sapButton_Negative_TextColor: #1d232a;
	--sapButton_Negative_Hover_Background: #fb7a7a;
	--sapButton_Negative_Hover_BorderColor: var(--sapButton_Negative_Hover_Background);
	--sapButton_Negative_Hover_TextColor: #1d232a;
	--sapButton_Negative_Active_Background: #fc9292;
	--sapButton_Negative_Active_BorderColor: var(--sapButton_Negative_Active_Background);
	--sapButton_Negative_Active_TextColor: #1d232a;
	--sapButton_Critical_Background: var(--sapCriticalElementColor);
	--sapButton_Critical_BorderColor: var(--sapButton_Critical_Background);
	--sapButton_Critical_TextColor: #1d232a;
	--sapButton_Critical_Hover_Background: #ffcf2b;
	--sapButton_Critical_Hover_BorderColor: var(--sapButton_Critical_Hover_Background);
	--sapButton_Critical_Hover_TextColor: #1d232a;
	--sapButton_Critical_Active_Background: #ffd33f;
	--sapButton_Critical_Active_BorderColor: var(--sapButton_Critical_Active_Background);
	--sapButton_Critical_Active_TextColor: #1d232a;
	--sapButton_Success_Background: var(--sapPositiveElementColor);
	--sapButton_Success_BorderColor: var(--sapButton_Success_Background);
	--sapButton_Success_TextColor: #1d232a;
	--sapButton_Success_Hover_Background: #7bc223;
	--sapButton_Success_Hover_BorderColor: var(--sapButton_Success_Hover_Background);
	--sapButton_Success_Hover_TextColor: #1d232a;
	--sapButton_Success_Active_Background: #89d826;
	--sapButton_Success_Active_BorderColor: var(--sapButton_Success_Active_Background);
	--sapButton_Success_Active_TextColor: #1d232a;
	--sapButton_Information_Background: var(--sapInformativeElementColor);
	--sapButton_Information_BorderColor: var(--sapButton_Information_Background);
	--sapButton_Information_TextColor: #1d232a;
	--sapButton_Information_Hover_Background: #67bcff;
	--sapButton_Information_Hover_BorderColor: var(--sapButton_Information_Hover_Background);
	--sapButton_Information_Hover_TextColor: #1d232a;
	--sapButton_Information_Active_Background: #80c7ff;
	--sapButton_Information_Active_BorderColor: var(--sapButton_Information_Active_Background);
	--sapButton_Information_Active_TextColor: #1d232a;
	--sapButton_Neutral_Background: var(--sapNeutralElementColor);
	--sapButton_Neutral_BorderColor: var(--sapButton_Neutral_Background);
	--sapButton_Neutral_TextColor: #1d232a;
	--sapButton_Neutral_Hover_Background: #b8c1c9;
	--sapButton_Neutral_Hover_BorderColor: var(--sapButton_Neutral_Hover_Background);
	--sapButton_Neutral_Hover_TextColor: #1d232a;
	--sapButton_Neutral_Active_Background: #c6cdd4;
	--sapButton_Neutral_Active_BorderColor: var(--sapButton_Neutral_Active_Background);
	--sapButton_Neutral_Active_TextColor: #1d232a;
	--sapButton_Track_Selected_Background: var(--sapHighlightColor);
	--sapButton_Track_Selected_TextColor: var(--sapHighlightColor);
	--sapButton_Track_Background: var(--sapNeutralElementColor);
	--sapButton_Track_TextColor: #1d232a;
	--sapButton_TokenBackground: var(--sapPrimary3);
	--sapButton_TokenBorderColor: var(--sapPrimary5);
	--sapField_Background: #242e38;
	--sapField_TextColor: #fff;
	--sapField_PlaceholderTextColor: var(--sapContent_LabelColor);
	--sapField_BorderColor: var(--sapPrimary5);
	--sapField_HelpBackground: var(--sapField_Background);
	--sapField_BorderWidth: var(--sapElement_BorderWidth);
	--sapField_BorderCornerRadius: .25rem;
	--sapField_Hover_Background: var(--sapBaseColor);
	--sapField_Hover_BorderColor: var(--sapField_BorderColor);
	--sapField_Hover_HelpBackground: var(--sapField_Hover_Background);
	--sapField_Active_BorderColor: var(--sapHighlightColor);
	--sapField_Focus_Background: var(--sapBaseColor);
	--sapField_Focus_BorderColor: var(--sapContent_FocusColor);
	--sapField_Focus_HelpBackground: var(--sapField_Focus_Background);
	--sapField_ReadOnly_Background: transparent;
	--sapField_ReadOnly_BorderColor: var(--sapField_BorderColor);
	--sapField_ReadOnly_HelpBackground: var(--sapField_ReadOnly_Background);
	--sapField_RequiredColor: #ff78a4;
	--sapField_InvalidColor: var(--sapErrorBorderColor);
	--sapField_InvalidBackground: var(--sapErrorBackground);
	--sapField_InvalidBorderWidth: .125rem;
	--sapField_InvalidBorderStyle: solid;
	--sapField_WarningColor: var(--sapWarningBorderColor);
	--sapField_WarningBackground: var(--sapWarningBackground);
	--sapField_WarningBorderWidth: .125rem;
	--sapField_WarningBorderStyle: solid;
	--sapField_SuccessColor: var(--sapSuccessBorderColor);
	--sapField_SuccessBackground: var(--sapSuccessBackground);
	--sapField_SuccessBorderWidth: .0625rem;
	--sapField_SuccessBorderStyle: solid;
	--sapField_InformationColor: var(--sapInformationBorderColor);
	--sapField_InformationBackground: var(--sapInformationBackground);
	--sapField_InformationBorderWidth: .125rem;
	--sapField_InformationBorderStyle: solid;
	--sapGroup_TitleBackground: var(--sapGroup_ContentBackground);
	--sapGroup_TitleBorderColor: #3c4957;
	--sapGroup_TitleTextColor: #eaecee;
	--sapGroup_ContentBackground: var(--sapBaseColor);
	--sapGroup_ContentBorderColor: #323c48;
	--sapGroup_BorderWidth: var(--sapElement_BorderWidth);
	--sapGroup_BorderCornerRadius: .5rem;
	--sapGroup_FooterBackground: transparent;
	--sapToolbar_Background: var(--sapGroup_ContentBackground);
	--sapToolbar_SeparatorColor: #3c4957;
	--sapList_HeaderBackground: var(--sapList_Background);
	--sapList_HeaderBorderColor: var(--sapList_BorderColor);
	--sapList_HeaderTextColor: #eaecee;
	--sapList_BorderColor: #2e3742;
	--sapList_BorderWidth: var(--sapElement_BorderWidth);
	--sapList_TextColor: #eaecee;
	--sapList_Active_TextColor: #eaecee;
	--sapList_Active_Background: var(--sapActiveColor);
	--sapList_SelectionBackgroundColor: var(--sapPrimary1);
	--sapList_SelectionBorderColor: var(--sapSelectedColor);
	--sapList_Hover_SelectionBackground: #223548;
	--sapList_Background: var(--sapBaseColor);
	--sapList_Hover_Background: #232b33;
	--sapList_AlternatingBackground: var(--sapPrimary4);
	--sapList_GroupHeaderBackground: var(--sapList_Background);
	--sapList_GroupHeaderBorderColor: #4b5a6c;
	--sapList_GroupHeaderTextColor: #eaecee;
	--sapList_TableGroupHeaderBackground: #0c0f13;
	--sapList_TableGroupHeaderBorderColor: #4b5a6c;
	--sapList_TableGroupHeaderTextColor: #eaecee;
	--sapList_FooterBackground: var(--sapList_Background);
	--sapList_FooterTextColor: #eaecee;
	--sapList_TableFooterBorder: #4b5a6c;
	--sapList_TableFixedBorderColor: #6e839b;
	--sapScrollBar_FaceColor: #647891;
	--sapScrollBar_TrackColor: var(--sapBaseColor);
	--sapScrollBar_BorderColor: var(--sapScrollBar_FaceColor);
	--sapScrollBar_SymbolColor: var(--sapContent_IconColor);
	--sapScrollBar_Dimension: .75rem;
	--sapScrollBar_Hover_FaceColor: #5b6e85;
	--sapPageHeader_Background: var(--sapBaseColor);
	--sapPageHeader_BorderColor: #2e3742;
	--sapPageHeader_TextColor: #eaecee;
	--sapPageFooter_Background: var(--sapBaseColor);
	--sapPageFooter_BorderColor: #2e3742;
	--sapPageFooter_TextColor: #eaecee;
	--sapInfobar_Background: var(--sapAccentBackgroundColor7);
	--sapInfobar_Hover_Background: var(--sapBaseColor);
	--sapInfobar_Active_Background: var(--sapBaseColor);
	--sapInfobar_NonInteractive_Background: var(--sapPrimary4);
	--sapInfobar_TextColor: #64edd2;
	--sapObjectHeader_Background: var(--sapBaseColor);
	--sapObjectHeader_Hover_Background: #232b33;
	--sapObjectHeader_BorderColor: #2e3742;
	--sapBlockLayer_Background: #000;
	--sapTile_Background: var(--sapBaseColor);
	--sapTile_Hover_Background: var(--sapTile_Background);
	--sapTile_Active_Background: #15191e;
	--sapTile_BorderColor: transparent;
	--sapTile_TitleTextColor: #eaecee;
	--sapTile_TextColor: #8396a8;
	--sapTile_IconColor: #8396a8;
	--sapTile_SeparatorColor: #475566;
	--sapTile_Interactive_BorderColor: #5b6e85;
	--sapTile_OverlayBackground: rgba(29, 35, 42, 0.96);
	--sapTile_OverlayForegroundColor: #eaecee;
	--sapAccentColor1: #ffdf72;
	--sapAccentColor2: #ff8cb2;
	--sapAccentColor3: #fecbda;
	--sapAccentColor4: #ffafed;
	--sapAccentColor5: #d3b6ff;
	--sapAccentColor6: #a6e0ff;
	--sapAccentColor7: #64edd2;
	--sapAccentColor8: #bde986;
	--sapAccentColor9: #b995e0;
	--sapAccentColor10: #d5dadd;
	--sapAccentBackgroundColor1: #ae4000;
	--sapAccentBackgroundColor2: #890506;
	--sapAccentBackgroundColor3: #b40569;
	--sapAccentBackgroundColor4: #8700b8;
	--sapAccentBackgroundColor5: #470cf1;
	--sapAccentBackgroundColor6: #0054cc;
	--sapAccentBackgroundColor7: #036573;
	--sapAccentBackgroundColor8: #236c39;
	--sapAccentBackgroundColor9: #4e247a;
	--sapAccentBackgroundColor10: #45617c;
	--sapIndicationColor_1: #fd3535;
	--sapIndicationColor_1_Hover_Background: #fd4e4e;
	--sapIndicationColor_1_Active_Background: #fe6767;
	--sapIndicationColor_1_TextColor: #eaecee;
	--sapIndicationColor_2: #ff8f8f;
	--sapIndicationColor_2_Hover_Background: #ffa9a9;
	--sapIndicationColor_2_Active_Background: #ffc2c2;
	--sapIndicationColor_2_TextColor: #1d232a;
	--sapIndicationColor_3: #ffc933;
	--sapIndicationColor_3_Hover_Background: #ffcd42;
	--sapIndicationColor_3_Active_Background: #ffd152;
	--sapIndicationColor_3_TextColor: #1d232a;
	--sapIndicationColor_4: #bde986;
	--sapIndicationColor_4_Hover_Background: #c9ed9c;
	--sapIndicationColor_4_Active_Background: #d5f1b1;
	--sapIndicationColor_4_TextColor: #1d232a;
	--sapIndicationColor_5: #a6e0ff;
	--sapIndicationColor_5_Hover_Background: #c0e9ff;
	--sapIndicationColor_5_Active_Background: #d9f2ff;
	--sapIndicationColor_5_TextColor: #1d232a;
	--sapIndicationColor_6: #64edd2;
	--sapIndicationColor_6_Hover_Background: #7bf0d9;
	--sapIndicationColor_6_Active_Background: #92f2df;
	--sapIndicationColor_6_TextColor: #1d232a;
	--sapIndicationColor_7: #d3b6ff;
	--sapIndicationColor_7_Hover_Background: #e2d0ff;
	--sapIndicationColor_7_Active_Background: #f2e9ff;
	--sapIndicationColor_7_TextColor: #1d232a;
	--sapIndicationColor_8: #ff8af0;
	--sapIndicationColor_8_Hover_Background: #ffa3f3;
	--sapIndicationColor_8_Active_Background: #ffbdf7;
	--sapIndicationColor_8_TextColor: #1d232a;
	--sapLegend_WorkingBackground: var(--sapList_Background);
	--sapLegend_NonWorkingBackground: #0c0f12;
	--sapLegend_CurrentDateTime: var(--sapAccentColor4);
	--sapLegendColor1: #ffb300;
	--sapLegendColor2: #f5734b;
	--sapLegendColor3: #feabc8;
	--sapLegendColor4: #db7070;
	--sapLegendColor5: #ff8af0;
	--sapLegendColor6: #89d1ff;
	--sapLegendColor7: #2ce0bf;
	--sapLegendColor8: #97dd40;
	--sapLegendColor9: #a9b4be;
	--sapLegendColor10: #aa7dd9;
	--sapLegendColor11: #f58b00;
	--sapLegendColor12: #fbbfac;
	--sapLegendColor13: #ffa1a1;
	--sapLegendColor14: #ff9e74;
	--sapLegendColor15: #af9cc3;
	--sapLegendColor16: #aabce3;
	--sapLegendColor17: #dafdf5;
	--sapLegendColor18: #d5f1b1;
	--sapLegendColor19: #d1efff;
	--sapLegendColor20: #e2d8ff;
	--sapLegendBackgroundColor1: #382700;
	--sapLegendBackgroundColor2: #501605;
	--sapLegendBackgroundColor3: #510136;
	--sapLegendBackgroundColor4: #411c1c;
	--sapLegendBackgroundColor5: #28004a;
	--sapLegendBackgroundColor6: #00144a;
	--sapLegendBackgroundColor7: #012931;
	--sapLegendBackgroundColor8: #1f2519;
	--sapLegendBackgroundColor9: #182430;
	--sapLegendBackgroundColor10: #30164b;
	--sapLegendBackgroundColor11: #571400;
	--sapLegendBackgroundColor12: #360c03;
	--sapLegendBackgroundColor13: #3d0000;
	--sapLegendBackgroundColor14: #421502;
	--sapLegendBackgroundColor15: #332640;
	--sapLegendBackgroundColor16: #121d35;
	--sapLegendBackgroundColor17: #013131;
	--sapLegendBackgroundColor18: #1e3009;
	--sapLegendBackgroundColor19: #0a285c;
	--sapLegendBackgroundColor20: #1c0c6e;
	--sapChart_OrderedColor_1: #1b90ff;
	--sapChart_OrderedColor_2: #f26018;
	--sapChart_OrderedColor_3: #179c6f;
	--sapChart_OrderedColor_4: #f62866;
	--sapChart_OrderedColor_5: #863fd5;
	--sapChart_OrderedColor_6: #04a29d;
	--sapChart_OrderedColor_7: #0070f2;
	--sapChart_OrderedColor_8: #cc00dc;
	--sapChart_OrderedColor_9: #8396a8;
	--sapChart_OrderedColor_10: #f54747;
	--sapChart_OrderedColor_11: #20578c;
	--sapChart_Bad: #f53232;
	--sapChart_Critical: #e76500;
	--sapChart_Good: #30914c;
	--sapChart_Neutral: #788fa6;
	--sapChart_Sequence_1: var(--sapChart_OrderedColor_1);
	--sapChart_Sequence_2: var(--sapChart_OrderedColor_2);
	--sapChart_Sequence_3: var(--sapChart_OrderedColor_3);
	--sapChart_Sequence_4: var(--sapChart_OrderedColor_4);
	--sapChart_Sequence_5: var(--sapChart_OrderedColor_5);
	--sapChart_Sequence_6: var(--sapChart_OrderedColor_6);
	--sapChart_Sequence_7: var(--sapChart_OrderedColor_7);
	--sapChart_Sequence_8: var(--sapChart_OrderedColor_8);
	--sapChart_Sequence_9: var(--sapChart_OrderedColor_9);
	--sapChart_Sequence_10: var(--sapChart_OrderedColor_10);
	--sapChart_Sequence_11: var(--sapChart_OrderedColor_11);
	--sapChart_Sequence_Neutral: var(--sapChart_Neutral);
	--sapBackgroundColorDefault: #171b21;
	--sapList_HighlightColor: var(--sapHighlightColor);
	--sapButton_Disabled_Background: var(--sapDeprecated_Color);
	--sapButton_Disabled_BorderColor: var(--sapDeprecated_Color);
	--sapButton_Disabled_TextColor: var(--sapDeprecated_Color);
	--sapField_Disabled_Background: var(--sapDeprecated_Color);
	--sapField_Disabled_TextColor: var(--sapDeprecated_Color);
	--sapField_Disabled_BorderColor: var(--sapDeprecated_Color);
	--sapField_Disabled_HelpBackground: var(--sapDeprecated_Color);
	--sapContent_ElementHeight: 1.37em;
	--sapContent_ElementHeight_PX: 22px;
	--sapShell_BackgroundGradient: linear-gradient(to bottom, #12171c, #12171c);
	--sapGroup_Title_FontSize: var(--sapFontSize);
	--sapDeprecated_Color: #0f0;
	--sapDeprecated_Dimension: 500px;
	--sapDefault_Color: #111;
	--sapDefault_Dimension: 111px;
	--sapDefault_URI: url('../base/111');
	--sapDefault_Font: "111";
	--sapDefault_FontWeight: bold;
	--sapDefault_Float: 111.111;
	--sapDefault_Boolean: false;
	--sapDefault_BorderStyle: solid;
	--sapDefault_Shadow: none;
	--sapToBeDefined: To Be Defined;
	--sapContent_GridSize: 1rem;
	--sapShell_BackgroundPatternColor: transparent;
	--sapHC_StandardBackground: #fff;
	--sapHC_HighlightBackground: #ec8b46;
	--sapHC_HighlightAltBackground: #8fb5ff;
	--sapHC_ReducedBackground: #b3b3b3;
	--sapHC_ReducedAltBackground: #4d4d4d;
	--sapHC_StandardForeground: #000;
	--sapHC_EnhancedForeground: #006500;
	--sapHC_ReducedForeground: #888;
	--sapHC_ReducedAltForeground: #585858;
	--sapHC_NegativeColor: #ab0000;
	--sapHC_CriticalColor: #5c5c00;
	--sapHC_PositiveColor: #006362;
	--sapHC_InformativeColor: #000;
	--sapHC_NeutralColor: #000;
	--sapPrimary1: #1d2d3e;
	--sapPrimary2: #4db1ff;
	--sapPrimary3: #1d232a;
	--sapPrimary4: #12171c;
	--sapPrimary5: #a9b4be;
	--sapPrimary6: #eaecee;
	--sapPrimary7: #8396a8;
}
