body {
	background-color: var(--sapBackgroundColor)
}

#panelContent,
#panelContentFirstRow {
	display: flex;
	flex: 1;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#panelContentFirstRow {
	flex-direction: row;
	gap: .5rem;
}