.header{display:flex;align-items:center;width:100%}.panel1auto{background-color:var(--sapBackgroundColor)}#panel-stickyHeader::part(content){max-height:70px}#panel-expandable::part(header){color:green}
