.timeline_auto{padding-inline-start:2rem}.header{display:flex;justify-content:center}.timeline-vertical-container{max-height:25rem;overflow:auto;margin-bottom:5rem;display:flex}.timeline-horizontal-container{max-width:50%;overflow:auto}
