.text {
    display: inline-block;
    font-size: var(--sapFontSize);
    font-family: var(--sapFontFamily);
    color: var(--sapTextColor);
    line-height: normal;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
}