/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

:root {
    --ui5-avatar-initials-color: #fff;
    --ui5-avatar-initials-border: .0625rem solid #fff;
    --ui5-avatar-accent1: #000;
    --ui5-avatar-accent2: #000;
    --ui5-avatar-accent3: #000;
    --ui5-avatar-accent4: #000;
    --ui5-avatar-accent5: #000;
    --ui5-avatar-accent6: #000;
    --ui5-avatar-accent7: #000;
    --ui5-avatar-accent8: #000;
    --ui5-avatar-accent9: #000;
    --ui5-avatar-accent10: #000;
    --ui5-avatar-placeholder: #000;
}
