@import "../base/Avatar-parameters.css";

:root {
	--ui5-avatar-hover-box-shadow-offset: 0px;
	--ui5-avatar-initials-color: #fff;
	--ui5-avatar-initials-border: .0625rem solid #fff;
	--ui5-avatar-accent1: #000;
	--ui5-avatar-accent2: #000;
	--ui5-avatar-accent3: #000;
	--ui5-avatar-accent4: #000;
	--ui5-avatar-accent5: #000;
	--ui5-avatar-accent6: #000;
	--ui5-avatar-accent7: #000;
	--ui5-avatar-accent8: #000;
	--ui5-avatar-accent9: #000;
	--ui5-avatar-accent10: #000;
	--ui5-avatar-placeholder: #000;
	--_ui5_avatar_outline: 0.125rem dotted var(--sapContent_FocusColor);
	--_ui5_avatar_focus_offset: 0.125rem;
}