
@import "../base/Badge-parameters.css";

:root {
	--ui5-badge-bg-color-scheme-1: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-1: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-2: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-2: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-3: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-3: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-4:var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-4: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-5: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-5: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-6:var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-6: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-7:var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-7: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-8: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-8: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-9: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-9: var(--sapGroup_ContentBorderColor);
	--ui5-badge-bg-color-scheme-10: var(--sapGroup_ContentBackground);
	--ui5-badge-border-color-scheme-10: var(--sapGroup_ContentBorderColor);
}