:root {
	--sapBrandColor: var(--sapHC_HighlightBackground);
	--sapHighlightColor: var(--sapBrandColor);
	--sapBaseColor: var(--sapHC_StandardBackground);
	--sapShellColor: var(--sapHC_StandardBackground);
	--sapBackgroundColorDefault: var(--sapHC_StandardBackground);
	--sapBackgroundColor: var(--sapHC_StandardBackground);
	--sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontSize: calc(0.875 * var(--sapContent_GridSize));
	--sapTextColor: var(--sapHC_StandardForeground);
	--sapLinkColor: var(--sapHC_StandardForeground);
	--sapCompanyLogo: none;
	--sapBackgroundImage: none;
	--sapBackgroundImageOpacity: 1.0;
	--sapBackgroundImageRepeat: false;
	--sapContent_GridSize: 1rem;
	--sapHC_StandardBackground: #000000;
	--sapHC_HighlightBackground: #7A5100;
	--sapHC_HighlightAltBackground: #0F5D94;
	--sapHC_ReducedBackground: #585858;
	--sapHC_ReducedAltBackground: #A2A39F;
	--sapHC_StandardForeground: #FFFFFF;
	--sapHC_EnhancedForeground: #03B803;
	--sapHC_ReducedForeground: #666666;
	--sapHC_ReducedAltForeground: #999999;

	/* Semantic Colors */
	--sapHC_NegativeColor: #FF5E5E;
	--sapHC_CriticalColor: #FFAB1D;
	--sapHC_PositiveColor: #99CC99;
	--sapHC_InformativeColor: #7a5100;
	--sapHC_NeutralColor: #FFFFFF;

	/* ACCENT COLORS */
	--sapAccentColor1: #ffc847;
	--sapAccentColor2: #ed884a;
	--sapAccentColor3: #db9292;
	--sapAccentColor4: #e269c9;
	--sapAccentColor5: #8ca7d5;
	--sapAccentColor6: #6bd3ff;
	--sapAccentColor7: #7fc6c6;
	--sapAccentColor8: #b2e484;
	/* Semantic Background Colors */
	--sapErrorBackground: var(--sapHC_StandardBackground);
	--sapWarningBackground: var(--sapHC_StandardBackground);
	--sapSuccessBackground: var(--sapHC_StandardBackground);
	--sapInformationBackground: var(--sapHC_StandardBackground);
	--sapNeutralBackground: var(--sapHC_StandardBackground);
	/* Semantic Border Colors */
	--sapErrorBorderColor: var(--sapErrorColor);
	--sapWarningBorderColor: var(--sapWarningColor);
	--sapSuccessBorderColor: var(--sapSuccessColor);
	--sapInformationBorderColor: var(--sapInformationColor);
	--sapNeutralBorderColor: var(--sapNeutralColor);
	/* Semantic Foreground Elements */
	--sapNegativeElementColor: var(--sapNegativeColor);
	--sapCriticalElementColor: var(--sapCriticalColor);
	--sapPositiveElementColor: var(--sapPositiveColor);
	--sapInformativeElementColor: var(--sapInformativeColor);
	--sapNeutralElementColor: var(--sapNeutralColor);
	/* Semantic Text */
	--sapNegativeTextColor: var(--sapNegativeColor);
	--sapCriticalTextColor: var(--sapCriticalColor);
	--sapPositiveTextColor: var(--sapPositiveColor);
	--sapInformativeTextColor: var(--sapInformativeColor);
	--sapNeutralTextColor: var(--sapNeutralColor);
	/* Semantic Foreground Colors */
	--sapNegativeColor: var(--sapHC_NegativeColor);
	--sapCriticalColor: var(--sapHC_CriticalColor);
	--sapPositiveColor: var(--sapHC_PositiveColor);
	--sapInformativeColor: var(--sapHC_InformativeColor);
	--sapNeutralColor: var(--sapHC_NeutralColor);
	--sapErrorColor: var(--sapNegativeColor);
	--sapWarningColor: var(--sapCriticalColor);
	--sapSuccessColor: var(--sapPositiveColor);
	--sapInformationColor: var(--sapInformativeColor);
	--sapIndicationColor_1: #ff5e5e;
	--sapIndicationColor_2: #ff9191;
	--sapIndicationColor_3: #ffab1d;
	--sapIndicationColor_4: #99cc99;
	--sapIndicationColor_5: #0f5d94;
	/* ===================================== */
	/* Expert Theming                        */
	/* ===================================== */
	--sapSelectedColor: var(--sapHC_HighlightAltBackground);
	--sapActiveColor: var(--sapHighlightColor);
	--sapTitleColor: var(--sapTextColor);
	--sapElement_LineHeight: calc(3 * var(--sapContent_GridSize));
	--sapElement_Height: calc(2.5 * var(--sapContent_GridSize));
	--sapElement_BorderWidth: calc(0.0625 * var(--sapContent_GridSize));
	--sapContent_LineHeight: 1.4;
	--sapContent_ElementHeight: 1.37em;
	--sapContent_ElementHeight_PX: 22px;
	--sapContent_IconHeight: var(--sapContent_GridSize);
	--sapContent_IconColor: var(--sapHC_StandardForeground);
	--sapContent_ContrastIconColor: var(--sapContent_IconColor);
	--sapContent_NonInteractiveIconColor: var(--sapContent_IconColor);
	--sapContent_MarkerIconColor: var(--sapContent_IconColor);
	--sapContent_MarkerTextColor: var(--sapTextColor);
	--sapContent_ImagePlaceholderBackground: var(--sapBackgroundColor);
	--sapContent_ImagePlaceholderForegroundColor: var(--sapHC_ReducedAltForeground);
	--sapContent_FocusColor: var(--sapHC_StandardForeground);
	--sapContent_ContrastFocusColor: var(--sapContent_FocusColor);
	--sapContent_ShadowColor: var(--sapHC_StandardForeground);
	--sapContent_ContrastShadowColor: var(--sapContent_ShadowColor);
	--sapContent_SearchHighlightColor: var(--sapHighlightColor);
	--sapContent_HelpColor: var(--sapHC_EnhancedForeground);
	--sapContent_LabelColor: var(--sapTextColor);
	--sapContent_MonospaceFontFamily: lucida console, monospace;
	--sapContent_DisabledTextColor: var(--sapHC_ReducedForeground);
	--sapContent_DisabledOpacity: 0.5;
	--sapContent_ContrastTextThreshold: 0.65;
	--sapContent_ContrastTextColor: var(--sapTextColor);
	--sapContent_ForegroundColor: var(--sapBackgroundColor);
	--sapContent_ForegroundBorderColor: var(--sapHC_StandardForeground);
	--sapContent_BadgeBackground: var(--sapHighlightColor);
	--sapShell_Background: var(--sapBackgroundColor);
	--sapShell_BackgroundImage: var(--sapBackgroundColor);
	--sapShell_BackgroundImageOpacity: 1.0;
	--sapShell_BackgroundImageRepeat: false;
	--sapShell_BackgroundPatternColor: var(--sapBackgroundColor);
	--sapShell_BackgroundGradient: var(--sapBackgroundColor);
	--sapShell_BorderColor: var(--sapHC_StandardForeground);
	--sapShell_TextColor: var(--sapTextColor);
	--sapShell_InteractiveTextColor: var(--sapShell_TextColor);
	--sapShell_Favicon: none;
	--sapButton_BorderWidth: var(--sapElement_BorderWidth);
	--sapButton_BorderCornerRadius: calc(0.2 * var(--sapContent_GridSize));
	--sapButton_Background: var(--sapBackgroundColor);
	--sapButton_BorderColor: var(--sapHC_StandardForeground);
	--sapButton_Hover_Background: var(--sapHighlightColor);
	--sapButton_Hover_BorderColor: var(--sapButton_BorderColor);

	--sapButton_Emphasized_Background: var(--sapButton_Background);
	--sapButton_Emphasized_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Reject_Background: var(--sapButton_Background);
	--sapButton_Accept_Background: var(--sapButton_Background);
	--sapField_Background: var(--sapBackgroundColor);
	--sapField_BorderColor: var(--sapHC_StandardForeground);
	--sapField_TextColor: var(--sapTextColor);
	--sapField_HelpBackground: var(--sapField_Background);
	--sapField_BorderWidth: var(--sapElement_BorderWidth);
	--sapField_BorderCornerRadius: 0;
	--sapField_Hover_Background: var(--sapField_Background);
	--sapField_Hover_BorderColor: var(--sapField_BorderColor);
	--sapField_Hover_HelpBackground: var(--sapField_Background);
	--sapField_Focus_Background: var(--sapField_Background);
	--sapField_Focus_BorderColor: var(--sapField_BorderColor);
	--sapField_Focus_HelpBackground: var(--sapField_Background);
	--sapField_ReadOnly_Background: var(--sapHC_ReducedBackground);
	--sapField_ReadOnly_BorderColor: var(--sapHC_ReducedAltForeground);
	--sapField_ReadOnly_HelpBackground: var(--sapField_ReadOnly_Background);
	--sapField_RequiredColor: var(--sapTextColor);
	--sapField_InvalidColor: var(--sapField_BorderColor);
	--sapField_InvalidBackground: var(--sapHighlightColor);
	--sapField_WarningColor: var(--sapField_BorderColor);
	--sapField_WarningBackground: var(--sapField_Background);
	--sapField_SuccessColor: var(--sapField_BorderColor);
	--sapField_SuccessBackground: var(--sapField_Background);
	--sapField_InformationColor: var(--sapField_BorderColor);
	--sapField_InformationBackground: var(--sapField_Background);
	--sapGroup_TitleBackground: var(--sapBackgroundColor);
	--sapGroup_TitleBorderColor: var(--sapHC_StandardForeground);
	--sapGroup_Title_FontSize: var(--sapFontSize);
	--sapGroup_ContentBackground: var(--sapBackgroundColor);
	--sapGroup_ContentBorderColor: var(--sapHC_StandardForeground);
	--sapGroup_BorderWidth: var(--sapElement_BorderWidth);
	--sapGroup_BorderCornerRadius: 0;
	--sapGroup_FooterBackground: var(--sapBackgroundColor);
	--sapToolbar_Background: var(--sapBackgroundColor);
	--sapToolbar_SeparatorColor: var(--sapHC_StandardForeground);
	--sapList_HeaderBackground: var(--sapBackgroundColor);
	--sapList_HeaderBorderColor: var(--sapHC_StandardForeground);
	--sapList_BorderColor: var(--sapHC_ReducedAltForeground);
	--sapList_BorderWidth: var(--sapElement_BorderWidth);
	--sapList_HighlightColor: var(--sapHighlightColor);
	--sapList_SelectionBackgroundColor: var(--sapSelectedColor);
	--sapList_Background: var(--sapBackgroundColor);
	--sapList_Hover_Background: var(--sapHighlightColor);
	--sapScrollBar_FaceColor: var(--sapHC_ReducedAltForeground);
	--sapScrollBar_TrackColor: var(--sapBackgroundColor);
	--sapScrollBar_BorderColor: var(--sapScrollBar_FaceColor);
	--sapScrollBar_SymbolColor: var(--sapContent_IconColor);
	--sapScrollBar_Dimension: calc(0.7 * var(--sapContent_GridSize));
	--sapScrollBar_Hover_FaceColor: var(--sapHC_StandardForeground);
	--sapPageHeader_Background: var(--sapBaseColor);
	--sapPageHeader_BorderColor: var(--sapHC_StandardForeground);

	--sapPageFooter_Background: var(--sapBackgroundColor);
	--sapInfobar_Background: var(--sapBackgroundColor);
	--sapObjectHeader_Background: var(--sapBaseColor);
	--sapBlockLayer_Background: var(--sapBackgroundColor);
	--sapTile_Background: var(--sapBackgroundColor);
	--sapTile_BorderColor: var(--sapHC_StandardForeground);
}