/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/Card.less";
@import "../sap_belize/Card.less";

/* ============================= */
/* Global Belize parameters      */
/* ============================= */
@import "./base.less";
@import "./global.less";

@_ui5_card_header_hover_bg: @sapUiHighlight;
@_ui5_card_header_active_bg: @sapUiHighlight;
@_ui5_card_header_border_color: @sapUiTileBorderColor;