/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/CheckBox.less";
@import "../sap_belize/CheckBox.less";

/* ============================= */
/* Global Belize parameters      */
/* ============================= */
@import "./base.less";
@import "./global.less";

/* =============================== */
/* CSS for ui5-checkbox            */
/* HCB parameters                  */
/* =============================== */
@_ui5_checkbox_inner_border_radius: 0;
@_ui5_checkbox_checkmark_color: @sapUiContentIconColor;
@_ui5_checkbox_inner_error_border: 0.125rem dashed @sapUiFieldInvalidColor;
@_ui5_checkbox_inner_warning_border: 0.125rem dashed @sapUiFieldWarningColor;
@_ui5_checkbox_checkmark_warning_color: @sapUiFieldWarningColor;
@_ui5_checkbox_hover_background: @sapUiSelected;
@_ui5_checkbox_focus_outline: 0.125rem dotted @sapUiContentFocusColor;