/* ============================= */
/* Base theme                    */
/* ============================= */

@import "../base/DayPicker.less";

/* ============================= */
/* Belize theme                  */
/* ============================= */

@import "../sap_belize/DayPicker.less";

/* ============================= */
/* Global Belize HCB parameters  */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* ============================= */
/* Belize HCB theme              */
/* ============================= */

@_ui5_daypicker_item_hover_background_color: @sapUiHighlight;
@_ui5_daypicker_item_margin: 0;
@_ui5_daypicker_item_weekend_background_color: @sapUiHcReducedBackground;
@_ui5_daypicker_item_weekend_hover_background_color: @sapUiHighlight;
@_ui5_daypicker_item_othermonth_hover_background_color: @sapUiHighlight;
@_ui5_daypicker_item_selected_background_color: @sapUiHighlight;
@_ui5_daypicker_item_selected_hover_background_color: @sapUiHighlight;

.sapWCDayPickerWeekName,
.sapWCDayPickerDayName {
	color: @sapUiHcReducedForeground;
}

.sapWCDayPickerItem {
	border: 1px solid @sapUiListBorderColor;
}

.sapWCDayPickerItem:focus::after {
	border-width: 0.125rem;
	top: 0;
	left: 0;
}

.sapWCDayPickerItem.sapWCDayPickerItemSel.sapWCDayPickerItemNow:focus::after {
	width: calc(~"100% - 0.25rem");
	height: calc(~"100% - 0.25rem");
}

.sapWCDayPickerItem.sapWCDayPickerItemOtherMonth {
	border-color: transparent;
}