@import "../base/DayPicker-parameters.css";

:root {
	--_ui5_daypicker_item_margin: 0;
	--_ui5_daypicker_item_border: 1px solid var(--sapList_BorderColor);
	--_ui5_daypicker_item_outline_width: 0.125rem;
	--_ui5_daypicker_item_outline_offset: 0;
	--_ui5_daypicker_dayname_color: var(--sapHC_ReducedForeground);
	--_ui5_daypicker_weekname_color: var(--sapHC_ReducedForeground);
	--_ui5_daypicker_item_now_selected_focus_after_width: calc(100% - 0.25rem);
	--_ui5_daypicker_item_now_selected_focus_after_height: calc(100% - 0.25rem);
	--_ui5_daypicker_item_selected_box_shadow: none;
	--_ui5_daypicker_item_not_selected_focus_border: 0.125rem dotted var(--sapContent_FocusColor);
	--_ui5_daypicker_item_no_selected_inset: 0;
	--_ui5_daypicker_item_now_border_focus_after: 0.125rem dotted var(--sapContent_FocusColor);
	--_ui5_daypicker_item_now_not_selected_inset: 0.125rem;
	--_ui5_daypicker_item_now_inset: 0;
	--_ui5_daypicker_item_now_border_color: var(--sapContent_FocusColor);
	--sapLegend_WorkingBackground: var(--_ui5_daypicker_item_othermonth_background_color);
}
