/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/RadioButton.less";
@import "../sap_belize/RadioButton.less";

/* ============================= */
/* Global Belize HCB parameters  */
/* ============================= */
@import "./base.less";
@import "./global.less";

@_ui5_radiobutton_selected_fill: @sapUiContentIconColor;
@_ui5_radiobutton_selected_warning_fill: @sapUiContentIconColor;
@_ui5_radiobutton_selected_error_fill: @sapUiContentIconColor;
@_ui5_radiobutton_hover_fill: @sapUiSelected;
@_ui5_radiobutton_border_width: 0.125rem;
@_ui5_radiobutton_warning_error_border_dash: 5;
