@import "../base/Switch-parameters.css";

:root {
	/* Switch */
	--_ui5_switch_root_after_outline: none;
	--_ui5_switch_focus_outline: 0.125rem dotted var(--sapContent_FocusColor);

	/* Switch Track */

	/* Switch Handle */
	--_ui5_switch_handle_border_width: 0.125rem;
	--_ui5_switch_handle_semantic_hover_accept_background_color: var(--sapButton_Selected_Hover_Background);
	--_ui5_switch_handle_semantic_hover_reject_background_color: var(--sapButton_Handle_Hover_Background);

	/* Switch sementic text */
}