/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/TextArea.less";
@import "../sap_belize/TextArea.less";

/* ============================= */
/* Global Belize parameters      */
/* ============================= */
@import "./base.less";
@import "./global.less";

@_ui5_textarea_focus_after_width: 2px;
@_ui5_textarea_warning_border_style: dashed;
@_ui5_textarea_warning_border_width: 1px;