@import "../base/TextArea-parameters.css";

:root {
	--__ui5_textarea_min_height: 2.5rem;
	--_ui5_textarea_error_warning_border_style: dashed;
	--_ui5_textarea_error_hover_background_color: var(--sapField_InvalidBackground);
	--_ui5_textarea_information_border_width: var(--sapField_BorderWidth);
	--_ui5_textarea_value_state_error_warning_placeholder_font_weight: bold;
	--_ui5_textarea_error_placeholder_font_style: normal;
	--_ui5_textarea_error_placeholder_font_weight: bold;
	--_ui5_textarea_placeholder_font_style: normal;
	--_ui5_textarea_error_warning_font_style: italic;
	--_ui5_textarea_error_warning_font_weight: bold;
	--_ui5_textarea_state_border_width: 0.0625rem;
	--_ui5_textarea_error_placeholder_color: var(--sapField_TextColor);
	--_ui5_textarea_padding_top: 0.5625rem;
	--_ui5_textarea_padding_bottom: 0.5625rem;
	--_ui5_textarea_padding_top_readonly: 0.5625rem;
	--_ui5_textarea_padding_bottom_readonly: 0.5625rem;
	--_ui5_textarea_padding_top_error_warning: 0.5625rem;
	--_ui5_textarea_padding_bottom_error_warning: 0.5625rem;
	--_ui5_textarea_padding_top_information: 0.5625rem;
	--_ui5_textarea_padding_bottom_information: 0.5625rem;
	--_ui5_textarea_padding_right_and_left: 0.6875rem;
	--_ui5_textarea_padding_right_and_left_error_warning: 0.6875rem;
	--_ui5_textarea_padding_right_and_left_information: 0.6875rem;
	--_ui5_textarea_padding_right_and_left_readonly: 0.6875rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_textarea_padding_top_error_warning: 0.125rem;
	--_ui5_textarea_padding_bottom_error_warning: 0.125rem;
	--_ui5_textarea_padding_top_information: 0.125rem;
	--_ui5_textarea_padding_bottom_information: 0.125rem;
	--_ui5_textarea_padding_right_and_left_error_warning: 0.4375rem;
	--_ui5_textarea_padding_right_and_left_information: 0.4375rem;
}