/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/Toolbar.less";
@import "../sap_belize/Toolbar.less";

/* ============================= */
/* Global Belize parameters      */
/* ============================= */
@import "./base.less";
@import "./global.less";

@_ui5_toolbar_info_base_height: 1.75rem;
@_ui5_toolbar_info_base_margin: .125rem .1875rem;
@_ui5_toolbar_info_base_padding: 0 .25rem 0 .5rem;
@_ui5_toolbar_info_base_bottom_border: none;
@_ui5_toolbar_standard_border_color: @sapUiGroupTitleBorderColor;
@_ui5_toolbar_info_standard_border: 0.125rem solid @sapUiGroupTitleBorderColor;
@_ui5_toolbar_info_standard_border_radius: 0.3125rem;
