:root {
    --ui5_carousel_button_size: 2.5rem;
    --ui5_carousel_height: 0.5rem;
    --ui5_carousel_width: 0.5rem;
    --ui5_carousel_margin: 0 0.25rem;
    --ui5_carousel_border: 1px solid #fff;
    --ui5_carousel_dot_border: 1px solid var(--sapContent_ForegroundBorderColor);
    --ui5_carousel_dot_background: none;
}
