@import "../base/DayPicker-parameters.css";

:root {
	--_ui5_daypicker_item_margin: 0;
	--_ui5_daypicker_item_border: 1px solid #000;
	--_ui5_daypicker_item_border_radius: 0.25rem;
	--_ui5_daypicker_item_outline_width: 0.125rem;
	--_ui5_daypicker_item_outline_offset: 0;
	--_ui5_daypicker_item_now_outline_offset: 2px;
	--_ui5_daypicker_item_now_selected_outline_offset: 2px;
	--_ui5_daypicker_item_now_focus_after_width: calc(100% - .5rem);
	--_ui5_daypicker_item_now_focus_after_height: calc(100% - .5rem);
	--_ui5_daypicker_item_now_selected_focus_after_width: calc(100% - .5rem);
	--_ui5_daypicker_item_now_selected_focus_after_height: calc(100% - .5rem);
	--_ui5_daypicker_item_selected_border_color: var(--sapList_SelectionBorderColor);
	--_ui5_daypicker_item_selected_box_shadow: none;
}
