/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "../base/TextArea-parameters.css";

:root {
	--_ui5_textarea_focus_after_width: 2px;
	--_ui5_textarea_warning_border_style: dashed;
	--_ui5_textarea_error_warning_border_width: 2 * var(--sapField_BorderWidth);
	--_ui5_textarea_information_border_width: 0.0625rem;
}