@import "../base/TimelineItem-parameters.css";

:root {
	--_ui5_TimelineItem_bubble_outline_width: 0.125rem;
	--_ui5_TimelineItem_bubble_outline_top: -0.1875rem;
	--_ui5_TimelineItem_bubble_outline_right: -0.1875rem;
	--_ui5_TimelineItem_bubble_outline_bottom: -0.1875rem;
	--_ui5_TimelineItem_bubble_outline_left: -0.6875rem;
	--_ui5_TimelineItem_bubble_rtl_left_offset: -0.1875rem;
	--_ui5_TimelineItem_bubble_rtl_right_offset: -0.6875rem;
}