@import "component-derived-colors.less";

:root { 
  --sapBackgroundColor_Fade72: @sapBackgroundColor_Fade72;
  --sapContent_ForegroundColor_Lighten5: @sapContent_ForegroundColor_Lighten5; // #f2f2f2;
  --sapContent_ForegroundColor_Lighten7: @sapContent_ForegroundColor_Lighten7; // #f7f7f7;
  --sapContent_ForegroundColor_Darken3: @sapContent_ForegroundColor_Darken3; // #dedede;
  --sapContent_ForegroundColor_Darken5: @sapContent_ForegroundColor_Darken5; // #d9d9d9;
  --sapContent_ForegroundColor_Darken10: @sapContent_ForegroundColor_Darken10; // #cccccc;
  --sapList_Background_Darken3: @sapList_Background_Darken3; // #f7f7f7;
  --sapList_Background_Darken10: @sapList_Background_Darken10; // #e6e6e6;
  --sapList_Background_Darken13: @sapList_Background_Darken13; // #dedede;
  --sapList_Background_Darken15: @sapList_Background_Darken15; // #d9d9d9;
  --sapList_Background_Darken20: @sapList_Background_Darken20; // #cccccc;
  --sapList_BorderColor_Lighten10: @sapList_BorderColor_Lighten10; // #ffffff;
}