// main
@sapUiFieldWarningColorDarken100: darken(@sapField_WarningColor, 100); // #000000;
@sapUiListBackgroundDarken3: darken(@sapList_Background, 3); // #f7f7f7;
@sapUiListBackgroundDarken10: darken(@sapList_Background, 10); // #e6e6e6;
@sapUiListBackgroundDarken13: darken(@sapList_Background, 13); // #dedede;
@sapUiListBackgroundDarken15: darken(@sapList_Background, 15); // #d9d9d9;
@sapUiListBackgroundDarken20: darken(@sapList_Background, 20); // #cccccc;
@sapUiTileBackgroundDarken20: darken(@sapTile_Background, 20); // #000000;
@sapUiListBorderColorLighten10: lighten(@sapList_BorderColor, 10); // #ffffff;
@sapUiActiveLighten3: lighten(@sapActiveColor, 3); // #085caf;
@sapUiLinkDarken15: darken(@sapLinkColor, 15); // #004065;
@sapUiSelectedDarken10: darken(@sapSelectedColor, 10); // #346187;
@sapUiShellBorderColorLighten30: lighten(@sapShell_BorderColor, 30); // rgba(77, 77, 77, 0);
@sapUiToggleButtonPressedBackgroundLighten50Desaturate47: lighten(desaturate(@sapUiToggleButtonPressedBackground, 47), 50); // #dddddd;
@sapUiToggleButtonPressedBorderColorLighten19Desaturate46: lighten(desaturate(@sapUiToggleButtonPressedBorderColor, 46), 19); // #818181;
@sapUiSuccessBGLighten5: lighten(@sapSuccessBackground, 5); // #f6fcf6;
@sapUiErrorBGLighten4: lighten(@sapErrorBackground, 4); // #fff8f8;
@sapUiButtonBackgroundDarken7: darken(@sapButton_Background, 7); // #e5e5e5;
@sapUiButtonBackgroundDarken2: darken(@sapButton_Background, 2); // #f2f2f2;
@sapUiButtonHoverBackgroundDarken2: darken(@sapButton_Hover_Background, 2); // #e5e5e5;
@sapUiButtonHoverBackgroundDarken5: darken(@sapButton_Hover_Background, 5);
@sapUiButtonRejectActiveBackgroundDarken5: darken(@sapButton_Reject_Active_Background, 5); // #a20000;
@sapUiButtonAcceptActiveBackgroundDarken5: darken(@sapButton_Accept_Active_Background, 5); // #246924;
@sapUiContentForegroundColorLighten5: lighten(@sapContent_ForegroundColor, 5); // #f2f2f2;
@sapUiContentForegroundColorLighten7: lighten(@sapContent_ForegroundColor, 7); // #f7f7f7;
@sapUiContentForegroundColorDarken3: darken(@sapContent_ForegroundColor, 3); // #dedede;
@sapUiContentForegroundColorDarken5: darken(@sapContent_ForegroundColor, 5); // #d9d9d9;
@sapUiContentForegroundColorDarken10: darken(@sapContent_ForegroundColor, 10); // #cccccc;
@sapUiButtonRejectActiveBackgroundLighten5: lighten(@sapButton_Reject_Active_Background, 5);
@sapUiButtonAcceptActiveBackgroundLighten5: lighten(@sapButton_Accept_Active_Background, 5);
@sapUiButtonBackgroundDarken10: darken(@sapButton_Background, 10);
@sapBackgroundColorFade72: fade(@sapBackgroundColor, 72);
@sapAccentColor1Lighten50: lighten(@sapAccentColor1, 50);
@sapAccentColor2Lighten40: lighten(@sapAccentColor2, 40);
@sapAccentColor3Lighten46: lighten(@sapAccentColor3, 46);
@sapAccentColor4Lighten46: lighten(@sapAccentColor4, 46);
@sapAccentColor5Lighten32: lighten(@sapAccentColor5, 32);
@sapAccentColor6Lighten52: lighten(@sapAccentColor6, 52);
@sapAccentColor7Lighten64: lighten(@sapAccentColor7, 64);
@sapAccentColor8Lighten61: lighten(@sapAccentColor8, 61);
@sapAccentColor9Lighten37: lighten(@sapAccentColor9, 37);
@sapAccentColor10Lighten49: lighten(@sapAccentColor10, 49);
@sapObjectHeader_BackgroundDarken8: darken(@sapObjectHeader_Background, 8);
// fiori3
@sapUiShellBorderColorLighten30: lighten(@sapShell_BorderColor, 30); // rgba(77, 77, 77, 0);
