@import "component-derived-colors.less";

:root {
  // main
  --sapUiFieldWarningColorDarken100: @sapUiFieldWarningColorDarken100; // #000000;
  --sapUiListBackgroundDarken3: @sapUiListBackgroundDarken3; // #f7f7f7;
  --sapUiListBackgroundDarken10: @sapUiListBackgroundDarken10; // #e6e6e6;
  --sapUiListBackgroundDarken13: @sapUiListBackgroundDarken13; // #dedede;
  --sapUiListBackgroundDarken15: @sapUiListBackgroundDarken15; // #d9d9d9;
  --sapUiListBackgroundDarken20: @sapUiListBackgroundDarken20; // #cccccc;
  --sapUiTileBackgroundDarken20: @sapUiTileBackgroundDarken20; // #000000;
  --sapUiListBorderColorLighten10: @sapUiListBorderColorLighten10; // #ffffff;
  --sapUiActiveLighten3: @sapUiActiveLighten3; // #085caf;
  --sapUiLinkDarken15: @sapUiLinkDarken15; // #004065;
  --sapUiSelectedDarken10: @sapUiSelectedDarken10; // #346187;
  --sapUiShellBorderColorLighten30: @sapUiShellBorderColorLighten30; // rgba(77, 77, 77, 0);
  --sapUiToggleButtonPressedBackgroundLighten50Desaturate47: @sapUiToggleButtonPressedBackgroundLighten50Desaturate47; // #dddddd;
  --sapUiToggleButtonPressedBorderColorLighten19Desaturate46: @sapUiToggleButtonPressedBorderColorLighten19Desaturate46; // #818181;
  --sapUiSuccessBGLighten5: @sapUiSuccessBGLighten5; // #f6fcf6;
  --sapUiErrorBGLighten4: @sapUiErrorBGLighten4; // #fff8f8;
  --sapUiButtonBackgroundDarken7: @sapUiButtonBackgroundDarken7; // #e5e5e5;
  --sapUiButtonBackgroundDarken2: @sapUiButtonBackgroundDarken2; // #f2f2f2;
  --sapUiButtonHoverBackgroundDarken2: @sapUiButtonHoverBackgroundDarken2; // #e5e5e5;
  --sapUiButtonHoverBackgroundDarken5: @sapUiButtonHoverBackgroundDarken5;
  --sapUiButtonRejectActiveBackgroundDarken5: @sapUiButtonRejectActiveBackgroundDarken5; // #a20000;
  --sapUiButtonAcceptActiveBackgroundDarken5: @sapUiButtonAcceptActiveBackgroundDarken5; // #246924;
  --sapUiContentForegroundColorLighten5: @sapUiContentForegroundColorLighten5; // #f2f2f2;
  --sapUiContentForegroundColorLighten7: @sapUiContentForegroundColorLighten7; // #f7f7f7;
  --sapUiContentForegroundColorDarken3: @sapUiContentForegroundColorDarken3; // #dedede;
  --sapUiContentForegroundColorDarken5: @sapUiContentForegroundColorDarken5; // #d9d9d9;
  --sapUiContentForegroundColorDarken10: @sapUiContentForegroundColorDarken10; // #cccccc;
  --sapUiButtonRejectActiveBackgroundLighten5: @sapUiButtonRejectActiveBackgroundLighten5;
  --sapUiButtonAcceptActiveBackgroundLighten5: @sapUiButtonAcceptActiveBackgroundLighten5;
  --sapUiButtonBackgroundDarken10: @sapUiButtonBackgroundDarken10;
  --sapBackgroundColorFade72: @sapBackgroundColorFade72;
  --sapUiAccent1Lighten50: @sapUiAccent1Lighten50;
  --sapUiAccent2Lighten40: @sapUiAccent2Lighten40;
  --sapUiAccent3Lighten46: @sapUiAccent3Lighten46;
  --sapUiAccent4Lighten46: @sapUiAccent4Lighten46;
  --sapUiAccent5Lighten32: @sapUiAccent5Lighten32;
  --sapUiAccent6Lighten52: @sapUiAccent6Lighten52;
  --sapUiAccent7Lighten64: @sapUiAccent7Lighten64;
  --sapUiAccent8Lighten61: @sapUiAccent8Lighten61;
  --sapUiAccent9Lighten37: @sapUiAccent9Lighten37;
  --sapUiAccent10Lighten49: @sapUiAccent10Lighten49;

  // fiori3
  --sapUiShellBorderColorLighten30: @sapUiShellBorderColorLighten30; // rgba(77, 77, 77, 0);
}
