
// used by BusyIndicator when "active"
@sapBackgroundColor_Fade72: fade(@sapBackgroundColor, 72); 

// Used by DayPicker, MonthPicker, YearPicker and DatePicker
@sapContent_ForegroundColor_Darken3: darken(@sapContent_ForegroundColor, 3); // #dedede;
@sapContent_ForegroundColor_Darken5: darken(@sapContent_ForegroundColor, 5); // #d9d9d9;
@sapContent_ForegroundColor_Darken10: darken(@sapContent_ForegroundColor, 10); // #cccccc;
@sapContent_ForegroundColor_Lighten5: lighten(@sapContent_ForegroundColor, 5); // #f2f2f2;
@sapContent_ForegroundColor_Lighten7: lighten(@sapContent_ForegroundColor, 7); // #f7f7f7;
@sapList_Background_Darken3: darken(@sapList_Background, 3); // #f7f7f7;
@sapList_Background_Darken10: darken(@sapList_Background, 10); // #e6e6e6;
@sapList_Background_Darken13: darken(@sapList_Background, 13); // #dedede;
@sapList_Background_Darken15: darken(@sapList_Background, 15); // #d9d9d9;
@sapList_Background_Darken20: darken(@sapList_Background, 20); // #cccccc;
@sapList_BorderColor_Lighten10: lighten(@sapList_BorderColor, 10); // #ffffff;