:not(:defined) {
    display: none;
}

.section {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .5rem;
}

.avatar-image {
    object-fit: cover;
}

.avatar-image1 {
    object-fit: contain;
}

.avatar1auto {
    background-color: var(--sapBackgroundColor);
}

.avatar2auto {
    border: 1px dashed red;
}

.avatar3auto {
    width: 250px;
    height: 250px;
    border: 1px solid var(--sapField_BorderColor)
}

.avatar4auto {
    object-fit: cover;
}

.avatar5auto {
    object-fit: contain;
}

.custom-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
}