html,
body {
	margin: 0;
}

.group {
	padding: 1rem;
}
.gaps .ui5-badge,
.gaps ui5-badge {
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}


.badge1auto {
	background-color: var(--sapBackgroundColor);
}
