.sapUiTheme-sap_fiori3 body {
    background: #f7f7f7;
}

.datepicker1auto {
    background-color: var(--sapBackgroundColor);
}


form ui5-date-picker:invalid {
    outline: 2px solid var(--sapNegativeColor);
}