section {
    padding: 1rem 1rem;
}

ui5-datetime-picker {
    margin-bottom: 0.25rem;
}

.datetimepicker1auto {
    background-color: var(--sapBackgroundColor);
}

.datetimepicker2auto {
    width: 300px
}

form ui5-datetime-picker:invalid {
    outline: 2px solid var(--sapNegativeColor);
}

