body > div {
    margin-bottom: 1rem;
}

.fileuploader1auto {
    border: 1px solid black;
    padding: 1rem;
}


.Test:has(button:focus) {
	/* font-family: cursive; */
    background-color: red;
}

#nativeFileContainer:has(#nativeFile:focus) {
    background-color: yellow;
}