html,
		body {
    margin: 0;
}

.group {
    padding: 1rem;
}

.link1auto {
    background-color: var(--sapBackgroundColor);
}

.link2auto {
    width: 100px
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 3rem 6rem;
}

.login-form > div {
	display: grid;
	width: 15rem;
	margin-bottom: .5rem;
}

[ui5-link][disabled] .linkIcon {
	opacity: inherit;
}

.linkIcon,
[ui5-link]:active .linkIcon,
[ui5-link][design="Subtle"][focused] .linkIcon
[ui5-link][focused] .linkIcon {
	color: inherit;
}

.linkIcon {
	vertical-align: middle;
	width: var(--sapFontSize);
	height: var(--sapFontSize);
	padding-inline-end: 0.125rem;
}

.linkIconEnd {
	padding-inline-start: 0.125rem;
}
