ui5-date-picker,
		ui5-select,
		ui5-input,
		ui5-multi-combobox {
    width: 100%;
}

.popover1auto {
    height: 100%
}

.popover2auto {
    background-color: var(--sapBackgroundColor);
}

.popover3auto {
    padding: 1rem;
    text-align: center;
}

.popover4auto {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem
}

.popover5auto {
    flex: 1;
}

.popover6auto {
    width: 300px
}

.popover7auto {
    width: 100%
}

.popover8auto {
    height: 400px
}

.popover10auto {
    height: 3rem;
    background: yellow;
    margin: 0 1rem;
}

.popover11auto {
    text-align: right;
}

.popover12auto {
    height: 6rem;
    text-align: center;
}

.popover13auto {
    display: flex;
    justify-content: flex-end;
}

#clickThisIframe {
    border: 1px solid red;
    float: right;
    height: 150px;
    width: 300px;
}
