.sapUiTheme-sap_fiori3 body {
    background: #f7f7f7;
}

h3 {
    -webkit-touch-callout: none;
 /* iOS Safari */
    -webkit-user-select: none;
 /* Safari */
    -khtml-user-select: none;
 /* Konqueror HTML */
    -moz-user-select: none;
 /* Old versions of Firefox */
    -ms-user-select: none;
 /* Internet Explorer/Edge */
    user-select: none;
 /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.stepinput1auto {
    background-color: var(--sapBackgroundColor);
}

.stepinput2auto {
    text-align: right;
    width: 250px
}

.stepinput3auto {
    display: block
}

.stepinput4auto {
    text-align: center;
    width: 250px
}

form ui5-step-input:invalid {
    outline: 2px solid var(--sapNegativeColor);
}
