@import "../base/sizes-parameters.css";

:root {
	--_ui5_textarea_padding_top: 0.5rem;
	--_ui5_textarea_padding_bottom: 0.4375rem;

	/* SplitButton */
	--_ui5_split_button_middle_separator_top: 0.625rem;
	--_ui5_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.75rem;
	--_ui5_color-palette-item-hover-height: 2.25rem;
	--_ui5_color-palette-item-margin: calc(((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2) + 0.0625rem);
	--_ui5_color-palette-row-width: 12rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_textarea_padding_top: 0.1875rem;
	--_ui5_textarea_padding_bottom: 0.125rem;

	--_ui5_radio_button_focus_dist: 0.25rem;
	--_ui5_checkbox_focus_position: 0.25rem;

	/* SplitButton */
	--_ui5_split_button_middle_separator_top: 0.3125rem;
	--_ui5_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.25rem;
	--_ui5_color-palette-item-focus-height: 1rem;
	--_ui5_color-palette-item-container-sides-padding: 0.1875rem;
	--_ui5_color-palette-item-container-rows-padding: 0.8125rem;
	--_ui5_color-palette-item-hover-height: 1.625rem;
	--_ui5_color-palette-item-margin: calc(((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2) + 0.0625rem);
	--_ui5_color-palette-row-width: 8.75rem;
	--_ui5_color-palette-swatch-container-padding: 0.1875rem 0.5rem;
	--_ui5_color-palette-item-hover-margin: 0.0625rem;
	--_ui5_color-palette-row-height: 7.5rem;
	--_ui5_color-palette-button-height: 2rem;
	--_ui5_color-palette-item-before-focus-offset: -0.25rem;
	--_ui5_color-palette-item-after-focus-offset: -0.125rem;
	--_ui5_color_picker_slider_container_margin_top: -9px;

	/* DayPicker */
	--_ui5_daypicker_selected_item_now_special_day_top: 1.5625rem;
	--_ui5_daypicker_specialday_focused_top: 1.3125rem;
	--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius_alternate: 0.5rem;
	--_ui5_daypicker_specialday_focused_border_bottom: 0.25rem;
	--_ui5_daypicker_item_now_specialday_top: 1.4375rem;
}