@import "../base/YearPicker-parameters.css";

:root {
	--_ui5_yearpicker_item_border_radius: 0.5rem;
	--_ui5_yearpicker_item_focus_after_offset: 0.25rem;
	--_ui5_yearpicker_item_focus_after_border: var(--_ui5_button_focused_border);
	--_ui5_yearpicker_item_focus_after_border_radius: 0.5rem;
	--_ui5_yearpicker_item_focus_after_width: calc(100% - 0.5rem);
	--_ui5_yearpicker_item_focus_after_height: calc(100% - 0.5rem);
	--_ui5_yearpicker_item_selected_background_color: transparent;
	--_ui5_yearpicker_item_selected_text_color: var(--sapContent_Selected_TextColor);
	--_ui5_yearpicker_item_selected_box_shadow: none;
	--_ui5_yearpicker_item_selected_hover_color: var(--sapList_Hover_Background);
	--_ui5_yearpicker_item_focus_after_outline: none;
}
