:host {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 2rem;
	color: var(--sapAvatar_6_TextColor);
	background-color: var(--sapAvatar_6_Background);
	border: 2px solid var(--my-component-border-color);
	border-radius: 0.5rem;
	box-shadow: var(--sapContent_Shadow0);
	text-align: center;
	line-height: 3rem;
	font-size: 1.25rem;
	user-select: none;
}
