@import "../base/ShellBar-parameters.css";

:root {
	--_ui5_shellbar_button_border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
	--_ui5_shellbar_button_border_radius: var(--sapButton_BorderCornerRadius);
	--_ui5_shellbar_outline_offset: -0.1875rem;
}