@import "../base/SideNavigation-parameters.css";

:root {
	--_ui5_side_navigation_width: 16rem;
	--_ui5_side_navigation_collapsed_width: 3.5rem;

	--_ui5_side_navigation_navigation_separator_height:  0.0625rem;
	--_ui5_side_navigation_border_right: 0;
	--_ui5_side_navigation_border_radius: 0.5rem 0.5rem 0 0;
	--_ui5_side_navigation_phone_border_radius: 0.5rem;
	--_ui5_side_navigation_shadow_color1: var(--sapContent_ShadowColor);
	--_ui5_side_navigation_shadow_color2: color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
	--_ui5_side_navigation_box_shadow: 0 0 0 0.0625rem var(--_ui5_side_navigation_shadow_color1), 0 0.5rem 1rem 0 var(--_ui5_side_navigation_shadow_color2);
	--_ui5_side_navigation_triangle_display: none;
	--_ui5_side_navigation_phone_width: 100% !important;


	--_ui5_side_navigation_icon_font_size: 1.125rem;
	--_ui5_side_navigation_expand_icon_color: var(--sapContent_NonInteractiveIconColor);
	--_ui5_side_navigation_external_link_icon_color: var(--sapContent_LabelColor);
	--_ui5_side_navigation_item_height: 2.5rem;
	--_ui5_side_navigation_item_bottom_margin: 0.25rem;
	--_ui5_side_navigation_item_bottom_margin_compact: 0.5rem;
	--_ui5_side_navigation_item_focus_border_offset: 0;
	--_ui5_side_navigation_item_border_style_color: solid var(--sapList_BorderColor);
	--_ui5_side_navigation_item_border_width: 0 0 0.0625rem 0;
	--_ui5_side_navigation_group_expanded_border_width: var(--_ui5_side_navigation_item_border_width);
	--_ui5_side_navigation_last_item_border_style: solid transparent;
	--_ui5_side_navigation_hover_border_style_color: solid var(--sapList_SelectionBorderColor);
	--_ui5_side_navigation_hover_border_width: 0.0625rem;
	--_ui5_side_navigation_selected_border_width: 0.0625rem;
	--_ui5_side_navigation_collapsed_selected_item_background: var(--sapList_SelectionBackgroundColor);
	--_ui5_side_navigation_selected_and_focused_border_style_color: none;
	--_ui5_side_navigation_group_icon_width: 2rem;
	--_ui5_side_navigation_group_text_weight: bold;
	--_ui5_side_navigation_padding: 0.5rem;
	--_ui5_side_navigation_padding_compact: 1.5rem 0.75rem 0.75rem 0.75rem;
	--_ui5_side_navigation_parent_popup_padding: 0.5rem;
	--_ui5_side_navigation_parent_popup_border_radius: 0.75rem;
	--_ui5_side_navigation_popup_item_padding: 0 0.5rem;
	--_ui5_side_navigation_popup_icon_width: 0.5rem;
	--_ui5_side_navigation_popup_shadow_color1: var(--sapContent_ShadowColor);
	--_ui5_side_navigation_popup_shadow_color2: color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
	--_ui5_side_navigation_popup_box_shadow:0 0 0 0.0625rem var(--_ui5_side_navigation_popup_shadow_color1), 0 1rem 2rem 0 var(--_ui5_side_navigation_popup_shadow_color2);
	--_ui5_side_navigation_popup_title_text_size: 1.25rem;
	--_ui5_side_navigation_popup_title_line_height: 1.5rem;
	--_ui5_side_navigation_selection_indicator_display: block;

	--_ui5_side_navigation_item_collapsed_icon_padding: 0 0.25rem;
	--_ui5_side_navigation_item_collapsed_hover_focus_width: fit-content;
	--_ui5_side_navigation_item_collapsed_hover_focus_display: block;
	--_ui5_side_navigation_item_collapsed_hover_focus_padding_right: 1rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_side_navigation_navigation_separator_margin: var(--_ui5_side_navigation_navigation_separator_margin_collapsed);
	--_ui5_side_navigation_padding: var(--_ui5_side_navigation_padding_compact);
	--_ui5_side_navigation_item_bottom_margin: var(--_ui5_side_navigation_item_bottom_margin_compact);
	--_ui5_side_navigation_item_height: 2rem;
	--_ui5_side_navigation_item_collapsed_icon_padding: 0;
	--_ui5_side_navigation_item_collapsed_hover_focus_padding_right: 0.5rem;
}