@import "../base/UploadCollection-parameters.css";

:root {
	--ui5_upload_collection_drag_overlay_border: 0.1875rem dashed var(--sapField_BorderColor);
	--ui5_upload_collection_drop_overlay_border: 0.1875rem solid var(--sapContent_DragAndDropActiveColor);
	--ui5_upload_collection_drop_overlay_background: var(--sapContent_DragAndDropActiveColor);
	--ui5_upload_collection_small_size_buttons_margin_block_start: 0.5rem;
	--ui5_upload_collection_drag_overlay_text_color: var(--sapTextColor);
	--ui5_upload_collection_drag_overlay_icon_color: var(--sapTextColor);
	--ui5_upload_collection_drag_overlay_opacity: 0.5;
}