.linkWithIcon [ui5-icon] {
	vertical-align: middle;
	width: var(--sapFontSize);
	height: var(--sapFontSize);
	padding-inline-end: 0.125rem;
    color: inherit;
	opacity: inherit;
}

.linkWithIcon .linkIconEnd {
	padding-inline-end: 0;
	padding-inline-start: 0.125rem;
}