@import "../base/DynamicPageTitle-parameters.css";

:root {
    /*text-shadow of titles, breadcrumbs*/
    --sapContent_TextShadow: none;

    --_ui5_dynamic_page_title_border: 0.0625rem solid transparent;
    --_ui5_dynamic_page_title_hover_border: 0.0625rem solid var(--sapObjectHeader_BorderColor);

    --_ui5_dynamic_page_title_focus_outline_offset: -0.125rem;
}