@import "../base/SideNavigation-parameters.css";

:root {
	--_ui5_side_navigation_width: 16rem;
	--_ui5_side_navigation_collapsed_width: 4rem;

	--_ui5_side_navigation_navigation_separator_margin: 0.25rem 0.5rem 0.25rem 0.5rem;
	--_ui5_side_navigation_navigation_separator_margin_collapsed: var(--_ui5_side_navigation_navigation_separator_margin);
	--_ui5_side_navigation_navigation_separator_height:  0.0625rem;
	--_ui5_side_navigation_border_right: 0;
	--_ui5_side_navigation_box_shadow: var(--sapContent_Shadow0);
	--_ui5_side_navigation_triangle_display: none;

	--_ui5_side_navigation_expand_icon_color: var(--sapContent_NonInteractiveIconColor);
	--_ui5_side_navigation_expand_icon_width: 2.25rem;
	--_ui5_side_navigation_item_bottom_margin: 0.25rem;
	--_ui5_side_navigation_item_padding_start_in_popup: 1rem;
	--_ui5_side_navigation_item_padding_start_in_overflow_popup: 1rem;
	--_ui5_side_navigation_item_padding_left: 1rem;
	--_ui5_side_navigation_item_focus_border_offset: 0;
	--_ui5_side_navigation_item_border_style_color: solid var(--sapList_BorderColor);
	--_ui5_side_navigation_item_border_width: 0 0 0.0625rem 0;
	--_ui5_side_navigation_group_expanded_border_width: var(--_ui5_side_navigation_item_border_width);
	--_ui5_side_navigation_last_item_border_style: solid transparent;
	--_ui5_side_navigation_hover_border_style_color: solid var(--sapList_SelectionBorderColor);
	--_ui5_side_navigation_hover_border_width: 0.0625rem;
	--_ui5_side_navigation_selected_border_width: 0.0625rem;
	--_ui5_side_navigation_collapsed_selected_item_background: 0 100% / 0.188rem 100% no-repeat linear-gradient(0deg, var(--sapHighlightColor), var(--sapHighlightColor)), var(--sapList_SelectionBackgroundColor);
	--_ui5_side_navigation_collapsed_selected_item_background_hover: 0 100% / 0.188rem 100%  no-repeat linear-gradient(0deg, var(--sapHighlightColor), var(--sapHighlightColor)), var(--sapList_Hover_SelectionBackground);
	--_ui5_side_navigation_selected_and_focused_border_style_color: none;
	--_ui5_side_navigation_group_icon_width: 2.5rem;
	--_ui5_side_navigation_icon_padding_inline_end: 0.5rem;
	--_ui5_side_navigation_group_padding: 1rem;
	--_ui5_side_navigation_padding-flexible: 0.5rem 0.5rem 0 0.5rem; 
	--_ui5_side_navigation_padding-fixed: 0 0.5rem 0.5rem 0.5rem;
	--_ui5_side_navigation_popup_padding: 0.5rem;
	--_ui5_side_navigation_popup_title_line_height: 1.5rem;
	--_ui5_side_navigation_first_fixed_item_margin_top: 0.125rem;
	--_ui5_side_navigation_active_text_color: var(--sapButton_TextColor);

	--_ui5_side_navigation_item_expand_icon_visibility: block;
	--_ui5_side_navigation_item_collapsed_hover_focus_width: fit-content;
	--_ui5_side_navigation_item_collapsed_hover_focus_display: block;
	--_ui5_side_navigation_item_collapsed_hover_focus_padding_right: 1rem;
	--_ui5_side_navigation_action_item_collapsed_padding: 1rem;
	--_ui5_side_navigation_item_collapsed_padding: 3rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_side_navigation_item_height: 2rem;
}
