ui5-card {
	width: 600px;
	margin-block-start: 1rem;
}

.quickPromptSection {
	display: flex;
	height: 450px;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	border-start-start-radius: 0.625rem;
	border-start-end-radius: 0.625rem;
	gap: 0.5rem;
}

.quickPromptAiButton {
	align-self: flex-end;
}

.quickPromptLblBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.quickPromptCardFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 0.25rem;
	padding: 0 0.75rem 0.75rem 0.75rem;
}