body {
    margin: 20px;
    background-color: var(--sapBackgroundColor);
}

.ui5-showcase {
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.item {
    /* was 375px */
    flex: 1 1 275px;
}
