.notificationlistgroupitem1auto {
    background-color: var(--sapBackgroundColor);
    margin: 0;
}

.notificationlistgroupitem2auto {
    max-width: 400px
}

.notificationlistgroupitem3auto {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem;
    border-bottom: 1px solid grey;
}

/* Remove the responsive paddings for the content area of the Popover */
.notificationlistgroupitem2auto::part(content) {
    padding: 0;
    padding: 0;
}

#ACCtestGroup {
    width: 300px;
}
