.notificationlistgroupitem1auto {
    background-color: var(--sapBackgroundColor);
    margin: 0;
}

.notificationlistgroupitem2auto {
    max-height: 40rem;
    max-width: 27rem;
}

/* Remove the responsive paddings for the content area of the Popover */
.notificationlistgroupitem2auto::part(content) {
    padding: 0;
}

.notificationlistgroupitem3auto {
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem;
    border-bottom: 1px solid grey;
}

#ACCtestGroup {
    width: 300px;
}

#popover-with-notifications {
    max-width: 27rem;
    max-height: 40rem;
}

#popover-with-notifications::part(content) {
    padding: 0; /* remove the default padding to achieve the target design */
    overflow: hidden; /* remove the scroll from the popover to show it only on the Notification List */
}

/* styles for the additional div to move the scrollbar from the whole Popover to only the Notification List */
.notificationPopoverContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#notificationsPopoverBar::part(bar),
#notificationsPopoverBarGrowingAndSticky {
    box-shadow: none; /* remove the default box-shadow to achieve the target design */
}

#message-strip-error {
    display: none;
    margin: 0.5rem;
    width: auto;
}
