html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

/* @todo use params everywhere */

/* layout */
.layout {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    box-sizing: border-box;

    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;

    /* @todo we should not have background here */
    background: color-mix(in srgb, black 4%, var(--sapBackgroundColor));
}

.header {
}

.body {
    position: relative;
    flex: 1;

    display: flex;
    flex-direction: row;

    min-height: 0;

    gap: 0.5rem;
}

.sideBar {
    /* @todo limit to 100% height always */
}

.content {
    flex: 1;
    /* @todo limit to 100% height always */
}
/* end layout */


/* panels */
.panel1 {
    /* rounded top and bottom */
    border-radius: 0.5rem;
    box-shadow:
        0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);

    background: white;

    padding: 0 0.5rem; /* @todo */
}

.panel2 {
    /* rounded top only */
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow:
        0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);

    background: white;

    /* no padding */
}

.panel3 {
    /* rounded top only */
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow:
        0 0 0.125rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent),
        0 0.5rem 1rem 0 color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);

    /* different background */
    background: #f5f6f7;

    /* no padding */
}
/* end panels */


/* on phone */
/* @todo bottom gap + border radius */
.sideBar.detached {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    will-change: transform;
    transition: transform .3s;
}

 /* @todo side nav width 100% when detached, belongs to side nav? */
.sideBar.detached ui5-side-navigation {
    width: 100%;
}

.sideBar.detached.collapsed {
    transform: translateX(calc(-100% - 0.5rem));
}
/* end on phone */


/* @todo shell bar - belongs to shell bar? */
.shellBarStyle1::part(root) {
    padding: 0;
}
/* end shell bar */

/* @todo tab container - belongs to tab container? */
/* @todo in order to fully remove padding first and last tabs should not have padding? */
/* @todo make sure shell bar and tab container have same padding, best is if they have actual 0, then panel can add correct paddings */
.tabContainerStyle2::part(tabstrip) {
    padding: 0;
    box-shadow: unset;
    margin-bottom: 0.5rem; /* this should be padding in the panel */
}
.shellBarStyle2::part(root) {
    padding: 0 1rem;
}
/* end tab container */