@import "../base/SideNavigation-parameters.css";

:root {
	--_ui5_side_navigation_width: 16rem;
	--_ui5_side_navigation_box_shadow: var(--sapContent_Shadow0);
	--_ui5_side_navigation_icon_padding_inline_end: 0.4375rem;


	--_ui5_side_navigation_item_height: 2.5rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_side_navigation_item_height: 2rem;
}