@import "../base/SideNavigation-parameters.css";

:root {
	--_ui5_side_navigation_width: 16rem;
	--_ui5_side_navigation_shadow_color1: var(--sapContent_ShadowColor);
	--_ui5_side_navigation_shadow_color2: color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
	--_ui5_side_navigation_box_shadow: 0 0 0 0.0625rem var(--_ui5_side_navigation_shadow_color1), 0 0.5rem 1rem 0 var(--_ui5_side_navigation_shadow_color2);
	--_ui5_side_navigation_popover_shadow_color1: var(--sapContent_ShadowColor);
	--_ui5_side_navigation_popover_shadow_color2: color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
	--_ui5_side_navigation_popover_box_shadow:0 0 0 0.0625rem var(--_ui5_side_navigation_popover_shadow_color1), 0 1rem 2rem 0 var(--_ui5_side_navigation_popover_shadow_color2);
	--_ui5_side_navigation_separator_backgound: var(--sapToolbar_SeparatorColor);
	--_ui5_side_navigation_item_icon_color: var(--sapList_TextColor);
	--_ui5_side_navigation_icon_size: 1rem;
	--_ui5_side_navigation_toggle_icon_color: var(--sapList_TextColor);
	--_ui5_side_navigation_toggle_icon_size: 0.75rem;
	--_ui5_side_navigation_collapsed_state_width: 3.5rem;
	--_ui5_side_navigation_indent_step: 1.5rem;
	--_ui5_side_navigation_indent_step_in_popover: 0;
	--_ui5_side_navigation_icon_padding_inline_start: 0.5rem;
	--_ui5_side_navigation_icon_padding_inline_end: 0.4375rem;
	--_ui5_side_navigation_collapsed_state_divider_padding: var(--_ui5_side_navigation_divider_padding);
	--_ui5_side_navigation_divider_padding: 0.3125rem 0;
	--_ui5_side_navigation_divider_height: 0.0625rem;
	--_ui5_side_navigation_divider_margin: 0.5rem 0;
	--_ui5_side_navigation_border_inline_end: 0;
	--_ui5_side_navigation_border_radius: 0.5rem 0.5rem 0 0;
	--_ui5_side_navigation_container_padding: 0.5rem;
	--_ui5_side_navigation_container_padding_in_popover: 0.75rem;
	--_ui5_side_navigation_item_padding: 0 0.5rem;
	--_ui5_side_navigation_item_gap: 0.125rem;


	--_ui5_side_navigation_item_height: 2.5rem;
	--_ui5_side_navigation_item_level_1_font: "72override", var(--sapFontBoldFamily);
	--_ui5_side_navigation_item_level_1_margin_bottom_in_popover: 0.75rem;

	--_ui5_side_navigation_item_selection_indicator_display: initial;
	--_ui5_side_navigation_item_selection_indicator_reserved_space_has_children: 1.375rem;
	--_ui5_side_navigation_subitem_selection_indicator_reserved_space_no_children: 1rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_side_navigation_container_padding: 1.5rem 0.75rem 0.75rem 0.75rem;
	--_ui5_side_navigation_item_gap: 0.5rem;
	--_ui5_side_navigation_item_height: 2rem;
}