@import "../base/Button-parameters.css";

:root {
	--_ui5_button_focused_border: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_button_focused_border_radius: 0.375rem;
	--_ui5_button_focused_inner_border_radius: 0.375rem;
	--_ui5_button_base_min_width: 2.25rem;
	--_ui5_button_base_padding: 0.5625rem;
	--_ui5_button_base_icon_only_padding: 0.5625rem;
	--_ui5_button_base_icon_margin: 0.375rem;
	--_ui5_button_icon_font_size: 1rem;
	--_ui5_button_text_shadow: none;
	--_ui5_button_emphasized_border_width: .0625rem;
	--_ui5_button_pressed_focused_border_color: var(--sapContent_FocusColor);
	--_ui5_button_emphasized_focused_border_color: var(--sapContent_ContrastFocusColor);
	--_ui5_button_fontFamily: var(--sapFontSemiboldDuplexFamily);
}
