@import "../base/CalendarHeader-parameters";

:root {
	--_ui5_calendar_header_middle_button_focus_after_width: calc(100% - 0.375rem);
	--_ui5_calendar_header_middle_button_focus_after_height: calc(100% - 0.375rem);
	--_ui5_calendar_header_middle_button_focus_after_top_offset: 0.125rem;
	--_ui5_calendar_header_middle_button_focus_after_left_offset: 0.125rem;
	--_ui5_calendar_header_arrow_button_border: 0.0625rem solid var(--sapList_Hover_Background);
	--_ui5_calendar_header_arrow_button_border_radius: 0.5rem;
	--_ui5_calendar_header_button_background_color: var(--sapList_Hover_Background);
	--_ui5_calendar_header_arrow_button_box_shadow: 0 0 0.125rem 0 rgb(85 107 130 / 72%);
	--_ui5_calendar_header_middle_button_focus_border_radius: 0.5rem;
	--_ui5_calendar_header_middle_button_focus_border: none;
	--_ui5_calendar_header_middle_button_focus_after_border: none;
	--_ui5_calendar_header_middle_button_focus_background: transparent;
	--_ui5_calendar_header_middle_button_focus_outline: 0.125rem solid var(--sapSelectedColor);
	--_ui5_calendar_header_middle_button_focus_active_outline: 0.0625rem solid var(--sapSelectedColor);
	--_ui5_calendar_header_middle_button_focus_active_background: transparent;
}