@import "../base/Card-parameters.css";

:root {
	--_ui5_card_hover_box_shadow: var(--sapContent_Shadow1);
	--_ui5_card_header_focus_offset: 0px;
	--_ui5_card_header_focus_radius: var(--_ui5_card_border-radius);
	--_ui5_card_header_title_font_family: var(--sapFontHeaderFamily);
	--_ui5_card_header_title_font_size: var(--sapFontHeader6Size);
	--_ui5_card_header_hover_bg: var(--sapTile_Background);
}