@import "../base/ColorPalette-parameters.css";

:root {
	--_ui5_color-palette-item-hover-margin: 0.0625rem;
	--_ui5_color-palette-row-height: 9.5rem;
	--_ui5_color-palette-button-height: 3rem;
	--_ui5_color-palette-item-before-focus-color: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_color-palette-item-before-focus-inset: -0.3125rem;
	--_ui5_color-palette-item-before-focus-hover-inset: -0.0625rem;
	--_ui5_color-palette-item-after-focus-color: 0.0625rem solid var(--sapContent_ContrastFocusColor);
	--_ui5_color-palette-item-after-focus-hover-inset: 0.0625rem;
	--_ui5_color-palette-item-before-focus-border-radius: 0.4375rem;
	--_ui5_color-palette-item-after-focus-border-radius: 0.3125rem;
	--_ui5_color-palette-item-hover-outer-border-radius: 0.4375rem;
	--_ui5_color-palette-item-hover-inner-border-radius: 0.375rem;
	--_ui5_color-palette-item-selected-focused-border-before: -0.0625rem;
	--_ui5_color-palette-item-after-focus-not-selected-border: none;
	--_ui5_color-palette-item-selected-focused-border: none;
	--_ui5_color-palette-item-after-mobile-focus-border: none;
	--_ui5-color-palette-item-mobile-focus-inset: 0px;
	--_ui5_color-palette-item-mobile-focus-sides-inset: -0.375rem -0.375rem;
}