@import "../base/DayPicker-parameters.css";

:root {
	--_ui5_daypicker_item_border_radius: 0.4375rem;
	--_ui5_daypicker_item_focus_border: 0.0625rem dotted var(--sapContent_FocusColor);
	--_ui5_daypicker_item_selected_border: 0.0625rem solid var(--sapList_SelectionBorderColor);
	--_ui5_daypicker_item_not_selected_focus_border: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_daypicker_item_selected_focus_color: var(--sapContent_FocusColor);
	--_ui5_daypicker_item_selected_focus_width: 0.125rem;
	--_ui5_daypicker_item_no_selected_inset: 0.375rem;
	--_ui5_daypicker_item_now_border_focus_after: 0.125rem solid var(--sapList_SelectionBorderColor);
	--_ui5_daypicker_item_now_border_radius_focus_after: 0.3125rem;
	--_ui5_day_picker_item_selected_now_border_focus: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_day_picker_item_selected_now_border_radius_focus: 0.1875rem;
	--ui5-dp-item_withsecondtype_border: 0.375rem;
	--_ui5_daypicker_item_now_border: 0.125rem solid var(--sapLegend_CurrentDateTime);
	--_ui5_daypicker_dayname_color: var(--sapContent_LabelColor);
	--_ui5_daypicker_weekname_color: var(--sapContent_LabelColor);
	--_ui5_daypicker_item_selected_box_shadow: inset 0 0 0 0.0625rem var(--sapContent_Selected_ForegroundColor);
	--_ui5_daypicker_item_selected_daytext_hover_background: transparent;
	--_ui5_daypicker_item_border_radius_focus_after: 0.1875rem;
	--_ui5_daypicker_item_border_radius_item: 0.5rem;
	--_ui5_daypicker_item_selected_between_border: 0.5rem;
	--_ui5_daypicker_item_selected_between_background: var(--sapList_SelectionBackgroundColor);
	--_ui5_daypicker_item_selected_between_text_background: transparent;
	--_ui5_daypicker_item_selected_between_text_font: var(--sapFontFamily);
	--_ui5_daypicker_item_selected_text_font: var(--sapFontBoldFamily);
	--_ui5_daypicker_item_now_box_shadow: inset 0 0 0 0.35rem var(--sapList_Background);
	--_ui5_daypicker_item_selected_text_outline: 0.0625rem solid var(--sapSelectedColor);
	--_ui5_daypicker_item_now_selected_outline_offset: -0.25rem;
	--_ui5_daypicker_item_now_selected_between_inset: 0.25rem;
	--_ui5_daypicker_item_now_selected_between_border: 0.0625rem solid var(--sapContent_Selected_ForegroundColor);
	--_ui5_daypicker_item_now_selected_between_border_radius: 0.1875rem;
	--_ui5_daypicker_item_select_between_border: 1px solid var(--sapContent_Selected_ForegroundColor);
	--_ui5_daypicker_item_weeekend_filter: brightness(105%);
	--_ui5_daypicker_item_selected_hover: var(--sapList_Hover_Background);
	--_ui5_daypicker_item_now_inset: 0.3125rem;
	--_ui5-dp-item_withsecondtype_border: 0.25rem;
	--_ui5_daypicker_item_selected__secondary_type_text_outline: 0.0625rem solid var(--sapSelectedColor);
	--_ui5_daypicker_two_calendar_item_now_day_text_content: "";
	--_ui5_daypicker_two_calendar_item_now_selected_border_width: 0.125rem;
	--_ui5_daypicker_two_calendar_item_border_radius: 0.5rem;
	--_ui5_daypicker_two_calendar_item_border_focus_border_radius: 0.375rem;
	--_ui5_daypicker_two_calendar_item_no_selected_inset: 0;
	--_ui5_daypicker_two_calendar_item_selected_now_border_radius_focus: 0.1875rem;
	--_ui5_daypicker_two_calendar_item_no_selected_focus_inset: 0.1875rem;
	--_ui5_daypicker_two_calendar_item_no_select_focus_border_radius: 0.3125rem;
	--_ui5_daypicker_two_calendar_item_now_inset: 0.3125rem;
	--_ui5_daypicker_two_calendar_item_now_selected_border_inset: 0.125rem;

	--_ui5_daypicker_selected_item_special_day_width: calc(100% - 0.125rem);
	--_ui5_daypicker_special_day_border_bottom_radius: 0.5rem;
	--_ui5-daypicker_item_selected_now_border_radius: 0.5rem;
	--_ui5_daypicker_selected_item_now_special_day_width: calc(100% - 0.1875rem);
	--_ui5_daypicker_selected_item_now_special_day_border_bottom_radius_alternate: 0.5rem;
	--_ui5_daypicker_selected_item_now_special_day_top: 2.4375rem;
	--_ui5_daypicker_two_calendar_item_margin_bottom: 0;
	--_ui5_daypicker_twocalendar_item_special_day_now_inset: 0.3125rem;
	--_ui5_daypicker_twocalendar_item_special_day_now_border_radius: 0.25rem;
	--_ui5_daypicker_item_now_focus_margin: 0;
	--_ui5_daypicker_special_day_border_top: none;
	--_ui5_daypicker_special_day_selected_border_radius_bottom: 0.25rem;

	--_ui5_daypicker_specialday_focused_top: 2.125rem;
	--_ui5_daypicker_specialday_focused_width: calc(100% - 0.75rem);
	--_ui5_daypicker_specialday_focused_border_bottom: 0;

	--_ui5_daypicker_item_now_specialday_top: 2.3125rem;
	--_ui5_daypicker_item_now_specialday_width: calc(100% - 0.5rem);

}
