@import "../base/Link-parameters.css";

:root {
	--_ui5_link_text_decoration: none;
	--_ui5_link_hover_text_decoration: underline;
	--_ui5_link_focused_hover_text_decoration: none;
	--_ui5_link_focused_hover_text_color: var(--sapContent_ContrastTextColor);
	--_ui5_link_border: 0.125rem solid transparent;
	--_ui5_link_border_focus: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_link_focus_border-radius: 0.125rem;
	--_ui5_link_focus_background_color: var(--sapContent_FocusColor);
	--_ui5_link_focus_color: var(--sapContent_ContrastTextColor);
	--_ui5_link_subtle_text_decoration: underline;
}