@import "../base/Panel-parameters.css";

:root {
	--_ui5_panel_button_root_width: 2.75rem;
	--_ui5_panel_border_radius: var(--sapElement_BorderCornerRadius);
	--_ui5_panel_border_bottom: none;
	--_ui5_panel_default_header_border: 0.0625rem solid var(--sapGroup_TitleBorderColor);
	--_ui5_panel_outline_offset: -0.125rem;
	--_ui5_panel_border_radius_expanded: var(--sapElement_BorderCornerRadius) var(--sapElement_BorderCornerRadius) 0 0;
	--_ui5_panel_icon_color: var(--sapButton_Lite_TextColor);
	--_ui5_panel_focus_offset: -1px;
	--_ui5_panel_content_padding: 0.625rem 1rem;
	--_ui5_panel_header_background_color: var(--sapGroup_TitleBackground);
}