@import "../base/RatingIndicator-parameters.css";

:root {
	--_ui5_rating_indicator_readonly_item_height: 0.75em;
	--_ui5_rating_indicator_readonly_item_width: 0.75em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.1875rem 0.1875rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_rating_indicator_item_height: 1em;
	--_ui5_rating_indicator_item_width: 1em;
	--_ui5_rating_indicator_readonly_item_height: 0.75em;
	--_ui5_rating_indicator_readonly_item_width: 0.75em;
	--_ui5_rating_indicator_component_spacing: 0.5rem 0;
}