@import "../base/RatingIndicator-parameters.css";

:root {
	--_ui5_rating_indicator_border_radius: 0.25rem;
	--_ui5_rating_indicator_outline_offset: 0.125rem;
	--_ui5_rating_indicator_readonly_item_height: 0.75em;
	--_ui5_rating_indicator_readonly_item_width: 0.75em;
	--_ui5_rating_indicator_readonly_item_spacing: 0.1875rem 0.1875rem;
	--_ui5_rating_indicator_min_font_size: 24px;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_rating_indicator_item_height: 1em;
	--_ui5_rating_indicator_item_width: 1em;
	--_ui5_rating_indicator_readonly_item_height: 0.75em;
	--_ui5_rating_indicator_readonly_item_width: 0.75em;
	--_ui5_rating_indicator_component_spacing: 0.5rem 0px;
}