@import "../base/rtl-parameters.css";

[dir="rtl"] {
	--_ui5_segmented_btn_item_border_left: 0.0625rem;
	--_ui5_segmented_btn_item_border_right: 0.0625rem;

	--_ui5_switch_handle_left: -0.0625rem;
	--_ui5_switch_handle_right: 0.0625rem;

	--_ui5_switch_text_inactive_left: auto;
	--_ui5_switch_text_inactive_right: 0.1875rem;
	--_ui5_switch_text_inactive_left_alternate: auto;
	--_ui5_switch_text_inactive_right_alternate: 0;

	--_ui5_switch_text_active_left_alternate: 0.0625rem;
	--_ui5_switch_text_active_right: 0.0625rem;
	--_ui5_switch_text_active_right_alternate: 0.1875rem;

	--_ui5_switch_transform: translateX(-100%) translateX(1.625rem);
}