@import "../base/SegmentedButtton-parameters.css";

:root {
	--_ui5_segmented_btn_inner_border: 0.0625rem solid transparent;
	--_ui5_segmented_btn_inner_border_odd_child: 0.0625rem solid transparent;
	--_ui5_segmented_btn_inner_pressed_border_odd_child: 0.0625rem solid var(--sapButton_Selected_BorderColor);
	--_ui5_segmented_btn_inner_border_radius: var(--sapButton_BorderCornerRadius);
	--_ui5_segmented_btn_background_color: var(--sapButton_Lite_Background);
	--_ui5_segmented_btn_border_color: var(--sapButton_Lite_BorderColor);
	--_ui5_segmented_btn_hover_box_shadow: none;
	--_ui5_segmented_btn_item_border_left: 0.0625rem;
	--_ui5_segmented_btn_item_border_right: 0.0625rem;
}