@import "../base/sizes-parameters.css";

:root {
	/* SplitButton */
	--_ui5_split_button_middle_separator_top: 0.625rem;
	--_ui5_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.75rem;
	--_ui5_color-palette-item-hover-height: 2.25rem;
	--_ui5_color-palette-item-margin: calc(((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2) + 0.0625rem);
	--_ui5_color-palette-row-width: 12rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_radio_button_focus_dist: 0.25rem;
	--_ui5_checkbox_focus_position: 0.25rem;

	/* SplitButton */
	--_ui5_split_button_middle_separator_top: 0.3125rem;
	--_ui5_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_ui5_color-palette-item-height: 1.25rem;
	--_ui5_color-palette-item-focus-height: 1rem;
	--_ui5_color-palette-item-container-sides-padding: 0.1875rem;
	--_ui5_color-palette-item-container-rows-padding: 0.8125rem;
	--_ui5_color-palette-item-hover-height: 1.625rem;
	--_ui5_color-palette-item-margin: calc((var(--_ui5_color-palette-item-hover-height) - var(--_ui5_color-palette-item-height)) / 2);
	--_ui5_color-palette-row-width: 8.125rem;
	--_ui5_color-palette-swatch-container-padding: 0.1875rem 0.8125rem;
	--_ui5_color-palette-item-hover-margin: 0;
	--_ui5_color-palette-row-height: 7.5rem;
	--_ui5_color-palette-button-height: 2rem;
}