@import "../base/TabContainer-parameters.css";

:root {
	--_ui5_tc_header_border_bottom: 0.0625rem solid var(--sapObjectHeader_Background);

	/* Header Item */
	--_ui5_tc_headerItem_color: var(--sapTab_TextColor);
	--_ui5_tc_overflowItem_default_color: var(--sapTab_TextColor);
	--_ui5_tc_overflowItem_current_color: CurrentColor;
	--_ui5_tc_content_border_bottom: 0.0625rem solid var(--sapObjectHeader_BorderColor);
	--_ui5_tc_headerItem_expand_button_margin_inline_start: 0rem;
	--_ui5_tc_headerItem_single_click_expand_button_margin_inline_start: 0.25rem;
	--_ui5_tc_headerItem_expand_button_border_radius: 0.25rem;
	--_ui5_tc_headerItem_expand_button_separator_display: inline-block;

	/* Focus & Hover */
	--_ui5_tc_headerItem_focus_border: 0.125rem solid var(--sapContent_FocusColor);
	--_ui5_tc_headerItem_focus_border_offset: -5px;
	--_ui5_tc_headerItemIcon_focus_border_radius: 50%;
	--_ui5_tc_headerItem_focus_border_radius: 0.375rem;
	--_ui5_tc_headerItem_text_hover_color: var(--sapTab_Selected_TextColor);

	/* Header Item icons */
	--_ui5_tc_headerItemIcon_border: 0.125rem solid var(--sapTab_ForegroundColor);

	/* Mixed Mode */
	--_ui5_tc_mixedMode_itemText_color: var(--sapTextColor);

	/* Overflow Buttons*/
	--_ui5_tc_overflow_text_color: var(--sapTextColor);
}
