@import "../base/Tag-parameters.css";

:root {
	--_ui5-tag-padding-inline: 0.375em;
	--_ui5-tag-padding-inline-icon-only: 0.313rem;
	--_ui5-tag-text-transform: none;
	--_ui5-tag-icon-gap: 0.25rem;
	--_ui5-tag-font-size: var(--sapFontSize);
	--_ui5-tag-font: var(--sapFontSemiboldDuplexFamily);
	--_ui5-tag-font-weight: normal;
	--_ui5-tag-letter-spacing: normal;
}