@import "../base/Token-parameters.css";

:root {
	--_ui5_token_focus_outline_width: 0.0625rem;
	--_ui5_token_hover_border_color: var(--sapButton_TokenBorderColor);
	--_ui5_token_selected_focus_outline: none;
	--_ui5_token_focus_outline: none;
	--_ui5_token_outline_offset: 0.125rem;
	--_ui5_token_selected_hover_border_color: var(--sapButton_Selected_BorderColor);
	--ui5_token_focus_pseudo_element_content: '';
	--_ui5_token_icon_padding: 0.25rem 0.5rem;
	--_ui5_token_border_radius: 0.375rem;
	--_ui5_token_focus_outline_border_radius: .5rem;
	--_ui5_token_text_color: var(--sapTextColor);
	--_ui5_token_selected_text_font_family: var(--sapFontSemiboldDuplexFamily);
	--_ui5_token_selected_internal_border_bottom: 0.125rem solid var(--sapButton_Selected_BorderColor);
	--_ui5_token_selected_internal_border_bottom_radius: .1875rem;
	--_ui5_token_text_icon_top: 0.0625rem;
	--_ui5_token_selected_focused_offset_bottom: -.375rem;
	--_ui5_token_readonly_padding: 0.25rem 0.3125rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_token_outline_offset: 0;
	--_ui5_token_selected_focused_offset_bottom: -.25rem;
}