@import "../base/WizardTab-parameters.css";

:root {
	--_ui5_wiz_tab_title_color: var(--sapTextColor);
	--_ui5_wiz_tab_title_font_weight: bold;
	--_ui5_wiz_tab_focus_outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	--_ui5_wiz_tab_focus_border_radius: 8px;
}