@font-face {
	font-family: "72-Bold";
	src: url(../../../www/home/fonts/72-Bold.woff2) format("woff2"),
		 url(../../../www/home/fonts/72-Bold.woff) format("woff");
}

@font-face {
	font-family: "72-Regular";
	src: url(../../../www/home/fonts/72-Regular.woff2) format("woff2"),
		 url(../../../www/home/fonts/72-Regular.woff) format("woff");
}

body {
	font-family: "72-Regular", Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	padding: 0.625rem 1.25rem;
}

.flex-align-center {
	align-items: center;
}

.example-wrapper {
	padding: 1rem 3rem 8rem 3rem;
}

.control-header {
	font-family: "72-Bold", "72-Regular";
	font-size: 3rem;
	margin: 2rem 0 0 0;
	color: #333333;
}

.snippet {
	padding: 1rem 1.5rem;
	border: 0.0625rem solid #C1C1C1;
	border-bottom: none;
}

.panel-snippet {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

pre.prettyprint {
	box-sizing: border-box;
	margin: 0 0 3rem 0;
	width: 100%;
	padding: 1rem;
	overflow: auto;
	border-top: none;
	border-radius: 0 0 0.375rem 0.375rem;
	border: 0.0625rem solid #C1C1C1;
	background-color: #394958;
}

pre.prettyprint > xmp {
	margin: 0;
	font-family: Menlo, "Lucida Console", Monaco, "Courier New", monospace !important;
	font-size: 14px !important;
	line-height: 1.3rem !important;
}

.samples-margin {
	margin: 0 8px 8px 0;
}

.samples-vertical-align {
	vertical-align: middle;
}

.samples-margin-bottom {
	margin-bottom: 8px;
}

.samples-padding {
	padding: 0 8px 8px 0;
}


.samples-big-margin-right {
	margin-right: 16px;
}

.full-width {
	width: 100%;
}

.panel-width, .datepicker-width, .textarea-width, .input-width {
	width: 320px;
	max-width: 100%;
}

.radio-button-group {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	height: fit-content;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.popover-content {
	width: 300px;
	height: 150px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.popover-footer, .dialog-footer {
	display: flex;
	align-items: center;
	padding: .5rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	margin: 3rem 6rem;
}

.login-form > div {
	display: grid;
	width: 15rem;
	margin-bottom: .5rem;
}

.frame {
	height: 100%;
	width: 100%;
}

#page-container {
	overflow: scroll;
	height: 100%;
	width: 100%;
}

.api-container h1 {
	margin-top: 4.5rem;
}

.component-title {
	/* margin: 0; */
	font-family: "72-Bold";
	font-size: 48px;
	color: #333333;
}

.component-subtitle {
	font-family: "72-Regular";
	font-size: 20px;
	color: #666666;
}

.component-description {
	font-family: "72-Regular";
	font-size: 14px;
	color: #666666;
	line-height: 22px;
}

.component-description h3 {
	font-family: "72-Regular";
	color: #333333;
}

.comment-api-title {
	font-family: "72-Regular";
	font-size: 28px;
	color: #333333;
	/* margin: 0; */
}

.space-top {
	margin-top: 72px;
}

.small-space-top {
	margin-top: 16px;
}

pre.prettyprint>xmp {
	padding-left: 24px;
}

.api-table-header-roll {
	background: #F0F0F0;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.20);
}

.border-row {
	background: #FFFFFF;
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.20);
}

.cell.last-param-cell {
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.20);
}

.comment-api-table {
	border-collapse: collapse;
	font-family: "72-Regular";
	table-layout: fixed;
	font-size: 15px;
	color: #333333;
	width: 100%;
	border: 1px solid #F0F0F0;
}

.api-table-roll-even {
	background: #FFFFFF;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.10);
}

.api-table-roll-odd {
	background: #FAFAFA;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.10);
}

.cell.api-table-header-cell {
	white-space: nowrap;
	padding-left: 1rem;
	padding-right: 0.8rem;
	font-family: "72-Bold";
	color: white;
}

.api-table-param-name.cell {
	padding-left: 3rem;
}

.first-cell {
	font-family: "72-Bold";
}

.comment-api-table thead tr {
	height: 36px;
}

.api-table-content-cell {
	font-family: "72-Regular";
	font-size: 15px;
	color: #333333;
	padding: 1rem 0.8rem 1rem 1rem;
}

.cell.api-table-content-cell.api-table-content-cell-description {
	font-size: 14px;
	flex: 1 50%;
}

.api-table-event-param-cell.info-cell {
	font-family: "72-Regular";	
}

.api-table-content-cell-bold {
	font-family: "72-Bold";
}

.api-table-content-cell-description {
	font-family: "72-Regular";
	font-size: 14px;
	color: #333333;
}

.api-table-event-description {
	margin-top: 8px;
	display: inline-block;
}

.info-cell {
	font-size: 15px;
	color: #333333;
}

.api-table-content-cell-description {
	font-size: 16px;
}

.api-table-content-cell-link {
	vertical-align: top;
}

.api-table-event-param-cell {
	padding: 8px 0 8px 64px;
	font-family: "72-Regular";
}

.api-table {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.hcb-background .api-table {
	border: 1px solid #fff;
}

.hcb-background .api-container.appended-doc {
	color: #fff;
}

.hcb-background .api-table-header-roll {
	background-color: #222;
}

.hcb-background .api-table-roll-even {
	background: #000;
	box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.10);
}

.hcb-background .api-table-roll-odd {
	background: #222;
	box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.10);
}

.bold {
	font-family: "72-Bold";
}

.head {
	display: flex;
	flex-flow: row wrap;
	flex: 1 100%;
	width: 100%;
	background: #F0F0F0;
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.20);
	height: 2.2rem;
}

.head .api-table-content-cell.cell {
	font-family: "72-Bold";
	font-size: 15px;
	color: #333333;
}

.head .cell {
	font-family: "72-Bold";
	font-size: 15px;
	color: #333333;
	display: flex;
	align-items: center;
}

.head .cell:last-child,
.row .cell:last-child {
	flex: 1 50%;
}

.row {
	display: flex;
	flex-flow: row wrap;
	flex: 1 100%;
	width: 100%;
}

.cell {
	flex: 2 0;
	min-width: 6rem;
	justify-content: flex-start;
	align-items: flex-start;
}

.row.api-table-roll-even.noBorder {
	box-shadow: none;
}

.footer-wrapper {
	padding-top: 2rem;
    padding-bottom: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	border-top: 1px solid #D8D8D8;
	font-family: "72-Regular";
}

.footer-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
}

.footer-links > a {
	color: #333333;
	text-decoration: none;
}

.footer-links > a:hover {
	text-decoration: underline;
}

.separator::after {
	content: "|";
    padding: 0 1rem;
    color: #D8D8D8;
    text-decoration: none;
}

@media(max-width: 600px) {
	.login-form {
		margin: 3rem 1rem;
	}

	.samples-responsive-margin-bottom {
		margin-bottom: 8px;
	}

	.samples-responsive-padding-bottom {
		padding-bottom: 8px;
	}

	.example-wrapper {
		padding: 0.625rem 1.25rem;
	}
}

@media(max-width: 920px) {
	.api-table .head .cell:last-child {
		display: none;
	}

	.api-table .row .cell:last-child {
		flex: 1 100%;
	}

	.api-table .row .cell.api-table-content-cell-description {
		margin-top: 1rem;
		line-height: 1.4;
	}
}

@media(max-width: 480px) {
	.api-table .head .cell:nth-child(3) {
		display: none;
	}

	.api-table .row .cell:nth-child(3) {
		flex: 1 100%;
	}
}

@media(max-width: 320px) {
	.api-table .head .cell:nth-child(2) {
		display: none;
	}

	.api-table .row .cell:nth-child(2) {
		flex: 1 100%;
	}
}