:root {
	--_ui5_bar_base_height: 2.75rem;
	--_ui5_bar_subheader_height: 3rem;
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_bar_base_height: 2.5rem;
	--_ui5_bar_subheader_height: 2.25rem;
}
