:root {
	--_ui5_dynamic_page_header_padding_top: 1rem;
    --_ui5_dynamic_page_header_padding_bottom: 1rem;

    --_ui5_dynamic_page_header_background_color: var(--sapObjectHeader_Background);
    --_ui5_dynamic_page_header-actions-box-shadow: var(--sapContent_Shadow0);
    --_ui5_dynamic_page_header-actions-color: var(--sapButton_TextColor);
    --_ui5_dynamic_page_header-box-shadow: var(--sapContent_HeaderShadow);
}