:root {
    --_ui5_dynamic_page_footer_spacer: 4rem;

    --_ui5_dynamic_page_title_padding_S: 0.5rem 1rem;
    --_ui5_dynamic_page_title_padding_M: 0.5rem 2rem;
    --_ui5_dynamic_page_title_padding_L: 0.5rem 2rem;
    --_ui5_dynamic_page_title_padding_XL: 0.5rem 3rem;
    --_ui5_dynamic_page_header_padding_S: 0.5rem 1rem 0.125rem;/* 1px padding-bottom added to ensue box-shadow is not overlapped */
    --_ui5_dynamic_page_header_padding_M: 1rem 2rem;
    --_ui5_dynamic_page_header_padding_L: 1rem 2rem;
    --_ui5_dynamic_page_header_padding_XL: 1rem 3rem;
    --_ui5_dynamic_page_content_padding_S: 2rem 1rem 0;
    --_ui5_dynamic_page_content_padding_M: 2rem 2rem 0;
    --_ui5_dynamic_page_content_padding_L: 1rem 2rem 0;
    --_ui5_dynamic_page_content_padding_XL: 1rem 3rem 0;

    --ui5_dynamic_page_background:  var(--sapBackgroundColor);
}