:root {
	--_ui5-notification_item-border-radius: 0px;
	--_ui5-notification_group_header-border-bottom-width: 0.0625rem;
	--_ui5-notification_group_header-margin: 0px;
	--_ui5-notification_group_header-margin-expanded: 0.5rem;
	--_ui5-notification_group_header-padding: 1rem 0.5rem;
	--_ui5-notification_item-state-icon-padding: 0.625rem;
	--_ui5-notification_item-border-bottom: var(--ui5-listitem-border-bottom);
	--_ui5-notification_item-border-top-left-right: none;
	--_ui5-notification_item-margin: 0;
	--_ui5-notification_item-background-color-hover: none;
	--_ui5-notification_item-background-color-active: none;
	--_ui5-notification_item-border-active: 1px solid transparent;
	--_ui5-notification_item-root-padding-inline: 1rem 0.5rem;
	--_ui5-notification_item-content-padding: 0.75rem 1rem;
	--_ui5-notification_item-title-margin-bottom: 0.25rem;
	--_ui5-notification_item-title-padding-end-two-buttons: 4.375rem;
	--_ui5-notification_item-title-padding-end-one-button: 2.125rem;
	--_ui5-notification_item-description-margin-top: 0.75rem;
	--_ui5-notification_item-footer-margin-top: 0.75rem;
	--_ui5-notification_item-focus-offset: 0;
	--_ui5-notification_item-outline-offset: 0;
	--_ui5-notification_item-growing-btn-background-color-active: var(--sapList_Active_Background);
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5-notification_item-description-margin-top: 0.5rem;
	--_ui5-notification_item-footer-margin-top: 0.5rem;
	--_ui5-notification_item-title-padding-end-two-buttons: 3.875rem;
	--_ui5-notification_item-title-padding-end-one-button: 1.875rem;
}