:root {
	--_ui5_shellbar_root_height: 2.75rem;
	--_ui5_shellbar_logo_outline_color: var(--sapContent_ContrastFocusColor);
	--_ui5_shellbar_logo_outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--_ui5_shellbar_logo_outline_color);
	--_ui5_shellbar_outline_offset: -0.0625rem;
	--_ui5_shellbar_logo_outline_offset: var(--_ui5_shellbar_outline_offset);
	--_ui5_shellbar_button_box_shadow: none;
	--_ui5_shellbar_button_box_shadow_active: none;
	--_ui5_shellbar_button_border: none;
	--_ui5_shellbar_button_border_radius: 0.25rem;
	--_ui5_shellbar_button_focused_border: 0.0625rem dotted var(--sapContent_FocusColor);
	--_ui5_shellbar_button_active_color: var(--sapShell_Active_TextColor);
	--_ui5_shellbar_logo_outline_border_radius: 0;
	--_ui5_shellbar_copilot_stop_color1: #C0D9F2;
	--_ui5_shellbar_copilot_stop_color2: #FFFFFF;
	--_ui5_shellbar_copilot_focus_offset: 0;
	--_ui5_shellbar_search_button_size: 2.25rem;
	--_ui5_shellbar_search_field_height: 2.25rem;
	--_ui5_shellbar_search_button_border_radius: 0.25rem;
	--_ui5_shellbar_search_field_background: var(--sapShellColor);
	--_ui5_shellbar_search_field_border: 0.0625rem solid var(--sapShell_InteractiveBorderColor);
	--_ui5_shellbar_search_field_box_shadow: none;
	--_ui5_shellbar_search_field_color: var(--sapShell_TextColor);
	--_ui5_shellbar_search_field_outline_focused: 0.0625rem dotted var(--sapContent_ContrastFocusColor);
	--_ui5_shellbar_input_focus_outline_color: inherit;
	--_ui5_shellbar_overflow_container_middle_height: 2.5rem;
	--_ui5_shellbar_menu_button_title_font_size: 0.75rem;
}