/* fiori 3 */

:root {
	--_ui5_side_navigation_width: 15rem;
	--_ui5_side_navigation_collapsed_width: 3rem;

	--_ui5_side_navigation_navigation_separator_margin: 0.25rem 0.875rem 0.25rem 0.875rem;
	--_ui5_side_navigation_navigation_separator_margin_collapsed: 0.25rem 0.5rem 0.25rem 0.5rem;
	--_ui5_side_navigation_navigation_separator_background_color: var(--sapList_GroupHeaderBorderColor);
	--_ui5_side_navigation_navigation_separator_radius: unset;
	--_ui5_side_navigation_navigation_separator_height: calc(2 * var(--sapList_BorderWidth));
	--_ui5_side_navigation_triangle_color: var(--sapContent_IconColor);
	--_ui5_side_navigation_border_right: 1px solid var(--sapGroup_ContentBorderColor);
	--_ui5_side_navigation_box_shadow: none;
	--_ui5_side_navigation_triangle_display: block;

	--_ui5_side_navigation_icon_color: var(--sapContent_IconColor);
	--_ui5_side_navigation_expand_icon_color: var(--sapContent_IconColor);
	--_ui5_side_navigation_expand_icon_width: 2rem;
	--_ui5_side_navigation_hover_border_style_color: none;
	--_ui5_side_navigation_hover_border_width: 0;
	--_ui5_side_navigation_group_border_style_color: solid var(--sapList_BorderColor);
	--_ui5_side_navigation_group_border_width: 0 0 0.0625rem 0;
	--_ui5_side_navigation_item_border_style_color: none;
	--_ui5_side_navigation_item_border_width: 0;
	--_ui5_side_navigation_item_height: 2.75rem;
	--_ui5_side_navigation_item_expand_arrow_padding: 0.6875rem;
	--_ui5_side_navigation_item_border_radius: 0;
	--_ui5_side_navigation_item_bottom_margin: 0;
	--_ui5_side_navigation_item_padding_start_in_popup: var(--_ui5_side_navigation_group_icon_width);
	--_ui5_side_navigation_item_padding_start_in_overflow_popup: 0.75rem;
	--_ui5_side_navigation_item_transition: none;
	--_ui5_side_navigation_item_padding_left: 0.5rem;
	--_ui5_side_navigation_item_focus_border_offset: 1px;
	--_ui5_side_navigation_item_focus_border_radius: var(--_ui5_side_navigation_item_border_radius);
	--_ui5_side_navigation_collapsed_selected_item_background: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, var(--sapList_SelectionBorderColor), var(--sapList_SelectionBorderColor)), var(--sapList_SelectionBackgroundColor);
	--_ui5_side_navigation_collapsed_selected_item_background_hover: 0 100% / 100% 0.0625rem no-repeat linear-gradient(0deg, var(--sapList_SelectionBorderColor), var(--sapList_SelectionBorderColor)), var(--sapList_Hover_SelectionBackground);
	--_ui5_side_navigation_selected_item_border_color: var(--sapList_SelectionBorderColor);
	--_ui5_side_navigation_selected_border_style_color: solid var(--_ui5_side_navigation_selected_item_border_color);
	--_ui5_side_navigation_selected_and_focused_border_style_color: var(--_ui5_side_navigation_selected_border_style_color);
	--_ui5_side_navigation_selected_border_width: 0 0 0.0625rem 0;
	--_ui5_side_navigation_group_expanded_border_width: 0;
	--_ui5_side_navigation_group_icon_width: var(--_ui5_side_navigation_collapsed_width);
	--_ui5_side_navigation_icon_padding_inline_end: 1rem;
	--_ui5_side_navigation_item_font_family: var(--sapFontFamily);
	--_ui5_side_navigation_parent_item_font_family: var(--sapFontSemiboldDuplexFamily);
	--_ui5_side_navigation_group_padding: 0.5rem;
	--_ui5_side_navigation_padding-flexible: 0;
	--_ui5_side_navigation_padding-fixed: 0;
	--_ui5_side_navigation_popup_padding: 0;
	--_ui5_side_navigation_popup_title_line_height: normal;
	--_ui5_side_navigation_first_fixed_item_margin_top: 0;

	--_ui5_side_navigation_item_expand_icon_visibility: none;
	--_ui5_side_navigation_item_collapsed_hover_focus_width: auto;
	--_ui5_side_navigation_item_collapsed_hover_focus_display: none;
	--_ui5_side_navigation_item_collapsed_hover_focus_padding_right: 0;
	--_ui5_side_navigation_action_item_collapsed_padding: 0;
	--_ui5_side_navigation_item_collapsed_padding: 0;
	--_ui5_side_navigation_action_item_border_hover: var(--sapButton_BorderWidth) solid var(--sapButton_Hover_BorderColor);
	--_ui5_side_navigation_action_item_border_active: var(--sapButton_BorderWidth) solid var(--sapButton_Active_BorderColor);

	--_ui5_side_navigation_item_expand_icon_right: -0.5rem;
	--_ui5_side_navigation_item_expand_icon_hover_left: auto;
	--_ui5_side_navigation_item_expand_icon_hover_right: 0;
	--_ui5_side_navigation_active_text_color: var(--sapList_Active_TextColor);
}

[data-ui5-compact-size],
.ui5-content-density-compact,
.sapUiSizeCompact {
	--_ui5_side_navigation_navigation_separator_margin: var(--_ui5_side_navigation_navigation_separator_margin_collapsed);
	--_ui5_side_navigation_item_height: 2rem;
	--_ui5_side_navigation_item_expand_arrow_padding: 0.3125rem;
}

[dir="rtl"] {
	--_ui5_side_navigation_item_expand_icon_hover_left: 0;
	--_ui5_side_navigation_item_expand_icon_hover_right: auto;
}