:root {
	--_ui5_side_navigation_separator_backgound: var(--sapList_GroupHeaderBorderColor);
	--_ui5_side_navigation_icon_color: var(--sapContent_IconColor);
	--_ui5_side_navigation_icon_size: 1rem;
	--_ui5_side_navigation_toggle_icon_size: 1rem;
	--_ui5_side_navigation_collapsed_state_width: 3.25rem;
	--_ui5_side_navigation_indent_step: 2.25rem;
	--_ui5_side_navigation_icon_padding: 1.125rem;
}