:root {
	--_ui5_TimelineItem_arrow_size: 1.625rem;
	--_ui5_TimelineItem_bubble_border_width: 0.0625rem;
	--_ui5_TimelineItem_bubble_border_style: dotted;
	--_ui5_TimelineItem_bubble_border_radius: 0.25rem;
	--_ui5_TimelineItem_bubble_border_color: var(--sapList_BorderColor);
	--_ui5_TimelineItem_bubble_border_top: -0.125rem;
	--_ui5_TimelineItem_bubble_border_right: -0.125rem;
	--_ui5_TimelineItem_bubble_border_bottom: -0.125rem;
	--_ui5_TimelineItem_bubble_border_left: -0.625rem;
	--_ui5_TimelineItem_bubble_rtl_left_offset: -0.125rem;
	--_ui5_TimelineItem_bubble_rtl_right_offset: -0.625rem;
	--_ui5_TimelineItem_bubble_focus_border_radius: 0;
	--_ui5_TimelineItem_horizontal_bubble_focus_top_offset: -0.625rem;
	--_ui5_TimelineItem_horizontal_bubble_focus_left_offset: -0.125rem;

	--_ui5_TimelineItem_bubble_content_padding: var(--_ui5_tl_bubble_padding);
	--_ui5_TimelineItem_bubble_content_subtitle_padding_top: 0.375rem;
	--_ui5_TimelineItem_bubble_content_description_padding_top: 0.75rem;
}