:root {
	--_ui5_tool_page_shadow_color1: color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
	--_ui5_tool_page_shadow_color2: color-mix(in srgb, var(--sapContent_ShadowColor) 16%, transparent);
	--_ui5_tool_page_box_shadow: 0 0 0.125rem 0 var(--_ui5_tool_page_shadow_color1), 0 0.5rem 1rem 0 var(--_ui5_tool_page_shadow_color2);
}