:root {
	--ui5_upload_collection_drag_overlay_border: 0.125rem dashed var(--sapContent_ForegroundBorderColor);
	--ui5_upload_collection_drop_overlay_border: 0.125rem solid var(--sapContent_DragAndDropActiveColor);
	--ui5_upload_collection_drop_overlay_background: transparent;
	--ui5_upload_collection_thumbnail_size: 3rem;
	--ui5_upload_collection_thumbnail_margin_inline_end: 0.75rem;
	--ui5_upload_collection_small_size_buttons_margin_block_start: 0.75rem;
	--ui5_upload_collection_small_size_buttons_margin_inline_start: 0;
	--ui5_upload_collection_drag_overlay_text_color: var(--sapContent_NonInteractiveIconColor);
	--ui5_upload_collection_drag_overlay_icon_color: var(--sapContent_NonInteractiveIconColor);
	--ui5_upload_collection_drag_overlay_border_radius: 0;
	--ui5_upload_collection_drag_overlay_opacity: 0.8;
}