:root {
	--ui5_upload_collection_drag_overlay_border: 0.125rem dashed var(--sapContent_ForegroundBorderColor);
	--ui5_upload_collection_drop_overlay_border: 0.125rem solid var(--sapContent_DragAndDropActiveColor);
	--ui5_upload_collection_drop_overlay_background: transparent;
	--ui5_upload_collection_button_margin_block_end: 0;
	--ui5_upload_collection_last_button_inline_end: 0;
	--ui5_upload_collection_small_size_buttons_margin_block_start: 0.75rem;
}