:root {
	--_ui5_vsd_header_container: 2.75rem;
	--_ui5_vsd_sub_header_container_height: 2.75rem;
	--_ui5_vsd_content_li_padding: 0.375rem;
	--_ui5_vsd_content_height: 23.4375rem;
	--_ui5_vsd_expand_content_height: 26.1875rem;
}