:root {
    --ui5-login-header-background-color: var(--sapButton_Emphasized_BorderColor);
    --ui5-login-error-message-text-color: var(--sapErrorBorderColor);
    --ui5-login-error-message-background-color: var(--sapErrorBackground);
}