:root {
	--ui5_carousel_button_size: 2.5rem;
	--ui5_carousel_inactive_dot_size: 0.5rem;
	--ui5_carousel_inactive_dot_margin: 0 0.25rem;
	--ui5_carousel_inactive_dot_border: 1px solid var(--sapContent_ForegroundBorderColor);
	--ui5_carousel_inactive_dot_background: none;
	--ui5_carousel_active_dot_border: var(--ui5_carousel_inactive_dot_border);
	--ui5_carousel_active_dot_background: var(--sapContent_Selected_ForegroundColor);
}