@import "../base/GrowingButton-parameters.css";

:host {
	--_ui5_load_more_padding: 0.25rem;
	--_ui5_load_more_border: 1px solid var(--sapButton_BorderColor);
	--_ui5_load_more_border_radius: 0.375rem;
	--_ui5_load_more_outline_width: 0.125rem;
}