@import "../base/ProgressIndicator-parameters.css";
@import "../sap_horizon/ProgressIndicatorLayout-parameters.css";


:root {
    --_ui5_progress_indicator_value_state_none: var(--sapHighlightColor);
    --_ui5_progress_indicator_value_state_error: var(--sapHighlightColor);
    --_ui5_progress_indicator_value_state_warning: var(--sapHighlightColor);
    --_ui5_progress_indicator_value_state_success: var(--sapHighlightColor);
    --_ui5_progress_indicator_value_state_information: var(--sapHighlightColor);
    --_ui5_progress_indicator_bar_border_max: var(--_ui5_progress_indicator_border);

    --_ui5_progress_indicator_bar_color: var(--sapProgress_TextColor);
    --_ui5_progress_indicator_icon_size: var(--sapFontLargeSize);
}