@import "../base/TextArea-parameters.css";

:root {
	--_ui5_textarea_focus_after_width: 2px;
	--_ui5_textarea_warning_border_style: dashed;
	--_ui5_textarea_error_warning_border_width: 2 * var(--sapField_BorderWidth);
	--_ui5_textarea_information_border_width: 0.0625rem;
	--_ui5_textarea_placeholder_font_style: normal;
	--_ui5_input_warning_font_weight: bold;
	--_ui5_textarea_value_state_error_warning_placeholder_font_weight: bold;
	--_ui5_textarea_error_placeholder_font_style: normal;
	--_ui5_textarea_error_placeholder_color: var(--sapField_TextColor);
	--_ui5_textarea_disabled_background_color: var(--sapField_Background);
	--_ui5_textarea_error_hover_background_color: var(--sapField_InvalidBackground);
	--_ui5_textarea_error_focused_background_color: var(--sapField_InvalidBackground);
	--_ui5_textarea_information_border_width: 0.0625rem;
	--_ui5_textarea_focus_outline_offset: -5px;
	--_ui5_textarea_value_state_focus_outline_offset: -5px;
}