[ui5-card] {
	width: 961px;
}

.guidedPromptSection {
	display: flex;
	height: 450px;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1rem;
	border-start-start-radius: 0.625rem;
	border-start-end-radius: 0.625rem;
	gap: 0.5rem;
}

.guidedPromptLblBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.guidedPromptForm,
.guidedPromptFormGroup {
	display: flex;
	flex-direction: column;
}

.guidedPromptFormGroup {
	margin-top: 1rem;
}

.guidedPromptForm [ui5-select] {
	width: 100%;
}

.guidedPromptForm [ui5-range-slider] {
	margin-top: 1.5rem;
}

[ui5-dynamic-side-content] div[slot='sideContent'] {
	margin-left: 1rem;
}

[ui5-dynamic-side-content] .guidedPromptForm {
	margin-bottom: 1rem;
	padding: 0 1rem;
}

.hidden {
	display: none;
}

.guidedPromptDialogFooter,
.guidedPromptCardFooter {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 0.25rem;
	padding: 0 0.75rem 0.75rem 0.75rem;
}

.guidedPromptDialogFooter {
	align-items: center;
	padding: 0.25rem 0;
	width: 100%;
}

