:host {
	background-color: var(--sapPageHeader_Background);
	height: var(--_ui5_bar_base_height);
	width: 100%;
	box-shadow: inset 0 -0.0625rem var(--sapPageHeader_BorderColor);
	display: block;
}

.ui5-bar-root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	width: inherit;
	background-color: inherit;
	box-shadow: inherit;
	border-radius: inherit;
}

.ui5-bar-root .ui5-bar-startcontent-container {
	padding-inline-start: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.ui5-bar-root .ui5-bar-content-container {
	min-width: 30%;
}

.ui5-bar-root.ui5-bar-root-shrinked .ui5-bar-content-container {
	min-width: 0px;
	overflow: hidden;
}

.ui5-bar-root .ui5-bar-endcontent-container {
	padding-inline-end: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.ui5-bar-root .ui5-bar-midcontent-container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

:host([design="Footer"]){
	background-color: var(--sapPageFooter_Background);
	border-top: 0.0625rem solid var(--sapPageFooter_BorderColor);
	box-shadow: none;
}

:host([design="Subheader"]){
	height: var(--_ui5_bar_subheader_height);
}

:host([design="FloatingFooter"]){
	border-radius: var(--sapElement_BorderCornerRadius);
	background-color: var(--sapPageFooter_Background);
	box-shadow: var(--sapContent_Shadow1);
	border: none;
}
  /* This selector works well for all browsers except IE11.
  After support for IE11 is stopped, the specific selectors added for it can be removed and this selector can be uncommented*/
/* ::slotted(*) {
	margin: 0 0.25rem;
} */

/*Specific selector added for support in IE11*/
::slotted(.ui5-bar-content) {
	margin: 0 0.25rem;
}