.ui5-dynamic-page-title-header-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

:host {
    display: block;
    height: 100%;
    background-color: var(--ui5_dynamic_page_background);
}

.ui5-dynamic-page-root {
    height: inherit;
    overflow-y: hidden;
}

.ui5-dynamic-page-scroll-container {
    overflow-y: auto;
    height: 100%;
}

/* Automatically fit content that has height: 100% */
.ui5-dynamic-page-scroll-container {
    display: flex;
    flex-direction: column;
}

.ui5-dynamic-page-content {
   flex-grow: 1;
   position: relative;
}

.ui5-dynamic-page-fit-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Footer  */
.ui5-dynamic-page-footer {
    position: sticky;
    bottom: 0.5rem;
    box-sizing: border-box;
    z-index: 1;
    opacity: 1;
}

.ui5-dynamic-page-spacer {
    height: var(--_ui5_dynamic_page_footer_spacer);
}

:host([show-footer]) .ui5-dynamic-page-fit-content {
    bottom: var(--_ui5_dynamic_page_footer_spacer);
}

:host([show-footer]) .ui5-dynamic-page-footer {
    animation: bounceShow 0.35s forwards ease-in-out;
}

:host(:not([show-footer])) .ui5-dynamic-page-footer {
    animation: bounceHide 0.35s forwards ease-in-out;
}

::slotted([slot="footerArea"]) {
    /* TODO css vars? */
    border-radius: 0.25rem;
    background-color: var(--_ui5_dynamic_page_header_background_color);
    box-sizing: content-box;
    width: auto;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

/* Footer animation */
@keyframes bounceShow {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounceHide {
    0% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

::slotted([slot="titleArea"]) {
    width: auto;
}

/* Responsive paddings */

:host([media-range="S"]) .ui5-dynamic-page-content,
:host([media-range="S"]) .ui5-dynamic-page-fit-content {
    padding: var(--_ui5_dynamic_page_content_padding_S);
}

:host([media-range="S"]) ::slotted([slot="titleArea"]) {
    padding: var(--_ui5_dynamic_page_title_padding_S);
}

:host([media-range="S"]) ::slotted([slot="headerArea"]) {
    padding: var(--_ui5_dynamic_page_header_padding_S);
}

:host([media-range="M"]) .ui5-dynamic-page-content,
:host([media-range="M"]) .ui5-dynamic-page-fit-content {
    padding: var(--_ui5_dynamic_page_content_padding_M);
}

:host([media-range="M"]) ::slotted([slot="titleArea"]) {
    padding: var(--_ui5_dynamic_page_title_padding_M);
}

:host([media-range="M"]) ::slotted([slot="headerArea"]) {
    padding: var(--_ui5_dynamic_page_header_padding_M);
}

:host([media-range="L"]) .ui5-dynamic-page-content,
:host([media-range="L"]) .ui5-dynamic-page-fit-content {
    padding: var(--_ui5_dynamic_page_content_padding_L);
}

:host([media-range="L"]) ::slotted([slot="titleArea"]) {
    padding: var(--_ui5_dynamic_page_title_padding_L);
}

:host([media-range="L"]) ::slotted([slot="headerArea"]) {
    padding: var(--_ui5_dynamic_page_header_padding_L);
}

:host([media-range="XL"]) .ui5-dynamic-page-content,
:host([media-range="XL"]) .ui5-dynamic-page-fit-content {
    padding: var(--_ui5_dynamic_page_content_padding_XL);
}

:host([media-range="XL"]) ::slotted([slot="titleArea"]) {
    padding: var(--_ui5_dynamic_page_title_padding_XL);
}

:host([media-range="XL"]) ::slotted([slot="headerArea"]) {
    padding: var(--_ui5_dynamic_page_header_padding_XL);
}