:host {
    background-color: var(--_ui5_dynamic_page_header_background_color);
    display: block;
    box-shadow: var(--_ui5_dynamic_page_header-box-shadow);
}

.ui5-dynamic-page-header-root {
    background: inherit;
}