.ui5-dynamic-page-title-header-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.ui5-dynamic-page-content {
    padding: 0 0 0 var(--_ui5_dynamic_page_title_content_padding_left);
}

:host {
    display: block;
    height: 100%;
}

.ui5-dynamic-page-root {
    height: inherit;
    overflow-y: hidden;
}

.ui5-dynamic-page-scroll-container {
    overflow-y: scroll;
    height: 100%;
}

/* Footer  */
.ui5-dynamic-page-footer {
    position: sticky;
    bottom: 0.5rem;
    box-sizing: border-box;
    z-index: 1;
    opacity: 1;
}

:host([show-footer]) .ui5-dynamic-page-content {
    padding-bottom: 4rem;
}

:host([show-footer]) .ui5-dynamic-page-footer {
    animation: bounceShow 0.35s forwards ease-in-out;
}

:host(:not([show-footer])) .ui5-dynamic-page-footer {
    animation: bounceHide 0.35s forwards ease-in-out;
}

::slotted([slot="footer"]) {
    /* TODO css vars? */
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: #fff;
    box-sizing: border-box;
    width: auto;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

/* Footer animation */
@keyframes bounceShow {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounceHide {
    0% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

::slotted([slot="titleArea"]) {
    width: auto;
}

/* Responsive paddings */

:host([media-range="S"]) .ui5-dynamic-page-content {
    padding: 0 1rem;
}

:host([media-range="M"]) .ui5-dynamic-page-content,
:host([media-range="L"]) .ui5-dynamic-page-content {
    padding: 0 2rem;
}

:host([media-range="XL"]) .ui5-dynamic-page-content {
    padding: 0 3rem;
}