.ui5-dynamic-page-title-header-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

:host {
    display: block;
    height: 100%;
}

.ui5-dynamic-page-root {
    height: inherit;
    overflow-y: hidden;
}

.ui5-dynamic-page-scroll-container {
    overflow-y: scroll;
    height: 100%;
}

/* Footer  */
.ui5-dynamic-page-footer {
    position: sticky;
    bottom: 0.5rem;
    box-sizing: border-box;
    z-index: 1;
    opacity: 1;
    padding: 0 1rem;
}

:host([show-footer]) .ui5-dynamic-page-content {
    padding-bottom: 4rem;
}

:host([show-footer]) .ui5-dynamic-page-footer {
    animation: bounceShow 0.35s forwards ease-in-out;
}

:host(:not([show-footer])) .ui5-dynamic-page-footer {
    animation: bounceHide 0.35s forwards ease-in-out;
}

::slotted([slot="footer"]) {
    /* TODO css vars? */
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: #fff;
}

/* Footer animation */
@keyframes bounceShow {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounceHide {
    0% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* Dynamic Page Content */


.ui5-dynamic-page-content-background-standard {
    background-color: var(--sapBackgroundColor);
}

.ui5-dynamic-page-content-background-solid {
    background-color: var(--sapBackgroundColor);
}

.ui5-dynamic-page-content-background-transparent {
    background-color: transparent;
}

.ui5-dynamic-page-content-background-list {
    background-color: var(--sapGroup_ContentBackground);
}