@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: block;
	background: var(--_ui5_fcl_solid_bg);
}

.ui5-fcl-root {
	height: 100%;
	display: flex;
	flex-direction: row;
}

/* columns */
.ui5-fcl-column {
	background: inherit;
	box-sizing: border-box;
	will-change: width;
	overflow-y: auto;
}

/* disable pointer events on columns while dragging the separator
 to prevent unintended interaction with the columns content */
:host([_resizing]) .ui5-fcl-column {
	pointer-events: none;
}

.ui5-fcl-column-animation {
	transition: width 560ms cubic-bezier(0.1, 0, 0.05, 1), visibility 560ms ease-in;
}

.ui5-fcl-column:not(.ui5-fcl-column-collapse-animation) {
	min-width: 15.5rem; /* as noted in our documentation */
}

.ui5-fcl-column--hidden {
	display: none;
}

/* separator */
.ui5-fcl-separator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 1rem;
	background-color: var(--sapShell_Background);
	border-inline-start: var(--_ui5_fcl_column_border);
	border-inline-end: var(--_ui5_fcl_column_border);
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}

.ui5-fcl-separator:focus { 
	outline: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	outline-offset: calc(-1 * var(--sapContent_FocusWidth));
}

.ui5-fcl-grip {
	cursor: col-resize;
	overflow: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 2rem;
	z-index: 10;
}

.ui5-fcl-grip-icon {
	color: var(--sapButton_TextColor);
}

.ui5-fcl-arrow {
	position: absolute;
    top: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	min-width: 1.5rem;
	will-change: transform;
	overflow: visible;
	z-index: 10;
	cursor: pointer;
}

/* grip decoration */
.ui5-fcl-grip:before {
	background-image: var(--_ui5_fcl_decoration_top);
	bottom: calc(50% + 1rem);
}

.ui5-fcl-grip:after {
	background-image: var(--_ui5_fcl_decoration_bottom);
	top: calc(50% + 1rem);
}

.ui5-fcl-grip:before,
.ui5-fcl-grip:after {
	content: '';
	position: absolute;
	left: 0;
	height: 4rem;
	width: 100%;
	transition: all 0.1s ease-in;
	background-repeat: no-repeat;
	background-size: 0.0625rem 100%;
	background-position-x: calc(50% - 0.03125rem);
}

.ui5-fcl-separator:hover .ui5-fcl-grip:before,
.ui5-fcl-separator:hover .ui5-fcl-grip:after {
	height: calc(50% - 1rem);
}

/* Only apply shorter height when arrow is visible */
.ui5-fcl-separator:hover .ui5-fcl-arrow + .ui5-fcl-grip::before {
    height: calc(40% - 1rem);
}

[aria-hidden] ::slotted([slot="startColumn"]),
[aria-hidden] ::slotted([slot="midColumn"]),
[aria-hidden] ::slotted([slot="endColumn"]){
	visibility: hidden;
}