:host(:not([hidden])) {
	display: block;
	background: var(--_ui5_fcl_solid_bg);
}

.ui5-fcl-root {
	height: 100%;
	display: flex;
	flex-direction: row;
}

/* columns */
.ui5-fcl-column {
	min-width: 20rem;
	background: inherit;
	box-sizing: border-box;
	transition: width 560ms cubic-bezier(0.1, 0, 0.05, 1), visibility 560ms ease-in;
	will-change: width;
}

:host([_visible-columns="2"]) .ui5-fcl-column--start {
	border-right: var(--_ui5_fcl_column_border);
}

:host([_visible-columns="3"]) .ui5-fcl-column--start {
	border-right: var(--_ui5_fcl_column_border);
}

:host([_visible-columns="2"]) .ui5-fcl-column--middle {
	border-left: var(--_ui5_fcl_column_border)
}

:host([_visible-columns="3"]) .ui5-fcl-column--middle {
	border-left: var(--_ui5_fcl_column_border)
}

:host([_visible-columns="3"]) .ui5-fcl-column--middle {
	border-right: var(--_ui5_fcl_column_border)
}

:host([_visible-columns="3"]) .ui5-fcl-column--end {
	border-left: var(--_ui5_fcl_column_border);
}

.ui5-fcl-column--hidden {
	display: none;
}


/* arrow */
.ui5-fcl-arrow-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1rem;
}

.ui5-fcl-arrow {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	min-width: 1.5rem;
	will-change: transform;
	overflow: visible;
	z-index: 1;
}

/* arrow decoration */
.ui5-fcl-arrow:before {
	background-image: var(--_ui5_fcl_decoration_top);
	background-position-y: -0.3125rem;
	bottom: 100%;
}

.ui5-fcl-arrow:after {
	background-image: var(--_ui5_fcl_decoration_bottom);
	background-position-y: 0.3125rem;
	top: 100%;
}

.ui5-fcl-arrow:before,
.ui5-fcl-arrow:after {
	content: '';
	position: absolute;
	left: 0;
	height: 4rem;
	width: 100%;
	transition: all 0.1s ease-in;
	background-repeat: no-repeat;
	background-size: 0.0625rem 100%;
	background-position-x: calc(50% - 0.03125rem);
}

.ui5-fcl-arrow:hover:before,
.ui5-fcl-arrow:hover:after {
	height: 7rem;
}