
:host(:not([hidden])) {
	width: 100%;
	height: 100%;
	display: block;
	background: var(--sapBackgroundColor);
	box-sizing: border-box;
	overflow: hidden;
}

.ui5-nl-root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.ui5-nl-header {
	box-shadow: var(--sapShell_Shadow);
}

.ui5-nl-section {
	display: flex;
	flex: 1;
	min-height: 0;
	position: relative;
}

.ui5-nl-aside {
	transition: transform 0.3s;
	z-index: 1;
}

:host([is-phone]) .ui5-nl-aside,
:host([side-collapsed]) .ui5-nl-aside {
	z-index: 3;
}

:host([is-phone]) .ui5-nl-aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}

.ui5-nl-content {
	flex: 1;
	min-width: 0;
	z-index: 2;
}

:host([side-collapsed][is-phone]) .ui5-nl-aside {
	transform: translateX(-100%);
}