:host::part(native-li) {
	padding-left: 0.5rem;
	width: auto;
}
:host::part(native-li)::after {
	border-radius: 0.375rem;
	inset: 0;
 }

:host {
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	height: var(--_ui5_side_navigation_item_height);
	min-height: var(--_ui5_side_navigation_item_height);
	border-radius: 0.375rem;
	transition: var(--_ui5_side_navigation_item_transition);
	color: var(--sapList_TextColor);
	font-weight: bold;
	font-size: var(--sapFontSize);
}

:host([design="Action"]) {
	color: var(--sapButton_TextColor);
}

:host([ui5-navigation-menu-item][selected]) {
	border-bottom: none;
}

:host::part(content) {
	color: inherit;
}

:host .ui5-navmenu-item-link {
	text-decoration: none;
	color: inherit;
}

.ui5-navigation-menu-item-root .ui5-menu-item-icon-end {
	position: relative;
	inset-inline-end: auto;
	width: 0.75rem;
	height: 0.75rem;
	color: inherit
}

.ui5-navigation-menu-item-root .ui5-sn-item-external-link-icon {
	min-width: 2rem;
	height: 0.875rem;
}

:host([design="Action"]) .ui5-sn-item-external-link-icon {
	color: var(--sapButton_TextColor);
}

:host::part(icon) {
	color: inherit;
	min-width: 1rem;
	min-height: 1rem;
}

:host([focused]):not([active]) {
	background: none;
}