@import "./InvisibleTextStyles.css";

::slotted([ui5-navigation-menu-item]:not(:last-of-type)) {
	margin-block-end: var(--_ui5_side_navigation_item_bottom_margin);
}

.ui5-navigation-menu .ui5-navigation-menu-main {
	padding: var(--_ui5_side_navigation_popup_padding);
}

.ui5-menu-rp.ui5-navigation-menu {
	min-width: 10rem;
	background: var(--sapGroup_ContentBackground);
	border: none;
}
