@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: block;
	max-width: 100%;
	min-height: var(--_ui5_list_item_base_height);
	background: var(--ui5-listitem-background-color);
	cursor: pointer;
}

/*TODO after li is implemented*/
:host([focused]) .ui5-nli-focusable {
	outline: none;
}

:host([focused]) .ui5-nli-focusable:not(.ui5-nli-group-root)::after {
	content: "";
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

:host([busy])  {
	opacity: 0.6;
	pointer-events: none;
}

:host([busy]) .ui5-nli-busy {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}