@import "./InvisibleTextStyles.css";

:host(:not([hidden])) {
	display: block;
	max-width: 100%;
	min-height: var(--_ui5_list_item_base_height);
	background: var(--ui5-listitem-background-color);
	cursor: pointer;
}

.ui5-nli-focusable:focus {
	outline: none;
}

:host([desktop]) .ui5-nli-focusable:focus:not(.ui5-nli-group-root)::after,
.ui5-nli-focusable:focus-visible:not(.ui5-nli-group-root)::after {
	content: "";
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
