@import "./NotificationListItemBase.css";
@import "./NotificationStateIcon.css";

:host([collapsed]) .ui5-nli-group-items {
	display: none;
}

:host([read]) .ui5-nli-group-title-text {
	font-weight: normal;
}

.ui5-nli-group-root {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.ui5-nli-group-header {
	height: 2.75rem;
	position: relative;
	background: var(--sapList_GroupHeaderBackground);
	display: flex;
	align-items: center;
	margin-block: var(--_ui5-notification_group_header-margin);
	padding-inline: var(--_ui5-notification_group_header-padding);
	width: 100%;
	border-bottom: var(--_ui5-notification_group_header-border-bottom-width) solid var(--sapList_GroupHeaderBorderColor);
	box-sizing: border-box;
	cursor: pointer;
}

/* The focus is on the whole group but should be visualized on the Group Header */
:host([focused]) .ui5-nli-focusable.ui5-nli-group-root .ui5-nli-group-header::before {
	content: "";
	border: var(--sapContent_FocusWidth) var(--sapContent_FocusStyle) var(--sapContent_FocusColor);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}

.ui5-nli-group-toggle-icon {
	min-width: 1rem;
	min-height: 1rem;
	margin-inline: 0.5rem;
	color: var(--sapContent_IconColor);
}

.ui5-nli-group-title-text {
	color: var(--sapGroup_TitleTextColor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontHeader5Size);
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 2rem;
	margin-inline-start:  0.75rem;
}

.ui5-nli-group-divider {
	flex: 1;
}

/* fix for blue background color on tap (touchscreen devices) */
:host([ui5-li-notification-group]) {
	-webkit-tap-highlight-color: transparent;
}
