/*
 * SPDX-FileCopyrightText: SAP SE <https://sap.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@import "./NotificationListItemBase.css";
@import "./NotificationPrioIcon.css";

:host(:not([wrap])) .ui5-nli-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

:host(:not([wrap])) .ui5-nli-description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

:host([_show-more-pressed]) .ui5-nli-title {
	-webkit-line-clamp: unset;
}

:host([_show-more-pressed]) .ui5-nli-description  {
	-webkit-line-clamp: unset;
}

:host([read]) .ui5-nli-title {
	font-weight: normal;
}

/* IE */
:host(:not([wrap])) .ui5-nli-content--ie .ui5-nli-description {
	max-height: 32px;
}

:host(:not([wrap])) .ui5-nli-content--ie .ui5-nli-title {
	max-height: 32px;
}

:host([_show-more-pressed]) .ui5-nli-content--ie .ui5-nli-title {
	max-height: inherit;
}

:host([_show-more-pressed]) .ui5-nli-content--ie .ui5-nli-description  {
	max-height: inherit;
}
/* End */

.ui5-nli-root {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	width: 100%;
	padding: 1rem 0.5rem 1rem 1rem;
	box-sizing: border-box;
	cursor: pointer;
}

.ui5-nli-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	padding: 0 1rem 0 0.75rem;
	font-family: var(--sapFontFamily);
	box-sizing: border-box;
}

.ui5-nli-heading {
	display: flex;
	margin-bottom: 0.25rem;
	box-sizing: border-box;
}

.ui5-nli-title {
	color: var(--sapGroup_TitleTextColor);
	font-weight: bold;
	font-size: var(--sapFontHeader6Size);
}

.ui5-nli-description {
	display: flex;
	margin-top: 0.5rem;
	color: var(--sapTextColor);
	font-size: var(--sapFontSize);
	box-sizing: border-box;
	box-sizing: border-box;
}

/*  Footer */
.ui5-nli-footer {
	display: flex;
	color: var(--sapContent_LabelColor);
	font-size: var(--sapFontSize);
	padding-top: 0.5rem;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.ui5-nli-footer-divider {
	position: relative;
	align-items: center;
	margin-left: 0.5rem;
	margin-right: 0.625rem;
}

.ui5-nli-footer-divider::after {
	position: absolute;
	content: ".";
	top: -20%;
}

.ui5-nli-footer-showMore {
	margin-left: 1rem;
}

::slotted([slot^="footnotes"]) {
	color: var(--sapContent_LabelColor);
	font-size: var(--sapFontSize);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* Actions */
.ui5-nli-actions {
	display: flex;
	box-sizing: border-box;
}

/* RTL */

[dir="rtl"] .ui5-nli-footer-divider {
	margin-right: 0.5rem;
	margin-left: 0.625rem;
}

[dir="rtl"] .ui5-nli-footer-showMore {
	margin-right: 1rem;
}