
:host(:not([hidden])) {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.ui5-page-root {
    height: inherit;
    overflow: hidden;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    background-color: inherit;
}

.ui5-page-header-root {
    z-index: 1;
}

.ui5-page-content-root {
    padding: 0 3rem;
    overflow: hidden auto;
    position: absolute;
    will-change: scroll-position;
    width: 100%;
    top: 2.75rem;
    bottom: 0;
    box-sizing: border-box;
}

.ui5-page-footer-root {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

:host([floating-footer]) .ui5-page-footer-root {
    padding: 0 3rem;
    opacity: 1;
    bottom: 0.5rem;
}

@media (max-width: 599px) {
    .ui5-page-content-root {
        padding: 0 1rem;
    }

    :host([floating-footer]) .ui5-page-footer-root {
        padding: 0 1rem;
    }
}

@media (min-width: 600px) and (max-width: 1439px) {
    .ui5-page-content-root {
        padding: 0 2rem;
    }

    :host([floating-footer]) .ui5-page-footer-root {
        padding: 0 2rem;
    }
}

:host([disable-scrolling]) .ui5-page-content-root {
    overflow: hidden;
}

:host([hide-footer]:not([floating-footer])) .ui5-page-footer-root {
    display: none;
}

:host([floating-footer]:not([hide-footer])) .ui5-page-footer-root {
    animation: bounceShow 0.35s forwards ease-in-out;
}

:host([floating-footer][hide-footer]) .ui5-page-footer-root {
    animation: bounceHide 0.35s forwards ease-in-out;
}

/* BackgroundDesign */
:host([background-design="Solid"]) {
    background-color: var(--sapBackgroundColor);
}

:host([background-design="Transparent"]) {
    background-color: transparent;
}

:host([background-design="List"]) {
    background-color: var(--_ui5_page_list_bg);
}

/* Footer animation */
@keyframes bounceShow {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounceHide {
    0% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
