
:host(:not([hidden])) {
	width: 100%;
	height: 100%;
	display: block;
	container-type: size;
}

.ui5-page-root {
	height: inherit;
	overflow: hidden;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
	background-color: inherit;
}

.ui5-page-header-root {
	z-index: 1;
}

.ui5-page-content-root {
	overflow: hidden auto;
	position: absolute;
	will-change: scroll-position;
	width: 100%;
	top: 2.75rem;
	bottom: 0;
	box-sizing: border-box;
	font-size: var(--sapFontSize);
	color: var(--sapTextColor);
}

.ui5-page-footer-root {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

:host(:not([fixed-footer])) .ui5-page-footer-root {
	opacity: 1;
	bottom: 0.5rem;
}
/*** Responsive paddings ***/

::slotted([ui5-bar][design="FloatingFooter"][slot="footer"]) {
	--_ui5_bar-end-container-padding-end: 0;
	--_ui5_bar-end-container-padding-start: 0;
}

::slotted([ui5-bar][design="FloatingFooter"]) {
	margin: auto;
	width: calc(100% - (2 * var(--_ui5_page_side_padding)));
}

.ui5-page-content-root {
	padding: 0 var(--_ui5_page_side_padding);
}

/* S Size */
@container (max-width: 599px) {
	.ui5-page-root {
		--_ui5_page_side_padding: 1rem;
	}
}

/* M and L Size */
@container (min-width: 600px) and (max-width: 1439px) {
	.ui5-page-root {
		--_ui5_page_side_padding: 2rem;
	}
}

/* XL Size */
@container (min-width: 1440px) {
	.ui5-page-root {
		--_ui5_page_side_padding: 3rem;
	}
}

:host([no-scrolling]) .ui5-page-content-root {
	overflow: hidden;
}

:host([hide-footer][fixed-footer]) .ui5-page-footer-root {
	display: none;
}

:host(:not([fixed-footer]):not([hide-footer])) .ui5-page-footer-root {
	animation: bounceShow var(--_ui5-page-animation-duration) forwards ease-in-out;
}

:host(:not([fixed-footer])[hide-footer]) .ui5-page-footer-root {
	animation: bounceHide var(--_ui5-page-animation-duration) forwards ease-in-out;
}

/* BackgroundDesign */
:host([background-design="Solid"]) {
	background-color: var(--sapBackgroundColor);
}

:host([background-design="Transparent"]) {
	background-color: var(--_ui5_page_transparent_bg);
}

:host([background-design="List"]) {
	background-color: var(--_ui5_page_list_bg);
}

/* Footer animation */
@keyframes bounceShow {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bounceHide {
	0% {
		transform: translateY(-5%);
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}
