:host {
	width: var(--_ui5_product_switch_item_width);
	height: var(--_ui5_product_switch_item_height);
	margin: .25rem;
	border-radius: .25rem;
	box-sizing: border-box;
	background:var(--sapUiListBackground);
}

:host(:hover) {
	background:var(--sapUiListHoverBackground);
}

:host([active]) {
	background:var(--sapUiListActiveBackground);
}

:host([active]) .ui5-product-switch-item-root .ui5-product-switch-item-icon,
:host([active]) .ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-heading,
:host([active]) .ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-subtitle {
	color:var(--sapUiListActiveTextColor);
}

:host([focused]) {
	outline:var(--_ui5_product_switch_item_outline);
	outline-offset:var(--_ui5_product_switch_item_outline_offset)
}

:host([active][focused]) {
	outline-color: var(--_ui5_product_switch_item_active_outline_color);
}

.ui5-product-switch-item-root {
	user-select: none;
	-ms-user-select: none;
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
	align-items: center;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	padding: .5rem;
	padding-top: 4rem;
	cursor: pointer;
}

:host([icon]) .ui5-product-switch-item-root {
	padding-top: .5rem;
}

.ui5-product-switch-item-root .ui5-product-switch-item-icon {
	width: 3rem;
	height: 3rem;
	padding: .75rem;
	margin-bottom: .5rem;
	box-sizing: border-box;
	color: var(--sapUiContentIconColor);
	pointer-events: none;
}

.ui5-product-switch-item-root .ui5-product-switch-item-text-content {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 10.25rem;
}

.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-subtitle,
.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-heading {
	line-height: 1.25rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	pointer-events: none;
}

.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-heading {
	font-size:var( --sapMFontHeader6Size);
	color:var(--sapUiGroupTitleTextColor);
}

.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-subtitle {
	font-size:var( --sapMFontSmallSize);
	color:var(--sapUiContentLabelColor);
}

@media only screen and (max-width: 600px) {
	:host {
		margin: 0;
		width: 100%;
		width: 100%;
		max-width: 600px;
		height: 5rem;
		border-radius: 0;
	}

	.ui5-product-switch-item-root {
		padding: 0 1rem;
		flex-direction: row;
	}

	:host([icon]) .ui5-product-switch-item-root {
		padding-top: 0;
	}

	.ui5-product-switch-item-root .ui5-product-switch-item-icon {
		padding: .875rem;
		color: var(--sapUiContentNonInteractiveIconColor);
		margin: 0 .75rem 0 0;
	}

	.ui5-product-switch-item-root .ui5-product-switch-item-text-content {
		align-items: flex-start;
		max-width: 100%;
	}

	:host([icon]) .ui5-product-switch-item-root .ui5-product-switch-item-text-content {
		max-width: calc(100% - 3.75rem); /* 100% width - (3rem for the icon + right margin)*/
	}


	.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-subtitle,
	.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-heading {
		line-height: normal;
	}

	.ui5-product-switch-item-root .ui5-product-switch-item-text-content .ui5-product-switch-item-subtitle {
		font-size: var(--sapMFontMediumSize);
		padding-top: .75rem;
	}
}

ui5-product-switch-item[focused] {
	outline: none;
	position: relative;
}

ui5-product-switch-item[focused] .ui5-product-switch-item-root::after {
	content: "";
	position: absolute;
	border-color: var(--_ui5_product_switch_item_outline_color);
	border-width: var(--_ui5_product_switch_item_outline_width);
	border-style: dotted;
	top: var(--_ui5_product_switch_item_outline_offset_positive);
	bottom:  var(--_ui5_product_switch_item_outline_offset_positive);
	left:  var(--_ui5_product_switch_item_outline_offset_positive);
	right:  var(--_ui5_product_switch_item_outline_offset_positive);
}

ui5-product-switch-item[active][focused] .ui5-product-switch-item-root::after {
	border-color: var(--_ui5_product_switch_item_active_outline_color);
}