@import "./InvisibleTextStyles.css";

.ui5-search-popover {
	width: var(--search_width);
	margin-top: .25rem;
	box-sizing: border-box;
}

.ui5-search-popup-searching-header {
	display: flex;
	gap: .5rem;
	width: 100%;
	align-items: center;
}

.ui5-search-popover::part(header) {
	padding: 0.5rem 1rem;
	box-shadow: none;
	box-sizing: border-box;
}

.ui5-search-popover::part(header)::before {
	display: none;
}

.ui5-search-popover::part(content) {
	padding: 0;
	box-shadow: none;
}

:host([loading]) .ui5-search-popover main {
	min-height: 2rem;
}

.ui5-search-popover-search-field {
	flex: 1;
	height: 2.25rem;
	border-radius: var(--_ui5_search_input_border_radius);
}

.ui5-search-popover-search-field::part(root):after {
	border-radius: var(--_ui5_search_input_border_radius);
}

.ui5-search-popover-search-field::part(input) {
	padding-inline-start: 0.875rem;
}

.ui5-search-popover-search-field::part(clear-icon-wrapper) {
	margin-inline-end: .5rem;
}

.ui5-search-popover-loading-bi {
	width: 100%;
	height: 100%;
}

::slotted([slot="action"]) {
	width: 100%;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.search-popover-busy-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 42;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	pointer-events: all;
}

:host([loading]) .search-popover-busy-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

.search-popover-busy-wrapper [ui5-busy-indicator] {
	z-index: 1;
}

.search-popover-busy-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--_ui5-search-loading-overlay-background);
	opacity: var(--_ui5-search-loading-overlay-transparency);
	border-radius: var(--_ui5_popup_border_radius);
}

.ui5-search-popover-phone .ui5-search-popover-content {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ui5-search-popover-phone .search-popover-busy-wrapper::after {
	border-radius: 0;
}