/* container */
:host {
	--_ui5_input_focus_border_radius: var(--_ui5_shellbar_input_focus_border_radius);
	--_ui5_input_focus_outline_color: var(--sapContent_FocusColor);
	/* only way to add border radius to the slotted select icon*/
	--_ui5_input_icon_border_radius: var(--_ui5_search_input_border_radius);
	/* --_ui5_input_icon_padding: .3125rem .5rem .3125rem .5rem; */
	height: 2.25rem;
	display: flex;
	align-items: center;
}

:host([expanded]) {
	width: 18rem;
	margin: 0;
	height: 2.25rem;
	color: var(--sapShell_InteractiveTextColor);
	font-size: var(--sapFontSize);
	font-family: "72override", var(--sapFontFamily);
	font-style: normal;
	box-shadow: var(--sapField_Shadow);
	border-radius: var(--_ui5_search_input_border_radius);
	box-sizing: border-box;
	text-align: start;
	background: var(--sapField_BackgroundStyle);
	background-color: var(--_ui5-search-wrapper-background);
	position: relative;
}

:host([expanded]:hover),
:host([expanded]:focus-within) {
	box-shadow: var(--sapField_Hover_Shadow);
	background: var(--sapField_Hover_BackgroundStyle);
	background-color: var(--sapField_Hover_Background);
}

:host([focused-inner-input]) .ui5-search-field-root {
	outline: var(--_ui5_search_wrapper_outline);
	border-radius: var(--_ui5_search_input_border_radius);
	outline-offset: -0.125rem;
}

.ui5-search-field-root {
	width: 100%;
	height: 100%;
	position: relative;
	background: transparent;
	display: inline-block;
	outline: none;
	box-sizing: border-box;
	color: inherit;
	transition: border-color .2s ease-in-out;
	border-radius: var(--_ui5_search_input_border_radius);
	overflow: hidden;
}

.ui5-search-field-content {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}

/* scope select */
[ui5-select] {
	--_ui5_content_density: compact;
	outline: none;
	margin: var(--_ui5_search_input_scope_margin);
	/* margin-inline-start: 1rem; */
	/* margin-inline-end: 0.125rem; */
	/* min-width: 4.375rem; */
	/* max-width: 10rem; */
	border-radius: var(--_ui5_search_input_border_radius);
	border: var(--_ui5-search-border);
	box-shadow: none;
	background-color: var(--_ui5-search-elements-background);
	background: unset;
}

[ui5-select]:hover {
	box-shadow: var(--sapField_Hover_Shadow);
	background-color: var(--sapField_Hover_Background);
}

/* input */
.ui5-search-field-inner-input {
	font-size: var(--sapFontSize);
	font-family: "72override", var(--sapFontFamily);
	font-style: normal;
	padding: 0.5rem 0;
	height: 100%;
	flex-grow: 1;
    box-sizing: border-box;
	background-color: var(--_ui5-search-elements-background);
	border: var(--_ui5-search-border);
	outline: none;
	color: inherit;
	padding-inline-start: 0.25rem;
}

:host([focused-inner-input]) .ui5-search-field-inner-input {
	outline: var(--_ui5_search_input_outline);
	border-radius: var(--_ui5_search_input_border_radius);
	outline-offset: -0.3125rem;
}

:host(:not([show-scope])) .ui5-search-field-inner-input {
	padding-inline-start: 0.875rem;
}

.ui5-search-field-inner-input::placeholder {
	font-weight: normal;
	font-style: italic;
	color: var(--sapField_PlaceholderTextColor);
	padding-inline-start: 0.125rem;
}

/* separator */
.ui5-search-field-separator {
	height: 1.5rem;
	width: 0.0625rem;
	background: var(--_ui5_search_separator_background);
	box-sizing: border-box;
	/* margin-inline-end: 0.5rem; */
}

/* clear icon */
.ui5-shell-search-field-clear-icon {
	cursor: pointer;
	outline: none;
	width: var(--_ui5_search_icon_size);
	height: var(--_ui5_search_icon_size);
	border-radius: var(--_ui5_search_icon_border_radius);
	box-sizing: border-box;
}

.ui5-shell-search-field-clear-icon::part(root) {
	padding: var(--_ui5_search_icon_padding);
	width: 1rem;
	height: 1rem;
	outline-offset: -0.125rem;
}

.ui5-shell-search-field-clear-icon:hover::part(root) {
	/* padding: 0.3125rem; */
	outline-offset: -0.1875rem;
}

.ui5-shell-search-field-clear-icon:focus::part(root) {
	border-radius: var(--_ui5_search_icon_border_radius);
}

.ui5-shell-search-field-clear-icon:hover,
.ui5-shell-search-field-input-button:hover {
	background: var(--sapShell_Hover_Background);
	border: 1px solid var(--sapButton_Lite_Hover_BorderColor);
	color: var(--sapShell_InteractiveTextColor);
}

/* search button */
.ui5-shell-search-field-input-button {
	order: 1;
	outline: none;
	min-width: var(--_ui5_search_icon_size);
	height: var(--_ui5_search_icon_size);
	border-radius: var(--_ui5_search_icon_border_radius);
	margin-inline-end: 0.25rem;
	margin-inline-start: 0.1875rem;
	box-sizing: border-box;
	cursor: pointer;
}

.ui5-shell-search-field-input-button:not([design="Emphasized"]) {
	color: var(--sapShell_TextColor);
}

/* copy paste all button styles - could be simplified */
[ui5-button][desktop]:not([active])::part(button):after,
[ui5-button]:not([active])::part(button):focus-visible:after,
[ui5-button][desktop][active][design="Emphasized"]::part(button):focus-within:after,
[ui5-button][active][design="Emphasized"]::part(button):focus-visible:after,
[ui5-button][desktop][active]::part(button):focus-within:before,
[ui5-button][active]::part(button):focus-visible:before,
[ui5-button][design="Emphasized"][desktop]::part(button):focus-within:before,
[ui5-button][design="Emphasized"]::part(button):focus-visible:before {
	border-radius: var(--_ui5_search_icon_border_radius);
}