
.ui5-search-popover {
	width: var(--search_width);
	margin-top: .25rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
	box-sizing: border-box;
}

.ui5-search-popover-header {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

.ui5-search-popover-searching-header {
	display: flex;
	gap: .5rem;
	width: 100%;
	align-items: center;
}

.ui5-search-popover::part(header) {
	padding: 0;
	box-shadow: none;
	/* border-bottom: 1px solid var(--sapGroup_TitleBorderColor); */
	padding-inline-start: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-inline-end: 1rem;
	box-sizing: border-box;
}

.ui5-search-popover::part(header)::before {
	display: none;
}

.ui5-search-popover::part(content) {
	padding: 0;
	box-shadow: none;
}

:host([header-text]) .ui5-search-popover::part(content) {
	padding-top: .5rem;
}

.ui5-search-popover-subheader {
	font-size: .75rem;
	color: var(--sapContent_LabelColor);
}

:host([popup-mode="Loading"]) .ui5-search-popover {
	height: 420px;
}

.ui5-search-popover-loading-bi {
	width: 100%;
	height: 100%;
}

.ui5-search-list {
	margin-left: .25rem;
	margin-right: .25rem;
	width: auto;
}

.ui5-search-popover::part(footer) {
	padding-bottom: 0.25rem;
	padding-top: 0.5rem;
}

.ui5-search-footer-button {
	width: 100%;
}

.ui5-search-popover-search-field {
	flex: 1;
	height: 2.25rem;
	border-radius: var(--_ui5_search_input_border_radius);
}

.ui5-search-popover-search-field::part(root):after {
	border-radius: var(--_ui5_search_input_border_radius);
}

.ui5-search-popover-search-field::part(input) {
	padding-inline-start: 0.875rem;
}

.ui5-search-popover-search-field::part(clear-icon-wrapper) {
	margin-inline-end: .5rem;
}
