[ui5-dialog]::part(content) {
    padding: 0;
    margin: 0.25rem 0.875rem 0.25rem 0.875rem ;
}

[ui5-navigation-layout] {
    position: static;
    height: 100%;
}

.content {
    background-color: var(--sapGroup_ContentBackground);
    height: 100%;
    overflow: hidden;
}