:host(:not([hidden])) {
	display: inline-block;
	width: 100%;
}

.ui5-shellbar-root {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--sapUiShellColor);
	height: 2.75rem;
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
	font-weight: normal;
	box-sizing: border-box;
}

.ui5-shellbar-menu-button,
.ui5-shellbar-button,
.ui5-shellbar-image-button,
::slotted(ui5-button[slot="startButton"]) {
	height: 2.25rem;
	padding: 0;
	margin-left: 0.5rem;
	border: none;
	outline: none;
	background: transparent;
	color: var(--sapUiShellTextColor);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 0.25rem;
	position: relative;
	font-size: 0.75rem;
	font-weight: bold;
}

::slotted(ui5-button[slot="startButton"]:hover),
.ui5-shellbar-menu-button.ui5-shellbar-menu-button--interactive:hover,
.ui5-shellbar-button:hover,
.ui5-shellbar-image-button:hover {
	background: var(--sapUiShellHoverBackground);
}

::slotted(ui5-button[slot="startButton"][active]),
.ui5-shellbar-menu-button.ui5-shellbar-menu-button--interactive:active,
.ui5-shellbar-button:active,
.ui5-shellbar-image-button:active {
	background: var(--sapUiShellActiveBackground);
	color: var(--sapUiShellActiveTextColor);
}

::slotted(ui5-button[slot="startButton"][focused])::after,
.ui5-shellbar-menu-button.ui5-shellbar-menu-button--interactive:focus::after,
.ui5-shellbar-button:focus::after,
.ui5-shellbar-image-button:focus::after {
	content: "";
	position: absolute;
	width: calc(100% - 0.375rem);
	height: calc(100% - 0.375rem);
	border: 1px dotted var(--sapUiContentContrastFocusColor);
	pointer-events: none;
	left: 2px;
	top: 2px;
	z-index: 1;
}

.ui5-shellbar-menu-button.ui5-shellbar-menu-button--interactive::-moz-focus-inner {
	border: none;
}

.ui5-shellbar-menu-button-title {
	display: inline-block;
	font-family: var(--sapUiFontFamily);
	margin: 0;
	font-size: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: auto;
}

:host(:not([primary-title])) .ui5-shellbar-menu-button {
	min-width: 2.25rem;
	justify-content: center;
}

:host(:not([primary-title])) .ui5-shellbar-menu-button span {
	margin-left: 0;
}

:host([breakpoint-size="S"]) .ui5-shellbar-menu-button span {
	margin-left: .5rem;
}

.ui5-shellbar-secondary-title {
	display: inline-block;
	margin: 0 0.5rem;
	font-size: var(--sapMFontSmallSize);
	color: var(--sapUiShellTextColor);
	line-height: 1rem;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.ui5-shellbar-menu-button--interactive .ui5-shellbar-menu-button-arrow {
	display: inline-block;
	margin-left: 0.5rem;
	width: 10px;
	height: 10px;
	width: 0px;
	height: 0px;
	color: var(--sapUiShellInteractiveTextColor);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid var(--sapUiShellTextColor);
}

.ui5-shellbar-overflow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}

.ui5-shellbar-overflow-container-middle {
	align-self: center;
	height: 2.5rem;
	width: 3rem;
	flex-shrink: 0;
}

@keyframes Behind_layer {
	0% {
		transform: rotate(360deg);
	}
}

@keyframes Top_layer {
	0% {
		transform: rotate(-360deg);
	}
}

:host([breakpoint-size="S"]) .ui5-shellbar-root {
	padding: 0.25rem 1rem;
}

:host([breakpoint-size="S"]) ::slotted(ui5-button[slot="startButton"]) {
	margin-right: 0;
}

:host([breakpoint-size="S"]) .ui5-shellbar-search-field {
	width: 200px;
}

:host([breakpoint-size="M"]) .ui5-shellbar-root {
	padding: 0.25rem 2rem;
}

:host([breakpoint-size="L"]) .ui5-shellbar-root {
	padding: 0.25rem 2rem;
}

:host([breakpoint-size="XL"]) .ui5-shellbar-root {
	padding: 0.25rem 3rem;
}

:host([breakpoint-size="XXL"]) .ui5-shellbar-root {
	padding: 0.25rem 3rem;
}

.ui5-shellbar-logo {
	cursor: pointer;
	height: 1.675rem;
}

.ui5-shellbar-logo:not([src]) {
	display: none;
}

.ui5-shellbar-button {
	min-width: 2.25rem;
	font-size: 1rem;
	padding: .625rem;
}

.ui5-shellbar-image-buttonImage {
	border-radius: 50%;
	width: 1.75rem;
	height: 1.75rem;
	display: flex;
	background-size: cover;
}

.ui5-shellbar-image-button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 2.25rem;
	height: 2.25rem;
	display: inline-flex;
	padding: 0;
}

.ui5-shellbar-overflow-container-left {
	flex-basis: 50%;
	max-width: calc(50% - 1.5rem);
	justify-content: flex-start;
	margin-right: 0.5rem;
}

.ui5-shellbar-menu-button {
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	cursor: text;
	-webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
	user-select: text;
}

.ui5-shellbar-menu-button.ui5-shellbar-menu-button--interactive {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

:host(:not([logo])) .ui5-shellbar-menu-button {
	margin-left: 0;
}

.ui5-shellbar-overflow-container-right {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	white-space: nowrap;
	margin-left: 8rem;
	flex: 1;
}

.ui5-shellbar-overflow-container-right .ui5-shellbar-overflow-container-right-child {
	display: flex;
	float: right;
}

.ui5-shellbar-overflow-button {
	display: none;
}

:host([breakpoint-size="M"]) .ui5-shellbar-secondary-title {
	display: none;
}

:host([breakpoint-size="S"]) .ui5-shellbar-secondary-title {
	display: none;
}

:host([breakpoint-size="S"]) .ui5-shellbar-menu-button-title {
	display: none;
}

:host([breakpoint-size="S"]) .ui5-shellbar-overflow-container-right {
	margin-left: 0;
}

.ui5-shellbar-overflow-button-shown {
	display: inline-block;
}

.ui5-shellbar-hidden-button,
.ui5-shellbar-invisible-button {
	visibility: hidden;
}

.ui5-shellbar-coPilot {
	background-color: transparent;
	cursor: pointer;
}

:host(:not([show-block-layer])) .ui5-shellbar-search-field {
	display: none;
}


:host([breakpoint-size="L"]) .ui5-shellbar-with-searchfield .ui5-shellbar-overflow-container-right {
	margin-left: 1rem;
}

:host([breakpoint-size="XL"]) .ui5-shellbar-with-searchfield .ui5-shellbar-overflow-container-right {
	margin-left: 1rem;
}

:host(:not([notification-count])) .ui5-shellbar-bell-button {
	position: relative;
}

:host([notification-count]) .ui5-shellbar-bell-button::before {
	content: attr(data-ui5-notification-count);
	position: absolute;
	width: auto;
	height: 1rem;
	min-width: 1rem;
	background: var(--sapUiContentBadgeBackground);
	color: var(--sapUiShellTextColor);
	top: 0.125rem;
	left: 1.5rem;
	padding: .25rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--sapMFontSmallSize);
	font-family: var(--sapUiFontFamily);
	z-index: 2;
	box-sizing: border-box;
}

.ui5-shellbar-menu-button {
	margin-left: 0.5rem;
}

.ui5-shellbar-block-layer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	outline: 0 none;
	z-index: 100;
}

:host(:not([show-block-layer])) .ui5-shellbar-block-layer {
	display: none;
}

.ui5-shellbar-search-field {
	z-index: 101;
	position: absolute;
	width: 240px;
	top: 0.25rem;
	height: 2.25rem;
}

::slotted(ui5-input) {
	background-color: var(--sapUiShellColor);
	border: 1px solid var(--sapUiShellBorderColorLighten30);
	color: var(--sapUiShellTextColor);
	height: 100%;
}

::slotted(ui5-input:hover) {
	background: var(--sapUiShellHoverBackground);
	border: 1px solid var(--sapUiShellBorderColorLighten30);
}

::slotted(ui5-input[focused]) {
	outline: 1px dotted var(--sapUiContentContrastFocusColor);
}

:host([show-block-layer]) .ui5-shellbar-search-button {
	background: var(--sapUiHighlight);
	color: var(--sapUiShellActiveTextColor);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.ui5-shellbar-co-pilot-placeholder {
	width: 2.75rem;
	height: 2.75rem;
}

.ui5-shellbar-co-pilot-circle {
	fill: var(--sapUiShellColor);
}

:host [dir="rtl"] ::slotted(ui5-button[slot="startButton"]) {
	margin-left: 0.5rem;
	margin-right: 0;
}

:host [dir="rtl"] .ui5-shellbar-menu-button {
	margin-right: 0.5rem;
	margin-left: 0;
}

[dir="rtl"] .ui5-shellbar-menu-button--interactive .ui5-shellbar-menu-button-arrow {
	margin-right: .5rem;
	margin-left: 0;
}

[dir="rtl"] .ui5-shellbar-overflow-container-right {
	margin-right: 8rem;
	margin-left: 0;
}

[dir="rtl"] .ui5-shellbar-overflow-container-right .ui5-shellbar-overflow-container-right-child {
	float: left;
}

:host([breakpoint-size="S"]) [dir="rtl"] .ui5-shellbar-overflow-container-right {
	margin-right: 0;
}

::slotted(ui5-button[slot="startButton"]) {
	margin-right: 0.5rem;
	margin-left: 0;
	justify-content: center;
	align-items: center;
}
