:host(:not([hidden])) {
	display: inline-block;
	width: var(--_ui5_side_navigation_width);
	height: 100%;
	transition: width .25s;
	border-radius: var(--_ui5_side_navigation_border_radius);
}

:host([collapsed]) {
	width: var(--_ui5_side_navigation_collapsed_state_width);
}

.ui5-sn-root {
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--sapList_Background);
	border-inline-end: var(--_ui5_side_navigation_border_inline_end);
	border-radius: inherit;
	box-shadow: var(--_ui5_side_navigation_box_shadow);
	box-sizing: border-box;
	padding: var(--_ui5_side_navigation_container_padding);
}

:host(.ui5-side-navigation-in-popover) .ui5-sn-root {
	border-inline-end: none;
	padding: var(--_ui5_side_navigation_container_padding_in_popover);
}

.ui5-sn-tree {
	--_ui5-tree-toggle-box-width: var(--_ui5_side_navigation_icon_padding_inline_start);
	--_ui5_list_item_icon_padding-inline-end: var(--_ui5_side_navigation_icon_padding_inline_end);
	--_ui5-tree-indent-step: var(--_ui5_side_navigation_indent_step);
	--_ui5-tree-toggle-icon-size: var(--_ui5_side_navigation_toggle_icon_size);
	--_ui5_list_item_icon_size: var(--_ui5_side_navigation_icon_size);
}

:host(.ui5-side-navigation-in-popover) .ui5-sn-tree {
	--_ui5-tree-indent-step: var(--_ui5_side_navigation_indent_step_in_popover);
}

:host(.ui5-side-navigation-in-popover) [ui5-tree-item][level="1"]::part(native-li) {
	margin-block-end: var(--_ui5_side_navigation_item_level_1_margin_bottom_in_popover);
}

.ui5-sn-items-tree {
	overflow: auto;
}

.ui5-sn-divider {
	width: 100%;
	padding: var(--_ui5_side_navigation_divider_padding);
	margin: var(--_ui5_side_navigation_divider_margin);
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

:host([collapsed]) .ui5-sn-divider {
	padding: var(--_ui5_side_navigation_collapsed_state_divider_padding);
}

.ui5-sn-divider > span {
	width: 100%;
	height: var(--_ui5_side_navigation_divider_height);
	border-radius: 0.125rem;
	background: var(--_ui5_side_navigation_separator_backgound);
}

.ui5-sn-spacer {
	flex: 1;
	min-height: 0;
}

[ui5-tree-item] {
	--_ui5_list_item_title_size: var(--sapFontSize);
	--ui5-listitem-padding: var(--_ui5_side_navigation_item_padding);
	--ui5-listitem-focus-border-radius: var(--_ui5_side_navigation_item_border_radius);
}

[ui5-tree-item]::part(toggle-icon) {
	color: var(--_ui5_side_navigation_toggle_icon_color);
	flex-shrink: 0;
}

[ui5-tree-item]::part(icon) {
	color: var(--_ui5_side_navigation_item_icon_color);
}

[ui5-tree-item][level="1"]::part(title) {
	font-family: var(--_ui5_side_navigation_item_level_1_font);
}

[ui5-tree-item]::part(native-li) {
	border-width: var(--_ui5_side_navigation_item_border_width);
	border-radius: var(--_ui5_side_navigation_item_border_radius);
	--ui5-listitem-focus-offset: 0px;
	--_ui5_list_item_base_height: var(--_ui5_side_navigation_item_height);
	transition: var(--_ui5_side_navigation_item_transition);
}

/* gap between items */
[ui5-tree-item]::part(native-li) {
	margin-block-end: var(--_ui5_side_navigation_item_gap);
}

[ui5-tree-item][level="1"]:last-child:not([expanded])::part(native-li) {
	margin-block-end: 0;
}

[ui5-tree-item][level="1"][expanded]:last-child > [ui5-tree-item][level="2"]:last-child::part(native-li) {
	margin-block-end: 0;
}

:host(.ui5-side-navigation-in-popover) {
	--_ui5_side_navigation_item_gap: 0;
}

/* selection indicator */
[ui5-tree-item][selected]::part(title) {
	position: relative;
}

[ui5-tree-item][selected]::part(title)::after {
	display: var(--_ui5_side_navigation_item_selection_indicator_display);
	content: "";
	position: absolute;
	inset-block-start: 50%;
	transform: translateY(-50%);
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--sapList_SelectionBorderColor);
	border-radius: 50%;
}

[ui5-tree-item][selected][has-children]::part(title) {
	padding-inline-end: var(--_ui5_side_navigation_item_selection_indicator_reserved_space_has_children);
}

[ui5-tree-item][selected][has-children]::part(title)::after {
	inset-inline-end: 0.4375rem;
}

[ui5-tree-item][selected]:not([has-children])::part(title) {
	padding-inline-end: var(--_ui5_side_navigation_subitem_selection_indicator_reserved_space_no_children);
}

[ui5-tree-item][selected]:not([has-children])::part(title)::after {
	inset-inline-end: 0;
}