:host(:not([hidden])) {
	display: inline-block;
	width: var(--_ui5_side_navigation_width);
	height: 100%;
	transition: width .3s;
	border-radius: var(--_ui5_side_navigation_border_radius);
}

:host([collapsed]) {
	width: var(--_ui5_side_navigation_collapsed_state_width);
}

.ui5-sn-root {
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--sapList_Background);
	border-inline-end: var(--_ui5_side_navigation_border_inline_end);
	border-radius: inherit;
	box-shadow: var(--_ui5_side_navigation_box_shadow);
	box-sizing: border-box;
	padding: var(--_ui5_side_navigation_container_padding);
}

.ui5-sn-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui5-sn-item-group {
	margin: 0;
	padding: 0;
	padding-inline-start: 1rem;
	list-style: none;
}

.ui5-sn-item {
	display: flex;
	align-items: center;
	width: 100%;
}

.ui5-sn-collapsed .ui5-sn-item {
	justify-content: center;
}

.ui5-sn-item-text {
	flex: 1;
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui5-sn-collapsed .ui5-sn-item-text {
	display: none;
}

.ui5-sn-item[aria-expanded=false] + .ui5-sn-item-group {
	display: none;
}