@import "./SideNavigationItemBase.css";

:host {
	color: var(--sapList_TextColor);
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontSize);
	font-weight: var(--_ui5_side_navigation_group_text_weight);
}

.ui5-sn-item-level1:not(:has(> .ui5-sn-item-icon)),
.ui5-sn-item-level1.ui5-sn-item-selected:not(:has(> .ui5-sn-item-icon)) {
	padding-inline-start: var(--_ui5_side_navigation_item_padding_left);
}

:host([in-popover]) .ui5-sn-item-level1 {
	margin-bottom: var(--_ui5_side_navigation_group_bottom_margin_in_popup);
}

:host([in-popover]) .ui5-sn-item-level1 .ui5-sn-item-text {
	margin: 0 1rem 0 0;
	font-size: var(--_ui5_side_navigation_popup_title_text_size);
	line-height: var(--_ui5_side_navigation_popup_title_line_height);
}

.ui5-sn-item.ui5-sn-item-level1.ui5-sn-item-overflow {
	margin-top: auto;
}