@import "./SideNavigationItemBase.css";

:host {
	font-size: var(--sapFontSmallSize);
	font-family: var(--sapFontSemiboldFamily);
	color: var(--sapContent_LabelColor);
}

.ui5-sn-item.ui5-sn-item-group {
	height: 2rem;
	min-height: 2rem;
	padding-inline-start: 0.5rem;
	gap: 0.4375rem;
}

.ui5-sn-item.ui5-sn-item-group .ui5-sn-item-toggle-icon {
	display: none;
}

.ui5-sn-item.ui5-sn-item-group:hover .ui5-sn-item-toggle-icon,
.ui5-sn-item.ui5-sn-item-group:focus .ui5-sn-item-toggle-icon {
	display: block;
}

:host(:first-child) .ui5-sn-item-separator:first-child,
:host(:last-child) .ui5-sn-item-separator:last-child,
.ui5-sn-item-group-below-group.ui5-sn-item-separator,
.ui5-sn-item-group-below-group .ui5-sn-item-separator:first-child {
	display: none;
}