:host {
	height: auto;
}

:host(:not([hidden])) {
	display: block;
}

.ui5-li-root.ui5-uci-root {
	padding: 1rem;
}

/* Thumbnail */
.ui5-uci-thumbnail {
	width: 3rem;
	height: 3rem;
	margin-right: 0.75rem;
}

::slotted(ui5-icon[slot="thumbnail"]) {
	width: 3rem;
	height: 3rem;
	font-size: 2.5rem;
}

::slotted(img[slot="thumbnail"]) {
	width: 3rem;
	height: 3rem;
}

:host([actionable]) ::slotted(ui5-icon[slot="thumbnail"])  {
	color: var(--sapContent_IconColor);
}

/* Content */
.ui5-uci-content-container {
	flex: 1 1 0;
	display: flex;
}

.ui5-uci-content {
	flex: 1 1 0;
}

.ui5-uci-file-name {
	display: block;
	font-size: var(--sapFontLargeSize);
	margin-bottom: 0.25rem;
}

ui5-link.ui5-uci-file-name {
	pointer-events: all;
}

.ui5-uci-description {
	margin-top: 0.375rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontMediumSize);
	color: var(--sapContent_LabelColor);
	white-space: initial;
}

/* Edit mode */
.ui5-uci-edit-container ui5-input {
	width: 60%;
	pointer-events: all;
}

.ui5-uci-file-extension {
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontMediumSize);
	color: var(--sapTextColor);
	white-space: no-wrap;
	overflow: hidden;
	margin-left: 0.5rem;
	width: 40%;
}


/* Buttons */
.ui5-uci-root-edit .ui5-li-detailbtn,
.ui5-uci-root-edit .ui5-li-deletebtn {
	display: none;
}

.ui5-uci-edit-buttons {
	pointer-events: all;
}

.ui5-uci-edit-rename-btn {
	margin-right: 0.125rem;
}

@media(max-width: 30rem) {
	.ui5-uci-content-container {
		display: block;
	}

	.ui5-uci-edit-buttons,
	.ui5-li-detailbtn,
	.ui5-li-deletebtn {
		margin-top: 0.75rem;
	}
}