:host {
	display: block;
}

.ui5-uc-root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ui5-uc-content {
	position: relative;
	flex: 1 1 auto;
}

/* No Files */
.uc-no-files {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: var(--sapGroup_ContentBackground);
}

.uc-no-files .icon-container {
	height: 8rem;
}

.uc-no-files .icon-container ui5-icon {
	font-size: 6rem;
	width: 6rem;
	height: 6rem;
	color: var(--sapUploadCollection_NoFilesIconColor);
}

.uc-no-files ui5-title {
	font-size: var(--ui5_upload_collection_level_2Size);
	color: var(--sapGroup_TitleTextColor);
	margin: 1rem 0;
}

.uc-no-files .subtitle {
	font-size: var(--ui5_upload_collection_level_5Size);
	color: var(--sapContent_LabelColor);
	margin-bottom: 2rem;
}

/* Drag and Drop */
.uc-dnd-overlay {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	left: 0.5rem;
	bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.uc-drag-overlay {
	background-color: var(--ui5_upload_collection_drag_overlay_background);
	border: var(--ui5_upload_collection_drag_overlay_border);
}

.uc-drop-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0rem;
	left: 0rem;
	bottom: 0rem;
	background-color: var(--ui5_upload_collection_drop_overlay_background);
	border: var(--ui5_upload_collection_drop_overlay_border);
}

.uc-dnd-overlay ui5-icon {
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	color: var(--sapContent_NonInteractiveIconColor);
}

.uc-dnd-overlay .dnd-overlay-text {
	font-family: var(--sapFontFamily);
	font-size: var(--sapMFontHeader4Size);
	color: var(--sapContent_NonInteractiveIconColor);
}

.uc-drop-overlay ui5-icon,
.uc-drop-overlay .dnd-overlay-text {
	color: var(--ui5_upload_collection_drop_overlay_icon_color);
	z-index: 1;
}