:host(:not([hidden])) {
	display: block;
}

.ui5-uc-content {
	position: relative;
}

/* No Files */
.uc-no-files {
	background-color: var(--sapGroup_ContentBackground);
}

/* Drag and Drop */
.uc-dnd-overlay {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	left: 0.5rem;
	bottom: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: var(--ui5_upload_collection_drag_overlay_border_radius);
}

.uc-drag-overlay {
	border: var(--ui5_upload_collection_drag_overlay_border);
}

.uc-drop-overlay {
	border: var(--ui5_upload_collection_drop_overlay_border);
}

/* use pseudo element to set opacity only for the content and not on the border */
.uc-dnd-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--sapGroup_ContentBackground);
	opacity: var(--ui5_upload_collection_drag_overlay_opacity);
	border-radius: var(--ui5_upload_collection_drag_overlay_border_radius);
}

/* use pseudo element to set opacity only for the content and not on the border */
.uc-drop-overlay::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--ui5_upload_collection_drop_overlay_background);
	opacity: 0.05;
	border-radius: var(--ui5_upload_collection_drag_overlay_border_radius);
}

.uc-dnd-overlay [ui5-icon] {
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	color: var(--ui5_upload_collection_drag_overlay_icon_color);
}

.uc-dnd-overlay .dnd-overlay-text {
	font-family: "72override", var(--sapFontFamily);
	font-size: var(--sapFontHeader4Size);
	color: var(--ui5_upload_collection_drag_overlay_text_color);
}

.uc-dnd-overlay [ui5-icon],
.uc-dnd-overlay .dnd-overlay-text {
	z-index: 1;
	pointer-events: none;
}

.uc-drop-overlay [ui5-icon],
.uc-drop-overlay .dnd-overlay-text {
	color: var(--sapContent_DragAndDropActiveColor);
}

.uc-no-files-dnd-overlay {
	visibility: hidden;
}