/* .ui5-li-content {
	display: block;
} */
/* 
@import "../../../main/src/themes/ListItemBase.css";
@import "../../../main/src/themes/ListItem.css"; */
/* @import "../../../main/src/themes/CustomListItem.css"; */

:host {
	height: auto;
}

:host(:not([hidden])) {
	display: block;
}

.ui5-li-root.ui5-uci-root {
	padding: 1rem;
}

/* Thumbnail */
.uci-thumbnail {
	width: 3rem;
	height: 3rem;
	margin-right: 0.75rem;
}

::slotted(ui5-icon[slot="thumbnail"]) {
	width: 3rem;
	height: 3rem;
	font-size: 2.5rem;
}

::slotted(img[slot="thumbnail"]) {
	width: 3rem;
	height: 3rem;
}

:host([actionable]) ::slotted(ui5-icon[slot="thumbnail"])  {
	color: var(--sapContent_IconColor);
}

.ui5-uci-content-text-container {
	flex: 1;
}

.ui5-uci-content-buttons-container {
	padding-left: 1rem;
	pointer-events: all;
}

.ui5-uci-content-buttons-container ui5-button {
	margin-right: 0.125rem;
}
