.ui5-pm-rp {
    width: 20rem;
}

.ui5-pm-rp::part(header),
.ui5-pm-rp::part(content),
.ui5-pm-rp::part(footer) {
    padding-inline: 0.5rem;
}

.ui5-pm-rp::part(header) {
    padding-top: 1rem;
    box-shadow: none;
}

.ui5-pm-rp::part(content) {
    padding-top: 0;
    padding-bottom: 0.5rem;
}

.ui5-pm-rp::part(footer) {
    padding-block: 0.5rem;
}

.ui5-pm-selected-account {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.ui5-pm--selected-account-avatar{
	margin-block: 0.5rem;
}

.ui5-pm--selected-account-title{
	margin-block: 0.25rem;
	font-family: var(--sapFontBoldFamily);
	font-size: var(--sapFontLargeSize);
	color: var(--sapTextColor)
}

.ui5-pm--selected-account-subtitleText{
	margin-block: 0.25rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	color: var(--sapContent_LabelColor)
}

.ui5-pm--selected-account-description{
	margin-bottom: 1rem;
	font-family: var(--sapFontFamily);
	font-size: var(--sapFontSize);
	color: var(--sapContent_LabelColor)
}

.ui5-pm-decline-btn {
	margin-top: 0.5rem;
	align-self: flex-end;
	font-family: var(--sapFontSemiboldFamily);
}

.ui5-pm-manage-account-btn {
	margin-top: 0.5rem;
	font-family: var(--sapFontSemiboldFamily);
}


.ui5-pm-sign-out-btn {
	font-family: var(--sapFontSemiboldFamily);
}

.ui5-pm-other-accounts {
    margin-bottom: 1rem;
}

.ui5-pm-other-accounts::part(content) {
    padding: 0;
}

.ui5-pm-other-accounts-content {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
}

.ui5-user-menu-account-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.ui5-pm-footer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}