[on-desktop] .ui5-vsd-content {
	height: 375px;
	min-width: 350px;
}

.ui5-vsd-header {
	width: 100%;
}

.ui5-vsd-header > ui5-bar {
	height: 4rem;
}

.ui5-vsd-title {
	font-size: 1rem;
	margin-left: 0;
}

.ui5-vsd-sub-title {
	margin-left: 0;
}

.ui5-vsd-bar-sub-header {
	padding-left: 0.5rem;
}

.ui5-vsd-bar-header {
	box-shadow: none;
	padding-left: 0.5rem;
}

.ui5-vsd-content [ui5-li]::part(native-li) {
	padding-left: var(--ui5_view_settigs_dialog_radio_button_padding_left);
}

.ui5-vsd-start {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui5-vsd-bar-title {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.ui5-vsd-back-button {
	margin-right: .5rem;
}

.ui5-vsd-footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 0.1875rem 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.ui5-vsd-footer [ui5-button]:first-child {
	margin-right: 0.5rem;
	min-width: 4rem;
}

.ui5-vsd-sort {
	width: 100%;
	height: 100%;
}

[ui5-li-groupheader] {
	overflow: hidden;
}

[dir=rtl] .ui5-vsd-bar-header {
	padding-right: 0.5rem;
}

[dir=rtl] .ui5-vsd-bar-sub-header {
	padding-right: 0.5rem;
}

[dir=rtl] .ui5-vsd-sub-title {
	margin-right: 0;
}

[dir=rtl] .ui5-vsd-content [ui5-li]::part(native-li) {
	padding-right: var(--ui5_view_settigs_dialog_radio_button_padding_left);
}