:host(:not([hidden])) {
	display: block;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.ui5-wiz-root {
	height: 100%;
	width: 100%;
	position: relative;
}

.ui5-wiz-content {
	position: relative;
	/* padding: 5rem 1rem 1rem 1rem; */
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
	background: var(--sapBackgroundColor);
}

.ui5-wiz-content-item {
	display: block;
	box-sizing: border-box;
	padding-bottom: 2rem;
}

.ui5-wiz-content-item[hidden] {
	display: none;
}

.ui5-wiz-content-item[stretch] {
	/* Add 2rem to ensure there is enough scroll height to reach the last step */
	min-height: calc(100% + 2rem);
}

[ui5-wizard-tab][data-ui5-wizard-expanded-tab="true"] + [ui5-wizard-tab][data-ui5-wizard-expanded-tab="false"] {
	width: 2rem;
	padding-left: .5rem;
}

[ui5-wizard-tab][data-ui5-wizard-expanded-tab="false"] {
	width: .25rem;
	padding: 0;
}
.ui5-wiz-nav-list {
	display: table;
	table-layout: fixed;
	position: relative;
	list-style: none;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: 2rem;
	padding: 0;
}

[ui5-wizard-tab] {
	display: table-cell;
	position: relative;
	min-width: 10.5rem;
}

.ui5-wiz-nav {
	box-sizing: border-box;
	height: 4rem;
	padding: 0.875rem 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #fff;
	font-size: .875rem;
	box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.15), inset 0 -0.0625rem 0 0 #d9d9d9;
	outline: none;
	display: flex;
	align-items: center;
}

[ui5-wizard-tab][data-ui5-wizard-expanded-tab="false"] + [ui5-wizard-tab][data-ui5-wizard-expanded-tab="false"] {
	width: .25rem;
}

[ui5-wizard-tab][data-ui5-wizard-expanded-tab-prev="true"],
[ui5-wizard-tab][data-ui5-wizard-expanded-tab="false"] + [ui5-wizard-tab][data-ui5-wizard-expanded-tab-prev="true"] {
	width: 2rem;
	padding-right: .75rem;
}