:host(ui5-button) {
	display: inline-block;
}

ui5-button {
	display: inline-block;
}

span[dir="rtl"] .sapMBtn.sapMBtnWithIcon .sapMBtnText {
	margin-right: var(--_sap_ui_webcomponents_main_button_base_icon_margin);
	margin-left: 0;
}

span[dir="rtl"] .sapMBtn.sapMBtnIconEnd .sapWCIconInButton {
	margin-right: var(--_sap_ui_webcomponents_main_button_base_icon_margin);
	margin-left: 0;
}

span[data-sap-ui-wc-root] {
	display: inline-block;
	width: 100%;
	height: 100%;
}

span[data-sap-ui-wc-root].sapUiSizeCompact .sapWCIconInButton {
	font-size: 1rem;
}

span[data-sap-ui-wc-root].sapUiSizeCompact .sapMBtn {
	min-height: var(--_sap_ui_webcomponents_main_button_compact_height);
	min-width: var(--_sap_ui_webcomponents_main_button_base_min_compact_width);
}

span[data-sap-ui-wc-root] .sapMBtn {
	min-width: var(--_sap_ui_webcomponents_main_button_base_min_width);
	min-height: var(--_sap_ui_webcomponents_main_button_base_height);
}

span[data-sap-ui-wc-root] .sapMBtn::before {
	/* this is a hack for a bug in IE https:/* github.com/philipwalton/flexbugs/issues/231 */
	content: '';
	min-height: inherit;
	font-size: 0;
}

.sapMBtn {
	width: 100%;
	height: 100%;
	font-family: var(--sapUiFontFamily);
	font-size: var(--sapMFontMediumSize);
	font-weight: normal;
	box-sizing: border-box;
	padding: var(--_sap_ui_webcomponents_main_button_base_padding);
	border-radius: var(--_sap_ui_webcomponents_main_button_border_radius);
	border-width: 0.0625rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--sapUiButtonBackground);
	border: 1px solid var(--sapUiButtonBorderColor);
	color: var(--sapUiButtonTextColor);
	text-shadow: var(--sapUiShadowText);
	outline: none;
	position: relative;
}

.sapMBtn:hover {
	background: var(--sapUiButtonHoverBackground);
}

.sapMBtn .sapWCIconInButton {
	font-size: var(--_sap_ui_webcomponents_main_button_base_icon_only_font_size);
	position: relative;
}

.sapMBtn.sapMBtnIconEnd {
	flex-direction: row-reverse;
}

.sapMBtn.sapMBtnIconEnd  .sapWCIconInButton {
	margin-left: var(--_sap_ui_webcomponents_main_button_base_icon_margin);
}

.sapMBtn.sapMBtnNoText {
	padding: var(--_sap_ui_webcomponents_main_button_base_icon_only_padding);
}

.sapMBtnText {
	outline: none;
	position: relative;
}

.sapMBtn.sapMBtnWithIcon .sapMBtnText {
	margin-left: var(--_sap_ui_webcomponents_main_button_base_icon_margin);
}

.sapMBtnDisabled {
	opacity: 0.5;
	pointer-events: none;
}

.sapMBtn:focus::after {
	content: "";
	border: 1px dotted var(--sapUiContentFocusColor);
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
}

.sapMBtn::-moz-focus-inner {
	border: 0;
}

.sapMBtnActive,
.sapMBtn:active {
	background-image: none;
	background-color: var(--sapUiButtonActiveBackground);
	border-color: var(--sapUiButtonActiveBorderColor);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtnActive:focus::after,
.sapMBtn:active:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnPositive {
	background-color: var(--sapUiButtonAcceptBackground);
	border-color: var(--sapUiButtonAcceptBorderColor);
	color: var(--sapUiButtonAcceptTextColor);
	text-shadow: var(--sapUiShadowText);
}

.sapMBtn.sapMBtnPositive:hover {
	background-color: var(--sapUiButtonAcceptHoverBackground);
	border-color: var(--sapUiButtonAcceptHoverBorderColor);
}

.sapMBtn.sapMBtnPositive.sapMBtnActive,
.sapMBtn.sapMBtnPositive:active {
	background-color: var(--sapUiButtonAcceptActiveBackground);
	border-color: var(--sapUiButtonAcceptActiveBorderColor);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnPositive.sapMBtnActive:focus::after,
.sapMBtn.sapMBtnPositive:active:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnPositive:focus::after {
	border-color: var(--sapUiContentFocusColor);
}

.sapMBtn.sapMBtnNegative {
	background-color: var(--sapUiButtonRejectBackground);
	border-color: var(--sapUiButtonRejectBorderColor);
	color: var(--sapUiButtonRejectTextColor);
	text-shadow: var(--sapUiShadowText);
}

.sapMBtn.sapMBtnNegative:hover {
	background-color: var(--sapUiButtonRejectHoverBackground);
	border-color: var(--sapUiButtonRejectHoverBorderColor);
}

.sapMBtn.sapMBtnNegative.sapMBtnActive,
.sapMBtn.sapMBtnNegative:active {
	background-color: var(--sapUiButtonRejectActiveBackground);
	border-color: var(--sapUiButtonRejectActiveBorderColor);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnNegative.sapMBtnActive:focus::after,
.sapMBtn.sapMBtnNegative:active:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnNegative:focus::after {
	border-color: var(--sapUiContentFocusColor);
}

.sapMBtn.sapMBtnEmphasized {
	background-color: var(--sapUiButtonEmphasizedBackground);
	border-color: var(--sapUiButtonEmphasizedBorderColor);
	color: var(--sapUiButtonEmphasizedTextColor);
	text-shadow: 0 0 0.125rem var(--sapUiButtonEmphasizedTextShadow);
}

.sapMBtn.sapMBtnEmphasized:hover {
	background-color: var(--sapUiButtonEmphasizedHoverBackground);
	border-color: var(--sapUiButtonEmphasizedHoverBorderColor);
}

.sapMBtn.sapMBtnEmphasized.sapMBtnActive,
.sapMBtn.sapMBtnEmphasized:active {
	background-color: var(--sapUiButtonEmphasizedActiveBackground);
	border-color: var(--sapUiButtonEmphasizedActiveBorderColor);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnEmphasized.sapMBtnActive:focus::after,
.sapMBtn.sapMBtnEmphasized:active:focus::after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMBtnEmphasized:focus::after {
	border-color: var(--sapUiContentFocusColor);
}

.sapMBtn.sapMBtnTransparent {
	background-color: var(--sapUiButtonLiteBackground);
	border-color: var(--sapUiButtonLiteBorderColor);
	color: var(--sapUiButtonLiteTextColor);
	text-shadow: var(--sapUiShadowText);
	border-color: transparent;
}

.sapMBtn.sapMBtnTransparent:hover {
	background-color: var(--sapUiButtonLiteHoverBackground);
}

.sapMBtn.sapMBtnTransparent.sapMBtnActive,
.sapMBtn.sapMBtnTransparent:active {
	background-color: var(--sapUiButtonLiteActiveBackground);
	color: var(--sapUiButtonActiveTextColor);
	text-shadow: none;
}

.sapMBtn.sapMBtnTransparent:hover:not(:active) {
	border-color: transparent;
}

/* HCB Specific Styles */
.sapMBtn {
	border-radius: 0.375rem;
}

.sapMBtn:active:focus,
.sapMBtn:focus:hover,
.sapMBtn:active:hover:focus {
	border-color: transparent;
}

.sapMBtn:focus {
	border-color: transparent;
}

.sapMBtn:focus::after {
	border: 0.125rem dotted var(--sapUiContentFocusColor);
	width: 100%;
	height: 100%;
	left: -1px;
	top: -1px;
	width: calc(100% - 0.125rem);
	height: calc(100% - 0.125rem);
}
