:host(ui5-togglebutton) {
	display: inline-block;
}

ui5-togglebutton {
	display: inline-block;
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnNegative {
	background-color: var(--sapUiButtonRejectActiveBackground);
	border-color: var(--sapUiButtonRejectActiveBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnNegative:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnNegative:hover {
	background-color: var(--_ui5_toggle_button_pressed_negative_hover);
	border-color: var(--sapUiButtonRejectActiveBorderColor);
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnPositive {
	background-color: var(--sapUiButtonAcceptActiveBackground);
	border-color: var(--sapUiButtonAcceptActiveBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnPositive:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnPositive:hover {
	background-color: var(--_ui5_toggle_button_pressed_positive_hover);
	border-color: var(--sapUiButtonAcceptActiveBorderColor);
}

.sapMBtn.sapMToggleBtnPressed:not(:active):not(:hover),
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:not(:active):not(:hover),
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:not(:active):not(:hover) {
	text-shadow: none;
	background-color: var(--sapUiToggleButtonPressedBackground);
	border-color: var(--sapUiToggleButtonPressedBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
}

.sapMBtn.sapMToggleBtnPressed:not(.sapMBtnNegative):not(.sapMBtnPositive):focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:focus {
	border-color: var(--_ui5_toggle_button_pressed_focussed);
}

.sapMBtn.sapMToggleBtnPressed:focus:after,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:focus:after,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:focus:after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMToggleBtnPressed:active
.sapMBtn.sapMToggleBtnPressed:hover,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:hover,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:hover {
	background-color: var(--sapUiToggleButtonPressedHoverBackground);
	border-color: var(--sapUiToggleButtonPressedHoverBorderColor);
}

.sapMBtn.sapMToggleBtnPressed:active:focus
.sapMBtn.sapMToggleBtnPressed:hover:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:active:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:hover:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:active:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:hover:focus {
	border-color: var(--_ui5_toggle_button_pressed_focussed_hovered);
}