:host(ui5-togglebutton) {
	display: inline-block;
}

ui5-togglebutton {
	display: inline-block;
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnNegative {
	background-color: var(--sapUiButtonRejectActiveBackground);
	border-color: var(--sapUiButtonRejectActiveBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnNegative:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnNegative:hover {
	/* background-color: darken( var(--sapUiButtonRejectActiveBackground), 5); */
	background-color: var(--_ui5_toggle_button_negative_active_bg); /* fiori3: rgb(136, 0, 0), belize: rgb(162, 0, 0), hcb: rgb(97, 64, 0) */
	border-color: var(--sapUiButtonRejectActiveBorderColor);
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnPositive {
	background-color: var(--sapUiButtonAcceptActiveBackground);
	border-color: var(--sapUiButtonAcceptActiveBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
}

.sapMBtn.sapMToggleBtnPressed.sapMBtnPositive:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnPositive:hover {
	/* background-color: darken( var(--sapUiButtonAcceptActiveBackground), 5); */
	background-color: var(--_ui5_toggle_button_positive_active_bg); /* fiori3: rgb(10, 81, 40), belize: rgb(36, 105, 36), hcb: rgb(97, 64, 0) */
	border-color: var(--sapUiButtonAcceptActiveBorderColor);
}

.sapMBtn.sapMToggleBtnPressed,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent {
	text-shadow: none;
	background-color: var(--sapUiToggleButtonPressedBackground);
	border-color: var(--sapUiToggleButtonPressedBorderColor);
	color: var(--sapUiToggleButtonPressedTextColor);
}

.sapMBtn.sapMToggleBtnPressed:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:focus {
	border-color: var(--_ui5_toggle_button_pressed_focussed);
}

.sapMBtn.sapMToggleBtnPressed:focus:after,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:focus:after,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:focus:after {
	border-color: var(--sapUiContentContrastFocusColor);
}

.sapMBtn.sapMToggleBtnPressed:active
.sapMBtn.sapMToggleBtnPressed:hover,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:hover,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:active,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:hover {
	background-color: var(--sapUiToggleButtonPressedHoverBackground);
	border-color: var(--sapUiToggleButtonPressedHoverBorderColor);
}

.sapMBtn.sapMToggleBtnPressed:active:focus
.sapMBtn.sapMToggleBtnPressed:hover:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:active:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnEmphasized:hover:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:active:focus,
.sapMBtn.sapMToggleBtnPressed.sapMBtnTransparent:hover:focus {
	border-color: var(--_ui5_toggle_button_pressed_focussed_hovered);
}