/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/CheckBox.less";

/* ============================= */
/* Global Belize parameters      */
/* ============================= */
@import "./base.less";
@import "./global.less";

/* =============================== */
/* CSS for control ui5-checkbox    */
/* sap_fiori_3 theme               */
/* =============================== */

.sapMCb {
	min-height: 2.75rem;
}

.sapMCb:not(.sapMCbBgDis).sapMCbHasLabel:focus:before {
	top: 0.5875rem;
    bottom: 0.5875rem;
}

.sapMCbBg {
    border-width: 0.0625rem;
    border-radius: 0.125rem;

    &.sapMCbMarkChecked:before {
        line-height: 1.125rem;
    }
}

/* Value State Warning */
.sapMCb.sapMCbWarn .sapMCbBg {
    border-width: 0.125rem;
}

/* Value State Error */
.sapMCb.sapMCbErr .sapMCbBg {
	border-width: 0.125rem;
}


/*Compact*/

.sapUiSizeCompact {

	.sapMCb {
		min-height: 2rem;
		min-height: 2rem;
		padding: 0 .5rem;
	}

	.sapMCbBg {
		height: 0.875rem;
        width: 0.875rem;
        min-height: 0.875rem;
        min-width: 0.875rem;
        border-radius: 0.125rem;

        &.sapMCbMarkChecked:before {
			line-height: 0.875rem;
		}
    }
}