/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/CheckBox.less";

/* ============================= */
/* Global Fiori 3 parameters     */
/* ============================= */
@import "./base.less";
@import "./global.less";

/* =============================== */
/* CSS for ui5-checkbox            */
/* Fiori 3 parameters              */
/* =============================== */

@_ui5_checkbox_width_height: 2.75rem;
@_ui5_checkbox_inner_border: .0625rem solid @sapUiFieldBorderColor;
@_ui5_checkbox_focus_left_top_bottom_position: .5625rem;
@_ui5_checkbox_compact_focus_left_top_bottom_position: .375rem;
@_ui5_checkbox_no_label_focus_right: .4375rem;
@_ui5_checkbox_wrapped_content_margin_top: 0;
@_ui5_checkbox_inner_border_radius: .125rem;
@_ui5_checkbox_compact_no_label_focus_right: 1px;
@_ui5_checkbox_wrapped_focus_padding: .5rem;
@_ui5_checkbox_inner_readonly_border: 1px solid @sapUiFieldReadOnlyBorderColor;
@_ui5_checkbox_compact_wrapped_label_margin_top: -0.125rem;
@_ui5_checkbox_compact_wrapped_focus_left_top_bottom_position: .625rem;