/* ============================= */
/* Base theme                    */
/* ============================= */

@import "../base/DayPicker.less";

/* ============================= */
/* Global Fiori 3 parameters     */
/* ============================= */

@import "./base.less";
@import "./global.less";

/* ============================= */
/* Fiori 3 theme                 */
/* ============================= */

@_ui5_daypicker_item_background_color: darken(@sapUiListBackground, 3);
@_ui5_daypicker_item_hover_background_color: darken(@sapUiListBackground, 15);
@_ui5_daypicker_item_selected_background_color: @sapUiActive;
@_ui5_daypicker_item_selected_hover_background_color: lighten(@sapUiActive, 3);
@_ui5_daypicker_item_weekend_background_color: darken(@sapUiListBackground, 13);
@_ui5_daypicker_item_weekend_hover_background_color: darken(@sapUiListBackground, 20);

.sapWCDayPickerWeekName,
.sapWCDayPickerDayName,
.sapWCDayPickerItem {
	border-radius: 0.25rem;
}

.sapWCDayPickerItem.sapWCDayPickerItemNow .sapWCDayPickerDayText {
	border-radius: 0.125rem;
}