@import "../base/DayPicker-parameters.css";

:root {
	--_ui5_daypicker_item_background_color: var(--sapUiListBackgroundDarken3); /* darken(@sapUiListBackground, 3); */
	--_ui5_daypicker_item_hover_background_color: var(--sapUiListBackgroundDarken15); /* darken(@sapUiListBackground, 15);*/
	--_ui5_daypicker_item_selected_background_color: var(--sapUiActiveLighten3);
	--_ui5_daypicker_item_selected_hover_background_color: var(--sapUiActiveLighten3); /* lighten(@sapUiActive, 3);*/
	--_ui5_daypicker_item_weekend_background_color: var(--sapUiListBackgroundDarken13); /* darken(@sapUiListBackground, 13);*/
	--_ui5_daypicker_item_weekend_hover_background_color: var(--sapUiListBackgroundDarken20); /* darken(@sapUiListBackground, 20);*/
	--_ui5_daypicker_item_othermonth_hover_background_color: var(--sapUiListBackgroundDarken10);
	--_ui5_daypicker_item_border_radius: 0.25rem;
	--_ui5_daypicker_item_now_inner_border_radius: 0.125rem;
}
