/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/Input.less";

/* ============================= */
/* Global Belize parameters      */
/* ============================= */
@import "./base.less";
@import "./global.less";

/* ================================ */
/* CSS for control sap.m/InputBase  */
/* Belize theme                     */
/* ================================ */

@_ui5_input_height: 2.25rem;
@sap_wc_input_disabled_opacity: 0.4;
@_ui5_input_wrapper_border_radius: 0.125rem;
