/* ============================= */
/* Base theme                    */
/* ============================= */
@import "../base/ListItem.less";

/* ============================= */
/* Global Fiori 3 parameters     */
/* ============================= */
@import "./base.less";
@import "./global.less";

/* ======================================= */
/* CSS for control sap.m/StandardListItem  */
/* Fiori 3 theme                           */
/* ======================================= */
.sapMSLI.sapMSLIWithTitleAndDescription {
	height: 5rem;

	.sapMSLITitle {
		font-size: @sapMFontLargeSize;
	}
	.sapMSLIDescription {
		font-size: @sapMFontMediumSize;
	}
}