@import "../base/SliderBase-parameters.css";

:root {
	--_ui5_slider_inner_min_width: 4rem;
	--_ui5_slider_handle_background_focus: var(--sapButton_Background);
	--_ui5_range_slider_handle_background_focus: transparent;
	--_ui5_slider_handle_top: -.875rem;
	--_ui5_range_slider_handle_background: transparent;
	--_ui5_range_slider_handle_active_background: transparent;
	--_ui5_slider_handle_background: var(--sapButton_Background);
	--_ui5_slider_handle_hover_background: var(--sapButton_Hover_Background);
	--_ui5_range_slider_root_hover_handle_bg: transparent;
	--_ui5_range_slider_root_hover_handle_icon_display: none;
	--_ui5_range_slider_root_active_handle_icon_display: none;
	--_ui5_slider_handle_width: 1.875rem;
	--_ui5_slider_handle_height: 1.875rem;
	--_ui5_slider_handle_box_sizing: border-box;
	--_ui5_slider_tickmark_top: -.34375rem;
}
