@import "../base/TabContainer-parameters.css";

:root {
	--_ui5_tc_header_border_bottom: 0.0625rem solid var(--sapObjectHeader_Background);

	/* Header Item */
	--_ui5_tc_headerItemContent_border_bottom: 0.1875rem solid var(--sapSelectedColor);

	--_ui5_tc_overflowItem_default_color: var(--sapNeutralTextColor);
	--_ui5_tc_overflowItem_current_color: CurrentColor;
	--_ui5_tc_content_border_bottom: 0.0625rem solid var(--sapObjectHeader_BorderColor);
	--_ui5_tc_headerItem_text_hover_color: #1a1c1f;
}
