@import "../base/Token-parameters.css";

:root {
	--_ui5_token_background: var(--sapButton_TokenBackground);
	--_ui5_token_border_color: var(--sapButton_Background_Darken24);
	--_ui5_token_border_radius: 0.25rem;
	--_ui5_token_text_color: var(--sapTextColor);
	--_ui5_token_icon_color: var(--sapContent_IconColor);
	--_ui5_token_hover_border_color: var(--sapButton_Hover_BorderColor_Lighten30);
}
