.previewResultHidden::part(preview-location) {
	visibility: hidden;
}

.editor__toolbar {
	display: flex;
	justify-content: space-between;
	height: 3rem;
	align-items: center;
	/* background: var(--playground-toolbar-bg); */
	padding: 0 1rem;
	box-sizing: border-box;
}

.previewResult__actions {
	display: flex;
	padding: 0.125rem 0.5rem;
	align-items: center;
	justify-content: end;
}

.previewResult__share,
.previewResult__download {
	display: inline-flex;
	align-items: center;
	padding: 0.25rem 0.5rem;
	margin: 0;
	vertical-align: middle;
	font-size: 0.625rem;
	border-radius: 0.25rem;
	font-size: 0.813rem;
}

.previewResult__download {
	margin-inline-end: 0.5rem;
}

.previewResult__toggleCodeEditor,
.previewResult__downloadSample {
	display: inline-flex;
	padding: 0.25rem 0.5rem;
	align-items: center;
	font-size: 0.625rem;
}

.previewResult__downloadSample {
	margin-inline-end: 0.25rem;
}
.previewResult__hasShare .previewResult__toggleCodeEditor {
	margin-inline-start: 0.5rem;
	border-radius: 0.25rem;
}

.btn__icon {
	height: 1rem;
	width: 1rem;
	margin-inline-end: 0.5rem;
}

.btn__icon--edit {
	height: 0.75rem;
	width: 0.75rem;
	margin-inline-end: 0.25rem;
}

.copy-status {
	position: relative;
	top: 2rem;
	left: 100%;
	font-size: 0.813rem;
	font-weight: 700;
	font-family: Arial;
	color: var(--ifm-color-primary);
	z-index: 1;
}

.container-standalone playground-file-editor {
	height: 100%;
}

.container-sample {
	display: flex;
	flex-direction: column;
}

.preview-standalone {
	width: 100%;
	height: 100%;
}

.editor-standalone {
	width: 100%;
	height: 100%;
}
