:root {
	--sapBrandColor: var(--sapHC_HighlightBackground);
	--sapHighlightColor: var(--sapBrandColor);
	--sapBaseColor: var(--sapHC_StandardBackground);
	--sapShellColor: var(--sapBackgroundColor);
	--sapBackgroundColor: var(--sapHC_StandardBackground);
	--sapFontFamily: "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontSize: .875rem;
	--sapTextColor: var(--sapHC_StandardForeground);
	--sapLinkColor: var(--sapHC_StandardForeground);
	--sapCompanyLogo: none;
	--sapBackgroundImage: none;
	--sapBackgroundImageOpacity: 1;
	--sapBackgroundImageRepeat: false;
	--sapSelectedColor: var(--sapHC_HighlightAltBackground);
	--sapActiveColor: var(--sapHighlightColor);
	--sapHighlightTextColor: #000;
	--sapTitleColor: var(--sapTextColor);
	--sapNegativeColor: var(--sapHC_NegativeColor);
	--sapCriticalColor: var(--sapHC_CriticalColor);
	--sapPositiveColor: var(--sapHC_PositiveColor);
	--sapInformativeColor: var(--sapHC_InformativeColor);
	--sapNeutralColor: var(--sapHC_NeutralColor);
	--sapNegativeElementColor: var(--sapNegativeColor);
	--sapCriticalElementColor: var(--sapCriticalColor);
	--sapPositiveElementColor: var(--sapPositiveColor);
	--sapInformativeElementColor: var(--sapInformativeColor);
	--sapNeutralElementColor: var(--sapNeutralColor);
	--sapNegativeTextColor: var(--sapNegativeColor);
	--sapCriticalTextColor: var(--sapCriticalColor);
	--sapPositiveTextColor: var(--sapPositiveColor);
	--sapInformativeTextColor: var(--sapInformativeColor);
	--sapNeutralTextColor: var(--sapNeutralColor);
	--sapErrorColor: var(--sapNegativeColor);
	--sapWarningColor: var(--sapCriticalColor);
	--sapSuccessColor: var(--sapPositiveColor);
	--sapInformationColor: var(--sapInformativeColor);
	--sapErrorBackground: var(--sapHC_StandardBackground);
	--sapWarningBackground: var(--sapHC_StandardBackground);
	--sapSuccessBackground: var(--sapHC_StandardBackground);
	--sapInformationBackground: var(--sapHC_StandardBackground);
	--sapNeutralBackground: var(--sapHC_StandardBackground);
	--sapErrorBorderColor: var(--sapErrorColor);
	--sapWarningBorderColor: var(--sapWarningColor);
	--sapSuccessBorderColor: var(--sapSuccessColor);
	--sapInformationBorderColor: var(--sapInformationColor);
	--sapNeutralBorderColor: var(--sapNeutralColor);
	--sapElement_LineHeight: 2.75rem;
	--sapElement_Height: 2.25rem;
	--sapElement_BorderWidth: .0625rem;
	--sapElement_BorderCornerRadius: .25rem;
	--sapElement_Compact_LineHeight: 2rem;
	--sapElement_Compact_Height: 1.625rem;
	--sapElement_Condensed_LineHeight: 1.5rem;
	--sapElement_Condensed_Height: 1.375rem;
	--sapContent_LineHeight: 1.5;
	--sapContent_IconHeight: var(--sapContent_GridSize);
	--sapContent_IconColor: var(--sapHC_StandardForeground);
	--sapContent_ContrastIconColor: var(--sapContent_IconColor);
	--sapContent_NonInteractiveIconColor: var(--sapContent_IconColor);
	--sapContent_MarkerIconColor: var(--sapContent_IconColor);
	--sapContent_MarkerTextColor: var(--sapTextColor);
	--sapContent_Placeholderloading_Background: var(--sapHC_ReducedForeground);
	--sapContent_Placeholderloading_Gradient: linear-gradient(to right, #888 0, #888 35%, #585858 50%, #888 65%, #888 100%);
	--sapContent_ImagePlaceholderBackground: var(--sapBackgroundColor);
	--sapContent_ImagePlaceholderForegroundColor: var(--sapContent_IconColor);
	--sapContent_RatedColor: var(--sapContent_IconColor);
	--sapContent_UnratedColor: var(--sapHC_ReducedAltForeground);
	--sapContent_FocusColor: var(--sapHC_StandardForeground);
	--sapContent_FocusStyle: dotted;
	--sapContent_FocusWidth: .125rem;
	--sapContent_ContrastFocusColor: var(--sapContent_FocusColor);
	--sapContent_ShadowColor: var(--sapHC_StandardForeground);
	--sapContent_ContrastShadowColor: var(--sapContent_ShadowColor);
	--sapContent_Shadow0: 0 0 0 .0625rem #000;
	--sapContent_Shadow1: 0 0 1rem 0 rgba(0, 0, 0, 0.5), 0 0 0 .125rem #000;
	--sapContent_Shadow2: 0 .25rem 2rem 0 rgba(0, 0, 0, 0.6), 0 0 0 .125rem #000;
	--sapContent_Shadow3: 0 .625rem 4rem 0 rgba(0, 0, 0, 0.8), 0 0 0 .125rem #000;
	--sapContent_TextShadow: -0.0625rem 0 #fff, 0 .0625rem #fff, .0625rem 0 #fff, 0 -0.0625rem #fff;
	--sapContent_ContrastTextShadow: none;
	--sapContent_HeaderShadow: inset 0 -0.125rem #000;
	--sapContent_Interaction_Shadow: none;
	--sapContent_Selected_Shadow: none;
	--sapContent_Negative_Shadow: none;
	--sapContent_Critical_Shadow: none;
	--sapContent_Positive_Shadow: none;
	--sapContent_Informative_Shadow: none;
	--sapContent_Neutral_Shadow: none;
	--sapContent_SearchHighlightColor: var(--sapHighlightColor);
	--sapContent_HelpColor: var(--sapHC_EnhancedForeground);
	--sapContent_LabelColor: var(--sapTextColor);
	--sapContent_MonospaceFontFamily: "72Mono", "72Monofull", lucida console, monospace;
	--sapContent_MonospaceBoldFontFamily: "72Mono-Bold", "72Mono-Boldfull", lucida console, monospace;
	--sapContent_IconFontFamily: "SAP-icons";
	--sapContent_DisabledTextColor: var(--sapHC_ReducedForeground);
	--sapContent_DisabledOpacity: .4;
	--sapContent_ContrastTextThreshold: .5;
	--sapContent_ContrastTextColor: var(--sapTextColor);
	--sapContent_ForegroundColor: var(--sapBackgroundColor);
	--sapContent_ForegroundBorderColor: var(--sapHC_StandardForeground);
	--sapContent_ForegroundTextColor: #000;
	--sapContent_BadgeBackground: var(--sapBackgroundColor);
	--sapContent_BadgeTextColor: #000;
	--sapContent_DragAndDropActiveColor: var(--sapContent_HelpColor);
	--sapContent_Selected_TextColor: #000;
	--sapContent_Selected_Background: var(--sapSelectedColor);
	--sapContent_Selected_Hover_Background: var(--sapHighlightColor);
	--sapContent_Selected_ForegroundColor: var(--sapHC_StandardForeground);
	--sapContent_Illustrative_Color1: #212628;
	--sapContent_Illustrative_Color2: #434e56;
	--sapContent_Illustrative_Color3: #62737c;
	--sapContent_Illustrative_Color4: #030303;
	--sapContent_Illustrative_Color5: #9da4aa;
	--sapContent_Illustrative_Color6: #c6cace;
	--sapContent_Illustrative_Color7: #e7e9ea;
	--sapContent_Illustrative_Color8: #fff;
	--sapContent_Illustrative_Color9: #62737c;
	--sapContent_Illustrative_Color10: #d5dadd;
	--sapContent_Illustrative_Color11: #88979e;
	--sapContent_Illustrative_Color12: #88979e;
	--sapContent_Illustrative_Color13: #bec6cb;
	--sapContent_Illustrative_Color14: #8f9ca4;
	--sapContent_Illustrative_Color15: #31393f;
	--sapContent_Illustrative_Color16: #505e65;
	--sapContent_Illustrative_Color17: #505e65;
	--sapContent_Illustrative_Color18: #2d3336;
	--sapContent_Illustrative_Color19: #384144;
	--sapContent_Illustrative_Color20: #444e52;
	--sapFontLightFamily: "72-Light", "72-Lightfull", "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontBoldFamily: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontBlackFamily: "72Black", "72", "72full", Arial, Helvetica, sans-serif;
	--sapFontHeaderFamily: var(--sapFontFamily);
	--sapFontSmallSize: .75rem;
	--sapFontLargeSize: 1rem;
	--sapFontHeader1Size: 3rem;
	--sapFontHeader2Size: 2rem;
	--sapFontHeader3Size: 1.5rem;
	--sapFontHeader4Size: 1.25rem;
	--sapFontHeader5Size: 1rem;
	--sapFontHeader6Size: .875rem;
	--sapLink_Hover_Color: var(--sapLinkColor);
	--sapLink_Active_Color: var(--sapLinkColor);
	--sapLink_Visited_Color: var(--sapLinkColor);
	--sapLink_InvertedColor: var(--sapLinkColor);
	--sapLink_SubtleColor: var(--sapLinkColor);
	--sapShell_Background: var(--sapBackgroundColor);
	--sapShell_BackgroundImage: linear-gradient(to bottom, #fff, #fff);
	--sapShell_BackgroundImageOpacity: 1;
	--sapShell_BackgroundImageRepeat: false;
	--sapShell_BorderColor: var(--sapHC_StandardForeground);
	--sapShell_TextColor: #000;
	--sapShell_InteractiveBackground: var(--sapField_Background);
	--sapShell_InteractiveTextColor: var(--sapShell_TextColor);
	--sapShell_InteractiveBorderColor: var(--sapField_BorderColor);
	--sapShell_GroupTitleTextColor: var(--sapTitleColor);
	--sapShell_GroupTitleTextShadow: -0.0625rem 0 #fff, 0 .0625rem #fff, .0625rem 0 #fff, 0 -0.0625rem #fff;
	--sapShell_Hover_Background: var(--sapHighlightColor);
	--sapShell_Active_Background: var(--sapActiveColor);
	--sapShell_Active_TextColor: #000;
	--sapShell_Selected_Background: var(--sapSelectedColor);
	--sapShell_Selected_TextColor: #000;
	--sapShell_Selected_Hover_Background: var(--sapHighlightColor);
	--sapShell_Favicon: none;
	--sapShell_Navigation_Background: var(--sapShellColor);
	--sapShell_Navigation_Hover_Background: var(--sapShell_Hover_Background);
	--sapShell_Navigation_SelectedColor: var(--sapShell_Navigation_Selected_TextColor);
	--sapShell_Navigation_Selected_TextColor: var(--sapShell_InteractiveTextColor);
	--sapShell_Navigation_TextColor: #000;
	--sapShell_Navigation_Active_TextColor: #000;
	--sapShell_Navigation_Active_Background: var(--sapShell_Active_Background);
	--sapShell_Shadow: 0 .125rem 0 0 #000;
	--sapShell_NegativeColor: var(--sapNegativeColor);
	--sapShell_CriticalColor: var(--sapCriticalColor);
	--sapShell_PositiveColor: var(--sapPositiveColor);
	--sapShell_InformativeColor: var(--sapInformativeColor);
	--sapShell_NeutralColor: var(--sapNeutralColor);
	--sapButton_Background: var(--sapBackgroundColor);
	--sapButton_BorderColor: var(--sapHC_StandardForeground);
	--sapButton_BorderWidth: var(--sapElement_BorderWidth);
	--sapButton_BorderCornerRadius: .375rem;
	--sapButton_TextColor: #000;
	--sapButton_Hover_Background: var(--sapHighlightColor);
	--sapButton_Hover_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Hover_TextColor: #000;
	--sapButton_IconColor: #000;
	--sapButton_Active_Background: var(--sapActiveColor);
	--sapButton_Active_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Active_TextColor: #000;
	--sapButton_Emphasized_Background: var(--sapButton_Background);
	--sapButton_Emphasized_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Emphasized_TextColor: #000;
	--sapButton_Emphasized_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Emphasized_Hover_BorderColor: var(--sapButton_Emphasized_BorderColor);
	--sapButton_Emphasized_Hover_TextColor: #000;
	--sapButton_Emphasized_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Emphasized_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Emphasized_Active_TextColor: #000;
	--sapButton_Emphasized_TextShadow: transparent;
	--sapButton_Emphasized_FontWeight: bold;
	--sapButton_Reject_Background: var(--sapButton_Background);
	--sapButton_Reject_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Reject_TextColor: #000;
	--sapButton_Reject_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Reject_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Reject_Hover_TextColor: #000;
	--sapButton_Reject_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Reject_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Reject_Active_TextColor: #000;
	--sapButton_Reject_Selected_Background: var(--sapSelectedColor);
	--sapButton_Reject_Selected_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Reject_Selected_TextColor: #000;
	--sapButton_Reject_Selected_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Reject_Selected_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Accept_Background: var(--sapButton_Background);
	--sapButton_Accept_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Accept_TextColor: #000;
	--sapButton_Accept_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Accept_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Accept_Hover_TextColor: #000;
	--sapButton_Accept_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Accept_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Accept_Active_TextColor: #000;
	--sapButton_Accept_Selected_Background: var(--sapSelectedColor);
	--sapButton_Accept_Selected_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Accept_Selected_TextColor: #000;
	--sapButton_Accept_Selected_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Accept_Selected_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Lite_Background: var(--sapButton_Background);
	--sapButton_Lite_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Lite_TextColor: var(--sapButton_TextColor);
	--sapButton_Lite_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Lite_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Lite_Hover_TextColor: var(--sapButton_Lite_TextColor);
	--sapButton_Lite_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Lite_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Selected_Background: var(--sapSelectedColor);
	--sapButton_Selected_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Selected_TextColor: #000;
	--sapButton_Selected_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Selected_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Attention_Background: var(--sapButton_Background);
	--sapButton_Attention_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Attention_TextColor: #000;
	--sapButton_Attention_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Attention_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Attention_Hover_TextColor: #000;
	--sapButton_Attention_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Attention_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Attention_Active_TextColor: #000;
	--sapButton_Attention_Selected_Background: var(--sapSelectedColor);
	--sapButton_Attention_Selected_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Attention_Selected_TextColor: #000;
	--sapButton_Attention_Selected_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Attention_Selected_Hover_BorderColor: var(--sapButton_Hover_BorderColor);
	--sapButton_Negative_Background: var(--sapButton_Background);
	--sapButton_Negative_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Negative_TextColor: #000;
	--sapButton_Negative_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Negative_Hover_BorderColor: var(--sapButton_Negative_BorderColor);
	--sapButton_Negative_Hover_TextColor: #000;
	--sapButton_Negative_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Negative_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Negative_Active_TextColor: #000;
	--sapButton_Critical_Background: var(--sapButton_Background);
	--sapButton_Critical_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Critical_TextColor: #000;
	--sapButton_Critical_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Critical_Hover_BorderColor: var(--sapButton_Critical_BorderColor);
	--sapButton_Critical_Hover_TextColor: #000;
	--sapButton_Critical_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Critical_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Critical_Active_TextColor: #000;
	--sapButton_Success_Background: var(--sapButton_Background);
	--sapButton_Success_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Success_TextColor: #000;
	--sapButton_Success_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Success_Hover_BorderColor: var(--sapButton_Success_BorderColor);
	--sapButton_Success_Hover_TextColor: #000;
	--sapButton_Success_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Success_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Success_Active_TextColor: #000;
	--sapButton_Information_Background: var(--sapButton_Background);
	--sapButton_Information_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Information_TextColor: #000;
	--sapButton_Information_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Information_Hover_BorderColor: var(--sapButton_Information_BorderColor);
	--sapButton_Information_Hover_TextColor: #000;
	--sapButton_Information_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Information_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Information_Active_TextColor: #000;
	--sapButton_Neutral_Background: var(--sapButton_Background);
	--sapButton_Neutral_BorderColor: var(--sapButton_BorderColor);
	--sapButton_Neutral_TextColor: #000;
	--sapButton_Neutral_Hover_Background: var(--sapButton_Hover_Background);
	--sapButton_Neutral_Hover_BorderColor: var(--sapButton_Neutral_BorderColor);
	--sapButton_Neutral_Hover_TextColor: #000;
	--sapButton_Neutral_Active_Background: var(--sapButton_Active_Background);
	--sapButton_Neutral_Active_BorderColor: var(--sapButton_Active_BorderColor);
	--sapButton_Neutral_Active_TextColor: #000;
	--sapButton_Track_Selected_Background: var(--sapButton_Selected_Background);
	--sapButton_Track_Selected_TextColor: #000;
	--sapButton_Track_Background: var(--sapButton_Background);
	--sapButton_Track_TextColor: #000;
	--sapButton_TokenBackground: var(--sapButton_Background);
	--sapButton_TokenBorderColor: var(--sapButton_BorderColor);
	--sapField_Background: var(--sapBackgroundColor);
	--sapField_TextColor: var(--sapTextColor);
	--sapField_PlaceholderTextColor: var(--sapHC_ReducedAltForeground);
	--sapField_BorderColor: var(--sapHC_StandardForeground);
	--sapField_HelpBackground: var(--sapField_Background);
	--sapField_BorderWidth: var(--sapElement_BorderWidth);
	--sapField_BorderCornerRadius: 0;
	--sapField_Hover_Background: var(--sapField_Background);
	--sapField_Hover_BorderColor: var(--sapField_BorderColor);
	--sapField_Hover_HelpBackground: var(--sapField_Background);
	--sapField_Active_BorderColor: var(--sapField_BorderColor);
	--sapField_Focus_Background: var(--sapField_Background);
	--sapField_Focus_BorderColor: var(--sapField_BorderColor);
	--sapField_Focus_HelpBackground: var(--sapField_Background);
	--sapField_ReadOnly_Background: var(--sapHC_ReducedBackground);
	--sapField_ReadOnly_BorderColor: var(--sapHC_ReducedAltForeground);
	--sapField_ReadOnly_HelpBackground: var(--sapField_ReadOnly_Background);
	--sapField_RequiredColor: var(--sapTextColor);
	--sapField_InvalidColor: var(--sapField_BorderColor);
	--sapField_InvalidBackground: var(--sapHighlightColor);
	--sapField_InvalidBorderWidth: .125rem;
	--sapField_InvalidBorderStyle: dashed;
	--sapField_WarningColor: var(--sapField_BorderColor);
	--sapField_WarningBackground: var(--sapField_Background);
	--sapField_WarningBorderWidth: .125rem;
	--sapField_WarningBorderStyle: dashed;
	--sapField_SuccessColor: var(--sapField_BorderColor);
	--sapField_SuccessBackground: var(--sapField_Background);
	--sapField_SuccessBorderWidth: .0625rem;
	--sapField_SuccessBorderStyle: solid;
	--sapField_InformationColor: var(--sapField_BorderColor);
	--sapField_InformationBackground: var(--sapField_Background);
	--sapField_InformationBorderWidth: .0625rem;
	--sapField_InformationBorderStyle: dashed;
	--sapGroup_TitleBackground: var(--sapBackgroundColor);
	--sapGroup_TitleBorderColor: var(--sapHC_StandardForeground);
	--sapGroup_TitleTextColor: #000;
	--sapGroup_ContentBackground: var(--sapBackgroundColor);
	--sapGroup_ContentBorderColor: var(--sapHC_StandardForeground);
	--sapGroup_BorderWidth: var(--sapElement_BorderWidth);
	--sapGroup_BorderCornerRadius: 0;
	--sapGroup_FooterBackground: var(--sapBackgroundColor);
	--sapToolbar_Background: var(--sapBackgroundColor);
	--sapToolbar_SeparatorColor: var(--sapHC_StandardForeground);
	--sapList_HeaderBackground: var(--sapBackgroundColor);
	--sapList_HeaderBorderColor: var(--sapHC_StandardForeground);
	--sapList_HeaderTextColor: #000;
	--sapList_BorderColor: var(--sapHC_ReducedAltForeground);
	--sapList_BorderWidth: var(--sapElement_BorderWidth);
	--sapList_TextColor: #000;
	--sapList_Active_TextColor: #000;
	--sapList_Active_Background: var(--sapActiveColor);
	--sapList_SelectionBackgroundColor: var(--sapSelectedColor);
	--sapList_SelectionBorderColor: var(--sapHC_StandardForeground);
	--sapList_Hover_SelectionBackground: var(--sapList_Hover_Background);
	--sapList_Background: var(--sapBackgroundColor);
	--sapList_Hover_Background: var(--sapHighlightColor);
	--sapList_AlternatingBackground: #e6e6e6;
	--sapList_GroupHeaderBackground: var(--sapList_Background);
	--sapList_GroupHeaderBorderColor: var(--sapHC_StandardForeground);
	--sapList_GroupHeaderTextColor: #000;
	--sapList_TableGroupHeaderBackground: var(--sapHC_ReducedBackground);
	--sapList_TableGroupHeaderBorderColor: var(--sapList_GroupHeaderBorderColor);
	--sapList_TableGroupHeaderTextColor: var(--sapList_GroupHeaderTextColor);
	--sapList_FooterBackground: var(--sapList_Background);
	--sapList_FooterTextColor: #000;
	--sapList_TableFooterBorder: var(--sapHC_StandardForeground);
	--sapList_TableFixedBorderColor: var(--sapHC_StandardForeground);
	--sapScrollBar_FaceColor: var(--sapHC_ReducedAltForeground);
	--sapScrollBar_TrackColor: var(--sapBackgroundColor);
	--sapScrollBar_BorderColor: var(--sapScrollBar_FaceColor);
	--sapScrollBar_SymbolColor: var(--sapContent_IconColor);
	--sapScrollBar_Dimension: .75rem;
	--sapScrollBar_Hover_FaceColor: var(--sapHC_StandardForeground);
	--sapPageHeader_Background: var(--sapBaseColor);
	--sapPageHeader_BorderColor: var(--sapHC_StandardForeground);
	--sapPageHeader_TextColor: #000;
	--sapPageFooter_Background: var(--sapBackgroundColor);
	--sapPageFooter_BorderColor: var(--sapPageFooter_Background);
	--sapPageFooter_TextColor: #000;
	--sapInfobar_Background: var(--sapBackgroundColor);
	--sapInfobar_Hover_Background: var(--sapHighlightColor);
	--sapInfobar_Active_Background: var(--sapActiveColor);
	--sapInfobar_NonInteractive_Background: var(--sapHC_ReducedBackground);
	--sapInfobar_TextColor: #000;
	--sapObjectHeader_Background: var(--sapBaseColor);
	--sapObjectHeader_Hover_Background: var(--sapHighlightColor);
	--sapObjectHeader_BorderColor: var(--sapHC_StandardForeground);
	--sapBlockLayer_Background: var(--sapBackgroundColor);
	--sapTile_Background: var(--sapBackgroundColor);
	--sapTile_Hover_Background: var(--sapHighlightColor);
	--sapTile_Active_Background: var(--sapActiveColor);
	--sapTile_BorderColor: var(--sapHC_StandardForeground);
	--sapTile_TitleTextColor: #000;
	--sapTile_TextColor: #000;
	--sapTile_IconColor: #000;
	--sapTile_SeparatorColor: var(--sapTile_BorderColor);
	--sapTile_Interactive_BorderColor: var(--sapTile_BorderColor);
	--sapTile_OverlayBackground: var(--sapBlockLayer_Background);
	--sapTile_OverlayForegroundColor: #000;
	--sapAccentColor1: #5f5800;
	--sapAccentColor2: #5e4101;
	--sapAccentColor3: #973333;
	--sapAccentColor4: #961d7c;
	--sapAccentColor5: #365892;
	--sapAccentColor6: #004ccb;
	--sapAccentColor7: #105b5b;
	--sapAccentColor8: #26340b;
	--sapAccentColor9: #6c32a9;
	--sapAccentColor10: #4a5964;
	--sapAccentBackgroundColor1: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor2: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor3: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor4: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor5: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor6: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor7: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor8: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor9: var(--sapHC_StandardBackground);
	--sapAccentBackgroundColor10: var(--sapHC_StandardBackground);
	--sapIndicationColor_1: #780000;
	--sapIndicationColor_1_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_1_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_1_TextColor: #000;
	--sapIndicationColor_2: #ab0000;
	--sapIndicationColor_2_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_2_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_2_TextColor: #000;
	--sapIndicationColor_3: #5c5c00;
	--sapIndicationColor_3_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_3_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_3_TextColor: #000;
	--sapIndicationColor_4: #006362;
	--sapIndicationColor_4_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_4_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_4_TextColor: #000;
	--sapIndicationColor_5: #004ccb;
	--sapIndicationColor_5_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_5_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_5_TextColor: #000;
	--sapIndicationColor_6: #105b5b;
	--sapIndicationColor_6_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_6_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_6_TextColor: #000;
	--sapIndicationColor_7: #6c32a9;
	--sapIndicationColor_7_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_7_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_7_TextColor: #000;
	--sapIndicationColor_8: #961d7c;
	--sapIndicationColor_8_Hover_Background: var(--sapButton_Hover_Background);
	--sapIndicationColor_8_Active_Background: var(--sapButton_Active_Background);
	--sapIndicationColor_8_TextColor: #000;
	--sapLegend_WorkingBackground: #d9d9d9;
	--sapLegend_NonWorkingBackground: var(--sapHC_ReducedBackground);
	--sapLegend_CurrentDateTime: var(--sapAccentColor4);
	--sapLegendColor1: #5f5800;
	--sapLegendColor2: #5e4101;
	--sapLegendColor3: #973333;
	--sapLegendColor4: #463000;
	--sapLegendColor5: #961d7c;
	--sapLegendColor6: #004ccb;
	--sapLegendColor7: #105b5b;
	--sapLegendColor8: #26340b;
	--sapLegendColor9: #4a5964;
	--sapLegendColor10: #6c3d62;
	--sapLegendColor11: #383513;
	--sapLegendColor12: #734f00;
	--sapLegendColor13: #723e3e;
	--sapLegendColor14: #5f5642;
	--sapLegendColor15: #60535d;
	--sapLegendColor16: #465878;
	--sapLegendColor17: #435b5b;
	--sapLegendColor18: #4e5a36;
	--sapLegendColor19: #4e5869;
	--sapLegendColor20: #001b49;
	--sapLegendBackgroundColor1: var(--sapList_Background);
	--sapLegendBackgroundColor2: var(--sapList_Background);
	--sapLegendBackgroundColor3: var(--sapList_Background);
	--sapLegendBackgroundColor4: var(--sapList_Background);
	--sapLegendBackgroundColor5: var(--sapList_Background);
	--sapLegendBackgroundColor6: var(--sapList_Background);
	--sapLegendBackgroundColor7: var(--sapList_Background);
	--sapLegendBackgroundColor8: var(--sapList_Background);
	--sapLegendBackgroundColor9: var(--sapList_Background);
	--sapLegendBackgroundColor10: var(--sapList_Background);
	--sapLegendBackgroundColor11: var(--sapList_Background);
	--sapLegendBackgroundColor12: var(--sapList_Background);
	--sapLegendBackgroundColor13: var(--sapList_Background);
	--sapLegendBackgroundColor14: var(--sapList_Background);
	--sapLegendBackgroundColor15: var(--sapList_Background);
	--sapLegendBackgroundColor16: var(--sapList_Background);
	--sapLegendBackgroundColor17: var(--sapList_Background);
	--sapLegendBackgroundColor18: var(--sapList_Background);
	--sapLegendBackgroundColor19: var(--sapList_Background);
	--sapLegendBackgroundColor20: var(--sapList_Background);
	--sapChart_OrderedColor_1: #286ac3;
	--sapChart_OrderedColor_2: #d74114;
	--sapChart_OrderedColor_3: #057d47;
	--sapChart_OrderedColor_4: #e11e48;
	--sapChart_OrderedColor_5: #642eb2;
	--sapChart_OrderedColor_6: #03778c;
	--sapChart_OrderedColor_7: #232deb;
	--sapChart_OrderedColor_8: #9b136f;
	--sapChart_OrderedColor_9: #395563;
	--sapChart_OrderedColor_10: #e02e2e;
	--sapChart_OrderedColor_11: #0d3367;
	--sapChart_Bad: var(--sapHC_NegativeColor);
	--sapChart_Critical: var(--sapHC_CriticalColor);
	--sapChart_Good: var(--sapHC_PositiveColor);
	--sapChart_Neutral: var(--sapHC_NeutralColor);
	--sapChart_Sequence_1: var(--sapChart_OrderedColor_1);
	--sapChart_Sequence_2: var(--sapChart_OrderedColor_2);
	--sapChart_Sequence_3: var(--sapChart_OrderedColor_3);
	--sapChart_Sequence_4: var(--sapChart_OrderedColor_4);
	--sapChart_Sequence_5: var(--sapChart_OrderedColor_5);
	--sapChart_Sequence_6: var(--sapChart_OrderedColor_6);
	--sapChart_Sequence_7: var(--sapChart_OrderedColor_7);
	--sapChart_Sequence_8: var(--sapChart_OrderedColor_8);
	--sapChart_Sequence_9: var(--sapChart_OrderedColor_9);
	--sapChart_Sequence_10: var(--sapChart_OrderedColor_10);
	--sapChart_Sequence_11: var(--sapChart_OrderedColor_11);
	--sapChart_Sequence_Neutral: var(--sapChart_Neutral);
	--sapBackgroundColorDefault: var(--sapBackgroundColor);
	--sapList_HighlightColor: var(--sapHighlightColor);
	--sapButton_Disabled_Background: var(--sapDeprecated_Color);
	--sapButton_Disabled_BorderColor: var(--sapDeprecated_Color);
	--sapButton_Disabled_TextColor: var(--sapDeprecated_Color);
	--sapField_Disabled_Background: var(--sapDeprecated_Color);
	--sapField_Disabled_TextColor: var(--sapDeprecated_Color);
	--sapField_Disabled_BorderColor: var(--sapDeprecated_Color);
	--sapField_Disabled_HelpBackground: var(--sapDeprecated_Color);
	--sapContent_ElementHeight: 1.37em;
	--sapContent_ElementHeight_PX: 22px;
	--sapShell_BackgroundGradient: var(--sapShell_BackgroundImage);
	--sapGroup_Title_FontSize: var(--sapFontSize);
	--sapDeprecated_Color: #0f0;
	--sapDeprecated_Dimension: 500px;
	--sapDefault_Color: #111;
	--sapDefault_Dimension: 111px;
	--sapDefault_Font: "111";
	--sapDefault_FontWeight: bold;
	--sapDefault_Float: 111.111;
	--sapDefault_Boolean: false;
	--sapDefault_BorderStyle: solid;
	--sapDefault_Shadow: none;
	--sapContent_GridSize: 1rem;
	--sapShell_BackgroundPatternColor: var(--sapBackgroundColor);
	--sapHC_StandardBackground: #fff;
	--sapHC_HighlightBackground: #e97624;
	--sapHC_HighlightAltBackground: #5c93ff;
	--sapHC_ReducedBackground: #b3b3b3;
	--sapHC_ReducedAltBackground: #4d4d4d;
	--sapHC_StandardForeground: #000;
	--sapHC_EnhancedForeground: #006800;
	--sapHC_ReducedForeground: #888;
	--sapHC_ReducedAltForeground: #585858;
	--sapHC_NegativeColor: #ab0000;
	--sapHC_CriticalColor: #5c5c00;
	--sapHC_PositiveColor: #006362;
	--sapHC_InformativeColor: #000;
	--sapHC_NeutralColor: #000;
}