@import "global-parameters.less";

:root {



























  --sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;



































  --sapUiHcStandardBackground: @sapHC_StandardBackground;
  --sapUiHcHighlightBackground: @sapHC_HighlightBackground;
  --sapUiHcHighlightAltBackground: @sapHC_HighlightAltBackground;
  --sapUiHcReducedBackground: @sapHC_ReducedBackground;
  --sapUiHcReducedAltBackground: @sapHC_ReducedAltBackground;
  --sapUiHcStandardForeground: @sapHC_StandardForeground;
  --sapUiHcEnhancedForeground: @sapHC_EnhancedForeground;
  --sapUiHcReducedForeground: @sapHC_ReducedForeground;
  --sapUiHcReducedAltForeground: @sapHC_ReducedAltForeground;
  --sapUiHcNegativeColor: @sapHC_NegativeColor;
  --sapUiHcCriticalColor: @sapHC_CriticalColor;
  --sapUiHcPositiveColor: @sapHC_PositiveColor;
  --sapUiHcInformativeColor: @sapHC_InformativeColor;
  --sapUiHcNeutralColor: @sapHC_NeutralColor;












































  --sapUiFontCondensedFamily: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
  --sapUiFontHeaderFamily: @sapFontFamily;
  --sapUiFontHeaderWeight: normal;
  --sapMFontHeader1Size: 1.625rem;
  --sapMFontHeader2Size: 1.375rem;
  --sapMFontHeader3Size: 1.250rem;
  --sapMFontHeader4Size: 1.125rem;
  --sapMFontHeader5Size: 1rem;
  --sapMFontHeader6Size: 0.875rem;
  --sapMFontSmallSize: 0.75rem;
  --sapMFontMediumSize: 0.875rem;
  --sapMFontLargeSize: 1rem;
  --sapUiTranslucentBGOpacity: 100%;
  --sapUiDesktopFontFamily: @sapFontFamily;
  --sapUiDesktopFontSize: 12px;

  --sapUiFontLargeSize: 13px;
  --sapUiFontSmallSize: 11px;
  --sapUiFontHeader1Size: 26px;
  --sapUiFontHeader2Size: 20px;
  --sapUiFontHeader3Size: 18px;
  --sapUiFontHeader4Size: 16px;
  --sapUiFontHeader5Size: 14px;
  --sapUiFontHeader6Size: @sapUiFontLargeSize;
  --sapUiLineHeight: 18px;

  --sapUiShellHoverToggleBackground: @sapSelectedColor;










  --sapUiNotifierSeparator: @sapGroup_ContentBorderColor;
  --sapUiNotifierSeparatorWidth: 1px;
  --sapUiNotificationBarBorder: @sapGroup_ContentBorderColor;

  --sapUiCalloutShadow: @sapUiShadowLevel2;
  --sapUiButtonActiveBackground: @sapActiveColor;
  --sapUiButtonActiveBorderColor: @sapButton_BorderColor;

  --sapUiButtonEmphasizedHoverBorderColor: @sapButton_Hover_BorderColor;

  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonEmphasizedTextShadow: none;
  --sapUiButtonAcceptBorderColor: @sapButton_BorderColor;
  --sapUiButtonAcceptHoverBackground: @sapButton_Hover_Background;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptBorderColor;

  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonRejectBorderColor: @sapButton_BorderColor;
  --sapUiButtonRejectHoverBackground: @sapButton_Hover_Background;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectBorderColor;

  --sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonLiteBackground: @sapButton_Background;
  --sapUiButtonLiteBorderColor: @sapButton_BorderColor;
  --sapUiButtonLiteHoverBackground: @sapButton_Hover_Background;
  --sapUiButtonLiteHoverBorderColor: @sapButton_Hover_BorderColor;

  --sapUiButtonLiteActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonHeaderTextColor: @sapButton_TextColor;
  --sapUiButtonHeaderDisabledTextColor: @sapContent_DisabledTextColor;
  --sapUiButtonFooterHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiButtonActionSelectBackground: @sapList_Background;
  --sapUiButtonActionSelectBorderColor: @sapList_BorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapList_Hover_Background;
  --sapUiToggleButtonPressedBackground: @sapSelectedColor;
  --sapUiToggleButtonPressedBorderColor: @sapButton_BorderColor;
  --sapUiToggleButtonPressedHoverBackground: @sapButton_Hover_Background;
  --sapUiToggleButtonPressedHoverBorderColor: @sapButton_Hover_BorderColor;
  --sapUiSegmentedButtonBackground: @sapButton_Background;
  --sapUiSegmentedButtonBorderColor: @sapButton_BorderColor;
  --sapUiSegmentedButtonHoverBackground: @sapButton_Hover_Background;
  --sapUiSegmentedButtonActiveBackground: @sapUiButtonActiveBackground;
  --sapUiSegmentedButtonSelectedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiSegmentedButtonSelectedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
  --sapUiSegmentedButtonFooterBorderColor: @sapButton_BorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapButton_Hover_Background;
  --sapUiFieldActiveBackground: @sapActiveColor;

  --sapUiFieldActiveTextColor: @sapContent_ContrastTextColor;

  --sapUiListTextColor: @sapTextColor;
  --sapUiListActiveBackground: @sapList_HighlightColor;
  --sapUiListSelectionHoverBackground: @sapList_Hover_Background;

  --sapUiListFooterTextColor: @sapPageFooter_TextColor;
  --sapUiListGroupHeaderBackground: @sapUiHcReducedBackground;

  --sapUiListTableTextSize: 0.875rem;
  --sapUiListTableIconSize: 1rem;


  --sapUiInfobarActiveBackground: @sapUiListActiveBackground;

  --sapUiCalendarColorToday: @sapGroup_ContentBorderColor;
  --sapUiDragAndDropColor: @sapContent_NonInteractiveIconColor;

  --sapUiDragAndDropBorderColor: @sapContent_ForegroundBorderColor;
  --sapUiDragAndDropActiveColor: @sapContent_HelpColor;
  --sapUiDragAndDropActiveBackground: @sapGroup_ContentBackground;
  --sapUiDragAndDropActiveBorderColor: @sapContent_HelpColor;
  --sapUiShadowLevel0: 0 0 0 1px @sapContent_ShadowColor;
  --sapUiShadowText: none;
  --sapUiShadowHeader: inset 0 -0.125rem @sapPageHeader_BorderColor;

  --sapUiContentContrastShadowColorFade50: @sapUiContentContrastShadowColorFade50;
  --sapUiContentContrastShadowColorFade60: @sapUiContentContrastShadowColorFade60;
  --sapUiContentContrastShadowColorFade80: @sapUiContentContrastShadowColorFade80;



  --sapUiShadowLevel1: @sapUiShadowLevel1;
  --sapUiShadowLevel2: @sapUiShadowLevel2;
  --sapUiShadowLevel3: @sapUiShadowLevel3;



  --sapUiListTableFooterBorder: @sapUiListTableFooterBorder;
  --sapUiListTableFixedBorder: @sapUiListTableFixedBorder;
  --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;

  --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
  --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
  --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
  --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
  --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
  --sapUiButtonLiteTextColor: @sapUiButtonLiteTextColor;


}
