@import "base-parameters.less";


@sapUiButtonEmphasizedHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonEmphasizedActiveBorderColor: @sapButton_Active_BorderColor;
@sapUiButtonAcceptBorderColor: @sapButton_BorderColor;
@sapUiButtonAcceptHoverBackground: @sapButton_Hover_Background;
@sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptBorderColor;
@sapUiButtonAcceptActiveBorderColor: @sapButton_Active_BorderColor;
@sapUiButtonRejectBorderColor: @sapButton_BorderColor;
@sapUiButtonRejectHoverBackground: @sapButton_Hover_Background;
@sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectBorderColor;
@sapUiButtonRejectActiveBorderColor: @sapButton_Active_BorderColor;
@sapUiButtonLiteBorderColor: @sapButton_BorderColor;
@sapUiButtonLiteHoverBackground: @sapButton_Hover_Background;
@sapUiButtonLiteHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiButtonLiteActiveBorderColor: @sapButton_Active_BorderColor;
@sapUiButtonActionSelectBackground: @sapList_Background;
@sapUiButtonActionSelectBorderColor: @sapList_BorderColor;
@sapUiButtonLiteActionSelectHoverBackground: @sapList_Hover_Background;


@sapUiToggleButtonPressedBackground: @sapSelectedColor;
@sapUiToggleButtonPressedBorderColor: @sapButton_BorderColor;
@sapUiToggleButtonPressedHoverBackground: @sapButton_Hover_Background;
@sapUiToggleButtonPressedHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiToggleButtonPressedTextColor: contrast(@sapUiToggleButtonPressedBackground, @sapButton_TextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);







@sapUiSegmentedButtonSelectedTextColor: @sapUiToggleButtonPressedTextColor;
@sapUiSegmentedButtonSelectedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
@sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
@sapUiSegmentedButtonFooterBorderColor: @sapButton_BorderColor;
@sapUiSegmentedButtonFooterHoverBackground: @sapButton_Hover_Background;