@import "global-parameters.less";

:root {
  --sapUiButtonEmphasizedActiveBorderColor: @sapButton_BorderColor;
  --sapUiToggleButtonPressedBackground: @sapSelectedColor;
  --sapUiToggleButtonPressedBorderColor: @sapButton_BorderColor;
  --sapUiToggleButtonPressedHoverBackground: @sapButton_Hover_Background;
  --sapUiToggleButtonPressedHoverBorderColor: @sapButton_Hover_BorderColor;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
}