:root {
  --sapUiBrand: @sapBrandColor;
  --sapUiHighlight: @sapHighlightColor;
  --sapUiBaseColor: @sapBaseColor;
  --sapUiShellColor: @sapShellColor;
  --sapUiBaseBG: @sapBackgroundColor;
  --sapUiGlobalBackgroundColor: @sapBackgroundColor;
  --sapUiFontFamily: @sapFontFamily;
  --sapUiFontSize: 16px;
  --sapUiBaseText: @sapTextColor;
  --sapUiLink: @sapLinkColor;
  --sapUiGlobalLogo: @sapCompanyLogo;
  --sapUiGlobalBackgroundImage: @sapBackgroundImage;
  --sapUiBackgroundImage: @sapBackgroundImage;
  --sapUiUx3ShellBackgroundImageURL: @sapBackgroundImage;
  --sapUiGlobalBackgroundImageOpacity: @sapBackgroundImageOpacity;
  --sapUiGlobalBackgroundRepeat: @sapBackgroundImageRepeat;
  --sapUiSelected: @sapSelectedColor;
  --sapUiActive: @sapActiveColor;
  --sapUiHighlightTextColor: @sapHighlightTextColor;
  --sapUiTextTitle: @sapTitleColor;
  --sapUiElementLineHeight: @sapElement_LineHeight;
  --sapUiElementHeight: @sapElement_Height;
  --sapUiElementBorderWidth: @sapElement_BorderWidth;
  --sapUiContentLineHeight: @sapContent_LineHeight;
  --sapUiContentElementHeight: @sapContent_ElementHeight;
  --sapUiContentElementHeightPX: @sapContent_ElementHeight_PX;
  --sapUiContentIconHeight: @sapContent_IconHeight;
  --sapUiContentIconColor: @sapContent_IconColor;
  --sapUiContentContrastIconColor: @sapContent_ContrastIconColor;
  --sapUiContentNonInteractiveIconColor: @sapContent_NonInteractiveIconColor;
  --sapUiContentMarkerIconColor: @sapContent_MarkerIconColor;
  --sapUiContentMarkerTextColor: @sapContent_MarkerTextColor;
  --sapUiContentImagePlaceholderBackground: @sapContent_ImagePlaceholderBackground;
  --sapUiContentImagePlaceholderForegroundColor: @sapContent_ImagePlaceholderForegroundColor;
  --sapUiContentFocusColor: @sapContent_FocusColor;
  --sapUiContentContrastFocusColor: @sapContent_ContrastFocusColor;
  --sapUiContentShadowColor: @sapContent_ShadowColor;
  --sapUiContentContrastShadowColor: @sapContent_ContrastShadowColor;
  --sapUiContentSearchHighlightColor: @sapContent_SearchHighlightColor;
  --sapUiContentHelpColor: @sapContent_HelpColor;
  --sapUiContentLabelColor: @sapContent_LabelColor;
  --sapUiContentDisabledTextColor: @sapContent_DisabledTextColor;
  --sapUiContentDisabledOpacity: @sapContent_DisabledOpacity;
  --sapUiContentContrastTextThreshold: @sapContent_ContrastTextThreshold;
  --sapUiContentContrastTextColor: @sapContent_ContrastTextColor;
  --sapUiContentForegroundColor: @sapContent_ForegroundColor;
  --sapUiContentForegroundBorderColor: @sapContent_ForegroundBorderColor;
  --sapUiContentForegroundTextColor: @sapContent_ForegroundTextColor;
  --sapUiContentBadgeBackground: @sapContent_BadgeBackground;
  --sapUiShellBackground: @sapShell_Background;
  --sapUiShellBackgroundImage: @sapShell_BackgroundImage;
  --sapUiShellBackgroundImageOpacity: @sapShell_BackgroundImageOpacity;
  --sapUiShellBackgroundImageRepeat: @sapShell_BackgroundImageRepeat;
  --sapUiShellBackgroundPatternColor: @sapShell_BackgroundPatternColor;
  --sapUiShellBackgroundGradient: @sapShell_BackgroundGradient;
  --sapUiShellBorderColor: @sapShell_BorderColor;
  --sapUiShellTextColor: @sapShell_TextColor;
  --sapUiShellInteractiveTextColor: @sapShell_InteractiveTextColor;
  --sapUiShellFavicon: @sapShell_Favicon;
  --sapUiButtonBorderWidth: @sapButton_BorderWidth;
  --sapUiButtonBorderCornerRadius: @sapButton_BorderCornerRadius;
  --sapUiButtonBackground: @sapButton_Background;
  --sapUiButtonBorderColor: @sapButton_BorderColor;
  --sapUiButtonTextColor: @sapButton_TextColor;
  --sapUiButtonHoverBackground: @sapButton_Hover_Background;
  --sapUiButtonHoverBorderColor: @sapButton_Hover_BorderColor;
  --sapUiButtonHoverTextColor: @sapButton_Hover_TextColor;
  --sapUiButtonEmphasizedBackground: @sapButton_Emphasized_Background;
  --sapUiButtonEmphasizedBorderColor: @sapButton_Emphasized_BorderColor;
  --sapUiButtonEmphasizedTextColor: @sapButton_Emphasized_TextColor;
  --sapUiButtonRejectBackground: @sapButton_Reject_Background;
  --sapUiButtonAcceptBackground: @sapButton_Accept_Background;
  --sapUiFieldBorderWidth: @sapField_BorderWidth;
  --sapUiFieldBorderCornerRadius: @sapField_BorderCornerRadius;
  --sapUiFieldBackground: @sapField_Background;
  --sapUiFieldBorderColor: @sapField_BorderColor;
  --sapUiFieldTextColor: @sapField_TextColor;
  --sapUiFieldHelpBackground: @sapField_HelpBackground;
  --sapUiFieldHoverBackground: @sapField_Hover_Background;
  --sapUiFieldHoverBorderColor: @sapField_Hover_BorderColor;
  --sapUiFieldHoverHelpBackground: @sapField_Hover_HelpBackground;
  --sapUiFieldFocusBackground: @sapField_Focus_Background;
  --sapUiFieldFocusBorderColor: @sapField_Focus_BorderColor;
  --sapUiFieldFocusHelpBackground: @sapField_Focus_HelpBackground;
  --sapUiFieldReadOnlyBackground: @sapField_ReadOnly_Background;
  --sapUiFieldReadOnlyBorderColor: @sapField_ReadOnly_BorderColor;
  --sapUiFieldReadOnlyHelpBackground: @sapField_ReadOnly_HelpBackground;
  --sapUiFieldRequiredColor: @sapField_RequiredColor;
  --sapUiFieldInvalidColor: @sapField_InvalidColor;
  --sapUiFieldInvalidBackground: @sapField_InvalidBackground;
  --sapUiFieldWarningColor: @sapField_WarningColor;
  --sapUiFieldWarningBackground: @sapField_WarningBackground;
  --sapUiFieldSuccessColor: @sapField_SuccessColor;
  --sapUiFieldSuccessBackground: @sapField_SuccessBackground;
  --sapUiFieldInformationColor: @sapField_InformationColor;
  --sapUiFieldInformationBackground: @sapField_InformationBackground;
  --sapUiGroupTitleBackground: @sapGroup_TitleBackground;
  --sapUiGroupTitleBorderColor: @sapGroup_TitleBorderColor;
  --sapUiGroupTitleTextColor: @sapGroup_TitleTextColor;
  --sapUiGroupContentBackground: @sapGroup_ContentBackground;
  --sapUiGroupContentBorderColor: @sapGroup_ContentBorderColor;
  --sapUiGroupBorderWidth: @sapGroup_BorderWidth;
  --sapUiGroupFooterBackground: @sapGroup_FooterBackground;
  --sapUiToolbarBackground: @sapToolbar_Background;
  --sapUiToolbarSeparatorColor: @sapToolbar_SeparatorColor;
  --sapUiListHeaderBackground: @sapList_HeaderBackground;
  --sapUiListHeaderBorderColor: @sapList_HeaderBorderColor;
  --sapUiListHeaderTextColor: @sapList_HeaderTextColor;
  --sapUiListBorderColor: @sapList_BorderColor;
  --sapUiListBorderWidth: @sapList_BorderWidth;
  --sapUiListHighlightColor: @sapList_HighlightColor;
  --sapUiListSelectionBackgroundColor: @sapList_SelectionBackgroundColor;
  --sapUiListBackground: @sapList_Background;
  --sapUiListHoverBackground: @sapList_Hover_Background;
  --sapUiScrollBarFaceColor: @sapScrollBar_FaceColor;
  --sapUiScrollBarTrackColor: @sapScrollBar_TrackColor;
  --sapUiScrollBarBorderColor: @sapScrollBar_BorderColor;
  --sapUiScrollBarSymbolColor: @sapScrollBar_SymbolColor;
  --sapUiScrollBarDimension: @sapScrollBar_Dimension;
  --sapUiScrollBarHoverFaceColor: @sapScrollBar_Hover_FaceColor;
  --sapUiPageHeaderBackground: @sapPageHeader_Background;
  --sapUiPageHeaderBorderColor: @sapPageHeader_BorderColor;
  --sapUiPageHeaderTextColor: @sapPageHeader_TextColor;
  --sapUiPageFooterBackground: @sapPageFooter_Background;
  --sapUiPageFooterTextColor: @sapPageFooter_TextColor;
  --sapUiInfobarBackground: @sapInfobar_Background;
  --sapUiObjectHeaderBackground: @sapObjectHeader_Background;
  --sapUiBlockLayerBackground: @sapBlockLayer_Background;
  --sapUiTileBackground: @sapTile_Background;
  --sapUiTileBorderColor: @sapTile_BorderColor;
  --sapUiTileTitleTextColor: @sapTile_TitleTextColor;
  --sapUiTileTextColor: @sapTile_TextColor;
  --sapUiTileIconColor: @sapTile_IconColor;
  --sapUiContentGridSize: @sapContent_GridSize;
  --sapUiHcStandardBackground: @sapHC_StandardBackground;
  --sapUiHcHighlightBackground: @sapHC_HighlightBackground;
  --sapUiHcHighlightAltBackground: @sapHC_HighlightAltBackground;
  --sapUiHcReducedBackground: @sapHC_ReducedBackground;
  --sapUiHcReducedAltBackground: @sapHC_ReducedAltBackground;
  --sapUiHcStandardForeground: @sapHC_StandardForeground;
  --sapUiHcEnhancedForeground: @sapHC_EnhancedForeground;
  --sapUiHcReducedForeground: @sapHC_ReducedForeground;
  --sapUiHcReducedAltForeground: @sapHC_ReducedAltForeground;
  --sapUiHcNegativeColor: @sapHC_NegativeColor;
  --sapUiHcCriticalColor: @sapHC_CriticalColor;
  --sapUiHcPositiveColor: @sapHC_PositiveColor;
  --sapUiHcInformativeColor: @sapHC_InformativeColor;
  --sapUiHcNeutralColor: @sapHC_NeutralColor;
  --sapUiAccent1: @sapAccentColor1;
  --sapUiAccent2: @sapAccentColor2;
  --sapUiAccent3: @sapAccentColor3;
  --sapUiAccent4: @sapAccentColor4;
  --sapUiAccent5: @sapAccentColor5;
  --sapUiAccent6: @sapAccentColor6;
  --sapUiAccent7: @sapAccentColor7;
  --sapUiAccent8: @sapAccentColor8;
  --sapUiAccent9: @sapAccentColor9;
  --sapUiAccent10: @sapAccentColor10;

  --sapUiErrorBG: @sapErrorBackground;
  --sapUiWarningBG: @sapWarningBackground;
  --sapUiSuccessBG: @sapSuccessBackground;
  --sapUiInformationBG: @sapInformationBackground;
  --sapUiNeutralBG: @sapNeutralBackground;

  --sapUiErrorBorder: @sapErrorBorderColor;
  --sapUiWarningBorder: @sapWarningBorderColor;
  --sapUiSuccessBorder: @sapSuccessBorderColor;
  --sapUiInformationBorder: @sapInformationBorderColor;
  --sapUiNeutralBorder: @sapNeutralColor;

  --sapUiNegativeElement: @sapNegativeElementColor;
  --sapUiCriticalElement: @sapCriticalElementColor;
  --sapUiPositiveElement: @sapPositiveElementColor;
  --sapUiInformativeElement: @sapInformativeElementColor;
  --sapUiNeutralElement: @sapNeutralElementColor;

  --sapUiNegativeText: @sapNegativeTextColor;
  --sapUiCriticalText: @sapCriticalTextColor;
  --sapUiPositiveText: @sapPositiveTextColor;
  --sapUiInformativeText: @sapInformativeTextColor;
  --sapUiNeutralText: @sapNeutralTextColor;
  --sapUiNegative: @sapNegativeColor;
  --sapUiCritical: @sapCriticalColor;
  --sapUiPositive: @sapPositiveColor;
  --sapUiInformative: @sapInformativeColor;
  --sapUiNeutral: @sapNeutralColor;
  --sapUiIndication1: @sapIndicationColor_1;
  --sapUiIndication2: @sapIndicationColor_2;
  --sapUiIndication3: @sapIndicationColor_3;
  --sapUiIndication4: @sapIndicationColor_4;
  --sapUiIndication5: @sapIndicationColor_5;
  --sapUiFontCondensedFamily: 'Arial Narrow', HelveticaNeue-CondensedBold, Arial, sans-serif;
  --sapUiFontHeaderFamily: @sapUiFontFamily;
  --sapUiFontHeaderWeight: normal;
  --sapMFontHeader1Size: 1.625rem;
  --sapMFontHeader2Size: 1.375rem;
  --sapMFontHeader3Size: 1.250rem;
  --sapMFontHeader4Size: 1.125rem;
  --sapMFontHeader5Size: 1rem;
  --sapMFontHeader6Size: 0.875rem;
  --sapMFontSmallSize: 0.75rem;
  --sapMFontMediumSize: 0.875rem;
  --sapMFontLargeSize: 1rem;
  --sapUiTranslucentBGOpacity: 100%;
  --sapUiDesktopFontFamily: @sapUiFontFamily;
  --sapUiDesktopFontSize: 12px;

  --sapUiFontLargeSize: 13px;
  --sapUiFontSmallSize: 11px;
  --sapUiFontHeader1Size: 26px;
  --sapUiFontHeader2Size: 20px;
  --sapUiFontHeader3Size: 18px;
  --sapUiFontHeader4Size: 16px;
  --sapUiFontHeader5Size: 14px;
  --sapUiFontHeader6Size: @sapUiFontLargeSize;
  --sapUiLineHeight: 18px;

  --sapUiShellHoverBackground: @sapUiBrand;
  --sapUiShellActiveBackground: @sapUiBrand;
  --sapUiShellActiveTextColor: @sapUiBaseText;
  --sapUiShellHoverToggleBackground: @sapUiSelected;
  --sapUiShellContainerBackground: @sapUiShellBackground;
  --sapUiShellAltContainerBackground: @sapUiShellBackground;
  --sapUiShellGroupTextColor: @sapUiShellTextColor;

  --sapUiLinkActive: @sapUiLink;
  --sapUiLinkVisited: @sapUiLink;
  --sapUiLinkHover: @sapUiLink;
  --sapUiLinkInverted: @sapUiLink;

  --sapUiNotificationBarBG: @sapUiGroupContentBackground;
  --sapUiNotifierSeparator: @sapUiGroupContentBorderColor;
  --sapUiNotifierSeparatorWidth: 1px;
  --sapUiNotificationBarBorder: @sapUiGroupContentBorderColor;

  --sapUiCalloutShadow: @sapUiShadowLevel2;
  --sapUiButtonActiveBackground: @sapUiActive;
  --sapUiButtonActiveBorderColor: @sapUiButtonBorderColor;
  --sapUiButtonEmphasizedHoverBackground: @sapUiButtonHoverBackground;
  --sapUiButtonEmphasizedHoverBorderColor: @sapUiButtonHoverBorderColor;
  --sapUiButtonEmphasizedActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonEmphasizedActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonEmphasizedTextShadow: none;
  --sapUiButtonAcceptBorderColor: @sapUiButtonBorderColor;
  --sapUiButtonAcceptHoverBackground: @sapUiButtonHoverBackground;
  --sapUiButtonAcceptHoverBorderColor: @sapUiButtonAcceptBorderColor;
  --sapUiButtonAcceptActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonAcceptActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonRejectBorderColor: @sapUiButtonBorderColor;
  --sapUiButtonRejectHoverBackground: @sapUiButtonHoverBackground;
  --sapUiButtonRejectHoverBorderColor: @sapUiButtonRejectBorderColor;
  --sapUiButtonRejectActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonRejectActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonLiteBackground: @sapUiButtonBackground;
  --sapUiButtonLiteBorderColor: @sapUiButtonBorderColor;
  --sapUiButtonLiteHoverBackground: @sapUiButtonHoverBackground;
  --sapUiButtonLiteHoverBorderColor: @sapUiButtonHoverBorderColor;
  --sapUiButtonLiteActiveBackground: @sapUiButtonActiveBackground;
  --sapUiButtonLiteActiveBorderColor: @sapUiButtonActiveBorderColor;
  --sapUiButtonHeaderTextColor: @sapUiButtonTextColor;
  --sapUiButtonHeaderDisabledTextColor: @sapUiContentDisabledTextColor;
  --sapUiButtonFooterHoverBackground: @sapUiButtonLiteHoverBackground;
  --sapUiButtonActionSelectBackground: @sapUiListBackground;
  --sapUiButtonActionSelectBorderColor: @sapUiListBorderColor;
  --sapUiButtonLiteActionSelectHoverBackground: @sapUiListHoverBackground;
  --sapUiToggleButtonPressedBackground: @sapUiSelected;
  --sapUiToggleButtonPressedBorderColor: @sapUiButtonBorderColor;
  --sapUiToggleButtonPressedHoverBackground: @sapUiButtonHoverBackground;
  --sapUiToggleButtonPressedHoverBorderColor: @sapUiButtonHoverBorderColor;
  --sapUiSegmentedButtonBackground: @sapUiButtonBackground;
  --sapUiSegmentedButtonBorderColor: @sapUiButtonBorderColor;
  --sapUiSegmentedButtonHoverBackground: @sapUiButtonHoverBackground;
  --sapUiSegmentedButtonActiveBackground: @sapUiButtonActiveBackground;
  --sapUiSegmentedButtonSelectedBackground: @sapUiToggleButtonPressedBackground;
  --sapUiSegmentedButtonSelectedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiSegmentedButtonSelectedHoverBackground: @sapUiToggleButtonPressedHoverBackground;
  --sapUiSegmentedButtonSelectedHoverBorderColor: @sapUiToggleButtonPressedHoverBorderColor;
  --sapUiSegmentedButtonFooterBorderColor: @sapUiButtonBorderColor;
  --sapUiSegmentedButtonFooterHoverBackground: @sapUiButtonHoverBackground;
  --sapUiFieldActiveBackground: @sapUiActive;
  --sapUiFieldActiveBorderColor: @sapUiFieldBorderColor;
  --sapUiFieldActiveTextColor: @sapUiContentContrastTextColor;
  --sapUiFieldPlaceholderTextColor: @sapUiHcReducedAltForeground;
  --sapUiListTextColor: @sapUiBaseText;
  --sapUiListActiveBackground: @sapUiListHighlightColor;
  --sapUiListSelectionHoverBackground: @sapUiListHoverBackground;
  --sapUiListFooterBackground: @sapUiListBackground;
  --sapUiListFooterTextColor: @sapUiPageFooterTextColor;
  --sapUiListGroupHeaderBackground: @sapUiHcReducedBackground;
  --sapUiListTableGroupHeaderBackground: @sapUiListBackground;
  --sapUiListTableTextSize: 0.875rem;
  --sapUiListTableIconSize: 1rem;
  --sapUiPageFooterBorderColor: @sapUiGroupContentBorderColor;
  --sapUiInfobarHoverBackground: @sapUiListHoverBackground;
  --sapUiInfobarActiveBackground: @sapUiListActiveBackground;
  --sapUiObjectHeaderBorderColor: @sapUiPageHeaderBorderColor;
  --sapUiCalendarColorToday: @sapUiGroupContentBorderColor;
  --sapUiDragAndDropColor: @sapUiContentNonInteractiveIconColor;
  --sapUiDragAndDropBackground: @sapUiGroupContentBackground;
  --sapUiDragAndDropBorderColor: @sapUiContentForegroundBorderColor;
  --sapUiDragAndDropActiveColor: @sapUiContentHelpColor;
  --sapUiDragAndDropActiveBackground: @sapUiGroupContentBackground;
  --sapUiDragAndDropActiveBorderColor: @sapUiContentHelpColor;
  --sapUiShadowLevel0: 0 0 0 1px @sapUiContentShadowColor;
  --sapUiShadowText: none;
  --sapUiShadowHeader: inset 0 -0.125rem @sapUiObjectHeaderBorderColor;

  --sapUiContentContrastShadowColorFade50: @sapUiContentContrastShadowColorFade50;
  --sapUiContentContrastShadowColorFade60: @sapUiContentContrastShadowColorFade60;
  --sapUiContentContrastShadowColorFade80: @sapUiContentContrastShadowColorFade80;



  --sapUiShadowLevel1: @sapUiShadowLevel1;
  --sapUiShadowLevel2: @sapUiShadowLevel2;
  --sapUiShadowLevel3: @sapUiShadowLevel3;

  --sapUiListTableGroupHeaderBorderColor: @sapUiListTableGroupHeaderBorderColor;
  --sapUiListTableGroupHeaderTextColor: @sapUiListTableGroupHeaderTextColor;
  --sapUiListTableFooterBorder: @sapUiListTableFooterBorder;
  --sapUiListTableFixedBorder: @sapUiListTableFixedBorder;
  --sapUiListVerticalBorderColor: @sapUiListVerticalBorderColor;
  --sapUiListActiveTextColor: @sapUiListActiveTextColor;
  --sapUiSegmentedButtonIconColor: @sapUiSegmentedButtonIconColor;
  --sapUiSegmentedButtonActiveIconColor: @sapUiSegmentedButtonActiveIconColor;
  --sapUiSegmentedButtonSelectedIconColor: @sapUiSegmentedButtonSelectedIconColor;
  --sapUiSegmentedButtonTextColor: @sapUiSegmentedButtonTextColor;
  --sapUiSegmentedButtonActiveTextColor: @sapUiSegmentedButtonActiveTextColor;
  --sapUiToggleButtonPressedTextColor: @sapUiToggleButtonPressedTextColor;
  --sapUiButtonFooterTextColor: @sapUiButtonFooterTextColor;
  --sapUiButtonLiteTextColor: @sapUiButtonLiteTextColor;
  --sapUiButtonRejectTextColor: @sapUiButtonRejectTextColor;
  --sapUiButtonAcceptTextColor: @sapUiButtonAcceptTextColor;
  --sapUiButtonActiveTextColor: @sapUiButtonActiveTextColor;
  --sapUiButtonIconColor: @sapUiButtonIconColor;
}
