@import "base-parameters.less";

@sapUiButtonEmphasizedActiveBorderColor: @sapButton_Active_BorderColor;
@sapUiToggleButtonPressedBackground: @sapSelectedColor;
@sapUiToggleButtonPressedBorderColor: @sapButton_BorderColor;
@sapUiToggleButtonPressedHoverBackground: @sapButton_Hover_Background;
@sapUiToggleButtonPressedHoverBorderColor: @sapButton_Hover_BorderColor;
@sapUiToggleButtonPressedTextColor: contrast(@sapSelectedColor, @sapButton_TextColor, @sapContent_ContrastTextColor, @sapContent_ContrastTextThreshold);