name: Latest Playground

on:
  push:
    branches: [ latest-release-website ]
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'

    - name: Install and Build
      run: |
        yarn install
        yarn build
        yarn build:playground_as_admin
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4.3.3
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: packages/playground/dist # The folder the action should deploy.
        target-folder: master
        clean: true