name: CI - lint

on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4.1.0
      with:
        node-version: 22
        cache: 'yarn'

    - name: Install Dependencies
      run: yarn --frozen-lockfile

    - name: Lint
      run: yarn ci:lint
