name: Release

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Release Type: patch | minor | major'     
        required: true
        default: 'patch'
      tag:
        description: 'Tag'     
        required: true
        default: latest

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'

    - name: Install
      run: yarn --frozen-lockfile

    - name: Build
      run: yarn build

    - name: Publish
      env:
        NPM_USERNAME: ${{ secrets.NPM_USER }}
        NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
        NPM_AUTH_TOKEN: ${{ secrets.NPM_RELEASE_AUTH_TOKEN }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_NAME: ${{ secrets.UI5_WEBCOMP_BOT_NAME }}
        GH_EMAIL: ${{ secrets.UI5_WEBCOMP_BOT_EMAIL }}
      run: |
        npm config set //registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
        git config user.name "${{ GH_NAME }}"
        git config user.email "${{ GH_EMAIL }}@users.noreply.github.com"
        yarn lerna version ${{ github.event.inputs.release_type }} --conventional-commits --yes --create-release github 
        yarn lerna publish from-git --yes
