name: CI

on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        suite: ['base', 'main:suite-1', 'main:suite-2', 'fiori']
    steps:
    - uses: actions/checkout@v3

    - name: Cache turbo build setup
      uses: actions/cache@v3
      with:
        path: .turbo
        key: ${{ runner.os }}-turbo-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-turbo-

    - uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'yarn'

    - name: Install Dependencies
      run: yarn --frozen-lockfile

    - name: Build
      run: yarn build --cache-dir=.turbo

    - name: Test
      run: yarn test:${{ matrix.suite }}
